<!-- Explication -->
<h4>Explication</h4>
<% if f.explanation.size == 0 %>
  <p style="color:orange;"><b>Pas d'explication</b></p>
<% else %>
  <%= raw(htmlise(f.explanation)) %>
  <br/>
<% end %>
<br/>

<!-- Modifier / Supprimer -->
<div class="noprint">
<center>
  <% if f.online %>
    <%= link_to "Modifier cet exercice", edit_question_path(f), data: { confirm: "Attention, cet exercice étant visible des utilisateurs, tâchez de ne pas faire de modifications majeures." } %> |
    <% if f.is_qcm %>
      <%= link_to "Modifier les réponses", question_manage_items_path(f), data: { confirm: "Attention, cet exercice étant visible des utilisateurs, tâchez de ne pas faire de modifications majeures." } %> |
    <% end %>
    <%= link_to "Modifier l'explication", question_explanation_path(f) %>
  <% else %>
    <%= link_to "Modifier cet exercice", edit_question_path(f) %> |
    <% if f.is_qcm %>
      <%= link_to "Modifier les réponses", question_manage_items_path(f) %> |
    <% end %>
    <%= link_to "Modifier l'explication", question_explanation_path(f) %> |
    <%= link_to "Supprimer cet exercice", f, method: :delete, data: { confirm: "Êtes-vous sûr de vouloir supprimer cet exercice ?" } %>
  <% end %>
<br/><br/>
  
<!-- Déplacer -->
<% if number2 > 1 %>
  <% up = true %>
<% else %>
  <% up = false %>
<% end %>

<% if number2 < number_tot %>
  <% down = true %>
<% else %>
  <% down = false %>
<% end %>

<% if (up || down) %>
  Déplacer cet exercice vers le
  <% if up %>
    <%= link_to "haut", question_order_minus_path(f), :method => :put %>
  <% end %>
  <% if up && down %>
    |
  <% end %>
  <% if down %>
    <%= link_to "bas", question_order_plus_path(f), :method => :put %>
  <% end %>
<br/><br/>
<% end %>

<!-- Mettre en ligne -->
<% if !f.online && @chapter.online %>
  <%= button_to "Mettre en ligne", question_put_online_path(f), method: :put, class: 'btn btn-default btn-grey', data: { confirm: "Vous ne pourrez plus modifier la réponse de cet exercice par la suite. Êtes-vous sûr de vouloir le mettre en ligne ?" } %>
  <br/>
<% end %>
</center>
</div>
