<!-- Modifier / Supprimer -->
<div class="noprint">
<p class="text-center">
  <% warning = (question.online ? { confirm: "Attention, cet exercice étant visible des utilisateurs, tâchez de ne pas faire de modifications majeures." } : {}) %>
  <%= link_to "Modifier cet exercice", edit_question_path(question), data: warning %>
  <% if question.is_qcm %>
    | <%= link_to "Modifier les réponses", manage_items_question_path(question), data: warning %>
  <% end %>
  | <%= link_to "Modifier l'explication", edit_explanation_question_path(question) %>
  <% unless question.online %>
    | <%= link_to "Supprimer cet exercice", question, method: :delete, data: { confirm: "Êtes-vous #{current_user.sure} de vouloir supprimer cet exercice ?" } %>
  <% end %>
</p>
  
<!-- Déplacer -->
<% question_before = @chapter.questions.where("position < ?", question.position).order("position").last %>
<% question_after = @chapter.questions.where("position > ?", question.position).order("position").first %>

<% if (!question_before.nil? || !question_after.nil?) %>
  <p class="text-center">
    Déplacer cet exercice vers le
    <%= link_to "haut", order_question_path(question, :new_position => question_before.position), :method => :put if !question_before.nil? %>
    <%= '-' if !question_before.nil? && !question_after.nil? %>
    <%= link_to "bas", order_question_path(question, :new_position => question_after.position), :method => :put if !question_after.nil? %>
  </p>
<% end %>

<!-- Mettre en ligne -->
<% if !question.online && @chapter.online %>
  <p class="text-center">
    <%= link_to "Mettre en ligne", put_online_question_path(question), method: :put, class: 'btn btn-danger', data: { confirm: "Vous ne pourrez plus modifier la réponse de cet exercice par la suite. Êtes-vous #{current_user.sure} de vouloir le mettre en ligne ?" } %>
  </p>
<% end %>
</div>
