<!-- Explication -->
<h4 class="mt-4">Explication</h4>
<% if question.explanation.size == 0 %>
  <span class="text-color-orange fw-bold">Pas d'explication</span>
<% else %>
  <%= raw(htmlise(question.explanation)) %>
<% end %>

<!-- Modifier / Supprimer -->
<div class="noprint">
<p class="mt-4 text-center">
  <% if question.online %>
    <%= link_to "Modifier cet exercice", edit_question_path(question), data: { confirm: "Attention, cet exercice étant visible des utilisateurs, tâchez de ne pas faire de modifications majeures." } %> |
    <% if question.is_qcm %>
      <%= link_to "Modifier les réponses", question_manage_items_path(question), data: { confirm: "Attention, cet exercice étant visible des utilisateurs, tâchez de ne pas faire de modifications majeures." } %> |
    <% end %>
    <%= link_to "Modifier l'explication", question_explanation_path(question) %>
  <% else %>
    <%= link_to "Modifier cet exercice", edit_question_path(question) %> |
    <% if question.is_qcm %>
      <%= link_to "Modifier les réponses", question_manage_items_path(question) %> |
    <% end %>
    <%= link_to "Modifier l'explication", question_explanation_path(question) %> |
    <%= link_to "Supprimer cet exercice", question, method: :delete, data: { confirm: "Êtes-vous sûr de vouloir supprimer cet exercice ?" } %>
  <% end %>
</p>
  
<!-- Déplacer -->
<% if number2 > 1 %>
  <% up = true %>
<% else %>
  <% up = false %>
<% end %>

<% if number2 < number_tot %>
  <% down = true %>
<% else %>
  <% down = false %>
<% end %>

<% if (up || down) %>
<p class="text-center">
  Déplacer cet exercice vers le
  <% if up %>
    <%= link_to "haut", question_order_minus_path(question), :method => :put %>
  <% end %>
  <% if up && down %>
    |
  <% end %>
  <% if down %>
    <%= link_to "bas", question_order_plus_path(question), :method => :put %>
  <% end %>
</p>
<% end %>

<!-- Mettre en ligne -->
<center>
<% if !question.online && @chapter.online %>
  <%= button_to "Mettre en ligne", question_put_online_path(question), method: :put, class: 'btn btn-ld-light-dark', data: { confirm: "Vous ne pourrez plus modifier la réponse de cet exercice par la suite. Êtes-vous sûr de vouloir le mettre en ligne ?" } %>
<% end %>
</center>
</div>
