<% if !f.is_qcm %>
  <!-- pas QCM -->
  <% if f.decimal %>
    <% vraidecimal = true %>
    <% if f.answer - f.answer.to_i <= 0.00001 && f.answer.to_i - f.answer <= 0.00001 %>
      <% vraidecimal = false %>
    <% end %>
    <span style="font-size:16px;"><%= f.answer if vraidecimal %><%= f.answer.to_i if !vraidecimal %></span> (On demande une réponse <b>décimale</b> au millième près)
  <% else %>
    <span style="font-size:16px;"><%= f.answer.to_i %></span> (On demande une réponse <b>entière</b>)
  <% end %>
<% else %>
  <!-- QCM -->
  <ul>
    <% f.items.order(:position).each do |c| %>
      <li style="padding:5px;">
      <%= raw(c.ans) %>

      <% if c.ok %>
        <%= image_tag "V.gif", :style => "margin-left:10px;" %>
      <% end %>
      <% if !c.ok && f.many_answers %>
        <%= image_tag "X.gif", :style => "margin-left:10px;" %>
      <% end %>
      </li>
    <% end %>
  </ul>

  <% if f.many_answers %>
    (Éventuellement plusieurs propositions correctes)
  <% else %>
    (Une seule proposition correcte)
  <% end %>
<% end %>
