<% if !question.is_qcm %>
  <!-- pas QCM -->
  <p>
  <% if question.decimal %>
    <% real_decimal = (question.answer - question.answer.round).abs > 0.00001 %>
    <span style="font-size:16px;"><%= real_decimal ? question.answer : question.answer.to_i %></span>
    <% if !question.online? %>
      (On attend un nombre <b>réel</b>, arrondi si nécessaire au millième près)
    <% end %>
  <% else %>
    <span style="font-size:16px;"><%= question.answer.to_i %></span>
    <% if !question.online? %>
      (On attend un nombre <b>entier</b>)
    <% end %>
  <% end %>
  </p>
<% else %>
  <!-- QCM -->
  <ul>
    <% question.items.order(:position).each do |c| %>
      <li class="p-1">
      <%= htmlise(c.ans) %>
      <% if c.ok %>
        <%= image_tag v_icon, :class => "ms-2 svg-black-white", :id => "v-#{c.id}" %>
      <% end %>
      <% if !c.ok && question.many_answers %>
        <%= image_tag x_icon, :class => "ms-2 svg-black-white", :id => "x-#{c.id}" %>
      <% end %>
      </li>
    <% end %>
  </ul>

  <% if !question.online? %>
    <% if question.many_answers %>
      <p>(Éventuellement plusieurs propositions correctes)</p>
    <% else %>
      <p>(Une seule proposition correcte)</p>
    <% end %>
  <% end %>
<% end %>
