<%= render 'shared/error_messages', object: f.object %>

<!-- Enoncé -->
<div class="mb-2">
  <%= f.label "Énoncé", :for => "MathInput", :class => "form-label" %>
  <%= render 'shared/preview' %>
  <%= render 'shared/font' %>
  <%= f.text_area :statement, :class => "form-control", :maxlength => "8000", :style => "height:200px;", :id => "MathInput", :onkeyup => "Preview.MyUpdate()" %>
  <script>initAndUpdatePreviewWhenPossible()</script>
</div>

<!-- Si déjà en ligne -->
<% if !question.nil? && question.online %>

  <!-- Réponse -->
  <% if !@question.is_qcm %>
    <!-- pas QCM -->
    <p>Réponse : 
    <% if question.decimal %>
      <% vraidecimal = true %>
      <% if question.answer - question.answer.to_i <= 0.00001 && question.answer.to_i - question.answer <= 0.00001 %>
        <% vraidecimal = false %>
      <% end %>
      <span style="font-size:16px;"><%= question.answer if vraidecimal %><%= question.answer.to_i if !vraidecimal %></span> (réponse <b>décimale</b>, arrondie au millième près)
    <% else %>
      <span style="font-size:16px;"><%= question.answer.to_i %></span> (réponse <b>entière</b>)
    <% end %>
    </p>
  <% else %>
    <!-- QCM -->
    <% if question.many_answers %>
      <p><b>Plusieurs réponses possibles</b></p>
    <% else %>
      <p><b>Une seule réponse possible</b></p>
    <% end %>
  <% end %>
  
  <% unless @chapter.section.fondation? %>
    <!-- Niveau -->
    <p>Niveau (entre 1 et 4) : <b><%= question.level %></b></p>
  <% end %>
  
<!-- Si pas encore en ligne -->
<% else %>
  <%= f.hidden_field :is_qcm, :value => (@question.is_qcm ? 1 : 0) %>
  <!-- Réponse -->
  <% if not @question.is_qcm %>
    <!-- pas QCM -->
    <div class="mb-2">
      <%= f.label :answer, :class => "form-label" %>
      <%= f.text_field :answer, :class => "form-control", :style => "width:100px;" %>
    </div>
    
    <div class="form-check mb-2">
    <label class="form-check-label">
      <%= f.check_box :decimal, :class => "form-check-input" %>
      Cochez si la réponse est décimale
    </label>
    </div>
  <% else %>
    <!-- QCM -->
    <div class="form-check mb-2">
    <label class="form-check-label">
      <%= f.check_box :many_answers, :class => "form-check-input" %>
      Cochez si plusieurs réponses sont possibles
    </label>
    </div>
  <% end %>
  
  <% unless @chapter.section.fondation? %>
    <!-- Niveau -->
    <div class="mb-2">
      <%= f.label :level, :class => "form-label" %>
      <%= f.number_field :level, :class => "form-control", :style => "width:70px;", :min => 1, :max => 4 %>
    </div>
  <% end %>
<% end %>
