<% total_waiting = 180 %>
<% if !unsolvedquestion.nb_guess.nil? && unsolvedquestion.nb_guess >= 3 && DateTime.now < unsolvedquestion.last_guess_time + total_waiting %>
  <% needtowait = true %>
<% else %>
  <% needtowait = false %>
<% end %>

<% if !question.is_qcm %>
  <!-- pas QCM -->
  <% val = nil %>
  <% if question.decimal %>
    <p class="mt-3">On attend un nombre <b>décimal</b>, arrondi au millième près.</p>
    <% val = unsolvedquestion.guess %>
  <% else %>
    <p class="mt-3">On attend un nombre <b>entier</b>.</p>
    <% val = unsolvedquestion.guess.to_i if !unsolvedquestion.guess.nil? %>
  <% end %>

  <%= form_for(unsolvedquestion) do |g| %>
    <%= hidden_field_tag "question_id", question.id %>
    <div class="mb-2">
    <%= g.label :guess, :class => "form-label to-enable", :disabled => !@signed_in || current_user.other || needtowait %>
    <%= g.text_field :guess, class: "form-control to-enable ms-1", style: "width:70px;", value: val, :disabled => !@signed_in || current_user.other || needtowait %>
    </div>
    <%= g.submit "Soumettre", class: "btn btn-primary to-enable", :disabled => !@signed_in || current_user.other || needtowait %>
  <% end %>
  
<% else %>
  <!-- QCM -->
  <% prev_answers = unsolvedquestion.items %>
  <% if question.many_answers %>
    <%= form_for unsolvedquestion do |g| %>
      <p class="mt-3 mb-3 fw-bold">Cochez chaque proposition correcte.</p>
      <%= hidden_field_tag "question_id", question.id %>
      <% question.items.order(:position).each do |c| %>
        <div class="form-check mb-2">
          <label class="form-check-label ms-2">
            <%= check_box_tag "ans[#{ c.id }]", "ok", prev_answers.exists?(:id => c.id), :disabled => !@signed_in || current_user.other || needtowait, :class => "form-check-input to-enable" %>
            <%= raw(c.ans) %>
          </label>
        </div>
      <% end %>
      <%= g.submit "Soumettre", class: "btn btn-primary to-enable mt-3", :disabled => (!@signed_in || current_user.other || needtowait) %>
    <% end %>
  <% else %>
    <% item = prev_answers.first %>
    <div class="mb-3"></div>
    <%= form_for unsolvedquestion do |g| %>
      <%= hidden_field_tag "question_id", question.id %>
      <% question.items.order(:position).each do |c| %>
        <div class="form-check mb-2">
          <label class="form-check-label ms-2">
            <%= radio_button_tag "ans", c.id, (!item.nil? && c.id == item.id), :id => "ans[#{ c.id }]", :disabled => !@signed_in || current_user.other || needtowait, :class => "form-check-input to-enable" %>
            <%= raw(c.ans) %>
          </label>
        </div>
      <% end %>
      <%= g.submit "Soumettre", class: "btn btn-primary to-enable mt-3", :disabled => (!@signed_in || current_user.other || needtowait) %>
    <% end %>

  <% end %>
<% end %>

<% if !unsolvedquestion.nb_guess.nil? %>
  <p class="mt-3 text-color-red">Votre réponse <%= ("(<b>" + val.to_s + "</b>)").html_safe if !question.is_qcm %> est erronée. Vous avez déjà commis <b><%= unsolvedquestion.nb_guess %></b> erreur<%= "s" if unsolvedquestion.nb_guess > 1 %>.</p>
  
  <p class="text-color-red">À partir de la troisième erreur, vous devez attendre trois minutes avant chaque nouvelle tentative.</p>
  
  <% if needtowait %>
    <%= render 'questions/waiting', unsolvedquestion: unsolvedquestion, total_waiting: total_waiting %>
  <% end %>
  
<% end %>
