<% if !defined?(need_to_wait) %>
  <% need_to_wait = false %>
<% end %>

<% if !question.is_qcm %>
  <!-- pas QCM -->
  <% val = nil %>
  <% if question.decimal %>
    <p class="fst-italic">On attend un nombre <b>réel</b>, arrondi si nécessaire au millième près.</p>
    <% val = (unsolvedquestion.nil? ? nil : unsolvedquestion.guess) %>
  <% else %>
    <p class="fst-italic">On attend un nombre <b>entier</b>.</p>
    <% val = (unsolvedquestion.nil? ? nil : unsolvedquestion.guess.to_i) %>
  <% end %>

  <div class="mb-2">
  <%= label_tag :ans, "Votre réponse", class: "form-label" %>
  <%= text_field_tag :ans, nil, class: "form-control to-enable ms-1", style: "width:70px;", value: val, :disabled => !signed_in? || in_skin? || need_to_wait %>
  </div>
  
<% else %>
  <!-- QCM -->
  <% prev_answers = (unsolvedquestion.nil? ? Set.new : unsolvedquestion.items.ids.to_set) %>
  <% if question.many_answers %>
    <p class="fw-bold">Cochez chaque proposition correcte.</p>
  <% end %>
  <div class="mb-3">
    <% question.items.order(:position).each do |c| %>
      <div class="form-check ms-2 mb-2 d-flex gap-2 align-items-center">
        <% if question.many_answers %>
          <%= check_box_tag "ans_#{ c.id }", "ok", prev_answers.include?(c.id), :disabled => !signed_in? || in_skin? || need_to_wait, :class => "form-check-input to-enable flex-shrink-0 my-0" %>
        <% else %>
          <%= radio_button_tag "ans", c.id, prev_answers.include?(c.id), :id => "ans_#{ c.id }", :disabled => !signed_in? || in_skin? || need_to_wait, :class => "form-check-input to-enable flex-shrink-0 my-0" %>
        <% end %>
        <label for="ans_<%= c.id %>" class="form-check-label flex-grow-1">
          <%= htmlise(c.ans) %>
        </label>
      </div>
    <% end %>
  </div>
<% end %>

<button id="question-button" onclick="javascript:checkAnswer();" class="btn btn-primary to-enable mb-3" <%= "disabled" if !signed_in? || in_skin? || need_to_wait %>>Soumettre</button>
