<!-- On vérifie que cet exercice peut bien être vu -->
<% if f.online || (@signed_in && (current_user.sk.admin? || current_user.sk.creating_chapters.exists?(@chapter.id))) %>

<!-- Titre -->
<%= render 'questions/title', f: f, number: number %>

<!-- Enoncé -->
<div>
  <%= raw(replace_indice(htmlise(f.statement))) %>
</div><br/>

<!-- Si administrateur -->
<% if !@chapter.online? || (@signed_in && current_user.sk.admin?) %>

  <!-- Réponse -->
  <h4>Réponse</h4>
  
  <%= render 'questions/admin_answers', f: f %>
  <br/><br/>
  
  <!-- Pour les admins -->
  <%= render 'questions/admin', f: f, number2: number2, number_tot: number_tot %>

<!-- Si étudiant inscrit -->
<% elsif @signed_in %>

  <% exo = Solvedquestion.where(:user_id => current_user.sk.id, :question_id => id) %>
  
  <!-- Si il y a déjà eu au moins un essai -->
  <% if exo.size > 0 %>
    <% exo = exo.first %>
    
    <!-- Si l'exercice est déjà résolu -->
    <% if exo.correct? %>
      <p style="color:green;"><b>
      <% if exo.nb_guess-1 > 0 %>
        Vous avez résolu cet exercice après <%= exo.nb_guess-1 %> erreur<%= "s" if exo.nb_guess-1 > 1 %>.
      <% else %>
        Vous avez résolu cet exercice du premier coup !
      <% end %>
      </b><br/><br/></p>
      
      <!-- Réponse -->
      <h4>Réponse</h4>
      
      <% if !f.is_qcm %>
        <!-- pas QCM -->
        <% if f.decimal %>
          <% vraidecimal = true %>
          <% if f.answer - f.answer.to_i <= 0.00001 && f.answer.to_i - f.answer <= 0.00001 %>
            <% vraidecimal = false %>
          <% end %>
          <span style="font-size:16px;"><%= f.answer if vraidecimal %><%= f.answer.to_i if !vraidecimal %></span> (On demande une réponse <b>décimale</b> au millième près)
        <% else %>
          <span style="font-size:16px;"><%= f.answer.to_i %></span> (On demande une réponse <b>entière</b>)
        <% end %>
        <br/>
      <% else %>
        <!-- QCM -->
        <ul>
          <% f.items.order(:position).each do |c| %>
            <li style="padding:5px;">
            <%= raw(c.ans) %>

            <% if c.ok %>
              <%= image_tag "V.gif", :style => "margin-left:10px;" %>
            <% end %>
            <% if !c.ok && f.many_answers %>
              <%= image_tag "X.gif", :style => "margin-left:10px;" %>
            <% end %>
            </li>
          <% end %>
        </ul>
      <% end %>
      
      <!-- Explication -->
      <% if f.explanation.size > 0 %>
        <br/>
        <h4>Explication</h4>
        <%= raw(htmlise(f.explanation)) %>
      <% end %>
      <br/>
      
    <!-- Si l'étudiant s'est déjà trompé -->
    <% else %>
      <%= render 'questions/question', f: f, exo: exo %>
    <% end %>

  <!-- Si l'étudiant n'a pas encore essayé l'exercice -->
  <% else %>
  
    <% exo = Solvedquestion.new %>
    <%= render 'questions/question', f: f, exo: exo %>
  <% end %>

  <hr style="border-top:1px dashed lightgray;" />
  Un souci avec cet exercice ? N'hésitez pas à demander de l'aide sur le <%= link_to "forum", subjects_path(:q => @chapter.id), :target => "_blank" %> !

<!-- Si étudiant non inscrit -->
<% else %>

  <% exo = Solvedquestion.new %>
  <%= render 'questions/question', f: f, exo: exo %>
  
  <hr style="border-top:1px dashed lightgray;" />
  <center>Pour pouvoir répondre aux exercices, vous devez être connecté.</center>
<% end %>

<% end %>
