<!-- On vérifie que cet exercice peut bien être vu -->
<% if question.online || (@signed_in && (current_user.sk.admin? || current_user.sk.creating_chapters.exists?(@chapter.id))) %>

<!-- Titre -->
<%= render 'questions/title', question: question, number: number %>

<!-- Enoncé -->
<div>
  <%= raw(replace_indice(htmlise(question.statement))) %>
</div>

<!-- Si administrateur -->
<% if !@chapter.online? || (@signed_in && current_user.sk.admin?) %>

  <!-- Réponse -->
  <h4 class="mt-4">Réponse</h4>
  <%= render 'questions/answer', question: question %>
  
  <!-- Pour les admins (dont l'explication) -->
  <%= render 'questions/admin', question: question, number2: number2, number_tot: number_tot %>

<!-- Si étudiant inscrit -->
<% elsif @signed_in %>

  <% solvedquestion = Solvedquestion.where(:user_id => current_user.sk.id, :question_id => id) %>
  
  <!-- Si il y a déjà eu au moins un essai -->
  <% if solvedquestion.size > 0 %>
    <% solvedquestion = solvedquestion.first %>
    
    <!-- Si l'exercice est déjà résolu -->
    <% if solvedquestion.correct? %>
      <p class="mt-3 fw-bold text-color-green">
      <% if solvedquestion.nb_guess-1 > 0 %>
        Vous avez résolu cet exercice après <%= solvedquestion.nb_guess-1 %> erreur<%= "s" if solvedquestion.nb_guess-1 > 1 %>.
      <% else %>
        Vous avez résolu cet exercice du premier coup !
      <% end %>
      </p>
      
      <!-- Réponse -->
      <h4 class="mt-4">Réponse</h4>
      <%= render 'questions/answer', question: question %>
      
      <!-- Explication -->
      <% if question.explanation.size > 0 %>
        <h4 class="mt-4">Explication</h4>
        <%= raw(htmlise(question.explanation)) %>
      <% end %>
      
    <!-- Si l'étudiant s'est déjà trompé -->
    <% else %>
      <%= render 'questions/question', question: question, solvedquestion: solvedquestion %>
    <% end %>

  <!-- Si l'étudiant n'a pas encore essayé l'exercice -->
  <% else %>
  
    <% solvedquestion = Solvedquestion.new %>
    <%= render 'questions/question', question: question, solvedquestion: solvedquestion %>
  <% end %>

  <hr class="bottom-help" />
  <% subject = question.subject %>
  <p>Un souci avec cet exercice ? N'hésitez pas à demander de l'aide sur le <%= link_to "forum", (!subject.nil? ? subject_path(subject) : subjects_path(:q => @chapter.id)), :target => "_blank" %> !</p>

<!-- Si étudiant non inscrit -->
<% else %>

  <% solvedquestion = Solvedquestion.new %>
  <%= render 'questions/question', question: question, solvedquestion: solvedquestion %>
  
  <hr class="bottom-help" />
  <p class="text-center">Pour pouvoir répondre aux exercices, vous devez être connecté.</p>
<% end %>

<% end %>
