<% pt = question.value %>

<% pct = 0 %>
<% pct = question.nb_first_guesses.to_f / (question.nb_correct + question.nb_wrong).to_f if question.nb_correct + question.nb_wrong > 0 %>
<% pct2 = [1.4*pct,1].min %>

<!-- Titre avec un tableau pour que les points à droite se mettent bien -->
<h3>
<table style="width:100%;">
<tr>
<td>
Exercice <%= number if question.online? %>
</td>

<% if !@section.fondation || question.online %>
  <td class="d-none d-sm-table-cell ps-3 text-end">
  <% if question.online %>
    <%= link_to "Résolu #{ question.nb_correct } fois", stats_chapters_path, :class => "badge rounded-pill py-2 px-3 text-color-dark-light-blue gradient-green-red-#{ ((1-pct2)*20).to_i }", :style => "font-size:18px;" %>
  <% end %>
  
  <% if !@section.fondation %>
    <span class="badge rounded-pill py-2 px-3 bg-secondary" style="font-size:18px;"><%= pt %>&nbsp;points</span>
  <% end %>
  </td>
<% end %>
</tr>
</table>

<% if !@section.fondation || question.online %>
  <div class="d-block d-sm-none pt-2 text-center">
  <% if question.online %>
    <%= link_to "Résolu #{ question.nb_correct } fois", stats_chapters_path, :class => "badge rounded-pill py-2 px-3 text-color-dark-light-blue gradient-green-red-#{ ((1-pct2)*20).to_i }", :style => "font-size:18px;" %>
  <% end %>
  <% if !@section.fondation %>
    <span class="badge rounded-pill py-2 px-3 bg-secondary" style="font-size:18px;"><%= pt %>&nbsp;points</span>
  <% end %>
  </div>
<% end %>
</h3>
