<% pt = question.value %>

<% pct = 0 %>
<% pct = question.nb_first_guesses.to_f / (question.nb_correct + question.nb_wrong).to_f if question.nb_correct + question.nb_wrong > 0 %>
<% pct2 = [1.4*pct,1].min %>

<h3>Exercice <%= number if question.online? %>
<% if !@section.fondation %>
<span class="ms-3 text-color-grey">(<%= pt %>&nbsp;points)</span>
<% end %>

<% if question.online %>
  <span class="d-none d-lg-inline ms-3" style="font-size:20px; color:rgb(<%= 0+((1-pct2)*255).to_i %>,<%= 0+(pct2*225).to_i %>,0);">(Résolu <b><%= question.nb_correct %></b> fois - <b><%= (100*pct).round(0) %>%</b> de réussite au premier essai)</span>
  <br class="d-inline d-lg-none" />
  <span class="d-inline d-lg-none mb-1" style="font-size:20px; color:rgb(<%= 0+((1-pct2)*255).to_i %>,<%= 0+(pct2*225).to_i %>,0);">(Résolu <b><%= question.nb_correct %></b> fois - <br class="visible-xs" /> <b><%= (100*pct).round(0) %>%</b> de  réussite au 1<sup>er</sup> essai)</span>
<% end %>
</h3>
