<% waiting = (unsolvedquestion.last_guess_time.to_f + total_waiting - DateTime.now.to_i).floor %>
<% waiting_m = waiting / 60 %>
<% waiting_s = waiting % 60 %>
<p id="waitbox" class="text-color-red">Vous devez encore patienter <span id="clockbox" class="fw-bold">0<%= waiting_m %>:<%= "0" if waiting_s < 10 %><%= waiting_s %></span>.</p>
  
<script type="text/javascript">
var stop = false;
var reste_debut = <%= waiting %>;
var heure_debut_js = Math.floor(Date.now() / 1000);
function Activate() {
  stop = true;
  var to_enable = document.getElementsByClassName("to-enable");
  var i;
  for (i = 0; i < to_enable.length; i++) {
    to_enable[i].disabled = <%= !@signed_in %>;
  }
  document.getElementById('waitbox').style.display = "none";
}

function RemainingTime() {
  if(!stop) {
    var heure_mtn_js = Math.floor(Date.now() / 1000);
    reste = reste_debut - (heure_mtn_js - heure_debut_js);
    if (reste <= 0) {
      Activate();
    }
    else {
      var r = reste
      var resteh = Math.floor(r / 3600)
      r = r - 3600 * resteh
      var restem = Math.floor(r / 60)
      r = r - 60 * restem
      var restes = r
    
      if(restem < 10){ affichem = "0" + restem }
      else { affichem = restem }
    
      if(restes < 10){ affiches = "0" + restes }
      else { affiches = restes }
    
      document.getElementById('clockbox').innerHTML = affichem + ":" + affiches
    }
  }
}

RemainingTime();
setInterval(RemainingTime, 1000);
</script>
