<% waiting = (exo.updated_at.to_f + total_waiting - DateTime.now.in_time_zone.to_i).floor %>
<% waiting_m = waiting/60 %>
<% waiting_s = waiting%60 %>
<p id="waitbox" style="color:red;">Vous devez encore patienter <span id="clockbox" style="font-weight:bold;">0<%= waiting_m %>:<%= "0" if waiting_s < 10 %><%= waiting_s %></span>.</p>
  
<script type="text/javascript">
var stop = false;
var reste = <%= waiting %>
function Activate() {
  stop = true;
  var todisable = document.getElementsByClassName("todisable");
  var i;
  for (i = 0; i < todisable.length; i++) {
    todisable[i].disabled = <%= !@ss || current_user.other %>;
  }
  document.getElementById('waitbox').style.display = "none";
}

function RemainingTime(){
if(!stop) {
  reste = reste-1;
  if (reste <= 0) {
    Activate();
  }
  else {
    var resteh = Math.floor(reste / 3600)
    reste = reste - 3600 * resteh
    var restem = Math.floor(reste / 60)
    var restes = reste - 60 * restem
    
    if(restem < 10){ affichem = "0" + restem }
    else { affichem = restem }
    
    if(restes < 10){ affiches = "0" + restes }
    else { affiches = restes }
    
    document.getElementById('clockbox').innerHTML = affichem + ":" + affiches
  }
}
}

window.onload=function(){
RemainingTime();
setInterval(RemainingTime,1000);
}
</script>
