<% provide(:title, "Modifier l'explication d'un exercice") %>

<h1><%= title_question(@question, "Explication") %></h1>

<!-- Enoncé -->
<h3>Énoncé</h3>
<div class="mb-3">
  <%= htmlise(@question.statement, true) %>
</div>

<!-- Réponse -->
<h3>Réponse</h3>

<%= render 'questions/answer', question: @question %>

<!-- Explication -->
<h3>Explication</h3>

<%= form_for(@question, url: update_explanation_question_path) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="mb-2">
    <%= render 'shared/preview' %>
    <%= render 'shared/font' %>
    <%= f.text_area :explanation, :class => "form-control", :maxlength => "8000", :style => "height:200px;", :id => "MathInput" %>
    <script>initAndUpdatePreviewWhenPossible()</script>
  </div>
  <%= f.submit "Modifier", class: "btn btn-lg btn-primary mb-3" %>
<% end %>
