<% provide(:title, "Modifier les choix d'un exercice") %>

<h1><%= title_question(@question, "Choix") %></h1>

<p>Veuillez, pour chaque choix modifié, cliquer sur le bouton "Modifier ce choix" en vis à vis. Sans cela, votre modification ne sera pas enregistrée.</p>

<!-- Enoncé -->
<h3>Énoncé</h3>	
<div class="mb-3">
  <%= htmlise(@question.statement, true) %>
</div>

<!-- Réponse -->
<h3>Réponse</h3>	
<table cellpadding="5" class="mb-3">
<tr><th></th><th></th><th class="p-1 text-center">Rép ?</th><th></th><th></th><th></th><th></th></tr>
<% i = 0 %>
<% items = @question.items.order(:position).to_a %>
<% nb_item = items.size %>
<% items.each do |item| %>
  <%= form_for(item) do |f| %>
    <tr>
      <td style="width:15px;">
        -
      </td>
      <td class="p-1">
        <%= f.text_field :ans, :class => "form-control", :style => "width:200px;", :id => "update_item_field_" + item.id.to_s %>
      </td>
      <td>
        <center>
        <% if item.ok %>
          <%= image_tag v_icon, :class => "svg-black-white" %>
        <% else %>
          <%= image_tag x_icon, :class => "svg-black-white" %>
        <% end %>
        </center>
      </td>
      <td>
        <%= f.submit "Modifier ce choix", :class => "btn btn-primary", :id => "update_item_button_" + item.id.to_s %>
      </td>
      <td class="p-2">
        <%= "Déplacer vers le : " if nb_item > 1 %>
        <%= link_to "haut", order_item_path(item, :new_position => items[i-1].position), :method => :put, :id => ("update_item_up_" + item.id.to_s) if i > 0 %>
        <%= "-" if i > 0 && i < nb_item-1 %>
        <%= link_to "bas", order_item_path(item, :new_position => items[i+1].position), :method => :put, :id => ("update_item_down_" + item.id.to_s) if i < nb_item-1 %>
      </td>
      <% unless @question.online %>
        <td class="p-2">
          <% if item.ok %>
            <% if @question.many_answers %>
              <%= link_to "Rendre ce choix erroné", uncorrect_item_path(item), :method => :put, :id => ("update_item_incorrect_" + item.id.to_s) %>
            <% end %>
          <% else %>
            <%= link_to "Rendre ce choix correct", correct_item_path(item), :method => :put, :id => ("update_item_correct_" + item.id.to_s) %>
          <% end %>
        </td>
        <td class="p-2">
          <%= link_to "Supprimer ce choix", item, :method => :delete, :id => ("update_item_delete_" + item.id.to_s) %>
        </td>
      <% end %>
    </tr>
  <% end %>
  <% i = i + 1 %>
<% end %>

<!-- Si pas encore en ligne, on peut ajouter un choix -->
<% unless @question.online %>

  <tr>
  <%= form_for(:item, url: question_items_path(@question)) do |f| %>
    <td>
    </td>
    <td class="p-1">
      <%= f.text_field :ans, :class => "form-control", :style => "width:200px;", :id => "create_item_field" %>
    </td>
    <td>
      <center>
      <%= f.check_box :ok, :id => "create_item_value", :class => "form-check-input" %>
      </center>
    </td>
    <td>
      <%= f.submit "Ajouter ce choix", :class => "btn btn-primary", :id => "create_item_button" %>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
  <% end %>
  </tr>

<% end %>

</table>
