<% provide(:title, 'Créer un exercice') %>

<h1>
<span class="title-first">Théorie ></span>
<span class="title-second"><%= link_to @chapter.section.name, @chapter.section %> ></span>
<span class="title-third"><%= link_to @chapter.name, @chapter %> ></span>
Créer un exercice
</h1>

<%= form_for(@question, url: chapter_questions_path) do |f| %>
  <%= render 'form', f: f, question: nil %>
  <%= f.submit "Créer", class: "btn btn-lg btn-primary" %>
<% end %>
    
<script>
Preview.Init();
Preview.Update();
</script>
