<%= render 'chapters/before', active: 'question-' + @question.id.to_s %>

<% solvedquestion = (!signed_in? || !@chapter.online? || current_user.admin?) ? nil : current_user.solvedquestions.where(:question => @question).first %>

<!-- Titre -->
<%= render 'questions/title', question: @question, number: @number, solved: !solvedquestion.nil? %>

<!-- Enoncé -->
<div>
  <%= htmlise(@question.statement, true) %>
</div>

<!-- Si administrateur (ou auteur du chapitre) -->
<% if !@chapter.online? || (signed_in? && current_user.admin?) %>
  
  <% if @question.online? && !@show_answer %>
    <!-- Possibilité de répondre (pour le fun) -->
    <% unsolvedquestion = Unsolvedquestion.new %>
    <%= render 'questions/question', question: @question, unsolvedquestion: unsolvedquestion %>
    
    <p class="text-center mt-3 mb-0"><%= link_to "Voir la réponse", chapter_question_path(@chapter, @question, :answer => 1), :class => "btn btn-ld-light-dark" %></p>
  <% else %>
    <!-- Réponse -->
    <h4 class="mt-4">Réponse</h4>
    <%= render 'questions/answer', question: @question %>
    
    <!-- Explication -->
    <h4 class="mt-4">Explication</h4>
    <% if @question.explanation.size == 0 %>
      <span class="text-color-orange fw-bold">Pas d'explication</span>
    <% else %>
      <%= htmlise(@question.explanation) %>
    <% end %>
  <% end %>
  
  <!-- Boutons pour les admins -->
  <%= render 'questions/admin', question: @question %>

<!-- Si étudiant inscrit -->
<% elsif signed_in? %>
  
  <!-- Si l'exercice est déjà résolu -->
  <% if !solvedquestion.nil? %>   
    <% if !@show_answer %>
       <!-- Possibilité de répondre (pour le fun) -->
      <% unsolvedquestion = Unsolvedquestion.new %>
      <%= render 'questions/question', question: @question, unsolvedquestion: unsolvedquestion %>
      
      <p class="mt-3 text-center"><%= link_to "Voir la réponse", chapter_question_path(@chapter, @question, :answer => 1), :class => "btn btn-ld-light-dark" %></p>
    <% else %>
      <p class="mt-3 fw-bold text-color-green">
      Vous avez résolu cet exercice le <%= write_date(solvedquestion.resolution_time) %>,
      <% if solvedquestion.nb_guess-1 > 0 %>
        après <%= solvedquestion.nb_guess-1 %> erreur<%= "s" if solvedquestion.nb_guess-1 > 1 %>.
      <% else %>
        du premier coup !
      <% end %>
      </p>
    
      <!-- Réponse -->
      <h4 class="mt-4">Réponse</h4>
      <%= render 'questions/answer', question: @question %>
    
      <!-- Explication -->
      <% if @question.explanation.size > 0 %>
        <h4 class="mt-4">Explication</h4>
        <%= htmlise(@question.explanation) %>
      <% end %>
    <% end %>
  <% else %>
    <% unsolvedquestion = current_user.unsolvedquestions.where(:question => @question).first %>
    <% if unsolvedquestion.nil? %>
      <% unsolvedquestion = Unsolvedquestion.new %>
    <% end %>
    <%= render 'questions/question', question: @question, unsolvedquestion: unsolvedquestion %>
  <% end %>

  <hr class="bottom-help" />
  <% subject = @question.subject %>
  Un souci avec cet exercice ? N'hésitez pas à demander de l'aide sur le <%= link_to "forum", (!subject.nil? ? subject_path(subject) : subjects_path(:q => "cha-" + @chapter.id.to_s)), :target => "_blank" %> !

<!-- Si étudiant non inscrit -->
<% else %>

  <% unsolvedquestion = Unsolvedquestion.new %>
  <%= render 'questions/question', question: @question, unsolvedquestion: unsolvedquestion %>
  
  <hr class="bottom-help" />
  <p class="text-center">Pour pouvoir répondre aux exercices, vous devez être connecté.</p>
<% end %>

<%= render 'chapters/after' %>
