<%= render 'chapters/before', active: 'question-' + @question.id.to_s %>

<!-- Titre -->
<%= render 'questions/title', question: @question, number: @number %>

<!-- Enoncé -->
<div>
  <%= htmlise(@question.statement, true) %>
</div>

<!-- Si administrateur -->
<% if !@chapter.online? || (signed_in? && current_user.admin?) %>

  <!-- Réponse -->
  <h4 class="mt-4">Réponse</h4>
  <%= render 'questions/answer', question: @question %>
  
  <!-- Pour les admins (dont l'explication) -->
  <%= render 'questions/admin', question: @question %>

<!-- Si étudiant inscrit -->
<% elsif signed_in? %>

  <% solvedquestion = current_user.solvedquestions.where(:question => @question).first %>
  
  <!-- Si l'exercice est déjà résolu -->
  <% if !solvedquestion.nil? %>    
    <p class="mt-3 fw-bold text-color-green">
    <% if solvedquestion.nb_guess-1 > 0 %>
      Vous avez résolu cet exercice après <%= solvedquestion.nb_guess-1 %> erreur<%= "s" if solvedquestion.nb_guess-1 > 1 %>.
    <% else %>
      Vous avez résolu cet exercice du premier coup !
    <% end %>
    </p>
    
    <!-- Réponse -->
    <h4 class="mt-4">Réponse</h4>
    <%= render 'questions/answer', question: @question %>
    
    <!-- Explication -->
    <% if @question.explanation.size > 0 %>
      <h4 class="mt-4">Explication</h4>
      <%= htmlise(@question.explanation) %>
    <% end %>
  <% else %>
    <% unsolvedquestion = current_user.unsolvedquestions.where(:question => @question).first %>
    <% if unsolvedquestion.nil? %>
      <% unsolvedquestion = Unsolvedquestion.new %>
    <% end %>
    <%= render 'questions/question', question: @question, unsolvedquestion: unsolvedquestion %>
  <% end %>

  <hr class="bottom-help" />
  <% subject = @question.subject %>
  <p>Un souci avec cet exercice ? N'hésitez pas à demander de l'aide sur le <%= link_to "forum", (!subject.nil? ? subject_path(subject) : subjects_path(:q => "cha-" + @chapter.id.to_s)), :target => "_blank" %> !</p>

<!-- Si étudiant non inscrit -->
<% else %>

  <% unsolvedquestion = Unsolvedquestion.new %>
  <%= render 'questions/question', question: @question, unsolvedquestion: unsolvedquestion %>
  
  <hr class="bottom-help" />
  <p class="text-center">Pour pouvoir répondre aux exercices, vous devez être connecté.</p>
<% end %>

<%= render 'chapters/after' %>
