<% provide(:title, 'Difficulté des chapitres') %>

<h1>Difficulté des chapitres</h1>
Les tableaux suivants donnent :
<ul>
<li>pour chaque chapitre, le pourcentage d'étudiants l'ayant complété (parmi ceux ayant tenté au moins un exercice) ;</li>
<li>pour chaque exercice, le pourcentage d'étudiants l'ayant résolu au premier essai (parmi ceux ayant tenté l'exercice).</li>
</ul>

<% debloque = Array.new %>
<% if @signed_in and !current_user.sk.admin? %>
  <% current_user.sk.chapters.each do |c| %>
    <% debloque[c.id] = 1 %>
  <% end %>
<% end %>

<% is_fond = Array.new %>
<% Section.all.each do |section| %>
  <% is_fond[section.id] = section.fondation? %>
<% end %>

<% Section.where(:fondation => false).order(:id).each do |section| %>
  <h3><%= section.name %></h3>
  <% chap = Array.new %>
  <% ordered_chap = Array.new %>
  <% reverse = Array.new %>
  <% pre = Array.new %>
  <% taken = Array.new %>
  <% cansee = Array.new %>
  <% ordered_cansee = Array.new %>
  <% n = 0 %>
  <% section.chapters.where(:online => true).order("level, position").each do |chapter| %>
    <% chap.push(chapter) %>
    <% reverse[chapter.id] = n %>
    <% pre[n] = Array.new %>
    <% taken[n] = false %>
    <% cansee[n] = true %>
    <% chapter.prerequisites.each do |p| %>
      <% if !@signed_in or (!is_fond[p.section_id] and !current_user.sk.admin? and debloque[p.id].nil?) %>
        <% cansee[n] = false %>
      <% end %>
      <% if p.section == section %>
        <% pre[n].push(p.id) %>
      <% end %>
    <% end %>
    <% n = n+1 %>
  <% end %>
  
  <% (0..(n-1)).each do |i| %>
    <% (0..(n-1)).each do |j| %>
      <% if !taken[j] %>
        <% ok = true %>
        <% pre[j].each do |p| %>
          <% if !taken[reverse[p]] %>
            <% ok = false %>
          <% end %>
        <% end %>
        <% if ok %>
          <% taken[j] = true %>
          <% ordered_chap.push(chap[j]) %>
          <% ordered_cansee.push(cansee[j]) %>
          <% break %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
  
  <% allexo = Array.new %>
  <% maxexo = 0 %>
  
  <% i = 0 %>
  <% ordered_chap.each do |chapter| %>
    <% allexo[i] = Array.new %>
    
    <% chapter.questions.order(:position).where(:online => true).each do |f| %>
      <% allexo[i].push(f) %>
    <% end %>
    
    <% if(allexo[i].size > maxexo) %>
      <% maxexo = allexo[i].size %>
    <% end %>
    <% i = i+1 %>
  <% end %>
  
  <table class="table table-bordered" style="width:auto;">
  <tr class="hidden-small"><th style="width:300px;">Chapitre</th><th>Réussite</th>
  <% (1..maxexo).each do |i| %>
    <th style="text-align:center; width:50px;">Ex. <%= i %></th>
  <% end %>
  </tr>
  
  <% i = 0 %>
  <% ordered_chap.each do |chapter| %>
    <tr style="background-color:rgb(255,255,255);" class="hidden-large">
    <td colspan="<%= maxexo-1 %>"><%= link_to chapter.name, chapter %></td>
    <% pct = 0 %>
    <% pct = (chapter.nb_solved * 100) / chapter.nb_tries if chapter.nb_tries > 0 %>
    <td style="text-align:center;"><%= pct %>%</td>
    </tr>
    <tr style="background-color:rgb(250,250,250);">
    <td class="hidden-small"><%= link_to chapter.name, chapter %></td>
    <td class="hidden-small" style="text-align:center;"><%= pct %>%</td>
    <% allexo[i].each do |e| %>
      <% pct = 0 %>
      <% pct = e.nb_firstguess.to_f/e.nb_tries.to_f if e.nb_tries > 0 %>
      <% pct2 = [1.4*pct,1].min %>
      <td style="text-align:center; background-color:rgb(<%= 50+((1-pct2)*205).to_i %>,<%= 50+(pct2*205).to_i %>,50);">
      <% if ordered_cansee[i] %>
        <%= link_to "#{(100*pct).round(0)}%", chapter_path(chapter, :type => 5, :which => e.id), :style => "color:rgb(0,0,200);" %>
      <% else %>
        <%= (100*pct).round(0) %>%
      <% end %>
      </td>
    <% end %>
    <% (allexo[i].size..maxexo-1).each do |j| %>
    <td style="text-align:center;">-</td>
    <% end %>
    </tr>
    <% i = i+1 %>
  <% end %>
  </table>
  
<% end %>
