<% provide(:title, 'Statistiques diverses') %>

<h1><%= title_1("Statistiques diverses") %></h1>

<% very_first_date = Date.new(2014,12,8) %>
<% very_last_date = Date.today %>
<% num_days = (very_last_date - very_first_date).to_i %>

<center><span id="interval"></span></center>
 
<div id="slider-range" style="margin-top:5px;"></div>

<script src="https://code.jquery.com/jquery-3.6.1.js"
			  integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
			  crossorigin="anonymous"></script>
			  
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"
			  integrity="sha256-xLD7nhI62fcsEZK2/v8LsBcb4lG7dgULkuXoXB/j91c="
			  crossorigin="anonymous"></script>
			  
<link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">

<script>
var start_range = 0;
var end_range = <%= num_days %>;
var first_date = new Date("2014-12-08");

function format_date(days_after_first_date){
  var d = new Date(first_date);
  d.setDate(d.getDate() + days_after_first_date);
  var day = d.getDate();
  var month = d.getMonth() + 1;
  var year = d.getFullYear();
  return (day < 10 ? "0" : "") + day + "/" + (month < 10 ? "0" : "") + month + "/" + year;
}

$( function() {
  $( "#slider-range" ).slider({
    range: true,
    min: 0,
    max: <%= num_days %>,
    values: [ 0, <%= num_days %>  ],
    slide: function( event, ui ) {
      $( "#interval" ).html( format_date(ui.values[0]) + " - " + format_date(ui.values[1]) );
      start_range = ui.values[0];
      end_range = ui.values[1];
      drawGraph(0, false);
      drawGraph(1, true);
      drawGraph(2, true);
      drawGraph(3, false);
    }
  });
  
  $( "#interval" ).html( format_date( $( "#slider-range" ).slider( "values", 0 ) ) +
    " - " + format_date( $( "#slider-range" ).slider( "values", 1 ) ) );
} );
</script>


<h3>Fréquentation du site</h3>

Le graphique suivant reprend le nombre d'utilisateurs connectés chaque jour sur le site. Les données commencent le 19 mars 2015.<br/><br/>

<center>
<!-- Endroit pour dessiner la fréquentation -->
<div id="contenant1" style="width:100%; max-width:900px; height:480px; position:relative; display:block;">
<canvas id="myCanvas1" width="900" height="480" style="position:absolute; left:0px; top: 0px;">
Votre navigateur ne supporte pas les canvas.
</canvas>
</div>
</center>

<h3>Résolutions d'exercices</h3>

Ci-dessous, le nombre d'exercices résolus chaque semaine.<br/><br/>

<center>
<!-- Endroit pour dessiner les résolutions d'exercices -->
<div id="contenant2" style="width:100%; max-width:900px; height:480px; position:relative; display:block;">
<canvas id="myCanvas2" width="900" height="480" style="position:absolute; left:0px; top: 0px;">
Votre navigateur ne supporte pas les canvas.
</canvas>
</div>
</center>

<h3>Soumissions aux problèmes</h3>

Ci-dessous, le nombre de soumissions aux problèmes du site, par semaine.<br/><br/>

<center>
<!-- Endroit pour dessiner les soumissions aux problèmes -->
<div id="contenant3" style="width:100%; max-width:900px; height:480px; position:relative; display:block;">
<canvas id="myCanvas3" width="900" height="480" style="position:absolute; left:0px; top: 0px;">
Votre navigateur ne supporte pas les canvas.
</canvas>
</div>
</center>

<h3>Temps de correction</h3>

Chaque soumission à un problème doit être corrigée par un correcteur. Le graphique suivant donne, pour chaque semaine, le temps moyen de correction d'une soumission (en jours).<br/><br/>

<center>
<!-- Endroit pour dessiner les temps de correction -->
<div id="contenant4" style="width:100%; max-width:900px; height:480px; position:relative; display:block;">
<canvas id="myCanvas4" width="900" height="480" style="position:absolute; left:0px; top: 0px;">
Votre navigateur ne supporte pas les canvas.
</canvas>
</div>
</center>


<% def convert_date(courant) %>
  <% d = "" %>
  <% d = d+"0" if courant.day < 10 %>
  <% d = d+courant.day.to_s + "/" %>
  <% d = d + "0" if courant.month < 10 %>
  <% d = d + courant.month.to_s + "/" %>
  <% d = d + "0" if (courant.year % 2000) < 10 %>
  <% d = d + (courant.year % 2000).to_s %>
  <% return d; %>
<% end %>

<% def ruby_to_javascript(arr) %>
  <% t = "[" %>
  <% prems = true %>
  <% arr.each do |a| %>
    <% t = t + "," if !prems %>
    <% prems = false %>
    <% t = t + a.to_s %>
  <% end %>
  <% t = t + "]" %>
  <% return t.html_safe %>
<% end %>

<% def ruby_to_javascript_string(arr) %>
  <% t = "[" %>
  <% prems = true %>
  <% arr.each do |a| %>
    <% t = t + "," if !prems %>
    <% prems = false %>
    <% t = t + "'" + a + "'" %>
  <% end %>
  <% t = t + "]" %>
  <% return t.html_safe %>
<% end %>


<script type="text/javascript">

  var graphique = [,,,,,];
  var start_index = -1;
  var end_index = -1;
  var max_value = -1;
  function computeIndicesAndMaxValue(n) {
    var abs_int = graphique[n][0];
    var val = graphique[n][2];
    
    start_index = 0;
    end_index = val.length-1;
    for(i = 0; i < val.length; i++) {
      if(abs_int[i] < start_range) {
        start_index = i+1;
      }
      else {
        break;
      }
    }
    for(i = val.length-1; i >= 0; i--) {
      if(abs_int[i] > end_range) {
        end_index = i-1;
      }
      else {
        break;
      }
    }
    if(end_index <= start_index) {
      start_index = end_index-1;
      if(start_index < 0) {
        start_index = 0;
        end_index = 1;
      }
    }

    max_value = 1;
    for(i = start_index; i <= end_index; i++) {
      if(max_value < val[i]) {
        max_value = val[i];
      }
    }
  }
  
  function drawGraph(n, batonnets) {
  var abs_int = graphique[n][0];
  var abs = graphique[n][1];
  var val = graphique[n][2];
  var namec = graphique[n][3];
  var namecont = graphique[n][4];
  var couleur = graphique[n][5];
  var c = $(namec);
  var ctx = c.get(0).getContext('2d');
  var container = $(c).parent();
  c.attr('width', $(container).width() ); //max width
  c.attr('height', 480*$(container).width()/900.0); //max height
  document.getElementById(namecont).style.height = 480*$(container).width()/900.0 + "px"
    
  //Redraw & reposition content
  var x = c.width();
  var y = c.height();

  var pct = c.width()/900.0;

  ctx.beginPath();
  ctx.rect(pct*50, pct*5, pct*806, pct*450);
  ctx.fillStyle = 'white';
  ctx.fill();
  ctx.lineWidth = 1.5;
  ctx.strokeStyle = 'black';
  ctx.stroke();
  
  computeIndicesAndMaxValue(n);
    
  // Affichage des barres horizontales

  var maxi = 1.1*max_value;
  
  var tranche = Math.floor(max_value/4);
  if(tranche == 0){
    tranche = 1;
  }
    
  ctx.lineWidth = 0.5;
  ctx.strokeStyle = 'grey';
  ctx.font="14px Arial";
  ctx.fillStyle = 'black';
  ctx.textAlign = 'right';

  ctx.setLineDash([10, 10]);
  ctx.beginPath();

  if (pct < 0.7){
    ctx.font="9px Arial";
  }
  
  var encours = Math.floor(max_value);
  
  while(encours > 0) {
    var haut = 450 - 450*(encours/maxi);
    if(haut < 0) {
      haut = 0;
    }
    ctx.moveTo(pct*50, pct*(haut+5));
    ctx.lineTo(pct*856, pct*(haut+5));
    ctx.fillText(encours,pct*44,pct*(haut+10));
    encours = encours - tranche;
  }

  ctx.stroke();
  
  // Affichage des barres verticales et des dates en abscisse
  
  ctx.font="12px Arial";
  ctx.textAlign = 'center';
  ctx.beginPath();
  
  encours = end_index;
  var printw = 10000;
  
  while(encours >= start_index) {
    var N = end_index - start_index + (batonnets ? 1 : 0);
    var w = 3 + 800*(encours - start_index + (batonnets ? 0.5 : 0))/N;
    if((w < printw - 50 && pct > 0.8) || (w < printw - 70 && pct > 0.7)) {
      ctx.fillText(abs[encours],pct*(50+w),pct*455+15);
      printw = w;
      ctx.moveTo(pct*(50+w), pct*5);
      ctx.lineTo(pct*(50+w), pct*455);
    }
    encours = encours-1;
  }
  
  ctx.stroke();
  ctx.setLineDash([]);
    
  // On trace maintenant le graphique
  ctx.strokeStyle = 'black';

  // Commencement du graphique

  // On parcourt de droite à gauche
  encours = end_index;
  premier = true

  ctx.fillStyle = couleur;
  ctx.strokeStyle = couleur;
  ctx.font = "12px Arial";
  ctx.textAlign = 'center';
  ctx.lineWidth = 2;

  while(encours >= start_index) {
    var N = end_index - start_index + (batonnets ? 1 : 0);
    var w = 3 + 800*(encours - start_index + (batonnets ? 0.5 : 0))/N;
    var huser = 450 - 450*(val[encours]/maxi);
    if(val[encours] >= 0) {
      if(batonnets) {
        var halfwidth = 400/N;
        var gg = Math.round(pct*(50+w-halfwidth));
        var dd = Math.round(pct*(50+w+halfwidth));
        ctx.fillRect(gg,pct*(huser+5),dd-gg,pct*450*(val[encours]/maxi));
      }
      else {
        if(premier) {
          ctx.beginPath();
          ctx.moveTo(pct*(50+w), pct*(huser+5));
          premier = false;
        }
        else {
          ctx.lineTo(pct*(50+w), pct*(huser+5));
        }
      }
    }
    encours = encours-1;
  } 
  if(!batonnets) { 
    if (!premier) {
      ctx.stroke();
    }
  }
  else {
    ctx.beginPath();
    ctx.rect(pct*50, pct*5, pct*806, pct*450);
    ctx.lineWidth = 1.5;
    ctx.strokeStyle = 'black';
    ctx.stroke();
  }
  
  }
  
  function showXY(n, x, y, batonnets) {  
    var abs_int = graphique[n][0];
    var abs = graphique[n][1];
    var val = graphique[n][2];
    var namec = graphique[n][3];
    var namecont = graphique[n][4];
    var couleur = graphique[n][5];
    
    var c = $(namec);
    var canvas = c.get(0)
    var ctx = canvas.getContext('2d');
    
    var pct = c.width()/900.0;
    
    computeIndicesAndMaxValue(n);
    
    var maxi = 1.1*max_value;
    
    var N = end_index - start_index + (batonnets ? 1 : 0);
    var realx = Math.round((x-53)*N/800.0 + start_index - (batonnets ? 0.5 : 0));

    if(realx < start_index) {
      realx = start_index;
    }
    else if(realx > end_index) {
      realx = end_index;
    }
    
    if(val[realx] < 0)
    {
      realxleft = realx;
      realxright = realx;
      realx = -1;
      while(realxleft >= start_index || realxright <= end_index) {
        if(realxleft >= start_index && val[realxleft] >= 0) {
          realx = realxleft;
          break;
        }
        if(realxright <= end_index && val[realxright] >= 0) {
          realx = realxright;
          break;
        }
        realxleft = realxleft-1;
        realxright = realxright+1;
      }
      if(realx < 0) {
        return;
      }
    }
    
    var pointx = (53 + 800*(realx - start_index + (batonnets ? 0.5 : 0))/N)*pct;
    var pointy = (455 - 450*(val[realx]/maxi))*pct;
    
    var h = 30;
    var w = 150;
    
    var cornerx = pointx;
    var cornery = pointy-h;
    
    if(cornerx + w > 856*pct) {
      cornerx = cornerx-w;
    }
    if(cornery < 0) {
      cornery = cornery+h;
    }
    
    if(val[realx] >= 0) {
      ctx.beginPath();
      ctx.rect(cornerx, cornery, w, h);
      ctx.fillStyle = 'lightgrey';
      ctx.fill();
      ctx.lineWidth = 1.5;
      ctx.font = "18px Arial";
      ctx.strokeStyle = 'black'
      ctx.fillStyle = 'black';
      
      ctx.moveTo(cornerx+w*0.6, cornery);
      ctx.lineTo(cornerx+w*0.6, cornery+h);
      ctx.fillText(abs[realx],cornerx+w*0.3,cornery+h*0.7);
      ctx.fillText(Math.round(val[realx]*100)/100.0,cornerx+w*0.8,cornery+h*0.7);
      ctx.stroke();
      
      ctx.beginPath();
      ctx.rect(pointx-2,pointy-2,4,4);
      ctx.strokeStyle = "black";
      ctx.fillStyle = "black";
      ctx.fill();
      ctx.stroke();
    }
  }
  
  function listen(n, batonnets) {
    var c = $(graphique[n][3]);
    var canvas = c.get(0);
    
    canvas.addEventListener("mousemove", function(evt){
      var pct = c.width()/900.0;
      var rect = canvas.getBoundingClientRect();
      var mouseX = evt.clientX - rect.left;
      var mouseY = evt.clientY - rect.top;
      if(mouseX >= 50*pct && mouseX <= 856*pct && mouseY >= 5*pct && mouseY <= 455*pct) {
        drawGraph(n, batonnets);
        showXY(n, mouseX/pct, mouseY/pct, batonnets)
      }
      else {
        drawGraph(n, batonnets);
      }
    });
    canvas.addEventListener("mouseleave", function(){
      drawGraph(n, batonnets);
    });
  }
  
  <!-- Calcul des graphiques -->
  var xxx_int = [];
  var xxx = [];
  var yyy = [];
  <% xx_int = Array.new %>
  <% xx = Array.new %>
  <% yy = Array.new %>
  <% @visiteurs = Visitor.order("date").to_a %>
  
  <% premierjour = very_first_date %>
  <% dernierjour = DateTime.now.in_time_zone.to_date - 1.day %>
  <% prev = premierjour %>
  <% if premierjour < dernierjour %>
    <% @visiteurs.each do |v| %>
      <% ((prev+1)..(v.date-1)).each do |missing| %>
        <% xx_int.push((missing-very_first_date).to_i) %>
        <% xx.push(convert_date(missing)) %>
        <% yy.push(-1) %>
      <% end %>
      <% xx_int.push((v.date-very_first_date).to_i) %>
      <% xx.push(convert_date(v.date)) %>
      <% yy.push(v.nb_users + v.nb_admins) %>
      <% prev = v.date %>
    <% end %>
    <% ((prev+1)..dernierjour).each do |missing| %>
      <% xx_int.push((missing-very_first_date).to_i) %>
      <% xx.push(convert_date(missing)) %>
      <% yy.push(-1) %>
    <% end %>
    
    xxx_int = <%= ruby_to_javascript(xx_int) %>;
    xxx = <%= ruby_to_javascript_string(xx) %>;
    yyy = <%= ruby_to_javascript(yy) %>;
    
    graphique[0] = [xxx_int, xxx, yyy, '#myCanvas1', 'contenant1', 'orange'];
    
    <% xx_int = Array.new %>
    <% xx = Array.new %>
    <% yy = Array.new %>
    <% yy2 = Array.new %>
    <% yy3 = Array.new %>
    <% Record.order(:date).each do |r| %>
      <% xx_int.push((r.date-very_first_date).to_i) %>
      <% xx.push(convert_date(r.date)) %>
      <% yy.push(r.nb_questions_solved) %>
      <% yy2.push(r.nb_submissions) %>
      <% if r.avg_correction_time.nil? %>
        <% yy3.push(-1) %>
      <% else %>
        <% yy3.push(r.avg_correction_time) %>
      <% end %>
    <% end %>
    
    xxx_int = <%= ruby_to_javascript(xx_int) %>;
    xxx = <%= ruby_to_javascript_string(xx) %>;
    yyy = <%= ruby_to_javascript(yy) %>;
    
    graphique[1] = [xxx_int, xxx, yyy, '#myCanvas2', 'contenant2', 'blue'];
      
    yyy = <%= ruby_to_javascript(yy2) %>;
    graphique[2] = [xxx_int, xxx, yyy, '#myCanvas3', 'contenant3', 'red'];
      
    yyy = <%= ruby_to_javascript(yy3) %>;
    graphique[3] = [xxx_int, xxx, yyy, '#myCanvas4', 'contenant4', 'green'];
  <% end %>
  
  function respondCanvas(){
    <% if premierjour < dernierjour %>     
      drawGraph(0, false);
      drawGraph(1, true);
      drawGraph(2, true);
      drawGraph(3, false);
    <% end %>
  }
  
  function listen_all() {
    <% if premierjour < dernierjour %>  
      listen(0, false);
      listen(1, true);
      listen(2, true);
      listen(3, false);
    <% end %>
  }
  
  //Run function when browser  resize
  $(window).resize( respondCanvas );

  $(document).ready( function(){
    //Initial call
    listen_all();
    respondCanvas();
  });

</script>

