<% provide(:title, 'Fréquentation du site') %>

<% mois = ["janvier", "février", "mars", "avril", "mai", "juin", "juillet", "août", "septembre", "octobre", "novembre", "décembre"] %>
<% colors = ["#FFFFBB", "#FFBBBB", "#FFDD77", "#A0FFA0", "#AAF5FF", "#D8D8FF"] %>

<h1>Fréquentation du site</h1>

Le graphique suivant reprend le nombre d'étudiants connectés chaque jour sur le site, depuis le 19 mars 2015.<br/><br/>

<center>
<!-- Endroit pour dessiner la fréquentation -->
<div id="contenant" style="width:100%; max-width:900px; height:480px; position:relative; display:block;">
<canvas id="myCanvas" width="900" height="480" style="position:absolute; left:0px; top: 0px;">
Votre navigateur ne supporte pas les canvas.
</canvas>
</div>
</center>

<!-- Script pour le graphique de l'évolution -->
<% @visiteurs = Visitor.order("date").to_a %>

<% maxivisitor = 0 %>
<% premierjour = @visiteurs[0].date %>
<% dernierjour = DateTime.now.in_time_zone.to_date - 1 %>

<% if premierjour < dernierjour %>

<% @visiteurs = @visiteurs.take @visiteurs.size()-1 %>

<% @visiteurs.each do |v| %>
  <% if v.number_user > maxivisitor %>
    <% maxivisitor = v.number_user %>
  <% end %>
<% end %>

<% maxi = maxivisitor * 1.15 %>

<script type="text/javascript">
  $(document).ready( function(){

  //Get the canvas & context
  var c = $('#myCanvas');
  var ctx = c.get(0).getContext('2d');
  var container = $(c).parent();

  //Run function when browser  resize
  $(window).resize( respondCanvas );

  function respondCanvas(){
  c.attr('width', $(container).width() ); //max width
  c.attr('height', 480*$(container).width()/900.0); //max height

  document.getElementById('contenant').style.height = 480*$(container).width()/900.0 + "px"

  //Redraw & reposition content
  var x = c.width();
  var y = c.height();

  var pct = c.width()/900.0;

  ctx.beginPath();
  ctx.rect(pct*50, pct*5, pct*806, pct*450);
  ctx.fillStyle = 'white';
  ctx.fill();
  ctx.lineWidth = 1.5;
  ctx.strokeStyle = 'black';
  ctx.stroke();

  // Affichage des barres horizontales
  <% tranche = (maxivisitor/4).to_i %>
  <% if tranche == 0 %>
    <% tranche = 1 %>
  <% end %>

  <% encours = maxivisitor %>

  ctx.lineWidth = 0.5;
  ctx.strokeStyle = 'grey';
  ctx.font="14px Arial";
  ctx.fillStyle = 'black';
  ctx.textAlign = 'right';

  ctx.setLineDash([10, 10]);
  ctx.beginPath();
  
  <% while encours > 0 %>
    <% haut = [450 - 450*(encours/maxi), 0].max %>
    ctx.moveTo(pct*50, pct*<%= haut+5 %>);
    ctx.lineTo(pct*856, pct*<%= haut+5 %>);
    ctx.fillText(<%= encours %>,pct*44,pct*<%= haut+10 %>);
    <% encours = encours - tranche %>
  <% end %>

  ctx.stroke();
  ctx.setLineDash([]);

  // On trace maintenant le graphique
  ctx.strokeStyle = 'black';

  // Commencement du graphique

  <% first = premierjour %>
  <% last = dernierjour %>
  <% entre = (last-first).to_i %>
  // On parcourt de droite à gauche
  
  <% encours = @visiteurs.size()-1 %>

  <% printw = 10000 %>
  <% prevhadmin = 0 %>

  ctx.fillStyle = 'orange';
  ctx.strokeStyle = 'orange';
  ctx.font = "12px Arial";
  ctx.textAlign = 'center';
  ctx.lineWidth = 3;
  ctx.beginPath();
  <% j = 0 %>
  <% (0..entre).each do |i| %>
    <% if (last - @visiteurs[encours].date).to_i == i %>
      <% nbuser = @visiteurs[encours].number_user %>
      <% encours = encours-1 %>
    <% else %>
      <% nbuser = 0 %>
    <% end %>
    <% w = 3 + 800*(entre-i)/(entre) %>
    <% huser = 450 - 450*(nbuser/maxi) %>
    <% if i == 0 %>
      ctx.moveTo(pct*<%= 50+w %>, pct*<%= huser+5 %>);
    <% end %>
    <% if i > 0 %>
      ctx.lineTo(pct*<%= 50+w %>, pct*<%= huser+5 %>);
    <% end %>
  <% end %>
  
  ctx.stroke();

  ctx.fillStyle = 'black';
  ctx.lineWidth = 0.5;
  ctx.strokeStyle = 'grey';
  
  ctx.setLineDash([10, 10]);
  ctx.beginPath();

  <% encours = @visiteurs.size()-1 %>
  
  <% (0..entre).each do |i| %>
    <% w = 3 + 800*(entre-i)/(entre) %>
    <% if (last - @visiteurs[encours].date).to_i == i && w < printw - 50 %>
      <% j = j+1 %>
      <% courant = @visiteurs[encours].date %>
      if (pct > 0.8 || (pct > 0.7 && <%= j % 2 == 1 %>)){
        ctx.fillText("<%= "0" if courant.day < 10 %><%= courant.day %>/<%= "0" if courant.month < 10 %><%= courant.month %>/<%= "0" if (courant.year % 2000) < 10 %><%= (courant.year % 2000) %>",pct*<%= 50+w %>,pct*471);
      }
      
      ctx.moveTo(pct*<%= 50+w %>, pct*5);
      ctx.lineTo(pct*<%= 50+w %>, pct*455);
      
      <% printw = w %>
    <% end %>
    <% if (last - @visiteurs[encours].date).to_i == i %>
      <% encours = encours-1 %>
    <% end %>
  <% end %>
  
  ctx.stroke();
  ctx.setLineDash([]);

  }

  //Initial call
  respondCanvas();

  });

</script>

<% end %>
