<% def readable_number(n) %>
  <% if n == 0 %>
    <% return "0" %>
  <% end %>
  <% m = n %>
  <% num_digits = 0 %>
  <% ans = "" %>
  <% while(m > 0) %>
    <% if num_digits % 3 == 0 and num_digits > 0 %>
      <% ans = "&thinsp;" + ans %>
    <% end %>
    <% d = m % 10 %>
    <% ans = d.to_s + ans %>
    <% m = m/10 %>
    <% num_digits = num_digits + 1 %>
  <% end %>
  <% return ans %>
<% end %>

<!-- Gros titre Mathraining -->

<div class="home">

	<div class="row">
  <div class="col-lg-7 col-sm-7 col-xs-12">
  <center>
  <% if DateTime.now.in_time_zone.month == 1 %>
    <%= image_tag "mathraining-new-year.png", :style => "width:100%; max-width:400px;" %>
  <% else %>
    <%= image_tag "mathraining.png", :style => "width:100%; max-width:334px;" %>
  <% end %>
  </center>
  </div>
  <div class="col-lg-5 col-sm-5 col-xs-12">
  <% tot = User.where("admin = ?", false).sum(:rating) %>
  <% number = User.where("admin = ? AND rating > 0 AND active = ?", false, true).count %>
  <center>
  <table class="home-stats">
  <tr><td class="left"><%= raw(readable_number(number)) %></td><td class="right">utilisateurs classés</td></tr>
  <tr><td class="left"><%= raw(readable_number(Solvedproblem.count)) %></td><td class="right">problèmes résolus</td></tr>
  <tr><td class="left"><%= raw(readable_number(Solvedquestion.where("correct = ?", true).count)) %></td><td class="right">exercices résolus</td></tr>
  <tr><td class="left"><%= raw(readable_number(tot)) %></td><td class="right">points distribués</td></tr>
  </table>
  </center>
  </div>
  </div>
   
  <h3>
  Le site interactif d'entraînement aux Olympiades Internationales de Mathématiques
  </h3>
</div>

<% user_with_recent_corrections = User.left_joins(:followings).where("followings.created_at > ? AND kind = 1", Date.today).group(:id).select("users.*, count(followings.id) AS num_corrections").order("num_corrections DESC").to_a %>

<% if user_with_recent_corrections.size > 0 %>
  <div class="home_thanks">
    Merci aux correcteurs du jour :
    <% first = true %>
    <% user_with_recent_corrections.each do |u| %>
      <%= " - " unless first %>
      <% first = false %>
      <%= raw(u.linked_name) %>
      <% if @signed_in %>
        (<%= u.num_corrections %>)
      <% end %>
    <% end %>
  </div>
<% end %>

<!-- Afficher les actualités -->
<h1><%= title_1("Actualités") %></h1>
<% actualities = Actuality.order("created_at DESC").paginate(:page => params[:page], :per_page => 5) %>

<% actualities.each do |a| %>
  <%= render 'actualities/show', f: a %>
<% end %>

<center>
<%= will_paginate actualities, :style => "margin-top:-20px; #{'margin-bottom:-20px;' unless @signed_in && current_user.sk.admin?}", :class => "hidden-xs", :inner_window => 2 %>
<%= will_paginate actualities, :style => "margin-top:-5px; #{'margin-bottom: 15px;' if @signed_in && current_user.sk.admin?}", :class => "visible-xs", :renderer => WillPaginate::ActionView::LinkRenderer, :previous_label => "&larr; Préc.", :next_label => "Suiv. &rarr;", :inner_window => 1 %>
</center>


<!-- Ajouter une actualité -->
<% if @signed_in && current_user.sk.admin? %>
<center><%= link_to "Ajouter une actualité", new_actuality_path, :class => "btn btn-grey btn-default btn-lg" %></center>
<% end %>	


