<% def readable_number(n) %>
  <% if n == 0 %>
    <% return "0" %>
  <% end %>
  <% m = n %>
  <% num_digits = 0 %>
  <% ans = "" %>
  <% while(m > 0) %>
    <% if num_digits % 3 == 0 and num_digits > 0 %>
      <% ans = "&thinsp;" + ans %>
    <% end %>
    <% d = m % 10 %>
    <% ans = d.to_s + ans %>
    <% m = m/10 %>
    <% num_digits = num_digits + 1 %>
  <% end %>
  <% return ans %>
<% end %>

<!-- Gros titre Mathraining -->

<div class="home">

	<div class="grid" style="--bs-columns:12; --bs-gap:5px;">
    <div class="g-col-12 g-col-md-6 g-col-lg-7">
    <center>
    <%= image_tag "mathraining.png", :class => "light-theme-only", :style => "width:100%; max-width:334px;" %>
    <%= image_tag "mathraining-dark.png", :class => "dark-theme-only", :style => "width:100%; max-width:334px;" %>
    </center>
    </div>
    <div class="g-col-12 g-col-md-6 g-col-lg-5 pt-2">
    <% tot = User.where("admin = ?", false).sum(:rating) %>
    <% number = User.where("admin = ? AND rating > 0 AND active = ?", false, true).count %>
    <center>
    <table class="home-stats">
    <tr><td class="left top text-color-mt-blue"><%= raw(readable_number(number)) %></td><td class="right top">utilisateurs classés</td></tr>
    <tr><td class="left text-color-mt-blue"><%= raw(readable_number(Solvedproblem.count)) %></td><td class="right">problèmes résolus</td></tr>
    <tr><td class="left text-color-mt-blue"><%= raw(readable_number(Solvedquestion.count)) %></td><td class="right">exercices résolus</td></tr>
    <tr><td class="left bottom text-color-mt-blue"><%= raw(readable_number(tot)) %></td><td class="right bottom">points distribués</td></tr>
    </table>
    </center>
    </div>
  
    <div class="g-col-12">
      <h3 class="mt-3">
      Le site interactif d'entraînement aux Olympiades Internationales de Mathématiques
      </h3>
    </div>
  </div>
</div>

<% user_with_recent_corrections = User.left_joins(:followings).where(followings: {:kind => :first_corrector}).where("followings.created_at > ?", Date.today.in_time_zone).group(:id).select("users.*, count(followings.id) AS num_corrections").order("num_corrections DESC").to_a %>

<% num_users_to_display = user_with_recent_corrections.size %>
<% if num_users_to_display > 0 %>
  <div class="bg-as-table-ld-primary p-2 text-center mb-2">
    Merci au<%= 'x' if num_users_to_display > 1 %> correcteur<%= 's' if num_users_to_display > 1 %> du jour :
    <% first = true %>
    <% user_with_recent_corrections.each do |u| %>
      <%= " - " unless first %>
      <% first = false %>
      <%= raw(u.linked_name) %>
      <% if @signed_in %>
        (<%= u.num_corrections %>)
      <% end %>
    <% end %>
  </div>
<% end %>

<!-- Afficher les actualités -->
<%= render 'actualities/index' %>

