<!-- Gros titre Mathraining -->
<div class="center jumbotron" style="text-align:center; margin-top:20px; padding:25px;">

	<div class="row">

  <div class="col-lg-7 col-sm-7 col-xs-12">
  <center>
  <% if DateTime.now.in_time_zone.month == 1 or params[:bonneannee].to_i == 2018 %>
    <%= image_tag "mathraining-newyear.gif", :style => "width:100%; max-width:400px;" %>
  <% else %>
    <%= image_tag "mathraining.gif", :style => "width:100%; max-width:342px;" %>
  <% end %>
  </center>
  </div>
  <div class="col-lg-5 col-sm-5 col-xs-12">
  <% tot = 0 %>
  <% number = 0 %>
  <% User.where("admin = ? AND rating > 0", false).each do |u| %>
    <% tot = tot + u.rating %>
    <% number = number + 1 %>
  <% end %>
  <center>
  <table style="font-size:16px; border:2px dashed black; margin-top:25px; margin-bottom:10px;">
  <tr><td style="text-align:right; padding-left:8px; padding-right:10px; font-weight:bold; font-size:18px; color:rgb(3,109,170);"><%= number %></td><td style="text-align:left; padding-right:8px;">utilisateurs classés</td></tr>
  <tr><td style="text-align:right; padding-left:8px; padding-right:10px; font-weight:bold; font-size:18px; color:rgb(3,109,170);"><%= Solvedproblem.count %></td><td style="text-align:left; padding-right:8px;">problèmes résolus</td></tr>
  <tr><td style="text-align:right; padding-left:8px; padding-right:10px; font-weight:bold; font-size:18px; color:rgb(3,109,170);"><%= Solvedexercise.where("correct = ?", true).count + Solvedqcm.where("correct = ?", true).count %></td><td style="text-align:left; padding-right:8px;">exercices résolus</td></tr>
  <tr><td style="text-align:right; padding-left:8px; padding-right:10px; font-weight:bold; font-size:18px; color:rgb(3,109,170);"><%= tot %></td><td style="text-align:left; padding-right:8px;">points distribués</td></tr>
  </table>
  </center>
  </div>
  </div>
   
  <h3>
  Le site interactif d'initiation à la résolution de problèmes mathématiques avancés
  </h3>
</div>

<!-- Afficher les actualités -->
<h1>Actualités <%= link_to image_tag("rss.png", alt: 'rss'), feed_path %></h1>
<% actualities = Actuality.order("created_at DESC").paginate(:page => params[:page], :per_page => 5) %>

<% actualities.each do |a| %>
  <%= render 'actualities/show', f: a %>
<% end %>

<center>
<%= will_paginate actualities, :style => "margin-top:-10px;", :class => "hidden-xs" %>
<%= will_paginate actualities, :style => "margin-top:-10px;", :class => "visible-xs", :previous_label => "Préc.", :next_label => "Suiv." %>
</center>


<!-- Ajouter une actualité -->
<% if signed_in? && current_user.sk.admin? %>
<center><%= link_to "Ajouter une actualité", new_actuality_path, :class => "btn btn-grey btn-default btn-lg" %></center>
<% end %>	


