<% recent_corrections = Following.includes(:user).where(:kind => :first_corrector).where("created_at > ?", Date.today.in_time_zone).group(:user_id).select("count(followings.id) AS num_corrections, user_id").order("num_corrections DESC").to_a %>

<!-- Barre de progrès pour les correcteurs -->

<% if signed_in? && (current_user.admin? || current_user.corrector?) %>
  <% num_my_corrections = 0 %>
  <% recent_corrections.each do |f| %>
    <% num_my_corrections = f.num_corrections if f.user_id == current_user.id %>
  <% end %>
  <% pct = [20*num_my_corrections, 100].min %>
  <div class="progress" style="margin-top:3px;">
    <% if num_my_corrections > 0 %>
      <div class="progress-bar bg-success" role="progressbar" style="width: <%= pct %>%" aria-valuenow="<%= pct %>" aria-valuemin="0" aria-valuemax="100">
        <% if num_my_corrections < 5 %>
          <%= num_my_corrections %> / 5
        <% else %>
          Merci pour ces <%= num_my_corrections %> corrections !
        <% end %>
      </div>
    <% else %>
      <div class="text-center" style="width:100%">
        Pour votre santé, corrigez 5 soumissions par jour !
      </div>
    <% end %>
  </div>
<% end %>

<!-- Gros titre Mathraining -->

<div class="home">
  <div class="grid" style="--bs-columns:12; --bs-gap:5px;">
  <% show_correction_target = signed_in? && (current_user.admin? || current_user.corrector?) %>
  <% if show_correction_target %>
    <div class="g-col-12 g-col-lg-7 g-col-xl-6 mt-n2">
    <%= render 'correction_target' %>
    </div>
    <div class="g-col-12 g-col-lg-5 g-col-xl-6">
      <div class="d-none d-lg-block" style="width:100%; height:40px;"></div>
      <div class="d-none d-lg-block d-xl-none" style="width:100%; height:20px;"></div>
      <center>
      <div class="d-block d-xl-none">
      <%= image_tag "mathraining.png", :class => "light-theme-only", :style => "width:100%; max-width:334px;" %>
      <%= image_tag "mathraining-dark.png", :class => "dark-theme-only", :style => "width:100%; max-width:334px;" %>
      </div>
      <div class="d-none d-xl-block">
      <%= image_tag "mathraining.png", :class => "light-theme-only", :style => "width:440px;" %>
      <%= image_tag "mathraining-dark.png", :class => "dark-theme-only", :style => "width:440px;" %>
      </div>
      </center>
      <div class="d-none d-lg-block" style="width:100%; height:30px;"></div>
      <div class="d-none d-lg-block d-xl-none" style="width:100%; height:20px;"></div>
      <div class="d-block d-lg-none" style="width:100%; height:12px;"></div>
  <% else %>
    <div class="g-col-12 g-col-md-6 g-col-lg-7">
      <center>
      <%= image_tag "mathraining.png", :class => "light-theme-only", :style => "width:100%; max-width:334px;" %>
      <%= image_tag "mathraining-dark.png", :class => "dark-theme-only", :style => "width:100%; max-width:334px;" %>
      </center>
    </div>
    <div class="g-col-12 g-col-md-6 g-col-lg-5 pt-2">
  <% end %>
    <% statistic = Globalstatistic.get %>
    <% f = (Rails.env.development? ? 1000 : 1) %>
      <center>
      <table class="home-stats">
      <tr><td class="left top text-color-mt-blue"><%= raw(write_readable_big_number(statistic.nb_ranked_users * f)) %></td><td class="right top">utilisateurs classés</td></tr>
      <tr><td class="left text-color-mt-blue"><%= raw(write_readable_big_number(statistic.nb_solvedproblems * f)) %></td><td class="right">problèmes résolus</td></tr>
      <tr><td class="left text-color-mt-blue"><%= raw(write_readable_big_number(statistic.nb_solvedquestions * f)) %></td><td class="right">exercices résolus</td></tr>
      <tr><td class="left bottom text-color-mt-blue"><%= raw(write_readable_big_number(statistic.nb_points * f)) %></td><td class="right bottom">points distribués</td></tr>
      </table>
      </center>
    </div>
    <div class="g-col-12">
      <h3 class="mt-3">
      Le site interactif d'entraînement aux Olympiades Internationales de Mathématiques
      </h3>
    </div>
  </div>
</div>

<% num_users_to_display = recent_corrections.size %>
<% if num_users_to_display > 0 %>
  <div class="bg-as-table-ld-primary p-2 text-center mb-2">
    Merci au<%= 'x' if num_users_to_display > 1 %> correcteur<%= 's' if num_users_to_display > 1 %> du jour :
    <% first = true %>
    <% recent_corrections.each do |f| %>
      <%= " - " unless first %>
      <% first = false %>
      <%= raw(f.user.linked_name) %><%= "&nbsp;(#{f.num_corrections})".html_safe if signed_in? %>
    <% end %>
  </div>
<% end %>

<!-- Afficher les actualités -->
<%= render 'actualities/index' %>

