<% iciadmin = false %>
<% if current_user.sk.admin? && (m.user.nil? || m.user.admin?) %>
  <% iciadmin = true %>
<% end %>

<% if !(defined? postfix) %>
  <% postfix = "" %>
<% end %>

<% if !(defined? show_mail_checkboxes) %>
  <% show_mail_checkboxes = false %>
<% end %>

<% erreur = false %>

<% if !session["error#{postfix}"].nil? %>
  <% erreur = true %>
  <%= render 'shared/error_messages', errors: session["error#{postfix}"] %>
<% end %>


<div class="mb-2">
  <% cont = m.content %>
  <% if erreur && !session[:oldContent].nil? %>
    <% cont = session[:oldContent] %>
  <% end %>
  <%= f.label :content, :for => "MathInput#{postfix}", :disabled => current_user.other, :class => "form-label" %>
  <%= render 'shared/preview', postfix: postfix %>
  <%= render 'shared/smiley', postfix: postfix, hiddentext: true %>
  <%= f.text_area :content, :value => cont, :maxlength => "8000", :class => "form-control", :style => "height:200px;", :id => "MathInput#{postfix}", :onkeyup => "PreviewSafe.MyUpdate()", :disabled => current_user.other %>
  <!-- Do not call initAndUpdatePreviewSafeWhenPossible: it will be done only after rolling to show the form -->
</div>

<!-- Case e-mails aux groupes A et/ou B -->
<% if current_user.sk.root && show_mail_checkboxes && !@subject.for_correctors %>
	<div class="form-check">
  <label class="form-check-label">
    <%= check_box_tag "groupeA", "A", false, :class => "form-check-input", :disabled => current_user.other %>
    Prévenir tout le groupe A de ce nouveau message par e-mail.
  </label>
  </div>
  <div class="form-check mb-2">
  <label class="form-check-label">
    <%= check_box_tag "groupeB", "B", false, :class => "form-check-input", :disabled => current_user.other %>
    Prévenir tout le groupe B de ce nouveau message par e-mail.
  </label>
  </div>
<% end %>

<% if !session["error#{postfix}"].nil? %>
  <script>rollingDevelopQuickWhenPossible("<%= postfix %>", true)</script>
  <% session.delete("error#{postfix}") %>
  <% session.delete("oldContent") %>
<% end %>

<% if !session["success#{postfix}"].nil? %>
  <script>rollingShowusWhenPossible("<%= postfix %>")</script>
  <% session.delete("success#{postfix}") %>
<% end %>
