<% iciadmin = false %>
<% if current_user.sk.admin? && (m.user.nil? || m.user.admin?) %>
  <% iciadmin = true %>
<% end %>

<% if @postfix.nil? %>
  <% @postfix = "" %>
<% end %>

<% erreur = false %>

<% if !session["error#{@postfix}"].nil? %>
  <% erreur = true %>
  <% erreurs = session["error#{@postfix}"] %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      <%= errors_to_list(erreurs) %>
    </div>
  </div>
<% end %>


<div class="form-group">
  <% cont = m.content %>
  <% if erreur && !session[:oldContent].nil? %>
    <% cont = session[:oldContent] %>
  <% end %>
  <%= f.label :content, :disabled => current_user.other %>
  <div class="well" id="MathPreview<%= @postfix %>"></div>
  <div class="well hidden-preview" id="MathBuffer<%= @postfix %>"></div>
  <%= render 'subjects/smiley', hiddentext: true %>
  <%= f.text_area :content, :value => cont, :maxlength => "8000", :class => "form-control", :style => "height:200px; margin-top:5px;", :id=>"MathInput#{@postfix}", :onkeyup => "PreviewSafe.MyUpdate()", :disabled => current_user.other %>
</div>

<!-- Case e-mails aux groupes A et/ou B -->
<% if current_user.sk.root && @new && !@subject.for_correctors %>
	<div class="checkbox">
  <label>
    <input type="checkbox" id="groupeA" name="groupeA" value="A" <%= 'disabled="true"' if current_user.other %> >
    Prévenir tout le groupe A de ce nouveau message par e-mail.
  </label>
  </div>
  <div class="checkbox">
  <label>
    <input type="checkbox" id="groupeB" name="groupeB" value="B" <%= 'disabled="true"' if current_user.other %> >
    Prévenir tout le groupe B de ce nouveau message par e-mail.
  </label>
  </div>
<% end %>

<% if !session["error#{@postfix}"].nil? %>
  <script>
    Rolling.develop_quick("<%= @postfix %>");
  </script>
  <% session.delete("error#{@postfix}") %>
  <% session.delete("oldContent") %>
<% end %>

<% if !session["success#{@postfix}"].nil? %>
  <script>
    Rolling.showus("<%= @postfix %>");
  </script>
  <% session.delete("success#{@postfix}") %>
<% end %>
