<% if !defined?(postfix) %>
  <% postfix = "" %>
<% end %>

<% if !defined?(show_mail_checkboxes) %>
  <% show_mail_checkboxes = false %>
<% end %>

<% erreur = false %>

<% if @error_case == "error#{postfix}" %>
  <% erreur = true %>
  <%= render 'shared/error_messages', errors: @error_msgs %>
<% end %>


<div class="mb-2">
  <% cont = m.content %>
  <% if erreur %>
    <% cont = @error_params[:content] if @error_params.has_key?(:content) %>
  <% end %>
  <%= f.label :content, :for => "MathInput#{postfix}", :class => "form-label" %>
  <%= render 'shared/preview', postfix: postfix %>
  <%= render 'shared/smiley', postfix: postfix, hiddentext: true %>
  <%= f.text_area :content, :value => cont, :maxlength => "8000", :class => "form-control", :style => "height:200px;", :id => "MathInput#{postfix}", :oninput => "Preview.MyUpdate()" %>
  <!-- Do not call initAndUpdatePreviewSafeWhenPossible: it will be done only after rolling to show the form -->
</div>

<!-- Case e-mails aux groupes A et/ou B -->
<% if current_user.root? && show_mail_checkboxes && @subject.for_wepion %>
  <div class="form-check">
  <label class="form-check-label">
    <%= check_box_tag "emailWepion", "A", false, :class => "form-check-input" %>
    Prévenir tous les élèves de Wépion de ce nouveau message par e-mail.
  </label>
  </div>
<% end %>

<% if erreur %>
  <script>rollingDevelopQuickWhenPossible("<%= postfix %>", /* enableHiddenText = */ true)</script>
<% end %>
