<% iciadmin = false %>
<% if current_user.sk.admin? && (m.user.nil? || m.user.admin?) %>
  <% iciadmin = true %>
<% end %>

<% if @champ.nil? %>
  <% @champ = "" %>
<% end %>

<% erreur = false %>

<% if !session["error#{@champ}"].nil? %>
  <% erreur = true %>
  <% erreurs = session["error#{@champ}"] %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      Le formulaire contient <%= pluralize(erreurs.count, "erreur") %>.
    <ul>
    <% erreurs.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
    </div>
  </div>
<% end %>


<div class="form-group">
  <% cont = m.content %>
  <% if erreur && !session[:oldContent].nil? %>
    <% cont = session[:oldContent] %>
  <% end %>
  <%= f.label :content, :disabled => current_user.other %>
  <div class="well" id="MathPreview<%= @champ %>"></div>
  <div class="well hidden-preview" id="MathBuffer<%= @champ %>"></div>
  <%= render 'subjects/smiley', hiddentext: true %>
  <%= f.text_area :content, :value => cont, :maxlength => "8000", :class => "form-control", :style => "height:200px; margin-top:5px;", :id=>"MathInput#{@champ}", :onkeyup => "PreviewSafe.MyUpdate()", :disabled => current_user.other %>

<!-- Case e-mails aux groupes A et/ou B -->
<% if current_user.sk.admin && @new && !@subject.admin %>
	<br/>
  <label style="font-weight:normal;">
    <input type="checkbox" id="groupeA" name="groupeA" value="A" <%= 'disabled="true"' if current_user.other %> >
    Prévenir tout le groupe A de ce nouveau message par e-mail.
  </label>
  <br/>
  <label style="font-weight:normal;">
    <input type="checkbox" id="groupeB" name="groupeB" value="B" <%= 'disabled="true"' if current_user.other %> >
    Prévenir tout le groupe B de ce nouveau message par e-mail.
  </label>
<% end %>
</div>

<% if !session["error#{@champ}"].nil? %>
  <script>
    Rolling.develop_quick("<%= @champ %>");
  </script>
  <% session.delete("error#{@champ}") %>
  <% session.delete("oldContent") %>
<% end %>

<% if !session["success#{@champ}"].nil? %>
  <script>
    Rolling.showus("<%= @champ %>");
  </script>
  <% session.delete("success#{@champ}") %>
<% end %>
