<% @champ = "NewMessage" %>

<div id="the<%= @champ %>" style="overflow-y:hidden; text-align:center;">
<button onclick='return Rolling.develop("<%= @champ %>")' class='btn btn-lg btn-default btn-grey' style='margin-top:15px; margin-bottom:1px;'>Répondre</button>
</div>

<div id="form<%= @champ %>" style="overflow-y:hidden; height:0px;">

<% @message = Message.new %>
<%= form_for [@subject, @message], :url => subject_messages_path(@subject, @message, :action => :create, :q => @q), :html => { :multipart => true, :style => "margin-top:20px;" } do |f| %>
  <%= render 'messages/form', f: f, m: @message %>
  <span id="fooBar<%= @champ %>"></span>
  <input type="button" value="Ajouter une pièce jointe" onclick="Joint.add(document.getElementById('fooBar<%= @champ %>'))" <%= 'disabled="disabled"' if current_user.other %> />
  <% lastid = -1 %>
  <% lastmessage = @subject.messages.order("id DESC").first %>
  <% if !lastmessage.nil? %>
    <% lastid = lastmessage.id %>
  <% end %>
  <input type="hidden" name="lastmessage" value="<%= lastid %>">
  <br/><br/>
  <%= f.submit "Poster", class: "btn btn-lg btn-primary", :disabled => current_user.other %>
  <button class="btn btn-lg btn-default btn-grey" onclick="return Rolling.hideActual();">Annuler</button>
<% end %>

</div>
