<% postfix = "NewMessage" %>

<div id="the<%= postfix %>" class="content-part text-center">
  <button onclick='return Rolling.develop("<%= postfix %>")' class='btn btn-lg btn-ld-light-dark mb-3'>Répondre</button>
</div>

<div id="form<%= postfix %>" class="form-part px-1" style="height:0px;">

<% message = Message.new %>
<%= form_for [subject, message], :url => subject_messages_path(subject, message, :action => :create, :q => @q), :html => { :multipart => true, :class => "mb-3" } do |f| %>
  <%= render 'messages/form', f: f, message: message, postfix: postfix, show_mail_checkboxes: true %>
  <%= render 'shared/edit_files', postfix: postfix %>
  
  <% lastid = -1 %>
  <% lastmessage = subject.messages.order("id DESC").first %>
  <% if !lastmessage.nil? %>
    <% lastid = lastmessage.id %>
  <% end %>
  <%= hidden_field_tag "lastmessage", lastid %>

  <%= f.submit "Poster", class: "btn btn-lg btn-primary", :disabled => in_skin? %>
  <button class="btn btn-lg btn-ld-light-dark" onclick="return Rolling.hideActual();">Annuler</button>
<% end %>

</div>
