<% postfix = "Message#{message.id}" %>

<% can_edit = !message.new_record? && message.can_be_updated_by(current_user) %>

<div id="the<%= postfix %>" class="content-part">
<%= render 'shared/post', ms: message, kind: "message", can_edit: can_edit, postfix: postfix %>
</div>

<% if can_edit %>
  <div id="form<%= postfix %>" class="form-part px-1" style="height:0px;">
  <%= render 'messages/edit', message: message, postfix: postfix %>
  </div>
<% end %>

<% if params.has_key?(:msg) && (params[:msg].to_i == message.id) %>
  <script>rollingShowusWhenPossible("<%= postfix %>")</script>
<% end %>
