<% mois = ["janvier", "février", "mars", "avril", "mai", "juin", "juillet", "août", "septembre", "octobre", "novembre", "décembre"] %>
<% provide(:title, 'Répondre') %>
<h1>Répondre</h1>

    <%= form_for([@subject, @message]) do |f| %>
      <%= render 'form', f: f %>
      <br />
      <%= f.submit "Poster", class: "btn btn-large btn-primary" %>
    <% end %>


<h2>Messages récents</h2>

<% messages = @subject.messages.order("id DESC").slice(0,5) %>

<% messages.each do |m| %>

<table class="table table-bordered" style="margin-top:20px;">
<tr class="info">
<td style="font-size:20px; font-weight:bold; padding:15px; border-right:none;"><%= m.user.name %> </td>
<td style="text-align:right; font-size:20px; padding:15px; border-left:none;">
<% date = m.created_at.in_time_zone %>
<%= date.day %> <%= mois[date.month-1] %> <%= date.year %> à <%= date.hour %>h<%= "0" if date.min < 10 %><%= date.min %>
</td>
</tr>

<tr><td colspan="2" style="padding:15px;">
<div>
<%= raw(m.content.gsub(/<hr>[ \r]*\n/,'<hr>').gsub(/\\][ \r]*\n/,'\] ').gsub(/\$\$[ \r]*\n/,'$$ ').gsub(/<\/h2>[ \r]*\n/,'</h2>').gsub(/<\/h3>[ \r]*\n/,'</h3>').gsub(/<\/h4>[ \r]*\n/,'</h4>').gsub(/<\/ol>[ \r]*\n/, '</ol>').gsub(/\n[ \r]*<\/ol>/, '</ol>').gsub(/<\/ul>[ \r]*\n/, '</ul>').gsub(/\n[ \r]*<\/ul>/, '</ul>').gsub(/\n[ \r]*<li>/, '<li>').gsub(/\n/, '<br/>')) %>	
</div>
</td></tr>

</table>

<% end %>

<% if messages.size < 5 %>

<table class="table table-bordered" style="margin-top:20px;">
<tr class="info">
<td style="font-size:20px; font-weight:bold; padding:15px; border-right:none;"><%= @subject.user.name %> </td>
<td style="text-align:right; font-size:20px; padding:15px; border-left:none;">
<% date = @subject.created_at.in_time_zone %>
<%= date.day %> <%= mois[date.month-1] %> <%= date.year %> à <%= date.hour %>h<%= "0" if date.min < 10 %><%= date.min %>
</td>
</tr>

<tr><td colspan="2" style="padding:15px;">
<div>
<%= raw(@subject.content.gsub(/<hr>[ \r]*\n/,'<hr>').gsub(/\\][ \r]*\n/,'\] ').gsub(/\$\$[ \r]*\n/,'$$ ').gsub(/<\/h2>[ \r]*\n/,'</h2>').gsub(/<\/h3>[ \r]*\n/,'</h3>').gsub(/<\/h4>[ \r]*\n/,'</h4>').gsub(/<\/ol>[ \r]*\n/, '</ol>').gsub(/\n[ \r]*<\/ol>/, '</ol>').gsub(/<\/ul>[ \r]*\n/, '</ul>').gsub(/\n[ \r]*<\/ul>/, '</ul>').gsub(/\n[ \r]*<li>/, '<li>').gsub(/\n/, '<br/>')) %>	
</div>
</td></tr>

</table>

<% end %>

<% tot = @subject.messages.count %>
<% page = [0,((tot-1)/10).floor].max + 1 %>
<center><%= link_to "Retour à la discussion", subject_path(@subject, :anchor => "bottom", :page => page) %></center>

<script>
Preview.Init();
Preview.Update();
</script>
