<SCRIPT language="javascript">
var i = 1;
function add() {

    //Create an input type dynamically.
    var element = document.createElement("input");
    var element2 = document.createElement("input");

    //Assign different attributes to the element.
    element.setAttribute("type", "file");
    element.setAttribute("name", "file"+i);

    element2.setAttribute("type", "hidden");
    element2.setAttribute("name", "hidden"+i);
    element2.setAttribute("value", "ok");

    var foo = document.getElementById("fooBar");
    var br = document.createElement("br");

    if(i == 1)
    {
      var avert = document.createElement("p");
      var bold = document.createElement("b");
      var text = document.createTextNode("Taille totale autorisée : 10 Mo. Type de fichiers autorisés : zip, pdf, doc, gif, jpg, png, bmp.");
      bold.appendChild(text);
      avert.appendChild(bold);
      foo.appendChild(avert);
      foo.appendChild(br);
    }

    i = i+1;

    //Append the element in page (in span).
    foo.appendChild(element2);
    foo.appendChild(element);
    foo.appendChild(br);
}
</SCRIPT>

<% mois = ["janvier", "février", "mars", "avril", "mai", "juin", "juillet", "août", "septembre", "octobre", "novembre", "décembre"] %>
<% provide(:title, 'Répondre') %>

<% q = 0 %>
<% if(params.has_key?:q) %>
  <% q = params[:q].to_i %>
<% end %>

<% tot = @subject.messages.count %>
<% page = [0,((tot-1)/10).floor].max + 1 %>

<h1>
<span style="font-size:16px;"><%= link_to "Forum", subjects_path(:q => q) %> ></span>
<span style="font-size:24px;"><%= link_to @subject.title, subject_path(@subject, :anchor => "bottom", :page => page, :q => q) %> ></span>
Répondre
</h1>

<span style="color:red;">Veillez à ne dévoilez aucune solution à un exercice ou un problème.</span><br/><br/>
<% if @chapter.nil? %>
  <% quoi = [@subject, @message] %>
<% else %>
  <% quoi = [@chapter, @subject, @message] %>
<% end %>

<%= form_for quoi, :html => { :multipart => true } do |f| %>
  <%= render 'form', f: f %>
  <span id="fooBar"></span>
  <input type="button" value="Ajouter une pièce jointe" onclick="add()"/>
  <br /><br/>
  <%= f.submit "Poster", class: "btn btn-lg btn-primary", :disabled => current_user.other %>
<% end %>

<h2>Messages récents</h2>

<% messages = @subject.messages.order("id DESC").slice(0,5) %>

<% messages.each do |m| %>

<table class="table table-bordered" style="margin-top:20px;">

<tr class="info hidden-xs">
<td style="font-size:20px; font-weight:bold; padding:10px; padding-left:15px; border-right:none;">
<% if m.user.admin %>
  <%= m.user.name %>
<% else %>
  <%= link_to m.user.name, m.user, {:style => "color:#{m.user.level[:color]}" } %>
<% end %>
</td>
<td style="vertical-align:middle; text-align:right; font-size:20px; padding-right:15px; border-left:none;">
<% date = m.created_at.in_time_zone %>
<%= date.day %> <%= mois[date.month-1] %> <%= date.year %> à <%= date.hour %>h<%= "0" if date.min < 10 %><%= date.min %>
</td>
</tr>

<tr class="info visible-xs">
<td style="font-size:20px; font-weight:bold; padding:10px; padding-left:15px; border-right:none;">
<% if m.user.admin %>
  <%= m.user.name %>
<% else %>
  <%= link_to m.user.name, m.user, {:style => "color:#{m.user.level[:color]}" } %>
<% end %>
</td>
</tr>
<tr class="info visible-xs">
<td style="vertical-align:middle; text-align:right; font-size:20px; padding-right:15px; border-left:none;">
<% date = m.created_at.in_time_zone %>
<%= date.day %> <%= mois[date.month-1] %> <%= date.year %> à <%= date.hour %>h<%= "0" if date.min < 10 %><%= date.min %>
</td>
</tr>

<tr><td colspan="2" style="padding:15px;">
<div>
<%= raw(bbcode(m.content)) %>
</div>
</td></tr>

</table>

<% end %>

<% if messages.size < 5 %>

<table class="table table-bordered" style="margin-top:20px;">

<tr class="info hidden-xs">
<td style="font-size:20px; font-weight:bold; padding:10px; padding-left:15px; border-right:none;">
<% if @subject.user.admin %>
  <%= @subject.user.name %>
<% else %>
  <%= link_to @subject.user.name, @subject.user, {:style => "color:#{@subject.user.level[:color]}" } %>
<% end %>
</td>
<td style="vertical-align:middle; text-align:right; font-size:20px; padding-right:15px; border-left:none;">
<% date = @subject.created_at.in_time_zone %>
<%= date.day %> <%= mois[date.month-1] %> <%= date.year %> à <%= date.hour %>h<%= "0" if date.min < 10 %><%= date.min %>
</td>
</tr>

<tr class="info visible-xs">
<td style="font-size:20px; font-weight:bold; padding:10px; padding-left:15px; border-right:none;">
<% if @subject.user.admin %>
  <%= @subject.user.name %>
<% else %>
  <%= link_to @subject.user.name, @subject.user, {:style => "color:#{@subject.user.level[:color]}" } %>
<% end %>
</td>
</tr>
<tr class="info visible-xs">
<td style="vertical-align:middle; text-align:right; font-size:20px; padding-right:15px; border-left:none;">
<% date = @subject.created_at.in_time_zone %>
<%= date.day %> <%= mois[date.month-1] %> <%= date.year %> à <%= date.hour %>h<%= "0" if date.min < 10 %><%= date.min %>
</td>
</tr>

<tr><td colspan="2" style="padding:15px;">
<div>
<%= raw(bbcode(@subject.content)) %>
<% if @subject.subjectfiles.size > 0 %>
  <% if @subject.subjectfiles.size == 1 %>
    <br/><br/><b>1 pièce jointe.</b>
  <% else %>
    <br/><br/><b><%= @subject.subjectfiles.size %> pièces jointes.</b>
  <% end %>
<% end %>
</div>
</td></tr>

</table>

<% end %>

<script>
PreviewSafe.Init();
PreviewSafe.Update();
</script>
