<script type="text/javascript">
function showStuff(id) {
    document.getElementById("indice" + id).style.display = 'inline';
    document.getElementById("show" + id).style.display = 'none';
    document.getElementById("hide" + id).style.display = 'inline';
}
function hideStuff(id) {
    document.getElementById("indice" + id).style.display = 'none';
    document.getElementById("show" + id).style.display = 'inline';
    document.getElementById("hide" + id).style.display = 'none';
}
</script>

<% mois = ["janvier", "février", "mars", "avril", "mai", "juin", "juillet", "août", "septembre", "octobre", "novembre", "décembre"] %>
<% provide(:title, 'Répondre') %>

<% @nb_indice = 0 %>

<% @new = true %>
<% q = 0 %>
<% if(params.has_key?:q) %>
  <% q = params[:q].to_i %>
<% end %>

<% tot = @subject.messages.count %>
<% page = [0,((tot-1)/10).floor].max + 1 %>

<h1>
<span style="font-size:16px;"><%= link_to "Forum", subjects_path(:q => q) %> ></span>
<span style="font-size:24px;"><%= link_to @subject.title, subject_path(@subject, :anchor => "bottom", :page => page, :q => q) %> ></span>
Répondre
</h1>

<span style="color:red;">Veillez à ne dévoiler aucune solution à un exercice ou un problème. Si vous devez donner des éléments de solution pour expliquer un souci, écrivez-les en <i>texte caché</i>.</span><br/><br/>

<!-- Formulaire -->

<%= form_for [@subject, @message], :url => subject_messages_path(@subject, @message, :action => :create, :q => q), :html => { :multipart => true } do |f| %>
  <%= render 'form', f: f %>
  <span id="fooBar"></span>
  <input type="button" value="Ajouter une pièce jointe" onclick="Joint.add()" <%= 'disabled="disabled"' if current_user.other %> />
  <% lastid = -1 %>
  <% lastmessage = @subject.messages.order("id DESC").first %>
  <% if !lastmessage.nil? %>
    <% lastid = lastmessage.id %>
  <% end %>
  <input type="hidden" name="lastmessage" value="<%= lastid %>">
  <br /><br/>
  <%= f.submit "Poster", class: "btn btn-lg btn-primary", :disabled => current_user.other %>
<% end %>

<!-- Messages récents -->
<h2>Messages récents</h2>

<!-- Affiche les 5 derniers messages -->
<% messages = @subject.messages.order("id DESC").limit(5) %>

<% messages.each do |m| %>
  <%= render 'subjects/message', m: m, canmodif: false %>
<% end %>

<!-- Si moins de 5 messages, on affiche le sujet également -->
<% if messages.size < 5 %>
  <%= render 'subjects/subject', s: @subject, canmodif: false %>
<% end %>

<script>
PreviewSafe.Init();
PreviewSafe.Update();
</script>
