<% provide(:title, "Connexion") %>

<!-- On est redirigé ici si on essaye d'accéder à une page qui nécessite d'être connecté -->
<h1><%= title_1("Connexion") %></h1>

<%= form_for(:session, url: sessions_path) do |f| %>
  <div class="mb-2">
    <%= f.label :email, :class => "form-label" %>
    <%= f.email_field :email, :class => "form-control", :style => "width:200px;", :id => "connect_email" %>
  </div>
			
  <div class="mb-2">
    <%= f.label :password, "Mot de passe", :class => "form-label" %>
    <%= f.password_field :password, :class => "form-control", :style => "width:200px;", :id => "connect_password" %>
  </div>
  
  <div class="form-check mb-2">
  <label class="form-check-label">
    <%= f.check_box :remember_me, :id => "connect_remember", :class => "form-check-input" %>
    Garder ma session active
  </label>
  </div>
  
  <%= f.submit "Connexion", class: "btn btn-lg btn-primary mb-3", id: "connect_button" %>
<% end %>

<p><%= link_to "J'ai oublié mon mot de passe", forgot_password_path %></p>

<p>Pas encore inscrit ? <%= link_to "Inscrivez-vous", signup_path %> maintenant !</p>
