<%= render 'shared/error_messages', object: f.object %>

<!-- Question -->
<div class="mb-2">
  <%= f.label :question, :class => "form-label" %>
  <%= f.text_field :question, :style => "width:100%; max-width:400px;", :class => "form-control" %>
</div>

<!-- Réponse -->
<div class="mb-2">
  <%= f.label :answer, :class => "form-label" %>
  <%= render 'shared/preview' %>
  <%= render 'shared/font' %>
  <%= f.text_area :answer, :class => "form-control", :maxlength => "8000", :style => "height:200px;", :id=>"MathInput", :onkeyup => "Preview.MyUpdate()" %>
  <script>initAndUpdatePreviewWhenPossible()</script>
</div>
