<h4><%= faq.question %></h4>

<div class="mb-3">
<%= raw(htmlise(faq.answer)) %>
</div>

<% if @signed_in && current_user.sk.admin? %>
  <p class="text-center">
  <%= link_to "Modifier la question", edit_faq_path(faq) %> |
  <%= link_to "Supprimer la question", faq, :method => :delete, data: { confirm: "Êtes-vous sûr de vouloir supprimer cette question ?" } %>
  
  <% if !is_first || !is_last %>
    | Déplacer vers le
    <%= link_to "haut", faq_order_minus_path(faq), :method => :put unless is_first %>
    <%= "/" unless is_first || is_last %>
    <%= link_to "bas", faq_order_plus_path(faq), :method => :put unless is_last %>
  <% end %>
  </p>
<% end %>
