<h1><%= title_1("Questions fréquemment posées") %></h1>

<% num_faqs = @faqs.size %>
<% i = 0 %>
<% @faqs.each do |f| %>
  <h4><%= f.question %></h4>

  <div class="mb-3">
  <%= raw(htmlise(f.answer)) %>
  </div>

  <% if signed_in? && current_user.sk.admin? %>
    <p class="text-center">
    <%= link_to "Modifier la question", edit_faq_path(f) %> |
    <%= link_to "Supprimer la question", f, :method => :delete, data: { confirm: "Êtes-vous sûr de vouloir supprimer cette question ?" } %>
    
    <% if num_faqs > 1 %>
      | Déplacer vers le
      <%= link_to "haut", faq_order_path(f, :new_position => @faqs[i-1].position), :method => :put if i > 0 %>
      <%= "-" if i > 0 && i < num_faqs-1 %>
      <%= link_to "bas", faq_order_path(f, :new_position => @faqs[i+1].position), :method => :put if i < num_faqs-1 %>
    <% end %>
    </p>
  <% end %>
    
  <% i = i+1 %>
<% end %>

<!-- Ajouter une question -->
<% if signed_in? && current_user.sk.admin? %>
<center><%= button_to "Ajouter une question", new_faq_path, :class => "btn btn-lg btn-ld-light-dark", :method => "get" %></center>
<% end %>	
