<div class="list-group chap-menu" style="margin-bottom:0px;">
  <br/>
  <h4 class="list-group-item-heading">Nouveau message</h4>
  <%= link_to "Nouvelle discussion", new_discussion_path, :class => "list-group-item #{"active" if @nouveau}" %>
  <br/>
  <h4 class="list-group-item-heading">Discussions</h4>

  <% number = Array.new %>

  <% current_user.sk.links.each do |l| %>
    <% number[l.discussion_id] = l.nonread %>
  <% end %>

  <% combien = 0 %>

  <% current_user.sk.discussions.order("last_message DESC").each do |d| %>
    <% other = current_user.sk %>
    <% d.users.each do |u| %>
      <% if u != current_user.sk %>
        <% other = u %>
      <% end %>
    <% end %>

    <% date = d.tchatmessages.order("created_at DESC").first.created_at %>
    
    <%= link_to d, :class => "list-group-item #{"active" if d == @discussion} #{"jaune" if number[d.id] > 0 && d != @discussion}" do %>
      <b><%= other.name %><%= " (#{number[d.id]})" if number[d.id] > 0 && d != @discussion %></b><br/>
      
      <div style="margin-top:5px;"><%= write_date(date) %></div>
      
    <% end %>
    <% combien = combien + 1 %>
  <% end %>

  <% if combien == 0 %>
    <i>Aucune discussion</i>
  <% end %>
</div>
