<!-- Titre avec un tableau pour que le bouton de droite se mette bien -->
<h1 class="mb-2">
<table style="width:100%;">
<tr><td>
<%= title_1("Messages") %>
</td>

<td class="d-none d-md-table-cell ps-3" style="text-align:right;">
<% if !current_user.sk.follow_message %>
  <%= button_to "M'avertir des nouveaux messages par e-mail", add_followingmessage_path, :method => :put, :class => 'btn btn-light', :data => { confirm: "Vous recevrez un e-mail à chaque nouveau message."}, :disabled => current_user.other %>
<% else %>
  <%= button_to "Ne plus m'avertir par e-mail", remove_followingmessage_path, :method => :get, :class => 'btn btn-light mt-2 ms-2', :disabled => current_user.other %>
<% end %>
</td>

</tr>
</table>

<div class="d-block d-md-none pt-2" style="text-align:center;">
<% if !current_user.sk.follow_message %>
  <%= button_to "M'avertir des nouveaux messages par e-mail", add_followingmessage_path, :method => :put, :class => 'btn btn-light', :data => { confirm: "Vous recevrez un e-mail à chaque nouveau message."}, :disabled => current_user.other %>
<% else %>
  <%= button_to "Ne plus m'avertir par e-mail", remove_followingmessage_path, :method => :get, :class => 'btn btn-light mt-2 ms-2', :disabled => current_user.other %>
<% end %>
</div>

</h1>
