<% provide(:title, 'Messages') %>

<!-- Keep 'discussions/' because this page can be rendered from tchatmessages in case of failure! -->
<%= render 'discussions/title' %>

<script type="text/javascript">
var UserNotFound = function () {
  document.getElementById("user-not-found-link").style.display = "none"
  document.getElementById("user-not-found-note").style.display = "block"
}
</script>

<div class="grid" style="--bs-columns: 12;">
  <div class="g-col-12 g-col-md-4 g-col-lg-3 noprint">
    <!-- Keep 'discussions/' because this page can be rendered from tchatmessages in case of failure! -->
    <%= render 'discussions/menu' %>
  </div>

  <div class="g-col-12 g-col-md-8 g-col-lg-9">

    <h3>Nouvelle discussion</h3>

    <%= form_for @tchatmessage, :html => { :multipart => true } do |f| %>

      <%= render 'shared/error_messages', object: f.object %>
      
      <div class="mb-2" id="destinataire-div">
        <%= f.label :destinataire, :for => "destinataire", :class => "form-label" %>
        
        <% one_week_ago = DateTime.now.to_date - 7 %>
        <% users = User.select(:id, :rating, :first_name, :last_name, :see_name, :admin).where("id != ? AND (last_connexion_date >= ? OR id = ?) AND active = ?", current_user.id, one_week_ago, params[:qui].to_i, true).order("first_name, last_name, rating") %>
        <%= select_tag :qui, options_for_select(users.collect {|u| [ u.name + "#{' (' + u.rating.to_s + ')' if u.rating > 0 && !u.admin}" + "#{' (administrateur)' if u.admin }", u.id ] }.insert(0, ""), params[:qui].to_i), :class => "form-select select2", :style => "width:300px;" %>
      </div>
      
      <div class="mb-2" id="user-not-found-link">
      <%= link_to "Destinataire introuvable ?", "javascript:UserNotFound()" %>
      </div>
      
      <div class="mb-2 text-color-orange" id="user-not-found-note" style="display:none;">Seuls les utilisateurs actifs récemment sont listés ci-dessus. Pour envoyer un message à un autre utilisateur, <%= link_to "cherchez-le", search_users_path %>, consultez son profil et cliquez sur "Envoyer un message".</div>
      
      <script>initializeSelect2WhenPossible("Choisir un destinataire")</script>

      <div class="mb-2">
        <%= f.label :content, :for => "MathInput", :class => "form-label" %>
        <%= render 'shared/preview' %>
        <%= render 'shared/smiley' %>
        <%= f.text_area :content, :class => "form-control", :maxlength => "8000", :style => "height:120px;", :id => "MathInput", :oninput => "Preview.MyUpdate()", :disabled => in_skin? %>
        <script>initAndUpdatePreviewSafeWhenPossible()</script>
      </div>
      
      <%= render 'shared/edit_files' %>
      
      <%= f.submit "Envoyer", class: "btn btn-lg btn-primary mb-3", :disabled => in_skin? %>
    <% end %>

  </div>
</div>
