<% provide(:title, 'Messages') %>
<h1>Messages
  <% if !current_user.sk.follow_message %>
    <span style="float:right;"><%= link_to "M'avertir des nouveaux messages par e-mail", add_followingmessage_path, class: 'btn btn-default btn-grey', data: { confirm: "Vous recevrez un e-mail à chaque nouveau message."}, disabled: current_user.other %></span>
  <% else %>
    <span style="float:right;"><%= link_to "Ne plus m'avertir par e-mail", remove_followingmessage_path, class: 'btn btn-default btn-grey', disabled: current_user.other %></span>
  <% end %>
</h1>

<script>allowhide = false</script> <!-- This disables the "[hide][/hide]" in previewsafe -->

<script type="text/javascript">
var showAllUsers = function () {
  $.getScript("<%= new_discussion_url %>");
}
</script>


<% @nouveau = true %>

<div class="row">
  <div class="noprint">
  <div class="col-md-3 col-sm-4 col-xs-12">
    <%= render 'menu' %>
  </div>
  </div>

  <div class="col-md-9 col-sm-8 col-xs-12">

    <h3>Nouvelle discussion</h3>

    <% @ancientexte = session[:ancientexte] %>
    <% session[:ancientexte] = nil %>

    <%= form_for @discussion, :html => { :multipart => true } do |f| %>

      <%= render 'shared/error_messages', object: f.object %>

      <div class="form-inline">
        <%= f.label :destinataire %><br/>
        <% mtn = DateTime.now.to_date - 14 %>
        <%= select_tag :destinataire, options_for_select(User.where("id != ? AND (last_connexion >= ? OR id = ?)", current_user.sk.id, mtn, params[:qui].to_i).order("first_name, last_name, rating").collect {|u| [ u.name + "#{' (' + u.rating.to_s + ')' if u.rating > 0 && !u.admin}" + "#{' (administrateur)' if u.admin }", u.id ] }.insert(0, "Choisir un destinataire..."), params[:qui].to_i), :class => "form-control select2", :style => "width:300px;" %>
        <div class="visible-xs" style="height:7px;"></div>
        <%= link_to "Afficher les utilisateurs inactifs", "javascript:showAllUsers()", style: "margin-left:10px;", id: "show_all" %>
        <span style="margin-left:10px; display:none;" id="thanks">À votre service !</span>
      </div><br/>

      <div class="form-group">
        <%= f.label :message %>
        <div class="well" id="MathPreview"></div>
        <div class="well hidden-preview" id="MathBuffer"></div>
        <%= render 'subjects/smiley', hiddentext: false %>
        <textarea name="content" maxlength="8000" class="form-control" style="height:120px; margin-top:5px;" id="MathInput" onkeyup="PreviewSafe.MyUpdate()" <%= 'disabled="disabled"' if current_user.other %> ><%= @ancientexte if !@ancientexte.nil? %></textarea>
      </div>
      
      <script type="text/javascript">
      $(document).ready(function() {
      $('.select2').select2({
        theme: "bootstrap",
        language: "fr",
        width: "300"
      });
      });
      </script>

      <span id="fooBar"></span>

      <!-- Ajouter une pièce jointe -->
      <input type="button" value="Ajouter une pièce jointe" onclick="Joint.add()"/>
      <br/><br/>
      <%= f.submit "Envoyer", class: "btn btn-lg btn-primary", :disabled => current_user.other %>
    <% end %>

  </div>
</div>


<script>
PreviewSafe.Init();
PreviewSafe.Update();
</script>
