<% link = current_user.sk.links.where(:discussion_id => @discussion.id).first %>
<% params[:nonread] = link.nonread %>

<script type="text/javascript">

var scrollHandler = function () {
  var more_posts_url = $('.pagination .next_page a').attr('href')
  
  var compenser = 0
  if($(window).width() >= 768)
  {
  	if(document.getElementById('menu').offsetHeight > document.getElementById('messages').offsetHeight)
  	{
  		compenser = document.getElementById('menu').offsetHeight - document.getElementById('messages').offsetHeight
  	}
  }
  
  if(more_posts_url.length > 0 && $(window).scrollTop() + $(window).height() > $(document).height() - 10 - compenser)
  {
    $('.toreplace').html('<br/>Chargement des messages anciens...')
    $.getScript(more_posts_url + "?nonread=<%= params[:nonread] %>")
  }
}

$(window).scroll(scrollHandler);
</script>

<% provide(:title, 'Messages') %>
<h1>Messages
  <% if !current_user.sk.follow_message %>
    <span style="float:right;"><%= link_to "M'avertir des nouveaux messages par e-mail", add_followingmessage_path, class: 'btn btn-default btn-grey', data: { confirm: "Vous recevrez un e-mail à chaque nouveau message."}, disabled: current_user.other %></span>
  <% else %>
    <span style="float:right;"><%= link_to "Ne plus m'avertir par e-mail", remove_followingmessage_path, class: 'btn btn-default btn-grey', disabled: current_user.other %></span>
  <% end %>
</h1>

<% show = 20 %>
<% if(params.has_key?:show) %>
  <% show = params[:show].to_i %>
<% end %>

<% @nouveau = false %>

<div class="row" style="height:80%;" id="menu">
  <div class="col-md-3 col-sm-3 col-xs-12">
    <%= render 'menu' %>
  </div>

  <div class="col-md-9 col-sm-9 col-xs-12" id="messages">

    <% other = current_user.sk %>
    <% @discussion.users.each do |u| %>
      <% if u != current_user.sk %>
        <% other = u %>
      <% end %>
    <% end %>
    <h3>Discussion avec <%= raw(other.linked_name) %></h3>

    <% @tchatmessage = Tchatmessage.new %>

    <% @ancientexte = session[:ancientexte] %>
    <% session[:ancientexte] = nil %>

    <%= form_for @tchatmessage, :html => { :multipart => true } do |f| %>

      <%= render 'shared/error_messages', object: f.object %>

      <%= f.hidden_field :discussion_id, value: @discussion.id %>

      <div class="form-group">
        <div class="well" id="MathPreview"></div>
        <div class="well" id="MathBuffer" style="visibility:hidden; position:absolute; top:0; left: 0"></div>
        <%= render 'subjects/smiley', hiddentext: false %>
        <% if @ancientexte.nil? %>
          <textarea name="content" class="form-control" style="height:120px; margin-top:5px;" id="MathInput" onkeyup="safefakeupdate()" <%= 'disabled="disabled"' if current_user.other %> ></textarea>
        <% else %>
          <textarea name="content" class="form-control" style="height:120px; margin-top:5px;" id="MathInput" onkeyup="safefakeupdate()" <%= 'disabled="disabled"' if current_user.other %> ><%= @ancientexte %></textarea>
        <% end %>
      </div>

      <span id="fooBar"></span>

      <!-- Ajouter une pièce jointe -->
      <input type="button" value="Ajouter une pièce jointe" onclick="Joint.add()"/>
      <br/><br/>
      <%= f.submit "Envoyer", class: "btn btn-lg btn-primary", :disabled => current_user.other %>
    <% end %>

    <br/>
    <div id="all-messages">
      <%= render @tchatmessages %>
    </div>

    <div id="infinite-scrolling" class="toreplace" style="text-align:center;">
      <div style="display:none;">
      <center>
      <%= will_paginate @tchatmessages %>
      </center>
      </div>
    </div>

    <% if params[:nonread].to_i > 0 %>
      <% link.nonread = 0 %>
      <% link.save %>
    <% end %>

  </div>
</div>


<script>
PreviewSafe.Init();
PreviewSafe.Update();
</script>
