<% link = current_user.sk.links.where(:discussion_id => @discussion.id).first %>
<% params[:nonread] = link.nonread %>

<script type="text/javascript">

var scrollHandler = function () {
  var more_posts_url = $('.pagination a').last().attr('href')
  
  if (more_posts_url != undefined)
  {  
    var compenser = 80 // Because I could not solve bug on Android/Chrome
    if($(window).width() >= 768)
    {
      if(document.getElementById('main-div').offsetHeight > document.getElementById('messages').offsetHeight)
      {
        compenser = document.getElementById('main-div').offsetHeight - document.getElementById('messages').offsetHeight
      }
    }
    
    if(more_posts_url.length > 0 && $(window).scrollTop() + $(window).height() > $(document).height() - 20 - compenser)
    {
      $('.toreplace').html('<br/>Chargement des messages anciens...')
      $.getScript(more_posts_url + "?nonread=<%= params[:nonread] %>")
    }
  }
}

window.addEventListener("load", () => {
  window.addEventListener("scroll", () => {
    scrollHandler();
  });
});
</script>

<% provide(:title, 'Messages') %>

<%= render 'title' %>

<% show = 20 %>
<% if(params.has_key?:show) %>
  <% show = params[:show].to_i %>
<% end %>

<% @nouveau = false %>

<div class="row" style="height:80%;" id="main-div">
  <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12 noprint">
    <%= render 'menu' %>
  </div>

  <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">
    <div id="messages">
      <div class="mt-3 d-md-none"></div>

      <% other = current_user.sk %>
      <% @discussion.users.each do |u| %>
        <% if u != current_user.sk %>
          <% other = u %>
        <% end %>
      <% end %>
      <h3>Discussion avec <%= raw(other.linked_name) %></h3>
      
      <% if other.active %>
      
        <% @tchatmessage = Tchatmessage.new %>

        <% @ancientexte = session[:ancientexte] %>
        <% session[:ancientexte] = nil %>

        <%= form_for [@discussion, @tchatmessage], :html => { :multipart => true } do |f| %>

          <%= render 'shared/error_messages', object: f.object %>

          <div class="mb-2">
            <%= render 'shared/preview' %>
            <%= render 'shared/smiley', hiddentext: false %>
            <textarea name="content" maxlength="8000" class="form-control" style="height:120px;" id="MathInput" onkeyup="PreviewSafe.MyUpdate()" <%= 'disabled="disabled"' if current_user.other %> ><%= @ancientexte if !@ancientexte.nil? %></textarea>
          </div>

          <%= render 'shared/edit_files' %>
          
          <%= f.submit "Envoyer", class: "btn btn-lg btn-primary mb-2", :disabled => current_user.other %>
          <%= link_to 'Marquer comme non lu', discussion_unread_path(@discussion), :method => :put, :class => "btn btn-light", :style => "float:right;", :disabled => current_user.other %>
        <% end %>
        
      <% else %>
      
      <p class="mt-3 text-center fw-bold">Ce compte a été supprimé et vous ne pouvez donc plus lui envoyer de messages.</p>
      
      <% end %>

      <div id="all-messages">
        <%= render @tchatmessages %>
      </div>

      <div id="infinite-scrolling" class="toreplace text-center">
        <div style="display:none;">
        <center>
        <%= will_paginate @tchatmessages %>
        </center>
        </div>
      </div>

      <% if params[:nonread].to_i > 0 %>
        <% link.nonread = 0 %>
        <% link.save %>
      <% end %>
    </div>
  </div>
</div>
