<% link = current_user.sk.links.where(:discussion_id => @discussion.id).first %>
<% params[:nonread] = link.nonread %>

<script type="text/javascript">

var scrollHandler = function () {
  var paginations = document.getElementsByClassName("pagination")
  if (paginations.length == 0) return;
  var pagination = paginations[paginations.length-1]
  var links = pagination.getElementsByTagName("a")
  if (links.length == 0) return;
  var more_posts_url = links[links.length-1].getAttribute("href")
  
  if (more_posts_url != undefined)
  {  
    var compenser = 80 // Because I could not solve bug on Android/Chrome
    if($(window).width() >= 768)
    {
      if(document.getElementById('main-div').offsetHeight > document.getElementById('messages').offsetHeight)
      {
        compenser = document.getElementById('main-div').offsetHeight - document.getElementById('messages').offsetHeight
      }
    }
    
    if(more_posts_url.length > 0 && $(window).scrollTop() + $(window).height() > $(document).height() - 20 - compenser)
    {
      $('#infinite-scrolling').html('<br/>Chargement des messages anciens...')
      $.getScript(more_posts_url)
    }
  }
}

window.addEventListener("load", () => {
  window.addEventListener("scroll", () => {
    scrollHandler();
  });
});
</script>

<% provide(:title, 'Messages') %>

<!-- Keep 'discussions/' because this page can be rendered from tchatmessages in case of failure! -->
<%= render 'discussions/title' %>

<div class="grid" style="--bs-columns: 12; height:80%;" id="main-div">
  <div class="g-col-12 g-col-md-4 g-col-lg-3 noprint">
    <!-- Keep 'discussions/' because this page can be rendered from tchatmessages in case of failure! -->
    <%= render 'discussions/menu' %>
  </div>

  <div class="g-col-12 g-col-md-8 g-col-lg-9">
    <div id="messages">
      <div class="mt-3 d-md-none"></div>

      <% other = current_user.sk %>
      <% @discussion.users.each do |u| %>
        <% if u != current_user.sk %>
          <% other = u %>
        <% end %>
      <% end %>
      <h3>Discussion avec <%= raw(other.linked_name) %></h3>
      
      <% if other.active %>
      
        <%= form_for @tchatmessage, :html => { :multipart => true } do |f| %>
          <%= f.hidden_field :discussion_id, :value => @discussion.id %>
          
          <%= render 'shared/error_messages', object: f.object %>

          <div class="mb-2">
            <%= render 'shared/preview' %>
            <%= render 'shared/smiley' %>
            <%= f.text_area :content, :class => "form-control", :maxlength => "8000", :style => "height:120px;", :id => "MathInput", :oninput => "PreviewSafe.MyUpdate()", :disabled => current_user.other %>
            <script>initAndUpdatePreviewSafeWhenPossible()</script>
          </div>

          <%= render 'shared/edit_files' %>
          
          <%= f.submit "Envoyer", class: "btn btn-lg btn-primary mb-2", :disabled => current_user.other %>
          <%= link_to 'Marquer comme non lu', discussion_unread_path(@discussion), :method => :put, :class => "btn btn-ld-light-dark", :style => "float:right;", :disabled => current_user.other %>
        <% end %>
        
      <% else %>
      
      <p class="mt-3 text-center fw-bold">Ce compte a été supprimé et vous ne pouvez donc plus lui envoyer de messages.</p>
      
      <% end %>

      <% @tchatmessages = @discussion.get_some_messages(1, 10) if @tchatmessages.nil? %>
      <% @compteur = 1 %>
      <div id="all-messages">
        <% @tchatmessages.each do |m| %>
          <%= render 'tchatmessages/show', m: m %>
        <% end %>
      </div>

      <div id="infinite-scrolling" class="text-center">
        <div style="display:none;">
        <center>
        <%= will_paginate @tchatmessages %>
        </center>
        </div>
      </div>

      <% if params[:nonread].to_i > 0 %>
        <% link.nonread = 0 %>
        <% link.save %>
      <% end %>
    </div>
  </div>
</div>
