Bonjour <%= @user.first_name %>,<br/><br/>

Il semblerait que vous ayiez oublié votre mot de passe.<br/>
Pour pouvoir en changer, veuillez vous rendre à l'adresse suivante et rentrer immédiatement un nouveau mot de passe.<br/><br/>

<a href="http://www.mathraining.be/recup_password?id=<%= @user.id %>&key=<%= @user.key %>">http://www.mathraining.be/recup_password?id=<%= @user.id %>&key=<%= @user.key %></a><br/><br/>

Ce lien expirera dès que vous l'aurez utilisé.<br/><br/>

L'équipe Mathraining.
