Bonjour <%= @user.first_name %>,<br/><br/>

Il semblerait que vous ayez oublié votre mot de passe.<br/>
Pour pouvoir en changer, veuillez vous rendre à l'adresse suivante et rentrer un nouveau mot de passe.<br/><br/>

<a href="http://www.mathraining.be/users/<%= @user.id %>/recup_password?key=<%= @user.key %>">http://www.mathraining.be/users/<%= @user.id %>/recup_password?key=<%= @user.key %></a><br/><br/>

Ce lien expirera dès que vous l'aurez utilisé.<br/><br/>

L'équipe Mathraining.
