<% provide(:title, "Concours ##{ @contest.number }") %>

<h1><%= title_3((link_to "Concours", contests_path), (link_to "Concours ##{@contest.number}", @contest), "Seuils des médailles") %></h1>

<% nb_prob = @contest.contestproblems.count %>
<% num_ranked = @contest.contestscores.count %>
<% num_points = 7*nb_prob %>
<% num_all = Array.new(num_points+1, 0) %>
<% ideal_num_gold = num_ranked / 12.0 %>
<% ideal_num_gold_silver = num_ranked / 4.0 %>
<% ideal_num_gold_silver_bronze = num_ranked / 2.0 %>
<% up_num_gold = (num_ranked % 12 == 0 ? num_ranked / 12 : ideal_num_gold.ceil) %>
<% up_num_gold_silver = (num_ranked % 4 == 0 ? num_ranked / 4 : ideal_num_gold_silver.ceil) %>
<% up_num_gold_silver_bronze = (num_ranked % 2 == 0 ? num_ranked / 2 : ideal_num_gold_silver_bronze.ceil) %>

<% min_gold = num_points %>
<% min_silver = num_points %>
<% min_bronze = num_points %>

<% @contest.contestscores.order(:rank).each do |line| %>
  <% num_all[line.score] = num_all[line.score] + 1 %>
  <% if line.rank <= up_num_gold %>
    <% min_gold = line.score %>
  <% end %>
  <% if line.rank <= up_num_gold_silver %>
    <% min_silver = line.score %>
  <% end %>
  <% if line.rank <= up_num_gold_silver_bronze %>
    <% min_bronze = line.score %>
  <% end %>
<% end %>

<% maxi = num_all.max + 1 %>

<p>Les seuils calculés par défaut pour ce concours sont <b><%= min_bronze %></b> pour le bronze, <b><%= min_silver %></b> pour l'argent et <b><%= min_gold %></b> pour l'or. Dans certains cas, on préférera modifier ces seuils manuellement pour être plus "équitable". Voici deux cas de figures typiques (mais il peut en exister d'autres) :</p>
<ul>
<li>Si les cinq meilleurs étudiants ont obtenu des scores comme 42, 41, 40, 40, 39, que le sixème étudiant n'a obtenu que 31, et qu'il faut théoriquement attribuer 3.8 médailles d'or, on pourra accorder cinq médailles d'or au lieu de quatre. Dans le même cas de figure, si 5.7 médailles d'or devaient être théoriquement attribuées, on pourra n'en attribuer que cinq pour être plus juste.</li>
<li>Si 18.7 étudiants doivent se voir attribuer une médaille d'argent ou d'or mais qu'un grand nombre d'ex-aequo permet d'attribuer soit 17 médailles soit 26, alors on pourra n'en attribuer que 17. Attribuer plus de médailles peut sembler plus généreux et donc préférable, mais en attribuer de trop leur retire également de la valeur.</li>
</ul>
<p>En cas de doute, n'hésitez pas à contacter Nicolas R. pour avoir son avis sur le choix des seuils.</p>

<center>

<!-- Endroit pour dessiner le graphique des scores -->
<div id="contenant" class="mt-3" style="width:100%; max-width:900px; height:280px; position:relative; display:block;">
<canvas id="myCanvas" width="900" height="280" style="position:absolute; left:0px; top:0px;">
Votre navigateur ne supporte pas les canvas.
</canvas>
</div>

</center>


<center>
<%= form_tag contest_define_cutoffs_path(@contest), :method => :post, :id => "cutoff_form", :class => "mt-3" do %>
<table style="width:440px;">
<tr>
<td style="width:200px;"></td>
<th class="text-center" style="width:80px;"><label for="bronze_cutoff">Bronze</label></th>
<th class="text-center" style="width:80px;"><label for="silver_cutoff">Argent</label></th>
<th class="text-center" style="width:80px;"><label for="gold_cutoff">Or</label></th>
</tr>

<tr>
<th class="p-2">Seuil choisi</th>
<td class="px-1 text-center">
<div class="form-group">
  <%= number_field_tag "bronze_cutoff", min_bronze, :min => 0, :class => "form-control", :style => "width:70px;", :onchange => "respondCanvas()" %>
</div>
</td>
<td class="px-1 text-center">
<div class="form-group">
  <%= number_field_tag "silver_cutoff", min_silver, :min => 0, :class => "form-control", :style => "width:70px;", :onchange => "respondCanvas()" %>
</div>
</td>
<td class="px-1 text-center">
<div class="form-group">
  <%= number_field_tag "gold_cutoff", min_gold, :min => 0, :class => "form-control", :style => "width:70px;", :onchange => "respondCanvas()" %>
</div>
</td>
</tr>

<tr>
<th class="p-2">Nombre idéal avec au moins cette médaille</th>
<td class="text-center fs-5"><%= ("%.2f" % ideal_num_gold_silver_bronze) %></td>
<td class="text-center fs-5"><%= ("%.2f" % ideal_num_gold_silver) %></td>
<td class="text-center fs-5"><%= ("%.2f" % ideal_num_gold) %></td>
</tr>

<tr>
<th class="p-2">Nombre choisi avec au moins cette médaille</th>
<td class="text-center fs-5"><span id="real_num_gold_silver_bronze">?</span></td>
<td class="text-center fs-5"><span id="real_num_gold_silver">?</span></td>
<td class="text-center fs-5"><span id="real_num_gold">?</span></td>
</tr>

<tr>
<th class="p-2">Différence</th>
<td class="text-center fs-6"><span id="diff_gold_silver_bronze">?</span></td>
<td class="text-center fs-6"><span id="diff_gold_silver">?</span></td>
<td class="text-center fs-6"><span id="diff_gold">?</span></td>
</tr>
</table>

<%= submit_tag "Distribuer les médailles", :class => "btn btn-primary mt-2", :onclick => "return confirm('Êtes vous sûr de vouloir choisir ces seuils ? Les médailles vont être publiées.')" %>

<% end %>
</center>


<script type="text/javascript">
  function respondCanvas(){
  // Check light or dark theme
  var is_dark = (document.documentElement.getAttribute('data-bs-theme') == 'dark');
  
  // Get the canvas & context
  var c = document.getElementById('myCanvas');
  var ctx = c.getContext('2d');
  var container = c.parentElement;
  
  c.setAttribute('width', container.offsetWidth); //max width
  c.setAttribute('height', 280*container.offsetWidth/900.0); //max height

  container.style.height = 280*container.offsetWidth/900.0 + "px"

  // Draw content

  var pct = c.offsetWidth/900.0;
  
  ctx.beginPath();
  ctx.rect(pct*50, pct*5, pct*806, pct*250);
  ctx.fillStyle = (is_dark ? 'rgb(33, 37, 41)' : 'white');
  ctx.fill();
  ctx.lineWidth = 1;
  ctx.strokeStyle = (is_dark ? 'white' : 'black');
  ctx.stroke();
  
  var gold_cutoff = document.getElementById('gold_cutoff').value;
  var silver_cutoff = document.getElementById('silver_cutoff').value;
  var bronze_cutoff = document.getElementById('bronze_cutoff').value;
  
  var real_num_gold = 0;
  var real_num_gold_silver = 0;
  var real_num_gold_silver_bronze = 0;
  
  // Entre 50 et 856 --> largeur totale 806, à diviser en num_points
  
  <% medal_color = ["", "#9999FF", "#DF7F32", "#C4C4C4", "#FFD700"] %>
  <% (1..num_points).each do |i| %>
    <% if num_all[i] > 0 %>
      <% size = (240*num_all[i])/maxi.to_f %>
      ctx.beginPath();
      ctx.rect(pct*<%= 50+((806*(i-1))/num_points.to_f) %>, pct*255, pct*<%= (806/num_points.to_f) %>, -pct*<%= size %>);
      if     (<%= i %> >= gold_cutoff)   { ctx.fillStyle = '#FFD700'; }
      else if(<%= i %> >= silver_cutoff) { ctx.fillStyle = '#C4C4C4'; }
      else if(<%= i %> >= bronze_cutoff) { ctx.fillStyle = '#DF7F32'; }
      else                               { ctx.fillStyle = '#9999FF'; }
      ctx.fill();
      ctx.lineWidth = 1;
      ctx.strokeStyle = 'black';
      ctx.stroke();
      if (<%= i %> >= gold_cutoff)   { real_num_gold += <%= num_all[i] %>; }
      if (<%= i %> >= silver_cutoff) { real_num_gold_silver += <%= num_all[i] %>; }
      if (<%= i %> >= bronze_cutoff) { real_num_gold_silver_bronze += <%= num_all[i] %>; }
    <% end %>
  <% end %>
  
  document.getElementById('real_num_gold').innerHTML = real_num_gold;
  document.getElementById('real_num_gold_silver').innerHTML = real_num_gold_silver;
  document.getElementById('real_num_gold_silver_bronze').innerHTML = real_num_gold_silver_bronze;
  
  var percent_gold = Math.round((real_num_gold - <%= ideal_num_gold %>)*100.0 / <%= ideal_num_gold %>)
  if (percent_gold != 0) {
    document.getElementById('diff_gold').innerHTML = (percent_gold > 0 ? "+" : "") + percent_gold + "%"
  }
  else {
    document.getElementById('diff_gold').innerHTML = "="
  }
  document.getElementById('diff_gold').style.color = (percent_gold >= 0 ? "green" : "red");
  
  var percent_gold_silver = Math.round((real_num_gold_silver - <%= ideal_num_gold_silver %>)*100.0 / <%= ideal_num_gold_silver %>)
  if (percent_gold_silver != 0) {
    document.getElementById('diff_gold_silver').innerHTML = (percent_gold_silver > 0 ? "+" : "") + percent_gold_silver + "%"
  }
  else {
    document.getElementById('diff_gold_silver').innerHTML = "="
  }
  document.getElementById('diff_gold_silver').style.color = (percent_gold_silver >= 0 ? "green" : "red");
  
  var percent_gold_silver_bronze = Math.round((real_num_gold_silver_bronze - <%= ideal_num_gold_silver_bronze %>)*100.0 / <%= ideal_num_gold_silver_bronze %>)
  if (percent_gold_silver_bronze != 0) {
    document.getElementById('diff_gold_silver_bronze').innerHTML = (percent_gold_silver_bronze > 0 ? "+" : "") + percent_gold_silver_bronze + "%"
  }
  else {
    document.getElementById('diff_gold_silver_bronze').innerHTML = "="
  }
  document.getElementById('diff_gold_silver_bronze').style.color = (percent_gold_silver_bronze >= 0 ? "green" : "red");
  
  ctx.font="12px Arial";
  ctx.fillStyle = 'black';
  ctx.textAlign = 'center';
  
  if(pct > 0.6)
  {
    <% (1..nb_prob).each do |i| %>
    ctx.fillText("<%= 7*i %>",pct*<%= 50+((806*(i*7-0.5))/num_points.to_f) %>,pct*265+7);
    <% end %>
  }
  
  ctx.textAlign = 'right';
  <% i = maxi - 1 %>
  <% step = 1 %>
  <% while i/step > 12 %>
    <% step += 1 %>
  <% end %>
  <% while(i > 0) %>
    ctx.fillText("<%= i %>", pct*44 -4,pct*(<%= 255-240*i/maxi %>+4));
    <% i = i - step %>
  <% end %>
  }

  window.addEventListener("resize", () => {
    respondCanvas();
  });

  window.addEventListener("theme-change", () => {
    respondCanvas();
  });
  
  respondCanvas();
  
</script>
