<% provide(:title, 'Concours') %>

<h1><%= title_1("Concours") %>
<button class="information-tag" onclick="return Info.toggle();">?</button>
</h1>

<%= render 'shared/info', about: "contests" %>

<% if !has_enough_points(current_user) %>
<div class="mb-3 fw-bold">
Les problèmes des concours sont accessibles par tous, mais il est nécessaire d'avoir au moins 133 points pour y participer.
</div>
<% end %>

<% Contest.order("number DESC").all.each do |c| %>
  <% if !c.in_construction? || (signed_in? && c.is_organized_by_or_admin(current_user)) %>
  
    <% if c.in_construction? || (c.in_progress? && c.contestproblems.where(:status => [:in_progress, :in_correction, :corrected, :in_recorrection]).count == 0) %>
      <% classe = "greyy" %>
    <% elsif c.in_progress? %>
      <% classe = "orangey" %>
    <% else %>
      <% classe = "yellowy" %>
    <% end %>

    <% nb_prob = c.num_problems %>
    
    <table class="table table-bordered contest <%= classe %>">
    <tr><td class="title">
    <center><h4><%= link_to "Concours ##{c.number}", c %></h4></center>
    </td></tr>
    
    <tr><td class="real-content">
    
    <div class="grid content"> <!-- 12 columns below 'md', 24 columns from 'md' (see module.scss) -->
    
      <div class="g-col-12 g-col-md-24 intro">
        <%= bbcode(c.description) %>
      </div>

      <div class="g-col-12 g-col-md-12 module left-info">
        <h5>Informations</h5>
        
        <% if nb_prob > 0 %>
          Début : <b><%= write_date_only_with_day(c.start_time) %></b><br/>
          Fin : <b><%= write_date_only_with_day(c.end_time) %></b><br/>
        <% end %>
        <b><%= nb_prob %></b> problème<%= "s" if nb_prob > 1 %>
        <% if classe == "greyy" %>
          (à venir)
        <% elsif classe == "orangey" %>
          (en cours)
        <% elsif classe == "yellowy" %>
          (terminé)
        <% end %>
      </div>
      
      <div class="g-col-12 g-col-md-12 module right-info">
        <h5>Statistiques</h5>
        <% nb_prob_corrected = c.contestproblems.where(:status => [:corrected, :in_recorrection]).count %>
        <% if nb_prob_corrected == 0 %>
          <i>Aucun problème corrigé</i>
        <% else %>
          <% if nb_prob_corrected < nb_prob %>
            Après <%= nb_prob_corrected %> problème<%= 's' if nb_prob_corrected >= 2 %> :<br/>
          <% else %>
            À la fin du concours :<br/>
          <% end %>
          <% num_participants = c.num_participants %>
          <% if num_participants == 0 %>
            <i>Personne n'a résolu de problème</i>
          <% else %>
            <b><%= num_participants %></b> participants classés<br/>
            <% bestscore = c.contestscores.where(:rank => 1).first.score %>
            <% numbest = c.contestscores.where(:rank => 1).count %>
            Meilleur score : <b><%= bestscore %>/<%= 7*nb_prob_corrected %></b> (<%= numbest %> fois)
          <% end %>
        <% end %>
      </div>

      <div class="g-col-12 g-col-md-24 module bottom-part">
        Organisé par 
        <% i = 0 %>
        <% total = c.organizers.count %>
        <% c.organizers.order(:last_name, :first_name).each do |o| %>
          <% i = i+1 %>
          <%= o.linked_name %><% if i == total - 1 %> et<% elsif i < total - 1 %>, <% else %>.<% end %>
        <% end %>
      </div>
    
    </td></tr></table>
  <% end %>
<% end %>

<!-- Ajouter un concours -->
<% if signed_in? && current_user.admin? %>
  <p class="text-center">
    <%= link_to "Ajouter un concours", new_contest_path %>
  </p>
<% end %>
