<% provide(:title, "Concours ##{ @contest.number }") %>

<div class="split-title-md mb-2">
  <div class="part-1">
    <h1 class="mb-0">
    <%= title_contests("Concours ##{@contest.number}") %>
    </h1>
  </div>
  <div class="part-2 pt-2">
    <% if signed_in? %>
      <% if !current_user.followed_contests.exists?(@contest.id) %>
        <%= link_to "Suivre ce concours", follow_contest_path(@contest), :method => :put, class: 'btn btn-ld-light-dark', id: 'link_follow', data: { confirm: "Vous recevrez un e-mail de rappel un jour avant la publication de chaque problème."}, disabled: in_skin? %>
      <% else %>
        <%= link_to "Ne plus suivre ce concours", unfollow_contest_path(@contest), class: 'btn btn-ld-light-dark', id: 'link_unfollow', disabled: in_skin? %>
      <% end %>
    <% end %>
  </div>
</div>

<h3>Description</h3>

<div class="mb-3">
  <%= bbcode(@contest.description) %>
</div>

<% c = 0 %>
<% total = @contest.organizers.count %>
<p><i>Organisateur<%= 's' if total > 1 %> du concours : </i>
<% @contest.organizers.order(:last_name, :first_name).each do |o| %>
  <% c = c+1 %>
  <%= o.linked_name %><% if (signed_in? && current_user.admin?) && @contest.in_construction? %> (<%= link_to "supprimer", remove_organizer_contest_path(@contest, :user_id => o.id), method: :put, data: { confirm: "Êtes-vous #{current_user.sure} de vouloir supprimer #{o.name} des organisateurs de ce concours ?"} %>)<% end %><% if c == total - 1 %> et<% elsif c < total - 1 %>, <% else %>.<% end %>
<% end %>
</p>

<% if signed_in? && current_user.admin? && @contest.in_construction? %>

  <%= form_for @contest, :url => add_organizer_contest_path(@contest), :html => {:class => "form-inline mb-3"} do |f| %>
    <% mtn = DateTime.now.to_date - 14 %>
    <div class="row g-2 align-items-center">
      <div class="col-auto">
        <%= select_tag :user_id, options_for_select(User.where("last_connexion_date >= ? AND active = ?", mtn, true).order("first_name, last_name, rating").collect {|u| [ u.name + "#{' (' + u.rating.to_s + ')' if u.rating > 0 && !u.admin}" + "#{' (administrateur)' if u.admin }", u.id ] }.insert(0, ""), -1), :class => "form-select select2 p-1 ps-2", :style => "width:300px;" %>
      </div>
      <div class="col-auto">
        <%= f.submit "Ajouter", class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
  
  <script>initializeSelect2WhenPossible("Nouvel organisateur")</script>
  
<% end %>

<% organizer = signed_in? && @contest.is_organized_by_or_admin(current_user) %>

<% if organizer && @contest.completed? && @contest.medal && @contest.gold_cutoff == 0 %>
  <p class="text-center">
    <%= link_to "Définir les médailles", cutoffs_contest_path(@contest), class: 'btn btn-lg btn-ld-light-dark' %>
  </p>
<% end %>

<% tab = 0 %>
<% nb_prob = @contest.contestproblems.count %>
<% nb_prob_corrected = @contest.contestproblems.where(:status => [:corrected, :in_recorrection]).count %>

<% if nb_prob_corrected > 0 %>
  <% if params.has_key?:tab %>
    <% tab = params[:tab].to_i %>
  <% end %>
  <% if (tab != 0 && tab != 1 && tab != 2) || (nb_prob_corrected != nb_prob && tab == 2) %>
    <% tab = 0 %>
  <% end %>
  <!-- Tabs -->
  <ul class="nav nav-tabs nav-justified flex-column flex-sm-row mb-3">
    <li class="nav-item"><%= link_to "Problèmes", contest_path(@contest), :class => "nav-link #{ "active" if tab == 0 }" %></li>
    <% ranking_title = (nb_prob_corrected == nb_prob ? "Classement final" : "Classement après #{nb_prob_corrected} problème#{"s" if nb_prob_corrected >= 2}") %>
    <li class="nav-item"><%= link_to ranking_title, contest_path(@contest, :tab => 1), :class => "nav-link #{ "active" if tab == 1 }" %></li>
    <% if nb_prob_corrected == nb_prob %>
      <li class="nav-item"><%= link_to "Statistiques", contest_path(@contest, :tab => 2), :class => "nav-link #{ "active" if tab == 2 }" %></li>
    <% end %>
  </ul>
<% else %>
  <h3>Problèmes</h3>
<% end %>

<% if tab == 0 %>
  <%= render 'contests/problems' %>
<% elsif tab == 1 %>
  <%= render 'contests/results' %>
<% elsif tab == 2 %>
  <%= render 'contests/statistics' %>
<% end %>

<% num = 0 %>

<p class="text-center">
  <% if organizer %>
    <%= link_to "Modifier ce concours", edit_contest_path(@contest) %>
    <% num = num+1 %>
  <% end %>

  <% if @contest.in_construction? && signed_in? && @contest.is_organized_by(current_user) %>
    <%= " | " if num > 0 %>
    <%= link_to "Ajouter un problème", new_contest_contestproblem_path(@contest) %>
    <% num = num+1 %>
  <% end %>

  <% if @contest.in_construction? && signed_in? && current_user.admin? %>
    <%= " | " if num > 0 %>
    <%= link_to "Supprimer ce concours", @contest, method: :delete, class: "text-color-red", data: { confirm: "Êtes-vous #{current_user.sure} de vouloir supprimer ce concours ?" } %>
    <% num = num+1 %>
  <% end %>
</p>

<% if @contest.in_construction? && signed_in? && current_user.admin? %>
  <p class="text-center">
    <%= link_to "Mettre en ligne", put_online_contest_path(@contest), method: :put, class: "btn btn-danger", data: { confirm: "Êtes-vous #{current_user.sure} de vouloir mettre ce concours en ligne ?" } %>
  </p>
<% end %>

<% if @contest.in_construction? && signed_in? && @contest.is_organized_by(current_user) && !current_user.admin? %>
  <p class="text-center fst-italic">
    Pour mettre le concours en ligne, contacter un administrateur.
  </p>
<% end %>
