<script type="text/javascript">
var showCorrect = function () {
  document.getElementById("btn_correct").style.display = 'none';
  document.getElementById("all_correct").style.display = 'table';
  document.getElementById("all_correct").style.width = 'auto';
}
var showFalse = function () {
  document.getElementById("btn_false").style.display = 'none';
  document.getElementById("all_false").style.display = 'table';
  document.getElementById("all_false").style.width = 'auto';
}
</script>

<!-- Cette page affiche toutes les solutions que l'utilisateur peut voir -->

<% mine_is_star = false %>

<!-- Votre solution -->
<% if !@contest.is_organized_by_or_admin(current_user) && @contestproblem.at_least(:in_correction) %>
  <% sol = @contestproblem.contestsolutions.where(:user => current_user).first %>
  <% if !sol.nil? %>
    <h3>Votre solution</h3>
    <table class="table table-bordered" style="width:auto;">
      <% if sol.star %>
        <% mine_is_star = true %>
      <% end %>
      <%= render 'contestsolutions/line', sol: sol %>
    </table>
  <% end %>
<% end %>

<!-- Solutions étoilées + correctes (7/7) -->
<% if @contestproblem.at_least(:corrected) || (@contestproblem.in_correction? && @contest.is_organized_by_or_root(current_user)) %>
  <h3>
  <% if mine_is_star %>
    Autres solutions étoilées
  <% else %>
    Solutions étoilées
  <% end %>
  </h3>
  <% starred = @contestproblem.contestsolutions.where("star = ? AND (official = ? OR user_id != ?)", true, true, current_user.id).order(:user_id).includes(:user) %>
  <% if starred.count > 0 %>
    <table class="table table-bordered" style="width:auto;">
    <% starred.each do |sol| %>
      <%= render 'contestsolutions/line', sol: sol %>
    <% end %>
    </table>
  <% else %>
    <% if @contest.is_organized_by_or_root(current_user) %>
      <p>Aucune solution étoilée. <span class="text-color-orange">Il en faut au minimum une !</span></p>
    <% else %>
      <p>Aucune <% "autre" if mine_is_star %> solution étoilée.</p>
    <% end %>
  <% end %>
  
  <h3>Autres solutions correctes</h3>
  <% good = @contestproblem.contestsolutions.where("star = ? AND score = ? AND corrected = ? AND (official = ? OR user_id != ?)", false, 7, true, true, current_user.id).order(:user_id).includes(:user) %>
  <% if good.count > 0 %>
    <p id="btn_correct"><%= link_to "Afficher les autres solutions correctes", "javascript:showCorrect()" %></p>
    <table class="table table-bordered fixed-scroll" style="width:auto; display:none;" id="all_correct">
    <tbody>
    <% good.each do |sol| %>
      <%= render 'contestsolutions/line', sol: sol %>
    <% end %>
    </tbody>
    </table>
  <% else %>
    <p>Aucune autre solution correcte.</p>
  <% end %>
<% end %>

<!-- Solutions erronées -->
<% if @contestproblem.at_least(:in_correction) && @contest.is_organized_by_or_root(current_user) %>
  <h3>Solutions erronées / non-publiques</h3>
  <% bad = @contestproblem.contestsolutions.where("score < 7 AND corrected = ?", true).order(:user_id).includes(:user) %>
  <% if bad.count > 0 %>
    <p id="btn_false"><%= link_to "Afficher les solutions erronées et non-publiques", "javascript:showFalse()" %></p>
    <table class="table table-bordered fixed-scroll" style="width:auto; display:none;" id="all_false">
    <tbody>
    <% bad.each do |sol| %>
      <%= render 'contestsolutions/line', sol: sol %>
    <% end %>
    </tbody>
    </table>
  <% else %>
    <p>Aucune solution erronée.</p>
  <% end %>
<% end %>

<!-- Solutions non-corrigées - bouton "publier" -->
<% if @contestproblem.in_correction? && @contest.is_organized_by_or_root(current_user) %>
  <h3>Solutions à corriger</h3>
  <% tocorrect = @contestproblem.contestsolutions.where(:corrected => false).order(:user_id).all %>
  <% if tocorrect.count > 0 %>
    <table class="table table-bordered fixed-scroll" style="width:auto;">
    <tbody>
    <% tocorrect.each do |sol| %>
      <%= render 'contestsolutions/line', sol: sol %>
    <% end %>
    </tbody>
    </table>
  <% else %>
    <p>Aucune solution à corriger.</p>
  <% end %>
  
  <% if tocorrect.count == 0 %>
    <% if @contestproblem.contestsolutions.where(:star => true).count == 0 %>
      <p class="text-center fst-italic">Il faut au minimum une solution étoilée pour publier les résultats</p>
    <% else %>
      <p class="text-center">
        <%= link_to "Publier les résultats", publish_results_contestproblem_path(@contestproblem), :method => :put, class: 'btn btn-danger', data: { confirm: "Êtes-vous #{current_user.sure} de vouloir publier les corrections ? Attention ! Il ne sera plus possible de modifier les corrections après cela." } %>
      </p>
    <% end %>
  <% end %>
<% end %>
