<!-- Couleur -->
<% cansee_score = (sol.contestproblem.at_least(:corrected) || @contest.is_organized_by_or_root(current_user.sk)) %>
<% if !sol.corrected || !cansee_score %>
  <% if @contest.is_organized_by_or_root(current_user.sk) && (sol.contestproblem.in_correction? || sol.contestproblem.in_recorrection?) %>
    <% res = sol.reservation %>
    <% if res == 0 %>
      <% color_class = "table-warning" %>
    <% elsif res == current_user.sk.id %>
      <% color_class = "table-warning table-warning-greener" %>
    <% else %>
      <% color_class = "table-warning table-warning-reder" %>
    <% end %>
  <% else %>
    <% color_class="table-warning" %>
  <% end %>
<% elsif sol.score == 7 %>
  <% color_class = "table-success" %>
<% else %>
  <% color_class = "table-danger" %>
<% end %>

<tr id="line_sol_<%= sol.id %>" class="<%= color_class %>">

<!-- Icone -->
<td style="width:50px; text-align:center;">
  <% if !cansee_score %>
    <%= image_tag dash_icon %>
  <% else %>
    <%= image_tag sol.icon %>
  <% end %>
</td>

<!-- Qui -->
<td style="width:200px;">
  <% if sol.official %>
    <b>Solution officielle</b>
  <% else %>
    <%= raw(sol.user.linked_name) %>
  <% end %>
</td>

<td style="width:40px; text-align:center;">
  <% if cansee_score && !sol.official? && sol.score >= 0 %>
    <%= sol.score %>
  <% else %>
    -
  <% end %>
</td>

<!-- Voir -->
<td style="text-align:center; width:56px;">
<%= link_to "Voir", contestproblem_path(sol.contestproblem, :sol => sol.id) %>
</td>

</tr>
