<% can_see_correction = false %>

<h3>
<% if @contestsolution.official? %>
  Solution officielle
  <% can_see_correction = true %>
<% elsif @contestsolution.user == current_user.sk %>
  Votre solution
  <% if @contestproblem.status == 2 %>
    (modifiable)
  <% elsif @contestproblem.status == 3 %>
    (en attente de correction)
  <% elsif @contestproblem.status >= 4 %>
    <% if @contestsolution.star %>
      <%= image_tag @contestsolution.icon %>
    <% end %>
    <% can_see_correction = true %>
  <% end %>
<% else %>
  Solution de <%= raw @contestsolution.user.linked_name %>
  <% can_see_correction = true %>
<% end %>

<% if @contest.is_organized_by_or_root(current_user.sk) %>
  <% if !@contestsolution.corrected %>
    (à corriger)
  <% elsif @contestsolution.official? %>
    <% if @contestsolution.score == 7 %>
      (publique)
    <% else %>
      (non-publique)
    <% end %>
  <% end %>
<% end %>
</h3>

<!-- Affichage de la soumission (on ajoute 'fake' à l'id si on ne peut pas modifier la solution) -->
<% if !@contestsolution.official %>
  <div id="the<%= 'fake' if @contestsolution.user != current_user.sk %>" class="myoverflow" style="margin-top:-12px;">
    <%= render 'subjects/content', ms: @contestsolution, kind: "contestsolution" %>
  </div>

  <% if (@contestproblem.status == 2 && @contestsolution.user == current_user.sk) %>
    <% @ancientexte = session[:ancientexte] %>
    
    <div id="form" class="myoverflow" style="height:0px; margin-top:12px;">
    <%= render 'contestsolutions/edit' %>
    </div>
    
    <% if !session["ancientexte"].nil? %>
      <script>
        Rolling.develop_quick("");
      </script>
      <% session.delete("ancientexte") %>
    <% end %>
  <% end %>
<% end %>

<% if can_see_correction %>
  <% @contestcorrection = @contestsolution.contestcorrection %>
  <%= render 'contestcorrections/show' %>
<% end %>
