<%= render 'contestproblems/show' %>

<hr>

<h3>
<% if @contestsolution.official? %>
  Solution officielle
<% elsif @contestsolution.user == current_user %>
  Votre solution
  <% if @contestproblem.in_correction? %>
    (en attente de correction)
  <% end %>
<% else %>
  Solution de <%= raw @contestsolution.user.linked_name %>
<% end %>

<% if @contest.is_organized_by_or_root(current_user) %>
  <% if !@contestsolution.corrected %>
    (à corriger)
  <% elsif @contestsolution.official? %>
    <% if @contestsolution.score == 7 %>
      (publique)
    <% else %>
      (non-publique)
    <% end %>
  <% end %>
<% end %>
</h3>

<% if (@contestsolution.official? || @contestproblem.in_correction? || @contestproblem.in_recorrection?) && @contest.is_organized_by(current_user) %>
  <script type="text/javascript">
  var reserve = function () {
    $.getScript("<%= reserve_contestsolution_url(@contestsolution) %>");
  }
  var unreserve = function () {
    $.getScript("<%= unreserve_contestsolution_url(@contestsolution) %>");
  }
  </script>

  <% res = @contestsolution.reservation %>
  <div id="div_reserved_by_nobody" class="mb-2 p-2 ps-3 bg-as-table-ld-warning" style="<%= "display:none;" if res != 0 %>">
    Cliquez ici pour réserver.
    <button id="button-reserve" class="btn btn-ld-light-dark ms-5" onclick="javascript:reserve()" <%= "disabled" if in_skin? %>>Réserver</button>
  </div>

  <div id="div_reserved_by_other" class="mb-2 p-2 ps-3 bg-as-table-ld-warning-reder" style="<%= "display:none;" if res == 0 || res == current_user.id %>">
    Réservé par <b><%= res > 0 ? User.find(res).name : "" %></b>.
  </div>

  <div id="div_reserved_by_me" class="mb-2 p-2 ps-3 bg-as-table-ld-warning-greener" style="<%= "display:none;" if res != current_user.id %>">
    Cliquez ici pour annuler votre réservation.
    <button id="button-unreserve" class="btn btn-ld-light-dark ms-5" onclick="javascript:unreserve()" <%= "disabled" if in_skin? %>>Annuler</button>
  </div>
<% end %>

<!-- Affichage de la soumission -->
<% if !@contestsolution.official %>
  <%= render 'shared/post', ms: @contestsolution, can_edit: false %>
<% end %>

<% if @contestproblem.at_least(:corrected) || @contest.is_organized_by_or_root(current_user) %>
  <%= render 'contestcorrections/show', contestsolution: @contestsolution, contestcorrection: @contestsolution.contestcorrection %>
<% end %>
