<script type="text/javascript">
  var showNewSuspicionForm = function () {
    document.getElementById("btn_show_new_suspicion_form").style.display = 'none';
    document.getElementById("new_suspicion_form").style.display = 'block';
  }
  var editSuspicion = function (suspicion_id) {
    document.getElementById("line_suspicion_edit_" + suspicion_id).style.display = 'revert';
  }
</script>

<h3>Suspicions de plagiat</h3>
<% suspicions = @submission.suspicions %>

<% if suspicions.size > 0 %>
  <% correctors = User.select(:id, :first_name, :last_name, :see_name).where("role IN (?) OR corrector = ?", [User.roles[:administrator], User.roles[:root]], true).order("first_name, last_name") %>
  
  <div class="mb-3" style="width:100%; overflow-x:auto;">
  <table class="table table-bordered my-0">
  <tr class="table-ld-header"><th class="sub-date d-none d-lg-table-cell">Date</th><th class="sub-user">Détecté par</th><th>Source</th><th class="text-center">Statut</th><% if current_user.root? %><th class="text-center">Action</th><% end %>
  </tr>
  <% suspicions.each do |s| %>
    <tr class="table-ld-<%= s.color_class %>">
    <td class="sub-date d-none d-lg-table-cell"><%= write_date(s.created_at) %></td>
    <td class="sub-user"><%= s.user.linked_name %></td>
    <td>
    <% s.source.split(' ').each do |w| %>
      <% if w.index("http") == 0 %>
        <% url_shortened = (w.size > 40 ? w[0,37] + "..." : w) %>
        <%= link_to url_shortened, w, target: "_blank" %>
      <% elsif w.index("www") == 0 %>
        <% url_shortened = (w.size > 40 ? w[0,37] + "..." : w) %>
        <%= link_to url_shortened, "http://" + w, target: "_blank" %>
      <% else %>
        <%= w %>
      <% end %>
    <% end %>
    </td>
    <td class="text-center" style="width:110px;"><%= s.status_string %></td>
    <% if current_user.root? %>
      <td class="text-center" style="width:100px;">
      <%= link_to "Modifier", "javascript:editSuspicion(#{s.id})" %>
      </td>
    <% end %>
    </tr>
    
    <% if current_user.root? %>
      <%= form_for s, :url => suspicion_path(s, :action => :update), data: { confirm: "Êtes-vous #{current_user.sure} de vouloir faire cette modification ? Si vous confirmez une suspicion, l'étudiant ne pourra plus soumettre de solution à ce problème avant 6 mois." } do |f| %>
        <tr id="line_suspicion_edit_<%= s.id %>" class="table-ld-<%= s.color_class %>" style="display:<%= Rails.env.test? ? 'revert' : 'none' %>;">
        <td class="d-none d-lg-table-cell text-center align-middle">
        <% unless s.confirmed? %>
          <%= link_to 'Supprimer', s, method: :delete, data: { confirm: "Êtes-vous #{current_user.sure} de vouloir supprimer cette suspicion de plagiat ? Utilisez cette option uniquement en cas de fausse manipulation !" }, :class => "text-color-red" %>
        <% end %>
        </td>
        <td>
        <%= f.select(:user_id, options_for_select(correctors.collect {|u| [ u.name, u.id ] }, s.user_id), {}, { :class => "form-select", :id => "edit_user_field_#{s.id}" }) %>
        </td>
        <td><%= f.text_field :source, :class => "form-control", :id => "edit_source_field_#{s.id}" %></td>
        <td><%= f.select(:status, options_for_select({ "À confirmer" => :waiting_confirmation, "Confirmé" => :confirmed, "Pardonné" => :forgiven, "Rejeté" => :rejected }, s.status), {}, { :class => "form-select", :id => "edit_status_field_#{s.id}" }) %></td>
        <td class="text-center"><%= f.submit "Modifier", :class => "btn btn-primary", :id => "edit_button_#{s.id}" %></td>
        </tr>
      <% end %>
    <% end %>
  <% end %>
  </table>
  </div>
<% end %>

<% if current_user.root? && @submission.plagiarized? && @submission.user.student? %>
  <% num_plagiarism = @submission.user.submissions.where(:status => :plagiarized).count %>
  <p><%= @submission.user.name %> a envoyé <b><%= num_plagiarism %> soumission<%= 's' if num_plagiarism > 1 %> plagiée<%= 's' if num_plagiarism > 1 %></b> sur Mathraining.</p>
  <% last_ban = @submission.user.last_ban %>
  <% if !last_ban.nil? %>
    <% if last_ban.end_time > DateTime.now %>
      <p class="text-color-red">Il est actuellement banni du site, jusqu'au <%= write_date(last_ban.end_time) %>.</p>
    <% else %>
      <p class="text-color-orange">Il a déjà été banni le <%= write_date(last_ban.start_time) %>. Une nouvelle sanction peut être appliquée si la date de ce plagiat est postérieure à ce précédent bannissement.</p>
    <% end %>
  <% else %>
    <p>Il n'a jamais été banni.</p>
  <% end %>
  
  <p class="text-center">
  <%= link_to "Sanctionner #{@submission.user.name}", user_sanctions_path(@submission.user) %>
  </p>
<% end %>

<p id="btn_show_new_suspicion_form"><%= link_to "Soumettre une nouvelle suspicion de plagiat", "javascript:showNewSuspicionForm()" %></p>

<% new_suspicion = Suspicion.new %>
<div id="new_suspicion_form" style="display:<%= Rails.env.test? ? 'block' : 'none' %>;">
<%= form_for new_suspicion, url: submission_suspicions_path(@submission) do |f| %>
  <div class="mb-2">
  <%= f.label :source, "Source (lien vers une autre soumission ou une source extérieure)", :class => "form-label" %>
  <%= f.text_field :source, :class => "form-control" %>
  </div>
  <%= f.submit "Envoyer pour confirmation", :class => "btn btn-primary mb-3", :id => "new_suspicion_button" %>
<% end %>
</div>
