<% provide(:title, 'Suspicions de plagiats') %>

<% show_all = false %>
<% if !current_user.sk.root? || (params.has_key?:show_all) %>
  <% show_all = true %>
<% end %>

<h1><%= title_1("Suspicions de plagiats") %>
<% if current_user.sk.root? %>
  <span style="font-size:20px;"> - 
  <% if show_all %>
    <%= link_to "Nouvelles suspicions uniquement", suspicions_path %></span>
  <% else %>
    <%= link_to "Tout voir", suspicions_path(:show_all => 1) %></span>
  <% end %>
<% end %>
</h1>

<center>
  <%= will_paginate @suspicions, list_classes: %w(pagination justify-content-center d-none d-sm-flex), :renderer => WillPaginate::ActionView::BootstrapLinkRenderer, :inner_window => 2 %>
  <%= will_paginate @suspicions, :class => "d-block d-sm-none mb-3", :renderer => WillPaginate::ActionView::LinkRenderer, :previous_label => "&larr; Préc.", :next_label => "Suiv. &rarr;", :inner_window => 1 %>
</center>

<% if @suspicions.size == 0 %>
  <% if show_all %>
    <p>Aucune suspicion.</p>
  <% else %>
    <p>Aucune nouvelle suspicion.</p>
  <% end %>
<% else %>
  <table class="table table-bordered">
  <tr class="table-light"><th class="d-none d-lg-table-cell">Date</th><% if current_user.sk.root? %><th class="d-none d-md-table-cell">Détecté par</th><% end %><th>Auteur</th><th class="text-center">Type</th><% if show_all %><th class="text-center">Statut</th><% end %><th></th></tr>
  <% @suspicions.each do |s| %>
    <tr class="table-<%= s.color_class %>">
    <td class="d-none d-lg-table-cell" style="width:200px;"><%= write_date(s.created_at) %></td>
    <% if current_user.sk.root? %>
      <td class="d-none d-md-table-cell"><%= raw(s.user.linked_name) %></td>
    <% end %>
    <td><%= raw(s.submission.user.linked_name) %></td>
    <td class="text-center" style="width:100px;"><%= s.section_short_abbreviation %> <%= s.problem_level %></td>
    <% if show_all %>
      <td class="text-center" style="width:110px;"><%= s.status_string %></td>
    <% end %>
    <td class="text-center" style="width:54px;"><%= link_to "Voir", problem_path(s.submission.problem_id, :sub => s.submission_id) %></td>
    </tr>
  <% end %>
  </table>
<% end %>
