<% soumission = -1 %>
<% if(params.has_key?:sub) %>
  <% soumission = params[:sub].to_i %>
<% end %>

<% if (f.online && f.chapter.online) || current_user.sk.admin? %>

  <% pt = 15*f.level %>


  <h3><%= f.name %>
    <% (1..f.level).each do |i| %>
      <i class='icon-star'></i>
    <% end %>
    <% if !@fondation %>
      <span style="margin-left:20px; color:grey;">(<%= pt %> points)</span>
    <% end %>
  </h3>  

  <%= raw(f.statement.gsub(/\\][ \r]*\n/,'\] ').gsub(/\$\$[ \r]*\n/,'$$ ').gsub(/<\/ol>[ \r]*\n/, '</ol>').gsub(/\n[ \r]*<\/ol>/, '</ol>').gsub(/<\/ul>[ \r]*\n/, '</ul>').gsub(/\n[ \r]*<\/ul>/, '</ul>').gsub(/\n[ \r]*<li>/, '<li>').gsub(/\n/, '<br/>')) %>
  <br/>

  <% if current_user.sk.admin? %>
  <br/>
  <h4>Eléments de solution</h4>
  <% if f.explanation.size == 0 %>
    <p style="color:orange;"><b>Pas d'éléments disponibles </b> : Aidez vos collègues en rédigeant les grandes idées de la solution!</p>
  <% else %>
    <%= raw(f.explanation.gsub(/\\][ \r]*\n/,'\] ').gsub(/\$\$[ \r]*\n/,'$$ ').gsub(/<\/ol>[ \r]*\n/, '</ol>').gsub(/\n[ \r]*<\/ol>/, '</ol>').gsub(/<\/ul>[ \r]*\n/, '</ul>').gsub(/\n[ \r]*<\/ul>/, '</ul>').gsub(/\n[ \r]*<li>/, '<li>').gsub(/\n/, '<br/>')) %>
    <br/>
  <% end %>
  <br/>
  <div class="noprint">
    <center>
      <% if @chapter.online && f.online %>
        <%= link_to "Modifier ce problème", edit_problem_path(f), data: { confirm: "Attention, ce problème étant visible des utilisateurs, tâchez de ne pas faire de modifications majeures." } %>
        | <%= link_to "Modifier la solution", problem_explanation_path(f) %>
        <% if current_user.sk.root %>
           | <%= link_to "Supprimer ce problème", f, method: :delete, data: { confirm: "Attention, ce problème est visible des utilisateurs. Etes-vous sûr de vouloir supprimer ce problème? Veillez à avoir une connexion stable et à ne pas interrompre l'opération (cela risque de durer un petit peu de temps)." }, :style => "color:red;" %>
        <% end %>
      <% else %>
        <%= link_to "Modifier ce problème", edit_problem_path(f) %>
        | <%= link_to "Modifier la solution", problem_explanation_path(f) %> |
        <%= link_to "Supprimer ce problème", f, method: :delete, data: { confirm: "Etes-vous sûr de vouloir supprimer ce problème?" } %>
      <% end %>
    </center>
    <br/>

    <% if number > 1 %>
      <% up = true %>
    <% else %>
      <% up = false %>
    <% end %>

    <% if number < @chapter.problems.count %>
      <% down = true %>
    <% else %>
      <% down = false %>
    <% end %>

    <% if up || down %>
      <center>
        Déplacer ce problème vers le
        <% if up %>
          <%= link_to "haut", problem_order_minus_path(f) %>
          <% if down %>
            | <%= link_to "bas", problem_order_plus_path(f) %>
          <% end %>
        <% else %>
          <%= link_to "bas", problem_order_plus_path(f) %>
        <% end %>
      </center> <br/>
    <% end %>

    <% if !f.online && @chapter.online %>
      <center>
        <%= button_to "Mettre en ligne", problem_put_online_path(f), method: :get, class: 'btn btn', data: { confirm: "Etes vous sûr de vouloir rendre ce problème visible par les utilisateurs?" } %>
      </center> <br/>
    <% end %>
    <% if f.online %>
      <%= render 'submissions/index', problem: f %>
    <% end %>
  </div>
  <% else %>
    <%= render 'submissions/index', problem: f %>
    <% unless current_user.sk.solved?(f) || !@newsub %>
    
      <button class="btn" onclick="location.href='<%= chapter_path(@chapter, :type => 4, :which => f, :sub => 0)  %>'">Nouvelle soumission</button>
      
    <% end %>
  <% end %>
    
    <% if soumission == 0 %>
    <hr>
      <% unless current_user.sk.solved?(f) || !@newsub %>
        <%= render 'submissions/new', problem: f %>
      <% end %>
    <% elsif soumission > 0 %>
    <hr>
      <% @submission = Submission.find_by_id(soumission) %>
      <% @problem = f %>
      <% if @submission.problem == f && (@submission.user == current_user.sk || (current_user.sk.solved?(f) && @submission.status == 2) || current_user.sk.admin) %>
         <%= render 'submissions/showsmall' %>
      <% end %>
    <% end %>

  <% if !current_user.sk.admin? %>
   <hr>
   Des questions concernant ce problème? N'hésitez pas à demander de l'aide sur le <%= link_to "forum", subjects_path(@chapter, :q => @chapter.id), :target => "_blank" %> dédié à ce chapitre!<br/><br/>
  <% end %>

<% end %>
