<% provide(:title, 'Modifier un problème') %>

<h1>
<span style="font-size:16px;">Problèmes ></span>
<span style="font-size:24px;"><%= link_to @problem.section.name, pb_sections_path(@problem.section) %> ></span>
<span style="font-size:32px;"><%= link_to "Problème ##{ @problem.number }", @problem %> ></span>
Modifier le problème
</h1>

    <%= form_for(@problem) do |f| %>
      <%= render 'form_edit', f: f %>
      <%= f.submit "Editer", class: "btn btn-lg btn-primary" %>
    <% end %>

<script>
Preview.Init();
Preview.Update();
</script>
