<% provide(:title, "Modifier le marking scheme d'un problème") %>

<h1><%= title_4("Problèmes", (link_to @problem.section.name, pb_sections_path(@problem.section)), (link_to "Problème ##{ @problem.number }", @problem), "Modifier le marking scheme") %></h1>

<!-- Enoncé -->
<h3>Énoncé</h3>
<%= raw(htmlise(@problem.statement)) %>

<% if @problem.explanation.size > 0 %>
  <!-- Explication -->
  <h3 class="mt-3">Éléments de solution</h3>
  <%= raw(htmlise(@problem.explanation)) %>
<% end %>

<!-- Marking scheme -->
<h3 class="mt-3">Marking scheme</h3>
<p>Ce champ ne sera visible <u>que par les administrateurs et correcteurs</u>.</p>

<%= form_for(@problem, url: problem_update_markscheme_path) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="mb-2">
    <%= render 'shared/preview' %>
    <%= render 'shared/font' %>
    <%= f.text_area :markscheme, :class => "form-control", :maxlength => "8000", :style => "height:200px;", :id => "MathInput", :oninput => "Preview.MyUpdate()" %>
    <script>initAndUpdatePreviewWhenPossible()</script>
  </div>
  <%= f.submit "Modifier", class: "btn btn-lg btn-primary" %>
<% end %>
