<% provide(:title, "Modifier le barème d'un problème") %>

<h1><%= title_problem(@problem, "Modifier le barème") %></h1>

<!-- Enoncé -->
<h3>Énoncé</h3>
<div class="mb-3">
  <%= htmlise(@problem.statement) %>
</div>

<% if @problem.explanation.size > 0 %>
  <!-- Explication -->
  <h3>Éléments de solution</h3>
  <div class="mb-3">
    <%= htmlise(@problem.explanation) %>
  </div>
<% end %>

<!-- Barème -->
<h3>Barème</h3>
<p>Ce champ ne sera visible <u>que par les administrateurs et correcteurs</u>.</p>

<%= form_for(@problem, url: update_markscheme_problem_path) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="mb-2">
    <%= render 'shared/preview' %>
    <%= render 'shared/font' %>
    <%= f.text_area :markscheme, :class => "form-control", :maxlength => "8000", :style => "height:200px;", :id => "MathInput" %>
    <script>initAndUpdatePreviewWhenPossible()</script>
  </div>
  <%= f.submit "Modifier", class: "btn btn-lg btn-primary mb-3" %>
<% end %>
