<% provide(:title, "Modifier la solution d'un problème".html_safe) %>

<h1><%= title_4("Problèmes", (link_to @problem.section.name, pb_sections_path(@problem.section)), (link_to "Problème ##{ @problem.number }", @problem), "Modifier la solution") %></h1>

<!-- Enoncé -->
<h3>Énoncé</h3>
<%= raw(htmlise(@problem.statement)) %>

<!-- Explication -->
<h3 class="mt-3">Éléments de solution</h3>
<p>Ce champ ne sera visible <u>que par les administrateurs et correcteurs</u>.
Son but est de donner les grandes idées de la solution afin de faciliter la tâche des correcteurs.</p>

<%= form_for(@problem, url: problem_update_explanation_path) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="mb-2">
    <%= render 'shared/preview' %>
    <%= render 'shared/font' %>
    <%= f.text_area :explanation, :class => "form-control", :style => "height:200px;", :id=>"MathInput", :onkeyup => "Preview.MyUpdate()" %>
    <script>initAndUpdatePreviewWhenPossible()</script>
  </div>
  <%= f.submit "Modifier", class: "btn btn-lg btn-primary" %>
<% end %>
