<% provide(:title, "Modifier la solution d'un problème") %>
<h1>Modifier la solution d'un problème</h1>

<h3>Enoncé</h3>	
<%= raw(@problem.statement.gsub(/\\][ \r]*\n/,'\] ').gsub(/\$\$[ \r]*\n/,'$$ ').gsub(/<\/ol>[ \r]*\n/, '</ol>').gsub(/\n[ \r]*<\/ol>/, '</ol>').gsub(/<\/ul>[ \r]*\n/, '</ul>').gsub(/\n[ \r]*<\/ul>/, '</ul>').gsub(/\n[ \r]*<li>/, '<li>').gsub(/\n/, '<br/>')) %>

<br/>

<h3>Eléments de solution</h3>
Ce champ ne sera visible <u>que par les autres administrateurs</u>. Son but est de donner les grandes idées de la solution afin de faciliter la tâche des autres administrateurs voulant corriger des solutions d'étudiants à ce problème.<br/><br/>

<%= form_for(@problem, url: problem_update_explanation_path) do |f| %>
  <%= render 'explanation_fields', f: f %>
  <br />
  <%= f.submit "Modifier", class: "btn btn-large btn-primary" %>
<% end %>
    
<center><%= link_to 'Retour au chapitre', chapter_path(@problem.chapter, :type => 4, :which => @problem.id) %></center>

<script>
Preview.Init();
Preview.Update();
</script>
