<% provide(:title, @section.name) %>

<h1><%= title_2("Problèmes", @section.name) %>
<button class="information-tag" onclick="return Info.toggle();">?</button>
</h1>

<%= render 'info' %>

<% if !has_enough_points(current_user) %>

  <!-- Si moins de 200 points, on ne peut rien voir -->
  <p class="mt-3 fw-bold">
  Les problèmes ne sont accessibles qu'aux utilisateurs ayant un score d'au moins 200.
  </p>

<% else %>

<% problems = accessible_problems_from_section(current_user, @section, ["id", "number", "level", "online", "statement", "origin", "virtualtest_id", "nb_solves", "first_solve_time", "last_solve_time"]) %>
<% problems_by_level = problems.group_by{|p| p.level} %>

<% unless current_user.admin? %>
  <% @num_sub_by_problem_and_status = current_user.submissions.where("problem_id IN (?)", problems.map(&:id)).group(:problem_id, :status).count %>
<% end %>

<% def sub_count_by_status(problem_id, status) %>
  <% return nil if current_user.admin? %>
  <% return @num_sub_by_problem_and_status[[problem_id, status]] || 0 %>
<% end %>

<% (1..5).each do |level| %>
  <h3 class="<%= "mt-2" if level == 1 %>">Niveau <%= level %></h3>
  <% if problems_by_level[level].nil? %>
    <p>Aucun problème de niveau <%= level %> n'est disponible.</p>
  <% else %>
    <p>Chaque problème de niveau <%= level %> vaut <b><%= 15*level %></b> points.</p>
    
    <% problems_by_level[level].each do |p| %>
      <% num_correct_sub = sub_count_by_status(p.id, "correct")%>
      <% num_correct_sub = 0 if num_correct_sub.nil? %>

      <% num_drafts = 0 %>

      <% classe = "" %>
      <!-- Si déjà résolu : vert -->
      <% if num_correct_sub > 0 %>
        <% classe = "greeny" %>

      <!-- Si pas en ligne : orange -->
      <% elsif !p.online %>
        <% classe = "orangey" %>

      <!-- Si connecté -->
      <% else %>
        <% wrong = sub_count_by_status(p.id, "wrong")%>
        <% wrong_to_read = sub_count_by_status(p.id, "wrong_to_read")%>
        <% plagiarized = sub_count_by_status(p.id, "plagiarized")%>
        <% closed = sub_count_by_status(p.id, "closed")%>
        <% num_incorrect_sub = wrong + wrong_to_read + plagiarized + closed %>
        
        <% num_waiting_sub = sub_count_by_status(p.id, "waiting") %>
        <% num_drafts = sub_count_by_status(p.id, "draft") %>

        <!-- Si aucune soumission (ou admin) : jaune -->
        <% if current_user.admin? || num_waiting_sub + num_incorrect_sub == 0 %>
          <% classe = "yellowy" %>
        <% else %>
          <!-- Si une soumission pas encore corrigée : orange -->
          <% if num_waiting_sub > 0 %>
            <% classe = "orangey" %>

          <!-- Si une soumission erronée : rouge -->
          <% else %>
            <% classe = "redy" %>
          <% end %>
        <% end %>
      <% end %>
      
      <table class="table table-bordered problem <%= classe %>" id="problem<%= p.id %>">
      <tr><td class="title">
      <center><h4>
      <%= link_to "Problème ##{ p.number }", problem_path(p, :auto => 1) %>
      <% if p.virtualtest_id > 0 %>
        - Test #<%= p.virtualtest.number %>
      <% end %>
      <%= "(en construction)" if !p.online %></h4></center>
      </td></tr>
      
      <tr><td class="real-content">

      <div class="grid content"> <!-- 12 columns below 'md', 24 columns from 'md' (see module.scss) -->
        <% if num_drafts > 0 %>
          <div class="g-col-12 g-col-md-24 intro">
            <i>(Vous avez un brouillon enregistré pour ce problème.)</i>
          </div>
        <% end %>
        
        <div class="g-col-12 g-col-md-15 g-col-lg-16 g-col-xl-17 module left-part">
          <center><h5>Énoncé</h5></center>
          <%= raw(htmlise(p.statement)) %>
        </div>
        
        <div class="g-col-12 g-col-md-9 g-col-lg-8 g-col-xl-7 module right-part">
          <center><h5>Statistiques</h5></center>
          <center>
          <% nb_sol = p.nb_solves %>
          <% if nb_sol >= 1 %>
            Résolu par <b><%= nb_sol %></b> personne<%= "s" if nb_sol > 1 %><br/>
            entre le <b><%= write_date_only(p.first_solve_time) %></b><br/>
            et le <b><%= write_date_only(p.last_solve_time) %></b>
          <% else %>
            <i>Jamais résolu</i>
          <% end %>
          </center>
        </div>

        <!-- Origine si administrateur ou si résolu -->
        <% if (current_user.admin? || num_correct_sub > 0) && !p.origin.nil? && p.origin.size > 0 %>
          <div class="g-col-12 g-col-md-24 module bottom-part">
            Origine du problème : <b><%= p.origin %></b>
          </div>
        <% end %>
      </div>
      </td></tr>
      </table> 
    <% end %>
  <% end %>
<% end %>



<!-- Ajouter un problème -->
<% if signed_in? && current_user.admin? %>
  <center>
  <%= button_to "Ajouter un problème", new_section_problem_path(@section), method: :get, class: 'btn btn-lg btn-ld-light-dark' %>
  </center>
<% end %>

<% end %>
