<% provide(:title, "Modifier le marking scheme d'un problème") %>

<h1><%= title_4("Problèmes", (link_to @problem.section.name, pb_sections_path(@problem.section)), (link_to "Problème ##{ @problem.number }", @problem), "Modifier le marking scheme") %></h1>

<!-- Enoncé -->
<h3>Énoncé</h3>
<div style="margin-bottom:30px;">
<%= raw(htmlise(@problem.statement)) %>
</div>

<!-- Explication -->
<h3>Éléments de solution</h3>
<div style="margin-bottom:30px;">
<%= raw(htmlise(@problem.explanation)) %>
</div>

<!-- Marking scheme -->
<h3>Marking scheme</h3>
Ce champ ne sera visible <u>que par les administrateurs</u>.<br/><br/>

<%= form_for(@problem, url: problem_update_markscheme_path) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="form-group">
    <div class="well" id="MathPreview"></div>
    <div class="well hidden-preview" id="MathBuffer"></div>
    <%= render 'theories/font' %>
    <%= f.text_area :markscheme, :class => "form-control", :style => "height:200px; margin-top:5px;", :id=>"MathInput", :onkeyup => "Preview.MyUpdate()" %>
  </div>
  <%= f.submit "Modifier", class: "btn btn-lg btn-primary" %>
<% end %>

<script>
Preview.Init();
Preview.Update();
</script>
