<% provide(:title, "Problème ##{ @problem.number }") %>

<% pt = @problem.value %>

<% problem_solved = current_user.admin? ? false : current_user.pb_solved?(@problem) %>

<div class="split-title-lg">
  <div class="part-1">
    <h1><%= title_problems(@problem.section, "Problème&nbsp;##{ @problem.number }#{ (' - Test&nbsp;#' +  @problem.virtualtest.number.to_s ) if @problem.virtualtest_id != 0 } #{ '(en construction)' if !@problem.online }".html_safe) %></h1>
  </div>
  <div class="part-2 mb-2">
    <span class="badge rounded-pill py-2 px-3 fs-5 <%= problem_solved ? 'bg-success' : 'bg-secondary' %>"><%= pt %>&nbsp;points</span>
    <% if @problem.online %>
      <span class="badge rounded-pill py-2 px-3 fs-5 bg-primary">Résolu <%= @problem.nb_solves %> fois</span>
    <% end %>
     <% if current_user.admin? || (current_user.corrector? && problem_solved) %>
      <% is_favorite = current_user.favorite_problems.exists?(@problem.id)%>
      <%= image_tag "heart-fill.svg", :id => "heart-filled-#{@problem.id}", :class => "svg-black-white ms-1", :width => "26", :style => "cursor:pointer; display:#{is_favorite ? 'inline' : 'none'};", :onclick => "$.getScript('#{unmark_favorite_problem_url(@problem)}')" %>
      <%= image_tag "heart.svg", :id => "heart-#{@problem.id}", :class => "svg-black-white ms-1", :width => "26", :style => "cursor:pointer; display:#{is_favorite ? 'none' : 'inline'};", :onclick => "$.getScript('#{mark_favorite_problem_url(@problem)}')" %>
    <% end %>
  </div>
</div>

<!-- Si administrateur -->
<% if current_user.admin? %>

  <% if !@problem.online %>
    <!-- Dans un test virtuel ou non -->
    <p>
    <% selectionne = 0 %>
    <% if @problem.virtualtest_id == 0 %>
      Ce problème ne fait partie d'aucun test virtuel.
    <% else %>
      <% vt = @problem.virtualtest %>
      Ce problème fait partie du <b>test virtuel #<%= vt.number %></b>.
      <% selectionne = vt.id %>
    <% end %>
    </p>
    
    <%= form_for(:problem, :url => add_virtualtest_problem_path(@problem), :html => { :class => "mb-3"} ) do |f| %>
      <div class="row g-2 align-items-center">
        <div class="col-auto">
          Faire appartenir ce problème à :
        </div>
        <div class="col-auto">
          <% liste = Array.new %>
          <% liste.push(["Aucun test virtuel", 0]) %>
          <% Virtualtest.where(online: false).all.each do |t| %>
            <% liste.push(["Test virtuel ##{ t.number }", t.id]) %>
          <% end %>
          <%= f.select(:virtualtest_id, options_for_select(liste, selectionne), {}, {:prompt => true, :class => "form-select"}) %>
        </div>
        <div class="col-auto">
          <%= f.submit "OK", class: "btn btn-primary", id: "add_to_virtualtest_button" %>
        </div>
      </div>
    <% end %>
  <% end %>

  <!-- Prérequis -->
  <h3>Prérequis</h3>

  <% has_pre = false %>
  <% enligne_ok = true %>

  <ul>
  <% @problem.chapters.each do |c| %>
    <% has_pre = true %>
    <li><%= link_to c.name, c %> <%= "(#{c.section.name})" if c.section != @problem.section %> <span class='text-color-orange'><%= "(en construction)" if !c.online %></span> <%= " - " if !@problem.online %> <%= link_to 'Supprimer ce prérequis', delete_prerequisite_problem_path(@problem, :chapter_id => c.id), data: { confirm: "Êtes-vous #{current_user.sure} de vouloir supprimer ce prérequis ?"}, :method => :put if !@problem.online %></li>
    <% enligne_ok = false if !c.online %>
  <% end %>
  </ul>

  <% if !@problem.online %>
    <% liste = Array.new %>

    <% Section.where(:fondation => false).all.each do |s| %>
      <% if !s.fondation || fondement %>
        <% liste2 = Array.new %>
        <% liste2.push(s.name) %>
        <% liste3 = Array.new %>
        <% s.chapters.order(:name).each do |c| %>
          <% liste3.push([c.name, c.id]) %>
        <% end %>
        <% liste2.push(liste3) %>

        <% liste.push(liste2) %>
      <% end %>
    <% end %>

    <%= form_for("chapter_problem", :url => add_prerequisite_problem_path(@problem), :html => { :class => "mb-3"} ) do |f| %>
      <div class="row g-2 align-items-center">
        <div class="col-auto">
          Ajouter le prérequis :
        </div>
        <div class="col-auto">
          <%= f.select(:chapter_id, grouped_options_for_select(liste), {}, {:prompt => true, :class => "form-select"}) %>
        </div>
        <div class="col-auto">
          <%= f.submit "OK", class: "btn btn-primary", id: "new_prerequisite_button" %>
        </div>
      </div>
    <% end %>

  <% end %>

<% end %>

<!-- Enoncé -->
<h3>Énoncé</h3>
<div class="mb-3">
<%= htmlise(@problem.statement) %>
</div>

<!-- Origine si administrateur ou si résolu -->
<% if current_user.admin? || problem_solved %>
  <p>
  <i>Origine du problème :
  <% if @problem.origin.nil? || @problem.origin.size == 0 %>
    <% if current_user.admin? %>
      <span class="text-color-orange">Inconnue</span>
    <% else %>
      Inconnue
    <% end %>
  <% else %>
    <b><%= @problem.origin %></b>
  <% end %>
  </i>
  </p>
<% end %>

<!-- Si administrateur -->

<% if current_user.admin? %>

  <!-- Modifier/Supprimer/... -->

  <div class="noprint">
    <p class="text-center">
      <% warning = (@problem.online ? { confirm: "Attention, ce problème étant visible des utilisateurs, tâchez de ne pas faire de modifications majeures." } : {}) %>
      <%= link_to "Modifier ce problème", edit_problem_path(@problem), data: warning %>
      | <%= link_to "Modifier la solution", edit_explanation_problem_path(@problem) %>
      | <%= link_to "Modifier les solutions externes", manage_externalsolutions_problem_path(@problem) %>
      <% if !@problem.virtualtest.nil? %>
        | <%= link_to "Modifier le marking scheme", edit_markscheme_problem_path(@problem) %>
      <% end %>
      <% if @problem.online && current_user.root? %>
        <% if @problem.reviewed? %>
          | <%= link_to "Marquer comme non-révisé", unmark_reviewed_problem_path(@problem), :method => :put %>
        <% else %>
          | <%= link_to "Marquer comme révisé", mark_reviewed_problem_path(@problem), :method => :put %>
        <% end %>
      <% end %>
      <% unless @problem.online %>
        | <%= link_to "Supprimer ce problème", @problem, method: :delete, data: { confirm: "Êtes-vous #{current_user.sure} de vouloir supprimer ce problème ?" } %>
      <% end %>
    </p>

    <% if !@problem.online %>
      <% if has_pre && enligne_ok %>
        <p class="text-center">
          <%= link_to "Mettre en ligne", put_online_problem_path(@problem), :method => :put, class: "btn btn-danger", data: { confirm: "Êtes-vous #{current_user.sure} de vouloir rendre ce problème visible par les utilisateurs ? Vous ne pourrez alors plus changer ses prérequis !" } %>
        </p>
      <% else %>
        <p class="text-center mb-1">
          <%= link_to "Mettre en ligne", put_online_problem_path(@problem), :method => :put, class: "btn btn-danger disabled" %>
        </p>
        <p class="text-center">
          <% if !has_pre %>
            (Au moins un chapitre prérequis nécessaire)
          <% else %>
            (Chapitres prérequis doivent être en ligne)
          <% end %>
        </p>
      <% end %>
    <% end %>

    <!-- Toutes les soumissions des étudiants -->
    <% if @problem.online %>
      <%= render 'submissions/index', problem: @problem %>
    <% end %>
  </div>

<!-- Si étudiant -->
<% else %>

  <div class="noprint">
    <!-- Affiche les soumissions qu'on peut voir -->
    <%= render 'submissions/index', problem: @problem %>

    <!-- Si pas encore résolu le problème -->
    <% if @cansendnewsub %>
      <% if @submission.nil? || (!@submission.draft? && !@submission.new_record?) %>
        <% if @problem.submissions.where(:user => current_user, :status => :draft).count == 0 %>
          <%= link_to 'Nouvelle soumission', problem_path(@problem, :sub => 0), :class => "btn btn-ld-light-dark mb-3" %>
        <% else %>
          <%= link_to 'Reprendre le brouillon', problem_path(@problem, :sub => 0), :class => "btn btn-ld-light-dark mb-3" %>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>


<!-- Si administrateur ou correcteur ayant résolu -->

<% if (current_user.admin? || current_user.corrector? && problem_solved) %>
  <!-- Explication -->
  <div class="clue-bis mb-3">
    <div class="text-center">
      <button onclick="return Clue.toggle(0)" class="btn btn-ld-light-dark">Éléments de solution
      <% if @problem.reviewed? %>
        <%= image_tag v_icon, :class => "svg-black-white" %>
      <% end %>
      </button>
    </div>
    <div id="indice0" class="clue-hide">
      <div class="clue-content">
        <%= htmlise(@problem.explanation) %>
      </div>
    </div>
  </div>
<% end %>

<% if !@submission.nil? %>
  <!-- Si on veut écrire une nouvelle soumission ou reprendre un brouillon -->
  <% if @submission.new_record? || (@submission.draft? && !current_user.admin?) %>
    <!-- On vérifie que l'on peut soumettre une nouvelle soumission -->
    <% if @cansendnewsub %>
      <hr>
      <% if current_user.can_write_submission? %>
        <%= render 'submissions/new', problem: @problem, submission: @submission %>
      <% else %>
        <p class="mb-2">Pour pouvoir rédiger une solution à un problème, vous devez d'abord compléter les chapitres suivants :</p>
        <%= render 'submissions/chapters_to_write_submission' %>
      <% end %>
    <% end %>

  <!-- Si on veut regarder une soumission -->
  <% else %>
    <hr class="mt-0">
    <%= render 'submissions/show' %>
  <% end %>
<% end %>
