<% provide(:title, "Problème ##{ @problem.number }") %>

<% soumission = -1 %>
<% if(params.has_key?:sub) %>
  <% soumission = params[:sub].to_i %>
<% end %>

<% pt = @problem.value %>

<% @resolu = current_user.sk.pb_solved?(@problem) %>

<h1><%= title_3("Problèmes", (link_to @problem.section.name, pb_sections_path(@problem.section)), "Problème ##{ @problem.number }#{ (' - Test #' +  @problem.virtualtest.number.to_s ) if @problem.virtualtest_id != 0 } #{ '(en construction)' if !@problem.online } <span class='ms-3 text-color-grey'>(#{ pt }&nbsp;points)</span>") %></h1>

<!-- Si administrateur -->
<% if current_user.sk.admin? %>

  <p>
  <% selectionne = 0 %>
  <% if @problem.virtualtest_id == 0 %>
    Ce problème ne fait partie d'aucun test virtuel.
  <% else %>
    <% vt = @problem.virtualtest %>
    Ce problème fait partie du <b>test virtuel #<%= vt.number %></b>.
    <% selectionne = vt.id %>
  <% end %>
  </p>

  <!-- Dans un test virtuel ou non -->
  <% if !@problem.online? %>
    <%= form_for(:problem, :url => problem_add_virtualtest_path(@problem), :html => { :class => "mb-3"} ) do |f| %>
      <div class="row g-2 align-items-center">
        <div class="col-auto">
          Faire appartenir ce problème à :
        </div>
        <div class="col-auto">
          <% liste = Array.new %>
          <% liste.push(["Aucun test virtuel", 0]) %>
          <% Virtualtest.where(online: false).all.each do |t| %>
            <% liste.push(["Test virtuel ##{ t.number }", t.id]) %>
          <% end %>
          <%= f.select(:virtualtest_id, options_for_select(liste, selectionne), {}, {:prompt => true, :class => "form-select"}) %>
        </div>
        <div class="col-auto">
          <%= f.submit "OK", class: "btn btn-primary", id: "add_to_virtualtest_button" %>
        </div>
      </div>
    <% end %>
  <% end %>

  <!-- Prérequis -->
  <h3>Prérequis (uniquement visibles des administrateurs)</h3>

  <% has_pre = false %>
  <% enligne_ok = true %>

  <ul>
  <% @problem.chapters.each do |c| %>
    <% has_pre = true %>
    <li><%= link_to c.name, c %> <%= "(#{c.section.name})" if c.section != @problem.section %> <span class='text-color-orange'><%= "(en construction)" if !c.online %></span> <%= " - " if !@problem.online %> <%= link_to 'Supprimer ce prérequis', problem_delete_prerequisite_path(@problem, :chapter_id => c.id), data: { confirm: "Êtes-vous sûr de vouloir supprimer ce prérequis ?"}, :method => :put if !@problem.online %></li>
    <% enligne_ok = false if !c.online %>
  <% end %>
  </ul>

  <% if !@problem.online %>
    <% liste = Array.new %>

    <% Section.where(:fondation => false).all.each do |s| %>
      <% if !s.fondation || fondement %>
        <% liste2 = Array.new %>
        <% liste2.push(s.name) %>
        <% liste3 = Array.new %>
        <% s.chapters.order(:name).each do |c| %>
          <% liste3.push([c.name, c.id]) %>
        <% end %>
        <% liste2.push(liste3) %>

        <% liste.push(liste2) %>
      <% end %>
    <% end %>

    <%= form_for("chapter_problem", :url => problem_add_prerequisite_path(@problem), :html => { :class => "mb-3"} ) do |f| %>
      <div class="row g-2 align-items-center">
        <div class="col-auto">
          Ajouter le prérequis :
        </div>
        <div class="col-auto">
          <%= f.select(:chapter_id, grouped_options_for_select(liste), {}, {:prompt => true, :class => "form-select"}) %>
        </div>
        <div class="col-auto">
          <%= f.submit "OK", class: "btn btn-primary", id: "new_prerequisite_button" %>
        </div>
      </div>
    <% end %>

  <% end %>

<% end %>

<!-- Enoncé -->
<h3>Énoncé</h3>
<div class="mb-3">
<%= raw(htmlise(@problem.statement)) %>
</div>

<!-- Origine si administrateur ou si résolu -->
<% if current_user.sk.admin? || @resolu %>
  <p>
  <i>Origine du problème :
  <% if @problem.origin.nil? || @problem.origin.size == 0 %>
    <% if current_user.sk.admin? %>
      <span class="text-color-orange">Inconnue</span>
    <% else %>
      Inconnue
    <% end %>
  <% else %>
    <b><%= @problem.origin %></b>
  <% end %>
  </i>
  </p>
<% end %>

<!-- Si administrateur -->

<% if current_user.sk.admin? %>

  <!-- Modifier/Supprimer/... -->

  <div class="noprint">
    <p class="text-center">
      <% warning = (@problem.online ? { confirm: "Attention, ce problème étant visible des utilisateurs, tâchez de ne pas faire de modifications majeures." } : {}) %>
      <%= link_to "Modifier ce problème", edit_problem_path(@problem), data: warning %>
      | <%= link_to "Modifier la solution", problem_edit_explanation_path(@problem) %>
      | <%= link_to "Modifier les solutions externes", problem_manage_externalsolutions_path(@problem) %>
      <% if !@problem.virtualtest.nil? %>
        | <%= link_to "Modifier le marking scheme", problem_edit_markscheme_path(@problem) %>
      <% end %>
      <% unless @problem.online %>
        | <%= link_to "Supprimer ce problème", @problem, method: :delete, data: { confirm: "Êtes-vous sûr de vouloir supprimer ce problème ?" } %>
      <% end %>
    </p>

    <% if !@problem.online %>
      <% if has_pre && enligne_ok %>
        <center>
        <%= button_to "Mettre en ligne", problem_put_online_path(@problem), :method => :put, class: 'btn btn-lg btn-ld-light-dark mb-3', data: { confirm: "Êtes-vous sûr de vouloir rendre ce problème visible par les utilisateurs ? Vous ne pourrez alors plus changer ses prérequis !" } %>
        </center>
      <% else %>
        <center>
        <%= button_to "Mettre en ligne", problem_put_online_path(@problem), :method => :put, class: 'btn btn-lg btn-ld-light-dark mb-1', disabled: true %>
        </center>
        <p class="mb-3 text-center">
        <% if !has_pre %>
          (Au moins un chapitre prérequis nécessaire)
        <% else %>
          (Chapitres prérequis doivent être en ligne)
        <% end %>
        </p>
      <% end %>
    <% end %>

    <!-- Toutes les soumissions des étudiants -->
    <% if @problem.online %>
      <%= render 'submissions/index', problem: @problem %>
    <% end %>
  </div>

<!-- Si étudiant -->
<% else %>

  <div class="noprint">
    <!-- Affiche les soumissions qu'on peut voir -->
    <%= render 'submissions/index', problem: @problem %>

    <!-- Si pas encore résolu le problème -->
    <% @draft = false %>
    <% unless (@resolu || !@cansendnewsub) %>
      <% @draft = true if @problem.submissions.where(:user => current_user.sk, :status => :draft).count > 0 %>
      <% if soumission != 0 %>
        <% if !@draft %>
          <%= link_to 'Nouvelle soumission', problem_path(@problem, :sub => 0), :class => "btn btn-ld-light-dark" %>
        <% else %>
          <%= link_to 'Reprendre le brouillon', problem_path(@problem, :sub => 0), :class => "btn btn-ld-light-dark" %>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>


<!-- Si administrateur ou correcteur ayant résolu -->

<% if (current_user.sk.admin? || current_user.sk.corrector? && @resolu) %>
  <!-- Explication -->
  <% if @problem.explanation.size == 0 %>
    <p class="text-center fw-bold text-color-orange">Pas d'éléments de solution disponibles.</p>
  <% else %>
    <div class='clue-bis'><div><center><button onclick='return Clue.toggle(0)' class='btn btn-ld-light-dark'>Éléments de solution (pour les correcteurs)</button></center></div><div id='indice0' class='clue-hide'><div class='clue-content'>
    <%= raw(htmlise(@problem.explanation)) %>
    </div></div></div>
  <% end %>
<% end %>


<!-- Si on veut écrire une nouvelle soumission -->
<% if soumission == 0 %>

  <!-- On vérifie que l'on peut soumettre une nouvelle soumission -->
  <% unless (@resolu || !@cansendnewsub) %>
    <hr>
    <% if current_user.sk.can_write_submission? %>
      <% if !@draft %>
        <%= render 'submissions/new', problem: @problem %>
      <% else %>
        <%= render 'submissions/edit_draft', problem: @problem %>
      <% end %>
    <% else %>
      Pour pouvoir rédiger une solution à un problème, vous devez d'abord compléter les chapitres suivants :
      <%= render 'submissions/chapters_to_write_submission' %>
    <% end %>
  <% end %>

<!-- Si on veut regarder une soumission -->
<% elsif soumission > 0 %>
  <% @submission = Submission.find_by_id(soumission) %>

  <!-- On vérifie que l'on peut la regarder -->
  <% if @submission.problem == @problem && (!@submission.draft? || current_user.sk.admin?) && (@submission.user == current_user.sk || (@resolu && @submission.correct?) || current_user.sk.admin || (current_user.sk.corrector && @resolu && @submission.visible)) %>
    <hr>
    <%= render 'submissions/show' %>
  <% end %>
<% end %>
