<% provide(:title, "Problème ##{ @problem.number }") %>

<% soumission = -1 %>
<% if(params.has_key?:sub) %>
  <% soumission = params[:sub].to_i %>
<% end %>

<% pt = @problem.value %>

<% @resolu = current_user.sk.pb_solved?(@problem) %>

<h1>
<span class="title-first">Problèmes ></span>
<span class="title-second"><%= link_to @problem.section.name, pb_sections_path(@problem.section) %> ></span>
<%= "Problème ##{ @problem.number }" %>

<% if !@problem.virtualtest.nil? %>
- Test #<%= @problem.virtualtest.number %>
<% end %>
  <%= "(en construction)" if !@problem.online %>
  <% if !signed_in? || !current_user.sk.admin %>
  <span style="margin-left:20px; color:grey;">(<%= pt %> points)</span>
  <% end %>
</h1>

<!-- Si administrateur -->
<% if signed_in? && current_user.sk.admin? %>

  <!-- Dans un test virtuel ou non -->
  <% if !@problem.online? %>
    <%= form_for(:problem, :url => problem_add_virtualtest_path(@problem), :html => { :class => "form-horizontal"} ) do |f| %>
    <div class="form-inline">
      <% selectionne = 0 %>
      <% vt = @problem.virtualtest %>
        <% if vt.nil? %>
          Ce problème ne fait partie d'aucun test virtuel.
        <% else %>
          Ce problème fait partie du <b>test virtuel #<%= vt.number %></b>.
          <% selectionne = vt.id %>
        <% end %>

        <% liste = Array.new %>
        <% liste.push(["Aucun test virtuel", 0]) %>
        <% Virtualtest.where(online: false).all.each do |t| %>
          <% liste.push(["Test virtuel ##{ t.number }", t.id]) %>
        <% end %>

        Faire appartenir ce problème à :
        <%= f.select(:virtualtest_id, options_for_select(liste, selectionne), {}, {:prompt => true, :class => "form-control"}) %>
        <%= f.submit "OK", class: "btn btn-primary" %>
      </div>
    <% end %>
  <% end %>

  <!-- Prérequis -->
  <h3>Prérequis (uniquement visibles des administrateurs)</h3>

  <% has_pre = false %>
  <% enligne_ok = true %>

  <ul>
  <% @problem.chapters.each do |c| %>
  <% has_pre = true %>
  <li><%= link_to c.name, c %> <%= "(#{c.section.name})" if c.section != @problem.section %> <span style='color:orange;'><%= "(en construction)" if !c.online %></span> <%= " - " if !@problem.online %> <%= link_to 'Supprimer ce prérequis', problem_delete_prerequisite_path(@problem, :chapter_id => c.id), data: { confirm: "Êtes-vous sûr de vouloir supprimer ce prérequis ?"} if !@problem.online %></li>
  <% enligne_ok = false if !c.online %>
  <% end %>
  </ul>

  <% if !@problem.online %>
  <% liste = Array.new %>

  <% Section.where(:fondation => false).all.each do |s| %>
    <% if !s.fondation || fondement %>
    <% liste2 = Array.new %>
    <% liste2.push(s.name) %>
    <% liste3 = Array.new %>
    <% s.chapters.order(:name).each do |c| %>
      <% liste3.push([c.name, c.id]) %>
    <% end %>
    <% liste2.push(liste3) %>

    <% liste.push(liste2) %>
    <% end %>
  <% end %>

  <%= form_for("chapter_problem", :url => problem_add_prerequisite_path(@problem), :html => { :class => "form-horizontal"} ) do |f| %>
    <div class="form-inline">
        Ajouter le prérequis :
        <%= f.select(:chapter_id, grouped_options_for_select(liste), {}, {:prompt => true, :class => "form-control"}) %>
        <%= f.submit "OK", class: "btn btn-primary" %>
      </div>
    <% end %>

  <% end %>

<% end %>

<!-- Enoncé -->
<h3>Énoncé</h3>
<div style="margin-bottom:30px;">
  <%= raw(htmlise(@problem.statement)) %>

<!-- Origine si administrateur ou si résolu -->
<% if current_user.sk.admin? || @resolu %>

  <% taille = @problem.statement.size() %>
  <% liste = false %>
  <% if taille >= 5 %>
    <% fin = @problem.statement[taille-5, taille-1] %>
    <% if fin == "</ol>" || fin == "</ul>" || fin[3,4] == "$$" %>
      <% liste = true %>
    <% end %>
  <% end %>

  <% if !liste %>
    <br/><br/>
  <% end %>

  <i>(Origine du problème :
  <% if @problem.origin.nil? || @problem.origin.size == 0 %>
    <% if current_user.sk.admin? %>
      <span style="color:orange;">Inconnue</span>)
    <% else %>
      Inconnue)
    <% end %>
  <% else %>
    <b><%= @problem.origin %></b>)
  <% end %>
  </i>
<% end %>
</div>

<!-- Si administrateur ou correcteur ayant résolu -->

<% if signed_in? && (current_user.sk.admin? || current_user.sk.corrector? && @resolu) %>

  <!-- Explication -->
  <% if @problem.explanation.size == 0 %>
    <span style="color:orange; font-weight:bold;">Pas d'éléments de solution disponibles.</span><br/>
  <% else %>
    <div class='clue-bis'><div><a href='#' onclick='return Clue.toggle(0)' class='btn btn-default btn-grey'>Éléments de solution (pour les correcteurs)</a></div><div id='indice0' class='clue-hide'><div class='clue-content'>
    <%= raw(htmlise(@problem.explanation)) %>
    </div></div></div>
  <% end %>
  <br/>
<% end %>

<!-- Si administrateur -->

<% if signed_in? && current_user.sk.admin? %>

  <!-- Modifier/Supprimer/... -->

  <div class="noprint">
    <center>
      <% if @problem.online %>
        <%= link_to "Modifier ce problème", edit_problem_path(@problem), data: { confirm: "Attention, ce problème étant visible des utilisateurs, tâchez de ne pas faire de modifications majeures." } %> |
        <%= link_to "Modifier la solution", problem_explanation_path(@problem) %>
        <% if !@problem.virtualtest.nil? %>
          | <%= link_to "Modifier le marking scheme", problem_markscheme_path(@problem) %>
        <% end %>
      <% else %>
        <%= link_to "Modifier ce problème", edit_problem_path(@problem) %> |
        <%= link_to "Modifier la solution", problem_explanation_path(@problem) %> |
        <% if !@problem.virtualtest.nil? %>
          <%= link_to "Modifier le marking scheme", problem_markscheme_path(@problem) %> |
        <% end %>
        <%= link_to "Supprimer ce problème", @problem, method: :delete, data: { confirm: "Êtes-vous sûr de vouloir supprimer ce problème ?" } %>
      <% end %>
    </center>

    <% if !@problem.online %>
    	<br/>
      <center>
        <% if !has_pre %>
          <%= button_to "Mettre en ligne", problem_put_online_path(@problem), class: 'btn btn-lg btn-default btn-grey', disabled: true, style: "margin-bottom:10px;" %>
          (Au moins un chapitre prérequis nécessaire)
        <% elsif !enligne_ok %>
          <%= button_to "Mettre en ligne", problem_put_online_path(@problem), class: 'btn btn-lg btn-default btn-grey', disabled: true, style: "margin-bottom:10px;" %>
          (Chapitres prérequis doivent être en ligne)
        <% else %>
          <%= button_to "Mettre en ligne", problem_put_online_path(@problem), method: :get, class: 'btn btn-lg btn-default btn-grey', data: { confirm: "Êtes-vous sûr de vouloir rendre ce problème visible par les utilisateurs ? Vous ne pourrez alors plus changer ses prérequis !" } %>
        <% end %>
      </center> <br/>
    <% end %>

    <!-- Toutes les soumissions des étudiants -->
    <% if @problem.online %>
      <%= render 'submissions/index', problem: @problem %>
    <% end %>
  </div>

<!-- Si étudiant -->
<% else %>

  <!-- Affiche les soumissions qu'on peut voir -->
  <%= render 'submissions/index', problem: @problem if signed_in? %>

  <!-- Si pas encore résolu le problème -->
  <% unless (signed_in? && @resolu) || (signed_in? && !@newsub) %>
    <% if !signed_in? %>
    <br/>
    <% end %>
    <% if !@brouillon %>
      <button class="btn btn-default btn-grey" onclick="location.href='<%= problem_path(@problem, :sub => 0)  %>'">Nouvelle soumission</button>
    <% else %>
      <button class="btn btn-default btn-grey" onclick="location.href='<%= problem_path(@problem, :sub => 0)  %>'">Reprendre le brouillon</button>
    <% end %>
  <% end %>
<% end %>

<!-- Si on veut écrire une nouvelle soumission -->
<% if soumission == 0 %>
  <hr>

  <!-- On vérifie que l'on peut soumettre une nouvelle soumission -->
  <% unless (signed_in? && @resolu) || (signed_in? && !@newsub) %>
    <% if !@brouillon %>
      <%= render 'submissions/new', problem: @problem %>
    <% else %>
      <%= render 'submissions/newbrouillon', problem: @problem %>
    <% end %>
  <% end %>

<!-- Si on veut regarder une soumission -->
<% elsif soumission > 0 %>
  <% @submission = Submission.find_by_id(soumission) %>

  <!-- On vérifie que l'on peut la regarder -->
  <% if signed_in? && @submission.problem == @problem && (@submission.status >= 0 || current_user.sk.admin?) && (@submission.user == current_user.sk || (@resolu && @submission.status == 2) || current_user.sk.admin || (current_user.sk.corrector && @resolu && @submission.visible && (!@submission.intest || @submission.score >= 0))) %>
    <hr>
    <%= render 'submissions/show' %>
  <% end %>
<% end %>
