<% mois = ["janvier", "février", "mars", "avril", "mai", "juin", "juillet", "août", "septembre", "octobre", "novembre", "décembre"] %>

<% provide(:title, 'Pièces jointes') %>

<h1>
Pièces jointes
</h1>

<% total = 0 %>

<table class="table table-bordered">
<tr><th class="hidden-xs">Date</th><th>Qui</th><th class="hidden-xs">Où</th><th>Quoi</th><th><center>Taille</center></th><th><center>Contexte</center></th></tr>

<% @list.each do |l| %>

<% if (l[1] == 1 || l[1] == 3 || l[1] == 5 || l[1] == 7) %>
<% total = total + l[2].file_file_size %>
<tr style="background-color:#DDFFDD;">
<% else %>
<tr style="background-color:#FFDDDD;">
<% end %>

<td class="hidden-xs">
<% date = l[0].in_time_zone %>
<%= date.day %> <%= mois[date.month-1] %> <%= date.year %> à <%= date.hour %>h<%= "0" if date.min < 10 %><%= date.min %>
</td>

<td style="font-weight:bold;">
<% if l[1] <= 2 %>
  <% qui = l[2].submission.user %>
<% elsif l[1] <= 4 %>
  <% qui = l[2].correction.user %>
<% elsif l[1] <= 6 %>
  <% qui = l[2].subject.user %>
<% else %>
  <% qui = l[2].message.user %>
<% end %>

<% if qui.admin %>
  <%= qui.name %>
<% else %>
  <%= link_to qui.name, qui, {:style => "color:#{qui.level[:color]}" } %>
<% end %>
</td>


<td class="hidden-xs">
<% if l[1] >= 5 %>
Forum
<% else %>
Soumission
<% end %>
</td>

<td>
<% if l[1] == 1 %>
  <%= link_to l[2].file_file_name, download_submissionfile_path(l[2]) %>
<% elsif l[1] == 3 %>
  <%= link_to l[2].file_file_name, download_correctionfile_path(l[2]) %>
<% elsif l[1] == 5 %>
  <%= link_to l[2].file_file_name, download_subjectfile_path(l[2]) %>
<% elsif l[1] == 7 %>
  <%= link_to l[2].file_file_name, download_messagefile_path(l[2]) %>
<% else %>
  <span style="color:#0000BB;"><%= l[2].file_file_name %></span>
<% end %>
</td>

<td>
<center>
<% if (l[1] == 1 || l[1] == 3 || l[1] == 5 || l[1] == 7) %>
  <%= (l[2].file_file_size / 1000.0).round(1) %> ko
<% else %>
  <span style="color:grey;">(<%= (l[2].file_file_size / 1000.0).round(1) %> ko)</span>
<% end %>
</center>
</td>

<td>
<center>
<% if l[1] <= 2 %>
  <%= link_to "Voir", problem_path(l[2].submission.problem, :sub => l[2].submission) %>
<% elsif l[1] <= 4 %>
  <%= link_to "Voir", problem_path(l[2].correction.submission.problem, :sub => l[2].correction.submission) %>
<% elsif l[1] <= 6 %>
  <%= link_to "Voir", l[2].subject %>
<% else %>
  <% tot = l[2].message.subject.messages.where("id <= ?", l[2].message.id).count %>
  <% page = [0,((tot-1)/10).floor].max + 1 %>

  <%= link_to "Voir", subject_path(l[2].message.subject, :anchor => l[2].message.id, :page => page) %>
<% end %>
</center>
</td>


</tr>

<% end %>

</table>
