<%= render 'shared/error_messages', object: f.object %>

<% p = @submission.problem %>
<% listeprob = Array.new %>
<% listeprob.push(["Générique", 0]) %>
<% listeprob.push([p.section.name, -p.section_id]) %>
<% listeprob.push(["Problème ##{p.number}",p.id]) %>

<!-- Problème -->
<div class="mb-2">
  <%= f.label :problem_id, :class => "form-label" %>
  <% selected = -@savedreply.section_id %>
  <% selected = @savedreply.problem_id unless @savedreply.problem_id == 0 %>
  <%= f.select(:problem_id, options_for_select(listeprob, selected), {}, { :class => "form-select", :style => "width:100%; max-width:400px;" }) %>
</div>

<!-- Texte -->
<div class="mb-2">
  <%= f.label :content, :class => "form-label", :for => "MathInput" %>
  <%= render 'shared/preview' %>
  <%= render 'shared/smiley' %>
  <%= f.text_area :content, :class => "form-control", :maxlength => "8000", :style => "height:200px;", :id => "MathInput", :oninput => "Preview.MyUpdate()", :placeholder => "Vous pouvez utiliser \"[e]\" pour un mot concernant l'étudiant(e) qui ne prend un \"e\" qu'au féminin. La réponse s'adaptera automatiquement à l'étudiant(e)." %>
  <script>initAndUpdatePreviewSafeWhenPossible()</script>
</div>
