<script type="text/javascript">
  var savedreplies_used = new Set();
  var cleanSavedReplies = function () {
    var to_hide = document.getElementsByClassName("to-hide");
    for (let i = 0; i < to_hide.length; i++) {
      to_hide[i].style.display = 'none';
    }
  }
  var toggleSavedReplies = function (id) {
    var el = document.getElementById(id);
    var old = el.style.display;
    cleanSavedReplies();
    if (old == 'none') {
      el.style.display = 'block';
    }
  }
  var savedReplyUsed = function(id) {
    savedreplies_used.add(id);
    var hidden_field = document.getElementById("correction_savedreplies_used");
    hidden_field.value = Array.from(savedreplies_used).join(",")
  }
</script>

<% generic_savedreplies = Savedreply.where(:problem_id => 0, :section_id => 0).order("nb_uses DESC, id ASC").to_a %>
<% num_generic = generic_savedreplies.size %>
<% section_savedreplies = @submission.problem.section.savedreplies.order("nb_uses DESC, id ASC").to_a %>
<% num_section = section_savedreplies.size %>
<% problem_savedreplies = @submission.problem.savedreplies.order("nb_uses DESC, id ASC").to_a %>
<% num_problem = problem_savedreplies.size %>

<%= link_to "#{num_generic} rép. génériques", "javascript:toggleSavedReplies('generic_saved_replies')", :class => "btn btn-sm btn-ld-light-dark mb-2" if num_generic > 0 %>
<%= link_to "#{num_section} rép. #{@submission.problem.section.short_abbreviation}", "javascript:toggleSavedReplies('section_saved_replies')", :class => "btn btn-sm btn-ld-light-dark mb-2" if num_section > 0 %>
<%= link_to "#{num_problem} rép. ##{@submission.problem.number}", "javascript:toggleSavedReplies('problem_saved_replies')", :class => "btn btn-sm btn-ld-light-dark mb-2" if num_problem > 0 %>
<%= link_to "+", new_savedreply_path(:sub => @submission), :class => "btn btn-sm btn-ld-light-dark mb-2" %>

<% if num_generic > 0 %>
  <div id="generic_saved_replies" class="to-hide" style="display:none;">
    <% generic_savedreplies.each do |r| %>
      <%= render "savedreplies/show", r: r %>
    <% end %>
  </div>
<% end %>

<% if num_section > 0 %>
  <div id="section_saved_replies" class="to-hide" style="display:none;">
    <% section_savedreplies.each do |r| %>
      <%= render "savedreplies/show", r: r %>
    <% end %>
  </div>
<% end %>

<% if num_problem > 0 %>
  <div id="problem_saved_replies" class="to-hide" style="display:none;">
    <% problem_savedreplies.each do |r| %>
      <%= render "savedreplies/show", r: r %>
    <% end %>
  </div>
<% end %>
