<script type="text/javascript">
  var savedreplies_used = new Set();
  var toggleGenericSavedReplies = function () {
    var old = document.getElementById("generic_saved_replies").style.display;
    document.getElementById("generic_saved_replies").style.display = (old == 'block' ? 'none' : 'block');
  }
  var toggleProblemSavedReplies = function () {
    var old = document.getElementById("problem_saved_replies").style.display;
    document.getElementById("problem_saved_replies").style.display = (old == 'block' ? 'none' : 'block');
  }
  var savedReplyUsed = function(id) {
    savedreplies_used.add(id);
    var hidden_field = document.getElementById("correction_savedreplies_used");
    hidden_field.value = Array.from(savedreplies_used).join(",")
  }
</script>

<% generic_savedreplies = Savedreply.where(:problem_id => 0).order("nb_uses DESC, id ASC").to_a %>
<% num_generic = generic_savedreplies.size %>
<% problem_savedreplies = @submission.problem.savedreplies.order("nb_uses DESC, id ASC").to_a %>
<% num_problem = problem_savedreplies.size %>

<%= link_to "#{num_generic} #{num_generic > 1 ? 'réponses génériques' : 'réponse générique'}", "javascript:toggleGenericSavedReplies()", :class => "btn btn-sm btn-ld-light-dark mb-2" if num_generic > 0 %>
<%= link_to "#{num_problem} #{num_problem > 1 ? 'réponses spécifiques' : 'réponse spécifique'}", "javascript:toggleProblemSavedReplies()", :class => "btn btn-sm btn-ld-light-dark mb-2" if num_problem > 0 %>
<%= link_to "Ajouter", new_savedreply_path(:sub => @submission), :class => "btn btn-sm btn-ld-light-dark mb-2" if current_user.root? %>

<% if num_generic > 0 %>
  <div id="generic_saved_replies" style="display:none;">
    <% generic_savedreplies.each do |r| %>
      <%= render "savedreplies/show", r: r %>
    <% end %>
  </div>
<% end %>

<% if num_problem > 0 %>
  <div id="problem_saved_replies" style="display:none;">
    <% problem_savedreplies.each do |r| %>
      <%= render "savedreplies/show", r: r %>
    <% end %>
  </div>
<% end %>
