<div class="card text-bg-ld-light-dark <%= "border-warning" if !r.approved %> mb-2">
 <% final_content = r.content.gsub("[e]", (@submission.user.sex == 0 ? "" : "e")) %>
 <% final_content_no_proposal = (r.approved ? final_content : final_content.split("\n").drop(2).join("\n")) %>
  <div id="savedreply-<%= r.id %>" class="card-body" style="cursor:pointer;" onclick='Insert.insert("<%= final_content_no_proposal.gsub(/\\/, '\\\\\\').gsub(/"/, '\"') %>", "", "MathInput"); savedReplyUsed(<%= r.id %>);'>
    <%= bbcode(final_content) %>
  </div>
  <% if current_user.root? %>
    <div class="card-body text-center pt-0">
      <%= link_to "Modifier", edit_savedreply_path(r, :sub => @submission) %> |
      <%= link_to "Supprimer", r, :method => :delete, :class => "text-color-red", data: (Rails.env.test? ? {} : { confirm: "Êtes vous sûr de vouloir supprimer cette réponse ?" })  %>
    </div>
  <% end %>
</div>
