<div class="card text-bg-ld-light-dark <%= "border-warning" if !r.approved %> mb-2">
 <% final_content = r.content.gsub("[e]", (@submission.user.sex == 0 ? "" : "e")) %>
 <% final_content_no_proposal = (r.approved ? final_content : final_content.split("\n").drop(2).join("\n")) %>
  <div id="savedreply-<%= r.id %>" class="card-body" style="cursor:pointer; display:flex; flex-direction:row; gap:10px; justify-content:space-between;" onclick='Insert.insert("<%= escape_javascript(final_content_no_proposal) %>", "", "MathInput"); savedReplyUsed(<%= r.id %>);'>
    <div><%= bbcode(final_content) %></div>
    <div><span class="badge text-bg-secondary" title="Cette réponse <%= r.nb_uses == 0 ? "n'a jamais été utilisée" : "a été utilisée #{r.nb_uses} fois" %>."><%= r.nb_uses %></span></div>
  </div>
  <% if current_user.root? %>
    <div class="card-body text-center pt-0">
      <%= link_to "Modifier", edit_savedreply_path(r, :sub => @submission) %> |
      <%= link_to "Supprimer", r, :method => :delete, :class => "text-color-red", data: (Rails.env.test? ? {} : { confirm: "Êtes vous #{current_user.sure} de vouloir supprimer cette réponse ?" })  %>
    </div>
  <% end %>
</div>
