<%= render 'shared/error_messages', object: f.object %>

<!-- Prénom -->
<div class="form-group">
  <%= f.label :first_name %>
  <%= f.text_field :first_name, :class => "form-control", :style => "width:200px;", :disabled => (signed_in? && current_user.other && !current_user.root) %>
</div>

<!-- Nom -->
<div class="form-group">
  <%= f.label :last_name %>
  <%= f.text_field :last_name, :class => "form-control", :style => "width:200px;", :disabled => (signed_in? && current_user.other && !current_user.root)%>
</div>

<!-- Voir nom entier? -->
<div class="form-group">
  <%= f.radio_button :seename, 1 %>
  Apparaître avec mon nom entier sur le site.<br/>
  <%= f.radio_button :seename, 0 %>
  N'afficher que l'initiale de mon nom de famille.
</div>

<!-- Email -->
<div class="form-group">
  <%= f.label :email %>
  <%= f.email_field :email, :class => "form-control", :style => "width:200px;", :disabled => (signed_in? && current_user.other && !current_user.root) %>
</div>

<!-- Sexe -->
<div class="form-group">
  <%= f.label :sex %><br/>
  <%= f.radio_button :sex, 0 %>
  <span style="margin-right:10px;">Masculin</span>
  <%= f.radio_button :sex, 1 %>
  Féminin
</div>

<!-- Année de naissance -->
<div class="form-group">
  <%= f.label :year %><br/>
  <% liste = Array.new %>
  <% date = DateTime.current %>
  <% lastyear = date.year %>
  <% (1900 .. lastyear).each do |i| %>
    <% liste.push(i) %>
  <% end %>
  <%= f.select(:year, liste, {}, { :class => "form-control", :style => "width:80px;" }) %>
</div>

<!-- Pays de résidence -->
<div class="form-group">
  <%= f.label :country %><br/>
  <%= f.select(:country, ["Afghanistan", "Afrique du Sud", "Albanie", "Algérie", "Allemagne", "Andorre", "Angola", "Antigua-et-Barbuda", "Arabie saoudite", "Argentine", "Arménie", "Australie", "Autriche", "Azerbaïdjan", "Bahamas", "Bahreïn", "Bangladesh", "Barbade", "Belgique", "Belize", "Bénin", "Bhoutan", "Biélorussie", "Birmanie", "Bolivie", "Bosnie-Herzégovine", "Botswana", "Brésil", "Brunei", "Bulgarie", "Burkina Faso", "Burundi", "Cambodge", "Cameroun", "Canada", "Cap-Vert", "Centrafrique", "Chili", "Chine", "Chypre", "Colombie", "Comores", "Congo-Brazzaville", "Congo-Kinshasa", "Corée du Nord", "Corée du Sud", "Costa Rica", "Côte d'Ivoire", "Croatie", "Cuba", "Danemark", "Djibouti", "Dominique", "Égypte", "Émirats arabes unis", "Équateur", "Érythrée", "Espagne", "Estonie", "États-Unis", "Éthiopie", "Fidji", "Finlande", "France", "Gabon", "Gambie", "Géorgie", "Ghana", "Grèce", "Grenade", "Guatemala", "Guinée", "Guinée-Bissau", "Guinée équatoriale", "Guyana", "Haïti", "Honduras", "Hongrie", "Iles Cook", "Iles Marshall", "Iles Salomon", "Inde", "Indonésie", "Irak", "Iran", "Irlande", "Islande", "Israël", "Italie", "Jamaïque", "Japon", "Jordanie", "Kazakhstan", "Kenya", "Kirghizistan", "Kiribati", "Koweït", "Laos", "Lesotho", "Lettonie", "Liban", "Liberia", "Libye", "Liechtenstein", "Lituanie", "Luxembourg", "Macédoine", "Madagascar", "Malaisie", "Malawi", "Maldives", "Mali", "Malte", "Maroc", "Maurice", "Mauritanie", "Mexique", "Micronésie", "Moldavie", "Monaco", "Mongolie", "Monténégro", "Mozambique", "Namibie", "Nauru", "Népal", "Nicaragua", "Niger", "Nigéria", "Niue", "Norvège", "Nouvelle-Zélande", "Oman", "Ouganda", "Ouzbékistan", "Pakistan", "Palaos", "Palestine", "Panama", "Papouasie-Nouvelle-Guinée", "Paraguay", "Pays-Bas", "Pérou", "Philippines", "Pologne", "Portugal", "Qatar", "République dominicaine", "République tchèque", "Roumanie", "Royaume-Uni", "Russie", "Rwanda", "Saint-Christophe-et-Niévès", "Sainte-Lucie", "Saint-Marin", "Saint-Vincent-et-les-Grenadines", "Salvador", "Samoa", "Sao Tomé-et-Principe", "Sénégal", "Serbie", "Seychelles", "Sierra Leone", "Singapour", "Slovaquie", "Slovénie", "Somalie", "Soudan", "Soudan du Sud", "Sri Lanka", "Suède", "Suisse", "Suriname", "Swaziland", "Syrie", "Tadjikistan", "Tanzanie", "Tchad", "Thaïlande", "Timor oriental", "Togo", "Tonga", "Trinité-et-Tobago", "Tunisie", "Turkménistan", "Turquie", "Tuvalu", "Ukraine", "Uruguay", "Vanuatu", "Vatican", "Venezuela", "Viet Nam", "Yémen", "Zambie", "Zimbabwe"], {}, { :class => "form-control", :style => "width:250px;" }) %>
</div>

<% if modif %>
  <br/>Si vous désirez modifier votre mot de passe, remplissez les champs suivants.<br/><br/>
<% end %>

<!-- Mot de passe -->
<div class="form-group">
  <%= f.label :password %>
  <%= f.password_field :password, :class => "form-control", :style => "width:200px;", :disabled => (signed_in? && current_user.other) %>
</div>

<!-- Confirmation mot de passe -->
<div class="form-group">
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation, :class => "form-control", :style => "width:200px;", :disabled => (signed_in? && current_user.other) %>
</div>
