<%= render 'shared/error_messages', object: f.object %>

<!-- Prénom -->
<div class="form-group">
  <%= f.label :first_name %>
  <%= f.text_field :first_name, :class => "form-control", :style => "width:200px;", :disabled => (signed_in? && current_user.other && !current_user.root) %>
</div>

<!-- Nom -->
<div class="form-group">
  <%= f.label :last_name %>
  <%= f.text_field :last_name, :class => "form-control", :style => "width:200px;", :disabled => (signed_in? && current_user.other && !current_user.root)%>
</div>

<!-- Voir nom entier? -->
<div class="form-group">
  <label style="font-weight:normal;">
  <%= f.radio_button :seename, 1 %>
  Apparaître avec mon nom entier sur le site.
  </label><br/>
  <label style="font-weight:normal;">
  <%= f.radio_button :seename, 0 %>
  N'afficher que l'initiale de mon nom de famille.
  </label>
</div>

<!-- Email -->
<div class="form-group">
  <%= f.label :email %>
  <%= f.email_field :email, :class => "form-control", :style => "width:200px;", :disabled => modif %>
</div>

<!-- Confirmation email -->
<% if !modif %>
<div class="form-group">
  <%= f.label :email_confirmation %>
  <%= f.email_field :email_confirmation, :class => "form-control", :style => "width:200px;", :disabled => modif %>
</div>
<% end %>

<!-- Sexe -->
<div class="form-group">
  <%= f.label :sex %><br/>
  <label style="font-weight:normal;">
  <%= f.radio_button :sex, 0 %>
  <span style="margin-right:10px;">Masculin</span>
  </label>
  <label style="font-weight:normal;">
  <%= f.radio_button :sex, 1 %>
  Féminin
  </label>
</div>

<!-- Année de naissance -->
<div class="form-group">
  <%= f.label :year %>
  <% liste = Array.new %>
  <% date = DateTime.current %>
  <% lastyear = date.year %>
  <% (0..(lastyear-1900)).each do |i| %>
    <% liste.push(lastyear-i) %>
  <% end %>
  <%= f.select(:year, liste, { :include_blank => "Choisir..." }, { :class => "form-control", :style => "width:100px;"}) %>
</div>

<!-- Pays de résidence -->
<div class="form-group">
  <%= f.label :country %>
  <% countries_array = Country.all.map { |c| [c.name, c.id] } %>
  <%= f.select(:country, options_for_select(countries_array, @user.country_id), { :include_blank => "Choisir..." }, { :class => "form-control", :style => "width:250px;" }) %>
</div>

<% if modif %>
  <br/>Si vous désirez modifier votre mot de passe, remplissez les champs suivants.<br/><br/>
<% end %>

<!-- Mot de passe -->
<div class="form-group">
  <%= f.label :password %>
  <%= f.password_field :password, :class => "form-control", :style => "width:200px;", :disabled => (signed_in? && current_user.other) %>
</div>

<!-- Confirmation mot de passe -->
<div class="form-group">
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation, :class => "form-control", :style => "width:200px;", :disabled => (signed_in? && current_user.other) %>
</div>
