<%= render 'shared/error_messages', object: f.object %>

<!-- Prénom -->
<div class="form-group">
  <%= f.label :first_name %>
  <%= f.text_field :first_name, :class => "form-control", :style => "width:200px;", :disabled => (@signed_in && current_user.other && !current_user.root) %>
</div>

<!-- Nom -->
<div class="form-group">
  <%= f.label :last_name %>
  <%= f.text_field :last_name, :class => "form-control", :style => "width:200px;", :disabled => (@signed_in && current_user.other && !current_user.root)%>
</div>

<!-- Voir nom entier? -->
<div class="radio">
<label>
  <%= f.radio_button :seename, 1 %>
  Apparaître avec mon nom entier sur le site.
</label>
</div>
<div class="radio">
<label>
  <%= f.radio_button :seename, 0 %>
  N'afficher que l'initiale de mon nom de famille.
</label>
</div>

<!-- Sexe -->
<div class="form-group">
  <%= f.label :sex %><br/>
  <label class="radio-inline">
  <%= f.radio_button :sex, 0 %>
  <span style="margin-right:10px;">Masculin</span>
  </label>
  <label class="radio-inline">
  <%= f.radio_button :sex, 1 %>
  Féminin
  </label>
</div>

<!-- Année de naissance -->
<div class="form-group">
  <%= f.label :year %>
  <% liste = Array.new %>
  <% date = DateTime.current %>
  <% lastyear = date.year %>
  <% (0..(lastyear-1900)).each do |i| %>
    <% liste.push(lastyear-i) %>
  <% end %>
  <%= f.select(:year, liste, { :include_blank => "Choisir..." }, { :class => "form-control", :style => "width:100px;"}) %>
</div>

<!-- Pays de résidence -->
<div class="form-group">
  <%= f.label :country %>
  <% countries_array = Country.all.map { |c| [c.name, c.id] } %>
  <%= f.select(:country, options_for_select(countries_array, @user.country_id), { :include_blank => "Choisir..." }, { :class => "form-control", :style => "width:250px;" }) %>
</div>

<!-- Email -->
<div class="form-group">
  <%= f.label :email %>
  <%= f.email_field :email, :class => "form-control", :style => "width:250px;", :disabled => ((modif && !current_user.admin?) || (@signed_in && current_user.other && !current_user.root))  %>
</div>

<% if(@signed_in && !current_user.other && current_user.admin?) %>
  (Vous pouvez modifier votre adresse car vous êtes administrateur.)<br/><br/>
<% end %>

<!-- Confirmation e-mail -->
<% if !modif %>
<div class="form-group">
  <%= f.label :email_confirmation %>
  <%= f.email_field :email_confirmation, :class => "form-control", :style => "width:250px;", :disabled => modif %>
</div>
<% end %>

<!-- Mot de passe -->
<div class="form-group">
  <%= f.label :password %>
  <%= f.password_field :password, :class => "form-control", :style => "width:250px;", :disabled => (@signed_in && current_user.other), :placeholder => "#{'Laissez vide pour ne pas changer' if modif}" %>
</div>

<!-- Confirmation mot de passe -->
<div class="form-group">
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation, :class => "form-control", :style => "width:250px;", :disabled => (@signed_in && current_user.other), :placeholder => "#{'Laissez vide pour ne pas changer' if modif}" %>
</div>

<% if !modif && Rails.env.production? %>
  Veuillez prouver que vous n'êtes pas un robot.<br/><br/>
  <%= recaptcha_tags :display => { :theme => "clean" } %>
  <br/>
<% end %>

<!-- Accepter Google Analytics -->
<div class="checkbox">
<%= f.label :accept_analytics, :style => "margin-bottom:5px;" do %>
  <%= f.check_box :accept_analytics %>
  J'accepte de contribuer aux statistiques de visites anonymes de Mathraining en autorisant les cookies de Google Analytics.
  Ces statistiques permettent uniquement aux administrateurs d'en savoir plus sur la manière dont les utilisateurs naviguent sur le site, mais elles ne permettent aucunement d'identifier les visiteurs.
  Le nombre total de pages visitées par mois est par exemple un indicateur de la popularité du site, qui peut être mis en valeur à différentes occasions.
<% end %>
</div>

<% if !modif %>
  <!-- Lire et accepter la politique de confidentialité -->
  <div class="checkbox">
  <label>
    <input type="checkbox" id="consent1" name="consent1" value="1" onchange="javascript:checkChecked();">
    J'ai lu et j'accepte la <%= link_to "politique de confidentialité", last_policy_path, :target => "_blank" %> de Mathraining.
  </label>
  </div>
  <div class="checkbox">
  <label>
    <input type="checkbox" id="consent2" name="consent2" value="2" onchange="javascript:checkChecked();">
    J'ai au moins 16 ans, ou j'ai lu et accepté la <%= link_to "politique de confidentialité", last_policy_path, :target => "_blank" %> avec mon tuteur légal.
  </label>
  </div>
<% end %>
