<%= render 'shared/error_messages', object: f.object %>

<!-- Prénom -->
<div class="mb-2">
  <%= f.label :first_name, :class => "form-label" %>
  <%= f.text_field :first_name, :class => "form-control", :style => "width:200px;", :disabled => (modif && !@user.can_change_name && !in_skin?) %>
</div>

<!-- Nom -->
<div class="mb-2">
  <%= f.label :last_name, :class => "form-label" %>
  <%= f.text_field :last_name, :class => "form-control", :style => "width:200px;", :disabled => (modif && !@user.can_change_name && !in_skin?) %>
</div>

<% if(modif && !@user.can_change_name) %>
  <p>(Vous ne pouvez plus modifier votre nom car vous avez abusé de cette possibilité.)</p>
<% elsif modif && !@user.root %>
  <p>(Les changements de noms sont sujets à vérification, dans un souci d'uniformité entre utilisateurs. En cas d'abus, la possibilité de modifier votre nom vous sera retirée.)</p>
<% end %>

<!-- Voir nom entier? -->
<div class="form-check">
<label class="form-check-label">
  <%= f.radio_button :see_name, 1, :class => "form-check-input" %>
  Apparaître avec mon nom entier sur le site.
</label>
</div>
<div class="form-check mb-2">
<label class="form-check-label">
  <%= f.radio_button :see_name, 0, :class => "form-check-input" %>
  N'afficher que l'initiale de mon nom de famille.
</label>
</div>

<!-- Sexe -->
<div class="mb-2">
  <div><label class="form-label">Genre</label></div>
  <div class="form-check form-check-inline">
  <label class="form-check-label">
  <%= f.radio_button :sex, 0, :class => "form-check-input" %>
  Masculin
  </label>
  </div>
  
  <div class="form-check form-check-inline">
  <label class="form-check-label">
  <%= f.radio_button :sex, 1, :class => "form-check-input" %>
  Féminin
  </label>
  </div>
</div>

<!-- Année de naissance -->
<div class="mb-2">
  <%= f.label :year, :class => "form-label" %>
  <% liste = Array.new %>
  <% date = DateTime.now.in_time_zone %>
  <% lastyear = date.year %>
  <% (0..(lastyear-1900)).each do |i| %>
    <% liste.push(lastyear-i) %>
  <% end %>
  <%= f.select(:year, liste, { :include_blank => (modif ? nil : "Choisir...") }, { :class => "form-select", :style => "width:120px;"}) %>
</div>

<!-- Pays de résidence -->
<div class="mb-2">
  <%= f.label :country, :class => "form-label" %>
  <% countries_array = Country.order(:name_without_accent).map { |c| [c.name, c.id] } %>
  <%= f.select(:country, options_for_select(countries_array, @user.country_id), { :include_blank => (modif ? nil : "Choisir...") }, { :class => "form-select", :style => "width:250px;" }) %>
</div>

<!-- Email -->
<div class="mb-2">
  <%= f.label :email, :class => "form-label" %>
  <%= f.email_field :email, :class => "form-control", :style => "width:250px;", :disabled => (modif && !current_user(false).admin?)  %>
</div>

<% if modif && !in_skin? && current_user(false).admin? %>
  <p>(Vous pouvez modifier votre adresse e-mail car vous êtes administrateur.)</p>
<% end %>

<!-- Confirmation e-mail -->
<% if !modif %>
<div class="mb-2">
  <%= f.label :email_confirmation, :class => "form-label" %>
  <%= f.email_field :email_confirmation, :class => "form-control", :style => "width:250px;", :disabled => modif %>
</div>
<% end %>

<!-- Mot de passe -->
<div class="mb-2">
  <%= f.label :password, :class => "form-label" %>
  <%= f.password_field :password, :class => "form-control", :style => "width:250px;", :disabled => (signed_in? && in_skin?), :placeholder => "#{'Laissez vide pour ne pas changer' if modif}" %>
</div>

<!-- Confirmation mot de passe -->
<div class="mb-2">
  <%= f.label :password_confirmation, :class => "form-label" %>
  <%= f.password_field :password_confirmation, :class => "form-control", :style => "width:250px;", :disabled => (signed_in? && in_skin?), :placeholder => "#{'Laissez vide pour ne pas changer' if modif}" %>
</div>

<% if !modif && !Rails.env.test? %>
  <%= render 'users/captcha' %>
<% end %>

<!-- Couleur de correcteur -->
<% if modif && (current_user.admin? || current_user.corrector?) %>
  <div class="mb-2">
    <%= f.label :corrector_color, :class => "form-label" %>
    <%= f.text_field :corrector_color, :class => "form-control", :style => "width:200px;" %>
  </div>
<% end %>

<!-- Accepter Google Analytics -->
<div class="form-check">
<%= f.label :accept_analytics, :class => "form-check-label mb-1" do %>
  <%= f.check_box :accept_analytics, :class => "form-check-input" %>
  J'accepte de contribuer aux statistiques de visites anonymes de Mathraining en autorisant les cookies de Google Analytics.
  Ces statistiques permettent uniquement aux administrateurs d'en savoir plus sur la manière dont les utilisateurs naviguent sur le site, mais elles ne permettent aucunement d'identifier les visiteurs.
  Le nombre total de pages visitées par mois est par exemple un indicateur de la popularité du site, qui peut être mis en valeur à différentes occasions.
<% end %>
</div>

<% if !modif %>
  <!-- Lire et accepter la politique de confidentialité -->
  <div class="form-check">
  <label class="form-check-label">
    <%= check_box_tag "consent1", "1", false, :class => "form-check-input", :onchange => "javascript:checkChecked();" %>
    J'ai lu et j'accepte la <%= link_to "politique de confidentialité", last_privacypolicies_path, :target => "_blank" %> de Mathraining.
  </label>
  </div>
  <div class="form-check">
  <label class="form-check-label">
    <%= check_box_tag "consent2", "2", false, :class => "form-check-input", :onchange => "javascript:checkChecked();" %>
    J'ai au moins 16 ans, ou j'ai lu et accepté la <%= link_to "politique de confidentialité", last_privacypolicies_path, :target => "_blank" %> avec mon tuteur légal.
  </label>
  </div>
<% end %>

<div class="mb-2"></div>
