<% if recent > 600 %>
  <tr style="background-color:rgb(50, 250, 50);">
<% else %>
  <tr style="background-color:rgb(<%= 250-recent/3 %>,250,<%= 250-recent/3 %>)">
<% end %>

<!-- Rang -->
<td><center><%= "#{ global_rank }." if global_rank != previous_rank %></center></td>

<!-- Nom -->
<td><%= raw(linked_name) %></td>

<!-- Drapeau -->
<td style="text-align:center;">
<% drapeau = "countries/" + @allcountries[country][1] + ".png" %>
<%= image_tag drapeau, :title => @allcountries[country][0], :height => "15px;" %>
</td>

<!-- Score -->
<td><center><%= rating %></center></td>

<% total = 0 %>
<% @allsec.each do |s| %>
  <% m = @maxscore[s.id] %>
  <% if m == 0 %>
    <% toprint = "-" %>
  <% else %>
    <% rate = persection[s.id] %>
    <% if rate == 0 %>
      <% toprint = "-" %>
    <% else %>
      <% toprint = (100*rate/m).to_s + "%" %>
    <% end %>
  <% end %>
  <td class="hidden-xs" style="text-align:center;"><%= toprint %></td>
<% end %>

<!-- Activité récente -->
<td class="hidden-small">
<center>
  <% if recent > 0 %>
    + <%= recent %>
  <% end %>
</center>
</td>
</tr>
