<% green_class = "line-green-#{([recent, 600].min/6).to_i}" %>

<tr class="<%= green_class %>">

<!-- Rang -->
<td class="text-center" id="rank_<%= line_id %>"><%= "#{ global_rank }." if global_rank != previous_rank %></td>

<!-- Nom -->
<td id="name_<%= line_id %>"><%= raw(linked_name) %></td>

<!-- Drapeau -->
<td  class="text-center">
<% drapeau = "countries/" + @allcountries[country][1] + ".png" %>
<%= image_tag drapeau, :title => @allcountries[country][0], :height => "15px;", :id => "flag_#{line_id}_#{country}" %>
</td>

<!-- Score -->
<td class="text-center" id="score_<%= line_id %>"><%= rating %></td>

<% total = 0 %>
<% @allsec.each do |s| %>
  <% m = @maxscore[s.id] %>
  <% if m == 0 %>
    <% toprint = "-" %>
  <% else %>
    <% rate = persection[s.id] %>
    <% if rate == 0 %>
      <% toprint = "-" %>
    <% else %>
      <% toprint = (100*rate/m).to_s + "%" %>
    <% end %>
  <% end %>
  <td id="pct_section_<%= line_id %>_<%= s.id %>" class="d-none d-md-table-cell text-center"><%= toprint %></td>
<% end %>

<!-- Activité récente -->
<td id="recent_<%= line_id %>" class="d-none d-lg-table-cell text-center">
  <% if recent > 0 %>
    + <%= recent %>
  <% end %>
</td>
</tr>
