<% provide(:title, "Soumissions") %>
<h1>
  Soumissions (tout)
</h1>

<center>
  <%= will_paginate @notifications, :style => "margin-top:-10px;", :class => "hidden-xs", :inner_window => 2 %>
  <%= will_paginate @notifications, :style => "margin-top:15px; margin-bottom:15px;", :class => "visible-xs", :renderer => WillPaginate::ActionView::LinkRenderer, :previous_label => "&larr; Préc.", :next_label => "Suiv. &rarr;", :inner_window => 1 %>
</center>


<table class="table table-bordered">
<tr><th style="text-align:center;">Statut</th><th class="hidden-small">Date de la soumission</th><th class="hidden-small">Dernière activité</th><th>Qui</th><th class="hidden-small">Correcteur(s)</th><th style="text-align:center;">Type</th><th></th></tr>
<% @notifications.each do |n| %>
  <% hidden_sub = (current_user.sk.corrector && !current_user.sk.pb_solved?(n.problem)) %>
  <%= render 'submissions/showline', s: n, show_section_and_level: true, hidden_sub: hidden_sub, show_correctors: true %>
<% end %>
</table>


<center>
  <%= will_paginate @notifications, :style => "margin-top:-10px; margin-bottom:-20px;", :class => "hidden-xs", :inner_window => 2 %>
  <%= will_paginate @notifications, :class => "visible-xs", :renderer => WillPaginate::ActionView::LinkRenderer, :previous_label => "&larr; Préc.", :next_label => "Suiv. &rarr;", :inner_window => 1 %>
</center>
