<% provide(:title, 'Corrections') %>

<% sections = Section.select(:id, :short_abbreviation, :abbreviation).where(:fondation => false).order(:id).to_a %>

<h1><%= title_1("Corrections") %></h1>

<% newsubs = Submission.joins(:problem).where(:status => :waiting, :visible => true).group("problems.section_id").group("problems.level").count %>
<% num_nuwsubs = newsubs.values.sum %>
<p>Il y a actuellement <b><%= num_nuwsubs %></b> solution<%= "s" if num_nuwsubs >= 2 %> en attente de correction. Le tableau suivant en illustre la répartition, par niveau et par section.</p>

<div class="my-3" style="width:100%; overflow-x:auto;">
<center>
<table class="table table-bordered m-0" style="min-width:490px; width:490px;">
<tr class="table-ld-header">
<th style="width:70px;"></th>
<% sections.each do |sec| %>
  <th class="text-center" style="width:70px;"><%= sec.short_abbreviation %></th>
<% end %>
</tr>

<% (1..5).each do |lev| %>
  <tr>
  <th class="table-ld-header text-center">Niv. <%= lev %></th>
  <% sections.each do |sec| %>
    <% num = newsubs[[sec.id, lev]] %>
    <% num = 0 if num.nil? %>
    <% red_part = [160, 8*num].min %>
    <% green_part = 160 - red_part %>
    <td class="text-center gradient-green-red-<%= [num, 20].min %>">
      <%= num %>
    </td>
  <% end %>
  </tr>
<% end %>
</table>
</center>
</div>

<p>Le graphique suivant montre, en <span class="text-color-green">vert</span>, les soumissions correctes, en <span class="text-color-red">rouge</span> les soumissions incorrectes, et en <span class="text-color-grey">gris</span> les soumissions en attente de correction.</p>

<!-- On parcourt tous les correcteurs -->

<% numbercorrect = Array.new %>
<% numberincorrect = Array.new %>
<% numberdontknow = Array.new %>

<% for i in (0..30) do %>
  <% numbercorrect[i] = 0 %>
  <% numberincorrect[i] = 0 %>
  <% numberdontknow[i] = 0 %>
<% end %>

<% today = DateTime.now.in_time_zone.to_date %>
<% twoweeksago = today - 14 %>
<% amonthago = today - 32 %>

<% Groupdate.time_zone = false unless Rails.env.production? %>
<% allsub = Submission.where("created_at > ? AND visible = ?", amonthago, true).group(:status).group_by_day(:created_at).count %>

<% allsub.each do |x, n| %>
  <% status = x.first %>
  <% date = Rails.env.production? ? x.second.in_time_zone.to_date : x.second.to_date %>
  <% diff = (today - date).to_i %>
  <% if diff < 31 %>
    <% if status == "waiting" %>
      <% numberdontknow[diff] = numberdontknow[diff] + n %>
    <% elsif status == "correct" %>
      <% numbercorrect[diff] = numbercorrect[diff] + n %>
    <% else %>
      <% numberincorrect[diff] = numberincorrect[diff] + n %>
    <% end %>
  <% end %>
<% end %>

<% maxi = 0 %>
<% for i in (0..30) do %>
  <% if numbercorrect[i] + numberincorrect[i] + numberdontknow[i] > maxi %>
    <% maxi = numbercorrect[i] + numberincorrect[i] + numberdontknow[i] %>
  <% end %>
<% end %>

<% maxi = maxi + 1 %>

<center>

<!-- Endroit pour dessiner le graphique des corrections -->
<div id="contenant" class="mb-3" style="width:100%; max-width:700px; height:380px; position:relative; display:block;">
<canvas id="myCanvas" width="700" height="380" style="position:absolute; left:0px; top:0px;">
Votre navigateur ne supporte pas les canvas.
</canvas>
</div>

</center>


<script type="text/javascript">

  function respondCanvas(){
    // Check light or dark theme
    var is_dark = (document.documentElement.getAttribute('data-bs-theme') == 'dark');
    
    // Get the canvas & context
    var c = document.getElementById('myCanvas');
    var ctx = c.getContext('2d');
    var container = c.parentElement;
    
    var W = 700.0;
    var H = 380.0;
    
    c.setAttribute('width', container.offsetWidth); //max width
    c.setAttribute('height', H * container.offsetWidth / W); //max height

    container.style.height = H * container.offsetWidth / W + "px";

    // Draw content

    var pct = c.offsetWidth / W;
    var W_real = pct * W;
    var H_real = pct * H;
    var W_offset = 43;
    var H_offset = 5;
    var W_size = W_real - W_offset - 37;
    var H_size = H_real - H_offset - 20;
    var W_step = W_size / 31;
    var H_internal_size = H_size - 20;
    
    ctx.beginPath();
    ctx.rect(W_offset, H_offset, W_size, H_size);
    ctx.fillStyle = (is_dark ? 'rgb(33, 37, 41)' : 'white');
    ctx.fill();
    ctx.lineWidth = 1;
    ctx.strokeStyle = (is_dark ? 'white' : 'black');
    ctx.stroke();
    
    <% for i in (0..30) do %>
      ctx.beginPath();
      <% s = (numbercorrect[30-i]) / maxi.to_f %>
      ctx.rect(W_offset + W_step * <%= i %>, H_offset + H_size, W_step, - H_internal_size * <%= s %>);
      ctx.fillStyle = 'green';
      ctx.fill();
      ctx.stroke();
      
      <% avant = s %>
      
      ctx.beginPath();
      <% s = (numberincorrect[30-i]) / maxi.to_f %>
      ctx.rect(W_offset + W_step * <%= i %>, H_offset + H_size - H_internal_size * <%= avant %>, W_step, - H_internal_size * <%= s %>);
      ctx.fillStyle = 'red';
      ctx.fill();
      ctx.stroke();
      
      <% avant = avant + s %>
      
      ctx.beginPath();
      <% s = (numberdontknow[30-i]) / maxi.to_f %>
      ctx.rect(W_offset + W_step * <%= i %>, H_offset + H_size - H_internal_size * <%= avant %>, W_step, - H_internal_size * <%= s %>);
      ctx.fillStyle = 'grey';
      ctx.fill();
      ctx.stroke();
    <% end %>
    
    ctx.font = "12px Arial";
    ctx.fillStyle = (is_dark ? 'white' : 'black');
    ctx.textAlign = 'center';
    
    ctx.beginPath();
    var lastw = W_offset + W_size - W_step/2;
    ctx.moveTo(lastw, H_offset + H_size);
    ctx.lineTo(lastw, H_offset + H_size + 2);
    ctx.fillText("aujourd'hui", lastw, H_offset + H_size + 15);
    for (let i = 10; i <= 30; i += 10) {
      var w = W_offset + W_size - i * W_step - W_step/2;
      if (w < lastw - 100) {
        ctx.moveTo(w, H_offset + H_size);
        ctx.lineTo(w, H_offset + H_size + 2);
        ctx.fillText("il y a " + i.toString() + " jours", w, H_offset + H_size + 15);
        lastw = w;
      }
    }
  
    ctx.textAlign = 'right';
    var lasth = - H_size;
    var i = <%= maxi - 1 %>;
    while (i > 0) {
      var h = H_offset + H_size - H_internal_size * i / <%= maxi.to_f %>;
      if (h > lasth + 20) {
        ctx.moveTo(W_offset, h);
        ctx.lineTo(W_offset - 2, h);
        ctx.fillText(i.toString(), W_offset - 6, h + 4);
        lasth = h;
      }
      i = i - 10;
    }
    ctx.stroke();
  }

  window.addEventListener("resize", () => {
    respondCanvas();
  });
  
  window.addEventListener("theme-change", () => {
    respondCanvas();
  });
  
  respondCanvas();
</script>


<h3>Dernières corrections</h3>

<p>Pour chaque section et chaque niveau, le tableau ci-dessous donne le dernier correcteur ayant corrigé une soumission à un problème de ce type.</p>

<div class="mb-3" style="width:100%; overflow-x:auto;">
<center>
<table class="table table-bordered m-0" style="min-width:880px; width:880px;">
<tr class="table-ld-header">
<th style="width:70px;"></th>
<% sections.each do |sec| %>
  <th class="text-center" style="width:135px;"><%= sec.abbreviation %></th>
<% end %>
</tr>

<% last_following_user_by_level_and_section = Array.new %>
<% (1..5).each do |lev| %>
  <% last_following_user_by_level_and_section[lev] = Array.new %>
<% end %>

<!-- Load last 100 followings to have less than 30 sql requests -->
<!-- It is possible to do everything with only one request but it actually looks slower: -->
<!-- User.find_by_sql("SELECT users.*, problems.level AS problem_level, problems.section_id FROM followings f1 INNER JOIN submissions ON f1.submission_id = submissions.id INNER JOIN problems ON submissions.problem_id = problems.id INNER JOIN users ON users.id = f1.user_id JOIN (SELECT problems.level AS problem_level, problems.section_id, MAX(f2.created_at) AS max_created_at FROM followings f2 INNER JOIN submissions ON f2.submission_id = submissions.id INNER JOIN problems ON submissions.problem_id = problems.id GROUP BY problems.level, problems.section_id) f ON f.problem_level = problems.level AND f.section_id = problems.section_id AND f.max_created_at = f1.created_at").each do |u| -->
  <!-- last_following_user_by_level_and_section[u.problem_level][u.section_id] = u -->
<!-- end -->
<% num_preload = 100 %>
<% recent_followings = Following.joins(submission: :problem).select("followings.user_id, problems.level, problems.section_id").where(:kind => :first_corrector).includes(:user).order("followings.created_at DESC").limit(num_preload) %>
<% recent_followings.each do |f| %>
  <% if last_following_user_by_level_and_section[f.level][f.section_id].nil? %>
    <% last_following_user_by_level_and_section[f.level][f.section_id] = f.user %>
  <% end %>
<% end %>
<% need_reload = (recent_followings.size == num_preload) %>

<% (1..5).each do |lev| %>
  <tr>
  <th class="table-ld-header text-center">Niv. <%= lev %></th>
  <% sections.each do |sec| %>
    <td class="text-center">
      <% u = nil %>
      <% if !last_following_user_by_level_and_section[lev][sec.id].nil? %>
        <% u = last_following_user_by_level_and_section[lev][sec.id] %>
      <% elsif need_reload %>
        <% f = Following.joins(submission: :problem).where(problems: {level: lev, section_id: sec.id}, kind: :first_corrector).order("created_at").last %>
        <% if !f.nil? %>
          <% u = f.user %>
        <% end %>
      <% end %>
      <% if u.nil? %>
        -
      <% else %>
        <%= raw(u.linked_name(2)) %>
      <% end %>
    </td>
  <% end %>
  </tr>
<% end %>

</table>
</center>
</div>


<script type="text/javascript">
var showInactiveCorrectors = function () {
  if ("$" in window) {
    $('.inactive-corrector').removeClass('inactive-corrector');
    document.getElementById("link_show_inactive").style.display = 'none';
  }
}
</script>

<h3>Correcteurs</h3>

<p>Le tableau suivant reprend la liste des correcteurs de Mathraining. Un grand merci à eux tous !</p>

<% nb_recent_by_user = Following.where(:kind => [:first_corrector, :other_corrector]).where("created_at >= ?", twoweeksago).group(:user_id).count %>

<% correctors = [] %>
<% Following.select("followings.user_id, COUNT(followings.id) AS nb_corrections, MIN(followings.created_at) AS first_correction, MAX(followings.created_at) AS last_correction").where(:kind => [:first_corrector, :other_corrector]).group(:user_id).includes(:user).each do |f| %>
  <% correctors.push({:nb_corrections => f.nb_corrections, :nb_recent => (nb_recent_by_user[f.user_id].nil? ? 0 : nb_recent_by_user[f.user_id]), :first_correction => f.first_correction, :last_correction => f.last_correction, :user => f.user}) %>
<% end %>

<center>
<table class="table table-bordered" style="width:auto;">
<tr class="table-ld-header"><th>Nom</th><th class="text-center">Corrections</th><th class="text-center">&le; 2 sem.</th><th class="d-none d-md-table-cell">Première</th><th class="d-none d-md-table-cell">Dernière</th></tr>

<% correctors.sort_by{|e| -e[:nb_corrections]}.each do |c| %>
  <% u = c[:user] %>
  <% green_class = "line-green-#{([c[:nb_recent], 200].min/2).to_i}" %>
  <% limit = Rails.env.production? ? 30 : 1 %>
  <% inactive_class = (c[:nb_recent] >= limit ? "" : "inactive-corrector") %>
  <tr class="<%= green_class %> <%= inactive_class %>">
  <td><%= raw(u.linked_name) %></td>
  <td class="text-center"><%= c[:nb_corrections] %></td>
  <td class="text-center"><%= c[:nb_recent] %></td>
  <td class="d-none d-md-table-cell"><%= write_date_only(c[:first_correction].in_time_zone) %></td>
  <td class="d-none d-md-table-cell"><%= write_date_only(c[:last_correction].in_time_zone) %></td>
  </tr>
<% end %>
</table>

<a id="link_show_inactive" href="javascript:showInactiveCorrectors()">Montrer les correcteurs moins actifs récemment</a>
</center>
