<% mois = ["janvier", "février", "mars", "avril", "mai", "juin", "juillet", "août", "septembre", "octobre", "novembre", "décembre"] %>

<% provide(:title, 'Correcteurs') %>
<h1>Correcteurs</h1>

<!-- On parcourt tous les correcteurs -->

<% correctors = [] %>

<% twoweeksago = Date.today - 14 %>

<% User.where("admin = ? OR corrector = ?", true, true).each do |c| %>
	<% nb_corrections = c.followings.count %>
	<% nb_recent = c.followings.where("created_at > ?", twoweeksago).count %>
	<% if nb_corrections > 0 %>
		<% first_connection = c.followings.order(:created_at).first.created_at %>
		<% last_connection = c.followings.order(:created_at).last.created_at %>
		<% correctors.push({:number => nb_corrections, :number_recent => nb_recent, :first => first_connection, :last => last_connection, :user => c}) %>
	<% end %>
<% end %>

<table class="table table-bordered" style="margin-top:20px; max-width:700px;">
<tr><th>Nom</th><th style="text-align:center;">Corrections</th><th style="text-align:center;">≤ 2 sem.</th><th>Première</th><th>Dernière</th></tr>

<% correctors.sort_by{|e| -e[:number]}.each do |c| %>
  <% if c[:number_recent] > 140 %>
  	<tr style="background-color:rgb(40,250,40)">
  <% else %>
		<tr style="background-color:rgb(<%= (250-c[:number_recent]*1.5).round %>,250,<%= (250-c[:number_recent]*1.5).round %>)">
	<% end %>
	<td><%= raw(c[:user].linked_name) %></td>
	<td style="text-align:center;"><%= c[:number] %></td>
	<td style="text-align:center;"><%= c[:number_recent] %></td>
	<% date = c[:first] %>
	<td><%= date.day %> <%= mois[date.month-1] %> <%= date.year %> </td>
	<% date = c[:last] %>
	<td><%= date.day %> <%= mois[date.month-1] %> <%= date.year %> </td>
	</tr>
<% end %>
</table>
