<% provide(:title, "Modifier votre mot de passe") %>

<h1><%= title_2((link_to "Compte", edit_user_path(current_user)), "Modifier le mot de passe") %></h1>

<p>En changeant de mot de passe, vous serez automatiquement déconnecté de votre compte sur tous vos appareils, y compris celui-ci.</p>

<%= form_for(current_user, url: update_password_path) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <%= render "users/password_inputs", f: f, is_new_password: true %>
  
  <%= f.submit "Modifier le mot de passe", class: "btn btn-lg btn-primary mb-3", disabled: in_skin? %>
  
  <p>Vous avez oublié votre mot de passe actuel ? <%= link_to "Cliquez ici", own_password_forgotten_path, :method => :put, data: { confirm: "Êtes-vous #{current_user.sure} de vouloir réinitialiser votre mot de passe ? Vous serez automatiquement déconnecté de votre compte sur tous vos appareils, y compris celui-ci." } %> pour recevoir par e-mail un lien vous permettant de le changer.</p>
<% end %>
