<% provide(:title, "Compte") %>

<h1><%= title_1("Votre compte") %></h1>

<%= form_for(@user) do |f| %>
  <%= render 'form', f: f, modif: true %>
  <%= f.submit "Mettre à jour", class: "btn btn-lg btn-primary" %>
<% end %>

<hr>

<p>Si vous désirez modifier votre adresse e-mail ou supprimer votre compte, merci de nous contacter à l'adresse</p>
<center><%= image_tag "contact.svg", :class => "svg-black-white", :style => "width:80%; max-width:250px;" %></center>
<p class="mt-3">pour en faire la demande.</p>
