<% provide(:title, "Mot de passe oublié") %>

<h1><%= title_1("Mot de passe oublié") %></h1>

<p>Vous avez oublié votre mot de passe ? Rentrez votre adresse e-mail ci-dessous et vous recevrez un lien vous permettant de le changer.</p>

<%= form_for(:user, url:password_forgotten_path) do |f| %>
  <% if !@user.nil? %>
    <%= render 'shared/error_messages', object: @user %>
  <% end %>
  <div class="mb-2">
    <%= f.label :email, :class => "form-label" %>
    <%= f.email_field :email, :placeholder => "Email", :class => "form-control", :style => "width:200px;" %>
  </div>
  
  <% unless Rails.env.test? %>
    <%= render 'users/captcha' %>
  <% end %>
  
  <%= f.submit "Envoyer l'e-mail", class: "btn btn-lg btn-primary" %>
<% end %>
