<% provide(:title, 'Groupes Wépion') %>

<h1><%= title_1("Groupes Wépion") %></h1>

<p>À titre informatif, voici les élèves constituant les groupes A et B cette année. Ces listes ne sont visibles que par les étudiants desdits groupes et les professeurs.</p>

<!-- On parcourt les deux groupes -->

<% if current_user.admin? %>
  <p class="text-center">
  <% if (!params.has_key?:details) %>
    <%= link_to "Afficher les détails", groups_users_path(:details => 1) %>
  <% else %>
    <%= link_to "Masquer les détails", groups_users_path %>
  <% end %>
  </p>
<% end %>

<% if (params.has_key?:details) && current_user.admin? %>

  <% for g in ["A", "B"] do %>
    <h3>Groupe <%= g %></h3>
    <table class="table table-bordered">
    <tr class="table-ld-header"><th>Nom</th><th>Score</th><th>Email</th><th>Dernière connexion</th></tr>
    <% User.where(:group => g).order("rating DESC").each do |u| %>
      <tr>
      <td><%= u.linked_name(1) %></td>
      <td><%= u.rating %></td>
      <td><%= u.email %></td>
      <% lastco = u.last_connexion_date %>
      <td>
      <% if lastco.year < 2010 %>
        Jamais
      <% else %>
        <%= write_date_only(lastco) %>
      <% end %>
      </td>
      </tr>
    <% end %>
    </table>
  <% end %>

<% else %>

  <% for g in ["A", "B"] do %>
    <h3>Groupe <%= g %></h3>
    <ul>
    <% User.where(:group => g).order(:first_name).each do |u| %>
      <li><%= u.linked_name %></li>
    <% end %>
    </ul>
  <% end %>
  
<% end %>
