<% provide(:title, 'Groupes Wépion') %>

<h1><%= title_1("Groupes Wépion") %></h1>

À titre informatif, voici les élèves constituant les groupes A et B cette année. Ces listes ne sont visibles que par les étudiants desdits groupes et les professeurs.

<!-- On parcourt les deux groupes -->

<% if current_user.sk.admin? %>
<br/><br/>
<% if (!params.has_key?:details) %>
  <center><%= link_to "Afficher les détails", groups_path(:details => 1) %></center>
<% else %>
  <center><%= link_to "Masquer les détails", groups_path %></center>
<% end %>
<% end %>

<% if (params.has_key?:details) && current_user.sk.admin? %>

  <% for g in ["A", "B"] do %>
    <h2>Groupe <%= g %></h2>
    <table class="table table-bordered">
    <tr style="background-color:#EEEEEE"><th>Nom</th><th>Score</th><th>Email</th><th>Dernière connexion</th></tr>
    <% User.where(:group => g).order("rating DESC").each do |u| %>
      <tr>
      <td><%= raw(u.linked_name(1)) %></td>
      <td><%= u.rating %></td>
      <td><%= u.email %></td>
      <% lastco = u.last_connexion %>
      <td>
      <% if lastco.year < 2010 %>
        Jamais
      <% else %>
        <%= write_date_only(lastco) %>
      <% end %>
      </td>
      </tr>
    <% end %>
    </table>
  <% end %>

<% else %>

  <% for g in ["A", "B"] do %>
    <h2>Groupe <%= g %></h2>
    <% User.where(:group => g).order(:first_name).each do |u| %>
      <%= raw(u.linked_name) %><br/>
    <% end %>
  <% end %>
  
<% end %>
