<% provide(:title, 'Scores') %>

<!-- Liste des pays -->

<% country_list = Array.new %>

<% tot_num = @num_users_in_rating_range_by_country.sum{|x| x.second} %>
<% country_list.push(["Tous les pays (" + tot_num.to_s + ")", 0]) %>

<% by_countries = Array.new %>
<% @allcountries = Array.new %>
<% Country.all.order(:id).each do |c| %>
  <% num = @num_users_in_rating_range_by_country[c.id] %>
  <% if !num.nil? and num > 0 %>
    <% by_countries.push([-num, c.name_without_accent, c.name, c.id]) %>
    <% @allcountries[c.id] = [c.name, c.code] %>
  <% elsif c.id == @country %>
    <% by_countries.push([0, c.name_without_accent, c.name, c.id]) %>
  <% end %>
<% end %>

<% by_countries.sort! %>

<% by_countries.each do |b| %>
  <% country_list.push([b[2] + " (#{-b[0]})", b[3]]) %>
<% end %>

<!-- Liste des titres -->

<% title_list = Array.new %>

<% tot_num = @num_users_in_country_by_rating.sum{|x| x.second} %>
<% title_list.push(["Tous les titres (" + tot_num.to_s + ")", 0]) %>

<% num_users_in_country_by_rating_arr = @num_users_in_country_by_rating.to_a %>
<% i = 0 %>
<% Color.order("pt DESC").each do |c| %>
  <% num = 0 %>
  <% while i < num_users_in_country_by_rating_arr.size && num_users_in_country_by_rating_arr[i][0] >= c.pt %>
    <% num += num_users_in_country_by_rating_arr[i][1] %>
    <% i += 1 %>
  <% end %>
  <% title_list.push(["#{pluriel(c.name)} (#{num})", c.id]) %>
<% end %>

<% if signed_in? && current_user.root %>
  <% title_list.push(["Non classés", -1]) %>
  <% title_list.push(["Administrateurs", -2]) %>
<% end %>

<h1><%= title_1("Scores") %></h1>

<!-- Tabs -->
<%= render "tabs", t: 1 %>

<center>
<%= form_tag "", :method => "get", :name => "research" do %>
<div class="grid mb-2" style="--bs-columns:12; --bs-gap:10px;">
  <div class="g-col-12 g-start-md-5 g-col-md-4 g-start-lg-7 g-col-lg-3">
    <%= select_tag :title, options_for_select(title_list, @title), :class => "form-select", :onchange => ("javascript: document.research.submit();") %>
  </div>
  <div class="g-col-12 g-col-md-4 g-col-lg-3">
    <%= select_tag :country, options_for_select(country_list, @country), :class => "form-select", :onchange => ("javascript: document.research.submit();") %>
  </div>
</div>
<% end %>
</center>

<% if @real_users %>
  <% if @all_users.size == 0 %>
    <p class="mt-2 text-center">Aucun utilisateur.</p>
  <% else %>
    <center>
      <%= render "users_table", with_pagination: true %>
    </center>
  <% end %>

<% elsif signed_in? && current_user.root %>
  <ul>
  <% @all_users.each do |u| %>
    <li><%= u.linked_name %> (<%= write_date_only(u.created_at) %>)</li>
  <% end %>
  </ul>
<% end %>

<div id="for_admin">
<!-- Si root : bouton pour modifier les niveaux et couleurs -->
<% if signed_in? && current_user.root %>
  <p class="text-center">
  <%= link_to "Modifier les niveaux et couleurs", colors_path %>
  </p>
<% end %>
</div>
