<% price = 15 %>

<% provide(:title, 'Utilisateurs') %>
<h1>Utilisateurs</h1>

<h2>Etudiants</h2>

<% points = Point.order("rating DESC").all %>

<% allsec = Section.all %>

<table class="table table-bordered">
  <tr><th></th><th>Nom</th><th><center>Score</center></th><th><center>Fondements</center></th>
  <% allsec.each do |s| %>
    <th><center><%= s.name %></center></th>
  <% end %>
  </tr>
  <% rank = 1 %>
  <% points.each do |p| %>
    <% user = User.find(p.user) %>
    <% if !user.admin? && p.rating > 0 %>
    <tr style="background-color:<%= "#F1F1F1" if rank % 2 == 1 %> <%= "white" if rank % 2 == 0 %>;">
    <td><center><%= rank %></center></td>
    <td> <%= link_to user.name, user %> </td>
      
    <% rating = p.rating %>
    <td><center><%= rating %></center></td>
      
    <% p = Pointspersection.where(:user_id => user) %>
    <% if p.where(:section_id => 0).size == 0 %>
      <% rate = 0 %>
    <% else %>
      <% rate = p.where(:section_id => 0).first.points %>
    <% end %>
      <td>
      <center>
      <% etoile = (rate/price).floor %>
      <% etoile.times do |i| %>
        <img src="/assets/etoilegrisefoncee.gif" />
      <% end %>
      </center>
      </td>
      <% allsec.each do |s| %>
        <% if p.where(:section_id => s.id).size == 0 %>
          <% rate = 0 %>
        <% else %>
          <% rate = p.where(:section_id => s.id).first.points %>
        <% end %>
      <td>
      <center>
      <% etoile = (rate/price).floor %>
      <% etoile.times do |i| %>
        <img src="/assets/etoilejaune.gif" />
      <% end %>
      </center>
      </td>
    <% end %>
  
    </tr>
    <% rank = rank + 1 %>
    <% end %>
  <% end %>

</table>

<h2>Administrateurs</h2>

<% User.where(:admin => true).each do |user| %>
  <% if user.admin %>
    <td> <%= link_to user.name, user %>
  <% end %>
<% end %>

