<% @price = 15 # ALSO CHANGE IN SHOW %>
<% @pricefondement = 15 %>

<% provide(:title, 'Utilisateurs') %>
<h1>Utilisateurs</h1>



<% points = Point.order("rating DESC").all %>

<% allsec = Section.all %>


<table class="table table-bordered">
  <tr><th></th><th>Nom</th><th><center>Score</center></th><th><center>Fondements</center></th>
  <% allsec.each do |s| %>
    <th><center><%= s.name %></center></th>
  <% end %>
  </tr>
  <% rank = 1 %>
  <% points.each do |p| %>
    <% user = User.find(p.user) %>
    <% if !user.admin? %>
    
    <% niveau = user.level %>
    
    <tr style="background-color:<%= "#F1F1F1" if rank % 2 == 1 %> <%= "white" if rank % 2 == 0 %>;">
    <td><center><%= rank %></center></td>
    <td><b> <%= link_to user.name, user, {:style => "color:#{niveau[:color]}" } %> </b></td>
      
    <% rating = p.rating %>
    <td><center><%= rating %></center></td>
      
    <% p = Pointspersection.where(:user_id => user) %>
    <% rate = p.where(:section_id => 0).first.points %>
      <td>
      <center>
      <% etoile = (rate/@pricefondement).floor %>
      <% etoile.times do |i| %>
        <img src="/assets/etoilevertefoncee.gif" />
      <% end %>
      </center>
      </td>
      <% allsec.each do |s| %>
        <% rate = p.where(:section_id => s.id).first.points %>
      <td>
      <center>
      <% etoile = (rate/@price).floor %>
      <% etoile.times do |i| %>
        <img src="/assets/etoilejaune.gif" />
      <% end %>
      </center>
      </td>
    <% end %>
  
    </tr>
    <% rank = rank + 1 %>
    <% end %>
  <% end %>

</table>

<% if current_user.sk.root %>
<center>
<br/>
<%= link_to 'Recalculer tous les ratings', recompute_scores_path, data: { confirm: "Veillez à avoir une connexion stable et à ne pas interrompre l'opération (cela risque de durer un petit peu de temps)."}, :style => "color:red;" %>
<br/>
</center>
<% end %>

<% if current_user.sk.admin %>

<h2>Administrateurs</h2>

<% User.where(:admin => true).each do |user| %>
  <% if user.admin %>
    <%= user.name %><br/>
  <% end %>
<% end %>

<% end %>

