<% abreviation = ["C", "G", "TN", "A", "EF", "I"] %>

<% provide(:title, 'Scores') %>

<% def vowel(x) %>
  <% return (x == 'A' || x == 'E' || x == 'I' || x == 'O' || x == 'U') %>
<% end %>

<% pays = -1 %>
<% if(params.has_key?:country) %>
  <% pays = params[:country].to_i %>
<% else %>
  <% pays = 0 %>
<% end %>

<% allsec = Section.order(:id).where(:fondation => false).to_a %>

<% rank = 1 %>
<% previouspoint = -1 %>

<% recent = Array.new(User.last.id+1) unless User.last.nil? %>
<% recent = Array.new(1) %>
<% twoweeksago = Date.today - 14 %>

<% maxscore = Array.new %>

<% Section.all.each do |s| %>
  <% maxscore[s.id] = s.max_score %>
<% end %>

<% persection = Array.new(User.last.id+1) unless User.last.nil? %>
<% persection = Array.new(1) %>

<% User.all.each do |u| %>
  <% recent[u.id] = 0 %>
  <% persection[u.id] = Array.new %>
<% end %>

<% Solvedproblem.includes(:problem).where("truetime > ?", twoweeksago).find_each do |s| %>
  <% recent[s.user_id] += s.problem.value %>
<% end %>

<% Solvedquestion.includes(:question).where("resolutiontime > ?", twoweeksago).find_each do |s| %>
  <% if s.correct %>
    <% exo = s.question %>
    <% recent[s.user_id] += exo.value %>
  <% end %>
<% end %>

<% Pointspersection.all.each do |p| %>
	<% persection[p.user_id][p.section_id] = p.points %>
<% end %>

<!-- Liste des pays -->

<% liste = Array.new %>
<% liste.push(["Tous les pays", 0]) %>

<% allcountries = Array.new %>
<% id_country = Array.new %>
<% by_countries = Array.new %>
<% i = 0 %>
<% Country.all.each do |c| %>
  <% by_countries[i] = [0, c.name, c.id] %>
  <% id_country[c.id] = i %>
  <% i = i + 1 %>
  <% allcountries[c.id] = [c.name, c.code] %>
<% end %>

<% User.where("rating != 0 AND active = ? AND admin = ?", true, false).each do |u| %>
  <% by_countries[id_country[u.country_id]][0] = by_countries[id_country[u.country_id]][0] - 1 %>
<% end %>

<% by_countries.sort! %>

<% by_countries.each do |b| %>
  <% if b[0] < 0 %>
    <% liste.push([b[1] + " (" + (-b[0]).to_s + ")", b[2]]) %>
  <% end %>
<% end %>

<!-- Trier selon pays -->
<div style="float:right; margin-top:20px; margin-left:20px;">
<form action="" method="get" class="form-inline" name="research">
  <div class="visible-xs visible-sm" style="height:7px;"></div>
  <%= select_tag :country, options_for_select(liste, pays).html_safe, :class =>"form-control", :onchange => ("javascript: document.research.submit();") %>
</form>
</div>


<% nb = Array.new %>
<% tot_nb = 0 %>
<% (0..($allcolors.size-1)).each do |i| %>
  <% if i < $allcolors.size-1 %>
    <% if pays == 0 %>
      <% nb[i] = User.where("rating >= ? AND rating < ? AND admin = ? AND active = ?", [$allcolors[i].pt, 1].max, $allcolors[i+1].pt, false, true).count %>
    <% else %>
      <% nb[i] = User.where("rating >= ? AND rating < ? AND admin = ? AND active = ? AND country_id = ?", [$allcolors[i].pt, 1].max, $allcolors[i+1].pt, false, true, pays).count %>
    <% end %>
  <% else %>
    <% if pays == 0 %>
      <% nb[i] = User.where("rating >= ? AND admin = ? AND active = ?", $allcolors[i].pt, false, true).count %>
    <% else %>
      <% nb[i] = User.where("rating >= ? AND admin = ? AND active = ? AND country_id = ?", $allcolors[i].pt, false, true, pays).count %>
    <% end %>
  <% end %>
  <% tot_nb = tot_nb + nb[i] %>
<% end %>

<% if tot_nb > 0 %>
  <h1>Répartition</h1>
  
  <div style="position:relative;">
  <div class="progress" style="margin-bottom:0px; height:20px; position:relative; margin-top:20px; margin-bottom:32px;">	
  <% sum_nb = 0 %>	
  <% (0..($allcolors.size-1)).each do |i| %>
    <% if nb[i] > 0 %>
      <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:<%= 100*nb[i]/tot_nb.to_f %>%; background-color:<%= $allcolors[i].color %>;" onmouseenter="Level.show(<%= i %>)" onmouseleave="Level.hide(<%= i %>)"></div>
    <% end %>
  <% end %>
  
  <% if signed_in? && !current_user.sk.admin && current_user.sk.rating > 0 && (pays == 0 || current_user.sk.country_id == pays) %>
    <% if pays == 0 %>
      <% bef = User.where("rating > 0 AND rating <= ? AND admin = ? AND active = ?", current_user.sk.rating, false, true).count %>
    <% else %>
      <% bef = User.where("rating > 0 AND rating <= ? AND admin = ? AND active = ? AND country_id = ?", current_user.sk.rating, false, true, pays).count %>
    <% end %>
    <% pct = 100*(bef-0.5)/tot_nb.to_f %>
    <% if pct < 50 %>
      <div style="position:absolute; left:<%= pct %>%; color:white; font-weight:bold; margin-top:1px; pointer-events:none; margin-left:-3px;">&#9668; Vous êtes ici</div>
    <% else %>
      <div style="position:absolute; right:<%= 100-pct %>%; color:white; font-weight:bold; margin-top:1px; pointer-events:none; margin-right:-3px;">Vous êtes ici &#9658;</div>
    <% end %>
  <% end %>
  </div>
  
  <% sum_nb = 0 %>	
  <% (0..($allcolors.size-1)).each do |i| %>
    <% if nb[i] > 0 %>
      <% pct1 = 100*sum_nb/tot_nb.to_f %>
      <% sum_nb = sum_nb+nb[i] %>
      <% pct2 = 100*sum_nb/tot_nb.to_f %>
      <% pct_moy = (pct1+pct2)/2.0 %> 
      <table class="level" id="level<%= i %>" style="<%= "left: #{pct_moy}%;" if pct_moy <= 50 %><%= "right: #{100-pct_moy}%;" unless pct_moy <= 50 %>">
      <tr><td class="level-up" style="<%= "border-left:2px solid #{$allcolors[i].color};" if pct_moy <= 50 %><%= "border-right:2px solid #{$allcolors[i].color};" unless pct_moy <= 50 %>"></td></tr>
      <tr><td class="level-in" style="border:2px solid <%= $allcolors[i].color %>; color:<%= $allcolors[i].color %>">
      <%= pluriel($allcolors[i].name) %> : <%= nb[i] %>
      </td></tr>
      </table>
    <% end %>
  <% end %>
  </div>
  
<% end %>

<h1>Utilisateurs classés</h1>

<!-- On parcourt tous les utilisateurs (non admins) en ordre de points décroissants, avec de l'aléatoire pour les ex-aequo en première place -->

<% ordered_users = Array.new %>
<% encours = Array.new %>
<% r = Random.new(Date.today.in_time_zone.to_time.to_i) %>
<% max_rating = -1 %>
<% if pays == 0 %>
  <% max_user = User.where("admin = ? AND active = ?", false, true).order("rating DESC").first %>
<% else %>
  <% max_user = User.where("admin = ? AND active = ? AND country_id = ?", false, true, pays).order("rating DESC").first %>
<% end %>

<% if !max_user.nil? %>
  <% max_rating = max_user.rating %>
<% end %>

<% if pays == 0 %>
  <% mylist = User.where("rating = ? AND admin = ? AND active = ?", max_rating, false, true).order(:id) %>
<% else %>
  <% mylist = User.where("rating = ? AND admin = ? AND active = ? AND country_id = ?", max_rating, false, true, pays).order(:id) %>
<% end %>

<% mylist.each do |user| %>
  <% alea = r.rand() %>
  <% alea = 0 if signed_in? && current_user.sk == user %>
  <% encours.push([alea, user]) %>
<% end %>

<% encours.sort! %>
<% encours.each do |u| %>
  <% ordered_users.push(u[1]) %>
<% end %>

<% if pays == 0 %>
  <% arr = User.where("rating != 0 AND rating != ? AND admin = ? AND active = ?", max_rating, false, true).order("rating DESC, last_name ASC, first_name ASC").to_a %>
<% else %>
  <% arr = User.where("rating != 0 AND rating != ? AND admin = ? AND active = ? AND country_id = ?", max_rating, false, true, pays).order("rating DESC, last_name ASC, first_name ASC").to_a %>
<% end %>

<% ordered_users.push(*arr) %> 

<% oldlevel = {:id => -1} %>

<% ordered_users.each do |user| %>
  <!-- Si premier, on commence le tableau -->
  <% newlevel = user.level %>
  <% if newlevel[:id] != oldlevel[:id] %>
    <% if rank > 1 %>
      </table>
    <% end %>
  	
    <span style="font-size:18px;">Sous le titre <%= "d\'" if vowel(newlevel.name[0]) %><%= "de " unless vowel(newlevel.name[0]) %><span style="color:<%= newlevel.color %>;"><%= newlevel.name %></span>...</span>
    	
    <% if @ss && current_user.sk.admin %>
      <table class="table table-bordered" style="max-width:1000px; margin-top:20px;">
      <tr><th style="width:20px;"></th><th style="width:230px;">Nom</th><th style="width:50px; text-align:center;">Pays</th><th style="width:90px; text-align:center;">Score</th>
        <% allsec.each do |s| %>
          <th class="hidden-xs" style="width:60px;"><center><%= abreviation[s.id-1] %></center></th>
        <% end %>
        <th class="hidden-xs hidden-sm" style="width:100px;"><center>&le; 2 sem.</center></th><th class="hidden-xs hidden-sm" style="width:140px;" colspan="2"><center>Admin</center></th></tr>
    <% else %>
      <table class="table table-bordered" style="max-width:800px; margin-top:20px;">
      <tr><th style="width:20px;"></th><th style="width:230px;">Nom</th><th style="width:50px; text-align:center;">Pays</th><th style="width:90px; text-align:center;">Score</th>
        <% allsec.each do |s| %>
          <th class="hidden-xs" style="width:60px;"><center><%= abreviation[s.id-1] %></center></th>
        <% end %>
      <th class="hidden-xs hidden-sm" style="width:100px;"><center>&le; 2 sem.</center></th></tr>
    <% end %>
  <% end %>
  
  <% oldlevel = newlevel %>

  <% rating = user.rating %>

  <% if recent[user.id] > 600 %>
    <!-- <tr style="background-color:<%= "#F1F1F1" if rank % 2 == 1 %> <%= "white" if rank % 2 == 0 %>;"> -->
    <tr style="background-color:rgb(50, 250, 50);">
  <% else %>
    <!-- <tr style="background-color:<%= "#88FF88" if rank % 2 == 1 %> <%= "#BBFFBB" if rank % 2 == 0 %>;"> -->
    <tr style="background-color:rgb(<%= 250-recent[user.id]/3 %>,250,<%= 250-recent[user.id]/3 %>)">
  <% end %>
  <!-- Rang -->
  <td><center><%= "#{ rank }." if rating != previouspoint %></center></td>

  <!-- Nom -->
  <td><%= raw(user.linked_name) %></td>
  
  <!-- Drapeau -->
  <td style="text-align:center;">
  <% drapeau = "countries/" + allcountries[user.country_id][1] + ".png" %>
  <%= image_tag drapeau, :title => allcountries[user.country_id][0], :height => "15px;" %>
  </td>

  <% previouspoint = rating %>

  <!-- Score -->
  <td><center><%= rating %></center></td>

  <% total = 0 %>
  <% allsec.each do |s| %>
    <% m = maxscore[s.id] %>
    <% if m == 0 %>
      <% toprint = "-" %>
    <% else %>
      <% rate = persection[user.id][s.id] %>
      <% if rate == 0 %>
        <% toprint = "-" %>
      <% else %>
        <% toprint = (100*rate/m).to_s + "%" %>
      <% end %>
    <% end %>
    <td class="hidden-xs" style="text-align:center;"><%= toprint %></td>
  <% end %>

  <!-- Activité récente -->
  <td class="hidden-xs hidden-sm">
  <center>
    <% if recent[user.id] > 0 %>
      + <%= recent[user.id] %>
    <% end %>
  </center>
  </td>

  <!-- Admin -->
  <% if @ss && current_user.sk.admin %>
    <td class="hidden-xs hidden-sm"><center><%= user.year if user.year > 0 %><%= "?" if user.year == 0 %></center></td>
    <td class="hidden-xs hidden-sm"><center>
      <% if user.wepion %>
        W<%= user.group %>
      <% end %>
    </center></td>
  <% end %>

  </tr>
  <% rank = rank + 1  %>
<% end %>

<!-- Si il y a au moins un étudiant, on ferme le tableau -->
<% if rank > 1 %>
  </table>
<% else %>
  <b>Aucun utilisateur classé.</b>
<% end %>

<!-- Si root : bouton pour modifier les niveaux et couleurs -->
<% if @ss && current_user.sk.root %>
  <br/>
  <center>
  <%= button_to "Modifier les niveaux et couleurs", colors_path, method: :get, class: 'btn btn-default btn-grey' %>
  </center>
<% end %>

<!-- Si administrateur -->
<% if @ss && current_user.sk.admin %>
  <br/><center><b> --- Cette partie n'est visible que des administrateurs --- </b></center>

  <% if current_user.sk.root %>
    <!-- Inscriptions récentes -->
    <h2>Inscriptions récentes</h2>
    <% if pays == 0 %>
      <% mylist = User.order("created_at DESC").where(:admin => false, :active => true).first(10) %>
    <% else %>
      <% mylist = User.order("created_at DESC").where(:admin => false, :active => true, :country_id => pays).first(10) %>
    <% end %>
    <% mylist.each do |u| %>
      <% inscription = u.created_at %>
      <%= write_date_only(inscription.in_time_zone) %> :
      <% if u.email_confirm %>
        <%= raw(u.linked_name) %> (<%= allcountries[u.country_id][0] %>, <%= u.year if u.year > 0 %><%= ", W" if u.wepion %><%= u.group %>) <br/>
        <% else %>
        <%= raw(u.linked_name) %> (<%= allcountries[u.country_id][0] %>, <%= u.year if u.year > 0 %><%= ", W" if u.wepion %><%= u.group %>) <b>(email non confirmé)</b><br/>
      <% end %>
    <% end %>
  <% end %>
  <!-- Utilisateurs avec score 0 -->
  <h2>Utilisateurs non classés</h2>

  <% rank = 1 %>
  <% if pays == 0 %>
    <% mylist = User.order("created_at DESC").where(:admin => false, :active => true, :rating => 0) %>
  <% else %>
    <% mylist = User.order("created_at DESC").where(:admin => false, :active => true, :rating => 0, :country_id => pays) %>
  <% end %>
  <% mylist.each do |u| %>
    <% inscription = u.created_at %>
    <%= write_date_only(inscription.in_time_zone) %> :
    <% if u.email_confirm %>
      <%= raw(u.linked_name) %> (<%= allcountries[u.country_id][0] %>, <%= u.year if u.year > 0 %><%= ", W" if u.wepion %><%= u.group %>) <br/>
    <% else %>
      <%= raw(u.linked_name) %> (<%= allcountries[u.country_id][0] %>, <%= u.year if u.year > 0 %><%= ", W" if u.wepion %><%= u.group %>) <b>(email non confirmé)</b><br/>
    <% end %>
    <% rank = rank + 1 %>
  <% end %>

  <% if rank == 1 %>
    <b>Aucun utilisateur non classé.</b>
  <% end %>
  
  <% if pays == 0 %>
    <!-- Administrateurs -->
    <h2>Administrateurs</h2>

    <% User.where(:admin => true, :active => true).order(:last_name).each do |user| %>
      <%= raw(user.linked_name) %> <%= "(email non confirmé)" unless user.email_confirm %><br/>
    <% end %>
  <% end %>

<% end %>
