<% colors = ["#FFFFBB", "#FFBBBB", "#FFDD77", "#CCFFCC", "#CFF5FF", "#DDDDFF"] %>
<% abreviation = ["C", "G", "TN", "A", "EF", "I"] %>

<% provide(:title, 'Scores') %>
<h1>Scores</h1>



<% points = Point.order("rating DESC").where("rating != 0").all %>

<% allsec = Section.order(:id).where(:fondation => false).all %>

  <% rank = 1 %>
  <% points.each do |p| %>
    <% user = User.find(p.user) %>
    <% if !user.admin? %>

    <% if rank == 1 %>
      <table class="table table-bordered" style="width:600px; margin-top:20px;">
      <tr><th style="width:20px;"></th><th style="width:200px;">Nom</th><th style="width:90px;"><center>Score</center></th><th style="width:260px;"><center>Préférences</center></th>
      </tr>
    <% end %>

    <tr style="background-color:<%= "#F1F1F1" if rank % 2 == 1 %> <%= "white" if rank % 2 == 0 %>;">
    <td><center><%= rank %></center></td>
    <td><b> <%= link_to user.name, user, {:style => "color:#{user.level.color}" } %> </b></td>

    <% rating = p.rating %>
    <td><center><%= rating %></center></td>

    <% p = Pointspersection.where(:user_id => user) %>
    <% total = 0 %>
    <% allsec.each do |s| %>
      <% rate = p.where(:section_id => s.id).first.points %>
      <% total = total + rate %>
    <% end %>

    <td>
    <center>
      <table style="height:20px; width:250px; padding:0px; border:1px solid #888888;">
      <tr>
      <% allsec.each do |s| %>
        <% rate = p.where(:section_id => s.id).first.points %>
        <% if rate > 0 %>
          <td width="<%= 100.0*rate/total %>%" style="padding:0px; text-align:center; border:1px solid #888888; border-radius: 0px 0px 0px 0px; background-color:<%= colors[s.id-1] %>">
        <%= abreviation[s.id-1] if 250.0*rate/total > 30 %>
        </td>
        <% end %>
      <% end %>
      </tr>
      </table>
    </center>
    </td>

    </tr>
    <% rank = rank + 1  %>
    <% end %>
  <% end %>

<% if rank > 1 %>
  </table>
<% else %>
  <b>Aucun utilisateur classé.</b>
<% end %>

<% if signed_in? && current_user.sk.root %>
<center>
<br /><%= button_to "Modifier les niveaux et couleurs", colors_path, method: :get, class: 'btn btn' %>

<%= link_to 'Recalculer tous les ratings', recompute_scores_path, data: { confirm: "Veillez à avoir une connexion stable et à ne pas interrompre l'opération (cela risque de durer un petit peu de temps)."}, :style => "color:red;" %>
<br/>
</center>
<% end %>

<% if signed_in? && current_user.sk.admin %>
<br/><center><b> --- Cette partie n'est visible que des administrateurs --- </b></center>
<h2>Utilisateurs non classés</h2>

<% rank = 1 %>
<% User.order(:last_name).all.each do |u| %>
  <% if u.point.rating == 0 && !u.admin %>
    <% if u.email_confirm %>
      <b> <%= link_to u.name, u, {:style => "color:#{u.level.color}" } %> </b><br/>
    <% else %>
      <b> <%= link_to u.name, u, {:style => "color:#{u.level.color}" } %> </b> (email non confirmé)<br/>
    <% end %>
    <% rank = rank + 1 %>
  <% end %>
<% end %>

<% if rank == 1 %>
  <b>Aucun utilisateur non classé.</b>
<% end %>

<h2>Administrateurs</h2>

<% User.where(:admin => true).order(:last_name).each do |user| %>
  <% if user.admin %>
    <% if signed_in? && current_user.sk.root %>
      <%= link_to user.name, user_path(user), style: "color:black"; %> <%= "(email non confirmé)" unless user.email_confirm %><br/>
    <% else %>
      <%= user.name %><br/>
    <% end %>
  <% end %>
<% end %>

<% end %>


