<% # OPTIONS FOR RATINGS (CHANGE ALSO IN show.html.erb) %>
<% price = 15 %>
<% pricefondement = 15 %>

<% niveaux = [
    {:pt => 0, :name => "Novice", :color => "#888888", :fontcolor => "#BBBBBB"},
    {:pt => 3, :name => "Débutant", :color => "#11DD44", :fontcolor => "#33FF66"},
    {:pt => 6, :name => "Initié", :color => "#11AA00", :fontcolor => "#44DD11"},
    {:pt => 10, :name => "Compétent", :color => "#00BBEE", :fontcolor => "#33FFFF"},
    {:pt => 14, :name => "Qualifié", :color => "#0033FF", :fontcolor => "#6699FF"},
    {:pt => 18, :name => "Expérimenté", :color => "#CC66FF", :fontcolor => "#FF99FF"},
    {:pt => 22, :name => "Chevronné", :color => "#990099", :fontcolor => "#DD44DD"},
    {:pt => 26, :name => "Expert", :color => "#FF9900", :fontcolor => "#FFBB22"},
    {:pt => 30, :name => "Maître", :color => "#FF3300", :fontcolor => "#FF5522"},
    {:pt => 34, :name => "Grand Maître", :color => "#CC0000", :fontcolor => "#EE2222"}
    ] %>



<% provide(:title, 'Utilisateurs') %>
<h1>Utilisateurs</h1>

<h2>Etudiants</h2>

<% points = Point.order("rating DESC").all %>

<% allsec = Section.all %>

<% actuallevel = niveaux.size - 1 %>

<table class="table table-bordered">
  <tr><th></th><th>Nom</th><th><center>Score</center></th><th><center>Fondements</center></th>
  <% allsec.each do |s| %>
    <th><center><%= s.name %></center></th>
  <% end %>
  </tr>
  <% rank = 1 %>
  <% points.each do |p| %>
    <% user = User.find(p.user) %>
    <% if !user.admin? %>
    
    <% while niveaux[actuallevel][:pt] > p.rating %>
      <% actuallevel = actuallevel - 1 %>
    <% end %>
    
    <tr style="background-color:<%= "#F1F1F1" if rank % 2 == 1 %> <%= "white" if rank % 2 == 0 %>;">
    <td><center><%= rank %></center></td>
    <td><b> <%= link_to user.name, user, {:style => "color:#{niveaux[actuallevel][:color]}" } %> </b></td>
      
    <% rating = p.rating %>
    <td><center><%= rating %></center></td>
      
    <% p = Pointspersection.where(:user_id => user) %>
    <% if p.where(:section_id => 0).size == 0 %>
      <% rate = 0 %>
    <% else %>
      <% rate = p.where(:section_id => 0).first.points %>
    <% end %>
      <td>
      <center>
      <% etoile = (rate/pricefondement).floor %>
      <% etoile.times do |i| %>
        <img src="/assets/etoilegrisefoncee.gif" />
      <% end %>
      </center>
      </td>
      <% allsec.each do |s| %>
        <% if p.where(:section_id => s.id).size == 0 %>
          <% rate = 0 %>
        <% else %>
          <% rate = p.where(:section_id => s.id).first.points %>
        <% end %>
      <td>
      <center>
      <% etoile = (rate/price).floor %>
      <% etoile.times do |i| %>
        <img src="/assets/etoilejaune.gif" />
      <% end %>
      </center>
      </td>
    <% end %>
  
    </tr>
    <% rank = rank + 1 %>
    <% end %>
  <% end %>

</table>

<h2>Administrateurs</h2>

<% User.where(:admin => true).each do |user| %>
  <% if user.admin %>
    <td> <%= link_to user.name, user %>
  <% end %>
<% end %>

