<% provide(:title, 'Scores') %>

<!-- Liste des pays -->

<% country_list = Array.new %>
<% tot_num = User.where("rating >= ? AND rating <= ? AND active = ? AND admin = ?", @min_rating, @max_rating, true, @admin_users).count %>
<% country_list.push(["Tous les pays (" + tot_num.to_s + ")", 0]) %>

<% by_countries = Array.new %>
<% num_by_country = User.where("rating >= ? AND rating <= ? AND active = ? AND admin = ?", @min_rating, @max_rating, true, @admin_users).group(:country_id).count %>
<% @allcountries = Array.new %>
<% Country.all.order(:id).each do |c| %>
  <% num = num_by_country[c.id] %>
  <% if !num.nil? and num > 0 %>
    <% by_countries.push([-num, c.name_without_accent, c.name, c.id]) %>
    <% @allcountries[c.id] = [c.name, c.code] %>
  <% elsif c.id == @country %>
    <% by_countries.push([0, c.name_without_accent, c.name, c.id]) %>
  <% end %>
<% end %>

<% by_countries.sort! %>

<% by_countries.each do |b| %>
  <% country_list.push([b[2] + " (#{-b[0]})", b[3]]) %>
<% end %>

<!-- Liste des titres -->

<% title_list = Array.new %>
<% if @country == 0 %>
  <% tot_num = User.where("rating >= 1 AND admin = ? AND active = ?", false, true).count %>
<% else %>
  <% tot_num = User.where("rating >= 1 AND admin = ? AND active = ? AND country_id = ?", false, true, @country).count %>
<% end %>
<% title_list.push(["Tous les titres (" + tot_num.to_s + ")", 0]) %>

<% prev_num = 0 %>
<% if @country == 0 %>
  <% colors_with_num = Color.select("colors.id, colors.name, colors.pt, (SELECT COUNT(users.id) FROM users WHERE users.rating >= colors.pt AND users.rating > 0 AND users.admin = #{false_value_sql} AND users.active = #{true_value_sql}) AS num").order("pt DESC") %>
<% else %>
  <% colors_with_num = Color.select("colors.id, colors.name, colors.pt, (SELECT COUNT(users.id) FROM users WHERE users.rating >= colors.pt AND users.rating > 0 AND users.admin = #{false_value_sql} AND users.active = #{true_value_sql} AND users.country_id = #{@country}) AS num").order("pt DESC") %>
<% end %>
<% colors_with_num.each do |c| %>
  <% title_list.push(["#{pluriel(c.name)} (#{c.num-prev_num})", c.id]) %>
  <% prev_num = c.num %>
<% end %>

<% if @signed_in && current_user.sk.root %>
  <% if @country == 0 %>
    <% num = User.where(:admin => false, :active => true).count %>
    <% num_admin = User.where(:admin => true, :active => true).count %>
  <% else %>
    <% num = User.where(:admin => false, :active => true, :country => @country).count %>
    <% num_admin = User.where(:admin => true, :active => true, :country => @country).count %>
  <% end %>
  <% title_list.push(["Non classés (#{num-prev_num})", 100]) %>
  <% title_list.push(["Administrateurs (#{num_admin})", 101]) %>
<% end %>

<h1><%= title_1("Scores") %></h1>

<!-- Tabs -->
<%= render "tabs", t: 1 %>

<center>

<%= form_tag "", :method => "get", :name => "research" do %>
<div class="grid mb-2" style="--bs-columns:12; --bs-gap:10px;">
  <div class="g-col-12 g-start-md-5 g-col-md-4 g-start-lg-7 g-col-lg-3">
    <%= select_tag :title, options_for_select(title_list, @title).html_safe, :class => "form-select", :onchange => ("javascript: document.research.submit();") %>
  </div>
  <div class="g-col-12 g-col-md-4 g-col-lg-3">
    <%= select_tag :country, options_for_select(country_list, @country).html_safe, :class => "form-select", :onchange => ("javascript: document.research.submit();") %>
  </div>
</div>
<% end %>
</center>

<% if @real_users %>
  <% if @all_users.size == 0 %>
    <p class="mt-2 text-center">Aucun utilisateur.</p>
  <% else %>
    <center>
      <%= render "users_table", with_pagination: true %>
    </center>
  <% end %>

<% elsif @signed_in && current_user.sk.root %>
  <ul>
  <% @all_users.each do |u| %>
    <li><%= raw(u.linked_name) %> (<%= write_date_only(u.created_at) %>)</li>
  <% end %>
  </ul>
<% end %>

<div id="for_admin">
<!-- Si root : bouton pour modifier les niveaux et couleurs -->
<% if @signed_in && current_user.sk.root %>
  <p class="text-center">
  <%= link_to "Modifier les niveaux et couleurs", colors_path %>
  </p>
<% end %>
</div>
