<% provide(:title, 'Scores') %>

<!-- Liste des pays -->

<% country_list = Array.new %>
<% tot_num = User.where("rating >= ? AND rating <= ? AND active = ? AND admin = ?", @min_rating, @max_rating, true, @admin_users).count %>
<% country_list.push(["Tous les pays (" + tot_num.to_s + ")", 0]) %>

<% by_countries = Array.new %>
<% num_by_country = User.where("rating >= ? AND rating <= ? AND active = ? AND admin = ?", @min_rating, @max_rating, true, @admin_users).group(:country_id).count %>
<% @allcountries = Array.new %>
<% Country.all.order(:id).each do |c| %>
  <% num = num_by_country[c.id] %>
  <% if !num.nil? and num > 0 %>
    <% by_countries.push([-num, c.name_without_accent, c.name, c.id]) %>
    <% @allcountries[c.id] = [c.name, c.code] %>
  <% elsif c.id == @country %>
    <% by_countries.push([0, c.name_without_accent, c.name, c.id]) %>
  <% end %>
<% end %>

<% by_countries.sort! %>

<% by_countries.each do |b| %>
  <% country_list.push([b[2] + " (#{-b[0]})", b[3]]) %>
<% end %>

<!-- Liste des titres -->

<% title_list = Array.new %>
<% if @country == 0 %>
  <% tot_num = User.where("rating >= 1 AND admin = ? AND active = ?", false, true).count %>
<% else %>
  <% tot_num = User.where("rating >= 1 AND admin = ? AND active = ? AND country_id = ?", false, true, @country).count %>
<% end %>
<% title_list.push(["Tous les titres (" + tot_num.to_s + ")", 0]) %>

<% prev_num = 0 %>
<% if @country == 0 %>
  <% colors_with_num = Color.select("colors.id, colors.name, colors.pt, (SELECT COUNT(users.id) FROM users WHERE users.rating >= colors.pt AND users.rating > 0 AND users.admin = #{false_value_sql} AND users.active = #{true_value_sql}) AS num").order("pt DESC") %>
<% else %>
  <% colors_with_num = Color.select("colors.id, colors.name, colors.pt, (SELECT COUNT(users.id) FROM users WHERE users.rating >= colors.pt AND users.rating > 0 AND users.admin = #{false_value_sql} AND users.active = #{true_value_sql} AND users.country_id = #{@country}) AS num").order("pt DESC") %>
<% end %>
<% colors_with_num.each do |c| %>
  <% title_list.push(["#{pluriel(c.name)} (#{c.num-prev_num})", c.id]) %>
  <% prev_num = c.num %>
<% end %>

<% if @signed_in && current_user.sk.root %>
  <% if @country == 0 %>
    <% num = User.where(:admin => false, :active => true).count %>
    <% num_admin = User.where(:admin => true, :active => true).count %>
  <% else %>
    <% num = User.where(:admin => false, :active => true, :country => @country).count %>
    <% num_admin = User.where(:admin => true, :active => true, :country => @country).count %>
  <% end %>
  <% title_list.push(["Non classés (#{num-prev_num})", 100]) %>
  <% title_list.push(["Administrateurs (#{num_admin})", 101]) %>
<% end %>

<h1><%= title_1("Scores") %></h1>

<% if @signed_in %>
  <!-- Tabs -->
  <ul class="nav nav-tabs nav-justified flex-column flex-sm-row mt-3 mb-3">
    <li class="nav-item"><%= link_to "Tous les utilisateurs", users_path, :class => "nav-link active" %></li>
    <li class="nav-item"><%= link_to "Utilisateurs suivis", followed_users_path, :class => "nav-link" %></li>
  </ul>
<% end %>

<center>

<%= form_tag "", :method => "get", :name => "research" do %>
<div class="row g-2 align-items-center justify-content-center justify-content-sm-end mb-2">
  <div class="col-auto">
    <%= select_tag :title, options_for_select(title_list, @title).html_safe, :class => "form-select", :onchange => ("javascript: document.research.submit();") %>
  </div>
  <div class="col-auto">
    <%= select_tag :country, options_for_select(country_list, @country).html_safe, :class => "form-select", :onchange => ("javascript: document.research.submit();") %>
  </div>
</div>
<% end %>
</center>

<% if @real_users %>
  <% if @all_users.size == 0 %>
    <p class="mt-2 text-center">Aucun utilisateur.</p>
  <% else %>
    <center>
      <table id="users_table" class="table table-bordered mt-1" style="max-width:800px;">
        <tr class="table-ld-header">
          <th style="width:20px;"></th>
          <th style="width:230px;">Nom</th>
          <th class="text-center" style="width:50px;">Pays</th>
          <th class="text-center" style="width:90px;">Score</th>
          <% @allsec.each do |s| %>
            <th class="d-none d-md-table-cell" style="width:60px;"><center><%= s.initials %></center></th>
          <% end %>
          <th class="d-none d-lg-table-cell" style="width:100px;"><center>&le; 2 sem.</center></th>
        </tr>

        <% local_id = 0 %>
        <% previous_rank = 0 %>
        <!-- Warning: @all_users cannot be directly used because users with global rank 1 are reordered in the controller! -->
        <% @all_users.each do |u| %>
          <%= render "line", global_rank: @x_globalrank[local_id], previous_rank: previous_rank, recent: @x_recent[local_id], persection: @x_persection[local_id], rating: @x_rating[local_id], country: @x_country[local_id], linked_name: @x_linked_name[local_id], line_id: local_id+1 %>
          <% previous_rank = @x_globalrank[local_id] %>
          <% local_id = local_id + 1 %>
        <% end %>
      
      </table>
    </center>
    
    <center>
      <%= will_paginate @all_users, list_classes: %w(pagination justify-content-center d-none d-sm-flex), :renderer => WillPaginate::ActionView::BootstrapLinkRenderer, :inner_window => 2 %>
      <%= will_paginate @all_users, :class => "d-block d-sm-none mb-3", :renderer => WillPaginate::ActionView::LinkRenderer, :previous_label => "&larr; Préc.", :next_label => "Suiv. &rarr;", :inner_window => 1 %>
    </center>
  <% end %>

<% elsif @signed_in && current_user.sk.root %>
  <ul>
  <% @all_users.each do |u| %>
    <li><%= raw(u.linked_name) %> (<%= write_date_only(u.created_at) %>)</li>
  <% end %>
  </ul>
<% end %>

<div id="for_admin">
<!-- Si root : bouton pour modifier les niveaux et couleurs -->
<% if @signed_in && current_user.sk.root %>
  <p class="text-center">
  <%= link_to "Modifier les niveaux et couleurs", colors_path %>
  </p>
<% end %>
</div>
