<script type="text/javascript">
  function checkChecked() {
    var c1 = document.getElementById("consent1").checked;
    var c2 = document.getElementById("consent2").checked;
    var bt = document.getElementById("send-button");
    var war = document.getElementById("warning");
    if (c1 && c2) {
      war.classList.remove('text-color-red')
      war.classList.add('text-color-transparent')
      bt.disabled = false;
    }
    else {
      war.classList.remove('text-color-transparent')
      war.classList.add('text-color-red')
      bt.disabled = true;
    }
  }

  function acceptCode() { // The button is declared in code_of_conduct
    var code = document.getElementById("code-of-conduct")
    var form = document.getElementById("register-form")
    code.style.display = "none";
    form.style.display = "block";
  }
</script>

<% provide(:title, 'Inscription') %>

<% if @temporary_closure %>
  <h1><%= title_1("Inscription") %></h1>
  <p>Il n'est plus possible de s'inscrire sur Mathraining pour le moment.</p>
<% else %>
  <div id="code-of-conduct" style="display:<%= @show_code_of_conduct ? "block" : "none" %>">
    <h1><%= title_1("Code de conduite") %></h1>
    <%= render "code_of_conduct", context: "new_user" %>
  </div>

  <div id="register-form" style="display:<%= @show_code_of_conduct ? "none" : "block" %>">
    <h1><%= title_1("Inscription") %></h1>
    <p>Pour vous inscrire, il vous suffit de posséder une adresse e-mail valide. Un e-mail de confirmation vous sera envoyé à cette adresse.</p>

    <%= form_for(@user) do |f| %>
      <%= render 'form', f: f, modif: false %>

      <%= f.submit "Créer mon compte", class: "btn btn-lg btn-primary mb-2", id: "send-button", disabled: !Rails.env.test? %>
      <p id="warning" class="text-color-red">Pour pouvoir vous inscrire, vous devez accepter la politique de confidentialité.</p>
      <script>checkChecked()</script>
    <% end %>
  </div>
<% end %>
