<script type="text/javascript">
function checkChecked() {
    var c1 = document.getElementById("consent1").checked;
    var c2 = document.getElementById("consent2").checked;
    var bt = document.getElementById("send-button");
    if(c1 && c2) {
      bt.disabled = false;
    }
    else {
      bt.disabled = true;
    }
}
</script>

<% provide(:title, 'Inscription') %>

<div style="padding:15px; background-color:#eeeeee; border:1px solid #dddddd; margin-top:15px;">
<h3 style="margin-top:0px;">À lire avant l'inscription</h3>
Ce site a à l'origine été créé pour les étudiants belges participant aux week-ends d'entraînement aux Olympiades Internationales de Mathématiques. Le contenu du site pouvant intéresser toute personne curieuse aimant les mathématiques, il a été décidé d'ouvrir ce site à tous. Les cours ont pour but de donner la théorie nécessaire à la résolution de problèmes de niveau international qui n'est pas enseignée dans l'enseignement secondaire.<br/><br/>
<span style="color:#008800;">De ce fait, ce site <b>est destiné</b> :
<ul>
<li>aux étudiants prenant déjà part aux week-ends d'entraînement aux Olympiades Internationales de Mathématiques ;</li>
<li>aux personnes souhaitant se confronter à des problèmes de niveau international, plus difficiles et d'un tout autre genre que ceux de niveau belge.</li>
</ul></span>
<span style="color:#FF0000;">Il n'<b>est</b> par contre <b>pas destiné</b> :
<ul>
<li>aux élèves souhaitant s'entraîner aux Olympiades Mathématiques Belges, la matière enseignée n'ayant pas d'intérêt pour la résolution des problèmes de l'OMB ;</li>
<li>aux élèves souhaitant s'entraîner en vue de passer l'examen d'entrée aux études d'ingénieurs civils, la matière enseignée n'étant d'<b>aucune utilité</b> pour cet examen.
</ul>
</span>
Les administrateurs se réservent par ailleurs le droit de bloquer l'accès au site aux personnes mal intentionnées ou utilisant le site de manière non appropriée.
</div>

<h1>Inscription</h1>

Pour vous inscrire, il vous suffit de posséder une adresse mail valide. Un mail de confirmation vous sera envoyé à cette adresse.<br/><br/>

<%= form_for(@user) do |f| %>
  <%= render 'form', f: f, modif: false %>
  
  <% if Rails.env.production? %>
    <br/>
    Veuillez prouver que vous êtes bien un humain.<br/><br/>
    <%= recaptcha_tags :display => { :theme => "clean" } %>
    <br/>
  <% end %>
  
  <!-- Lire et accepter la politique de confidentialité -->
  <div class="form-group">
    <label style="font-weight:normal;">
    	<input type="checkbox" id="consent1" name="consent1" value="1" onchange="javascript:checkChecked();">
      J'ai lu et j'accepte la <%= link_to "politique de confidentialité", legal_path, :target => "_blank" %> de Mathraining.
    </label><br/>
    <label style="font-weight:normal;">
    	<input type="checkbox" id="consent2" name="consent2" value="2" onchange="javascript:checkChecked();">
      J'ai au moins 16 ans, ou j'ai lu et accepté la <%= link_to "politique de confidentialité", legal_path, :target => "_blank" %> avec mon tuteur légal.
    </label>
  </div>

  <%= f.submit "Créer mon compte", class: "btn btn-lg btn-primary", id: "send-button", disabled: !Rails.env.test? %>
  <script>checkChecked()</script>
<% end %>
