<% provide(:title, "Notifications") %>
<h1>
  <% if @new %>
    Toutes les soumissions
  <% else %>
    Soumissions auxquelles vous participez
  <% end %>
</h1>

Veuillez commencer par les soumissions les plus anciennes, c'est-à-dire le plus bas dans la liste suivante.<br/><br/>

<center>
  <%= will_paginate @notifications, :style => "margin-top:-10px;", :class => "hidden-xs", :inner_window => 2 %>
  <%= will_paginate @notifications, :style => "margin-top:-10px;", :class => "visible-xs", :previous_label => "Préc.", :next_label => "Suiv.", :inner_window => 1 %>
</center>

<!-- Si on affiche toutes les soumissions -->
<% if @new %>

  <% @situation = 1 %>
  <div class="row">
  <div class="col-sm-12 col-xs-12">
  <table class="table table-bordered">
  <tr><th class="hidden-xs hidden-sm" style="text-align:center;">Statut</th><th class="hidden-xs hidden-sm">Date de la soumission</th><th>Dernière activité</th><th>Qui</th><th class="hidden-xs hidden-sm">Correcteur(s)</th><th class="hidden-xs hidden-sm" style="text-align:center;">Type</th><th></th></tr>
  <% @notifications.each do |n| %>
    <%= render 'submissions/showadmin', s: n, nom: true %>
  <% end %>
  </table>
  </div>
  </div>

<!-- Si on affiche les soumissions auxquelles on participe -->
<% else %>

  <% @situation = 2 %>
  <% @follow = Array.new %>
  <% current_user.sk.followings.where(:read => false).each do |f| %>
    <% @follow.push(f.submission_id) %>
  <% end %>

  <div class="row">
  <div class="col-xs-12 col-sm-12">
  <table class="table table-bordered">
  <tr><th class="hidden-xs hidden-sm" style="text-align:center;">Statut</th><th class="hidden-xs hidden-sm">Date de la soumission</th><th>Dernière activité</th><th>Qui</th><th class="hidden-xs hidden-sm" style="text-align:center;">Type</th><th></th></tr>
  <% @notifications.each do |n| %>
    <%= render 'submissions/showadmin', s: n, nom: true %>
  <% end %>
  </table>
  </div>
  </div>
<% end %>

<center>
  <%= will_paginate @notifications, :style => "margin-top:-10px;", :class => "hidden-xs", :inner_window => 2 %>
  <%= will_paginate @notifications, :style => "margin-top:-10px;", :class => "visible-xs", :previous_label => "Préc.", :next_label => "Suiv.", :inner_window => 1 %>
</center>
