<% provide(:title, "Modifier votre mot de passe") %>

<h1><%= title_1("Modifier votre mot de passe") %></h1>

<p>Veuillez rentrer un nouveau mot de passe. (Utilisateur : <b><%= @user.fullname %></b>)</p>

<%= form_for(:user, url:user_change_password_path(@user, :key => @user.key)) do |f| %>
  <% if !session["errorChange"].nil? %>
    <%= render 'shared/error_messages', errors: session["errorChange"] %>
    <% session.delete("errorChange") %>
  <% end %>

  <!-- Mot de passe -->
  <div class="mb-2">
    <%= f.label :password, :class => "form-label" %>
    <%= f.password_field :password, :class => "form-control", :style => "width:200px;" %>
  </div>

  <!-- Confirmation mot de passe -->
  <div class="mb-2">
    <%= f.label :password_confirmation, :class => "form-label" %>
    <%= f.password_field :password_confirmation, :class => "form-control", :style => "width:200px;" %>
  </div>
  
  <% if Rails.env.production? %>
    <p class="mb-2">Veuillez prouver que vous n'êtes pas un robot.</p>
    <%= recaptcha_tags :display => { :theme => "clean" } %>
    <div class="mb-2"></div>
  <% end %>
  
  <%= f.submit "Modifier le mot de passe", class: "btn btn-lg btn-primary" %>
<% end %>
