<% provide(:title, "Modifier votre mot de passe") %>

<h1><%= title_1("Modifier votre mot de passe") %></h1>

<p>Veuillez rentrer un nouveau mot de passe. (Utilisateur : <b><%= @user.fullname %></b>)</p>

<%= form_for(@user, url: change_password_user_path(@user, :key => @user.key)) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <!-- Mot de passe -->
  <div class="mb-2">
    <%= f.label :password, :class => "form-label" %>
    <%= f.password_field :password, :class => "form-control", :style => "width:200px;" %>
  </div>

  <!-- Confirmation mot de passe -->
  <div class="mb-2">
    <%= f.label :password_confirmation, :class => "form-label" %>
    <%= f.password_field :password_confirmation, :class => "form-control", :style => "width:200px;" %>
  </div>
  
  <%= f.submit "Modifier le mot de passe", class: "btn btn-lg btn-primary" %>
<% end %>
