<% provide(:title, "Modifier votre mot de passe") %>

<h1><%= title_1("Modifier votre mot de passe") %></h1>

Veuillez rentrer un nouveau mot de passe. (Utilisateur : <b><%= @user.fullname %></b>)<br/><br/>

<%= form_for(:user, url:user_change_password_path(@user, :key => @user.key)) do |f| %>
  <% if !session["errorChange"].nil? %>
  <% erreurs = session["errorChange"] %>
  <% session.delete("errorChange") %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      Le formulaire contient <%= pluralize(erreurs.count, "erreur") %>.
    <ul>
    <% erreurs.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
    </div>
  </div>
<% end %>

  <!-- Mot de passe -->
  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, :class => "form-control", :style => "width:200px;" %>
  </div>

  <!-- Confirmation mot de passe -->
  <div class="form-group">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, :class => "form-control", :style => "width:200px;" %>
  </div>
  
  <% if Rails.env.production? %>
    Veuillez prouver que vous n'êtes pas un robot.<br/><br/>
    <%= recaptcha_tags :display => { :theme => "clean" } %>
    <br/>
  <% end %>
  
  <%= f.submit "Modifier le mot de passe", class: "btn btn-lg btn-primary" %>
<% end %>
