<% provide(:title, "Mot de passe trop faible") %>

<h1><%= title_1("Mot de passe trop faible") %></h1>

<p>Votre mot de passe n'est pas assez fort. Veuillez rentrer un nouveau mot de passe contenant au moins 8 caractères, dont une lettre minuscule, une lettre majuscule et un chiffre.</p>

<%= form_for(current_user_no_skin, url: improve_password_path) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <%= render "users/password_inputs", f: f %>
  
  <%= f.submit "Modifier le mot de passe", class: "btn btn-lg btn-primary mb-3" %>
<% end %>
