<% abreviation = ["Combinatoire", "Géométrie", "Théorie des nombres", "Algèbre", "Équations Fonct.", "Inégalités"] %>

<% provide(:title, @user.name) %>

<% t1 = Time.now %>

<!-- Test pour la performance -->
<% montretemps = 0 %>
<% if(params.has_key?:montretemps) %>
  <% montretemps = params[:montretemps].to_i %>
<% end %>

<!-- Style pour la barre de défilement dans le tableau -->
<style type="text/css">

html>body thead.fixed tr {
  display: block;
}

html>body tbody.scroll {
  display: block;
  max-height: 440px;
  overflow-y: scroll;
  width: 100%;
}
</style>

<% nb_corrections = @user.followings.count %>
  
<% if !@user.admin %>
  <% actualrating = @user.rating %>
  <% niveau = @user.level %>
  <% couleur = niveau[:color] %>
  <% status = niveau[:name] if @user.sex == 0 %>
  <% status = niveau[:femininename] if @user.sex == 1 %>
<% else %>
  <% couleur = "black" %>
  <% status = "Administrateur" if @user.sex == 0 %>
  <% status = "Administratrice" if @user.sex == 1 %>
<% end %>

<!-- Titre avec le nom et le niveau -->

<h1><%= raw(@user.colored_name) %>

<span style="margin-left:30px; color:<%= couleur %>;">-</span>

<span style="margin-left:30px; color:<%= couleur %>;"><%= status %></span>
<% if @signed_in && current_user.sk.admin && (!@user.admin || current_user.sk.root) %>
  <span style="color:<%= couleur %>; margin-left:50px; font-size:18px;">(<%= @user.email %><%= " - e-mail non confirmé" if !@user.email_confirm %>)</span>
<% end %>
</h1>
  
<% if nb_corrections > 0 %>
  <%= @user.name %> a participé à la correction de <b><%= nb_corrections %></b> soumission<%= "s" if nb_corrections > 1 %> sur le site, merci à <%= "lui" if @user.sex == 0 %><%= "elle" if @user.sex == 1 %> !<br/>
<% end %>

<% if !@user.admin %>

  <!-- On détermine ce que la personne peut voir ou ne pas voir -->
  <% cansee = Array.new %>

  <% section_fondation = Array.new %>
  <% Section.all.to_a.each do |s| %>
    <% section_fondation[s.id] = s.fondation %>
  <% end %>

  <% if @signed_in && current_user.sk.admin %>
    <% Chapter.all.to_a.each do |c| %>
      <% cansee[c.id] = true %>
    <% end %>
  <% else %>
    <% chapters_completion = get_chapters_completion(section_fondation) %>
    <% Chapter.all.each do |c| %>
      <% cansee[c.id] = are_exercises_accessible(c, section_fondation, chapters_completion) %>
    <% end %>
  <% end %>

  <% enough_points = has_enough_points %>

  <!-- Affichage des résolutions -->
  <div class="row">

  <div class="col-lg-7 col-sm-12 col-xs-12">
  <h2>Résolutions</h2>

  <!-- On va parcourir tous les exercices et problèmes -->

  <% questions = @user.solvedquestions.where(:correct => true).order("resolutiontime DESC") %>
  <% questions_size = questions.size %>
  <% problems = @user.solvedproblems.order("truetime DESC") %>
  <% problems_size = problems.size %>

  <% act = Array.new %>
  <% q_encours = 0 %>
  <% p_encours = 0 %>

  <% nb_q = 0 %>
  <% nb_p = 0 %>
  <% nb_erreur = 0 %>
  <% allchap = Array.new %>
  <% allques = Array.new %>
  <% allpb = Array.new %>
	
  <% maxscore = Array.new %>
  <% numberexo = 0 %>
  <% numberpb = 0 %>

  <% Section.all.each do |s| %>
    <% maxscore[s.id] = s.max_score %>
  <% end %>

  <% Chapter.all.each do |c| %>
    <% allchap[c.id] = c %>
  <% end %>

  <% Question.all.each do |q| %>
    <% allques[q.id] = q %>
    <% if q.level > 0 && q.online %>
      <% numberexo = numberexo+1 %>
    <% end %>
  <% end %>

  <% Problem.all.each do |p| %>
    <% allpb[p.id] = p %>
    <% if p.online %>
      <% numberpb = numberpb+1 %>
    <% end %>
  <% end %>

  <% premier = nil %>
  <% dernier = nil %>

  <% (1..(questions_size+problems_size)).each do |i| %>
    <% trouve = false %>
    <% besttime = 0 %>
    <% bestqui = -1 %>
    <% if q_encours < questions_size && (!trouve || questions[q_encours].resolutiontime.to_i > besttime) %>
      <% besttime = questions[q_encours].resolutiontime.to_i %>
      <% trouve = true %>
      <% bestqui = 5 %>
    <% end %>
    <% if p_encours < problems_size && (!trouve || problems[p_encours].truetime.to_i > besttime) %>
      <% besttime = problems[p_encours].truetime.to_i %>
      <% trouve = true %>
      <% bestqui = 4 %>
    <% end %>
    <% if bestqui == 5 %>
      <% q = questions[q_encours] %>
      <% exo = allques[q.question_id] %>
      <% pt = exo.value %>
      <% if pt > 0 %>
        <% nb_erreur = nb_erreur + [q.nb_guess-1, 20].min %>
        <% nb_q = nb_q+1 %>
        <% dernier = q.resolutiontime.in_time_zone %>
        <% if premier.nil? %>
          <% premier = q.resolutiontime.in_time_zone %>
        <% end %>
      <% end %>
      <% q_encours = q_encours + 1 %>
      <% act.push({:time => q.resolutiontime, :type => 5, :id => q.question_id, :pt => pt, :chapter => allchap[exo.chapter_id].name, :c_id => exo.chapter_id, :section => allchap[exo.chapter_id].section_id, :fondation => (pt == 0)}) %>
    <% elsif bestqui == 4 %>
      <% p = problems[p_encours] %>
      <% pb = allpb[p.problem_id] %>
      <% pt = pb.value %>
      <% nb_p = nb_p+1 %>
      <% peutvoir = enough_points %>
      <% if (!@signed_in || !current_user.sk.admin?) && peutvoir %>
        <% t = pb.virtualtest_id %>
        <% if t == 0 %>
          <% peutvoir = is_problem_accessible(pb, chapters_completion) %>
        <% else %>
          <% peutvoir = false if (!@signed_in || current_user.sk.status(t) <= 0) %>
        <% end %>
      <% end %>
      <% p_encours = p_encours + 1 %>
      <% dernier = p.truetime.in_time_zone %>
      <% if premier.nil? %>
        <% premier = p.truetime.in_time_zone %>
      <% end %>
      <% act.push({:time => p.truetime, :type => 4, :id => p.problem_id, :sub => p.submission_id, :peutvoir => peutvoir, :pt => pt, :number => pb.number, :level => pb.level, :section => pb.section_id, :fondation => false}) %>
    <% end %>
  <% end %>

  <% actperday = Array.new %>

  <% previousdate = Date.new(1980,1,1) %>
  <% encours = -1 %>

  <% parquoi = "" %>

  <% inscription = @user.created_at %>

  <!-- Si l'étudiant a déjà fait au moins un truc -->
  <% if act.size > 0 %>

    <!-- On détermine si on rassemble les actes par minute, heure ou jour -->
    <% if !premier.nil? %>
      <% date_now = DateTime.now.in_time_zone %>
      <% if dernier.day != date_now.day || dernier.month != date_now.month || dernier.year != date_now.year %>
        <% parquoi = "jour" %>
      <% elsif dernier.hour < premier.hour - 1 %>
        <% parquoi = "heure" %>
      <% else %>
        <% parquoi = "minute" %>
      <% end %>
    <% end %>
    
    <% moyenne_erreurs = (nb_erreur/nb_q.to_f).round(2) %>

    <!-- Début du tableau des résolutions -->
    <table class="table table-bordered" style="width:auto;">
    <thead class="fixed">
    <tr><th style="width:150px;">Date</th><th class="hidden-xs" style="width:50px;"><center>Heure</center></th><th class="user-show-quoi">Quoi</th><th style="width:66px;"><center>Points</center></th></tr>
    </thead>
    <tbody class="scroll">
  <% end %>

  <!-- On parcourt les actes un par un (cas normal) -->
  <% act.each do |a| %>
    <!-- Rassemblement par date des actes -->
    <% date = a[:time].in_time_zone %>
    <% if parquoi == "jour" %>
      <% dateday = Time.zone.local(date.year, date.month, date.day, 0, 0, 0) %>
    <% elsif parquoi == "heure" %>
      <% dateday = Time.zone.local(date.year, date.month, date.day, date.hour, 0, 0) %>
    <% else %>
      <% dateday = Time.zone.local(date.year, date.month, date.day, date.hour, date.min, 0) %>
    <% end %>
    <% if a[:pt] > 0 %>
      <% if dateday != previousdate %>
        <% encours = encours+1 %>
        <% actperday.push({:time => dateday, :pt => a[:pt], :chapter => a[:chapter]}) %>
      <% else %>
        <% actperday[encours][:pt] = actperday[encours][:pt] + a[:pt] %>
      <% end %>
      <% previousdate = dateday %>
    <% end %>

    <!-- Affichage de la ligne -->
    <tr style="background-color:<%= Section.color(a[:section]) %>;">

    <!-- Date -->
    <td style="width:150px;"><%= write_date_only(date) %></td>

    <!-- Heure -->
    <td class="hidden-xs" style="width:50px; text-align:center;"><%= write_hour(date) %></td>

    <!-- Quoi -->
    <td class="user-show-quoi">
    <% if a[:type] == 5 %>
      <% if cansee[a[:c_id]] %>
        <%= link_to "Exercice", chapter_path(a[:c_id], :type => 5, :which => a[:id]) %>
      <% else %>
        Exercice
      <% end %>
      <span class="hidden-xs"><%= "(#{a[:chapter]})" %></span>
    <% else %>
      <% if a[:peutvoir] %>
        <%= link_to "Problème ##{a[:number]}", problem_path(a[:id], :sub => a[:sub]) %>
      <% else %>
        Problème #<%= a[:number] %>
      <% end %>
      <span class="hidden-xs"><%= "(Niveau #{a[:level]})" %></span>
    <% end %>
    </td>

    <!-- Points -->
    <td style="width:50px; text-align:center;"><%= "+ #{a[:pt]}" if a[:pt] > 0 %></td>
    </tr>

  <% end %>

  <% if act.size > 0 %>
    </tbody>
    </table>
  <% else %>
    <div><b>Aucune activité.</b></div>
  <% end %>

  </div>

  <!-- Affichage du score et des statistiques -->
  <div class="col-lg-5 col-sm-12 col-xs-12">
	
  <!-- Si le score vaut 0, on n'affiche pas tout -->
  <% if actualrating == 0 %>
    <center><p style="font-size:24px; margin-top:60px;">Score : 0</p></center>
  <% else %>
    <center><p style="font-size:24px; margin-top:20px;">Score : <%= actualrating %></p></center>
    <br/>
    
    <% p = Pointspersection.where(:user_id => @user) %>
    
    <table class="table table-bordered">
    <tr><th colspan="2" style="text-align:center;">Progression par type</th></tr>
    <tr>
    <td style="width:160px;">Exercices</td>
    <td>
    <% pct = numberexo == 0 ? 0 : 100*nb_q/numberexo.to_f %>
    <div class="progress" style="margin-bottom:0px;">  		
    <div class="progress-bar" role="progressbar"
    aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:<%= pct %>%; background-color:#BBDDFF; color:black;">
      <% if nb_q == 0 %>
      <% else %>
        <span style="margin-left:5px"><%= nb_q %>/<%= numberexo %></span>
      <% end %>
    </div>
    </div>
    </td>
    </tr>
		
    <td style="width:160px;">Problèmes</td>
    <td>
    <% pct = numberpb == 0 ? 0 : 100*nb_p/numberpb.to_f %>
    <div class="progress" style="margin-bottom:0px;">  		
    <div class="progress-bar" role="progressbar"
    aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:<%= pct %>%; background-color:#BBDDFF; color:black;">
      <% if nb_p == 0 %>
      <% else %>
        <span style="margin-left:5px"><%= nb_p %>/<%= numberpb %></span>
      <% end %>
    </div>
    </div>
    </td>
    </tr>
    
    <table class="table table-bordered">
    <tr><th colspan="2" style="text-align:center;">Progression par section</th></tr>
    <% Section.order(:id).where(:fondation => false).each do |s| %>
      <tr>
      <td style="width:160px;"><%= abreviation[s.id-1] %></td>
      <% rate = p.where(:section_id => s.id).first.points %>
      <td>
      <% pct = maxscore[s.id] == 0 ? 0 : 100*rate/maxscore[s.id].to_f %>
      <div class="progress" style="margin-bottom:0px;">
      <div class="progress-bar" role="progressbar"
      aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:<%= pct %>%; background-color:<%= Section.color(s.id) %>; color:black;">
        <% if pct.floor == 0 	%>
        <% else %>
          <span style="margin-left:5px"><%= pct.floor %>%</span>
        <% end %>
      </div>
      </div>
      </td>
      </tr>
    <% end %>
    </table>
    
  <% end %>
  
  <!-- Date d'inscription -->
  <center><b>Inscription</b> : <%= write_date_only(inscription) %>
  <span style="margin-left:10px; margin-right:10px;">-</span> 
  <b>Pays</b> :
  <% drapeau = "countries/" + @user.country.code + ".png" %>
  <%= image_tag drapeau, :title => @user.country.name, :height => "15px;", :style => "margin-left:3px;" %>
  <br/></center>

  <% if @signed_in && current_user.sk != @user %>
    <center>
      <div style="margin-top:10px;">
        <%= link_to "Envoyer un message", new_discussion_path(:qui => @user), :class => "btn btn-default btn-grey" %>
        <% if !current_user.sk.followed_users.exists?(@user.id) %>
          <%= link_to "Suivre", user_add_followed_user_path(@user), :class => "btn btn-default btn-grey" %>
        <% else %>
          <%= link_to "Ne plus suivre", user_remove_followed_user_path(@user), :class => "btn btn-default btn-grey" %>
        <% end %>
      </div>
    </center>
  <% end %> 

  </div>

  </div>
  
  
  <% if @signed_in && current_user.sk.admin %>
    <div class="row">
    <div class="col-sm-12 col-xs-12">
      <h2>Informations</h2>
      <%= @user.country.name %> - <%= @user.year %><br/>
    <% if act.size > 0 %>
      <%= moyenne_erreurs %> erreurs/exercice<br/>
    <% end %>
    <% lastco = @user.last_connexion %>
    Dernière connexion : <%= write_date_only(lastco) %><br/>
    <%= "Groupe Wépion" if @user.wepion %> <%= " - Groupe " << @user.group if @user.group != "" %>
    </div>
    </div>
  <% end %>

  <!-- Si l'étudiant a un score non égal à 0, on montre son évolution -->
  <% if actualrating > 0 %>

    <div class="row">

    <div class="col-sm-12 col-xs-12">

    <h2>Évolution</h2>
    <br/>
    <center>

    <!-- Endroit pour dessiner l'évolution -->
    <div id="contenant" style="width:100%; max-width:900px; height:480px; position:relative; display:block;">
    <canvas id="myCanvas" width="900" height="480" style="position:absolute; left:0px; top: 0px;">
    Votre navigateur ne supporte pas les canvas.
    </canvas>

    </div>
    </center>

    <!-- Script pour le graphique de l'évolution -->
    <% @niveaux = Color.order(:pt).to_a %>

    <% i = 1 %>
    <% numerolevel = 0 %>

    <% @niveaux.each do |n| %>
      <% if niveau.id == n.id %>
        <% numerolevel = i %>
      <% end %>
      <% i = i+1 %>
    <% end %>

    <% nombrelevel = i-1 %>

    <% maxi = 0 %>


    <% if numerolevel == nombrelevel %>
      <% maxi = 1.2*actualrating %>
    <% else %>
      <% maxi = 1.1*@niveaux[numerolevel][:pt] %>
    <% end %>

    <script type="text/javascript">
      $(document).ready( function(){

      //Get the canvas & context
      var c = $('#myCanvas');
      var ctx = c.get(0).getContext('2d');
      var container = $(c).parent();

      //Run function when browser  resize
      $(window).resize( respondCanvas );

      function respondCanvas(){
      c.attr('width', $(container).width() ); //max width
      c.attr('height', 480*$(container).width()/900.0); //max height

      document.getElementById('contenant').style.height = 480*$(container).width()/900.0 + "px"

      //Redraw & reposition content
      var x = c.width();
      var y = c.height();

      var pct = c.width()/900.0;

      <% i = 1 %>

      var prec = 1000;

      // Affichage des niveaux avec couleurs
      <% @niveaux.each do |n| %>
        <% if i > 1 %>
          <% haut = [450 - 450*(n.pt/maxi), 0].max %>
          <% if haut > 0 %>
            ctx.font="14px Arial";
            ctx.fillStyle = 'black';
            ctx.textAlign = 'right';

            if (pct > 0.7){

              if (pct * <%= haut %> < prec - 13){
                ctx.fillText(<%= n.pt %>,pct*44,pct*<%= haut+10 %>);
                prec = pct * <%= haut %>;
              }
            }
          <% end %>
        <% end %>

        // Calcul du bas et du haut
        <% if i == nombrelevel %>
          <% bas = [450 - 450*(n.pt/maxi), 0].max %>
          <% haut = 0 %>
        <% else %>
          <% bas = [450 - 450*(n.pt/maxi), 0].max %>
          <% haut = [450 - 450*(@niveaux[i].pt/maxi), 0].max %>
        <% end %>
        <% if bas > haut %>
          ctx.beginPath();
          ctx.rect(pct*50, pct*<%= haut+5 %>, pct*806, pct*<%= bas - haut %>);
          ctx.fillStyle = '<%= n.font_color %>';
          ctx.fill();
        <% end %>
        <% i = i+1 %>
      <% end %>


      // On trace maintenant le graphique

      <% last = actperday.first[:time].to_time.to_i %>

      // Commencement du graphique
      <% if parquoi == "jour" %>
        <% first = actperday.last[:time].to_time.to_i - 86400%>
      <% elsif parquoi == "heure" %>
        <% first = actperday.last[:time].to_time.to_i - 3600 %>
      <% else %>
        <% first = actperday.last[:time].to_time.to_i - 60 %>
      <% end %>

      <% previousw = 2000 %>
      
      ctx.font="12px Arial";
      ctx.fillStyle = 'black';
      ctx.textAlign = 'center';
      ctx.setLineDash([10, 10]);
      ctx.beginPath();
      ctx.lineWidth = 1;
      ctx.strokeStyle = 'black';

      // De droite vers la gauche : calcul où on met les verticales pointillées
      <% actperday.each do |a| %>
        <% w = 3 + 800*(a[:time].to_time.to_i - first)/(last-first) %>

        <% if previousw - w > 50 %>
          if (pct > 0.7){
          <% if parquoi == "jour" %>
            ctx.fillText("<%= "0" if a[:time].day < 10 %><%= a[:time].day %>/<%= "0" if a[:time].month < 10 %><%= a[:time].month %>/<%= "0" if (a[:time].year % 2000) < 10 %><%= (a[:time].year % 2000) %>",pct*<%= 50+w %>,pct*471);
          <% elsif parquoi == "heure" %>
            ctx.fillText("<%= write_hour_only(a[:time]) %>",pct*<%= 50+w %>,pct*471);
          <% else %>
            ctx.fillText("<%= write_hour(a[:time]) %>",pct*<%= 50+w %>,pct*471);
          <% end %>
          }
          ctx.moveTo(pct*<%= 50+w %>, pct*5);
          ctx.lineTo(pct*<%= 50+w %>, pct*455);
          <% previousw = w %>
        <% end %>
      <% end %>
      
      ctx.stroke();
      ctx.setLineDash([]);

      <% w = 3 %>
      <% r = 0 %>
      <% previousr = r %>
      <% h = 450 %>
      
      ctx.beginPath();
      ctx.lineWidth = 2.5;
      ctx.fillStyle = 'white';
      ctx.strokeStyle = 'white';
      ctx.moveTo(pct*<%= 50+w %>, pct*<%= h+5 %>);

      // De gauche vers la droite : on trace le graphe
      <% actperday.reverse.each do |a| %>
        <% w = 3 + 800*(a[:time].to_time.to_i - first)/(last-first) %>
        <% r = previousr + a[:pt] %>
        <% previousr = r %>
        <% h = 450 - 450*(r/maxi) %>
        ctx.lineTo(pct*<%= 50+w %>, pct*<%= h+5 %>);
      <% end %>
      
      ctx.stroke();
      
      <% w = 3 %>
      <% r = 0 %>
      <% previousr = r %>
      <% h = 450 %>
      
      // De gauche vers la droite : on met les points
      <% actperday.reverse.each do |a| %>
        <% w = 3 + 800*(a[:time].to_time.to_i - first)/(last-first) %>
        <% r = previousr + a[:pt] %>
        <% previousr = r %>
        <% h = 450 - 450*(r/maxi) %>  
        ctx.beginPath();      
        ctx.arc(pct*<%= 50+w %>, pct*<%= h+5 %>, 3, 0, 2 * Math.PI, true);
        ctx.fill();
      <% end %>
      
      // Contour du canvas
      ctx.beginPath();
      ctx.rect(pct*50, pct*5, pct*806, pct*450);
      ctx.lineWidth = 2;
      ctx.strokeStyle = 'black';
      ctx.stroke();

      }

      //Initial call
      respondCanvas();

      });

    </script>

    </div>
    </div>

    <h2>Comparaison</h2>
    
    <%= render 'compare_form', id1: @user.id, id2: -1 %>

  <% end %>

<% end %>

<!-- Si administrateur, différentes options -->
<% if @signed_in && current_user.sk.admin? %>
  <br/>
  <center>
  <% i = 0 %>
    <% if current_user.sk.root? && !@user.root? %>
      <%= " | " if i > 0 %>
      <% i = i+1 %>
      <%= link_to "Supprimer les données personnelles", user_destroydata_path(@user), data: { confirm: "ATTENTION : Cette action va supprimer les données personnelles de #{@user.name}, à savoir son adresse e-mail et son nom. Êtes-vous sûr de vouloir continuer ?" }, :style => "color:red;" %>
      <%= " | " if i > 0 %>
      <% i = i+1 %>
      <%= link_to 'Supprimer', @user, method: :delete, data: { confirm: "ATTENTION : Privilégiez la suppression des données personnelles ! En continuant, vous supprimerez toutes les données relatives à ce compte. Notez que cet utilisateur a ouvert #{@user.subjects.count} sujet(s) et a écrit #{@user.messages.count} message(s) sur le forum, tout sera supprimé ! Êtes-vous sûr de vouloir supprimer #{@user.name} ?" }, :style => "color:red;" %>
    <% end %>
    <% if current_user.sk.root? && @user.email_confirm && !@user.admin %>
      <%= " | " if i > 0 %>
      <% i = i+1 %>
      <%= link_to 'Voir le site comme lui', user_take_skin_path(@user), data: { confirm: "Vous allez voir tout le site comme #{@user.name} le voit." } %>
    <% end %>
    <% if current_user.sk.root && !@user.admin %>
      <%= " | " if i > 0 %>
      <% i = i+1 %>
      <%= link_to 'Rendre administrateur', user_add_administrator_path(@user), data: { confirm: "Êtes-vous sûr de vouloir rendre #{@user.name} administrateur ? Vous ne pourrez plus revenir en arrière !"}, :style => "color:red;" %>
    <% end %>
    <% if current_user.sk.root && !@user.admin %>
      <%= " | " if i > 0 %>
      <% i = i+1 %>
      <% if !@user.corrector %>
        <%= link_to 'Rendre correcteur', user_switch_corrector_path(@user), data: { confirm: "Êtes-vous sûr de vouloir rendre #{@user.name} correcteur ?"}, :style => "color:red;" %>
      <% else %>
        <%= link_to 'Retirer des correcteurs', user_switch_corrector_path(@user), data: { confirm: "Êtes-vous sûr de vouloir retirer #{@user.name} des correcteurs ?"}, :style => "color:red;" %>
      <% end %>
    <% end %>
    <% if current_user.sk.admin && !@user.admin %>
      <%= " | " if i > 0 %>
      <% i = i+1 %>
      <% if @user.wepion %>
        <%= link_to 'Retirer du groupe Wépion', user_switch_wepion_path(@user) %>
      <% else %>
        <%= link_to 'Ajouter au groupe Wépion', user_switch_wepion_path(@user) %>
      <% end %>
    <% end %>
    <% if current_user.sk.admin && @user.wepion %>
      <%= " | " if i > 0 %>
      <% i = i+1 %>
      Groupe <%= link_to 'A', user_change_group_path(@user, :group => "A") %>, <%= link_to 'B', user_change_group_path(@user, :group => "B") %>, <%= link_to 'aucun', user_change_group_path(@user, :group => "") %>
    <% end %>
  </center>
<% end %>

<% t2 = Time.now %>

<% if montretemps == 1 %>
  <br/>Temps de chargement : <%= t2-t1 %> secondes.
<% end %>
