<% # OPTIONS FOR RATINGS (CHANGE ALSO IN index.html.erb) %>
<% price = 15 %>
<% pricefondement = 15 %>

<% niveaux = [
    {:pt => 0, :name => "Novice", :color => "#888888", :fontcolor => "#BBBBBB"},
    {:pt => 10, :name => "Débutant", :color => "#11DD44", :fontcolor => "#33FF66"},
    {:pt => 20, :name => "Initié", :color => "#11AA00", :fontcolor => "#44DD11"},
    {:pt => 30, :name => "Compétent", :color => "#00BBEE", :fontcolor => "#33FFFF"},
    {:pt => 40, :name => "Qualifié", :color => "#0033FF", :fontcolor => "#6699FF"},
    {:pt => 50, :name => "Expérimenté", :color => "#DD77FF", :fontcolor => "#FF99FF"},
    {:pt => 60, :name => "Chevronné", :color => "#990099", :fontcolor => "#DD44DD"},
    {:pt => 70, :name => "Expert", :color => "#FF9900", :fontcolor => "#FFBB22"},
    {:pt => 80, :name => "Maître", :color => "#FF3300", :fontcolor => "#FF5522"},
    {:pt => 90, :name => "Grand Maître", :color => "#CC0000", :fontcolor => "#EE2222"}
    ] %>
    
    


<% mois = ["janvier", "février", "mars", "avril", "mai", "juin", "juillet", "août", "septembre", "octobre", "novembre", "décembre"] %>

<% provide(:title, @user.name) %>


<% if @user.admin %>
  <h1><%= @user.name %></h1>
  <b>Administrateur</b>
<% else %>



<% actualrating = @user.point.rating %>

<% i = 0 %>
<% actuallevel = 0 %>
<% niveaux.each do |n| %>
  <% if n[:pt] <= actualrating %>
    <% actuallevel = i %>
  <% end %>
  <% i = i+1 %>
<% end %>

<h1 style="color:<%= niveaux[actuallevel][:color] %>;"><%= @user.name %><span style="margin-left:30px;">-</span><span style="margin-left:30px;"><%= niveaux[actuallevel][:name] %></span></h1>

  <div class="row">
  
  <div class="span6">
  <h2>Dernières résolutions</h2>
  <br/>
  <% exercises = @user.solvedexercises.where(:correct => true) %>
  <% qcms = @user.solvedqcms.where(:correct => true) %>
  <% problems = @user.solvedproblems %>
  <% activite = Array.new %>
  
  <% exercises.each do |e| %>
    <% if e.exercise.decimal %>
      <% pt = 10 %>
    <% else %>
      <% pt = 6 %>
    <% end %>
    <% pt = 0 if e.exercise.chapter.sections.empty? %>
    <% activite.push({:time => e.updated_at, :type => 0, :pt => pt, :chapter => e.exercise.chapter.name}) %>
  <% end %>
  <% qcms.each do |q| %>
    <% if q.qcm.many_answers %>
      <% pt = 2*(q.qcm.choices.count-1) %>
    <% else %>
      <% pt = q.qcm.choices.count %>
    <% end %>
    <% pt = 0 if q.qcm.chapter.sections.empty? %>
    <% activite.push({:time => q.updated_at, :type => 0, :pt => pt, :chapter => q.qcm.chapter.name}) %>
  <% end %>
  <% problems.each do |p| %>
    <% pt = 25 * p.problem.level %>
    <% pt = 0 if p.problem.chapter.sections.empty? %>
    <% activite.push({:time => p.updated_at, :type => 1, :pt => pt, :chapter => p.problem.chapter.name}) %>
  <% end %>
  
  <% act = activite.sort{ |a, b| b[:time] <=> a[:time]} %>
  
  <% actperday = Array.new %>

  <% previousdate = Date.new(1980,1,1) %>
  <% encours = -1 %>
  
  <% parquoi = "" %>
  
  <% if act.size > 0 %>
  
    <% if act.last[:time].in_time_zone.day != DateTime.now.in_time_zone.day || act.last[:time].in_time_zone.month != DateTime.now.in_time_zone.month || act.last[:time].in_time_zone.year != DateTime.now.in_time_zone.year %>
      <% parquoi = "jour" %>
    <% elsif act.last[:time].in_time_zone.hour < act.first[:time].in_time_zone.hour - 1 %>
      <% parquoi = "heure" %>
    <% else %>
      <% parquoi = "minute" %>
    <% end %>
    
    <table class="table table-bordered">
    <tr><th style="width:140px;">Date</th><th style="width:50px;"><center>Heure</center></th><th style="width:70px;"><center>Type</center></th><th>Chapitre</th><th style="width:40px;"><center>Points</center></th></tr>
  <% end %>
  <% i = 1 %>
  <% act.each do |a| %>
    <% date = a[:time].in_time_zone %>
    
    <% if parquoi == "jour" %>
      <% dateday = DateTime.new(date.year, date.month, date.day, 0, 0) %>
    <% elsif parquoi == "heure" %>
      <% dateday = DateTime.new(date.year, date.month, date.day, date.hour, 0) %>
    <% else %>
      <% dateday = DateTime.new(date.year, date.month, date.day, date.hour, date.min) %>
    <% end %>
    
    <% if a[:pt] > 0 %>
      <% if dateday != previousdate %>
        <% encours = encours+1 %>
        <% actperday.push({:time => dateday, :pt => a[:pt], :chapter => a[:chapter]}) %>
      <% else %>
        <% actperday[encours][:pt] = actperday[encours][:pt] + a[:pt] %>
      <% end %>   
      <% previousdate = dateday %>
    <% end %>
    
    <% if i <= 10 %>
    <tr style="background-color:<%= "#F1F1F1" if i % 2 == 1 %> <%= "white" if i % 2 == 0 %>;">
    <td><%= date.day %> <%= mois[date.month-1] %> <%= date.year %> </td><td><center> <%= date.hour %>h<%= "0" if date.min < 10 %><%= date.min %></center></td>
    <td>
    <center>
    <% if a[:type] == 0 %>
      Exercice
    <% else %>
      Problème
    <% end %>
    </center>
    </td>
    <td>
      <%= a[:chapter] %>
    </td>
    <td>
    <center>
      <%= "+ #{a[:pt]}" if a[:pt] > 0 %>
    </center>	
    </td>
    </tr>
    <% i = i+1 %>
    <% end %>
  <% end %>
  
  <% if act.size > 0 %>
    </table>
  <% else %>
    <b>Aucune activité.</b>
  <% end %>
  
  </div>
  
  <div class="span6">

  <center><p style="font-size:24px; margin-top:105px;">Score : <%= actualrating %></p></center>
  <br/>
  
  <table class="table table-bordered">
  <tr><th style="width:150px;">Section</th><th><center>Niveau</center></th><th><center>Niveau suivant</center></th></tr>
  <% p = Pointspersection.where(:user_id => @user) %>
  <% rate = p.where(:section_id => 0).first.points %>
  
  <tr><td>Fondements</td>
  <td>
  <center>
  <% etoile = (rate/pricefondement).floor %>
  <% etoile.times do |i| %>
    <img src="/assets/etoilevertefoncee.gif" />
  <% end %>
  </center>
  </td>
  <td><div class="progress" style="margin-bottom:0px;"><div class="bar" style="width:<%= 100*(rate - (etoile*pricefondement) )/pricefondement %>%; background-image:none; background-color:rgb(<%= 255-255*(rate - (etoile*pricefondement) )/pricefondement %>, <%= 255*(rate - (etoile*pricefondement) )/pricefondement %>, 0);"></div></div></td>
  

  <% Section.all.each do |s| %>
    <tr>
    <% rate = p.where(:section_id => s.id).first.points %>
    <td><%= s.name %></td>
    <td>
    <center>
    <% etoile = (rate/price).floor %>
    <% etoile.times do |i| %>
      <img src="/assets/etoilejaune.gif" />
    <% end %>
    </center>
    </td>
    <td><div class="progress" style="margin-bottom:0px;"><div class="bar" style="width:<%= 100*(rate - (etoile*price) )/price %>%; background-image:none; background-color:rgb(<%= 255-255*(rate - (etoile*price) )/price %>, <%= 255*(rate - (etoile*price) )/price %>, 0);"></div></div></td>
    </tr>
  <% end %>
  
  </table>
  
  <% date = @user.created_at.in_time_zone %>
  <br/>
  <center>Inscription : <%= date.day %> <%= mois[date.month-1] %> <%= date.year %></center>
 
  </div>
  
  </div>


  <% if actualrating > 0 %>
  
  <div class="row">
  
  <div class="span12">
  
  <h2>Evolution</h2>
  <br/>
  <center>
  <div style="width:850px; height:500px; position:relative;">
  <canvas id="myCanvas" width="806" height="450" style="position:absolute; left:30px; top: 0px; border:1px solid #000000;">
  Votre navigateur ne supporte pas les canvas.
  </canvas>
  
  <% if actuallevel == (niveaux.size - 1) %>
    <% maxi = 1.2*actualrating %>
  <% else %>
    <% maxi = 1.1*niveaux[actuallevel+1][:pt] %>
  <% end %>
  
  <% (0..(niveaux.size-1)).each do |i| %>
    <% if i < (niveaux.size - 1) %>
      <% haut = [450 - 450*(niveaux[i+1][:pt]/maxi), 0].max %>
      <% if haut > 0 %>
        <div style="position:absolute; top:<%= haut-8 %>px; right:828px; width: 30px; text-align:right;"><%= niveaux[i+1][:pt] %></div>
      <% end %>
    <% end %>
    <% i = i+1 %>
  <% end %>
  
  <% if actperday.size == 1 %>
  
  <% a = actperday.first %>
  
  <% if parquoi == "jour" %>
    <div style="position:absolute; top:460px; left:411px; width:44px; text-align:left; font-size:12px;"><%= "0" if a[:time].day < 10 %><%= a[:time].day %>/<%= "0" if a[:time].month < 10 %><%= a[:time].month %>/<%= "0" if (a[:time].year % 2000) < 10 %><%= (a[:time].year % 2000) %></div>
  <% elsif parquoi == "heure" %>
    <div style="position:absolute; top:460px; left:425px; width:44px; text-align:left; font-size:12px;"><%= "0" if a[:time].hour < 10 %><%= a[:time].hour %>h </div>
  <% else %>
    <div style="position:absolute; top:460px; left:418px; width:44px; text-align:left; font-size:12px;"><%= "0" if a[:time].hour < 10 %><%= a[:time].hour %>h<%= "0" if a[:time].min < 10 %><%= a[:time].min %></div>
  <% end %>
  
  <% else %>
    <% last = actperday.first[:time].to_time.to_i %>
    <% first = actperday.last[:time].to_time.to_i %>
    <% previousw = 2000 %>
    <% actperday.each do |a| %>
      <% w = 3 + 800*(a[:time].to_time.to_i - first)/(last-first) %>
      
      <% if previousw - w > 50 %>
        <% if parquoi == "jour" %>
          <div style="position:absolute; top:460px; left:<%= 8 + w %>px; width: 44px; text-align:left; font-size:12px;"><%= "0" if a[:time].day < 10 %><%= a[:time].day %>/<%= "0" if a[:time].month < 10 %><%= a[:time].month %>/<%= "0" if (a[:time].year % 2000) < 10 %><%= (a[:time].year % 2000) %></div>
        <% elsif parquoi == "heure" %>
          <div style="position:absolute; top:460px; left:<%= 22 + w %>px; width: 44px; text-align:left; font-size:12px;"><%= "0" if a[:time].hour < 10 %><%= a[:time].hour %>h </div>
        <% else %>
          <div style="position:absolute; top:460px; left:<%= 15 + w %>px; width: 44px; text-align:left; font-size:12px;"><%= "0" if a[:time].hour < 10 %><%= a[:time].hour %>h<%= "0" if a[:time].min < 10 %><%= a[:time].min %></div>
        <% end %>
        <% previousw = w %>
      <% end %>
      
    <% end %>
  <% end %>
  
  </div>
  </center>

  <script>
  var c=document.getElementById("myCanvas");
  var ctx=c.getContext("2d");
  
  <% (0..(niveaux.size-1)).each do |i| %>
    <% if i == (niveaux.size - 1) %>
      <% bas = [450 - 450*(niveaux[i][:pt]/maxi) , 0].max %>
      <% haut = 0 %>
    <% else %>
      <% bas = [450 - 450*(niveaux[i][:pt]/maxi), 0].max %>
      <% haut = [450 - 450*(niveaux[i+1][:pt]/maxi), 0].max %>
    <% end %>
    <% if bas > haut %>
      ctx.beginPath();
      ctx.rect(0, <%= haut %>, 806, <%= bas - haut %>);
      ctx.fillStyle = '<%= niveaux[i][:fontcolor] %>';
      ctx.fill();
    <% end %>
    <% i = i+1 %>
  <% end %>
  
   <% (0..(niveaux.size-1)).each do |i| %>
    <% if i < (niveaux.size - 1) %>
      <% haut = [450 - 450*(niveaux[i+1][:pt]/maxi), 0].max %>
      <% if haut > 0 %>
        ctx.beginPath();
        ctx.moveTo(0, <%= haut %>);
        ctx.lineTo(806, <%= haut %>);
        ctx.lineWidth = 1;
        ctx.strokeStyle = 'white';
        ctx.stroke();
      <% end %>
    <% end %>
    <% i = i+1 %>
  <% end %>
  
  ctx.fillStyle = 'black';
  ctx.strokeStyle = 'black';
    
  <% if actperday.size == 1 %>
    <% (0..22).each do |i| %>
      ctx.moveTo(403, <%= 20*i %>);
      ctx.lineTo(403, <%= 20*i+10 %>);
      ctx.lineWidth = 1;
      ctx.strokeStyle = 'white';
      ctx.stroke();
    <% end %>
    ctx.beginPath();
    ctx.arc(403, <%= 450 - 450*(actualrating/maxi) %>, 3, 0, 2 * Math.PI, true);
    ctx.fill();
  <% else %>
    
    <% last = actperday.first[:time].to_time.to_i %>
    <% first = actperday.last[:time].to_time.to_i %>
    <% previousr = 0 %>
    <% prevw = -100 %>
    <% previousw = 2000 %>
    <% prevh = -1 %>
    
    <% actperday.each do |a| %>
      <% w = 3 + 800*(a[:time].to_time.to_i - first)/(last-first) %>
      <% if previousw - w > 50 %>
        ctx.beginPath();
        <% (0..22).each do |i| %>
          ctx.moveTo(<%= w %>, <%= 20*i %>);
          ctx.lineTo(<%= w %>, <%= 20*i+10 %>);
          ctx.lineWidth = 1;
          ctx.strokeStyle = 'white';
          ctx.stroke();
        <% end %>
        <% previousw = w %>
      <% end %>
    <% end %>
    
    <% actperday.reverse.each do |a| %>
      <% w = 3 + 800*(a[:time].to_time.to_i - first)/(last-first) %>
      <% r = previousr + a[:pt] %>
      <% previousr = r %>
      <% h = 450 - 450*(r/maxi) %>
      <% if prevw >= 0 %>
        ctx.beginPath();
        ctx.moveTo(<%= prevw %>, <%= prevh %>);
        ctx.lineTo(<%= w %>, <%= h %>);
        ctx.lineWidth = 2;
        ctx.strokeStyle = 'black';
        ctx.stroke();
      <% end %>
      ctx.beginPath();
      ctx.arc(<%= w %>, <%= h %>, 3, 0, 2 * Math.PI, true);
      ctx.fill();
      <% prevw = w %>
      <% prevh = h %>
    <% end %>
  <% end %>

  
  </script>
  
  </div>
  </div>
  
  <% end %>
  
  <% if current_user.admin? %>
    <br/>
    <center>
      <%= link_to 'Supprimer cet utilisateur', @user, method: :delete, data: { confirm: "Etes-vous sûr de vouloir supprimer #{@user.name}?" } %>
      <% if current_user.root %>
        | <%= link_to 'Rendre administrateur', user_add_administrator_path(@user), data: { confirm: "Etes-vous sûr de vouloir rendre #{@user.name} administrateur? Vous ne pourrez plus revenir en arrière!"}, :style => "color:red;" %>
      <% end %>
    </center>
  <% end %>
  
<% end %>
