<% abreviation = ["Combinatoire", "Géométrie", "Théorie des nombres", "Algèbre", "Équations Fonctionnelles", "Inégalités"] %>

<% provide(:title, @user.name) %>

<!-- Style pour la barre de défilement dans le tableau -->
<style type="text/css">

html>body thead.fixed tr {
  display: block;
}

html>body tbody.scroll {
  display: block;
  max-height: 340px;
  overflow-y: scroll;
  width: 100%;
}
</style>

<% if !@user.admin %>
  <% actualrating = @user.rating %>
  <% if actualrating > 0 %>
    <% rank = User.where("rating > ? AND admin = ? AND active = ?", actualrating, false, true).count + 1 %>
    <% num_users = User.where("rating > 0 AND admin = ? AND active = ?", false, true).count %>
    <% rank_top = (100.0 * rank / num_users).ceil %>
  <% end %>
  <% niveau = @user.level %>
  <% couleur = niveau[:color] %>
  <% status = (@user.sex == 0 ? niveau[:name] : niveau[:femininename]) %>
<% else %>
  <% couleur = "black" %>
  <% status = (@user.sex == 0 ? "Administrateur" : "Administratrice") %>
<% end %>



<% if !@user.admin %>

  <!-- On détermine ce que la personne peut voir ou ne pas voir -->
  <% cansee = Array.new %>

  <% section_fondation = Array.new %>
  <% Section.all.to_a.each do |s| %>
    <% section_fondation[s.id] = s.fondation %>
  <% end %>

  <% if @signed_in && current_user.sk.admin %>
    <% Chapter.all.to_a.each do |c| %>
      <% cansee[c.id] = true %>
    <% end %>
  <% else %>
    <% chapters_completion = get_chapters_completion(section_fondation) %>
    <% Chapter.all.each do |c| %>
      <% cansee[c.id] = are_exercises_accessible(c, section_fondation, chapters_completion) %>
    <% end %>
  <% end %>

  <% enough_points = has_enough_points %>
  
  <!-- On va parcourir tous les exercices et problèmes -->

  <% questions = @user.solvedquestions.where(:correct => true).order("resolutiontime DESC") %>
  <% questions_size = questions.size %>
  <% problems = @user.solvedproblems.order("truetime DESC") %>
  <% problems_size = problems.size %>

  <% act = Array.new %>
  <% q_encours = 0 %>
  <% p_encours = 0 %>

  <% nb_q = 0 %>
  <% nb_p = 0 %>
  <% nb_erreur = 0 %>
  <% allsec = Array.new %>
  <% allchap = Array.new %>
  <% allques = Array.new %>
  <% allpb = Array.new %>
	
  <% maxscore = Array.new %>
  <% numberexo = 0 %>
  <% numberpb = 0 %>

  <% Section.all.each do |s| %>
    <% allsec[s.id] = s %>
    <% maxscore[s.id] = s.max_score %>
  <% end %>

  <% Chapter.all.each do |c| %>
    <% allchap[c.id] = c %>
  <% end %>

  <% Question.all.each do |q| %>
    <% allques[q.id] = q %>
    <% if q.level > 0 && q.online %>
      <% numberexo = numberexo+1 %>
    <% end %>
  <% end %>

  <% Problem.all.each do |p| %>
    <% allpb[p.id] = p %>
    <% if p.online %>
      <% numberpb = numberpb+1 %>
    <% end %>
  <% end %>

  <% premier = nil %>
  <% dernier = nil %>

  <% (1..(questions_size+problems_size)).each do |i| %>
    <% trouve = false %>
    <% besttime = 0 %>
    <% bestqui = -1 %>
    <% if q_encours < questions_size && (!trouve || questions[q_encours].resolutiontime.to_i > besttime) %>
      <% besttime = questions[q_encours].resolutiontime.to_i %>
      <% trouve = true %>
      <% bestqui = 5 %>
    <% end %>
    <% if p_encours < problems_size && (!trouve || problems[p_encours].truetime.to_i > besttime) %>
      <% besttime = problems[p_encours].truetime.to_i %>
      <% trouve = true %>
      <% bestqui = 4 %>
    <% end %>
    <% if bestqui == 5 %>
      <% q = questions[q_encours] %>
      <% exo = allques[q.question_id] %>
      <% pt = exo.value %>
      <% if pt > 0 %>
        <% nb_erreur = nb_erreur + [q.nb_guess-1, 20].min %>
        <% nb_q = nb_q+1 %>
        <% dernier = q.resolutiontime.in_time_zone %>
        <% if premier.nil? %>
          <% premier = q.resolutiontime.in_time_zone %>
        <% end %>
      <% end %>
      <% q_encours = q_encours + 1 %>
      <% act.push({:time => q.resolutiontime, :type => 5, :id => q.question_id, :pt => pt, :chapter => allchap[exo.chapter_id].name, :c_id => exo.chapter_id, :section => allchap[exo.chapter_id].section_id, :fondation => (pt == 0)}) %>
    <% elsif bestqui == 4 %>
      <% p = problems[p_encours] %>
      <% pb = allpb[p.problem_id] %>
      <% pt = pb.value %>
      <% nb_p = nb_p+1 %>
      <% peutvoir = enough_points %>
      <% if (!@signed_in || !current_user.sk.admin?) && peutvoir %>
        <% t = pb.virtualtest_id %>
        <% if t == 0 %>
          <% peutvoir = is_problem_accessible(pb, chapters_completion) %>
        <% else %>
          <% peutvoir = false if (!@signed_in || current_user.sk.status(t) <= 0) %>
        <% end %>
      <% end %>
      <% p_encours = p_encours + 1 %>
      <% dernier = p.truetime.in_time_zone %>
      <% if premier.nil? %>
        <% premier = p.truetime.in_time_zone %>
      <% end %>
      <% act.push({:time => p.truetime, :type => 4, :id => p.problem_id, :sub => p.submission_id, :peutvoir => peutvoir, :pt => pt, :number => pb.number, :level => pb.level, :section => pb.section_id, :fondation => false}) %>
    <% end %>
  <% end %>
  
  <% pct_exo = numberexo == 0 ? 0 : 100*nb_q/numberexo.to_f %>
  <% pct_pb = numberpb == 0 ? 0 : 100*nb_p/numberpb.to_f %>
  <% moyenne_erreurs = nb_q == 0 ? 0 : (nb_erreur/nb_q.to_f).round(2) %>
  
<% end %>

<!-- OPEN OF THE MAIN DIV -->
<div class="row" style="margin-left:0px; margin-right:0px; padding-top:5px;">

<% largeur = (@user.admin ? 12 : 5) %>
<% class_name = "top_container" %>
<% if !@signed_in || @user == current_user.sk %>
  <% class_name = "top_container_small" %>
<% end %>
<div class="col-lg-<%= largeur %> col-md-<%= largeur %> col-sm-<%= largeur %> col-xs-12" style="text-align:center; padding:5px;">
  <div class="basic_container <%= class_name %>">
  <table style="margin:0px; margin-top:15px; width:100%; height:90px; padding:0px;">
  <tr><td style="font-size:20px; padding-left:10px; padding-right:10px;"><%= raw(@user.colored_name) %></td></tr>
  <tr><td style="font-size:16px; font-weight:bold; padding-top:5px;"><%= status %></td></tr>
  <tr><td style="padding-top:10px;"><%= @user.country.name %>
  <%= image_tag "countries/" + @user.country.code + ".png", :title => @user.country.name, :height => "15px;", :style => "margin-left:5px; margin-top:-2px;" %></td></tr>
  <!-- <tr><td style="padding-top:15px;">Inscrit le <%= write_date_only(@user.created_at) %></td></tr> -->
  </table>
  <% if @signed_in && current_user.sk != @user %>
    <%= link_to "Envoyer un message", new_discussion_path(:qui => @user), :class => "btn btn-default btn-grey", :style => "width:170px; margin-top:10px;", :disabled => !@signed_in %>
  <% end %> 
  </div>
</div>
  
<% if !@user.admin %>
  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" style="text-align:center; padding:5px;">
    <div class="basic_container <%= class_name %>">
    <table style="margin:0px; margin-top:15px; width:100%; height:90px; padding:0px;">
      <tr>
      <td class="mytitle">Score</td>
      <td class="myvalue" style="color:<%= couleur %>;"><%= actualrating %></td>
      </tr>
      
      <tr>
      <td class="mytitle">Rang</td>
      <td class="myvalue" style="color:<%= couleur %>;"><%= rank if actualrating > 0 %><%= "-" if actualrating == 0 %></td>
      </tr>
        
      <tr>
      <td class="mytitle">Top</td>
      <td class="myvalue" style="color:<%= couleur %>;"><%= "#{rank_top}%" if actualrating > 0 %><%= "-" if actualrating == 0 %></td>
      </tr>
    </table>
    
    <% if @signed_in && @user != current_user.sk %>
      <% if !current_user.sk.followed_users.exists?(@user.id) %>
        <%= link_to "Suivre", user_add_followed_user_path(@user), :class => "btn btn-default btn-grey", :style => "width:140px; margin-top:10px;" %>
      <% else %>
        <%= link_to "Ne plus suivre", user_remove_followed_user_path(@user), :class => "btn btn-default btn-grey", :style => "width:140px; margin-top:10px;" %>
      <% end %>
    <% end %>
    
    </div>
  </div>
<% end %>
  
<% if !@user.admin %>
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style="text-align:center; padding:5px;">
    <div class="basic_container <%= class_name %>">
    
    <center>
    <% espace = (class_name == "top_container" ? "25px" : "10px") %>
    <div style="width:100%; height:<%= espace %>" class="hidden-xs"></div>
    <table style="margin-top:15px; width:90%;">
    <tr>
    <td style="width:25%; text-align:center;"><%= image_tag("Gold.svg", height: 40, alt: "Médailles d'or", title: "Médailles d'or") %></td>
    <td style="width:25%; text-align:center;"><%= image_tag("Silver.svg", height: 40, alt: "Médailles d'argent", title: "Médailles d'argent") %></td>
    <td style="width:25%; text-align:center;"><%= image_tag("Bronze.svg", height: 40, alt: "Médailles de bronze", title: "Médailles de bronze") %></td>
    <td style="width:25%; text-align:center;"><%= image_tag("MH.svg", height: 34, alt: "Mentions honorables", title: "Mentions honorables", style: "margin-top:5px;") %></td>
    </tr>
    <tr>
    <% num_medals = @user.contestscores.group(:medal).count %>
    <% [4, 3, 2, 1].each do |m| %>
      <td style="text-align:center; font-size:22px; font-weight:bold; color: <%= couleur %>; padding-top:5px;">
      <%= num_medals.key?(m) ? num_medals[m] : "-" %>
      </td>
    <% end %>
    </tr>
    </table>
    </center>
      
    </div>
  </div>
<% end %> 
  
<% if @signed_in && current_user.sk.root? %>
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" style="text-align:center; padding:5px;">
    <div class="basic_container" style="padding:5px;">
      Connecté le <span style="color:<%= couleur %>"><%= write_date_only_small(@user.last_connexion) %></span>
    </div>
  </div>
  
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" style="text-align:center; padding:5px;">
    <div class="basic_container" style="padding:5px;">
      <span style="color:<%= couleur %>"><%= "(" if !@user.email_confirm %><%= @user.email %><%= ")" if !@user.email_confirm %></span>
    </div>
  </div>
  
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" style="text-align:center; padding:5px;">
    <div class="basic_container" style="padding:5px;">
      Né en <span style="color:<%= couleur %>"><%= @user.year %></span>
    </div>
  </div>
  
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" style="text-align:center; padding:5px;">
    <div class="basic_container" style="padding:5px;">
      <% if @user.wepion %>
        <%= "Groupe Wépion" %> <%= " (" << @user.group << ")" if @user.group != "" %>
      <% else %>
        Non Wépion
      <% end %>
    </div>
  </div>
<% end %>

<% if !@user.admin? %>
  
  <!-- Style pour les progress bar circulaires -->
  <style type="text/css">

  /* First arc will be behind and has one half grey, one half coloured */
  <% arcgrey = "#DDDDDD" %>

  .arc_first {
    border-color: <%= couleur %> <%= couleur %> <%= arcgrey %> <%= arcgrey %>;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  <% ["exo", "pb"].each do |i| %>
  
  <% if i == "exo" %>
    <% pct = pct_exo %>
  <% else %>
    <% pct = pct_pb %>
  <% end %>

  /* Second arc will be on top and has one half transparent, one half grey (if <= 50%) or coloured (if > 50%) */
  <% if pct <= 50 %>
    <% arccol = arcgrey %>
    <% rotation = 45 + 180.0 * pct / 50.0 %> /* 0% should be 45 deg, while 50% should be 45+180 deg **/
  <% else %>
    <% arccol = couleur %> 
    <% rotation = 45 + 180.0 * (pct - 50) / 50.0 %> /* 50% should be 45 deg, while 100% should be 45+100 deg **/
  <% end %>

  .arc_hide_<%= i %> {
    top: 0;
    left: 0;
    width: 102px;
    height: 102px;
    border: 9px solid;
    border-color: white white transparent transparent;
    -webkit-transform: rotate(<%= rotation %>deg);
    -moz-transform: rotate(<%= rotation %>deg);
    -ms-transform: rotate(<%= rotation %>deg);
    -o-transform: rotate(<%= rotation %>deg);
    transform: rotate(<%= rotation %>deg);
  }

  .arc_second_<%= i %> {
    border-color: <%= arccol %> <%= arccol %> transparent transparent;
    -webkit-transform: rotate(<%= rotation %>deg);
    -moz-transform: rotate(<%= rotation %>deg);
    -ms-transform: rotate(<%= rotation %>deg);
    -o-transform: rotate(<%= rotation %>deg);
    transform: rotate(<%= rotation %>deg);
  }

  <% end %>
  </style>
  
  <!-- Exercices -->
  <div class="col-lg-3 col-md-2 col-sm-6 col-xs-6" style="padding:5px;">
    <table class="progress_container">
    <tr><td class="progress_title">Exercices</td></tr>
    <tr><td class="progress_circle">
    <div class="wrapper">
      <div class="arc arc_first"></div>
      <div class="arc arc_hide_exo"></div>
      <div class="arc arc_second_exo"></div>
      <div class="progress_nb"><%= nb_q %></div>
      <div class="progress_pct">/ <%= numberexo %></div>
    </div>
    </td></tr>
    </table>
  </div>
  
  <!-- Problèmes -->
  <div class="col-lg-3 col-md-2 col-sm-6 col-xs-6" style="padding:5px;">
    <table class="progress_container">
    <tr><td class="progress_title">Problèmes</td></tr>
    <tr><td class="progress_circle">
    <div class="wrapper">
      <div class="arc arc_first"></div>
      <div class="arc arc_hide_pb"></div>
      <div class="arc arc_second_pb"></div>
      <div class="progress_nb"><%= nb_p %></div>
      <div class="progress_pct">/ <%= numberpb %></div>
    </div>
    </td></tr>
    </table>
  </div>
  
  <!-- Progression par section -->
  <div class="col-lg-6 col-md-8 col-sm-12 col-xs-12" style="padding:5px;">
    <div class="progress_container" style="padding-left:20px; padding-right:20px;">
    <% ppersection_dic = {} %>
    <% ppersection = Pointspersection.where(:user_id => @user).all.each do |pp| %>
      <% ppersection_dic[pp.section_id] = pp.points %>
    <% end %>
    <table class="progress-table">
    <% Section.order(:id).where(:fondation => false).each do |s| %>
      <tr>
      <td style="width:170px;"><%= s.name %></td>
        <% rate = ppersection_dic[s.id] %>
      <td style="padding-left:5px; padding-right:5px;">
        <% pct = maxscore[s.id] == 0 ? 0 : 100*rate/maxscore[s.id].to_f %>
        <div class="progress" style="margin-bottom:0px; height:10px;">
        <div class="progress-bar" role="progressbar"
        aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:<%= pct %>%; background-color:<%= couleur %>;">
        </div>
        </div>
      </td>
      <td style="width:40px; font-weight:bold; padding-left:5px;">
        <%= pct.floor %>%
      </td>
      </tr>
    <% end %>
    </table>
    </div>
  </div>
  
  <!-- Résolutions -->
  <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" style="padding:5px;">
    <div class="basic_container">
      <div class="container_title">Résolutions</div>
      <div class="resolution_container_table">
      
      <% actperday = Array.new %>
       <% previousdate = Date.new(1980,1,1) %>
      <% encours = -1 %>

      <% parquoi = "" %>

      <!-- Si l'étudiant a déjà fait au moins un truc -->
      <% if act.size > 0 %>

        <!-- On détermine si on rassemble les actes par minute, heure ou jour -->
        <% if !premier.nil? %>
          <% date_now = DateTime.now.in_time_zone %>
          <% if dernier.day != date_now.day || dernier.month != date_now.month || dernier.year != date_now.year %>
            <% parquoi = "jour" %>
          <% elsif dernier.hour < premier.hour - 1 %>
            <% parquoi = "heure" %>
          <% else %>
            <% parquoi = "minute" %>
          <% end %>
        <% end %>

        <!-- Début du tableau des résolutions -->
        <table class="table middle_aligned" style="width:100%; margin-top:0px; margin-bottom:0px;">

        <!-- On parcourt les actes un par un (cas normal) -->
        <% firstact = true %>
        <% act.each do |a| %>
          <!-- Rassemblement par date des actes -->
          <% date = a[:time].in_time_zone %>
          <% if parquoi == "jour" %>
            <% dateday = Time.zone.local(date.year, date.month, date.day, 0, 0, 0) %>
          <% elsif parquoi == "heure" %>
            <% dateday = Time.zone.local(date.year, date.month, date.day, date.hour, 0, 0) %>
          <% else %>
            <% dateday = Time.zone.local(date.year, date.month, date.day, date.hour, date.min, 0) %>
          <% end %>
          <% if a[:pt] > 0 %>
            <% if dateday != previousdate %>
              <% encours = encours+1 %>
              <% actperday.push({:time => dateday, :pt => a[:pt], :chapter => a[:chapter]}) %>
            <% else %>
              <% actperday[encours][:pt] = actperday[encours][:pt] + a[:pt] %>
            <% end %>
            <% previousdate = dateday %>
          <% end %>

          <!-- Affichage de la ligne -->
          <tr>
            
          <% remove_border = "" %>
          <% if firstact %>
            <% remove_border = "border-top:0px;" %>
            <% firstact = false %>
          <% end %>
          
          <!-- Points -->
          <td style="width:50px; text-align:center; font-weight:bold; color:<%= couleur %>; <%= remove_border %>"><%= "+ #{a[:pt]}" if a[:pt] > 0 %></td>
          
          <!-- Date (& Heure si xs) -->
          <td style="width:75px; text-align:center; <%= remove_border %>"><%= write_date_only_small(date) %><span class="visible-xs"><%= write_hour(date) %></span></td>
          
          <!-- Heure (sauf si xs) -->
          <td class="hidden-xs" style="width:60px; text-align:center; <%= remove_border %>"><%= write_hour(date) %></td>

          <!-- Quoi -->
          <td style="<%= remove_border %>">
          <% if a[:type] == 5 %>
            <% if cansee[a[:c_id]] %>
              <%= link_to "Exercice", chapter_path(a[:c_id], :type => 5, :which => a[:id]) %>
            <% else %>
              Exercice
            <% end %>
            - <%= a[:chapter] %>
          <% else %>
            <% if a[:peutvoir] %>
              <%= link_to "Problème ##{a[:number]}", problem_path(a[:id], :sub => a[:sub]) %>
            <% else %>
              Problème #<%= a[:number] %>
            <% end %>
             - <%= allsec[a[:section]].name %>
          <% end %>
          </td>

          </tr>
        <% end %>
        
        </table>
      <% else %>
        <div style="padding-left:10px; padding-right:10px; padding-bottom:10px;"><%= @user.name %> n'a résolu aucun exercice ou problème.</div>
      <% end %>
      
      </div>
    </div>
  </div>
    
  <!-- Concours -->
  <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" style="padding:5px;">
    <div class="basic_container">
      <div class="container_title">Concours</div>
      <div class="resolution_container_table">
      
      <% actcontest = Array.new %>
      <% @user.contestscores.includes(:contest).each do |cs| %>
        <% contest = cs.contest %>
        <% if contest.status == 3 %>
          <% start_time = contest.start_time %>
          <% end_time = contest.end_time %>
          <% num_participants = contest.num_participants %>
          <% num_problems = contest.num_problems %>
          <% ranking = cs.rank %>
          <% medal = cs.medal %>
          <% actcontest.push({:number => contest.number, :id => contest.id, :start_time => start_time, :end_time => end_time, :num_participants => num_participants, :ranking => ranking, :medal => medal, :score => cs.score, :max_score => num_problems * 7}) %>
        <% end %>
      <% end %>
      
      <% @user.organized_contests.where("status = 3").each do |contest| %>
        <% start_time = contest.start_time %>
        <% end_time = contest.end_time %>
        <% num_participants = contest.num_participants %>
        <% actcontest.push({:number => contest.number, :id => contest.id, :start_time => start_time, :end_time => end_time, :num_participants => num_participants, :ranking => -1, :medal => -1, :score => -1, :max_score => -1}) %>
      <% end %>
      
      <% actcontest.sort_by! { |ac| -ac[:number] } %>
      
      <% if actcontest.size > 0 %>
      
        <!-- Début du tableau des concours -->
        <table class="table middle_aligned" style="width:100%; margin-bottom:0px;">
        <% firstact = true %>
        <% actcontest.each do |ac| %>
          <tr>
          
          <% remove_border = "" %>
          <% if firstact %>
            <% remove_border = "border-top:0px;" %>
            <% firstact = false %>
          <% end %>
          
          <% if ac[:max_score] < 0 %>
          
            <!-- Concours organisé -->
            <td style="width:190px; text-align:center; <%= remove_border %>" colspan="3"><span style="font-weight:bold; color:<%= couleur %>">Organisateur</span></td>
            
          <% else %>
            <!-- Médaille -->
            <td style="width:35px; padding:0px; text-align:center; <%= remove_border %>">
            <%= image_tag("Gold.svg", height: 20, alt: "Médaille d'or", title: "Médaille d'or") if ac[:medal] == 4 %>
            <%= image_tag("Silver.svg", height: 20, alt: "Médaille d'argent", title: "Médaille d'argent") if ac[:medal] == 3 %>
            <%= image_tag("Bronze.svg", height: 20, alt: "Médaille de bronze", title: "Médaille de bronze") if ac[:medal] == 2 %>
            <%= image_tag("MH.svg", height: 20, alt: "Mention honorable", title: "Mention honorable") if ac[:medal] == 1 %>
            <%= "-" if ac[:medal] <= 0 %>
            </td>
          
            <!-- Rang -->
            <td style="width:90px; text-align:center; <%= remove_border %>"><span style="font-weight:bold; color:<%= couleur %>;"><%= ac[:ranking] %><sup><%= ac[:ranking] == 1 ? "er" : "e" %></sup></span> / <%= ac[:num_participants] %></td>
            
            <!-- Nombre de solutions correctes (avec "pts") -->
            <td class="hidden-xs" style="width:100px; text-align:center; <%= remove_border %>"><span style="font-weight:bold; color:<%= couleur %>;"><%= ac[:score] %> pt<%= "s" if ac[:score] > 1 %></span> / <%= ac[:max_score] %></td>
            
            <!-- Nombre de solutions correctes (sans "pts") -->
            <td class="visible-xs" style="width:70px; text-align:center; <%= remove_border %>"><span style="font-weight:bold; color:<%= couleur %>;"><%= ac[:score] %> </span> / <%= ac[:max_score] %></td>
            
          <% end %>
          
          <!-- Date -->
          <td class="hidden-xs" style="width:150px; text-align:center; <%= remove_border %>"><%= write_date_only_small(ac[:start_time]) %> - <%= write_date_only_small(ac[:end_time]) %></td>
          
          <!-- Lien du Concours -->
          <td style="text-align:left; <%= remove_border %>;"><%= link_to "Concours ##{ac[:number]}", contest_path(ac[:id]) %></td>
          
          </tr>
        <% end %>
        </table>
      <% else %>
        <div style="padding-left:10px; padding-right:10px; padding-bottom:10px;"><%= @user.name %> n'a participé à aucun concours.</div>
      <% end %>
      </div>
    </div>
  </div>


  <!-- Évolution de l'étudiant -->
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:5px;">
  <div class="basic_container">
  <div class="container_title">Évolution</div>
    
  <div style="padding-left:20px; padding-right:10px; padding-bottom:10px;"><%= @user.name %> s'est inscrit sur Mathraining le <span style="color:<%= couleur %>"><%= write_date_only(@user.created_at) %></span>.</div>
    
  <% if actualrating > 0 %>
    <div style="width:100%;">

    <!-- Endroit pour dessiner l'évolution -->
    <center>
    <div id="contenant" style="width:100%; max-width:900px; height:480px; position:relative; display:block;">
    <canvas id="myCanvas" width="900" height="480" style="position:absolute; left:0px; top: 0px;">
    Votre navigateur ne supporte pas les canvas.
    </canvas>
    </div>
    </center>

    <!-- Script pour le graphique de l'évolution -->
    <% @niveaux = Color.order(:pt).to_a %>

    <% i = 1 %>
    <% numerolevel = 0 %>

    <% @niveaux.each do |n| %>
      <% if niveau.id == n.id %>
        <% numerolevel = i %>
      <% end %>
      <% i = i+1 %>
    <% end %>

    <% nombrelevel = i-1 %>

    <% maxi = 0 %>


    <% if numerolevel == nombrelevel %>
      <% maxi = 1.2*actualrating %>
    <% else %>
      <% maxi = 1.1*@niveaux[numerolevel][:pt] %>
    <% end %>

    <script type="text/javascript">
      $(document).ready( function(){

      // Get the canvas & context
      var c = $('#myCanvas');
      var ctx = c.get(0).getContext('2d');
      var container = $(c).parent();

      // Run function when browser resize
      $(window).resize( respondCanvas );

      function respondCanvas(){
      c.attr('width', $(container).width() ); //max width
      c.attr('height', 480*$(container).width()/900.0); //max height

      document.getElementById('contenant').style.height = 480*$(container).width()/900.0 + "px"

      // Redraw & reposition content
      var x = c.width();
      var y = c.height();

      var pct = c.width()/900.0;

      <% i = 1 %>

      var prec = 1000;

      // Affichage des niveaux avec couleurs
      <% @niveaux.each do |n| %>
      
        // Points à gauche du graphique
        <% if i > 1 %>
          <% haut = [450 - 450*(n.pt/maxi), 0].max %>
          <% if haut > 0 %>
            ctx.font="14px Arial";
            ctx.fillStyle = 'black';
            ctx.textAlign = 'right';

            if (pct > 0.7){
              if (pct * <%= haut %> < prec - 13){
                ctx.fillText(<%= n.pt %>,pct*44,pct*<%= haut+10 %>);
                prec = pct * <%= haut %>;
              }
            }
            
            //ctx.beginPath();
            //ctx.moveTo(pct*50, pct*<%= haut+5 %>);
            //ctx.lineTo(pct*856, pct*<%= haut+5 %>);
            //ctx.strokeStyle = '<%= n.font_color %>';
            //ctx.stroke();
          <% end %>
        <% end %>

        // Calcul du bas et du haut
        <% if i == nombrelevel %>
          <% bas = [450 - 450*(n.pt/maxi), 0].max %>
          <% haut = 0 %>
        <% else %>
          <% bas = [450 - 450*(n.pt/maxi), 0].max %>
          <% haut = [450 - 450*(@niveaux[i].pt/maxi), 0].max %>
        <% end %>
        
        // Affichage du rectangle
        <% if bas > haut %>
          ctx.beginPath();
          ctx.rect(pct*50, pct*<%= haut+5 %>, pct*806, pct*<%= bas - haut %>);
          ctx.fillStyle = '<%= n.font_color %>';
          ctx.fill();
        <% end %>
        <% i = i+1 %>
      <% end %>


      // On trace maintenant le graphique

      <% last = actperday.first[:time].to_time.to_i %>

      // Commencement du graphique
      <% if parquoi == "jour" %>
        <% first = actperday.last[:time].to_time.to_i - 86400 %>
      <% elsif parquoi == "heure" %>
        <% first = actperday.last[:time].to_time.to_i - 3600 %>
      <% else %>
        <% first = actperday.last[:time].to_time.to_i - 60 %>
      <% end %>

      <% previousw = 2000 %>
      
      ctx.font="12px Arial";
      ctx.fillStyle = 'black';
      ctx.textAlign = 'center';
      ctx.setLineDash([10, 10]);
      ctx.beginPath();
      ctx.lineWidth = 1;
      ctx.strokeStyle = 'black';

      // De droite vers la gauche : calcul où on met les verticales pointillées
      <% actperday.each do |a| %>
        <% w = 3 + 800*(a[:time].to_time.to_i - first)/(last-first) %>

        <% if previousw - w > 50 %>
          if (pct > 0.7){
          <% if parquoi == "jour" %>
            ctx.fillText("<%= "0" if a[:time].day < 10 %><%= a[:time].day %>/<%= "0" if a[:time].month < 10 %><%= a[:time].month %>/<%= "0" if (a[:time].year % 2000) < 10 %><%= (a[:time].year % 2000) %>",pct*<%= 50+w %>,pct*471);
          <% elsif parquoi == "heure" %>
            ctx.fillText("<%= write_hour_only(a[:time]) %>",pct*<%= 50+w %>,pct*471);
          <% else %>
            ctx.fillText("<%= write_hour(a[:time]) %>",pct*<%= 50+w %>,pct*471);
          <% end %>
          }
          ctx.moveTo(pct*<%= 50+w %>, pct*5);
          ctx.lineTo(pct*<%= 50+w %>, pct*455);
          <% previousw = w %>
        <% end %>
      <% end %>
      
      ctx.stroke();
      ctx.setLineDash([]);

      <% w = 3 %>
      <% r = 0 %>
      <% previousr = r %>
      <% h = 450 %>
      
      ctx.beginPath();
      ctx.lineWidth = 2.5;
      ctx.fillStyle = 'white' // '<%= couleur %>';
      ctx.strokeStyle = 'white' // '<%= couleur %>';
      ctx.moveTo(pct*<%= 50+w %>, pct*<%= h+5 %>);

      // De gauche vers la droite : on trace le graphe
      <% actperday.reverse.each do |a| %>
        <% w = 3 + 800*(a[:time].to_time.to_i - first)/(last-first) %>
        <% r = previousr + a[:pt] %>
        <% previousr = r %>
        <% h = 450 - 450*(r/maxi) %>
        ctx.lineTo(pct*<%= 50+w %>, pct*<%= h+5 %>);
      <% end %>
      
      ctx.stroke();
      
      <% w = 3 %>
      <% r = 0 %>
      <% previousr = r %>
      <% h = 450 %>
      
      // De gauche vers la droite : on met les points
      <% actperday.reverse.each do |a| %>
        <% w = 3 + 800*(a[:time].to_time.to_i - first)/(last-first) %>
        <% r = previousr + a[:pt] %>
        <% previousr = r %>
        <% h = 450 - 450*(r/maxi) %>  
        ctx.beginPath();      
        ctx.arc(pct*<%= 50+w %>, pct*<%= h+5 %>, 3, 0, 2 * Math.PI, true);
        ctx.fill();
      <% end %>
      
      // Contour du canvas
      ctx.beginPath();
      ctx.rect(pct*50, pct*5, pct*806, pct*450);
      ctx.lineWidth = 2;
      ctx.strokeStyle = 'black';
      ctx.stroke();

      }

      //Initial call
      respondCanvas();

      });

    </script>

    </div>
  <% end %>
  </div>
  </div>
<% end %>

<% nb_corrections = @user.followings.count %>
<% if nb_corrections > 0 %>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:5px;">
    <div class="basic_container">
    <div class="container_title">Corrections</div>
    <div style="padding-left:20px; padding-right:10px; padding-bottom:10px;"><%= @user.name %> a participé à la correction de <span style="font-weight:bold; color:<%= couleur %>;"><%= nb_corrections %></span> soumission<%= "s" if nb_corrections > 1 %> sur le site, merci à <%= "lui" if @user.sex == 0 %><%= "elle" if @user.sex == 1 %> !</div>    
    <div style="width:100%;">    
    <% first_correction = @user.followings.order(:created_at).first.created_at.in_time_zone %>
    <% first_month = 12*first_correction.year + (first_correction.mon-1) %>
    <% last_correction = @user.followings.order(:created_at).last.created_at.in_time_zone %>
    <% last_month = 12*last_correction.year + (last_correction.mon-1) %>
    <% num_months = last_month - first_month + 1 %>
    <% if num_months >= 2 %>
    
      <% max_num_corr = 0 %>
      <% num_corr_by_month = Array.new %>
      <% month_string = Array.new %>
      <% prev_num_corr = 0 %>
      <% for i in (first_month..last_month) do %>
        <% month = (i % 12 + 1) %>
        <% year = (i - month + 1)/12 %>
        <% next_month = month + 1 %>
        <% next_year = year %>
        <% if next_month == 13 %>
          <% next_month = 1 %>
          <% next_year = next_year + 1 %>
        <% end %>
        <% date_limit = Time.zone.local(next_year, next_month, 1, 0, 0, 0) %>
        <% next_num_corr = @user.followings.where("created_at < ?", date_limit).count %>
        <% num_corr_this_month = next_num_corr - prev_num_corr %>
        <% num_corr_by_month[i-first_month] = num_corr_this_month %>
        <% month_string[i-first_month] = "#{0 if month < 10}#{month}/#{year-2000}" %>
        <% prev_num_corr = next_num_corr %>
        <% if num_corr_this_month > max_num_corr %>
          <% max_num_corr = num_corr_this_month %>
        <% end %>
      <% end %>
      
      <% maxi = (max_num_corr*1.1).ceil %>
      
      <center>
      <!-- Endroit pour dessiner le graphique des corrections -->
      <div id="contenantCorr" style="width:100%; max-width:900px; height:480px; position:relative; display:block;">
      <canvas id="myCanvasCorr" width="900" height="480" style="position:absolute; left:0px; top: 0px;">
      Votre navigateur ne supporte pas les canvas.
      </canvas>
      </div>
      </center>

      <script type="text/javascript">
        $(document).ready( function(){

        //Get the canvas & context
        var c = $('#myCanvasCorr');
        var ctx = c.get(0).getContext('2d');
        var container = $(c).parent();

        //Run function when browser  resize
        $(window).resize( respondCanvas );

        function respondCanvas(){
        c.attr('width', $(container).width() ); //max width
        c.attr('height', 480*$(container).width()/900.0); //max height

        document.getElementById('contenantCorr').style.height = 480*$(container).width()/900.0 + "px"

        //Redraw & reposition content
        var x = c.width();
        var y = c.height();

        var pct = c.width()/900.0;
        
        ctx.beginPath();
        ctx.rect(pct*50, pct*5, pct*806, pct*450);
        ctx.fillStyle = 'white';
        ctx.fill();
        ctx.lineWidth = 1;
        ctx.strokeStyle = 'black';
        ctx.stroke();
        
        // Entre 50 et 856 --> largeur totale 806, à diviser en num_months
        <% rect_width = 806.0/num_months %>
        
        <% for i in (first_month..last_month) do %>
          <% n = i - first_month %>
          ctx.beginPath();
          ctx.rect(pct*<%= 50+n*rect_width %>, pct*455, pct*<%= rect_width %>, -pct*<%= (450.0*num_corr_by_month[n])/maxi %>);
          ctx.fillStyle = '<%= couleur %>';
          ctx.fill();
          ctx.lineWidth = 1;
          ctx.strokeStyle = 'black';
          ctx.stroke();
        <% end %>
        
        ctx.font="12px Arial";
        ctx.fillStyle = 'black';
        ctx.textAlign = 'center';
        
        <% last_date_x = -100 %>
        if (pct > 0.7){
          <% for i in (first_month..last_month) do %>
            <% n = i - first_month %>
            <% date_x = 50+(n+0.5)*rect_width %>
            <% if date_x > last_date_x + 50 %>
              ctx.fillText("<%= month_string[n] %>", pct*<%= date_x %>, pct*471);
              <% last_date_x = date_x %>
            <% end %>
          <% end %>
        }
        
        if (pct > 0.7){
          ctx.textAlign = 'right';
          <% i = max_num_corr %>
          <% step = max_num_corr / 10 %>
          <% fac = 1 %>
          <% while step >= 10 %>
            <% fac = fac * 10 %>
            <% step = step / 10 %>
          <% end %>
          <% if step < 1 %>
            <% step = 1 %>
          <% elsif step < 2 %>
            <% step = 2 %>
          <% elsif step < 5 %>
            <% step = 5 %>
          <% else %>
            <% step = 10 %>
          <% end %>
          <% step = step * fac %>
          <% while(i > 0) %>
            ctx.fillText("<%= i %>", pct*43,pct*(<%= 455-450*i/maxi %>+4));
            <% i = i - step %>
            <% mod = i % step %>
            <% if mod != 0 %>
              <% i = i + step - mod %>
              <% if mod < step * 0.2 %> 
                <% i = i - step %>
              <% end %>
            <% end %>
          <% end %>
        }
        
        }

        //Initial call
        respondCanvas();

        });
      </script>
    <% end %>
    
    </div>
    </div>
  </div>
<% end %>


<!-- Si administrateur, différentes options -->
<% if @signed_in && current_user.sk.admin? && !@user.root? && (current_user.sk.root? || !@user.admin) %>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:5px; text-align:center;">
  <div class="basic_container" style="padding:5px;">
  <% i = 0 %>
    <% if current_user.sk.root? && !@user.root? %>
      <%= " | " if i > 0 %>
      <% i = i+1 %>
      <%= link_to "Supprimer les données personnelles", user_destroydata_path(@user), data: { confirm: "ATTENTION : Cette action va supprimer les données personnelles de #{@user.name}, à savoir son adresse e-mail et son nom. Êtes-vous sûr de vouloir continuer ?" }, :style => "color:red;" %>
      <%= " | " if i > 0 %>
      <% i = i+1 %>
      <%= link_to 'Supprimer', @user, method: :delete, data: { confirm: "ATTENTION : Privilégiez la suppression des données personnelles ! En continuant, vous supprimerez toutes les données relatives à ce compte. Notez que cet utilisateur a ouvert #{@user.subjects.count} sujet(s) et a écrit #{@user.messages.count} message(s) sur le forum, tout sera supprimé ! Êtes-vous sûr de vouloir supprimer #{@user.name} ?" }, :style => "color:red;" %>
    <% end %>
    <% if current_user.sk.root? && @user.email_confirm && !@user.admin %>
      <%= " | " if i > 0 %>
      <% i = i+1 %>
      <%= link_to 'Voir le site comme lui', user_take_skin_path(@user), data: { confirm: "Vous allez voir tout le site comme #{@user.name} le voit." } %>
    <% end %>
    <% if current_user.sk.root && !@user.admin %>
      <%= " | " if i > 0 %>
      <% i = i+1 %>
      <%= link_to 'Rendre administrateur', user_add_administrator_path(@user), data: { confirm: "Êtes-vous sûr de vouloir rendre #{@user.name} administrateur ? Vous ne pourrez plus revenir en arrière !"}, :style => "color:red;" %>
    <% end %>
    <% if current_user.sk.root && !@user.admin %>
      <%= " | " if i > 0 %>
      <% i = i+1 %>
      <% if !@user.corrector %>
        <%= link_to 'Rendre correcteur', user_switch_corrector_path(@user), data: { confirm: "Êtes-vous sûr de vouloir rendre #{@user.name} correcteur ?"}, :style => "color:red;" %>
      <% else %>
        <%= link_to 'Retirer des correcteurs', user_switch_corrector_path(@user), data: { confirm: "Êtes-vous sûr de vouloir retirer #{@user.name} des correcteurs ?"}, :style => "color:red;" %>
      <% end %>
    <% end %>
    <% if current_user.sk.admin && !@user.admin %>
      <%= " | " if i > 0 %>
      <% i = i+1 %>
      <% if @user.wepion %>
        <%= link_to 'Retirer du groupe Wépion', user_switch_wepion_path(@user) %>
      <% else %>
        <%= link_to 'Ajouter au groupe Wépion', user_switch_wepion_path(@user) %>
      <% end %>
    <% end %>
    <% if current_user.sk.admin && @user.wepion %>
      <%= " | " if i > 0 %>
      <% i = i+1 %>
      Groupe <%= link_to 'A', user_change_group_path(@user, :group => "A") %>, <%= link_to 'B', user_change_group_path(@user, :group => "B") %>, <%= link_to 'aucun', user_change_group_path(@user, :group => "") %>
    <% end %>
  </div>
  </div>
<% end %>


</div>
<!-- END OF THE MAIN DIV -->
