<script>
function hideUser(user_id) {
  document.getElementById('user'+user_id).style.display = 'none';
}
function nameIsOk(user_id, suggestion) {
  validate_name_url = "<%= validate_name_url %>";
  $.getScript(validate_name_url + "?userid=" + user_id + "&suggestion=" + suggestion);
  hideUser(user_id)
  document.getElementById('num_remaining').innerHTML = (parseInt(document.getElementById('num_remaining').innerHTML) - 1).toString()
}
</script>

<% provide(:title, 'Valider les noms') %>

<h1><%= title_1("Valider <span id='num_remaining'>#{@users_to_validate.size}</span> noms") %></h1>

<% if @users_to_validate.size == 0 %>
  Aucun nom à valider !
<% else %>
  <table class="table table-bordered" style="width:660px;">
  <% @users_to_validate.each do |u| %>
    <tr id="user<%= u.id %>">
    <td style="width:200px;"><%= raw(u.linked_name(1)) %></td>
    <td style="width:50px; text-align:center;"><a href="#" id="ok-<%= u.id %>" onclick="nameIsOk(<%= u.id %>, 0)">OK</a></td>
    <td style="width:250px;"><a href="#" id="capitalize-<%= u.id %>" onclick="nameIsOk(<%= u.id %>, 1)">Capitalize</a> (<%= u.first_name.my_titleize %> <%= u.last_name.my_titleize %>)</td>
    <td style="width:80px; text-align:center;"><%= link_to "Changer", user_change_name_path(u), :method => :put, :id => "change-#{u.id}" %></td>
    <td style="width:80px; text-align:center;"><a href="#" id="pass-<%= u.id %>" onclick="hideUser(<%= u.id %>)">Passer</a>
    </tr>
  <% end %>
  </table>
<% end %>
