<% if !defined?(indice) %>
  <% indice = false %>
<% end %>

<div class="font-content">

<div class="font">
<a href="javascript:Insert.insert('<b>', '</b>', 'MathInput');"><%= image_tag "bold.svg", :class => "svg-black-white", :title => "Gras" %></a>
<a href="javascript:Insert.insert('<i>', '</i>', 'MathInput');" class='ms-1'><%= image_tag "italic.svg", :class => "svg-black-white", :title => "Italique" %></a>
<a href="javascript:Insert.insert('<u>', '</u>', 'MathInput');" class='ms-1'><%= image_tag "underlined.svg", :class => "svg-black-white", :title => "Souligné" %></a>
<a href="javascript:Insert.insert('<h4>', '</h4>', 'MathInput');" class='ms-3'><%= image_tag "title.svg", :class => "svg-black-white", :title => "Sous-titre" %></a>
<a href="javascript:Insert.insert('<hr>', '', 'MathInput');"><%= image_tag "line.svg", :class => "svg-black-white", :title => "Séparateur horizontal" %></a>
<a href="javascript:Insert.insert('<ul>\n<li>Point 1', '</li>\n<li>Point 2</li>\n</ul>', 'MathInput');" class='ms-1'><%= image_tag "list.svg", :class => "svg-black-white", :title => "Liste" %></a>
<a href="javascript:Insert.insert('<ol>\n<li>Point 1', '</li>\n<li>Point 2</li>\n</ol>', 'MathInput');" class='ms-1'><%= image_tag "enumerate.svg", :class => "svg-black-white", :title => "Liste numérotée" %></a>
<a href='javascript:Insert.insert("<a target=\"blank\" href=\"https://www.mathraining.be\">", "</a>", "MathInput");' class='ms-1'><%= image_tag "link.svg", :class => "svg-black-white", :title => "Lien" %></a>
<a href='javascript:Insert.insert("<center><img style=\"width:100%; max-width:600px;\" src=\"/DefaultPicture.png\" /></center>", "", "MathInput");' class='ms-1'><%= image_tag "picture.svg", :class => "svg-black-white", :title => "Image" %></a>
</div>

<div class="font">
<a href="javascript:Insert.insert('<result>Résultat<statement>\n', '\n</result>', 'MathInput');" class="align-middle">Résultat</a> -
<a href="javascript:Insert.insert('<proof>Démonstration<statement>\n', '\n</proof>', 'MathInput');" class="align-middle">Preuve</a> -
<a href="javascript:Insert.insert('<remark>Remarque<statement>\n', '\n</remark>', 'MathInput');" class="align-middle">Remarque</a>
<% if indice %>
  - <a href="javascript:Insert.insert('<indice>', '</indice>', 'MathInput');" class="align-middle">Indice</a>
<% end %>
</div>

<div class="font">
  <%= link_to "Mes images", pictures_path, :target => "_blank", :class => "align-middle" %> - <%= link_to "Nouvelle image", new_picture_path, :target => "_blank", :class => "align-middle" %>
</div>

<div class="font">
<div class="form-check">
<label class="form-check-label ms-2 me-2 align-middle">
  <%= check_box_tag "stop", nil, true, :class => "form-check-input" %>
Prévisualisation
</label>
</div>
</div>

</div>
