<% if !defined?(can_edit) %>
  <% can_edit = false %>
<% end %>

<% if !defined?(reduce_margin_top) %>
  <% reduce_margin_top = false %>
<% end %>

<div class="post mb-0 <%= "mt-3" unless reduce_margin_top %><%= "mt-1" if reduce_margin_top %>">

  <% coul = ((kind == "correction" && ms.user != @submission.user) || kind == "contestcorrection") ? "table-ld-danger" : "table-ld-primary" %>
  <div class="header <%= coul %>">

  <!-- Nom -->
  <div class="author">
  <% if kind != "contestcorrection" %>
    <% if !ms.user.nil? %>
      <%= raw(ms.user.linked_name) %>
    <% else %>
      <b>Message automatique</b>
    <% end %>
  <% else %>
    <% if @contest.organizers.count == 1 %>
      <%= raw(@contest.organizers.first.linked_name) %>
    <% else %>
      <b>Organisateurs</b>
    <% end %>
  <% end %>
  </div>

  <!-- Date -->
  <% if kind != "contestsolution" && kind != "contestcorrection" %>
    <div class="date"><%= write_date(ms.created_at) %></div>
  <% end %>

  </div>

  <!-- Contenu du message -->
  <div class="content">
  <% if kind == "message" && ms.erased? %>
    <i>Ce message a été supprimé.</i>
  <% else %>
    <% theid = -ms.id if kind == "submission" || kind == "contestsolution" || kind == "submission_in_test" %>
    <% theid = ms.id if kind == "message" || kind == "correction" || kind == "contestcorrection" %>
  
    <%= render '/shared/text_show_hide_code', content: ms.content, id: theid, replace_indice: (kind == "message") %>
  
    <!-- Pièces jointes -->
    <%= render 'shared/show_files', s: ms %>
  <% end %>
  </div>
  
  <% if can_edit %>
    <div class="modify">
      <% if kind == "message" %>
        <% unless ms.erased? %>
          <a href='#' onclick='return Rolling.develop("<%= postfix %>", true)' id='LinkEdit<%= postfix %>'>Modifier ce message</a>
          | <%= link_to "Supprimer ce message", soft_destroy_message_path(ms), method: :put, id: "LinkSoftDelete#{ postfix }", data: { confirm: "Êtes-vous sûr de vouloir supprimer ce message ?" } %>
        <% end %>
        <% if current_user.sk.admin? %>
          <%= "|" unless ms.erased? %>
          <%= link_to "Supprimer totalement ce message", message_path(ms), method: :delete, id: "LinkDelete#{ postfix }", data: { confirm: "Êtes-vous sûr de vouloir supprimer ce message ?" }  %>
        <% end %>
      <% elsif kind == "contestsolution" %>
        <a href='#' onclick='return Rolling.develop("")'>Modifier la solution</a>
        | <%= link_to "Supprimer la solution", contestsolution_path(ms), method: :delete, data: { confirm: "Êtes-vous sûr de vouloir supprimer cette solution ?" }  %>
      <% elsif kind == "contestcorrection" %>
        <a href='#' onclick='return Rolling.develop("")'>
        <% if !ms.contestsolution.official? %>
          Modifier la correction
        <% else %>
          Modifier la solution
        <% end %>
        </a>
      <% elsif kind == "submission_in_test" %>
        <a href='#' onclick='return Rolling.develop("")'>Modifier la solution</a>
        | <%= link_to "Supprimer la solution", submission_path(@submission), method: :delete, data: { confirm: "Êtes-vous sûr de vouloir supprimer cette solution ?" } %>
      <% end %>
    </div>
  <% end %>
</div>
