<% if !defined?(can_edit) %>
  <% can_edit = false %>
<% end %>

<% if !defined?(reduce_margin_top) %>
  <% reduce_margin_top = false %>
<% end %>

<table class="table table-bordered post mb-0 <%= "mt-3" unless reduce_margin_top %><%= "mt-1" if reduce_margin_top %>">

  <!-- Cas normal -->
  <% coul = "table-ld-primary" %>
  <% coul = "table-ld-danger" if (kind == "correction" && ms.user != @submission.user) || kind == "contestcorrection" %>
  <tr class="d-none d-sm-table-row <%= coul %>">

  <!-- Nom -->
  <td class="author border-end-0">
  <% if kind != "contestcorrection" %>
    <% if !ms.user.nil? %>
      <%= raw(ms.user.linked_name) %>
    <% else %>
      <b>Message automatique</b>
    <% end %>
  <% else %>
    <b>Organisateurs</b>
  <% end %>
  </td>

  <!-- Date -->
  <td class="date border-start-0"><% if kind != "contestsolution" && kind != "contestcorrection" %><%= write_date(ms.created_at) %><% end %></td>
  </tr>

  <!-- Cas gsm -->

  <!-- Nom -->
  <tr class="d-table-line d-sm-none <%= coul %>"><td class="author">
  <% if kind != "contestcorrection" %>
    <% if !ms.user.nil? %>
      <%= raw(ms.user.linked_name) %>
    <% else %>
      <b>Message automatique</b>
    <% end %>
  <% else %>
    <b>Organisateurs</b>
  <% end %>
  </td></tr>

  <!-- Date -->
  <% if kind != "contestsolution" && kind != "contestcorrection" %>
  <tr class="d-table-line d-sm-none <%= coul %>"><td class="date"><%= write_date(ms.created_at) %></td></tr>
  <% end %>

  <!-- Contenu du message -->
  <tr><td colspan="2" class="content">
    
  <% bb = bbcode(ms.content) %>
  <% if kind == "subject" || kind == "message" %>
    <% while bb.sub!(/\[hide=(?:&quot;)?(.*?)(?:&quot;)?\](.*?)\[\/hide\]/mi) {"<div class='clue'><div><button onclick='return Clue.toggle(#{@nb_indice})' class='btn btn-ld-light-dark'>#{$1}</button></div><div id='indice#{@nb_indice}' class='clue-hide'><div class='clue-content'>#{$2}</div></div></div>"} %>
      <% @nb_indice = @nb_indice+1 %>
    <% end %>
  <% end %>
  
  <% theid = -ms.id if kind == "subject" || kind == "submission" || kind == "contestsolution" || kind == "submission_in_test" %>
  <% theid = ms.id if kind == "message" || kind == "correction" || kind == "contestcorrection" %>
  
  <!-- Version compilée -->
  <div id="normal<%= theid %>" style="display:block;">
  <%= raw(bb) %>
  <div class="text-end mt-1" style="float:right;">&nbsp; <a href='#' onclick="ShowHideCode.showCode('<%= theid %>'); return false;">(Montrer le code)</a></div>
  </div>

  <!-- Version non-compilée (code) -->
  <div class="tex2jax_ignore" id="anormal<%= theid %>" style="display:none;">
  <%= raw((h ms.content).gsub(/\n/, '<br/>')) %>
  <div class="text-end mt-1" style="float:right;">&nbsp; <a href='#' onclick="ShowHideCode.hideCode('<%= theid %>'); return false;">(Cacher le code)</a></div>
  </div>

  <!-- Pièces jointes -->
  <%= render 'shared/show_files', s: ms %>  
  </td></tr>
  
  <% if can_edit %>
    <tr><td colspan="2" class="modify">
      <% if kind == "subject" %>
        <a href='#' onclick='return Rolling.develop("<%= postfix %>", true)'>Modifier ce sujet</a>
        <% if current_user.sk.admin? %>
          | <%= link_to "Supprimer ce sujet", subject_path(ms), method: :delete, data: { confirm: "Êtes-vous sûr de vouloir supprimer ce sujet et tous les messages associés ?" }  %>
          | <a href='#' id='showform' onclick='document.getElementById("migration_form").style.display="inline"; return false;' style='display:inline;'>Migrer ce sujet</a>
          <span id='migration_form' style="<%= 'display:none;' if !Rails.env.test? %>">
          <%= form_tag subject_migrate_path(ms), :method => :put, :class => "mt-1" do %>
            Migrer ce sujet vers le sujet numéro
            <%= hidden_field_tag "q", @q %>
            <%= number_field_tag "migreur", nil, min: 1, max: 10000, style: "width:80px;" %>
            <%= submit_tag "Migrer", data: { confirm: "Êtes-vous sûr de vouloir migrer ce sujet ? Êtes-vous sûr de l'id du sujet receveur ?"} %>
          <% end %>
          </span>
        <% end %>
      <% elsif kind == "message" %>
        <a href='#' onclick='return Rolling.develop("<%= postfix %>", true)' id='LinkEdit<%= postfix %>'>Modifier ce message</a>
        <% if current_user.sk.admin? %>
           | <%= link_to "Supprimer ce message", message_path(ms), method: :delete, id: "LinkDelete#{ postfix }", data: { confirm: "Êtes-vous sûr de vouloir supprimer ce message ?" }  %>
        <% end %>
      <% elsif kind == "contestsolution" %>
        <a href='#' onclick='return Rolling.develop("")'>Modifier la solution</a>
        | <%= link_to "Supprimer la solution", contestsolution_path(ms), method: :delete, data: { confirm: "Êtes-vous sûr de vouloir supprimer cette solution ?" }  %>
      <% elsif kind == "contestcorrection" %>
        <a href='#' onclick='return Rolling.develop("")'>
        <% if !ms.contestsolution.official? %>
          Modifier la correction
        <% else %>
          Modifier la solution
        <% end %>
        </a>
      <% elsif kind == "submission_in_test" %>
        <a href='#' onclick='return Rolling.develop("")'>Modifier la solution</a>
        | <%= link_to "Supprimer la solution", submission_path(@submission), method: :delete, data: { confirm: "Êtes-vous sûr de vouloir supprimer cette solution ?" } %>
      <% end %>
    </td></tr>
  <% end %>
</table>
