<% n_real = s.myfiles.count %>
<% n_fake = s.fakefiles.count %>

<% if n_real + n_fake > 0 %>
  <p class="mt-3 mb-1 fw-bold">
    <% if n_real + n_fake == 1 %>
      1 pièce jointe :
    <% else %>
      <%= n_real + n_fake %> pièces jointes :
    <% end %>
  </p>
  
  <% files = Array.new %>
  <% s.myfiles.each do |f| %>
    <% files.push([f.file.filename.to_s, f]) %>
  <% end %>
  <% files.sort! %>
  
  <ul class="mb-1">
  <% files.each do |ff| %>
    <% f = ff[1] %>
    <li><%= link_to f.file.filename, rails_blob_path(f.file, disposition: 'attachment') %>
    (<%= (f.file.blob.byte_size / 1.kilobyte).round(1) %>
    <% if f.myfiletable_type == "Tchatmessage" %>
      ko, <i>expire le <%= write_date_only(f.file.blob.created_at.to_date + 28) %></i>)
    <% else %>
      ko)
    <% end %>
    <% if current_user.root? %>
       - <%= link_to 'Supprimer le contenu', fake_delete_myfile_path(f), data: { confirm: "Vous vous apprêtez à supprimer le contenu de cette pièce jointe. Êtes-vous #{current_user.sure} de vouloir continuer ?"}, :method => :put, :class => "text-color-red" %>
    <% end %>
    </li>
  <% end %>
  <% s.fakefiles.order(:filename).each do |f| %>
    <li><span class="text-color-dark-light-blue"><%= f.filename %> (<%= (f.byte_size / 1.kilobyte).round(1) %> ko, désactivée)</span></li>
  <% end %>
  </ul>

  <!-- Afficher les pièces jointes images -->
  <% files.each do |ff| %>
    <% f = ff[1] %>
    <% if f.is_image %>
      <hr/>
      <center><p><%= f.file.filename.to_s %></p>
      <% if f.myfiletable_type == "Tchatmessage" %>
        <%= image_tag f.file, :class => "image-pj" %>
      <% else %>
        <%= image_tag f.file, :class => "image-pj2" %>
      <% end %>
      </center>
    <% end %>
  <% end %>
<% end %>
