<% myfiles = (@myfiles.nil? ? s.myfiles.to_a : @myfiles.select { |f| f.myfiletable == s }) %>
<% fakefiles = (@fakefiles.nil? ? s.fakefiles.to_a : @fakefiles.select { |f| f.fakefiletable == s }) %>
<% num_files = myfiles.size + fakefiles.size %>

<% if num_files > 0 %>
  <p class="mt-3 mb-1 fw-bold">
    <% if num_files == 1 %>
      1 pièce jointe :
    <% else %>
      <%= num_files %> pièces jointes :
    <% end %>
  </p>
  
  <% myfiles.sort_by!{ |f| f.file.filename.to_s } %>
  <% fakefiles.sort_by!{ |f| f.filename } %>
  
  <ul class="mb-1">
  <% myfiles.each do |f| %>
    <li><%= link_to f.file.filename, rails_blob_path(f.file, disposition: 'attachment') %>
    (<%= (f.file.blob.byte_size / 1.kilobyte).round(1) %>
    <% if f.myfiletable_type == "Tchatmessage" %>
      ko, <i>expire le <%= write_date_only(f.file.blob.created_at.to_date + 28) %></i>)
    <% else %>
      ko)
    <% end %>
    <% if current_user.root? %>
       - <%= link_to 'Supprimer le contenu', fake_delete_myfile_path(f), data: { confirm: "Vous vous apprêtez à supprimer le contenu de cette pièce jointe. Êtes-vous #{current_user.sure} de vouloir continuer ?"}, :method => :put, :class => "text-color-red" %>
    <% end %>
    </li>
  <% end %>
  
  <% fakefiles.each do |f| %>
    <li><span class="text-color-dark-light-blue"><%= f.filename %> (<%= (f.byte_size / 1.kilobyte).round(1) %> ko, désactivée)</span></li>
  <% end %>
  </ul>

  <!-- Afficher les pièces jointes images -->
  <% myfiles.each do |f| %>
    <% if f.is_image %>
      <hr/>
      <center><p><%= f.file.filename.to_s %></p>
      <% if f.myfiletable_type == "Tchatmessage" %>
        <%= image_tag f.file, :class => "image-pj" %>
      <% else %>
        <%= image_tag f.file, :class => "image-pj2" %>
      <% end %>
      </center>
    <% end %>
  <% end %>
<% end %>
