<% if !(defined? postfix) %>
  <% postfix = "" %>
<% end %>

<% if !(defined? hiddentext) %>
  <% hiddentext = false %>
<% end %>

<div class="smiley-content">

<div class="smiley">
<a href="javascript:Insert.insert('[b]', '[/b]', 'MathInput<%= postfix %>');"><%= image_tag "bold.svg", :class => "svg-black-white", :title => "Gras" %></a>
<a href="javascript:Insert.insert('[i]', '[/i]', 'MathInput<%= postfix %>');" class='ms-1'><%= image_tag "italic.svg", :class => "svg-black-white", :title => "Italique" %></a>
<a href="javascript:Insert.insert('[u]', '[/u]', 'MathInput<%= postfix %>');" class='ms-1'><%= image_tag "underlined.svg", :class => "svg-black-white", :title => "Souligné" %></a>
<a href="javascript:Insert.insert('[url=https://www.mathraining.be]', '[/url]', 'MathInput<%= postfix %>');" class='ms-3'><%= image_tag "link.svg", :class => "svg-black-white", :title => "Lien" %></a>

<% if hiddentext %>
<a href="javascript:Insert.insert('[hide=Texte caché]\n', '\n[/hide]', 'MathInput<%= postfix %>');" class="ms-3 align-middle" >Texte caché</a>
<% end %>
</div>

<% smileys = [":-)", ":-(", ";-)", ":'(", ":-D", ":-O", ":-P", ":-|", "3:["]; %>
<% ids =     [ 1,     2,     7,     6,     3,     4,     5,     8,     9   ]; %>

<div class="smiley">
<% (0..8).each do |s| %>
  <a href='javascript:Insert.insert(" <%= smileys[s] %>", "", "MathInput<%= postfix %>");'><%= image_tag "Smiley#{ids[s]}.png", :title => "#{smileys[s]}", :id => "smiley#{ids[s]}-img", :width => "20px" %></a>
<% end %>
</div>

<div class="smiley">
<div class="form-check">
<label class="form-check-label ms-2 me-2 align-middle">
  <%= check_box_tag "stop", nil, true, :class => "form-check-input", :id => "stop#{ postfix }", :onclick => "PreviewSafe.MyUpdate()" %>
Prévisualisation
</label>
</div>
</div>

</div>
