<div class="smiley-content">

<% if !(defined? postfix) %>
  <% postfix = "" %>
<% end %>

<% if !(defined? hiddentext) %>
  <% hiddentext = false %>
<% end %>

<div class="smiley">
<a href="#!" is='insert-onclick' data-insert-left='[b]' data-insert-right='[/b]' data-postfix='<%= postfix %>'><%= image_tag "bold.svg", :class => "svg-black-white", :title => "Gras" %></a>
<a href="#!" is='insert-onclick' data-insert-left='[i]' data-insert-right='[/i]' data-postfix='<%= postfix %>'><%= image_tag "italic.svg", :class => "svg-black-white ms-1", :title => "Italique" %></a>
<a href="#!" is='insert-onclick' data-insert-left='[u]' data-insert-right='[/u]' data-postfix='<%= postfix %>'><%= image_tag "underlined.svg", :class => "svg-black-white ms-1", :title => "Souligné" %></a>
<a href="#!" is='insert-onclick' data-insert-left='[url=https://www.mathraining.be]' data-insert-right='[/url]' data-postfix='<%= postfix %>'><%= image_tag "link.svg", :class => "svg-black-white ms-3", :title => "Lien" %></a>

<% if hiddentext %>
<a href="#!" is='insert-onclick' data-insert-left='[hide=Texte caché]\n' data-insert-right='\n[/hide]' data-postfix='<%= postfix %>' class="ms-3 align-middle" >Texte caché</a>
<% end %>
</div>

<div class="smiley">
<a href="#!" is='insert-onclick' data-insert-left=' :-)' data-postfix='<%= postfix %>'><%= image_tag "Smiley1.gif", :title => ":-)", :id => "smiley1-img" %></a>
<a href="#!" is='insert-onclick' data-insert-left=' :-(' data-postfix='<%= postfix %>'><%= image_tag "Smiley2.gif", :title => ":-(", :id => "smiley2-img" %></a>
<a href="#!" is='insert-onclick' data-insert-left=' ;-(' data-postfix='<%= postfix %>'><%= image_tag "Smiley7.gif", :title => ";-)", :id => "smiley7-img" %></a>
<a href="#!" is='insert-onclick' data-insert-left=" :'(" data-postfix='<%= postfix %>'><%= image_tag "Smiley6.gif", :title => ":'(", :id => "smiley6-img" %></a>
<a href="#!" is='insert-onclick' data-insert-left=' :-D' data-postfix='<%= postfix %>'><%= image_tag "Smiley3.gif", :title => ":-D", :id => "smiley3-img" %></a>
<a href="#!" is='insert-onclick' data-insert-left=' :-O' data-postfix='<%= postfix %>'><%= image_tag "Smiley4.gif", :title => ":-O", :id => "smiley4-img" %></a>
<a href="#!" is='insert-onclick' data-insert-left=' :-P' data-postfix='<%= postfix %>'><%= image_tag "Smiley5.gif", :title => ":-P", :id => "smiley5-img" %></a>
<a href="#!" is='insert-onclick' data-insert-left=' :-|' data-postfix='<%= postfix %>'><%= image_tag "Smiley8.gif", :title => ":-|", :id => "smiley8-img" %></a>
<a href="#!" is='insert-onclick' data-insert-left=' 3:[' data-postfix='<%= postfix %>'><%= image_tag "Smiley9.gif", :title => "3:[", :id => "smiley9-img" %></a>
</div>

<div class="smiley">
<div class="form-check">
<label class="form-check-label ms-2 me-2 align-middle"><input class="form-check-input" type="checkbox" id="stop<%= postfix %>" name="stop" onclick="PreviewSafe.MyUpdate()" checked="checked" />Prévisualisation</label>
</div>
</div>

</div>
