<% if !defined?(replace_indice) %>
  <% replace_indice = false %>
<% end %>

<% bb = bbcode(content) %>
<% if replace_indice %>
  <% res = process_hidden_text(bb, @nb_indice) %>
  <% bb = res[0] %>
  <% @nb_indice = res[1] %>
<% end %>

<div id="normal<%= id %>" style="display:block;">
  <%= bb.html_safe %>
  <div class="text-end ms-2 mt-1" style="float:right;"><a href='#' onclick="ShowHideCode.showCode('<%= id %>'); return false;">(Montrer le code)</a></div>
</div>

<div class="tex2jax_ignore" id="anormal<%= id %>" style="display:none;">
  <%= (h content).gsub(/\n/, '<br/>').html_safe %>
  <div class="text-end ms-2 mt-1" style="float:right;"><a href='#' onclick="ShowHideCode.hideCode('<%= id %>'); return false;">(Cacher le code)</a></div>
</div>
