<% provide(:title, 'Politique de confidentialité') %>

<h1><%= title_2((link_to "Politique de confidentialité", privacypolicies_path), "Modifier") %></h1>

<%= form_for(@privacypolicy) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <!-- Contenu de la politique de confidentialité -->
  <div class="mb-2">
    <%= f.label :content, :class => "form-label" %>
    <%= render 'shared/preview' %>
    <%= render 'shared/font' %>
    <%= f.text_area :content, :class => "form-control", :maxlength => "16000", :style => "height:200px;", :id=>"MathInput", :onkeyup => "Preview.MyUpdate()" %>
  </div>
  
  <%= f.submit "Modifier", class: "btn btn-lg btn-primary" %>
<% end %>
