<% provide(:title, "Politique de confidentialité") %>

<h1><%= title_2((link_to "Politique de confidentialité", privacypolicies_path), "Modifier la description") %></h1>

<%= form_for(@privacypolicy) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <!-- Description de la politique de confidentialité -->
  <div class="mb-2">
    <%= f.label :description, :for => "MathInput", :class => "form-label" %>
    <%= render 'shared/preview' %>
    <%= render 'shared/font' %>
    <%= f.text_area :description, :class => "form-control", :maxlength => "8000", :style => "height:200px;", :id => "MathInput", :onkeyup => "Preview.MyUpdate()" %>
    <script>initAndUpdatePreviewWhenPossible()</script>
  </div>
  
  <%= f.submit "Modifier", class: "btn btn-lg btn-primary" %>
<% end %>
