<% provide(:title, 'Politiques de confidentialité') %>

<h1><%= title_1("Politiques de confidentialité") %></h1>

<table class="table table-bordered">
<tr class="table-ld-header"><th class="text-center" style="width:150px;">Publication</th><th class="text-center" style="width:80px;">Texte</th><th>Modifications</th></tr>
<% Privacypolicy.all.order(:publication_time).each do |p| %>
<tr class="<%= 'table-ld-success' if p.online? %><%= 'table-ld-danger' unless p.online? %>">
<td class="text-center">
<% if p.online %>
  <%= write_date_only(p.publication_time) %>
<% else %>
  -
<% end %>
</td>
<td class="text-center">
<% if p.online %>
  <%= link_to "Voir", p %>
<% else %>
  <%= link_to "Modifier", edit_privacypolicy_path(p) %>
<% end %>
</td>
<td>
<%= htmlise(p.description) %>
<br/><br/>
<center><%= link_to "Modifier", edit_description_privacypolicy_path(p) %>
<% if !p.online %>
  - <%= link_to "Supprimer", p, :method => :delete, data: { confirm: "Êtes-vous #{current_user.sure} de vouloir supprimer cette politique de confidentialité ?" }, :class => "text-color-red" %>
  - <%= link_to "Publier", put_online_privacypolicy_path(p), :method => :put, data: { confirm: "ATTENTION : Après la publication tous les utilisateurs devront signer la nouvelle politique de confidentialité. Êtes-vous #{current_user.sure} de vouloir publier cette nouvelle version ?" }, :class => "text-color-red" %>
<% end %>
</center>
</td>
</tr>
<% end %>
</table>

<% if Privacypolicy.where(:online => false).count == 0 %>
  <p class="text-center">
    <%= link_to "Créer une nouvelle version", new_privacypolicy_path, class: 'btn btn-lg btn-ld-light-dark' %>
  </p>
<% end %>
