<% provide(:title, 'Politique de confidentialité') %>

<h1><%= title_1("Politique de confidentialité") %></h1>

<% prev = Privacypolicy.where("online = ? AND publication_time < ?", true, @privacypolicy.publication_time).order("publication_time").last %>
<% nex = Privacypolicy.where("online = ? AND publication_time > ?", true, @privacypolicy.publication_time).order("publication_time").first %>
<p class="mt-3 text-center">
<% if !prev.nil? %>
  <%= link_to "Version du #{write_date_only(prev.publication_time)}", prev %> - 
<% end %>
<b>Version du <%= write_date_only(@privacypolicy.publication_time) %></b>
<% if !nex.nil? %>
  - <%= link_to "Version du #{write_date_only(nex.publication_time)}", nex %>
<% else %>
  (dernière version)
<% end %>
</p>

<%= htmlise(@privacypolicy.content) %>

<% if signed_in? && current_user.root? %>
<p class="mt-3 text-center">
<%= link_to "Mettre à jour la politique de confidentialité", privacypolicies_path %>
</p>
<% end %>
