<% provide(:title, 'Modifier une section') %>

<h1><%= title_section(@section, "Modifier") %></h1>

<%= form_for(@section) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="mb-2">
    <%= f.label :name, :class => "form-label" %>
    <%= f.text_field :name, :class => "form-control", :maxlength => "255", :style => "width:100%; max-width:400px;" %>
  </div>
  
  <div class="mb-2">
    <%= f.label :abbreviation, :class => "form-label" %>
    <%= f.text_field :abbreviation, :class => "form-control", :maxlength => "15", :style => "width:100%; max-width:400px;" %>
  </div>
  
  <div class="mb-2">
    <%= f.label :short_abbreviation, :class => "form-label" %>
    <%= f.text_field :short_abbreviation, :class => "form-control", :maxlength => "8", :style => "width:100%; max-width:400px;" %>
  </div>
  
  <div class="mb-2">
    <%= f.label :initials, :class => "form-label" %>
    <%= f.text_field :initials, :class => "form-control", :maxlength => "2", :style => "width:100%; max-width:400px;" %>
  </div>

  <div class="mb-2">
    <%= f.label :description, :for => "MathInput", :class => "form-label" %>
    <%= render 'shared/preview' %>
    <%= render 'shared/font' %>
    <%= f.text_area :description, :class => "form-control", :maxlength => "8000", :style => "height:200px;", :id => "MathInput" %>
    <script>initAndUpdatePreviewWhenPossible()</script>
  </div>
  <%= f.submit "Modifier", class: "btn btn-lg btn-primary mb-3" %>
<% end %>
