<% provide(:title, 'Modifier une section') %>

<h1>
<span class="title-first">Cours ></span>
<span class="title-second"><%= link_to @section.name, @section %> ></span>
Modifier
</h1>

<%= form_for(@section) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, :class => "form-control", :maxlength => "255", :style => "width:400px;" %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <div class="well" id="MathPreview"></div>
    <div class="well hidden-preview" id="MathBuffer"></div>
    <%= render 'theories/font' %>
    <%= f.text_area :description, :class => "form-control", :maxlength => "8000", :style => "height:200px; margin-top:5px;", :id=>"MathInput", :onkeyup => "fakeupdate()" %>
  </div>
  <%= f.submit "Editer", class: "btn btn-lg btn-primary" %>
<% end %>

<script>
Preview.Init();
Preview.Update();
</script>
