<% provide(:title, @section.name) %>

<h1>
<button class="information-tag" onclick="return Info.toggle();">?</button>
<span class="title-first">Problèmes ></span>
<%= @section.name %>
</h1>

<%= render 'infopb' %>

<% if !@signed_in %>

<!-- Si pas connecté, on ne peut rien voir -->
<div style="margin-top:15px; font-weight:bold;">
Les problèmes ne sont accessibles qu'aux utilisateurs connectés ayant un score d'au moins 200.
</div>

<% elsif !current_user.sk.admin? && current_user.sk.rating < 200 %>

<!-- Si moins de 200 points, on ne peut rien voir -->
<div style="margin-top:15px; font-weight:bold;">
Les problèmes ne sont pas accessibles aux utilisateurs ayant un score inférieur à 200.
</div>

<% else %>

<% section_fondation = Array.new %>
<% Section.all.to_a.each do |s| %>
  <% section_fondation[s.id] = s.fondation %>
<% end %>

<% debloque = Array.new %>
<% Chapter.all.to_a.each do |c| %>
  <% debloque[c.id] = section_fondation[c.section_id] %>
<% end %>

<% if !current_user.sk.admin? %>
  <% current_user.sk.chapters.each do |c| %>
    <% debloque[c.id] = true %>
  <% end %>
<% end %>

<!-- On parcourt tous les niveaux -->
<% (1..5).each do |level| %>

<h2>Niveau <%= level %></h2>
<% compteur = 0 %>

<!-- On parcourt tous les problèmes de ce niveau -->
<% @section.problems.includes(:chapters, :virtualtest).where(:level => level).order(:number).each do |p| %>

<!-- Si le problème est en ligne (ou on est admin) -->
<% if p.online? || current_user.sk.admin? %>

  <!-- On regarde si on peut le voir ou non -->
  <% visible = true %>

  <% if !current_user.sk.admin? %>
    <% p.chapters.each do |c| %>
      <% if !debloque[c.id] %>
        <% visible = false %>
      <% end %>
    <% end %>
  <% end %>

  <% t = p.virtualtest %>

  <% if !t.nil? && !current_user.sk.admin? %>
    <% if current_user.sk.status(t) <= 0 %>
      <% visible = false %>
    <% end %>
  <% end %>

  <!-- Si on peut le voir -->
  <% if visible %>
    <% compteur = compteur+1 %>
    
    <% if compteur == 1 %>
      Chaque problème de niveau <%= level %> vaut <b><%= p.value %></b> points.
    <% end %>

    <% resolu = false %>
    <% brouillon = false %>

    <% solution = current_user.sk.solution(p) %>
    
    <% classe = "" %>
    <!-- Si déjà résolu : vert -->
    <% if solution != nil && !current_user.sk.admin? %>
      <% classe = "greeny" %>
      <% resolu = true %>

    <!-- Si pas en ligne : orange -->
    <% elsif !p.online %>
      <% classe = "orangey" %>

    <!-- Si connecté -->
    <% else %>
      <% sub = current_user.sk.submissions.where("problem_id = ? AND status >= 0", p.id).order('created_at') %>
      <% br = current_user.sk.submissions.where("problem_id = ? AND status = -1", p.id).count %>
      <% if br > 0 %>
        <% brouillon = true %>
      <% end %>

      <!-- Si aucune soumission (ou admin) : jaune -->
      <% if sub.size == 0 || current_user.sk.admin? %>
        <% classe = "yellowy" %>
      <% else %>
        <% sub = sub.last %>

        <!-- Si une soumission pas encore corrigée : orange -->
        <% if sub.status == 0 %>
          <% classe = "orangey" %>

        <!-- Si une soumission erronée : rouge -->
        <% else %>
          <% classe = "redy" %>
        <% end %>
      <% end %>
    <% end %>
    
    <table class="table table-bordered problem <%= classe %>">
    <tr><td class="title">
    <center><h3>
    <%= link_to "Problème ##{ p.number }", problem_path(p, :sub => solution.submission_id) unless solution == nil %>
    <%= link_to "Problème ##{ p.number }", problem_path(p) if solution == nil %>
    <% if !p.virtualtest.nil? %>
      - Test #<%= p.virtualtest.number %>
    <% end %>
    <%= "(en construction)" if !p.online %></h3></center>
    </td></tr>
    
    <tr><td class="real-content">
    
    <!-- Prérequis (si admin) -->
    <% if current_user.sk.admin? %>
      <div class="intro">
      <b>Prérequis : </b>
      <% prems = true %>
      <% p.chapters.each do |c| %>
        <%= "-" if !prems %>
        <%= link_to c.name, c %>
        <%= "(en construction)" if !c.online %>
        <%= "(#{c.section.name})" if c.section != p.section %>
        <% prems = false %>
      <% end %>
      </div>
    <% elsif brouillon %>
      <div class="intro">
      <i>(Vous avez un brouillon enregistré pour ce problème.)</i>
      </div>
    <% end %>

    <!-- Enoncé -->
    <div class="row content">
    <% taille = p.statement.size() %>
    <% liste = false %>
    <% if taille >= 5 %>
      <% fin = p.statement[taille-5, taille-1] %>
      <% if fin == "</ol>" || fin == "</ul>" || fin[3,4] == "$$" %>
        <% liste = true %>
      <% end %>
    <% end %>
    <div class="module left-part" style="<%= "padding-bottom:0px !important;" if liste %>">
    <center><h4>Énoncé</h4></center>
    <%= raw(htmlise(p.statement)) %>
    </div>
    
    <div class="module right-part">
    <center><h4>Statistiques</h4></center>
    <center>
    <% nb_sol = p.solvedproblems.count %>
    <% if nb_sol >= 1 %>
      Résolu par <b><%= nb_sol %></b> personne<%= "s" if nb_sol > 1 %><br/>
      <% first_sol = p.solvedproblems.order(:resolutiontime).first.resolutiontime.to_date %>
      <% last_sol = p.solvedproblems.order(:resolutiontime).last.resolutiontime.to_date %>
      entre le <b><%= write_date_only(first_sol.in_time_zone) %></b><br/>
      et le <b><%= write_date_only(last_sol.in_time_zone) %></b>
    <% else %>
      <i>Jamais résolu</i>
    <% end %>
    </center>
    </div>
    </div>

    <!-- Origine si administrateur ou si résolu -->
    <% if (current_user.sk.admin? || resolu) && !p.origin.nil? && p.origin.size > 0 %>
      <div class="row content">
      <div class="module bottom-part">
      Origine du problème : <b><%= p.origin %></b>
      </div>
      </div>
    <% end %>

    </td></tr>
    </table>
    <% end %>
  <% end %>
<% end %>

<% if compteur == 0 %>
  Aucun problème de niveau <%= level %> n'est disponible.<br/><br/>
<% end %>
<% if level < 5 %>
  <br/>
<% end %>
<% end %>

<!-- Ajouter un problème -->
<% if @signed_in && current_user.sk.admin? %>
  <br/>
  <center>
  <%= button_to "Ajouter un problème", new_section_problem_path(@section), method: :get, class: 'btn btn-lg btn-default btn-grey' %>
  </center>
<% end %>

<% end %>
