<% if !@fondation %>

<% provide(:title, @section.name) %>

<h1>
  <%= @section.name %>
</h1>
<p>
<h3>Introduction</h3>
  <%= @section.description %>
</p>

<% if current_user.admin? %>
<%= link_to "Modifier l'introduction", edit_section_path(@section) %><br/><br/>
<% end %>

<% @chapters = @section.chapters.sort_by { |chap| chap[:level] } %>
<ul>
<% @chapters.each do |c| %>
<li>
<%= link_to c.name, chapter_path(c) %>
(niveau <%= c.level %>)
</li>
<% end %>
</ul>

<center>
<%= link_to "Retour à la liste des cours", sections_path %>
</center>

<% else %>

<% provide(:title, "Fondements") %>

<h1>
  Fondements
</h1>
<p>
<h3>Introduction</h3>
  Vous trouverez ici certaines bases mathématiques sans lesquelles la compréhension des sections plus avancées risque d'être compliquée. Il n'est pas nécessaire de compléter ces chapitres pour accéder à la suite des cours.
</p>

<% @chapters = Chapter.all.sort_by { |chap| chap[:level] } %>
<ul>
<% @chapters.each do |c| %>
<% if c.sections.size == 0 %>
<li>
<%= link_to c.name, chapter_path(c) %>
(niveau <%= c.level %>)
</li>
<% end %>
<% end %>
</ul>

<center>
<%= link_to "Retour à la liste des cours", sections_path %>
</center>

<% end %>
