<% provide(:title, @section.name) %>

<h1><%= title_2("Théorie", @section.name) %>
<button class="information-tag" onclick="return Info.toggle();">?</button>
</h1>

<%= render 'info_fondation' if @section.fondation %>
<%= render 'info' unless @section.fondation %>

<!-- Introduction -->
<h3 class="mt-2">Introduction</h3>
<p><%= raw(htmlise(@section.description)) %></p>

<% if signed_in? && current_user.sk.admin? %>
<p><%= link_to "Modifier l'introduction", edit_section_path(@section) %></p>
<% end %>

<!-- Chapitres -->
<h3>Chapitres</h3>

<p>
<% if @section.fondation %>
  Tous les exercices sont ici directement accessibles.
<% else %>
  Les chapitres de cette section sont ordonnés selon leur importance (des plus primordiaux aux plus avancés).
<% end %>
</p>

<% unless signed_in? and current_user.sk.admin? %>
  <% @chapter_status = [] %>
  <% @question_status = [] %>
  <% @theory_status = [] %>
  <% access_chap = accessible_chapters_from_section((signed_in? ? current_user.sk : nil), @section, ["id"]).to_a %>
  <% access_chap.each do |c| %>
    <% @chapter_status[c.id] = "access" %>
  <% end %>
  <% if signed_in? %>
    <% current_user.sk.chapters.each do |c| %>
      <% @chapter_status[c.id] = "solved" %>
    <% end %>
    <% current_user.sk.creating_chapters.each do |c| %>
      <% @chapter_status[c.id] = "creator" %>
    <% end %>
    <% current_user.sk.unsolvedquestions.joins(:question).where("questions.chapter_id IN (?)", access_chap).select("questions.id").each do |sq| %>
      <% @question_status[sq.id] = "incorrect" %>
    <% end %>
    <% current_user.sk.solvedquestions.joins(:question).where("questions.chapter_id IN (?)", access_chap).select("questions.id").each do |sq| %>
      <% @question_status[sq.id] = "correct" %>
    <% end %>
    <% current_user.sk.theories.where(:chapter_id => access_chap).each do |t| %>
      <% @theory_status[t.id] = "read" %>
    <% end %>
  <% end %>
<% end %>

<% chapters = @section.chapters.select(:id, :name, :description, :online, :level, :nb_tries, :nb_completions, :publication_date).order(:level, :position) %>
<% chapters_by_level = chapters.group_by{|c| c.level} %>
<% chapters_id = chapters.map(&:id) %>
<% @questions_by_chapter = Question.select(:id, :online, :chapter_id).where(:chapter_id => chapters_id).order(:chapter_id, :position).group_by{|q| q.chapter_id} %>
<% @theories_by_chapter = Theory.select(:id, :online, :title, :chapter_id).where(:chapter_id => chapters_id).order(:chapter_id, :position).group_by{|t| t.chapter_id} %>

<% num_level = (@section.fondation ? 1 : 3) %>
<% (1..num_level).each do |level| %>
  <% premier = true %>
  <% if !chapters_by_level[level].nil? %>
    <% chapters_by_level[level].each do |c| %>
      <% if (c.online || (signed_in? && (current_user.sk.admin || @chapter_status[c.id] == "creator"))) %>
        <% if premier %>
          <% if @section.fondation %>
          
          <% elsif level == 1 %>
            <h4>Les essentiels</h4>
            <p>Les chapitres suivants reprennent la théorie essentielle relative à cette section.</p>
          <% elsif level == 2 %>
            <h4>Les classiques</h4>
            <p>Les chapitres suivants, un peu plus avancés, reprennent les résultats classiques de cette section.</p>
          <% elsif level == 3 %>
            <h4>Les pointus</h4>
            <p>Les chapitres suivants reprennent des notions plus rarement utiles en compétition mais qui peuvent devenir assez puissantes si bien maitrisées.</p>
          <% end %>
          <% premier = false %>
        <% end %>
        
        <% if !c.online? %>
          <% classe = "orangey" %>
        <% elsif signed_in? && current_user.sk.admin %>
          <% classe = "yellowy" %>
        <% elsif @chapter_status[c.id] == "solved" %>
          <% classe = "greeny" %>
        <% elsif @chapter_status[c.id] == "access" %>
          <% classe = "yellowy" %>
        <% else %>
          <% classe = "greyy" %>
        <% end %>
        
        <%= render 'chapter', chapter: c, classe: classe %>
        
      <% end %>
    <% end %>
  <% end %>
<% end %>


<!-- Si administrateur -->
<% if signed_in? && current_user.sk.admin? %>

<!-- Ajouter un chapitre -->
<center>
<%= button_to "Ajouter un chapitre", new_section_chapter_path(@section), method: :get, class: 'btn btn-lg btn-ld-light-dark' %>
</center>

<% end %>
