<% provide(:title, @section.name) %>

<h1><%= title_2("Problèmes", @section.name) %>
<button class="information-tag" onclick="return Info.toggle();">?</button>
</h1>

<%= render 'infopb' %>

<% if !@signed_in %>

<!-- Si pas connecté, on ne peut rien voir -->
<div style="margin-top:15px; font-weight:bold;">
Les problèmes ne sont accessibles qu'aux utilisateurs connectés ayant un score d'au moins 200.
</div>

<% elsif !current_user.sk.admin? && current_user.sk.rating < 200 %>

<!-- Si moins de 200 points, on ne peut rien voir -->
<div style="margin-top:15px; font-weight:bold;">
Les problèmes ne sont accessibles qu'aux utilisateurs ayant un score d'au moins 200.
</div>

<% else %>

<% problems = accessible_problems_from_section(@section, ["id", "number", "level", "online", "statement", "origin", "virtualtest_id", "nb_solved", "first_solved", "last_solved"]) %>
<% problems_by_level = problems.group_by{|p| p.level} %>

<% if !current_user.sk.admin? %>
  <% num_sub_by_problem_and_status = current_user.sk.submissions.where("problem_id IN (?)", problems.map(&:id)).group(:problem_id, :status).count %>
<% end %>

<% (1..5).each do |level| %>
  <%= "<br/>".html_safe if level > 1 %>
  <h2>Niveau <%= level %></h2>
  <% if problems_by_level[level].nil? %>
    Aucun problème de niveau <%= level %> n'est disponible.<br/><br/>
  <% else %>
    Chaque problème de niveau <%= level %> vaut <b><%= 15*level %></b> points.<br/>
    
    <% problems_by_level[level].each do |p| %>
      <% num_correct_sub = num_sub_by_problem_and_status[[p.id, 2]] unless current_user.sk.admin? %>
      <% num_correct_sub = 0 if num_correct_sub.nil? %>

      <% num_brouillons = 0 %>

      <% classe = "" %>
      <!-- Si déjà résolu : vert -->
      <% if num_correct_sub > 0 %>
        <% classe = "greeny" %>

      <!-- Si pas en ligne : orange -->
      <% elsif !p.online %>
        <% classe = "orangey" %>

      <!-- Si connecté -->
      <% else %>    
        <% num_incorrect_sub = num_sub_by_problem_and_status[[p.id, 1]] unless current_user.sk.admin? %>
        <% num_incorrect_sub = 0 if num_incorrect_sub.nil? %>
        <% num_incorrect_sub2 = num_sub_by_problem_and_status[[p.id, 3]] unless current_user.sk.admin? %>
        <% num_incorrect_sub2 = 0 if num_incorrect_sub2.nil? %>
        <% num_incorrect_sub3 = num_sub_by_problem_and_status[[p.id, 4]] unless current_user.sk.admin? %>
        <% num_incorrect_sub3 = 0 if num_incorrect_sub3.nil? %>
        <% num_incorrect_sub = num_incorrect_sub + num_incorrect_sub2 + num_incorrect_sub3 %>
        
        <% num_waiting_sub = num_sub_by_problem_and_status[[p.id, 0]] unless current_user.sk.admin? %>
        <% num_waiting_sub = 0 if num_waiting_sub.nil? %>
        <% num_brouillons = num_sub_by_problem_and_status[[p.id, -1]] unless current_user.sk.admin? %>
        <% num_brouillons = 0 if num_brouillons.nil? %>

        <!-- Si aucune soumission (ou admin) : jaune -->
        <% if current_user.sk.admin? || num_waiting_sub + num_incorrect_sub == 0 %>
          <% classe = "yellowy" %>
        <% else %>
          <!-- Si une soumission pas encore corrigée : orange -->
          <% if num_waiting_sub > 0 %>
            <% classe = "orangey" %>

          <!-- Si une soumission erronée : rouge -->
          <% else %>
            <% classe = "redy" %>
          <% end %>
        <% end %>
      <% end %>
      
      <table class="table table-bordered problem <%= classe %>" id="problem<%= p.id %>">
      <tr><td class="title">
      <center><h3>
      <%= link_to "Problème ##{ p.number }", problem_path(p, :auto => 1) %>
      <% if p.virtualtest_id > 0 %>
        - Test #<%= p.virtualtest.number %>
      <% end %>
      <%= "(en construction)" if !p.online %></h3></center>
      </td></tr>
      
      <tr><td class="real-content">
      
      <% if num_brouillons > 0 %>
        <div class="intro">
        <i>(Vous avez un brouillon enregistré pour ce problème.)</i>
        </div>
      <% end %>

      <!-- Enoncé -->
      <div class="row content">
      <% taille = p.statement.size() %>
      <% liste = false %>
      <% if taille >= 5 %>
        <% fin = p.statement[taille-5, taille-1] %>
        <% if fin == "</ol>" || fin == "</ul>" || fin[3,4] == "$$" %>
          <% liste = true %>
        <% end %>
      <% end %>
      <div class="module left-part" style="<%= "padding-bottom:0px !important;" if liste %>">
      <center><h4>Énoncé</h4></center>
      <%= raw(htmlise(p.statement)) %>
      </div>
      
      <div class="module right-part">
      <center><h4>Statistiques</h4></center>
      <center>
      <% nb_sol = p.nb_solved %>
      <% if nb_sol >= 1 %>
        Résolu par <b><%= nb_sol %></b> personne<%= "s" if nb_sol > 1 %><br/>
        entre le <b><%= write_date_only(p.first_solved) %></b><br/>
        et le <b><%= write_date_only(p.last_solved) %></b>
      <% else %>
        <i>Jamais résolu</i>
      <% end %>
      </center>
      </div>
      </div>

      <!-- Origine si administrateur ou si résolu -->
      <% if (current_user.sk.admin? || num_correct_sub) && !p.origin.nil? && p.origin.size > 0 %>
        <div class="row content">
        <div class="module bottom-part">
        Origine du problème : <b><%= p.origin %></b>
        </div>
        </div>
      <% end %>

      </td></tr>
      </table> 
    <% end %>
  <% end %>
<% end %>


<!-- Ajouter un problème -->
<% if @signed_in && current_user.sk.admin? %>
  <br/>
  <center>
  <%= button_to "Ajouter un problème", new_section_problem_path(@section), method: :get, class: 'btn btn-lg btn-default btn-grey' %>
  </center>
<% end %>

<% end %>
