<% provide(:title, @section.name) %>

<!-- Fonction pour afficher les exercices d'un chapitre -->
<% def affiche_exercices(chapter, acces) %>
  <% j = 1 %>
  <% k = 1 %>

  <% compteur = 0 %>

  <% chapter.questions.order(:position).each do |f| %>
    <% if f.online || (@ss && current_user.sk.admin?) %>
      <% compteur = compteur + 1 %>
      <% if k % 8 == 1 && k > 1 %>
        </div>
        <br/>
        <div class="btn-group" style="margin-top:5px;">
      <% elsif k == 1 %>
        <center>
        <div class="btn-group"  style="margin-top:3px;">
      <% end %>
      <% if acces %>
        <% classe = "" %>  
        <% if !@ss %>
          <% classe = "btn btn-default btn-grey" %>  
        <% else %>
          <% exo = Solvedquestion.where(:user_id => current_user.sk.id, :question_id => f.id) %>
          <% if exo.size > 0 && ! current_user.sk.admin? %>
            <% exo = exo.first %>
            <% if exo.correct %>
              <% classe = "btn-success btn" %>
            <% else %>
              <% classe = "btn-danger btn" %>
            <% end %>
          <% elsif !f.online %>
            <% classe = "btn-warning btn" %>
          <% else %>
            <% classe = "btn btn-default btn-grey" %>
          <% end %>
        <% end %>
        
        <button class="<%= classe %>" onclick="location.href='<%= chapter_path(chapter, :type => 5, :which => f.id) %>'"><%= j if f.online %><%= "!" if !f.online %></button>
      <% else %>
        <button class="btn disabled"><%= j %></button>
      <% end %>
      <% j = j+1 if f.online %>
      <% k = k+1 %>
    <% end %>
  <% end %>

  <% if compteur == 0 %>
    <center><p><i> Aucun exercice. </i></p></center>
  <% else %>
    </div>
    </center>
  <% end %>
<% end %>

<% def affiche_chapitre(c, lecas, classe, section_fondation, fond) %>
  <table class="table table-bordered chapter <%= classe %>">
  <tr><td class="title">
  <center><h3><%= link_to c.name, c %><%= " (en construction)" if lecas == 2 %></h3></center>
  </td></tr>
  
  <tr><td class="real-content">
  <div class="row intro">
  <%= raw(htmlise(c.description)) %>
  <% if lecas == 4 %>
    <br/><br/>
    <b>Pour pouvoir accéder aux exercices de ce chapitre, vous devez d'abord compléter :
    <% prems = true %>
    <% c.prerequisites.each do |p| %>
      <% if (!section_fondation[p.section_id] && (!@ss || !current_user.sk.chapters.exists?(p))) %>
        <%= " - " if !prems %>
        <i><%= p.name %></i>
        <% prems = false %>
      <% end %>
    <% end %>
    </b>
  <% end %>
  </div>
    
  <div class="row content">
  
  <% if fond %>
    <div style="width:10%;"></div>
  <% end %>
  
  <div class="module left-part">
  <center><h4>Théorie</h4></center>
  <!-- Théorie -->
  <% compteur = 0 %>
  <% liste = c.theories.order(:position) %>
  <% liste.each do |t| %>
    <% if t.online || !c.online %>
      <% if compteur == 0 %>
        <ul>
      <% end %>
      <% compteur = compteur + 1 %>
      <li><%= link_to t.title, chapter_path(c, :type => 1, :which => t.id) %> <%= image_tag "V.gif", :style => "margin-left:10px; margin-top:-3px;" if @ss && current_user.sk.theories.exists?(t) %></li>
    <% end %>
  <% end %>

  <% if compteur == 0 %>
    <p style="margin-left:15px;"><i>Aucun point théorique.</i></p>
  <% else %>
    </ul>
  <% end %>    
  </div>
  
  <% if fond %>
    <div style="width:12%;"></div>
  <% end %>
    
  <div class="module <%= "middle-part" if !fond %><%= "right-part" if fond %>">
  <center><h4>Exercices</h4></center>
  <!-- Exercices -->
  <% if lecas < 4 %>
    <% affiche_exercices(c,true) %>
  <% else %>
    <% affiche_exercices(c,false) %>
  <% end %>
  </div>
  
  <% if fond %>
    <div style="width:10%;"></div>
  <% else %>
    <div class="module right-part">
    <center><h4>Statistiques</h4></center>
    <!-- Statistiques -->
    <center>
    Complété par <b><%= c.nb_solved %></b> personne<%= "s" if c.nb_solved > 1 %><br/>
    <% if c.nb_solved > 0 %>
      Taux de réussite : <b><%= (c.nb_solved*100)/c.nb_tries %></b>%
    <% end %>
    </center>
    </div>
  <% end %>
  </div>
  </td></tr>
  </table>
<% end %>

<h1>
<button class="information-tag" onclick="return Info.toggle();">?</button>
<span class="title-first">Théorie ></span>
<%= @section.name %>
</h1>

<%= render 'infofond' if @fondation %>
<%= render 'info' unless @fondation %>

<!-- Introduction -->
<h3>Introduction</h3>
<%= raw(htmlise(@section.description)) %>
<br/>

<% if @ss && current_user.sk.admin? %>
<br/><%= link_to "Modifier l'introduction", edit_section_path(@section) %><br/>
<% end %>

<!-- Chapitres -->
<h3>Chapitres</h3>

<% section_fondation = Array.new %>
<% Section.all.to_a.each do |s| %>
  <% section_fondation[s.id] = s.fondation %>
<% end %>

<!-- Si chapitre non fondamental -->
<% if !@fondation %>

<% chap = Array.new %>
<% debloque = Array.new %>
<% faisable = Array.new %>
<% faisable2 = Array.new %>
<% affiche = Array.new %>
<% nb_pre = Array.new %>
<% possible = SortedSet.new %>
<% retiens = Hash.new %>

<% n = 0 %>

<!-- Parcours tous les chapitres -->
<% Chapter.includes(:prerequisites).all.each do |c| %>
  <% if (c.online || (@ss && current_user.sk.admin)) && !section_fondation[c.section_id] %>
    <% retiens[c.id] = n %>
    <% chap.push(c) %>
    <% debloque.push([]) %>
    <% faisable.push(-1) %>
    <% faisable2.push(-1) %>
    <% nb_pre.push(0) %>
    <% if c.section_id == @section.id %>
      <% affiche.push(true) %>
    <% else %>
      <% affiche.push(false) %>
    <% end %>
    <% n = n+1 %>
  <% end %>
<% end %>

<!-- Détermine ce qu'on peut voir ou ne pas voir -->
<% (0..(n-1)).each do |i| %>
  <% if (chap[i].online || (@ss && current_user.sk.admin)) %>
    <% premier = true %>
    <% chap[i].prerequisites.each do |p| %>
      <% if !section_fondation[p.section_id] %>
        <% debloque[retiens[p.id]].push(i) %>
        <% nb_pre[i] = nb_pre[i]+1 %>
        <% premier = false %>
      <% end %>
    <% end %>
    <% if premier %>
      <% if @ss && current_user.sk.chapters.exists?(chap[i]) %>
        <% faisable[i] = 0 %>
      <% else %>
        <% faisable[i] = 1 %>
      <% end %>
      <% faisable2[i] = 0 %>
      <% possible.add([faisable[i], faisable2[i], chap[i].level, i]) %>
    <% end %>
  <% end %>
<% end %>

<% i = 0 %>

<!-- On parcourt les chapitres dans l'ordre -->

<% while !possible.empty? %>
  <% encours = (possible.first)[3] %>
  <% possible.delete(possible.first) %>

  <!-- Si on peut l'afficher -->
  <% if affiche[encours] %>
    <% lecas = 0 %>
    <% classe = "" %>
    <!-- Si on peut le faire -->
    <% if faisable[encours] <= 1 || (@ss && current_user.sk.admin) %>
      <!-- Si on l'a déjà résolu : en vert -->
      <% if faisable[encours] == 0 && (!@ss || !current_user.sk.admin) %>
        <% lecas = 1 %>
        <% classe = "greeny" %>
      <!-- Si il n'est pas en ligne : en orange -->
      <% elsif !chap[encours].online %>
        <% lecas = 2 %>
        <% classe = "orangey" %>
      <!-- Sinon : en jaune -->
      <% else %>
        <% lecas = 3 %>
        <% classe = "yellowy" %>
      <% end %>
    <!-- Si on ne peut pas le faire : en gris -->
    <% else %>
      <% lecas = 4 %>
      <% classe = "greyy" %>
    <% end %>
    
    <% affiche_chapitre(chap[encours], lecas, classe, section_fondation, false) %>
  <% end %>
  <% debloque[encours].each do |d| %>
    <% nb_pre[d] = nb_pre[d] - 1 %>
    <% faisable[d] = [faisable[d], faisable[encours]+1].max %>
    <% faisable2[d] = [faisable2[d], faisable2[encours]+1].max %>
    <% if nb_pre[d] == 0 %>
      <% if @ss && current_user.sk.chapters.exists?(chap[d]) %>
        <% faisable[d] = 0 %>
      <% end %>
      <% possible.add([faisable[d], faisable2[d], chap[d].level, d]) %>
    <% end %>
  <% end %>
  <% i = i+1 %>
<% end %>


<!-- Si section fondamentale -->
<% else %>

Tous les exercices sont ici directement accessibles.<br/><br/>

<% chap = Array.new %>
<% debloque = Array.new %>
<% faisable = Array.new %>
<% nb_pre = Array.new %>
<% possible = SortedSet.new %>
<% retiens = Hash.new %>

<% n = 0 %>

<!-- On parcourt tous les chapitres -->
<% Chapter.includes(:prerequisites).all.each do |c| %>
  <% if (c.online || (@ss && current_user.sk.admin)) && section_fondation[c.section_id] %>
    <% retiens[c.id] = n %>
    <% chap.push(c) %>
    <% debloque.push([]) %>
    <% faisable.push(-1) %>
    <% nb_pre.push(0) %>
    <% n = n+1 %>
  <% end %>
<% end %>

<!-- Détermine ce qu'on peut voir ou ne pas voir -->
<% (0..(n-1)).each do |i| %>
  <% if (chap[i].online || (@ss && current_user.sk.admin)) %>
    <% premier = true %>
    <% chap[i].prerequisites.each do |p| %>
      <% if section_fondation[p.section_id] %>
        <% debloque[retiens[p.id]].push(i) %>
        <% nb_pre[i] = nb_pre[i]+1 %>
        <% premier = false %>
      <% end %>
    <% end %>
    <% if premier %>
      <% possible.add([faisable[i], chap[i].level, i]) %>
    <% end %>
  <% end %>
<% end %>

<% i = 0 %>

<!-- On parcourt les chapitres dans l'ordre -->
<% while !possible.empty? %>

  <% encours = (possible.first)[2] %>
  <% possible.delete(possible.first) %>
  <% lecas = 0 %>
  <% classe = "" %>
  <!-- Si pas en ligne : orange -->
  <% if !chap[encours].online %>
    <% classe = "orangey" %>
    <% lecas = 2 %>

  <!-- Sinon : jaune -->
  <% else %>
    <% classe = "yellowy" %>
    <% lecas = 3 %>
  <% end %>
  
  <% affiche_chapitre(chap[encours], lecas, classe, section_fondation, true) %>

  <% debloque[encours].each do |d| %>
    <% nb_pre[d] = nb_pre[d] - 1 %>
    <% faisable[d] = [faisable[d], faisable[encours]+1].max %>
    <% if nb_pre[d] == 0 %>
      <% possible.add([faisable[d], chap[d].level, d]) %>
    <% end %>
  <% end %>
  <% i = i+1 %>
<% end %>

<% end %>

<!-- Si administrateur -->
<% if @ss && current_user.sk.admin? %>

<!-- Ajouter un chapitre -->
<center>
<%= button_to "Ajouter un chapitre", new_section_chapter_path(@section), method: :get, class: 'btn btn-lg btn-default btn-grey' %>
</center>

<% end %>
