<% provide(:title, @section.name) %>

<h1>
<span style="font-size:16px;">Problèmes ></span>
<%= @section.name %>
</h1>

<!-- On vérifie que l'on a 200 points ou plus -->
<% if !signed_in? || (!current_user.sk.admin? && current_user.sk.point.rating < 200) %>

<span style="color:red; font-weight:bold;">Les problèmes ne sont pas accessibles aux utilisateurs ayant un score inférieur à 200.</span>

<% else %>

<!-- On parcourt tous les niveaux -->
<% (1..5).each do |level| %>

<h2>Niveau <%= level %></h2>
<% compteur = 0 %>

<!-- On parcourt tous les problèmes de ce niveau -->
<% @section.problems.where(:level => level).order(:number).each do |p| %>

<!-- Si le problème est en ligne (ou on est admin) -->
<% if p.online? || (signed_in? && current_user.sk.admin?) %>

  <!-- On regarde si on peut le voir ou non -->
  <% visible = true %>

  <% if !signed_in? || !current_user.sk.admin? %>
    <% p.chapters.each do |c| %>
      <% if !signed_in? || !current_user.sk.solved?(c) %>
        <% visible = false %>
      <% end %>
    <% end %>
  <% end %>
  
  <% t = p.virtualtest %>
  
  <% if !t.nil? && !current_user.sk.admin? %>
    <% if current_user.sk.status(t) <= 0 %>
      <% visible = false %>
    <% end %>
  <% end %>
  
  <!-- Si on peut le voir -->
  <% if visible %>
    <% if compteur == 0 %>
      Chaque problème de niveau <%= level %> vaut <%= p.value %> points.<br/><br/>
    <% end %>
    <% compteur = compteur+1 %>
    
    <% resolu = false %>

    <!-- Si déjà résolu : vert -->
    <% if signed_in? && current_user.sk.solved?(p) && !current_user.sk.admin? %>
      <div style="border:1px solid black; border-radius:10px; padding:15px; padding-top:0px; background-color:#DDFFDD;">
      <% resolu = true %>
      
    <!-- Si pas en ligne : orange -->
    <% elsif !p.online %>
      <div style="border:1px solid black; border-radius:10px; padding:15px; padding-top:0px; background-color:#FFEEAA;">
      
    <!-- Si connecté -->
    <% elsif signed_in? %>
      <% sub = current_user.sk.submissions.where("problem_id = ? AND status >= 0", p.id).order('created_at') %>
      
      <!-- Si aucune soumission (ou admin) : jaune, ou bleu si brouillon -->
      <% if sub.size == 0 || current_user.sk.admin? %>
        <div style="border:1px solid black; border-radius:10px; padding:15px; padding-top:0px; background-color:#FFFFD0;">
      <% else %>
        <% sub = sub.last %>
        
        <!-- Si une soumission pas encore corrigée : orange -->
        <% if sub.status == 0 %>
          <div style="border:1px solid black; border-radius:10px; padding:15px; padding-top:0px; background-color:#FFEEAA;">
          
        <!-- Si une soumission erronée : rouge -->
        <% else %>
          <div style="border:1px solid black; border-radius:10px; padding:15px; padding-top:0px; background-color:#FFD0D0;">
        <% end %>
      <% end %>
      
    <!-- Si pas connecté : jaune (Cela devrait ne jamais arriver) -->
    <% else %>
      <div style="border:1px solid black; border-radius:10px; padding:15px; padding-top:0px; background-color:#FFFFD0;">
    <% end %>

    <center><h3 style="margin-top:20px; margin-bottom:15px;"><%= link_to "Problème ##{ p.number }", p %>
    <% if !p.virtualtest.nil? %>
      - <%= link_to "Test virtuel ##{p.virtualtest.number}", p.virtualtest %>
    <% end %>
    <%= "(en construction)" if !p.online %></h3></center>
    
    <!-- Prérequis (si admin) -->
    <% if signed_in? && current_user.sk.admin? %>
      <b>Prérequis : </b>
      <% prems = true %>
      <% p.chapters.each do |c| %>
        <%= "-" if !prems %>
        <%= link_to c.name, c %>
        <%= "(en construction)" if !c.online %>
        <%= "(#{c.section.name})" if c.section != p.section %>
        <% prems = false %>
      <% end %>
      <br/><br/>
    <% end %>
    
    <!-- Enoncé -->
    <%= raw(htmlise(p.statement)) %>
    
    <!-- Origine si administrateur ou si résolu -->
    <% if current_user.sk.admin? || resolu %>
      <br/><br/><i>(Origine du problème :
      <% if p.origin.nil? || p.origin.size == 0 %>
        Inconnue)
      <% else %>
    <b><%= p.origin %></b>)
  <% end %>
  </i>
<% end %>
    
    </div>
    <br/>
    <% end %>	
  <% end %>
<% end %>

<% if compteur == 0 %>
  Aucun problème de niveau <%= level %> n'est disponible.<br/><br/>
<% end %>

<% end %>

<!-- Ajouter un problème -->
<% if signed_in? && current_user.sk.admin? %>
  <center>
  <%= button_to "Ajouter un problème", new_section_problem_path(@section), method: :get, class: 'btn btn-lg btn-default btn-grey' %>
  </center>
<% end %>	


<% end %>
