<% provide(:title, @section.name) %>

<!-- Fonction pour afficher les exercices d'un chapitre -->
<% def affiche_exercices(chapter, acces) %>
  <% j = 1 %>
  <% k = 1 %>

  <% compteur = 0 %>

  <% if !@questions_by_chapter[chapter.id].nil? %>
    <% @questions_by_chapter[chapter.id].each do |q| %>
      <% if (q.online || (@signed_in && (current_user.sk.admin? || @chapter_status[chapter.id] == "creator"))) %>
        <% compteur = compteur + 1 %>
        <% if k % 8 == 1 && k > 1 %>
          </div>
          <br/>
          <div class="btn-group mt-1">
        <% elsif k == 1 %>
          <center>
          <div class="btn-group mt-1">
        <% end %>
        <% if acces %>
          <% classe = "" %>  
          <% if !@signed_in %>
            <% classe = "btn btn-ld-light-dark" %>  
          <% elsif !q.online? %>
            <% classe = "btn btn-warning" %>
          <% elsif current_user.sk.admin? %>
            <% classe = "btn btn-ld-light-dark" %>
          <% elsif @question_status[q.id] == "correct" %>
            <% classe = "btn btn-success" %>
          <% elsif @question_status[q.id] == "incorrect" %>
            <% classe = "btn btn-danger" %>
          <% else %>
            <% classe = "btn btn-ld-light-dark" %>
          <% end %>
          
          <%= link_to "#{j if q.online}#{'!' if !q.online}", chapter_path(chapter, :type => 5, :which => q.id), :class => classe %>
        <% else %>
          <button class="btn btn-ld-light-dark disabled" id="disabled-question-<%= q.id %>"><%= j %></button>
        <% end %>
        <% j = j+1 if q.online %>
        <% k = k+1 %>
      <% end %>
    <% end %>
  <% end %>

  <% if compteur == 0 %>
    <center><p><i>Aucun exercice.</i></p></center>
  <% else %>
    </div>
    </center>
  <% end %>
<% end %>

<% def affiche_chapitre(c, classe, fond) %>
  <table class="table table-bordered chapter <%= classe %>" id="chapter<%= c.id %>">
  <tr><td class="title">
  <center><h4><%= link_to c.name, c %><%= " (en construction)" if classe == "orangey" %></h4></center>
  </td></tr>
  
  <tr><td class="real-content">    
  <div class="grid content"> <!-- 12 columns below 'md', 24 columns from 'md' (see module.scss) -->
  
    <div class="g-col-12 g-col-md-24 intro">
      <%= raw(htmlise(c.description)) %>
      <% if classe == "greyy" %>
        <p class="mt-3 mb-0 fw-bold">Pour pouvoir accéder aux exercices de ce chapitre, vous devez d'abord compléter :
        <% prems = true %>
        <% c.prerequisites.order(:level, :position).each do |p| %>
          <% if (!@signed_in || !current_user.sk.chapters.exists?(p.id)) %>
            <%= " - " if !prems %>
            <i><%= p.name %></i>
            <% prems = false %>
          <% end %>
        <% end %>
        </p>
      <% end %>
    </div>
  
    <% if !fond %>
      <% col_class = "g-col-12 g-col-md-24 g-col-lg-9 g-col-xl-8" %>
    <% else %>
      <% col_class = "g-col-12 g-col-md-12" %>
    <% end %>
    
    <div class="<%= col_class %> module">
      <center><h5>Théorie</h5></center>
      <!-- Théorie -->
      <% compteur = 0 %>
      <% if !@theories_by_chapter[c.id].nil? %>
        <% @theories_by_chapter[c.id].each do |t| %>
          <% if t.online || !c.online %>
            <% if compteur == 0 %>
              <ul class="mb-2">
            <% end %>
            <% compteur = compteur + 1 %>
            <li><%= link_to t.title, chapter_path(c, :type => 1, :which => t.id) %>
            <%= image_tag v_icon, :class => "ms-2 svg-black-white", :style => "margin-top:-3px;", :id => "V-#{t.id}" if @signed_in && !current_user.sk.admin && @theory_status[t.id] == "read" %></li>
          <% end %>
        <% end %>
      <% end %>

      <% if compteur == 0 %>
        <p class="ms-3"><i>Aucun point théorique.</i></p>
      <% else %>
        </ul>
      <% end %>    
    </div>
    
    <% if !fond %>
      <% col_class = "g-col-12 g-col-md-14 g-col-lg-8 g-col-xl-8" %>
    <% else %>
      <% col_class = "g-col-12 g-col-md-12" %>
    <% end %>
      
    <div class="<%= col_class %> module pb-2">
      <center><h5>Exercices</h5></center>
      <!-- Exercices -->
      <% affiche_exercices(c, classe != "greyy") %>
    </div>
    
    <% if !fond %>
      <div class="g-col-12 g-col-md-10 g-col-lg-7 g-col-xl-8 module pb-2">
        <center><h5>Statistiques</h5></center>
        <!-- Statistiques -->
        <center>
        Complété par <b><%= c.nb_completions %></b> personne<%= "s" if c.nb_completions > 1 %><br/>
        <% unless c.publication_date.nil? %>
          depuis le <b><%= write_date_only(c.publication_date) %></b><br/>
        <% end %>
        <% if c.nb_tries > 0 %>
          Taux de réussite : <b><%= (c.nb_completions*100)/c.nb_tries %></b>%
        <% end %>
        </center>
      </div>
    <% end %>
  </div>
  </td></tr>
  </table>
<% end %>

<h1><%= title_2("Théorie", @section.name) %>
<button class="information-tag" onclick="return Info.toggle();">?</button>
</h1>

<%= render 'infofond' if @section.fondation %>
<%= render 'info' unless @section.fondation %>

<!-- Introduction -->
<h3 class="mt-2">Introduction</h3>
<p><%= raw(htmlise(@section.description)) %></p>

<% if @signed_in && current_user.sk.admin? %>
<p><%= link_to "Modifier l'introduction", edit_section_path(@section) %></p>
<% end %>

<!-- Chapitres -->
<h3>Chapitres</h3>

<p>
<% if @section.fondation %>
  Tous les exercices sont ici directement accessibles.
<% else %>
  Les chapitres de cette section sont ordonnés selon leur importance (des plus primordiaux aux plus avancés).
<% end %>
</p>

<% unless @signed_in and current_user.sk.admin? %>
  <% @chapter_status = [] %>
  <% @question_status = [] %>
  <% @theory_status = [] %>
  <% access_chap = accessible_chapters_from_section(@section, ["id"]).to_a %>
  <% access_chap.each do |c| %>
    <% @chapter_status[c.id] = "access" %>
  <% end %>
  <% if @signed_in %>
    <% current_user.sk.chapters.each do |c| %>
      <% @chapter_status[c.id] = "solved" %>
    <% end %>
    <% current_user.sk.creating_chapters.each do |c| %>
      <% @chapter_status[c.id] = "creator" %>
    <% end %>
    <% current_user.sk.solvedquestions.joins(:question).where("questions.chapter_id IN (?)", access_chap).select("questions.id, correct").each do |sq| %>
      <% if sq.correct %>
        <% @question_status[sq.id] = "correct" %>
      <% else %>
        <% @question_status[sq.id] = "incorrect" %>
      <% end %>
    <% end %>
    <% current_user.sk.theories.where(:chapter_id => access_chap).each do |t| %>
      <% @theory_status[t.id] = "read" %>
    <% end %>
  <% end %>
<% end %>

<% chapters = @section.chapters.select(:id, :name, :description, :online, :level, :nb_tries, :nb_completions, :publication_date).order(:level, :position) %>
<% chapters_by_level = chapters.group_by{|c| c.level} %>
<% chapters_id = chapters.map(&:id) %>
<% @questions_by_chapter = Question.select(:id, :online, :chapter_id).where(:chapter_id => chapters_id).order(:chapter_id, :position).group_by{|q| q.chapter_id} %>
<% @theories_by_chapter = Theory.select(:id, :online, :title, :chapter_id).where(:chapter_id => chapters_id).order(:chapter_id, :position).group_by{|t| t.chapter_id} %>

<% num_level = (@section.fondation ? 1 : 3) %>
<% (1..num_level).each do |level| %>
  <% premier = true %>
  <% if !chapters_by_level[level].nil? %>
    <% chapters_by_level[level].each do |c| %>
      <% if (c.online || (@signed_in && (current_user.sk.admin || @chapter_status[c.id] == "creator"))) %>
        <% if premier %>
          <% if @section.fondation %>
          
          <% elsif level == 1 %>
            <h4>Les essentiels</h4>
            <p>Les chapitres suivants reprennent la théorie essentielle relative à cette section.</p>
          <% elsif level == 2 %>
            <h4>Les classiques</h4>
            <p>Les chapitres suivants, un peu plus avancés, reprennent les résultats classiques de cette section.</p>
          <% elsif level == 3 %>
            <h4>Les pointus</h4>
            <p>Les chapitres suivants reprennent des notions plus rarement utiles en compétition mais qui peuvent devenir assez puissantes si bien maitrisées.</p>
          <% end %>
          <% premier = false %>
        <% end %>
        
        <% if !c.online? %>
          <% classe = "orangey" %>
        <% elsif @signed_in && current_user.sk.admin %>
          <% classe = "yellowy" %>
        <% elsif @chapter_status[c.id] == "solved" %>
          <% classe = "greeny" %>
        <% elsif @chapter_status[c.id] == "access" %>
          <% classe = "yellowy" %>
        <% else %>
          <% classe = "greyy" %>
        <% end %>
        
        <% affiche_chapitre(c, classe, @section.fondation) %> 
        
      <% end %>
    <% end %>
  <% end %>
<% end %>


<!-- Si administrateur -->
<% if @signed_in && current_user.sk.admin? %>

<!-- Ajouter un chapitre -->
<center>
<%= button_to "Ajouter un chapitre", new_section_chapter_path(@section), method: :get, class: 'btn btn-lg btn-ld-light-dark' %>
</center>

<% end %>
