<% provide(:title, @section.name) %>

<!-- Fonction pour afficher les exercices d'un chapitre -->
<% def affiche_exercices(chapter, acces) %>
  <% j = 1 %>
  <% k = 1 %>

  <% compteur = 0 %>

  <% chapter.questions.order(:position).each do |f| %>
    <% if f.online || (@signed_in && (current_user.sk.admin? || current_user.sk.creating_chapters.exists?(chapter.id))) %>
      <% compteur = compteur + 1 %>
      <% if k % 8 == 1 && k > 1 %>
        </div>
        <br/>
        <div class="btn-group" style="margin-top:5px;">
      <% elsif k == 1 %>
        <center>
        <div class="btn-group"  style="margin-top:3px;">
      <% end %>
      <% if acces %>
        <% classe = "" %>  
        <% if !@signed_in %>
          <% classe = "btn btn-default btn-grey" %>  
        <% else %>
          <% exo = Solvedquestion.where(:user_id => current_user.sk.id, :question_id => f.id) %>
          <% if exo.size > 0 && ! current_user.sk.admin? %>
            <% exo = exo.first %>
            <% if exo.correct %>
              <% classe = "btn-success btn" %>
            <% else %>
              <% classe = "btn-danger btn" %>
            <% end %>
          <% elsif !f.online %>
            <% classe = "btn-warning btn" %>
          <% else %>
            <% classe = "btn btn-default btn-grey" %>
          <% end %>
        <% end %>
        
        <button class="<%= classe %>" onclick="location.href='<%= chapter_path(chapter, :type => 5, :which => f.id) %>'"><%= j if f.online %><%= "!" if !f.online %></button>
      <% else %>
        <button class="btn disabled"><%= j %></button>
      <% end %>
      <% j = j+1 if f.online %>
      <% k = k+1 %>
    <% end %>
  <% end %>

  <% if compteur == 0 %>
    <center><p><i> Aucun exercice. </i></p></center>
  <% else %>
    </div>
    </center>
  <% end %>
<% end %>

<% def affiche_chapitre(c, lecas, classe, section_fondation, fond) %>
  <table class="table table-bordered chapter <%= classe %>">
  <tr><td class="title">
  <center><h3><%= link_to c.name, c %><%= " (en construction)" if lecas == 2 %></h3></center>
  </td></tr>
  
  <tr><td class="real-content">
  <div class="intro">
  <%= raw(htmlise(c.description)) %>
  <% if lecas == 4 %>
    <br/><br/>
    <b>Pour pouvoir accéder aux exercices de ce chapitre, vous devez d'abord compléter :
    <% prems = true %>
    <% c.prerequisites.each do |p| %>
      <% if (!section_fondation[p.section_id] && (!@signed_in || !current_user.sk.chapters.exists?(p.id))) %>
        <%= " - " if !prems %>
        <i><%= p.name %></i>
        <% prems = false %>
      <% end %>
    <% end %>
    </b>
  <% end %>
  </div>
    
  <div class="row content">
  
  <% if fond %>
    <div style="width:10%;"></div>
  <% end %>
  
  <div class="module left-part">
  <center><h4>Théorie</h4></center>
  <!-- Théorie -->
  <% compteur = 0 %>
  <% liste = c.theories.order(:position) %>
  <% liste.each do |t| %>
    <% if t.online || !c.online %>
      <% if compteur == 0 %>
        <ul>
      <% end %>
      <% compteur = compteur + 1 %>
      <li><%= link_to t.title, chapter_path(c, :type => 1, :which => t.id) %> <%= image_tag "V.gif", :style => "margin-left:10px; margin-top:-3px;" if @signed_in && current_user.sk.theories.exists?(t.id) %></li>
    <% end %>
  <% end %>

  <% if compteur == 0 %>
    <p style="margin-left:15px;"><i>Aucun point théorique.</i></p>
  <% else %>
    </ul>
  <% end %>    
  </div>
  
  <% if fond %>
    <div style="width:12%;"></div>
  <% end %>
    
  <div class="module <%= "middle-part" if !fond %><%= "right-part" if fond %>">
  <center><h4>Exercices</h4></center>
  <!-- Exercices -->
  <% if lecas < 4 %>
    <% affiche_exercices(c,true) %>
  <% else %>
    <% affiche_exercices(c,false) %>
  <% end %>
  </div>
  
  <% if fond %>
    <div style="width:10%;"></div>
  <% else %>
    <div class="module right-part">
    <center><h4>Statistiques</h4></center>
    <!-- Statistiques -->
    <center>
    Complété par <b><%= c.nb_solved %></b> personne<%= "s" if c.nb_solved > 1 %><br/>
    <% if c.nb_tries > 0 %>
      Taux de réussite : <b><%= (c.nb_solved*100)/c.nb_tries %></b>%
    <% end %>
    </center>
    </div>
  <% end %>
  </div>
  </td></tr>
  </table>
<% end %>

<h1>
<button class="information-tag" onclick="return Info.toggle();">?</button>
<span class="title-first">Théorie ></span>
<%= @section.name %>
</h1>

<%= render 'infofond' if @section.fondation %>
<%= render 'info' unless @section.fondation %>

<!-- Introduction -->
<h2>Introduction</h2>
<%= raw(htmlise(@section.description)) %>
<br/>

<% if @signed_in && current_user.sk.admin? %>
<br/><%= link_to "Modifier l'introduction", edit_section_path(@section) %><br/>
<% end %>

<!-- Chapitres -->
<h2>Chapitres</h2>

<% if @section.fondation %>
  Tous les exercices sont ici directement accessibles.<br/><br/>
<% else %>
  Les chapitres de cette section sont ordonnés selon leur importance (des plus primordiaux aux plus avancés).
<% end %>

<% section_fondation = Array.new %>
<% Section.all.to_a.each do |s| %>
  <% section_fondation[s.id] = s.fondation %>
<% end %>

<% num_level = (@section.fondation ? 1 : 3) %>
<% (1..num_level).each do |level| %>
  <% premier = true %>
  <% @section.chapters.where(:level => level).order(:position).each do |c| %>
    <% if (c.online || (@signed_in && (current_user.sk.admin || current_user.sk.creating_chapters.exists?(c.id)))) %>
      <% if premier %>
        <% if @section.fondation %>
        
        <% elsif level == 1 %>
          <h3>Les essentiels</h3>
          Les chapitres suivants reprennent la théorie essentielle relative à cette section.<br/><br/>
        <% elsif level == 2 %>
          <h3>Les classiques</h3>
          Les chapitres suivants, un peu plus avancés, reprennent les résultats classiques de cette section.<br/><br/>
        <% elsif level == 3 %>
          <h3>Les pointus</h3>
          Les chapitres suivants reprennent des notions plus rarement utiles en compétition mais qui peuvent devenir assez puissantes si bien maitrisées.<br/><br/>
        <% end %>
        <% premier = false %>
      <% end %>
      
      <% lecas = 0 %>
      <% classe = "" %>
      <% solved = false %>
      
      <% if @signed_in && !current_user.sk.admin? && current_user.sk.chapters.exists?(c.id) %>
        <% solved = true %>
      <% end %>
      
      <% peut_voir = true %>
      <% if !@signed_in || (!current_user.sk.admin? && !solved) %>
        <% c.prerequisites.each do |p| %>
          <% if !section_fondation[p.section_id] %>
            <% if !@signed_in || !current_user.sk.chapters.exists?(p.id) %>
              <% peut_voir = false %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
      
      <% if solved %>
        <% lecas = 1 %>
        <% classe = "greeny" %>
      <% elsif !c.online %>
        <% lecas = 2 %>
        <% classe = "orangey" %>
      <% elsif peut_voir %>
        <% lecas = 3 %>
        <% classe = "yellowy" %>
      <% else %>
        <% lecas = 4 %>
        <% classe = "greyy" %>
      <% end %>
      
      <% affiche_chapitre(c, lecas, classe, section_fondation, @section.fondation) %> 
      
    <% end %>
  <% end %>
<% end %>


<!-- Si administrateur -->
<% if @signed_in && current_user.sk.admin? %>

<!-- Ajouter un chapitre -->
<center>
<%= button_to "Ajouter un chapitre", new_section_chapter_path(@section), method: :get, class: 'btn btn-lg btn-default btn-grey' %>
</center>

<% end %>
