<hr class="my-1" />

<div class="p-2 <%= 'unread_message' if @compteur <= params[:nonread].to_i %>" style="overflow-y:hidden;">

<% @compteur = @compteur+1 %>

<!-- Qui et quand -->
<div class="text-end" style="float:right;">&nbsp;
  <%= write_date(m.created_at) %>
</div>

<div class="mb-2"><b><%= m.user.name %></b></div>

<!-- Contenu du message -->
<%= render '/shared/text_show_hide_code', content: m.content, id: m.id %>

<!-- Pièces jointes -->
<%= render '/shared/show_files', s: m %>

</div>
