<hr class="my-1" />

<% if @compteur <= params[:nonread].to_i %>
  <div class="p-2 unread_message" style="overflow-y:hidden;">
<% else %>
  <div class="p-2" style="overflow-y:hidden; overflow-x:visible">
<% end %>

<% @compteur = @compteur+1 %>

<% m = tchatmessage %>

<!-- Qui et quand -->
<div class="text-end" style="float:right;">&nbsp;
  <%= write_date(m.created_at) %>
</div>

<div class="mb-2"><b><%= m.user.name %></b></div>

  <!-- Contenu du message -->
<div id="normal<%= m.id %>" style="display:block;">
<%= raw(bbcode(m.content)) %>
<div class="text-end mt-1" style="float:right;">&nbsp; <a href='#' data-text-id='<%= m.id %>' is='showcode-onclick'>(Montrer le code)</a></div>
</div>

<div class="tex2jax_ignore" id="anormal<%= m.id %>" style="display:none;">
<%= raw((h m.content).gsub(/\n/, '<br/>')) %>
<div class="text-end mt-1" style="float:right;">&nbsp; <a href='#' data-text-id='<%= m.id %>' is='hidecode-onclick'>(Cacher le code)</a></div>
</div>

<!-- Pièces jointes -->
<%= render '/shared/show_files', s: m %>

</div>
