<%= render 'shared/error_messages', object: f.object %>

<!-- Titre -->
<div class="mb-2">
  <%= f.label :title, :class => "form-label" %>
  <%= f.text_field :title, :style => "width:100%; max-width:400px;", :class => "form-control" %>
</div>

<!-- Contenu -->
<div class="mb-2">
  <%= f.label :content, :for => "MathInput", :class => "form-label" %>
  <%= render 'shared/preview' %>
  <%= render 'shared/font' %>
  <%= f.text_area :content, :class => "form-control", :maxlength => "8000", :style => "height:200px;", :id => "MathInput", :onkeyup => "Preview.MyUpdate()" %>
  <script>initAndUpdatePreviewWhenPossible()</script>
</div>
