<div class="post mb-3">
  <div class="header table-ld-primary">
    <!-- Titre -->
    <div class="title">
      <%= actuality.title %>
    </div>

    <!-- Date -->
    <div class="date">
      <%= write_date_only(actuality.created_at) %>
    </div>
  </div>

  <!-- Contenu -->
  <div class="content">
    <%= raw(htmlise(actuality.content)) %>
  </div>

  <!-- Modifier / Supprimer -->
  <% if @signed_in && current_user.sk.admin? %>
    <div class="modify">
      <%= link_to "Modifier l'actualité", edit_actuality_path(actuality) %> |
      <%= link_to "Supprimer l'actualité", actuality, method: :delete, data: { confirm: "Êtes-vous sûr de vouloir supprimer cette actualité ?" } %>
    </div>
  <% end %>
</div>
