<table class="table table-bordered actuality">

  <!-- Cas normal -->
  <tr class="table-ld-primary d-none d-md-table-row">
    <!-- Titre -->
    <td class="title border-end-0"><h3><%= actuality.title %><%= dl_icon %></h3></td>

    <!-- Date -->
    <td class="date border-start-0"><%= write_date_only(actuality.created_at) %></td>
  </tr>

  <!-- Cas gsm : titre et date sur des lignes différentes -->
  <!-- Titre -->
  <tr class="table-ld-primary d-table-row d-md-none"><td class="title"><h3><%= actuality.title %></h3></td></tr>

  <!-- Date -->
  <tr class="table-ld-primary d-table-row d-md-none"><td class="date"><%= write_date_only(actuality.created_at) %></td></tr>

  <!-- Contenu -->
  <tr><td class="content" colspan="2"><div><%= raw(htmlise(actuality.content)) %></div></td></tr>

  <!-- Modifier / Supprimer -->
  <% if @signed_in && current_user.sk.admin? %>
    <tr>
      <td class="modify" colspan="2">
        <%= link_to "Modifier l'actualité", edit_actuality_path(actuality) %> |
        <%= link_to "Supprimer l'actualité", actuality, method: :delete, data: { confirm: "Êtes-vous sûr de vouloir supprimer cette actualité ?" } %>
      </td>
    </tr>
  <% end %>
</table>
