<div class="post mb-3">
  <div class="header table-ld-primary">
    <!-- Titre -->
    <div class="title h3 mb-0">
      <%= actuality.title %>
    </div>

    <!-- Date -->
    <div class="date h5 mb-0">
      <%= write_date_only(actuality.created_at) %>
    </div>
  </div>

  <!-- Contenu -->
  <div class="content">
    <%= htmlise(actuality.content) %>
  </div>

  <!-- Modifier / Supprimer -->
  <% if signed_in? && current_user.admin? %>
    <div class="modify">
      <%= link_to "Modifier l'actualité", edit_actuality_path(actuality) %> |
      <%= link_to "Supprimer l'actualité", actuality, method: :delete, data: { confirm: "Êtes-vous #{current_user.sure} de vouloir supprimer cette actualité ?" } %>
    </div>
  <% end %>
</div>
