<%= render 'shared/error_messages', object: f.object %>

<!-- Enoncé -->
<div class="form-group">
  <%= f.label "Énoncé" %>
  <div class="well" id="MathPreview"></div>
  <div class="well hidden-preview" id="MathBuffer"></div>
  <%= render 'theories/font' %>
  <%= f.text_area :statement, :class => "form-control", :maxlength => "8000", :style => "height:200px; margin-top:5px;", :id=>"MathInput", :onkeyup => "fakeupdate()" %>
</div>

<!-- Si qcm en ligne -->
<% if !qcm.nil? && qcm.chapter.online && qcm.online %>
  <% if qcm.many_answers %>
    <b>Plusieurs réponses possibles</b><br/>
  <% else %>
    <b>Une seule réponse possible</b><br/>
  <% end %>
  <br/>
  Niveau de l'exercice : <b><%= qcm.level %></b><br/><br/>
    
<!-- Si qcm pas encore en ligne -->
<% else %>
  <label class="checkbox-inline">
    <%= f.check_box(:many_answers) %>
    Cochez si plusieurs réponses sont possibles
  </label>
  <br/><br/>
  
  <div class="form-group">
    <%= f.label "Niveau (entre 1 et 4)" %>
    <%= f.number_field :level, :class => "form-control", :style => "width:50px;", :min => 1, :max => 4 %>
  </div>
<% end %>
