<% total_waiting = 180 %>
<% if !sol.nb_guess.nil? && sol.nb_guess >= 3 && DateTime.now.in_time_zone < sol.updated_at + total_waiting %>
  <% needtowait = true %>
<% else %>
  <% needtowait = false %>
<% end %>

<% if f.many_answers %>
  <%= form_for sol do |x| %>
    <b>Cochez chaque proposition correcte.</b><br/><br/>
    <% f.choices.order(:id).each do |c| %>
      <input type="hidden" name="qcm_id" value="<%= f.id %>" />
      <label class="checkbox-inline" style="padding-top:5px; padding-bottom:5px; margin-left:5px;">
        <input type="checkbox" class="todisable" name="ans[<%= c.id %>]" value="ok" <%= "checked" if anciens.exists?(:id => c.id) %> <%= "disabled=\"true\"" if !@ss || current_user.other || needtowait %>>
        <%= raw(c.ans) %>
      </label><br/>
    <% end %>
    <br/><button class="btn btn-primary todisable" type="submit" <%= "disabled=\"true\"" if !@ss || current_user.other || needtowait %>>Soumettre</button>
  <% end %>
<% else %>
  <% choice = sol.choices.first %>
  <%= form_for sol do |x| %>
    <input type="hidden" name="qcm_id" value="<%= f.id %>" />
    <% f.choices.order(:id).each do |c| %>
      <label class="radio-inline" style="padding-top:5px; padding-bottom:5px; margin-left:5px;">
        <input type="radio" class="todisable" name="ans" value="<%= c.id %>" <%= "checked" if !choice.nil? && c.id == choice.id %> <%= "disabled=\"true\"" if !@ss || current_user.other || needtowait %>>
        <%= raw(c.ans) %>
      </label><br/>
    <% end %>
    <br/><button class="btn btn-primary todisable" type="submit" <%= "disabled=\"true\"" if !@ss || current_user.other || needtowait %>>Soumettre</button>
  <% end %>

<% end %>

<% if !sol.nb_guess.nil? %>
  <br/>
  <p style="color:red;">Votre réponse est erronée. Vous avez déjà commis <b><%= sol.nb_guess %></b> erreur<%= "s" if sol.nb_guess > 1 %>.</p>
  
  <p style="color:red;">À partir de la troisième erreur, vous devez attendre trois minutes avant chaque nouvelle tentative.</p>
  
  <% if needtowait %>
    <%= render 'exercises/waiting', exo: sol, total_waiting: total_waiting %>
  <% end %>
<% end %>
