<script type="text/javascript">
function showStuff() {
    document.getElementById("indice").style.display = 'inline';
    document.getElementById("show").style.display = 'none';
    document.getElementById("hide").style.display = 'inline';
}
function hideStuff(id, text, btn) {
    document.getElementById("indice").style.display = 'none';
    document.getElementById("show").style.display = 'inline';
    document.getElementById("hide").style.display = 'none';
}
</script>

<% if (f.online && f.chapter.online) || (signed_in? && current_user.sk.admin?) %>

<% pt = f.value %>

<% if @fondation %>
<h3>Exercice <%= number %></h3>
<% else %>
<h3>Exercice <%= number %> <span style="margin-left:20px; color:grey;">(<%= pt %> points)</span></h3>
<% end %>

<div>
<%= raw(f.statement.gsub(/\\][ \r]*\n/,'\] ').gsub(/\$\$[ \r]*\n/,'$$ ').gsub(/<\/ol>[ \r]*\n/, '</ol>').gsub(/\n[ \r]*<\/ol>/, '</ol>').gsub(/<\/ul>[ \r]*\n/, '</ul>').gsub(/\n[ \r]*<\/ul>/, '</ul>').gsub(/\n[ \r]*<li>/, '<li>').gsub(/\n/, '<br/>').
  gsub(/<\/indice>[ \r]*/, '<br/><br/></span><a href="#" id="hide" style="display:none;" onclick="hideStuff(); return false;" class="btn btn-default btn-grey">Cacher l\'indice</a>').
  gsub(/<indice>/, '<a href="#" id="show" onclick="showStuff(); return false;" class="btn btn-default btn-grey">Montrer un indice</a><span id="indice" style="display:none;"><u>Indice</u> : ')) %>
</div><br/>

<% if signed_in? && current_user.sk.admin? %>

  <h4>Réponse</h4>

  <ul>
    <% f.choices.order(:id).each do |c| %>
      <li style="padding:5px;">
      <%= raw(c.ans) %>

      <% if c.ok %>
        <%= image_tag "V.gif", :style => "margin-left:10px;" %>
      <% end %>
      <% if !c.ok && f.many_answers %>
        <%= image_tag "X.gif", :style => "margin-left:10px;" %>
      <% end %>
      </li>
    <% end %>
  </ul>

  <% if f.many_answers %>
    (Plusieurs réponses possibles)
  <% else %>
    (Une seule réponse possible)
  <% end %>
  <br/><br/>
  
  <h4>Essais</h4>
  Corrects :
  <% compte = 0 %>
  <% f.solvedqcms.order(:updated_at).all.each do |se| %>
    <% if se.correct %>
      <% if compte > 0 %>
        <%= " - " %>
      <% end %>
      <% compte = compte+1 %>
      <b>
      <% if se.user.admin %>
        <%= se.user.name %>
      <% else %>
        <%= link_to se.user.name, se.user, {:style => "color:#{se.user.level[:color]}" } %>
      <% end %>
      </b>
      <%= "(#{se.nb_guess-1})" if se.nb_guess-1 > 0 %>
    <% end %>
  <% end %>
  <% if compte == 0 %>
    <%= "Aucune résolution." %>
  <% end %>
  <br />
  Incorrects :
  <% compte = 0 %>
  <% f.solvedqcms.order(:updated_at).all.each do |se| %>
    <% if !se.correct %>
      <% if compte > 0 %>
        <%= " - " %>
      <% end %>
      <% compte = compte+1 %>
      <b>
      <% if se.user.admin %>
        <%= se.user.name %>
      <% else %>
        <%= link_to se.user.name, se.user, {:style => "color:#{se.user.level[:color]}" } %>
      <% end %>
      </b>
      (<%= se.nb_guess %>)
    <% end %>
  <% end %>
  <% if compte == 0 %>
    <%= "Aucun utilisateur bloqué." %>
  <% end %>
  <br/><br/>
  
  <h4>Explication</h4>
  <% if f.explanation.size == 0 %>
    <p style="color:orange;"><b>Pas d'explication</b></p>
  <% else %>
    <%= raw(f.explanation.gsub(/\\][ \r]*\n/,'\] ').gsub(/\$\$[ \r]*\n/,'$$ ').gsub(/<\/ol>[ \r]*\n/, '</ol>').gsub(/\n[ \r]*<\/ol>/, '</ol>').gsub(/<\/ul>[ \r]*\n/, '</ul>').gsub(/\n[ \r]*<\/ul>/, '</ul>').gsub(/\n[ \r]*<li>/, '<li>').gsub(/\n/, '<br/>')) %>
    <br/>
  <% end %>

  <br/>
  <div class="noprint">
  <center>
    <% if @chapter.online && f.online %>
      <%= link_to "Modifier ce QCM", edit_qcm_path(f), data: { confirm: "Attention, ce QCM étant visible des utilisateurs, tâchez de ne pas faire de modifications majeures." }  %> |
      <%= link_to "Modifier les réponses de ce QCM", qcm_manage_choices_path(f), data: { confirm: "Attention, QCM étant visible des utilisateurs, tâchez de ne pas faire de modifications majeures." } %> |
      <%= link_to "Modifier l'explication", qcm_explanation_path(f) %>
      <% if current_user.sk.root %>
        | <%= link_to "Supprimer ce QCM", f, method: :delete, data: { confirm: "Attention, ce QCM est visible des utilisateurs. Etes-vous sûr de vouloir le supprimer? Veillez à avoir une connexion stable et à ne pas interrompre l'opération (cela risque de durer un petit peu de temps)." }, :style => "color:red;" %>
      <% end %>
    <% else %>
      <%= link_to "Modifier ce QCM", edit_qcm_path(f) %> |
      <%= link_to "Modifier les réponses de ce QCM", qcm_manage_choices_path(f) %> |
      <%= link_to "Modifier l'explication", qcm_explanation_path(f) %> |
      <%= link_to "Supprimer ce QCM", f, method: :delete, data: { confirm: "Etes-vous sûr de vouloir supprimer ce QCM?" } %>
    <% end %>
  </center>

  <br/>

  <% if number2 > 1 %>
    <% up = true %>
  <% else %>
    <% up = false %>
  <% end %>

  <% if number2 < liste.size + liste2.size %>
    <% down = true %>
  <% else %>
    <% down = false %>
  <% end %>

  <% if (up || down) %>
    <center>
      Déplacer ce QCM vers le
      <% if up %>
        <%= link_to "haut", qcm_order_minus_path(f) %>
        <% if down %>
          | <%= link_to "bas", qcm_order_plus_path(f) %>
        <% end %>
      <% else %>
        <%= link_to "bas", qcm_order_plus_path(f) %>
      <% end %>
    </center> <br/>
  <% end %>

  <% if !f.online && @chapter.online %>
    <center>
      <%= button_to "Mettre en ligne", qcm_put_online_path(f), method: :get, class: 'btn btn-default btn-grey', data: { confirm: "Vous ne pourrez plus modifier la réponse de ce qcm par la suite. Etes vous sûr de vouloir le mettre en ligne?" } %>
    </center> <br/>
  <% end %>

  </div>

<% elsif signed_in? %>

  <% sol = Solvedqcm.where(:user_id => current_user.sk.id, :qcm_id => id) %>
  <% if sol.size > 0 %>
    <% sol = sol.first %>
    <% if sol.correct? %>

      <% if sol.nb_guess-1 > 1 %>
        <p style="color:green;"><b>Vous avez résolu cet exercice après <%= sol.nb_guess-1 %> erreurs.</b><br/><br/></p>
      <% elsif sol.nb_guess-1 == 1 %>
        <p style="color:green;"><b>Vous avez résolu cet exercice après 1 erreur.</b><br/><br/></p>
      <% else %>
        <p style="color:green;"><b>Vous avez résolu cet exercice du premier coup!</b><br/><br/></p>
      <% end %>

      <h4>Réponse</h4>

      <ul>
        <% f.choices.order(:id).each do |c| %>
          <li style="padding:5px;">
          <%= raw(c.ans) %>

          <% if c.ok %>
            <%= image_tag "V.gif", :style => "margin-left:10px;" %>
          <% end %>
          <% if !c.ok && f.many_answers %>
            <%= image_tag "X.gif", :style => "margin-left:10px;" %>
          <% end %>
          </li>
        <% end %>
      </ul>

      <% if f.explanation.size > 0 %>
        <br/>
        <h4>Explication</h4>
        <%= raw(f.explanation.gsub(/\\][ \r]*\n/,'\] ').gsub(/\$\$[ \r]*\n/,'$$ ').gsub(/<\/ol>[ \r]*\n/, '</ol>').gsub(/\n[ \r]*<\/ol>/, '</ol>').gsub(/<\/ul>[ \r]*\n/, '</ul>').gsub(/\n[ \r]*<\/ul>/, '</ul>').gsub(/\n[ \r]*<li>/, '<li>').gsub(/\n/, '<br/>')) %>
      <% end %>
      <br/>

    <% else %>

      <% if f.many_answers %>

        <% anciens = sol.choices %>

        <%= form_for sol do |x| %>
          <b>Plusieurs réponses sont possibles.</b><br/><br/>
          <% f.choices.order(:id).each do |c| %>
            <input type="hidden" name="qcm_id" value="<%= f.id %>" />
            <label class="checkbox-inline" style="padding-top:5px; padding-bottom:5px; margin-left:5px;">
              <input type="checkbox" name="ans[<%= c.id %>]" value="ok" <%= "checked" if anciens.exists?(:id => c.id) %> <%= "disabled=\"true\"" if current_user.other %>>
              <%= raw(c.ans) %>
            </label><br/>
          <% end %>
          <br/><button class="btn btn-primary" type="submit" <%= "disabled=\"true\"" if current_user.other %>>Soumettre</button>
        <% end %>
      <% else %>
        <% choice = sol.choices.first %>
        <%= form_for sol do |x| %>
          <input type="hidden" name="qcm_id" value="<%= f.id %>" />
          <% f.choices.order(:id).each do |c| %>
            <label class="radio-inline" style="padding-top:5px; padding-bottom:5px; margin-left:5px;">
              <input type="radio" name="ans" value="<%= c.id %>" <%= "checked" if c.id == choice.id %> <%= "disabled=\"true\"" if current_user.other %>>
              <%= raw(c.ans) %>
            </label><br/>
          <% end %>
          <br/><button class="btn btn-primary" type="submit" <%= "disabled=\"true\"" if current_user.other %>>Soumettre</button>
        <% end %>

      <% end %>

      <br/>

      <p style="color:red;">Votre réponse est erronée. Vous avez déjà commis <%= sol.nb_guess %> erreur<%= "s" if sol.nb_guess > 1 %>.</p>

    <% end %>
  <% else %>

    <% if f.many_answers %>
      <b>Plusieurs réponses sont possibles.</b><br/><br/>
      <% sol = Solvedqcm.new %>
      <%= form_for sol do |x| %>
        <input type="hidden" name="qcm_id" value="<%= f.id %>" />
        <% f.choices.order(:id).each do |c| %>
          <label class="checkbox-inline" style="padding-top:5px; padding-bottom:5px; margin-left:5px;">
            <input type="checkbox" name="ans[<%= c.id %>]" value="ok" <%= "disabled=\"true\"" if current_user.other %>>
            <%= raw(c.ans) %>
          </label><br/>
        <% end %>
        <br/><button class="btn btn-primary" type="submit" <%= "disabled=\"true\"" if current_user.other %>>Soumettre</button>
      <% end %>
    <% else %>
      <% sol = Solvedqcm.new %>
      <%= form_for sol do |x| %>
        <input type="hidden" name="qcm_id" value="<%= f.id %>" />
        <% f.choices.order(:id).each do |c| %>
          <label class="radio-inline" style="padding-top:5px; padding-bottom:5px; margin-left:5px;">
            <input type="radio" name="ans" value="<%= c.id %>" <%= "disabled=\"true\"" if current_user.other %>>
            <%= raw(c.ans) %>
          </label><br/>
        <% end %>
        <br/><button class="btn btn-primary" type="submit" <%= "disabled=\"true\"" if current_user.other %>>Soumettre</button>
      <% end %>

    <% end %>

  <% end %>

  <hr>
  Un soucis avec cet exercice? N'hésitez pas à demander de l'aide sur le <%= link_to "forum", subjects_path(:q => @chapter.id), :target => "_blank" %>!<br/><br/>

<% else %>
  <% if f.many_answers %>
    <b>Plusieurs réponses sont possibles.</b><br/><br/>
    <form action="<%= solvedqcms_path %>" method="post">
      <input type="hidden" name="qcm_id" value="<%= f.id %>" />
      <% f.choices.order(:id).each do |c| %>
        <label class="checkbox-inline" style="padding-top:5px; padding-bottom:5px; margin-left:5px;">
          <input type="checkbox" name="ans[<%= c.id %>]" value="ok" disabled="true">
          <%= raw(c.ans) %>
        </label><br/>
      <% end %>
      <br/><button class="btn btn-primary" type="submit" disabled="true">Soumettre</button>
    </form>
  <% else %>
    <% sol = Solvedqcm.new %>
    <%= form_for sol do |x| %>
      <input type="hidden" name="qcm_id" value="<%= f.id %>" />
      <% f.choices.order(:id).each do |c| %>
        <label class="radio-inline" style="padding-top:5px; padding-bottom:5px; margin-left:5px;">
          <input type="radio" name="ans" value="<%= c.id %>" disabled="true">
          <%= raw(c.ans) %>
        </label><br/>
      <% end %>
      <br/><button class="btn btn-primary" type="submit" disabled="true">Soumettre</button>
    <% end %>
  <% end %>
  
  <hr style="border-top:1px dashed lightgray;" />
  <center>Pour pouvoir répondre aux exercices, vous devez être connecté.</center>
  <hr>
  Un soucis avec cet exercice? N'hésitez pas à demander de l'aide sur le <%= link_to "forum", subjects_path(:q => @chapter.id), :target => "_blank" %>!<br/><br/>

<% end %>

<% end %>
