<script type="text/javascript">
function showStuff() {
    document.getElementById("indice").style.display = 'inline';
    document.getElementById("show").style.display = 'none';
    document.getElementById("hide").style.display = 'inline';
}
function hideStuff() {
    document.getElementById("indice").style.display = 'none';
    document.getElementById("show").style.display = 'inline';
    document.getElementById("hide").style.display = 'none';
}
</script>

<!-- On vérifie que ce qcm peut bien être vu -->
<% if f.online || (@ss && current_user.sk.admin?) %>

<!-- Titre -->
<%= render 'exercises/title', f: f, number: number %>

<!-- Enoncé -->
<div>
  <%= raw(htmlise(f.statement).gsub(/<\/indice>[ \r]*/, '<br/><br/></span><a href="#" id="hide" style="display:none;" onclick="hideStuff(); return false;" class="btn btn-default btn-grey">Cacher l\'indice</a>').gsub(/<indice>/, '<a href="#" id="show" onclick="showStuff(); return false;" class="btn btn-default btn-grey">Montrer un indice</a><span id="indice" style="display:none;"><u>Indice</u> : ')) %>
</div>
<br/>

<!-- Si administrateur -->
<% if @ss && current_user.sk.admin? %>

  <!-- Réponse -->
  <h4>Réponse</h4>

  <ul>
    <% f.choices.order(:id).each do |c| %>
      <li style="padding:5px;">
      <%= raw(c.ans) %>

      <% if c.ok %>
        <%= image_tag "V.gif", :style => "margin-left:10px;" %>
      <% end %>
      <% if !c.ok && f.many_answers %>
        <%= image_tag "X.gif", :style => "margin-left:10px;" %>
      <% end %>
      </li>
    <% end %>
  </ul>

  <% if f.many_answers %>
    (Plusieurs réponses possibles)
  <% else %>
    (Une seule réponse possible)
  <% end %>
  <br/><br/>
  
  <!-- Pour les admins -->
  <%= render 'exercises/admin', f: f, type: 3, number2: number2, number_tot: liste.size + liste2.size %>
  
<!-- Si étudiant inscrit -->
<% elsif @ss %>

  <% sol = Solvedqcm.where(:user_id => current_user.sk.id, :qcm_id => id) %>
  
  <!-- Si l'étudiant a déjà essayé -->
  <% if sol.size > 0 %>
    <% sol = sol.first %>
    
    <!-- Si déjà résolu -->
    <% if sol.correct? %>

      <p style="color:green;"><b>
      <% if sol.nb_guess-1 > 0 %>
        Vous avez résolu cet exercice après <%= sol.nb_guess-1 %> erreur<%= "s" if sol.nb_guess-1 > 1 %>.
      <% else %>
        Vous avez résolu cet exercice du premier coup!
      <% end %>
      </b><br/><br/></p>
      
      <!-- Réponse -->
      <h4>Réponse</h4>
      <ul>
        <% f.choices.order(:id).each do |c| %>
          <li style="padding:5px;">
          <%= raw(c.ans) %>

          <% if c.ok %>
            <%= image_tag "V.gif", :style => "margin-left:10px;" %>
          <% end %>
          <% if !c.ok && f.many_answers %>
            <%= image_tag "X.gif", :style => "margin-left:10px;" %>
          <% end %>
          </li>
        <% end %>
      </ul>

      <!-- Explication -->
      <% if f.explanation.size > 0 %>
        <br/>
        <h4>Explication</h4>
        <%= raw(htmlise(f.explanation)) %>
      <% end %>
      <br/>
    
    <!-- Si déjà essayé -->
    <% else %>
      <%= render 'qcms/question', f: f, sol: sol, anciens: sol.choices %> 
    <% end %>
    
  <!-- Si pas encore essayé -->
  <% else %>
    <% sol = Solvedqcm.new %>
    <%= render 'qcms/question', f: f, sol: sol, anciens: sol.choices %>
  <% end %>

  <hr style="border-top:1px dashed lightgray;" />
  Un souci avec cet exercice ? N'hésitez pas à demander de l'aide sur le <%= link_to "forum", subjects_path(:q => @chapter.id), :target => "_blank" %> !

<!-- Si étudiant non connecté -->
<% else %>
  <% sol = Solvedqcm.new %>
  <%= render 'qcms/question', f: f, sol: sol, anciens: sol.choices %>
  
  <hr style="border-top:1px dashed lightgray;" />
  <center>Pour pouvoir répondre aux exercices, vous devez être connecté.</center>
<% end %>

<% end %>
