<% provide(:title, 'Modifier un QCM') %>

<h1>
<span style="font-size:16px;">Cours ></span>
<span style="font-size:24px;"><%= link_to @qcm.chapter.section.name, @qcm.chapter.section %> ></span>
<span style="font-size:32px;"><%= link_to @qcm.chapter.name, chapter_path(@qcm.chapter, :type => 3, :which => @qcm.id) %> ></span>
Modifier un QCM
</h1>

<%= form_for(@qcm) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="form-group">
  <%= f.label "Énoncé" %>
  <div class="well" id="MathPreview"></div>
  <div class="well" id="MathBuffer" style="visibility:hidden; position:absolute; top:0; left: 0"></div>
  <%= render 'theories/font' %>
  <%= f.text_area :statement, :class => "form-control", :style => "height:200px; margin-top:5px;", :id=>"MathInput", :onkeyup => "fakeupdate()" %>
  </div>

  <% if @qcm.chapter.online && @qcm.online %>
    <% if @qcm.many_answers %>
      <b>Plusieurs réponses possibles</b><br/>
    <% else %>
      <b>Une seule réponse possible</b><br/>
    <% end %>
  
    <br/>
    Niveau de l'exercice : <b><%= @qcm.level %></b><br/><br/>
  <% else %>
    <label class="checkbox-inline">
    <%= f.check_box(:many_answers) %>
    Cochez si plusieurs réponses sont possibles
    </label><br/>
  
    <br/>
  
    <div class="form-group">
    <%= f.label "Niveau (entre 1 et 4)" %>
    <%= f.number_field :level, :class => "form-control", :style => "width:50px;", :min => 1, :max => 4 %>
    </div>
  <% end %>
  <%= f.submit "Editer", class: "btn btn-lg btn-primary" %>
<% end %>

<script>
Preview.Init();
Preview.Update();
</script>
