<% provide(:title, 'Modifier un QCM') %>

<h1>
<span class="title-first">Théorie ></span>
<span class="title-second"><%= link_to @qcm.chapter.section.name, @qcm.chapter.section %> ></span>
<span class="title-third"><%= link_to @qcm.chapter.name, chapter_path(@qcm.chapter, :type => 3, :which => @qcm.id) %> ></span>
Modifier un QCM
</h1>

<%= form_for(@qcm) do |f| %>
  <%= render 'form', f: f, qcm: @qcm %>
  <%= f.submit "Editer", class: "btn btn-lg btn-primary" %>
<% end %>

<script>
Preview.Init();
Preview.Update();
</script>
