<% provide(:title, 'Modifier un QCM') %>

<h1>
<span style="font-size:16px;">Cours ></span>
<span style="font-size:24px;"><%= link_to @qcm.chapter.section.name, @qcm.chapter.section %> ></span>
<span style="font-size:32px;"><%= link_to @qcm.chapter.name, chapter_path(@qcm.chapter, :type => 3, :which => @qcm.id) %> ></span>
Modifier un QCM
</h1>

<div class="row">
  <div class="span12">
    <%= form_for(@qcm) do |f| %>
      <%= render 'form_edit', f: f %>
      <br />
      <%= f.submit "Editer", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>

<script>
Preview.Init();
Preview.Update();
</script>
