<script type="text/javascript">
function showStuff() {
    document.getElementById("indice").style.display = 'inline';
    document.getElementById("show").style.display = 'none';
    document.getElementById("hide").style.display = 'inline';
}
function hideStuff(id, text, btn) {
    document.getElementById("indice").style.display = 'none';
    document.getElementById("show").style.display = 'inline';
    document.getElementById("hide").style.display = 'none';
}
</script>

<% provide(:title, "Modifier l'explication d'un QCM".html_safe) %>

<h1>
<span style="font-size:16px;">Cours ></span>
<span style="font-size:24px;"><%= link_to @qcm.chapter.section.name, @qcm.chapter.section %> ></span>
<span style="font-size:32px;"><%= link_to @qcm.chapter.name, chapter_path(@qcm.chapter, :type => 3, :which => @qcm.id) %> ></span>
Modifier une explication
</h1>

<h3>Enoncé</h3>
<%= raw(@qcm.statement.gsub(/\\][ \r]*\n/,'\] ').gsub(/\$\$[ \r]*\n/,'$$ ').gsub(/<\/ol>[ \r]*\n/, '</ol>').gsub(/\n[ \r]*<\/ol>/, '</ol>').gsub(/<\/ul>[ \r]*\n/, '</ul>').gsub(/\n[ \r]*<\/ul>/, '</ul>').gsub(/\n[ \r]*<li>/, '<li>').gsub(/\n/, '<br/>').
  gsub(/<\/indice>[ \r]*/, '<br/><br/></span><a href="#" id="hide" style="display:none;" onclick="hideStuff(); return false;" class="btn btn">Cacher l\'indice</a>').
  gsub(/<indice>/, '<a href="#" id="show" onclick="showStuff(); return false;" class="btn btn">Montrer un indice</a><span id="indice" style="display:none;"><u>Indice</u> : ')) %>

<br/><br/>
<h3>Réponse</h3>

<ul>
  <% @qcm.choices.order(:id).each do |c| %>
    <li style="padding:5px;">
    <%= raw(c.ans) %>

    <% if c.ok %>
      <i class="icon-ok" style="margin-left:10px;"></i>
    <% end %>
    <% if !c.ok && @qcm.many_answers %>
      <i class="icon-remove" style="margin-left:10px;"></i>
    <% end %>
    </li>
  <% end %>
</ul>


<% if @qcm.many_answers %>
  (Plusieurs réponses possibles)
<% else %>
  (Une seule réponse possible)
<% end %>

<br/><br/>

<h3>Explication</h3>

<%= form_for(@qcm, url: qcm_update_explanation_path) do |f| %>
  <%= render 'form_explanation', f: f %>
  <br />
  <%= f.submit "Modifier", class: "btn btn-large btn-primary" %>
<% end %>

<script>
Preview.Init();
Preview.Update();
</script>
