<% provide(:title, "Modifier l'explication d'un QCM".html_safe) %>

<h1>
<span class="title-first">Théorie ></span>
<span class="title-second"><%= link_to @qcm.chapter.section.name, @qcm.chapter.section %> ></span>
<span class="title-third"><%= link_to @qcm.chapter.name, chapter_path(@qcm.chapter, :type => 3, :which => @qcm.id) %> ></span>
Explication
</h1>

<!-- Enoncé -->
<h3>Énoncé</h3>
<%= raw(replace_indice(htmlise(@qcm.statement))) %>
<br/>

<!-- Réponse -->
<h3>Réponse</h3>

<ul>
  <% @qcm.choices.order(:id).each do |c| %>
    <li style="padding:5px;">
    <%= raw(c.ans) %>

    <% if c.ok %>
      <%= image_tag "V.gif", :style => "margin-left:10px;" %>
    <% end %>
    <% if !c.ok && @qcm.many_answers %>
      <%= image_tag "X.gif", :style => "margin-left:10px;" %>
    <% end %>
    </li>
  <% end %>
</ul>


<% if @qcm.many_answers %>
  (Plusieurs réponses possibles)
<% else %>
  (Une seule réponse possible)
<% end %>

<br/>

<!-- Explication -->
<h3>Explication</h3>

<%= form_for(@qcm, url: qcm_update_explanation_path) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="form-group">
  <div class="well" id="MathPreview"></div>
  <div class="well hidden-preview" id="MathBuffer"></div>
  <%= render 'theories/font' %>
  <%= f.text_area :explanation, :class => "form-control", :maxlength => "8000", :style => "height:200px; margin-top:5px;", :id=>"MathInput", :onkeyup => "Preview.MyUpdate()" %>
  </div>
  <%= f.submit "Modifier", class: "btn btn-lg btn-primary" %>
<% end %>

<script>
Preview.Init();
Preview.Update();
</script>
