<% provide(:title, "Modifier les choix du QCM") %>

<h1>
<span style="font-size:16px;"><%= link_to "Cours", sections_path %> ></span>
<span style="font-size:24px;"><%= link_to @qcm.chapter.section.name, @qcm.chapter.section %> ></span>
<span style="font-size:32px;"><%= link_to @qcm.chapter.name, chapter_path(@qcm.chapter, :type => 3, :which => @qcm.id) %> ></span>
Modifier des choix
</h1>

Veuillez, pour chaque choix modifié, cliquer sur le bouton "Modifier ce choix" en vis à vis. Sans cela, votre modification ne saurait être enregistrée.<br/><br/>

<h3>Enoncé</h3>	
<%= raw(@qcm.statement.gsub(/\\][ \r]*\n/,'\] ').gsub(/\][ \r]*\n/,'\] ').gsub(/\$\$[ \r]*\n/,'$$ ').gsub(/<\/ol>[ \r]*\n/, '</ol>').gsub(/\n[ \r]*<\/ol>/, '</ol>').gsub(/<\/ul>[ \r]*\n/, '</ul>').gsub(/\n[ \r]*<\/ul>/, '</ul>').gsub(/\n[ \r]*<li>/, '<li>').gsub(/\n/, '<br/>')) %>

<br/><br/>
<h3>Réponse</h3>	
<table cellpadding="5">
<tr><th></th><th></th><th>Rép?</th><th></th><th></th><th></th></tr>
<% i = 0 %>
<% @qcm.choices.order(:id).each do |f| %>
  <%= form_for(f, url: qcm_update_choice_path(@qcm, f)) do |g| %>
    <tr>
      <td>
        -
      </td>
      <td>
        <%= g.text_field :ans %>
      </td>
      <td>
        <center>
        <% if f.ok %>
          <i class="icon-ok"></i>
        <% else %>
          <i class="icon-remove"></i>
        <% end %>
        </center>
      </td>
      <td>
        <%= g.submit "Modifier ce choix", class: "btn btn-primary" %>
      </td>
      <% unless @qcm.chapter.online && @qcm.online %>
        <td>
          <% if f.ok %>
            <% if @qcm.many_answers %>
              <%= link_to "Rendre ce choix erroné", qcm_switch_choice_path(@qcm, f) %>
            <% end %>
          <% else %>
            <%= link_to "Rendre ce choix correct", qcm_switch_choice_path(@qcm, f) %>
          <% end %>
        </td>
        <td>
          <%= link_to "Supprimer ce choix", qcm_remove_choice_path(@qcm, f) %>
        </td>
      <% end %>
    </tr>
  <% end %>
  <% i = i + 1 %>
<% end %>

<% unless @qcm.chapter.online && @qcm.online %>

<tr>

<%= form_for(:choice, url: qcm_add_choice_path(@qcm)) do |f| %>
  <td>
  </td>
  <td>
  <%= f.text_field :ans %>
  </td>
  <td>
  <center>
  <%= f.check_box :ok %>
  </center>
  </td>
  <td>
  <%= f.submit "Ajouter ce choix", class: "btn btn-primary" %>
  </td>
  <td>
  </td>
  <td>
  </td>
<% end %>

</tr>

<% end %>

</table>
