<% provide(:title, "Modifier les choix du QCM") %>
<h1>Modifier les choix d'un QCM</h1>
<%= @qcm.statement %>
<br/><br/>
<table cellpadding="5">
<tr><th>Choix</th><th>Rép?</th><th></th></tr>
<% @qcm.choices.each do |f| %>
  <tr>
  <td>
  <%= f.ans %>
  </td>
  <td>
  <center>
  <% if f.ok %>
    <i class="icon-ok"></i>
  <% else %>
    <i class="icon-remove"></i>
  <% end %>
  </center>
  </td>
  <td>
  <%= link_to "Supprimer ce choix", qcm_remove_choice_path(@qcm, f) %>
  </td>
  <td>
  <% if f.ok %>
    <% if @qcm.many_answers %>
      <%= link_to "Rendre ce choix erroné", qcm_switch_choice_path(@qcm, f) %>
    <% end %>
  <% else %>
    <%= link_to "Rendre ce choix correct", qcm_switch_choice_path(@qcm, f) %>
  <% end %>
  </td>
  </tr>
<% end %>

<tr>

<%= form_for(:choice, url: qcm_add_choice_path(@qcm)) do |f| %>
  <td>
  <%= f.text_field :ans %>
  </td>
  <td>
  <center>
  <%= f.check_box :ok %>
  </center>
  </td>
  <td>
  <%= f.submit "Ajouter ce choix", class: "btn btn-primary" %>
  </td>
  <td>
  </td>
<% end %>

</tr>
</table>

<center><%= link_to 'Retour au chapitre', chapter_path(@qcm.chapter, :type => 3, :which => @qcm.id) %></center>
