<% provide(:title, 'Créer un QCM') %>

<h1>
<span class="title-first">Théorie ></span>
<span class="title-second"><%= link_to @chapter.section.name, @chapter.section %> ></span>
<span class="title-third"><%= link_to @chapter.name, @chapter %> ></span>
Créer un QCM
</h1>

<%= form_for(@qcm, url: chapter_qcms_path) do |f| %>
  <%= render 'form', f: f, qcm: nil %>
  <%= f.submit "Créer", class: "btn btn-lg btn-primary" %>
<% end %>

<script>
Preview.Init();
Preview.Update();
</script>
