<div id="the" class="myoverflow" style="<%= 'margin-top:-12px;' if @contestsolution.official? %>">
  <% if !@contestsolution.official? %>
    <h4 style="margin-top:20px;">Score obtenu</h4>
    <center><div style="padding:3px; font-size:24px; border:1px solid #dddddd; background-color:#fffad2;"><%= @contestsolution.score if @contestsolution.score >= 0 %><%= '-' if @contestsolution.score < 0 %> / 7</span></center>
  <% end %>
  <%= render 'subjects/content', ms: @contestcorrection, kind: "contestcorrection" %>
</div>

<% if (@contestsolution.official? || @contestproblem.in_correction? || @contestproblem.in_recorrection?) && @contest.is_organized_by(current_user.sk) %>
  <% @ancientexte = session[:ancientexte] %>
  <% @ancienscore = session[:ancienscore] %>
  
  <div id="form" class="myoverflow" style="height:0px; <%= 'margin-top:12px;' if @contestsolution.official? %>">
  <%= render 'contestcorrections/edit' %>
  </div>
  
  <% if !session["ancientexte"].nil? %>
    <script>
      Rolling.develop_quick("");
    </script>
    <% session.delete("ancientexte") %>
    <% session.delete("ancienscore") %>
  <% end %>
<% end %>
