<% provide(:title, "Propositions d'étoiles") %>

<% show_all = false %>
<% if !current_user.sk.root? || (params.has_key?:show_all) %>
  <% show_all = true %>
<% end %>

<h1><%= title_1("Propositions d'étoiles") %>
<% if current_user.sk.root? %>
  <span style="font-size:20px;"> - 
  <% if show_all %>
    <%= link_to "Nouvelles propositions uniquement", starproposals_path %></span>
  <% else %>
    <%= link_to "Tout voir", starproposals_path(:show_all => 1) %></span>
  <% end %>
<% end %>
</h1>

<center>
  <%= will_paginate @starproposals, :style => "margin-top:-10px;", :class => "hidden-xs", :inner_window => 2 %>
  <%= will_paginate @starproposals, :style => "margin-top:15px; margin-bottom:15px;", :class => "visible-xs", :renderer => WillPaginate::ActionView::LinkRenderer, :previous_label => "&larr; Préc.", :next_label => "Suiv. &rarr;", :inner_window => 1 %>
</center>

<% if @starproposals.size == 0 %>
  <% if show_all %>
    Aucune proposition.
  <% else %>
    Aucune nouvelle proposition.
  <% end %>
<% else %>
  <table class="table table-bordered">
  <tr><th class="hidden-xs hidden-sm">Date</th><% if current_user.sk.root? %><th class="hidden-xs">Proposé par</th><% end %><th>Auteur</th><th style="text-align:center;">Type</th><% if show_all %><th style="text-align:center;">Statut</th><% end %><th></th></tr>
  <% @starproposals.each do |s| %>
    <tr class="<%= s.color_class %>">
    <td class="hidden-xs hidden-sm" style="width:200px;"><%= write_date(s.created_at) %></td>
    <% if current_user.sk.root? %>
      <td class="hidden-xs"><%= raw(s.user.linked_name) %></td>
    <% end %>
    <td><%= raw(s.submission.user.linked_name) %></td>
    <td style="text-align:center; width:100px;"><%= s.section_short_abbreviation %> <%= s.problem_level %></td>
    <% if show_all %>
      <td style="text-align:center; width:110px;"><%= s.status_string %></td>
    <% end %>
    <td style="text-align:center; width:54px;"><%= link_to "Voir", problem_path(s.submission.problem_id, :sub => s.submission_id) %></td>
    </tr>
  <% end %>
  </table>
<% end %>
