<!-- Style pour la barre de défilement dans le tableau -->
<style type="text/css">

html>body thead.fixed tr {
  display: block;
}

html>body tbody.scroll {
  display: block;
  max-height: 440px;
  overflow-y: scroll;
  width: 100%;
}
</style>

<script type="text/javascript">
var showCorrect = function () {
  document.getElementById("btn_correct").style.display = 'none';
  document.getElementById("all_correct").style.display = 'table';
  document.getElementById("all_correct").style.width = 'auto';
}
var showFalse = function () {
  document.getElementById("btn_false").style.display = 'none';
  document.getElementById("all_false").style.display = 'table';
  document.getElementById("all_false").style.width = 'auto';
}
</script>

<!-- Cette page affiche toutes les soumissions que l'utilisateur peut voir pour le problème problem -->

<!-- Si administrateur : peut voir toutes les soumissions correctes -->
<% if current_user.sk.admin %>
	<h3>Soumissions étoilées</h3>
	<% submissions = problem.submissions.where(visible: true, status: 2, star: true).order('created_at') %>
  <% if submissions.empty? %>
    <p>Aucune soumission.</p>
  <% else %>
    <table class="table table-bordered" style="width:auto;">
    <thead class="fixed">
    <tr><th style="text-align:center; width:70px;">Statut</th><th class="hidden-small" style="width:250px;">Date de la soumission</th><th style="width:250px;" class="hidden-small">Dernière activité</th><th style="width:200px;">Qui</th><th style="width:70px;"></th></tr>
    </thead>
    <tbody class="scroll">
    <% submissions.each do |s| %>
        <%= render 'submissions/showadmin', s: s, situation: 3 %>
      <% end %>
    </tbody>
    </table>
  <% end %>
  
  <h3>Autres soumissions correctes</h3>
  <% submissions = problem.submissions.includes(:user, :problem).where(visible: true, status: 2, star: false).order('created_at DESC') %>
  <% if submissions.empty? %>
    <p>Aucune soumission.</p>
  <% else %>
    <%= link_to "Afficher les autres soumissions correctes", "javascript:showCorrect()", id: "btn_correct" %>
    <table class="table table-bordered" style="width:840px; display:none;" id="all_correct">
    <thead class="fixed">
    <tr><th style="text-align:center; width:70px;">Statut</th><th class="hidden-small" style="width:250px;">Date de la soumission</th><th class="hidden-small" style="width:250px;">Dernière activité</th><th style="width:200px;">Qui</th><th style="width:70px;"></th></tr>
    </thead>
    <tbody class="scroll">
    <% submissions.each do |s| %>
        <%= render 'submissions/showadmin', s: s, situation: 3 %>
      <% end %>
    </tbody>
    </table>
  <% end %>

<!-- Si étudiant -->
<% else %>

  <!-- Dernières soumissions de l'étudiant en question -->
  <% @newsub = true %>
  <% submissions = problem.submissions.where('user_id = ? AND status >= 0', current_user.sk).order('created_at DESC') %>

  <% if !submissions.empty? %>
    <h3>Vos soumissions</h3>
    
    <table class="table table-bordered" style="width:auto;">
    <thead class="fixed">
    <tr><th style="text-align:center; width:70px;">Statut</th><th style="width:250px;">Date de la soumission</th><th style="width:250px;" class="hidden-xs">Dernière activité</th><th style="width:70px;"></th></tr>
    </thead>
    <tbody class="scroll">
    <% submissions.each do |s| %>
      <%= render 'submissions/showuser', s: s %>
      <% if s.status == 0 %>
        <% @newsub = false %>
      <% end %>
    <% end %>
    </tbody>
    </table>

  <% end %>

  <!-- Si l'étudiant a résolu le problème, on lui montre les autres soumissions -->
  <% if current_user.sk.pb_solved?(problem) %>
  
  	<h3>Autres soumissions, étoilées</h3>
    <% submissions = problem.submissions.where('user_id != ? AND status = 2 AND star = ?', current_user.sk, true).order('created_at DESC') %>

    <% if !submissions.empty? %>
      <table class="table table-bordered" style="width:auto;">
      <thead class="fixed">
      <tr><th style="text-align:center; width:70px;">Statut</th><th class="hidden-small" style="width:250px;">Date de la soumission</th><th class="hidden-small" style="width:250px;">Dernière activité</th><th style="width:200px;">Qui</th><th style="width:70px;"></tr>
      </thead>
      <tbody class="scroll">
      <% submissions.each do |s| %>
        <%= render 'submissions/showadmin', s: s, situation: 3 %>
      <% end %>
      </tbody>
      </table>
    <% else %>
    	Aucune soumission.
    <% end %>

    <h3>Autres soumissions, correctes</h3>
    <% submissions = problem.submissions.where('user_id != ? AND status = 2 AND star = ?', current_user.sk, false).order('created_at DESC') %>

    <% if !submissions.empty? %>
      <%= link_to "Afficher les autres soumissions correctes", "javascript:showCorrect()", id: "btn_correct" %>
      <table class="table table-bordered" style="width:auto; display:none;" id="all_correct">
      <thead class="fixed">
      <tr><th style="text-align:center; width:70px;">Statut</th><th class="hidden-small" style="width:250px;">Date de la soumission</th><th class="hidden-small" style="width:250px;">Dernière activité</th><th style="width:200px;">Qui</th><th style="width:70px;"></tr>
      </thead>
      <tbody class="scroll">
      <% submissions.each do |s| %>
        <%= render 'submissions/showadmin', s: s, situation: 3 %>
      <% end %>
      </tbody>
      </table>
    <% else %>
    	Aucune soumission.
    <% end %>

  <% end %>

<% end %>

<!-- Si administrateur ou correcteur (ayant résolu le problème) : peut voir toutes les soumissions erronées -->
<% if current_user.sk.admin || (current_user.sk.corrector && current_user.sk.pb_solved?(problem)) %>

	<h3>Soumissions erronées ou en attente</h3>
	<% submissions = problem.submissions.where('status != 2 AND visible = ?', true).order('created_at DESC') %>
  <% if submissions.empty? %>
    <p>Aucune soumission.</p>
  <% else %>
    <%= link_to "Afficher les soumissions erronées ou en attente", "javascript:showFalse()", id: "btn_false" %>
    <table class="table table-bordered" style="width:auto; display:none;" id="all_false">
    <thead class="fixed">
    <tr><th style="text-align:center; width:70px;">Statut</th><th class="hidden-small" style="width:250px;">Date de la soumission</th><th class="hidden-small" style="width:250px;">Dernière activité</th><th style="width:200px;">Qui</th><th style="width:70px;"></th></tr>
    </thead>
    <tbody class="scroll">
    <% submissions.each do |s| %>
        <%= render 'submissions/showadmin', s: s, situation: 3 %>
      <% end %>
    </tbody>
    </table>
  <% end %>

<% end %>
