<!-- Style pour la barre de défilement dans le tableau -->
<style type="text/css">

html>body thead.fixed tr {
	display: block;
}

html>body tbody.scroll {
	display: block;
	max-height: 440px;
	overflow-y: scroll;
	width: 100%;
}
</style>

<!-- Cette page affiche toutes les soumissions que l'utilisateur peut voir pour le problème problem -->

<!-- Si administrateur : peut voir toutes les soumissions correctes -->
<% if current_user.sk.admin %>
	<h3>Soumissions étoilées</h3>
	<% submissions = problem.submissions.where(visible: true, status: 2, star: true).order('created_at DESC') %>
  <% if submissions.empty? %>
    <p>Aucune soumission.</p>
  <% else %>
    <!-- Large -->
    <table class="table table-bordered hidden-sm hidden-xs" style="width:840px;">
    <thead class="fixed">
    <tr><th style="text-align:center; width:70px;">Statut</th><th style="width:250px;">Date de la soumission</th><th style="width:250px;">Dernière activité</th><th style="width:200px;">Qui</th><th style="width:70px;"></th></tr>
    </thead>
    <tbody class="scroll">
    <% submissions.each do |s| %>
        <% @situation = 3 %>
        <%= render 'submissions/showadmin', s: s, nom: true %>
      <% end %>
    </tbody>
    </table>

    <!-- Petit -->
    <table class="table table-bordered visible-sm visible-xs" style="width:340px;">
    <thead class="fixed">
    <tr><th style="text-align:center; width:70px;">Statut</th><th style="width:200px;">Qui</th><th style="width:70px;"></th></tr>
    </thead>
    <tbody class="scroll">
    <% submissions.each do |s| %>
        <% @situation = 3 %>
        <%= render 'submissions/showadmin', s: s, nom: true %>
      <% end %>
    </tbody>
    </table>
  <% end %>
  
  <h3>Soumissions correctes</h3>
  <% submissions = problem.submissions.where(visible: true, status: 2, star: false).order('created_at DESC') %>
  <% if submissions.empty? %>
    <p>Aucune soumission.</p>
  <% else %>
    <!-- Large -->
    <table class="table table-bordered hidden-sm hidden-xs" style="width:840px;">
    <thead class="fixed">
    <tr><th style="text-align:center; width:70px;">Statut</th><th style="width:250px;">Date de la soumission</th><th style="width:250px;">Dernière activité</th><th style="width:200px;">Qui</th><th style="width:70px;"></th></tr>
    </thead>
    <tbody class="scroll">
    <% submissions.each do |s| %>
        <% @situation = 3 %>
        <%= render 'submissions/showadmin', s: s, nom: true %>
      <% end %>
    </tbody>
    </table>

    <!-- Petit -->
    <table class="table table-bordered visible-sm visible-xs" style="width:340px;">
    <thead class="fixed">
    <tr><th style="text-align:center; width:70px;">Statut</th><th style="width:200px;">Qui</th><th style="width:70px;"></th></tr>
    </thead>
    <tbody class="scroll">
    <% submissions.each do |s| %>
        <% @situation = 3 %>
        <%= render 'submissions/showadmin', s: s, nom: true %>
      <% end %>
    </tbody>
    </table>
  <% end %>

<!-- Si étudiant -->
<% else %>

  <!-- Dernières soumissions de l'étudiant en question -->
  <h3>Vos dernières soumissions</h3>
  <% @newsub = true %>
  <% brouillon = false %>
  <% aucun = true %>
  <% encours = Submission.new %>
  <% submissions = problem.submissions.where('user_id = ?', current_user.sk).order('created_at') %>
  <% @new = true %>

  <!-- Large -->
  <% if !submissions.empty? %>
    <% @new = true %>
      <% submissions.each do |s| %>
        <% if s.status > 0 %>
          <% if aucun %>
            <table class="table table-bordered hidden-xs hidden-sm" style="width:640px;">
            <thead class="fixed">
            <tr><th style="text-align:center; width:70px;">Statut</th><th style="width:250px;">Date de la soumission</th><th style="width:250px;">Dernière activité</th><th style="width:70px;"></th></tr>
            </thead>
            <tbody class="scroll">
          <% end %>
          <%= render 'submissions/showuser', s: s, nom: false %>
          <% aucun = false %>
        <% elsif s.status == 0 %>
          <% @newsub = false %>
          <% encours = s %>
        <% else %>
          <% @brouillon = true %>
        <% end %>
      <% end %>
    <% if !aucun %>
      </tbody>
      </table>
    <% end %>
  <% end %>

  <!-- Petit -->
  <% aucun = true %>
  <% if !submissions.empty? %>
      <% submissions.each do |s| %>
        <% if s.status > 0 %>
          <% if aucun %>
            <table class="table table-bordered visible-xs visible-sm" style="width:390px;">
            <thead class="fixed">
            <tr><th style="text-align:center; width:70px;">Statut</th><th style="width:250px;">Date de la soumission</th><th style="width:70px;"></th></tr>
            </thead>
            <tbody class="scroll">
          <% end %>
          <%= render 'submissions/showuser', s: s, nom: false %>
          <% aucun = false %>
        <% end %>
      <% end %>
    <% if !aucun %>
      </tbody>
      </table>
    <% end %>
  <% end %>

  <% if aucun %>
    Aucune soumission précédente.<br/><br/>
  <% end %>

  <!-- Si il y a une soumission en cours, on l'affiche -->
  <% unless @newsub %>
    <h3>Soumission en cours</h3>
    <!-- Large -->
    <table class="table table-bordered hidden-xs hidden-sm" style="width:640px;">
    <thead class="fixed">
    <tr><th style="text-align:center; width:70px;">Statut</th><th style="width:250px;">Date de la soumission</th><th style="width:250px;">Dernière activité</th><th style="width:70px;"></th></tr>
    </thead>
    <tbody class="scroll">
    <%= render 'submissions/showuser', s: encours, nom: false %>
    </tbody>
    </table>

    <!-- Petit -->
    <table class="table table-bordered visible-xs visible-sm" style="width:390px;">
    <thead class="fixed">
    <tr><th style="text-align:center; width:70px;">Statut</th><th style="width:250px;">Date de la soumission</th><th style="width:70px;"></th></tr>
    </thead>
    <tbody class="scroll">
    <%= render 'submissions/showuser', s: encours, nom: false %>
    </tbody>
    </table>
  <% end %>

  <!-- Si l'étudiant a résolu le problème, on lui montre les autres soumissions -->
  <% if current_user.sk.pb_solved?(problem) %>
  
  	<h3>Soumissions étoilées</h3>
  	<% @new = false %>
    <% submissions = problem.submissions.where('user_id != ? AND status = 2 AND star = ?', current_user.sk, true).order('created_at DESC') %>

    <% if !submissions.empty? %>
      <!-- Large -->
      <table class="table table-bordered hidden-xs hidden-sm" style="width:840px;">
      <thead class="fixed">
      <tr><th style="text-align:center; width:70px;">Statut</th><th style="width:250px;">Date de la soumission</th><th style="width:250px;">Dernière activité</th><th style="width:200px;">Qui</th><th style="width:70px;"></tr>
      </thead>
      <tbody class="scroll">
      <% submissions.each do |s| %>
        <% @situation = 3 %>
        <%= render 'submissions/showadmin', s: s, nom: true %>
      <% end %>
      </tbody>
      </table>

      <!-- Petit -->
      <table class="table table-bordered visible-xs visible-sm" style="width:340px;">
      <thead class="fixed">
      <tr><th style="text-align:center; width:70px;">Statut</th><th style="width:200px;">Qui</th><th style="width:70px;"></th></tr>
      </thead>
      <tbody class="scroll">
      <% submissions.each do |s| %>
        <% @situation = 3 %>
        <%= render 'submissions/showadmin', s: s, nom: true %>
      <% end %>
      </tbody>
      </table>
    <% else %>
    	Aucune soumission.
    <% end %>

    <h3>Autres soumissions correctes</h3>
    <% @new = false %>
    <% submissions = problem.submissions.where('user_id != ? AND status = 2 AND star = ?', current_user.sk, false).order('created_at DESC') %>

    <% if !submissions.empty? %>
      <!-- Large -->
      <table class="table table-bordered hidden-xs hidden-sm" style="width:840px;">
      <thead class="fixed">
      <tr><th style="text-align:center; width:70px;">Statut</th><th style="width:250px;">Date de la soumission</th><th style="width:250px;">Dernière activité</th><th style="width:200px;">Qui</th><th style="width:70px;"></tr>
      </thead>
      <tbody class="scroll">
      <% submissions.each do |s| %>
        <% @situation = 3 %>
        <%= render 'submissions/showadmin', s: s, nom: true %>
      <% end %>
      </tbody>
      </table>

      <!-- Petit -->
      <table class="table table-bordered visible-xs visible-sm" style="width:340px;">
      <thead class="fixed">
      <tr><th style="text-align:center; width:70px;">Statut</th><th style="width:200px;">Qui</th><th style="width:70px;"></th></tr>
      </thead>
      <tbody class="scroll">
      <% submissions.each do |s| %>
        <% @situation = 3 %>
        <%= render 'submissions/showadmin', s: s, nom: true %>
      <% end %>
      </tbody>
      </table>
    <% else %>
    	Aucune soumission.
    <% end %>

  <% end %>

<% end %>

<!-- Si administrateur ou correcteur (ayant résolu le problème) : peut voir toutes les soumissions erronées -->
<% if current_user.sk.admin || (current_user.sk.corrector && current_user.sk.pb_solved?(problem)) %>

	<h3>Soumissions erronées ou en attente</h3>
  <% submissions = problem.submissions.where('status != 2 AND visible = ?', true).order('created_at DESC') %>
  <% if submissions.empty? %>
    <p>Aucune soumission.</p>
  <% else %>
    <!-- Large -->
    <table class="table table-bordered hidden-sm hidden-xs" style="width:840px;">
    <thead class="fixed">
    <tr><th style="text-align:center; width:70px;">Statut</th><th style="width:250px;">Date de la soumission</th><th style="width:250px;">Dernière activité</th><th style="width:200px;">Qui</th><th style="width:70px;"></th></tr>
    </thead>
    <tbody class="scroll">
    <% submissions.each do |s| %>
        <% @situation = 3 %>
        <%= render 'submissions/showadmin', s: s, nom: true %>
      <% end %>
    </tbody>
    </table>

    <!-- Petit -->
    <table class="table table-bordered visible-sm visible-xs" style="width:340px;">
    <thead class="fixed">
    <tr><th style="text-align:center; width:70px;">Statut</th><th style="width:200px;">Qui</th><th style="width:70px;"></th></tr>
    </thead>
    <tbody class="scroll">
    <% submissions.each do |s| %>
        <% @situation = 3 %>
        <%= render 'submissions/showadmin', s: s, nom: true %>
      <% end %>
    </tbody>
    </table>
  <% end %>

<% end %>
