<% mois = ["janvier", "février", "mars", "avril", "mai", "juin", "juillet", "août", "septembre", "octobre", "novembre", "décembre"] %>

<% if current_user.admin %>
  <h4>Soumissions à corriger</h4>
  <% submissions = problem.submissions.where('status = 0').order('created_at').paginate(page: params[:page]) %>
  <% if submissions.empty? %>
    <p>Aucune soumission à corriger.</p>
  <% else %>
    <%= will_paginate submissions %>
      <% submissions.each do |s| %>
        <% date = s.created_at.in_time_zone %>
        <p><i class="<%= s.icon %>" style="margin-right:10px;"></i><%= link_to s.user.name, s.user %> - <%= date.day %> <%= mois[date.month-1] %> <%= date.year %> - <%= date.hour %>h<%= "0" if date.min < 10 %><%= date.min %> : <%= link_to "Voir soumission", problem_submission_path(problem, s) %></p>
      <% end %>
    <%= will_paginate submissions %>
  <% end %>
<% else %>
  <br/>
  <h4>Soumissions précédentes</h4>
  <% @newsub = true %>
  <% aucun = true %>
  <% encours = Submission.new %>
  <% submissions = problem.submissions.where('user_id = ?', current_user).order('created_at') # Ne pas paginer, un type qui fait N > 30 soumissions mérite de voir les N soumissions qu'il a faites et de se faire chier avec sa roulette (et puis j'utilise le last submissions par la suite) %>
  
  <% if !submissions.empty? %>
      <% submissions.each do |s| %>
        <% if s.status != 0 %>
          <% date = s.created_at.in_time_zone %>
          <p><i class="<%= s.icon %>" style="margin-right:10px;"></i><%= date.day %> <%= mois[date.month-1] %> <%= date.year %> - <%= date.hour %>h<%= "0" if date.min < 10 %><%= date.min %> : 
          <%= link_to "Voir soumission et commentaire(s)", problem_submission_path(problem, s) %></p>
          <% aucun = false %>
        <% else %>
          <% @newsub = false %>
          <% encours = s %>
        <% end %>
      <% end %>      
  <% end %>
  
  <% if aucun %>
    <p>Aucune soumission précédente.</p>
  <% end %>
  
  <% unless @newsub %>
    <h4>Soumission en cours</h4>
    <% date = encours.created_at.in_time_zone %>
    <p><i class="<%= encours.icon %>" style="margin-right:10px;"></i><%= date.day %> <%= mois[date.month-1] %> <%= date.year %> - <%= date.hour %>h<%= "0" if date.min < 10 %><%= date.min %> : 
    <%= link_to "Voir soumission", problem_submission_path(problem, encours) %></p>
  <% end %>
  
<% end %>
