<%= render 'submissions/fix_header_script' %>

<script type="text/javascript">
var showCorrect = function() {
  document.getElementById("btn_correct").style.display = 'none';
  document.getElementById("loading_correct").style.display = 'block';
  $.getScript("<%= submissions_url(:problem_id => problem, :what => 0) %>").done(function(script, textStatus) {
    fixLastCellWidthOfTableHeader("all_correct");
  });
}
var showFalse = function() {
  document.getElementById("btn_false").style.display = 'none';
  document.getElementById("loading_false").style.display = 'block';
  $.getScript("<%= submissions_url(:problem_id => problem, :what => 1) %>").done(function(script, textStatus) {
    fixLastCellWidthOfTableHeader("all_false");
  });
}
</script>

<!-- Cette page affiche toutes les soumissions que l'utilisateur peut voir pour le problème problem -->

<!-- Si administrateur : peut voir toutes les soumissions correctes -->
<% if current_user.admin %>
  <h3>Soumissions étoilées</h3>
  <% submissions = problem.submissions.select(:id, :status, :star, :user_id, :problem_id, :intest, :created_at, :last_comment_time).includes(:user).where(:status => :correct, :star => true).order('created_at') %>
  <% if submissions.empty? %>
    <p>Aucune soumission.</p>
  <% else %>
    <table class="table table-bordered" style="width:auto;">
      <%= render 'submissions/line_header' %>
      <% submissions.each do |s| %>
        <%= render 'submissions/line', s: s %>
      <% end %>
    </table>
  <% end %>
  
  <h3>Autres soumissions correctes</h3>
  <p id="btn_correct"><%= link_to "Afficher les autres soumissions correctes", "javascript:showCorrect()" %></p>
  <p id="loading_correct" style="display:none;">Chargement...</p>
  <p id="none_correct" style="display:none;">Aucune soumission</p>
  <table class="table table-bordered fixed-scroll" style="width:840px; display:none;" id="all_correct">
  <thead>
    <%= render 'submissions/line_header', scroll: true %>
  </thead>
  <tbody>
    <!-- This body is filled via javascript, see showCorrect() -->
  </tbody>
  </table>

<!-- Si étudiant -->
<% else %>

  <!-- Dernières soumissions de l'étudiant en question -->
  <% @cansendnewsub = !current_user.has_no_submission_sanction %>
  <% @cansendnewcomment = !current_user.has_no_submission_sanction %>
  <% date_submission_allowed = nil %>
  <% nonewcomment_reason = nil %>
  <% submissions = problem.submissions.select(:id, :status, :star, :user_id, :problem_id, :intest, :created_at, :last_comment_time).where(:user => current_user).where.not(:status => :draft).order('created_at DESC') %>

  <% if !submissions.empty? %>
    <h3>Vos soumissions</h3>
    
    <table class="table table-bordered" style="width:auto;">
    <%= render 'submissions/line_header', hide_user: true %>
    <% submissions.each do |s| %>
      <%= render 'submissions/line', s: s, hide_user: true %>
      <% if s.waiting? || s.correct? %>
        <% @cansendnewsub = false %>
      <% elsif s.plagiarized? || s.closed? %>
        <% one_date_submission_allowed = s.date_new_submission_allowed %>
        <% if date_submission_allowed.nil? or date_submission_allowed < one_date_submission_allowed %>
          <% date_submission_allowed = one_date_submission_allowed %>
          <% nonewcomment_reason = s.status %>
        <% end %>
      <% end %>
    <% end %>
    </table>

  <% end %>
  
  <% if !date_submission_allowed.nil? and date_submission_allowed > Date.today and !current_user.pb_solved?(problem) %>
    <% @cansendnewsub = false %>
    <% @cansendnewcomment = false %>
    <% if nonewcomment_reason == "plagiarized" %>
      <p class="text-color-red">Vous avez soumis une solution plagiée à ce problème. Vous aurez à nouveau la possibilité de proposer une solution à partir du <%= write_date_only(date_submission_allowed) %>.</p>
    <% elsif nonewcomment_reason == "closed" %>
      <p class="text-color-red">Vous avez soumis une solution à ce problème qui a été clôturée par un correcteur. Vous aurez à nouveau la possibilité de proposer une solution à partir du <%= write_date_only(date_submission_allowed) %>.</p>
    <% end %>
  <% end %>

  <!-- Si l'étudiant a résolu le problème, on lui montre les autres soumissions -->
  <% if current_user.pb_solved?(problem) %>
  
    <h3>Autres soumissions, étoilées</h3>
    <% submissions = problem.submissions.select(:id, :status, :star, :user_id, :problem_id, :intest, :created_at, :last_comment_time).includes(:user).where.not(:user => current_user).where(:status => :correct, :star => true).order('created_at DESC') %>

    <% if !submissions.empty? %>
      <table class="table table-bordered" style="width:auto;">
      <%= render 'submissions/line_header' %>
      <% submissions.each do |s| %>
        <%= render 'submissions/line', s: s %>
      <% end %>
      </table>
    <% else %>
    	<p>Aucune soumission.</p>
    <% end %>

    <h3>Autres soumissions, correctes</h3>
    <p id="btn_correct"><%= link_to "Afficher les autres soumissions correctes", "javascript:showCorrect()" %></p>
    <p id="loading_correct" style="display:none;">Chargement...</p>
    <p id="none_correct" style="display:none;">Aucune soumission.</p>
    <table class="table table-bordered fixed-scroll" style="width:auto; display:none;" id="all_correct">
    <thead>
      <%= render 'submissions/line_header', scroll: true %>
    </thead>
    <tbody>
      <!-- This body is filled via javascript, see showCorrect() -->
    </tbody>
    </table>

  <% end %>

<% end %>

<!-- Si administrateur ou correcteur (ayant résolu le problème) : peut voir toutes les soumissions erronées, en attente ou plagiées -->
<% if current_user.admin || (current_user.corrector && current_user.pb_solved?(problem)) %>

  <h3>Soumissions erronées</h3>
  <p id="btn_false"><%= link_to "Afficher les soumissions erronées", "javascript:showFalse()" %></p>
  <p id="loading_false" style="display:none;">Chargement...</p>
  <p id="none_false" style="display:none;">Aucune soumission.</p>
  <table class="table table-bordered fixed-scroll" style="width:auto; display:none;" id="all_false">
  <thead>
    <%= render 'submissions/line_header', scroll: true %>
  </thead>
  <tbody>
    <!-- This body is filled via javascript, see showFalse() -->
  </tbody>
  </table>
  
  <% submissions = problem.submissions.select(:id, :status, :star, :user_id, :problem_id, :intest, :created_at, :last_comment_time).includes(:user).where.not(:user => current_user).where(:status => :waiting).order('created_at') %>
  
  <% if !submissions.empty? %>
    <h3>Soumissions en attente</h3>
    <table class="table table-bordered fixed-scroll" style="width:auto;" id="all_waiting">
    <thead>
      <%= render 'submissions/line_header', scroll: true %>
    </thead>
    <tbody>
      <% submissions.each do |s| %>
        <%= render 'submissions/line', s: s, show_num_waiting_days_from: "created_at" %>
      <% end %>
    </tbody>
    </table>
    <script>
      fixLastCellWidthOfTableHeader("all_waiting");
    </script>
  <% end %>

<% end %>
