<!-- Style pour la barre de défilement dans le tableau -->
<style type="text/css">

html>body thead.fixed tr {
  display: block;
}

html>body tbody.scroll {
  display: block;
  max-height: 440px;
  overflow-y: scroll;
  width: 100%;
}
</style>

<script type="text/javascript">
var showCorrect = function () {
  document.getElementById("btn_correct").style.display = 'none';
  document.getElementById("loading_correct").style.display = 'inline';
  $.getScript("<%= submissions_url(:problem_id => problem, :what => 0) %>");
}
var showFalse = function () {
  document.getElementById("btn_false").style.display = 'none';
  document.getElementById("loading_false").style.display = 'inline';
  $.getScript("<%= submissions_url(:problem_id => problem, :what => 1) %>");
}
</script>

<!-- Cette page affiche toutes les soumissions que l'utilisateur peut voir pour le problème problem -->

<!-- Si administrateur : peut voir toutes les soumissions correctes -->
<% if current_user.sk.admin %>
  <h3>Soumissions étoilées</h3>
  <% submissions = problem.submissions.select(:id, :status, :star, :user_id, :problem_id, :intest, :created_at, :last_comment_time).includes(:user).where(visible: true, status: 2, star: true).order('created_at') %>
  <% if submissions.empty? %>
    <p>Aucune soumission.</p>
  <% else %>
    <table class="table table-bordered" style="width:auto;">
    <thead class="fixed">
    <tr><th style="text-align:center; width:70px;">Statut</th><th class="hidden-small" style="width:250px;">Date de la soumission</th><th style="width:250px;" class="hidden-small">Dernière activité</th><th style="width:200px;">Qui</th><th style="width:70px;"></th></tr>
    </thead>
    <tbody class="scroll">
    <% submissions.each do |s| %>
        <%= render 'submissions/showline', s: s %>
      <% end %>
    </tbody>
    </table>
  <% end %>
  
  <h3>Autres soumissions correctes</h3>
  <%= link_to "Afficher les autres soumissions correctes", "javascript:showCorrect()", id: "btn_correct" %>
  <p id="loading_correct" style="display:none;">Chargement...</p>
  <p id="none_correct" style="display:none;">Aucune soumission</p>
  <table class="table table-bordered" style="width:840px; display:none;" id="all_correct">
  <thead class="fixed">
  <tr><th style="text-align:center; width:70px;">Statut</th><th class="hidden-small" style="width:250px;">Date de la soumission</th><th class="hidden-small" style="width:250px;">Dernière activité</th><th style="width:200px;">Qui</th><th style="width:70px;"></th></tr>
  </thead>
  <tbody class="scroll">
    <!-- This body is filled via javascript, see showCorrect() -->
  </tbody>
  </table>

<!-- Si étudiant -->
<% else %>

  <!-- Dernières soumissions de l'étudiant en question -->
  <% @cansendnewsub = true %>
  <% @cansendnewcomment = true %>
  <% date_submission_allowed = nil %>
  <% submissions = problem.submissions.select(:id, :status, :star, :user_id, :problem_id, :intest, :created_at, :last_comment_time).where('user_id = ? AND status >= 0', current_user.sk).order('created_at DESC') %>

  <% if !submissions.empty? %>
    <h3>Vos soumissions</h3>
    
    <table class="table table-bordered" style="width:auto;">
    <thead class="fixed">
    <tr><th style="text-align:center; width:70px;">Statut</th><th style="width:250px;">Date de la soumission</th><th style="width:250px;" class="hidden-xs">Dernière activité</th><th style="width:70px;"></th></tr>
    </thead>
    <tbody class="scroll">
    <% submissions.each do |s| %>
      <%= render 'submissions/showline', s: s, hide_user: true %>
      <% if s.status == 0 %>
        <!-- Solution en attente -->
        <% @cansendnewsub = false %>
      <% elsif s.status == 4 %>
        <!-- Solution plagiée -->
        <% one_date_submission_allowed = s.last_comment_time.to_date + 6.months %>
        <% if date_submission_allowed.nil? or date_submission_allowed < one_date_submission_allowed %>
          <% date_submission_allowed = one_date_submission_allowed %>
        <% end %>
      <% end %>
    <% end %>
    </tbody>
    </table>

  <% end %>
  
  <% if !date_submission_allowed.nil? and date_submission_allowed > Date.today %>
    <% @cansendnewsub = false %>
    <% @cansendnewcomment = false %>
    <span style="color:red;">Vous avez soumis une solution plagiée à ce problème. Vous aurez à nouveau la possibilité de proposer une solution à partir du <%= write_date_only(date_submission_allowed) %>.</span>
  <% end %>

  <!-- Si l'étudiant a résolu le problème, on lui montre les autres soumissions -->
  <% if current_user.sk.pb_solved?(problem) %>
  
    <h3>Autres soumissions, étoilées</h3>
    <% submissions = problem.submissions.select(:id, :status, :star, :user_id, :problem_id, :intest, :created_at, :last_comment_time).includes(:user).where('user_id != ? AND status = 2 AND star = ?', current_user.sk, true).order('created_at DESC') %>

    <% if !submissions.empty? %>
      <table class="table table-bordered" style="width:auto;">
      <thead class="fixed">
      <tr><th style="text-align:center; width:70px;">Statut</th><th class="hidden-small" style="width:250px;">Date de la soumission</th><th class="hidden-small" style="width:250px;">Dernière activité</th><th style="width:200px;">Qui</th><th style="width:70px;"></tr>
      </thead>
      <tbody class="scroll">
      <% submissions.each do |s| %>
        <%= render 'submissions/showline', s: s %>
      <% end %>
      </tbody>
      </table>
    <% else %>
    	<p>Aucune soumission.</p>
    <% end %>

    <h3>Autres soumissions, correctes</h3>
    <%= link_to "Afficher les autres soumissions correctes", "javascript:showCorrect()", id: "btn_correct" %>
    <p id="loading_correct" style="display:none;">Chargement...</p>
    <p id="none_correct" style="display:none;">Aucune soumission.</p>
    <table class="table table-bordered" style="width:auto; display:none;" id="all_correct">
    <thead class="fixed">
    <tr><th style="text-align:center; width:70px;">Statut</th><th class="hidden-small" style="width:250px;">Date de la soumission</th><th class="hidden-small" style="width:250px;">Dernière activité</th><th style="width:200px;">Qui</th><th style="width:70px;"></tr>
    </thead>
    <tbody class="scroll">
      <!-- This body is filled via javascript, see showCorrect() -->
    </tbody>
    </table>

  <% end %>

<% end %>

<!-- Si administrateur ou correcteur (ayant résolu le problème) : peut voir toutes les soumissions erronées, en attente ou plagiées -->
<% if current_user.sk.admin || (current_user.sk.corrector && current_user.sk.pb_solved?(problem)) %>

  <h3>Soumissions erronées</h3>
  <%= link_to "Afficher les soumissions erronées", "javascript:showFalse()", id: "btn_false" %>
  <p id="loading_false" style="display:none;">Chargement...</p>
  <p id="none_false" style="display:none;">Aucune soumission.</p>
  <table class="table table-bordered" style="width:auto; display:none;" id="all_false">
  <thead class="fixed">
  <tr><th style="text-align:center; width:70px;">Statut</th><th class="hidden-small" style="width:250px;">Date de la soumission</th><th class="hidden-small" style="width:250px;">Dernière activité</th><th style="width:200px;">Qui</th><th style="width:70px;"></th></tr>
  </thead>
  <tbody class="scroll">
    <!-- This body is filled via javascript, see showFalse() -->
  </tbody>
  </table>
  
  <% submissions = problem.submissions.select(:id, :status, :star, :user_id, :problem_id, :intest, :created_at, :last_comment_time).includes(:user).where('user_id != ? AND status = 0 AND visible = ?', current_user.sk, true).order('created_at') %>
  
  <% if !submissions.empty? %>
    <h3>Soumissions en attente</h3>
    <table class="table table-bordered" style="width:auto;">
    <thead class="fixed">
    <tr><th style="text-align:center; width:70px;">Statut</th><th class="hidden-small" style="width:250px;">Date de la soumission</th><th class="hidden-small" style="width:250px;">Dernière activité</th><th style="width:200px;">Qui</th><th style="width:70px;"></th></tr>
    </thead>
    <tbody class="scroll">
      <% submissions.each do |s| %>
        <%= render 'submissions/showline', s: s %>
      <% end %>
    </tbody>
    </table>
  <% end %>

<% end %>
