<script type="text/javascript">
var fixLastCellWidthOfTableHeader = function(table_id) {
  var t = document.getElementById(table_id);
  var h = t.getElementsByTagName("thead")[0];
  var b = t.getElementsByTagName("tbody")[0];
  var cells = h.getElementsByTagName("th");
  if (cells.length == 0) return;
  var last_cell = cells[cells.length-1];
  last_cell.style.width = (54+(b.offsetWidth - b.clientWidth)).toString() + "px";
}

var showCorrect = function() {
  document.getElementById("btn_correct").style.display = 'none';
  document.getElementById("loading_correct").style.display = 'block';
  $.getScript("<%= submissions_url(:problem_id => problem, :what => 0) %>").done(function(script, textStatus) {
    fixLastCellWidthOfTableHeader("all_correct");
  });
}
var showFalse = function() {
  document.getElementById("btn_false").style.display = 'none';
  document.getElementById("loading_false").style.display = 'block';
  $.getScript("<%= submissions_url(:problem_id => problem, :what => 1) %>").done(function(script, textStatus) {
    fixLastCellWidthOfTableHeader("all_false");
  });
}
</script>

<!-- Cette page affiche toutes les soumissions que l'utilisateur peut voir pour le problème problem -->

<!-- Si administrateur : peut voir toutes les soumissions correctes -->
<% if current_user.sk.admin %>
  <h3>Soumissions étoilées</h3>
  <% submissions = problem.submissions.select(:id, :status, :star, :user_id, :problem_id, :intest, :created_at, :last_comment_time).includes(:user).where(:visible => true, :status => :correct, :star => true).order('created_at') %>
  <% if submissions.empty? %>
    <p>Aucune soumission.</p>
  <% else %>
    <table class="table table-bordered" style="width:auto;">
    <tr><th class="text-center" style="width:70px;">Statut</th><th class="d-none d-lg-table-cell" style="width:250px;">Date de la soumission</th><th style="width:250px;" class="d-none d-lg-table-cell">Dernière activité</th><th style="width:200px;">Qui</th><th style="width:54px;"></th></tr>
      <% submissions.each do |s| %>
        <%= render 'submissions/showline', s: s %>
      <% end %>
    </table>
  <% end %>
  
  <h3>Autres soumissions correctes</h3>
  <p id="btn_correct"><%= link_to "Afficher les autres soumissions correctes", "javascript:showCorrect()" %></p>
  <p id="loading_correct" style="display:none;">Chargement...</p>
  <p id="none_correct" style="display:none;">Aucune soumission</p>
  <table class="table table-bordered fixed-scroll" style="width:840px; display:none;" id="all_correct">
  <thead>
  <tr><th class="text-center" style="width:70px;">Statut</th><th class="d-none d-lg-table-cell" style="width:250px;">Date de la soumission</th><th class="d-none d-lg-table-cell" style="width:250px;">Dernière activité</th><th style="width:200px;">Qui</th><th style="width:70px;"></th></tr>
  </thead>
  <tbody>
    <!-- This body is filled via javascript, see showCorrect() -->
  </tbody>
  </table>

<!-- Si étudiant -->
<% else %>

  <!-- Dernières soumissions de l'étudiant en question -->
  <% @cansendnewsub = true %>
  <% @cansendnewcomment = true %>
  <% date_submission_allowed = nil %>
  <% submissions = problem.submissions.select(:id, :status, :star, :user_id, :problem_id, :intest, :created_at, :last_comment_time).where('user_id = ? AND status != ?', current_user.sk, Submission.statuses[:draft]).order('created_at DESC') %>

  <% if !submissions.empty? %>
    <h3>Vos soumissions</h3>
    
    <table class="table table-bordered" style="width:auto;">
    <tr><th class="text-center" style="width:70px;">Statut</th><th style="width:250px;">Date de la soumission</th><th style="width:250px;" class="d-none d-sm-table-cell">Dernière activité</th><th style="width:54px;"></th></tr>
    <% submissions.each do |s| %>
      <%= render 'submissions/showline', s: s, hide_user: true %>
      <% if s.waiting? %>
        <% @cansendnewsub = false %>
      <% elsif s.plagiarized? %>
        <% one_date_submission_allowed = s.last_comment_time.to_date + 6.months %>
        <% if date_submission_allowed.nil? or date_submission_allowed < one_date_submission_allowed %>
          <% date_submission_allowed = one_date_submission_allowed %>
        <% end %>
      <% end %>
    <% end %>
    </table>

  <% end %>
  
  <% if !date_submission_allowed.nil? and date_submission_allowed > Date.today and !current_user.sk.pb_solved?(problem) %>
    <% @cansendnewsub = false %>
    <% @cansendnewcomment = false %>
    <p class="text-color-red">Vous avez soumis une solution plagiée à ce problème. Vous aurez à nouveau la possibilité de proposer une solution à partir du <%= write_date_only(date_submission_allowed) %>.</p>
  <% end %>

  <!-- Si l'étudiant a résolu le problème, on lui montre les autres soumissions -->
  <% if current_user.sk.pb_solved?(problem) %>
  
    <h3>Autres soumissions, étoilées</h3>
    <% submissions = problem.submissions.select(:id, :status, :star, :user_id, :problem_id, :intest, :created_at, :last_comment_time).includes(:user).where('user_id != ? AND status = ? AND star = ?', current_user.sk, Submission.statuses[:correct], true).order('created_at DESC') %>

    <% if !submissions.empty? %>
      <table class="table table-bordered" style="width:auto;">
      <tr><th class="text-center" style="width:70px;">Statut</th><th class="d-none d-lg-table-cell" style="width:250px;">Date de la soumission</th><th class="d-none d-lg-table-cell" style="width:250px;">Dernière activité</th><th style="width:200px;">Qui</th><th style="width:54px;"></tr>
      <% submissions.each do |s| %>
        <%= render 'submissions/showline', s: s %>
      <% end %>
      </table>
    <% else %>
    	<p>Aucune soumission.</p>
    <% end %>

    <h3>Autres soumissions, correctes</h3>
    <p id="btn_correct"><%= link_to "Afficher les autres soumissions correctes", "javascript:showCorrect()" %></p>
    <p id="loading_correct" style="display:none;">Chargement...</p>
    <p id="none_correct" style="display:none;">Aucune soumission.</p>
    <table class="table table-bordered fixed-scroll" style="width:auto; display:none;" id="all_correct">
    <thead>
    <tr><th class="text-center" style="width:70px;">Statut</th><th class="d-none d-lg-table-cell" style="width:250px;">Date de la soumission</th><th class="d-none d-lg-table-cell" style="width:250px;">Dernière activité</th><th style="width:200px;">Qui</th><th style="width:70px;"></tr>
    </thead>
    <tbody>
      <!-- This body is filled via javascript, see showCorrect() -->
    </tbody>
    </table>

  <% end %>

<% end %>

<!-- Si administrateur ou correcteur (ayant résolu le problème) : peut voir toutes les soumissions erronées, en attente ou plagiées -->
<% if current_user.sk.admin || (current_user.sk.corrector && current_user.sk.pb_solved?(problem)) %>

  <h3>Soumissions erronées</h3>
  <p id="btn_false"><%= link_to "Afficher les soumissions erronées", "javascript:showFalse()" %></p>
  <p id="loading_false" style="display:none;">Chargement...</p>
  <p id="none_false" style="display:none;">Aucune soumission.</p>
  <table class="table table-bordered fixed-scroll" style="width:auto; display:none;" id="all_false">
  <thead>
  <tr><th class="text-center" style="width:70px;">Statut</th><th class="d-none d-lg-table-cell" style="width:250px;">Date de la soumission</th><th class="d-none d-lg-table-cell" style="width:250px;">Dernière activité</th><th style="width:200px;">Qui</th><th style="width:70px;"></th></tr>
  </thead>
  <tbody>
    <!-- This body is filled via javascript, see showFalse() -->
  </tbody>
  </table>
  
  <% submissions = problem.submissions.select(:id, :status, :star, :user_id, :problem_id, :intest, :created_at, :last_comment_time).includes(:user).where('user_id != ? AND status = ? AND visible = ?', current_user.sk, Submission.statuses[:waiting], true).order('created_at') %>
  
  <% if !submissions.empty? %>
    <h3>Soumissions en attente</h3>
    <table class="table table-bordered fixed-scroll" style="width:auto;" id="all_waiting">
    <thead>
    <tr><th class="text-center" style="width:70px;">Statut</th><th class="d-none d-lg-table-cell" style="width:250px;">Date de la soumission</th><th class="d-none d-lg-table-cell" style="width:250px;">Dernière activité</th><th style="width:200px;">Qui</th><th style="width:70px;"></th></tr>
    </thead>
    <tbody>
      <% submissions.each do |s| %>
        <%= render 'submissions/showline', s: s %>
      <% end %>
    </tbody>
    </table>
    <script>
      fixLastCellWidthOfTableHeader("all_waiting");
    </script>
  <% end %>

<% end %>
