<% if !defined?(hide_user) %>
  <% hide_user = false %>
<% end %>
<% if !defined?(show_correctors) %>
  <% show_correctors = false %>
<% end %>
<% if !defined?(hidden_sub) %>
  <% hidden_sub = false %>
<% end %>
<% if !defined?(show_num_waiting_days_from) %>
  <% show_num_waiting_days_from = "" %>
<% end %>
<% if !defined?(hide_last_activity) %>
  <% hide_last_activity = false %>
<% end %>
<% if !defined?(show_section_and_level) %>
  <% show_section_and_level = false %>
<% end %>
<% if !defined?(highlight_this_sub) %>
  <% highlight_this_sub = false %>
<% end %>
<% if !defined?(show_content_length) %>
  <% show_content_length = false %>
<% end %>
<% if !defined?(matches) %>
  <% matches = nil %>
<% end %>
<% if hidden_sub %>
  <% color_class = "table-ld-secondary" %>
<% elsif highlight_this_sub %>
  <% color_class = "table-ld-warning" %>
<% elsif s.correct? %>
  <% color_class = "table-ld-success" %>
<% elsif s.wrong? || s.plagiarized? || s.closed? %>
  <% color_class = "table-ld-danger" %>
<% elsif s.waiting? %>
  <% if !(current_user.admin? || (current_user.corrector? && current_user != s.user)) || s.followings.first.nil? %>
    <% color_class = "table-ld-warning" %>
  <% elsif s.followings.first.user == current_user %>
    <% color_class = "table-ld-warning-greener" %>
  <% else %>
    <% color_class = "table-ld-warning-reder" %>
  <% end %>
<% elsif s.wrong_to_read? && current_user != s.user %>
  <% color_class = "table-ld-info" %>
<% elsif s.wrong_to_read? %>
  <% color_class = "table-ld-danger" %>
<% end %>
<tr id="line_sub_<%= s.id %>" class="<%= color_class %>">
<% if !show_num_waiting_days_from.empty? && !s.correct? %>
  <% today = DateTime.now.in_time_zone.to_date %>
  <% x = (today - s[show_num_waiting_days_from].in_time_zone.to_date).to_i %>
  <td class="sub-status <%= "fw-bold" if x >= 4 %> <%= "text-color-orange" if (x >= 4 and x <= 7) %> <%= "text-color-red" if x >= 8 %>">J-<%= x %></td>
<% else %>
  <td class="sub-status"><%= image_tag s.icon, :class => "svg-black-white" %></td>
<% end %>
<td class="sub-date <%= 'd-none d-lg-table-cell' unless hide_user %>"><%= write_date(s.created_at) %><%= " [T]" if s.intest? && !hidden_sub && (current_user.admin? || (current_user.corrector? && current_user != s.user)) %></td>
<% if !hide_last_activity %>
  <td class="sub-date <%= 'd-none d-lg-table-cell' unless hide_user %><%= 'd-none d-sm-table-cell' if hide_user %>"><%= write_date(s.last_comment_time) %></td>
<% end %>
<% if !hide_user %>
  <td class="sub-user"><%= s.user.linked_name unless hidden_sub %></td>
<% end %>
<% if show_correctors %>
  <td class="sub-user d-none d-lg-table-cell">
    <% premier = true %>
    <% s.followings.each do |f| %>
      <%= " - " if !premier %>
      <%= f.user.linked_name %>
      <% premier = false %>
    <% end %>
  </td>
<% end %>
<% if show_section_and_level %>
  <td class="sub-type"><%= "#{s.section_short_abbreviation} #{s.problem_level}" if !hidden_sub %></td>
<% end %>
<% if show_content_length %>
  <td class="sub-length d-none d-lg-table-cell"><%= s.content_length if !hidden_sub %></td>
<% end %>
<% if !matches.nil? %>
  <% matches.each do |m| %>
    <td class="sub-match"><%= image_tag v_icon, :class => "svg-black-white" if m %></td>
  <% end %>
<% end %>
<td class="sub-link"><%= link_to "Voir", problem_path(s.problem_id, :sub => s.id) if !hidden_sub %></td>
</tr>
