<SCRIPT language="javascript">
var i = 1;
function add() {

    //Create an input type dynamically.
    var element = document.createElement("input");
    var element2 = document.createElement("input");

    //Assign different attributes to the element.
    element.setAttribute("type", "file");
    element.setAttribute("name", "file"+i);

    element2.setAttribute("type", "hidden");
    element2.setAttribute("name", "hidden"+i);
    element2.setAttribute("value", "ok");

    var foo = document.getElementById("fooBar");
    var br = document.createElement("br");

    if(i == 1)
    {
      var avert = document.createElement("p");
      var bold = document.createElement("b");
      var text = document.createTextNode("Taille totale autorisée : 10 Mo. Type de fichiers autorisés : zip, pdf, doc, gif, jpg, png, bmp.");
      bold.appendChild(text);
      avert.appendChild(bold);
      foo.appendChild(avert);
      foo.appendChild(br);
    }

    i = i+1;

    //Append the element in page (in span).
    foo.appendChild(element2);
    foo.appendChild(element);
    foo.appendChild(br);
}
</SCRIPT>

<% r = 0 %>
<% if(params.has_key?:r) %>
  <% r = params[:r].to_i %>
<% end %>

<%= form_for :submission,
  url: problem_submissions_path(problem, :r => r), :html => { :multipart => true } do |f| %>

  <h3>Nouvelle soumission</h3>
  La façon la plus simple et la plus jolie de nous faire parvenir votre preuve est de l'écrire en $\LaTeX$. <br/><%= link_to "Ce chapitre", chapter_path(13), target: "blank" %> vous apprend à écrire toutes les formules mathématiques dont vous avez besoin en un rien de temps!<br/><br/>
  <div class="form-group">
  <div class="well" id="MathPreview"></div>
  <div class="well" id="MathBuffer" style="visibility:hidden; position:absolute; top:0; left: 0"></div>
  <% if @ancientexte.nil? %>
    <%= f.text_area :content, :class => "form-control", :style => "height:200px; margin-top:5px;", :id=>"MathInput", :onkeyup => "Preview.Update()", :disabled => (!signed_in? || current_user.other) %>
  <% else %>
    <%= f.text_area :content, :class => "form-control", :style => "height:200px; margin-top:5px;", :value => @ancientexte, :id=>"MathInput", :onkeyup => "PreviewSafe.Update()", :disabled => (!signed_in? || current_user.other) %>
  <% end %>
  </div>
  <span id="fooBar"></span>
  
  <input type="button" value="Ajouter une pièce jointe" onclick="add()" disabled="<%= 'true' if (!signed_in? || current_user.other) %>"/>
  <br /><br/>

  <%= f.submit "Soumettre cette solution", class: "btn btn-primary", :disabled => (!signed_in? || current_user.other) %>
  
  <% if !signed_in? %>
    <hr style="border-top:1px dashed lightgray;" />
    <center>Pour pouvoir faire une soumission, vous devez être connecté.</center>
  <% end %>
<% end %>

<script>
PreviewSafe.Init();
PreviewSafe.Update();
</script>
