<script>allowhide = false</script> <!-- This disables the "[hide][/hide]" in previewsafe -->

<% @submission = problem.submissions.where('user_id = ? AND status = -1', current_user.sk).first %>

<%= form_for :submission, url: problem_submission_update_brouillon_path(problem, @submission), :html => { :multipart => true } do |f| %>

  <!-- Nouvelle soumission -->
  <h3>Nouvelle soumission</h3>
  <%= render 'submissions/form', f: f %>

  <%= render 'subjects/files', s: @submission %>
  <span id="fooBar"></span>
  <input type="button" value="Ajouter une pièce jointe" onclick="Joint.add()"/>
  <br/><br/>

  <%= f.submit "Soumettre cette solution", class: "btn btn-primary", style: "margin-bottom:5px;", :disabled => current_user.other, data: { confirm: "Êtes-vous sûr de vouloir soumettre cette solution ?" } %>
  <%= f.submit "Enregistrer le brouillon", class: "btn btn-default btn-grey", style: "margin-bottom:5px;", :disabled => current_user.other %>
  <%= f.submit "Supprimer ce brouillon", class: "btn btn-danger", style: "margin-bottom:5px;", :disabled => current_user.other, data: { confirm: "Êtes-vous sûr de vouloir supprimer ce brouillon ?" } %>
<% end %>

<script>
PreviewSafe.Init();
PreviewSafe.Update();
</script>
