<script>allowhide = false</script> <!-- This disables the "[hide][/hide]" in previewsafe -->

<% @ancientexte = session[:ancientexte] %>
<% session[:ancientexte] = nil %>

<%= form_for :submission, url: problem_submissions_path(problem), :html => { :multipart => true } do |f| %>

  <!-- Nouvelle soumission -->
  <h3>Nouvelle soumission</h3>
  La façon la plus simple et la plus jolie de nous faire parvenir votre preuve est de l'écrire en $\LaTeX$. <br/><%= link_to "Ce chapitre", chapter_path(13), target: "blank" %> vous apprend à écrire toutes les formules mathématiques dont vous avez besoin en un rien de temps!<br/><br/>
  <div class="form-group">
  <div class="well" id="MathPreview"></div>
  <div class="well" id="MathBuffer" style="visibility:hidden; position:absolute; top:0; left: 0"></div>
  <%= render 'subjects/smiley', hiddentext: false %>
  <% if @ancientexte.nil? %>
    <%= f.text_area :content, :class => "form-control", :maxlength => "8000", :style => "height:200px; margin-top:5px;", :id=>"MathInput", :onkeyup => "safefakeupdate()", :disabled => (!signed_in? || current_user.other) %>
  <% else %>
    <%= f.text_area :content, :class => "form-control", :maxlength => "8000", :style => "height:200px; margin-top:5px;", :value => @ancientexte, :id=>"MathInput", :onkeyup => "safefakeupdate()", :disabled => (!signed_in? || current_user.other) %>
  <% end %>
  </div>

  <!-- Pièces jointes -->
  <span id="fooBar"></span>

  <input type="button" value="Ajouter une pièce jointe" onclick="Joint.add()" <%= 'disabled="disabled"' if current_user.other %> />
  <br/><br/>

  <%= f.submit "Soumettre cette solution", class: "btn btn-primary", :disabled => (!signed_in? || current_user.other), data: { confirm: "Etes-vous sûr de vouloir soumettre cette solution?" } %>
  <%= f.submit "Enregistrer comme brouillon", class: "btn btn-default btn-grey", :disabled => (!signed_in? || current_user.other) %>
  <% if !signed_in? %>
    <hr style="border-top:1px dashed lightgray;" />
    <center>Pour pouvoir faire une soumission, vous devez être connecté.</center>
  <% end %>
<% end %>

<script>
PreviewSafe.Init();
PreviewSafe.Update();
</script>
