<% @submission = problem.submissions.where(:user => current_user.sk, :status => :draft).first %>

<%= form_for :submission, url: submission_update_draft_path(@submission), :html => { :multipart => true } do |f| %>

  <!-- Nouvelle soumission -->
  <h3>Nouvelle soumission</h3>
  
  <%= render 'submissions/form', f: f, form_disabled: @no_new_submission %>
  <%= render 'shared/edit_files', s: @submission, disable: @no_new_submission %>
  
  <script type="text/javascript">
  function checkChecked() {
      var c = document.getElementById("consent").checked;
      var bt = document.getElementById("send-button");
      if(c && <%= !current_user.other && !@no_new_submission %>) { bt.disabled = false; }
      else { bt.disabled = true; }
  }
  </script>
  
  <div class="form-check mb-2">
  <label class="form-check-label">
    <input class="form-check-input" type="checkbox" id="consent" name="consent" value="1" <%= 'disabled="disabled"' if @no_new_submission %> onchange="javascript:checkChecked();">
    Je comprends que les correcteurs sont bénévoles et vont corriger cette solution pendant leur temps libre pour me faire progresser.
    Je certifie donc que cette solution est le fruit de mon travail et qu'elle ne provient pas d'une source extérieure.
    Je garantis également que cette solution n'a pas déjà été soumise via un autre compte Mathraining.<sup>1</sup>
  </label>
  </div>

  <%= f.submit "Soumettre cette solution", class: "btn btn-primary mb-1", id: "send-button", :disabled => !Rails.env.test?, data: { confirm: "Êtes-vous sûr de vouloir soumettre cette solution ?" } %>
  <%= f.submit "Enregistrer le brouillon", class: "btn btn-ld-light-dark mb-1", :disabled => (current_user.other || @no_new_submission) %>
  <%= f.submit "Supprimer ce brouillon", class: "btn btn-danger mb-1", :disabled => (current_user.other || @no_new_submission), data: { confirm: "Êtes-vous sûr de vouloir supprimer ce brouillon ?" } %>
<% end %>

<p class="mt-2" style="font-size:12px;"><sup>1</sup> Les administrateurs se réservent le droit de bloquer l'accès au site aux personnes qui ne sont pas à l'origine de leur solution ou qui renvoient une solution déjà envoyée sur un précédent compte.</p>
