<% if r[0] == @submission %>
  <% color_class = "info" %>
<% elsif r[0].correct? %>
  <% color_class = "success" %>
<% elsif r[0].waiting? %>
  <% color_class = "warning" %>
<% else %>
  <% color_class = "danger" %>
<% end %>
<tr class="table-ld-<%= color_class %>">
<td style="width:250px;"><%= write_date(r[0].created_at) %></td>
<td style="width:200px;"><%= raw(r[0].user.linked_name) %></td>
<td style="width:300px;"><%= r[1][0] %><b><u><%= @string_to_search %></u></b><%= r[1][1] %></td>
<td class="text-center" style="width:54px;"><%= link_to "Voir", problem_path(r[0].problem, :sub => r[0].id) %></td>
</tr>
