<% if r[0] == @submission %>
  <% color_class = "info" %>
<% elsif r[0].correct? %>
  <% color_class = "success" %>
<% elsif r[0].waiting? %>
  <% color_class = "warning" %>
<% else %>
  <% color_class = "danger" %>
<% end %>
<tr class="table-ld-<%= color_class %>">
<td class="sub-status d-none d-md-table-cell"><%= image_tag r[0].icon, :class => "svg-black-white" %></td>
<td class="sub-date d-none d-lg-table-cell"><%= write_date(r[0].created_at) %></td>
<td class="sub-user"><%= r[0].user.linked_name %></td>
<td style="width:300px;"><%= r[1][0] %><b><u><%= r[1][1] %></u></b><%= r[1][2] %></td>
<td class="sub-link"><%= link_to "Voir", problem_path(r[0].problem, :sub => r[0].id) %></td>
</tr>
