<% mois = ["janvier", "février", "mars", "avril", "mai", "juin", "juillet", "août", "septembre", "octobre", "novembre", "décembre"] %>


<% notif = current_user.sk.notifs.where(submission_id: @submission.id) %>
<% if notif.size > 0 && !current_user.other %>
  <% notif.first.delete %>
<% end %>

<h4>Soumission

<% case @submission.status %>
<% when 0 %>
  (en attente de correction)</h4>
<% when 1, 3 %>
  (erronée)</h4>
  <% if !current_user.sk.admin %>
  Vous pouvez tenter de corriger cette solution en postant un commentaire, ou soumettre une nouvelle solution.
  <% end %>
<% when 2 %>
  (correcte)</h4>
<% end %>

<% if current_user.sk.admin %>
  <% following = Following.find_by_user_id_and_submission_id(current_user.sk, @submission) %>
  <% unless following.nil? %>
    <% if following.read %>
      <%= link_to 'Marquer comme non lu', problem_submission_unread_path(@problem, @submission) %>
    <% else %>
      <%= link_to 'Marquer comme lu', problem_submission_read_path(@problem, @submission) %>
    <% end %>
  <% end %>
<% end %>


<table class="table table-bordered" style="margin-top:20px;">
<tr class="info">
<td style="font-size:20px; font-weight:bold; padding:15px; border-right:none;">
<% if @submission.user.admin %>
  <%= @submission.user.name %>
<% else %>
  <%= link_to @submission.user.name, @submission.user, {:style => "color:#{@submission.user.level[:color]}" } %>
<% end %>
</td>
<td style="text-align:right; font-size:20px; padding:15px; border-left:none;">
<% date = @submission.created_at.in_time_zone %>
<%= date.day %> <%= mois[date.month-1] %> <%= date.year %> à <%= date.hour %>h<%= "0" if date.min < 10 %><%= date.min %>
</td>
</tr>

<tr><td colspan="2" style="padding:15px;">
<div>
<%= raw((h @submission.content.gsub(/\\][ \r]*\n/,'\] ').gsub(/\$\$[ \r]*\n/,'$$ ')).gsub(/\n/, '<br>')) %>
<% if @submission.submissionfiles.size > 0 %>
  <% if @submission.submissionfiles.size == 1 %>
    <br/><br/><b>1 pièce jointe :</b><br/>
  <% else %>
    <br/><br/><b><%= @submission.submissionfiles.size %> pièces jointes :</b><br/>
  <% end %>
  <% @submission.submissionfiles.each do |f| %>
    <%= link_to f.file_file_name, download_submissionfile_path(f) %><br/>
  <% end %>
<% end %>
</div>
</td></tr>

</table>

<%= render 'corrections/index' %>
<% unless @submission.correct? %>
  <%= render 'corrections/new' %>
<% end %>
