<% mois = ["janvier", "février", "mars", "avril", "mai", "juin", "juillet", "août", "septembre", "octobre", "novembre", "décembre"] %>

<!-- Situation vaut : 3 si on est dans l'index des soumissions, 1 si on affiche tout, 2 si on affiche que celles auxquelles on participe -->

<!-- Couleur -->

<!-- Si status = 2 (accepté) : toujours vert -->
<% if s.status == 2 %>
  <tr class="success">
<!-- Si status = 1 (refusé) : toujours rouge, sauf si il y a eu un dernier commentaire non lu (situation = 2 et non lu) -->
<% elsif s.status == 1 && @situation == 2 && !current_user.sk.followings.where(:submission_id => s.id).first.read %>
  <tr class="warning">
<% elsif s.status == 1 %>
  <tr class="danger">
<!-- Si status = 0 (pas encore corrigé) : toujours jaune -->
<% elsif s.status == 0 %>
  <tr class="warning">
<!-- Si status = 3 (nouveau commentaire jamais lu) : jaune si on est dans la situation 2, bleu sinon et qu'on est admin, rouge si on est pas admin -->
<% elsif s.status == 3 && @situation == 2 %>
  <tr class="warning">
<% elsif s.status == 3 && current_user.sk.admin? %>
  <tr class="info">
<% elsif s.status == 3 %>
  <tr class="danger">
<% end %>

<!-- Icone -->
<td class="hidden-xs" style="width:70px; text-align:center;">
<%= image_tag s.icon %>
</td>

<!-- Date de soumission -->
<td class="hidden-xs">
<% date = s.created_at.in_time_zone %>
<%= date.day %> <%= mois[date.month-1] %> <%= date.year %> à <%= date.hour %>h<%= "0" if date.min < 10 %><%= date.min %>
<% if s.intest && current_user.sk.admin? %>
- <b> TEST</b>
<% end %>
</td>

<!-- Dernière activité -->
<td>
<% date = s.updated_at.in_time_zone %>
<%= date.day %> <%= mois[date.month-1] %> <%= date.year %> à <%= date.hour %>h<%= "0" if date.min < 10 %><%= date.min %>
</td>

<!-- Nom (si on l'affiche) -->
<% if nom %>
<td style="font-weight:bold;">
<% if s.user.admin %>
  <%= s.user.name %>
<% else %>
  <%= link_to s.user.name, s.user, {:style => "color:#{s.user.level[:color]}" } %>
  <%= "*" if s.user.wepion && current_user.sk.admin? %>
<% end %>
</td>

<!-- Correcteur (si on l'affiche) -->
<% if @situation == 1 %>
  <td class="hidden-xs">
  <% premier = true %>
  <% s.followings.each do |f| %>
    <%= " - " if !premier %>
    <%= "Réservé par " if s.status == 0 && premier %>
    <b><%= f.user.name %></b>
    <% premier = false %>
  <% end %>
  </td>
<% end %>

<!-- Voir -->
<% end %>
<td style="text-align:center;">
<%= link_to "Voir", problem_path(s.problem, :sub => s.id) %>
</td>

</tr>

