<% mois = ["janvier", "février", "mars", "avril", "mai", "juin", "juillet", "août", "septembre", "octobre", "novembre", "décembre"] %>


<% if s.status == 0  || (!@new && !current_user.sk.followings.where(:submission_id => s.id).first.read) %>
<tr class="warning">
<% elsif s.status == 2 %>
<tr class="success">
<% elsif s.status == 1 %>
<tr class="error">
<% else %>
<tr class="info">
<% end %>

<td>
<i class="<%= s.icon %>" style="margin-right:10px;"></i>
</td>
<td>
<% date = s.created_at.in_time_zone %>
<%= date.day %> <%= mois[date.month-1] %> <%= date.year %> à <%= date.hour %>h<%= "0" if date.min < 10 %><%= date.min %>
</td>
<td>
<% date = s.updated_at.in_time_zone %>
<%= date.day %> <%= mois[date.month-1] %> <%= date.year %> à <%= date.hour %>h<%= "0" if date.min < 10 %><%= date.min %>
</td>
<% if nom %>
<td style="font-weight:bold;">
<% if s.user.admin %>
  <%= s.user.name %>
<% else %>
  <%= link_to s.user.name, s.user, {:style => "color:#{s.user.level[:color]}" } %>
<% end %>
</td>
<% end %>
<td>
<%= link_to "Voir", problem_submission_path(s.problem, s) %>
</td>

</tr>
