<% abreviation = ["Comb.", "Géom.", "Th. Nb.", "Alg.", "Éq. Fct.", "Inég."] %>

<% today = DateTime.now.in_time_zone.to_date %>

<% if !(defined? hide_user) %>
  <% hide_user = false %>
<% end %>

<% if !(defined? show_correctors) %>
  <% show_correctors = false %>
<% end %>

<% if !(defined? hidden_sub) %>
  <% hidden_sub = false %>
<% end %>

<% if !(defined? show_num_waiting_days_from) %>
  <% show_num_waiting_days_from = "" %>
<% end %>

<% if !(defined? show_section_and_level) %>
  <% show_section_and_level = false %>
<% end %>

<% if !(defined? highlight_new_comments) %>
  <% highlight_new_comments = false %>
<% end %>

<!-- Couleur -->

<% if hidden_sub %>
  <tr style="background-color:#E0E0E0;"> <!-- Si non-visible : gris -->
<% elsif highlight_new_comments && @follow.include?(s.id) %>
  <tr class="warning"> <!-- Si nouveau commentaire non lu et highlight_new_comments = true : toujours jaune -->
<% elsif s.status == 2 %>
  <tr class="success"> <!-- Si status = 2 (accepté) : toujours vert -->
<% elsif s.status == 1 or s.status == 4 %>
  <tr class="danger"> <!-- Si status = 1 (refusé) ou status = 4 (plagiat) : toujours rouge -->
<% elsif s.status == 0 %>
  <% if !show_correctors || s.followings.first.nil? %>
    <tr class="warning"> <!-- Si status = 0 (pas encore corrigé) : toujours jaune, sauf si... -->
  <% elsif s.followings.first.user == current_user.sk %>
    <tr style="background-color:#f3ffd9;"> <!-- si réservé par moi : un peu plus vert -->
  <% else %>
    <tr style="background-color:#ffeedb;"> <!-- si réservé par quelqu'un d'autre : un peu plus rouge -->
  <% end %>
<!-- Si status = 3 (nouveau commentaire jamais lu) : bleu si on est correcteur, rouge si on est pas correcteur -->
<% elsif s.status == 3 && current_user.sk != s.user %>
  <tr class="info">
<% elsif s.status == 3 %>
  <tr class="danger">
<% end %>

<!-- Icone -->
<td style="width:70px; text-align:center;">
	<% if !show_num_waiting_days_from.empty? %>
	  <% x = (today - s[show_num_waiting_days_from].in_time_zone.to_date).to_i %>
	  <span style="<%= "font-weight:bold;" if x >= 3 %> <%= "color:orange;" if (x >= 5 and x < 7) %><%= "color:red;" if x >= 7 %>">J-<%= x %></span>
	<% else %>
	  <%= image_tag s.icon %>
	<% end %>
</td>

<!-- Date de soumission -->
<td class="hidden-small" style="width:250px;">
<%= write_date(s.created_at) %>
<% if s.intest && (current_user.sk.admin? || current_user.sk.corrector) %>
<b>(TEST)</b>
<% end %>
</td>

<!-- Dernière activité -->
<td class="hidden-small" style="width:250px;">
<%= write_date(s.lastcomment) %>
</td>

<!-- Si on peut voir cette ligne -->
<% if !hidden_sub %>
  <!-- Nom (si on l'affiche) -->
  <% if !hide_user %>
    <td style="width:200px">
      <%= raw(s.user.linked_name) %>
    </td>
  <% end %>

  <!-- Correcteur (si on l'affiche) -->
  <% if show_correctors %>
    <td class="hidden-small">
    <% premier = true %>
    <% s.followings.each do |f| %>
      <%= " - " if !premier %>
      <%= raw(f.user.linked_name) %>
      <% premier = false %>
    <% end %>
    </td>
  <% end %>

  <!-- Section et niveau (si on l'affiche) -->
  <% if show_section_and_level %>
    <td style="text-align:center; width:100px;">
      <%= abreviation[s.problem.section_id-1] %>
      <%= s.problem.level %>
    </td>
  <% end %>

<% else %>
  <td> </td>
  <td> </td>
  <td class="hidden-small"> </td>
<% end %>

<!-- Voir -->
<td style="text-align:center; width:54px;">
<%= link_to "Voir", problem_path(s.problem, :sub => s.id) if !hidden_sub %>
</td>

</tr>
