<!-- Enlève la notification de l'étudiant s'il faut -->
<% if @submission.user == current_user.sk && !current_user.other && current_user.sk.notified_submissions.exists?(@submission.id) %>
  <% current_user.sk.notified_submissions.destroy(@submission) %>
<% end %>

<script type="text/javascript">
var showStatement = function () {
  document.getElementById("link_show_statement").style.display = 'none';
  document.getElementById("link_hide_statement").style.display = 'inline';
  document.getElementById("statement_reminder").style.display = 'table';
}
var hideStatement = function () {
  document.getElementById("link_show_statement").style.display = 'inline';
  document.getElementById("link_hide_statement").style.display = 'none';
  document.getElementById("statement_reminder").style.display = 'none';
}
</script>

<% can_current_user_correct = (current_user.sk.admin? || (current_user.sk.corrector? && @resolu && @submission.user != current_user.sk)) %>

<% show_statement_reminder = false %>
<% if can_current_user_correct %>
  <% if @submission.waiting? %>
    <% show_statement_reminder = true %>
  <% else %>
    <% following = @submission.followings.where(:user_id => current_user.sk).first %>
    <% if !following.nil? %>
      <% show_statement_reminder = true %>
    <% end %>
  <% end %>
<% end %>

<% if !@submission.draft? %>
  <h3>Soumission
  <% if @submission.waiting? %>
    (en attente de correction)
  <% elsif @submission.wrong? or @submission.wrong_to_read? %>
    (erronée)
  <% elsif @submission.plagiarized? %>
    (plagiée)
  <% elsif @submission.closed? %>
    (clôturée)
  <% elsif @submission.correct? %>
    (correcte)
    <% if @submission.star %>
      <%= image_tag @submission.icon, :class => "svg-black-white" %>
    <% end %>
  <% end %>
  <% if show_statement_reminder %>
   -
    <a id="link_show_statement" href="javascript:showStatement()" style="font-size:16px;">Rappel de l'énoncé</a>
    <a id="link_hide_statement" href="javascript:hideStatement()" style="font-size:16px; display:none;">Cacher l'énoncé</a>
  <% end %>
  </h3>
<% else %>
  <h3>Brouillon</h3>
<% end %>

<!-- Si administrateur ou correcteur, on propose de réserver la soumission -->
<% disable_correction = false %>
<% reservation_case = 0 %>
<% corrector_name = "" %>
<% if current_user.sk != @submission.user && @submission.waiting? && @submission.visible %>
  <script type="text/javascript">
  var reserve = function () {
    $.getScript("<%= submission_reserve_url(@submission) %>");
  }
  var unreserve = function () {
    $.getScript("<%= submission_unreserve_url(@submission) %>");
  }
  </script>
  
  <% f = @submission.followings.first %>
  <% if f.nil? %>
    <% reservation_case = 1 %>
    <% disable_correction = true %>
  <% elsif f.user == current_user.sk %>
    <% reservation_case = 3 %>
  <% else %>
    <% reservation_case = 2 %>
    <% disable_correction = true %>
    <% corrector_name = f.user.name %>
  <% end %>
  
  <div id="div_reserved_by_nobody" class="mb-2 p-2 ps-3 bg-as-table-ld-warning" style="<%= "display:none;" if reservation_case != 1 %>">
    Avant de corriger cette soumission, prévenez les autres que vous vous en occupez !
    <div class="d-block d-lg-none" style="height:7px;"></div>
    <button class="btn btn-ld-light-dark ms-4" onclick="javascript:reserve()" <%= "disabled='disabled'" if current_user.other %>>Réserver cette soumission</button>
  </div>
  
  <div id="div_reserved_by_other" class="mb-2 p-2 ps-3 bg-as-table-ld-warning-reder" style="<%= "display:none;" if reservation_case != 2 %>">
    <span id="text_reserved_by_other">
      <% if reservation_case == 2 %>
        Cette soumission est en train d'être corrigée par <b><%= corrector_name %></b>.
        <% if current_user.sk.root? %>
          Réservée le <%= write_date(f.created_at) %>.
        <% end %>
      <% end %>
    </span>
    <div class="d-block d-lg-none" style="height:7px;"></div>
    <% if current_user.sk.root? %>
      <button class="btn btn-ld-light-dark ms-4" onclick="javascript:unreserve()" <%= "disabled='disabled'" if current_user.other %>>Annuler la réservation</button>
    <% end %>
  </div>
  
  <div id="div_reserved_by_me" class="mb-2 p-2 ps-3 bg-as-table-ld-warning-greener" style="<%= "display:none;" if reservation_case != 3 %>">
    Vous avez réservé cette soumission pour la corriger.
    <div class="d-block d-lg-none" style="height:7px;"></div>
    <button class="btn btn-ld-light-dark ms-4" onclick="javascript:unreserve()" <%= "disabled='disabled'" if current_user.other %>>Annuler ma réservation</button>
  </div>
<% end %>

<% if @submission.plagiarized? && current_user.sk == @submission.user %>
  Vous ne pouvez plus voir cette solution.
<% else %>

  <!-- Rappel de l'énoncé -->
  <% if show_statement_reminder %>
    <div id="statement_reminder" class="grey-box mb-1 p-2" style="display:none; width:100%;">
    <%= raw(htmlise(@problem.statement)) %>
    </div>
  <% end %>

  <!-- Affichage de la soumission -->
  <div class="myoverflow">
  <%= render 'shared/post', ms: @submission, kind: "submission", reduce_margin_top: true %>
  </div>

  <!-- Si soumission en test avec score, on affiche le score -->
  <% if @submission.intest && @submission.score != -1 && (can_current_user_correct || current_user.sk == @submission.user) %>

    <h4 class="mt-3">Score obtenu</h4>
    <center><div class="bg-as-table-ld-warning p-1 fs-3"><%= @submission.score %> / 7</center>

    <% if current_user.sk.root? %>
      <div class="text-center mt-2 mb-n2">
      <a href='#' id='showform' onclick='document.getElementById("formulaire").style.display="inline"; return false;' style='display:inline;'>Modifier ce score</a>
      <span id='formulaire' style="display:none;">
      <%= form_tag submission_update_score_path(@submission), :method => :put, :class => "mt-1" do %>
        Nouveau score :
        <%= number_field_tag "new_score", @submission.score, :min => 0, :max => 7, :style => "width:50px;" %>
        <%= submit_tag "Modifier", data: (Rails.env.test? ? {} : { confirm: "Êtes-vous sûr de vouloir modifier le score obtenu ?"}) %>
      <% end %>
      </span>
      </div>
    <% end %>
  <% end %>

  <!-- Affichage des corrections -->
  <% unless @submission.draft? %>
    <%= render 'corrections/index' %>
  <% end %>

  <!-- Marquer comme lu ou non lu -->
  <% if can_current_user_correct && !@submission.draft? && !@submission.waiting? %>
    <!-- <% following = Following.find_by_user_id_and_submission_id(current_user.sk, @submission) %> NE MARCHE PLUS -->
    <% following = @submission.followings.where(:user_id => current_user.sk).first %>
    <% if !following.nil? %>
      <% if following.read %>
        <center><%= link_to 'Marquer comme non lu', submission_unread_path(@submission), :method => :put, :class => "btn btn-ld-light-dark mb-3", :disabled => current_user.other %></center>
      <% else %>
        <center><%= link_to 'Marquer comme lu', submission_read_path(@submission), :method => :put, :class => "btn btn-ld-light-dark mb-3", :disabled => current_user.other %></center>
      <% end %>
    <% end %>
  <% end %>
  
  <!-- Warning quand un extrait d'une solution externe est incluse dans la soumission ou un commentaire -->
  <% if can_current_user_correct %>
    <% user_contents = [@submission.content] %>
    <% @submission.corrections.where(:user => @submission.user).each do |c| %>
      <% user_contents.push(c.content) %>
    <% end %>
    <% @problem.externalsolutions.each do |e| %>
      <% matching_extracts = [] %>
      <% e.extracts.each do |extract| %>
        <% user_contents.each do |content| %>
          <% if extract.is_included_in(content) %>
            <% matching_extracts.push(extract) %>
            <% break %>
          <% end %>
        <% end %>
      <% end %>
      <% if matching_extracts.size > 0 %>
        <% url_shortened = (e.url.size > 40 ? e.url[0,37] + "..." : e.url) %>
        <div class="mb-3 p-2 px-3 bg-as-table-ld-warning-reder"><span class="fw-bold text-decoration-underline">Avertissement</span> : Certains extraits de cette solution proviennent de <%= link_to url_shortened, e.url, :target => "_blank" %> :
        <ul class="mb-1">
          <% matching_extracts.each do |m| %>
          <li><%= m.text %></li>
          <% end %>
        </ul>
        Vérifiez s'il s'agit d'un plagiat et soumettez une suspicion de plagiat si c'est le cas !
        </div>
      <% end %>
    <% end %>
  <% end %>

  <!-- Warning quand l'utilisateur a soumis une solution ultérieurement -->
  <% if can_current_user_correct && (@submission.wrong? || @submission.wrong_to_read?) %>
    <% later_submission = @problem.submissions.where("user_id = ? AND created_at > ? AND id != ? AND visible = ?", @submission.user, @submission.created_at, @submission.id, true).order("created_at").last %>
    <% if !later_submission.nil? %>
      <div class="mb-3 p-2 px-3 bg-as-table-ld-warning-reder"><span class="fw-bold text-decoration-underline">Avertissement</span> : <%= @submission.user.name %> a posté une <%= link_to "nouvelle soumission", problem_path(@problem, :sub => later_submission) %> à ce problème le <%= write_date(later_submission.created_at) %>.</div>
    <% end %>
  <% end %>
  
  <!-- Warning quand l'utilisateur a déjà soumis une solution plagiée -->
  <% if can_current_user_correct && !@submission.correct? && !@submission.plagiarized? %>
    <% plagiarized_submission = @problem.submissions.where(:user => @submission.user, :status => :plagiarized).order(:created_at).last %>
    <% if !plagiarized_submission.nil? %>
      <div class="mb-3 p-2 px-3 bg-as-table-ld-warning-reder"><span class="fw-bold text-decoration-underline">Avertissement</span> : <%= @submission.user.name %> a posté une <%= link_to "solution plagiée", problem_path(@problem, :sub => plagiarized_submission) %> à ce problème le <%= write_date(plagiarized_submission.created_at) %>.</div>
    <% end %>
  <% end %>
  
  <!-- Warning quand l'utilisateur a déjà soumis une solution clôturée -->
  <% if can_current_user_correct && !@submission.correct? && !@submission.closed? %>
    <% closed_submission = @problem.submissions.where(:user => @submission.user, :status => :closed).order(:created_at).last %>
    <% if !closed_submission.nil? %>
      <div class="mb-3 p-2 px-3 bg-as-table-ld-warning-reder"><span class="fw-bold text-decoration-underline">Avertissement</span> : <%= @submission.user.name %> a posté une <%= link_to "solution clôturée", problem_path(@problem, :sub => closed_submission) %> à ce problème le <%= write_date(closed_submission.created_at) %>. Vérifiez qu'un effort a été fait depuis cette soumission !</div>
    <% end %>
  <% end %>

  <!-- Formulaire pour nouvelle correction -->
  <% if can_current_user_correct && !@submission.visible && @submission.intest %>
    <p>Cette soumission fait partie d'un test virtuel qui n'est pas terminé. Vous ne pourrez la corriger qu'une fois le temps de celui-ci écoulé.</p>
  <% elsif current_user.sk == @submission.user && @submission.intest && @submission.score == -1 %>
    <p>Cette solution fait partie d'un test et n'a pas encore été corrigée. Vous pourrez la commenter une fois que cela aura été fait.</p>
  <% elsif can_current_user_correct && @submission.plagiarized? %>
    <p class="text-color-red">Cette solution a été plagiée et n'est plus visible par l'étudiant.</p>
  <% elsif current_user.sk == @submission.user && @submission.closed? %>
    <p class="text-color-red">Cette solution a été clôturée par un correcteur.</p>
  <% elsif can_current_user_correct && @submission.closed? %>
    <p class="text-color-red">Cette solution a été clôturée.</p>
  <% elsif (can_current_user_correct || (current_user.sk == @submission.user && @cansendnewcomment)) && !@submission.draft? %>
    <%= render 'corrections/new', disable_correction: disable_correction %>
  <% end %>

<% end %>

<!-- Supprimer la soumission : pas possible si correcte -->
<% if current_user.sk.root? && !@submission.correct? && !@submission.draft? %>
  <p class="text-center">
  <%= link_to 'Supprimer cette soumission', @submission, method: :delete, data: { confirm: "Êtes-vous sûr de vouloir supprimer cette soumission ? Ne faites-cela que si celle-ci n'est pas vraiment une soumission (par exemple si l'étudiant signale une erreur)." }, :class => "text-color-red" %>
  </p>
<% end %>

<!-- Repasser la soumission comme erronée (root ou correcteur qui vient d'accepter) -->
<% if @submission.correct? %>
  <% ten_minutes_ago = DateTime.now - 10.minutes %>
  <% if current_user.sk.root? || (can_current_user_correct && @submission.corrections.where(:user => current_user.sk).where("created_at > ?", ten_minutes_ago).count > 0) %>
    <% sp = Solvedproblem.where(:user => @submission.user, :problem => @problem).first %>
    <!-- NB: sp.nil? can happen in test environment only -->
    <% if current_user.sk.root? || (!sp.nil? && sp.correction_time > ten_minutes_ago) %>
      <p class="text-center">
      <%= link_to 'Marquer comme erronée', submission_uncorrect_path(@submission), data: (Rails.env.test? ? {} : { confirm: "Êtes-vous sûr de vouloir marquer cette soumission comme erronée ?#{ " Les propositions d'étoiles seront automatiquement supprimées !" if @submission.starproposals.count > 0 }" }), :method => :put, :class => "text-color-red" %>
      </p>
    <% end %>
  <% end %>
<% end %>

<% if can_current_user_correct %>
  <% if @submission.correct? %>
    <!-- Propositions d'étoiles + Bouton direct pour étoiler (pour root) -->
    <%= render 'starproposals/show' %>    
  <% end %>
  
  <!-- Suspicions de plagiat -->
  <%= render 'suspicions/show' %>
  
  <!-- Chercher un possible plagiat -->
  <%= render 'submissions/search_string' %>
<% end %>
