<% mois = ["janvier", "février", "mars", "avril", "mai", "juin", "juillet", "août", "septembre", "octobre", "novembre", "décembre"] %>

<% date = s.created_at.in_time_zone %>


<% if s.status == 0  || (!@new && !current_user.followings.where(:submission_id => s.id).first.read) %>
<tr class="warning">
<% elsif s.status == 2 %>
<tr class="success">
<% elsif s.status == 1 || !@new %>
<tr class="error">
<% else %>
<tr class="info">
<% end %>

<td>
<i class="<%= s.icon %>" style="margin-right:10px;"></i>
</td>
<td>
<%= date.day %> <%= mois[date.month-1] %> <%= date.year %>
</td>
<td>
<%= date.hour %>h<%= "0" if date.min < 10 %><%= date.min %>
</td>
<td>
<%= link_to s.user.name, s.user %>
</td>
<td>
<%= link_to "Voir", problem_submission_path(s.problem, s) %>
</td>

</tr>
