<% def color_of(user) %>
  <% if user.admin %>
    <% return "#000000" %>
  <% end %>
  <% actualrating = user.point.rating %>
  <% i = 0 %>
  <% actuallevel = 0 %>
  <% @niveaux.each do |n| %>
    <% if n[:pt] <= actualrating %>
      <% actuallevel = i %>
    <% end %>
    <% i = i+1 %>
  <% end %>
  <% return @niveaux[actuallevel][:color] %>
<% end %>

<% mois = ["janvier", "février", "mars", "avril", "mai", "juin", "juillet", "août", "septembre", "octobre", "novembre", "décembre"] %>


<% if s.status == 0  || (!@new && !current_user.followings.where(:submission_id => s.id).first.read) %>
<tr class="warning">
<% elsif s.status == 2 %>
<tr class="success">
<% elsif s.status == 1 %>
<tr class="error">
<% else %>
<tr class="info">
<% end %>

<td>
<i class="<%= s.icon %>" style="margin-right:10px;"></i>
</td>
<td>
<% date = s.created_at.in_time_zone %>
<%= date.day %> <%= mois[date.month-1] %> <%= date.year %> à <%= date.hour %>h<%= "0" if date.min < 10 %><%= date.min %>
</td>
<td>
<% date = s.updated_at.in_time_zone %>
<%= date.day %> <%= mois[date.month-1] %> <%= date.year %> à <%= date.hour %>h<%= "0" if date.min < 10 %><%= date.min %>
</td>
<% if current_user.admin %>
<td style="font-weight:bold;">
<%= link_to s.user.name, s.user, {:style => "color:#{color_of(s.user)}" } %>
</td>
<% end %>
<td>
<%= link_to "Voir", problem_submission_path(s.problem, s) %>
</td>

</tr>
