<!-- Enlève la notification de l'étudiant s'il faut -->
<% if @submission.user == current_user.sk %>
	<% notif = current_user.sk.notifs.where(submission_id: @submission.id) %>
	<% if notif.size > 0 && !current_user.other %>
  	<% notif.first.delete %>
	<% end %>
<% end %>

<script type="text/javascript">
var showStatement = function () {
  document.getElementById("link_show_statement").style.display = 'none';
  document.getElementById("link_hide_statement").style.display = 'inline';
  document.getElementById("statement_reminder").style.display = 'table';
}
var hideStatement = function () {
  document.getElementById("link_show_statement").style.display = 'inline';
  document.getElementById("link_hide_statement").style.display = 'none';
  document.getElementById("statement_reminder").style.display = 'none';
}
</script>

<% show_statement_reminder = false %>
<% if current_user.sk.admin? || (current_user.sk.corrector? && @resolu && current_user.sk != @submission.user) %>
  <% if @submission.waiting? %>
    <% show_statement_reminder = true %>
  <% else %>
    <% following = @submission.followings.where(:user_id => current_user.sk).first %>
    <% if !following.nil? %>
      <% show_statement_reminder = true %>
    <% end %>
  <% end %>
<% end %>

<% if !@submission.draft? %>
  <h3>Soumission
  <% if @submission.waiting? %>
    (en attente de correction)
  <% elsif @submission.wrong? or @submission.wrong_to_read? %>
    (erronée)
  <% elsif @submission.plagiarized? %>
    (plagiée)
  <% elsif @submission.correct? %>
    (correcte)
    <% if @submission.star %>
      <%= image_tag @submission.icon %>
    <% end %>
  <% end %>
  <% if show_statement_reminder %>
   -
    <a id="link_show_statement" href="javascript:showStatement()" style="font-size:16px;">Rappel de l'énoncé</a>
    <a id="link_hide_statement" href="javascript:hideStatement()" style="font-size:16px; display:none;">Cacher l'énoncé</a>
  <% end %>
  </h3>
<% else %>
  <h3>Brouillon</h3>
<% end %>

<!-- Si administrateur ou correcteur, on propose de réserver la soumission -->
<% @unactivate = 0 %>
<% reservation_case = 0 %>
<% corrector_name = "" %>
<% if current_user.sk != @submission.user && @submission.waiting? && @submission.visible %>
  <script type="text/javascript">
  var reserve = function () {
    $.getScript("<%= reserve_url(:submission_id => @submission) %>");
  }
  var unreserve = function () {
    $.getScript("<%= unreserve_url(:submission_id => @submission) %>");
  }
  </script>
  
  <% f = @submission.followings.first %>
  <% if f.nil? %>
    <% reservation_case = 1 %>
    <% @unactivate = 1 %>
  <% elsif f.user == current_user.sk %>
    <% reservation_case = 3 %>
  <% else %>
    <% reservation_case = 2 %>
    <% @unactivate = 2 %>
    <% corrector_name = f.user.name %>
  <% end %>
  
  <div id="correct1" style="background-color:#fffad2; padding:10px; border:1px solid #dddddd;
; <%= "display:none;" if reservation_case != 1 %>">
    Avant de corriger cette soumission, prévenez les autres que vous vous en occupez !
    <div class="hidden-large" style="height:7px;"></div>
    <button class="btn btn-default btn-grey" style="margin-left:30px;" onclick="javascript:reserve()" <%= "disabled='disabled'" if current_user.other %>>Réserver cette soumission</button>
  </div>
  
  <div id="correct2" style="background-color:#ffd9de; padding:10px; border:1px solid #dddddd; <%= "display:none;" if reservation_case != 2 %>">
    <span id="correct2_text">
      <% if reservation_case == 2 %>
        Cette soumission est en train d'être corrigée par <b><%= corrector_name %></b>.
        <% if current_user.sk.root? %>
          Elle a été réservée le <%= write_date(f.created_at) %>.
        <% end %>
      <% end %>
    </span>
    <div class="hidden-large" style="height:7px;"></div>
    <% if current_user.sk.root? %>
      <button class="btn btn-default btn-grey" style="margin-left:30px;" onclick="javascript:unreserve()" <%= "disabled='disabled'" if current_user.other %>>Annuler la réservation</button>
    <% end %>
  </div>
  
  <div id="correct3" style="background-color:#d7efd9; padding:10px; border:1px solid #dddddd; <%= "display:none;" if reservation_case != 3 %>">
    Vous avez réservé cette soumission pour la corriger.
    <div class="hidden-large" style="height:7px;"></div>
    <button class="btn btn-default btn-grey" style="margin-left:30px;" onclick="javascript:unreserve()" <%= "disabled='disabled'" if current_user.other %>>Annuler ma réservation</button>
  </div>
<% end %>

<% if @submission.plagiarized? && current_user.sk == @submission.user %>
  Vous ne pouvez plus voir cette solution.
<% else %>

  <!-- Rappel de l'énoncé -->
  <% if show_statement_reminder %>
    <table id="statement_reminder" class="table table-bordered greyy" style="margin-bottom:0px!important; margin-top:20px; display:none;">
    <tr><td style="padding:10px; background-color:#f0f0f0;"><%= raw(htmlise(@problem.statement)) %></td></tr>
    </table>
  <% end %>

  <!-- Affichage de la soumission -->
  <div class="myoverflow">
  <%= render 'subjects/content', ms: @submission, kind: "submission" %>
  </div>

  <!-- Si soumission en test avec score, on affiche le score -->
  <% if @submission.intest && @submission.score != -1 && (current_user.sk.admin? || current_user.sk.corrector? || current_user.sk == @submission.user) %>
    <br/>
    <h4>Score obtenu</h4>
    <center><div style="padding:3px; font-size:24px; border:1px solid #dddddd; background-color:#fffad2;"><%= @submission.score %> / 7</center>

    <% if current_user.sk.root? %>
      <div style="text-align:center; margin-top:10px; margin-bottom:-10px;">
      <a href='#' id='showform' onclick='document.getElementById("formulaire").style.display="inline"; return false;' style='display:inline;'>Modifier ce score</a>
      <span id='formulaire' style="display:none;">
      <%= form_tag problem_submission_update_score_path(@problem, @submission), :method => :put, :class => "form-inline", :style => "margin-top:5px;" do %>
        Nouveau score :
        <%= number_field_tag "new_score", @submission.score, min: 0, max: 7 %>
        <%= submit_tag "Modifier", data: (Rails.env.test? ? nil : { confirm: "Êtes-vous sûr de vouloir modifier le score obtenu ?"}) %>
      <% end %>
      </span>
      </div>
    <% end %>
  <% end %>

  <!-- Affichage des corrections -->
  <% unless @submission.draft? %>
    <%= render 'corrections/index' %>
  <% end %>

  <!-- Marquer comme lu ou non lu -->
  <% if (current_user.sk.admin || (current_user.sk.corrector && @resolu && current_user.sk != @submission.user)) && !@submission.draft? %>
    <!-- <% following = Following.find_by_user_id_and_submission_id(current_user.sk, @submission) %> NE MARCHE PLUS -->
    <% following = @submission.followings.where(:user_id => current_user.sk).first %>
    <% if !following.nil? %>
      <% if following.read %>
        <br/><center><%= link_to 'Marquer comme non lu', problem_submission_unread_path(@problem, @submission), :method => :put, :class => "btn btn-default btn-grey", :disabled => current_user.other %></center>
      <% else %>
        <br/><center><%= link_to 'Marquer comme lu', problem_submission_read_path(@problem, @submission), :method => :put, :class => "btn btn-default btn-grey", :disabled => current_user.other %></center>
      <% end %>
    <% end %>
  <% end %>

  <!-- Warning quand l'utilisateur a soumis une solution ultérieurement -->
  <% if @submission.user != current_user.sk && (@submission.wrong? || @submission.wrong_to_read?) %>
    <% later_submission = @problem.submissions.where("user_id = ? AND created_at > ? AND id != ? AND visible = ?", @submission.user, @submission.created_at, @submission.id, true).order("created_at DESC").first %>
    <% if !later_submission.nil? %>
      <div style="text-align:center; margin-top:20px; background-color:#ffe7c5; padding:10px; border:1px solid #dddddd;"><span style="font-weight:bold; text-decoration:underline">Avertissement</span> : <%= @submission.user.name %> a posté une <%= link_to "nouvelle soumission", problem_path(@problem, :sub => later_submission) %> à ce problème le <%= write_date(later_submission.created_at) %>.</div>
    <% end %>
  <% end %>
  
  <!-- Warning quand l'utilisateur a déjà soumis une solution plagiée -->
  <% if @submission.user != current_user.sk && !@submission.correct? && !@submission.plagiarized? %>
    <% plagiarized_submission = @problem.submissions.where(:user => @submission.user, :status => :plagiarized).first %>
    <% if !plagiarized_submission.nil? %>
      <div style="text-align:center; margin-top:20px; background-color:#ffe7c5; padding:10px; border:1px solid #dddddd;"><span style="font-weight:bold; text-decoration:underline">Avertissement</span> : <%= @submission.user.name %> a posté une <%= link_to "solution plagiée", problem_path(@problem, :sub => plagiarized_submission) %> à ce problème le <%= write_date(plagiarized_submission.created_at) %>.</div>
    <% end %>
  <% end %>

  <!-- Formulaire pour nouvelle correction -->
  <% if current_user.sk.admin? && !@submission.visible && @submission.intest %>
    <br/>Cette soumission fait partie d'un test virtuel qui n'est pas terminé. Vous ne pourrez la corriger qu'une fois le temps de celui-ci écoulé.<br/>
  <% elsif !current_user.sk.admin? && current_user.sk == @submission.user && @submission.intest && @submission.score == -1 %>
    <br/>Cette solution fait partie d'un test et n'a pas encore été corrigée. Vous pourrez la commenter une fois que cela aura été fait.<br/>
  <% elsif (current_user.sk.admin? || (current_user.sk.corrector && @resolu)) && @submission.plagiarized? %>
    <br/><span style="color:red;">Cette solution a été plagiée et n'est plus visible par l'étudiant.</span><br/>
  <% elsif (current_user.sk.admin? || (current_user.sk == @submission.user && @cansendnewcomment) || (current_user.sk.corrector && @resolu)) && !@submission.draft? %>
    <br/><%= render 'corrections/new' %>
  <% end %>

<% end %>

<!-- Supprimer la soumission : pas possible si correcte -->
<% if current_user.sk.root? && !@submission.correct? && !@submission.draft? %>
  <br/><center>
  <%= link_to 'Supprimer cette soumission', @submission, method: :delete, data: { confirm: "Êtes-vous sûr de vouloir supprimer cette soumission ? Ne faites-cela que si celle-ci n'est pas vraiment une soumission (par exemple si l'étudiant signale une erreur)." }, :style => "color:red;" %>
  </center>
<% end %>

<!-- Repasser la soumission comme erronée (root ou correcteur qui vient d'accepter) -->
<% if @submission.correct? %>
  <% ten_minutes_ago = DateTime.now - 10.minutes %>
  <% if current_user.sk.root? || (current_user.sk.corrector? && @resolu && current_user.sk != @submission.user && @submission.corrections.where(:user => current_user.sk).where("created_at > ?", ten_minutes_ago).count > 0) %>
    <% sp = Solvedproblem.where(:user => @submission.user, :problem => @problem).first %>
    <!-- NB: sp.nil? can happen in test environment only -->
    <% if current_user.sk.root? || (!sp.nil? && sp.correction_time > ten_minutes_ago) %>
      <br/><center>
      <%= link_to 'Marquer comme erronée', problem_submission_uncorrect_path(@problem, @submission), data: (Rails.env.test? ? nil : { confirm: "Êtes-vous sûr de vouloir marquer cette soumission comme erronée ?" }), :method => :put, :style => "color:red;" %>
      </center>
    <% end %>
  <% end %>
<% end %>

<% if current_user.sk.admin? || (current_user.sk.corrector? && @resolu && @submission.user != current_user.sk) %>
  <% if @submission.correct? %>
    <!-- Propositions d'étoiles -->
    <%= render 'starproposals/show' %>
    
    <!-- Etoiler la soumission -->
    <% if current_user.sk.root? %>
      <br/><center>
        <% if @submission.star %>
          <center><%= link_to 'Ne plus étoiler cette solution', problem_submission_unstar_path(@problem, @submission), :method => :put, :class => "btn btn-default btn-grey", :disabled => current_user.other %></center>
        <% else %>
          <center><%= link_to 'Étoiler cette solution', problem_submission_star_path(@problem, @submission), :method => :put, :class => "btn btn-default btn-grey", :disabled => current_user.other %></center>
        <% end %>
      </center>
    <% end %>
  <% end %>
  
  <!-- Suspicions de plagiat -->
  <%= render 'suspicions/show' %>
  
  <!-- Chercher un possible plagiat -->
  <%= render 'submissions/search_string' %>
<% end %>
