<!-- Enlève la notification de l'étudiant s'il faut -->
<% if @submission.user == current_user.sk %>
	<% notif = current_user.sk.notifs.where(submission_id: @submission.id) %>
	<% if notif.size > 0 && !current_user.other %>
  	<% notif.first.delete %>
	<% end %>
<% end %>

<% if @submission.status >= 0 %>
<h3>Soumission
<% case @submission.status %>
<% when 0 %>
  (en attente de correction)
<% when 1, 3 %>
  (erronée)
<% when 4 %>
  (plagiée)
<% when 2 %>
  (correcte)
  <% if @submission.star %>
    <%= image_tag @submission.icon %>
  <% end %>
<% end %>
</h3>
<% else %>
<h3>Brouillon</h3>
<% end %>

<!-- Si administrateur, on propose de réserver la soumission -->
<% @unactivate = 0 %>
<% reservation_case = 0 %>
<% corrector_name = "" %>
<% if current_user.sk != @submission.user && @submission.status == 0 && @submission.visible %>
  <script type="text/javascript">
  var reserve = function () {
    $.getScript("<%= reserve_url(:submission_id => @submission) %>");
  }
  var unreserve = function () {
    $.getScript("<%= unreserve_url(:submission_id => @submission) %>");
  }
  </script>
  
  <% f = @submission.followings.first %>
  <% if f.nil? %>
    <% reservation_case = 1 %>
    <% @unactivate = 1 %>
  <% elsif f.user == current_user.sk %>
    <% reservation_case = 3 %>
  <% else %>
    <% reservation_case = 2 %>
    <% @unactivate = 2 %>
    <% corrector_name = f.user.name %>
  <% end %>
  
  <div id="correct1" style="background-color:#fffad2; padding:10px; border:1px solid #dddddd;
; <%= "display:none;" if reservation_case != 1 %>">
    Avant de corriger cette soumission, prévenez les autres que vous vous en occupez !
    <div class="hidden-large" style="height:7px;"></div>
    <button class="btn btn-default btn-grey" style="margin-left:30px;" onclick="javascript:reserve()" <%= "disabled='disabled'" if current_user.other %>>Réserver cette soumission</button>
  </div>
  
  <div id="correct2" style="background-color:#ffd9de; padding:10px; border:1px solid #dddddd; <%= "display:none;" if reservation_case != 2 %>">
    Cette soumission est en train d'être corrigée par <b><%= corrector_name %></b>.
  </div>
  
  <div id="correct3" style="background-color:#d7efd9; padding:10px; border:1px solid #dddddd; <%= "display:none;" if reservation_case != 3 %>">
    Vous avez réservé cette soumission pour la corriger.
    <div class="hidden-large" style="height:7px;"></div>
    <button class="btn btn-default btn-grey" style="margin-left:30px;" onclick="javascript:unreserve()" <%= "disabled='disabled'" if current_user.other %>>Annuler ma réservation</button>
  </div>
<% end %>

<!-- Affichage de la soumission -->
<div class="myoverflow">
<%= render 'subjects/content', ms: @submission, kind: "submission" %>
</div>

<!-- Si soumission en test avec score, on affiche le score -->
<% if @submission.intest && @submission.score != -1 && (current_user.sk.admin? || current_user.sk.corrector? || current_user.sk == @submission.user) %>
<br/>
<h4>Score obtenu</h4>
<center><div style="padding:3px; font-size:24px; border:1px solid #dddddd; background-color:#fffad2;"><%= @submission.score %> / 7</center>

<% if current_user.sk.root? %>
  <div style="text-align:center; margin-top:10px; margin-bottom:-10px;">
  <a href='#' id='showform' onclick='document.getElementById("formulaire").style.display="inline"; return false;' style='display:inline;'>Modifier ce score</a>
  <span id='formulaire' style="display:none;">
  <%= form_tag problem_submission_update_score_path(@problem, @submission), :method => :put, :class => "form-inline", :style => "margin-top:5px;" do %>
    Nouveau score :
    <%= number_field_tag "new_score", @submission.score, min: 0, max: 7 %>
    <%= submit_tag "Modifier", data: (Rails.env.test? ? nil : { confirm: "Êtes-vous sûr de vouloir modifier le score obtenu ?"}) %>
  <% end %>
  </span>
  </div>
<% end %>

<% end %>

<!-- Affichage des corrections -->
<% if @submission.status >= 0 %>
  <%= render 'corrections/index' %>
<% end %>

<!-- Marquer comme lu ou non lu -->
<% if (current_user.sk.admin || (current_user.sk.corrector && @resolu && current_user.sk != @submission.user)) && @submission.status != 0 %>
  <!-- <% following = Following.find_by_user_id_and_submission_id(current_user.sk, @submission) %> NE MARCHE PLUS -->
  <% following = @submission.followings.where(:user_id => current_user.sk).first %>
  <% if !following.nil? %>
    <% if following.read %>
      <br/><center><%= link_to 'Marquer comme non lu', problem_submission_unread_path(@problem, @submission), :method => :put, :class => "btn btn-default btn-grey", :disabled => current_user.other %></center>
    <% else %>
      <br/><center><%= link_to 'Marquer comme lu', problem_submission_read_path(@problem, @submission), :method => :put, :class => "btn btn-default btn-grey", :disabled => current_user.other %></center>
    <% end %>
  <% end %>
<% end %>

<!-- Warning quand l'utilisateur a soumis une solution ultérieurement -->
<% if @submission.user != current_user.sk && @submission.status != 0 && @submission.status != 2 %>
  <% later_submission = @problem.submissions.where("user_id = ? AND status = 0", @submission.user).first %>
  <% if !later_submission.nil? %>
    <div style="text-align:center; margin-top:20px; background-color:#ffe7c5; padding:10px; border:1px solid #dddddd;"><span style="font-weight:bold; text-decoration:underline">Avertissement</span> : <%= @submission.user.name %> a posté une <%= link_to "nouvelle soumission", problem_path(@problem, :sub => later_submission) %> à ce problème le <%= write_date(later_submission.created_at) %>.</div>
  <% end %>
<% end %>

<% plagiat = (Submission.where(:user_id => @submission.user, :problem_id => @submission.problem, :status => 4).count > 0) %>

<!-- Formulaire pour nouvelle correction -->
<% if current_user.sk.admin? && !@submission.visible && @submission.intest %>
  <br/>Cette soumission fait partie d'un test virtuel qui n'est pas terminé. Vous ne pourrez la corriger qu'une fois le temps de celui-ci écoulé.<br/>
<% elsif !current_user.sk.admin? && current_user.sk == @submission.user && @submission.intest && @submission.score == -1 %>
  <br/>Cette solution fait partie d'un test et n'a pas encore été corrigée. Vous pourrez la commenter une fois que cela aura été fait.<br/>
<% elsif plagiat %>
  <% if current_user.sk == @submission.user %>
    <br/><span style="color:red;">Vous avez soumis une solution plagiée à ce problème. Vous n'avez plus la possibilité de le résoudre.</span><br/>
  <% else %>
    <br/><span style="color:red;">L'étudiant a soumis une solution plagiée à ce problème. Il n'est plus possible pour lui de le résoudre.</span><br/>
  <% end %>
<% elsif (current_user.sk.admin? || current_user.sk == @submission.user || (current_user.sk.corrector && @resolu)) && @submission.status >= 0 %>
  <br/><%= render 'corrections/new' %>
<% end %>

<!-- Supprimer la soumission : pas possible si correcte -->
<% if current_user.sk.root? && @submission.status != 2 && @submission.status >= 0 %>
  <br/><center>
  <%= link_to 'Supprimer cette soumission', @submission, method: :delete, data: { confirm: "Êtes-vous sûr de vouloir supprimer cette soumission ? Ne faites-cela que si celle-ci n'est pas vraiment une soumission (par exemple si l'étudiant signale une erreur)." }, :style => "color:red;" %>

  <!-- Marquer la soumission comme plagiée -->
  <% if current_user.sk.root? && @submission.status != 4 && @submission.status >= 0 && !@submission.user.pb_solved?(@submission.problem) %>
  - <%= link_to 'Marquer comme plagiat', problem_submission_mark_as_plagiarism_path(@problem, @submission), data: { confirm: "Êtes-vous sûr de vouloir marquer cette soumission comme plagiée ? L'étudiant ne pourra plus rien faire sur ce problème." }, :method => :put, :style => "color:red;" %>
  <% end %>
  </center>
<% end %>

<!-- Repasser la soumission comme erronée -->
<% if current_user.sk.root? && @submission.status == 2 %>
  <br/><center>
  <%= link_to 'Marquer comme erronée', problem_submission_uncorrect_path(@problem, @submission), data: (Rails.env.test? ? nil : { confirm: "Êtes-vous sûr de vouloir marquer cette soumission comme erronée ? L'utilisateur a peut-être déjà lu les solutions des autres." }), :method => :put, :style => "color:red;" %>
  </center>
<% end %>

<!-- Marquer la soumission comme élégante -->
<% if (current_user.sk.admin? || (current_user.sk.corrector? && @resolu && @submission.user != current_user.sk)) && @submission.status == 2 %>
  <br/><center>
    <% if @submission.star %>
      <center><%= link_to 'Ne plus étoiler cette solution', problem_submission_unstar_path(@problem, @submission), :method => :put, :class => "btn btn-default btn-grey", :disabled => current_user.other %></center>
    <% else %>
      <center><%= link_to 'Étoiler cette solution', problem_submission_star_path(@problem, @submission), :method => :put, :class => "btn btn-default btn-grey", :disabled => current_user.other %></center>
    <% end %>
  </center>
<% end %>

<!-- Chercher un possible plagiat -->
<% if current_user.sk.admin? || (current_user.sk.corrector? && @resolu && @submission.user != current_user.sk) %>
  <%= render 'submissions/search_string' %>
<% end %>
