<% provide(:title, "Soumissions") %>
<h1><%= title_1("Soumissions (tout)") %></h1>

<%= render 'shared/pages', data: @submissions, classes_small: "mb-3" %>

<% if !current_user.admin? %>
  <% problem_solved = Array.new %>
  <% current_user.solvedproblems.select(:problem_id).each do |sp| %>
    <% problem_solved[sp.problem_id] = true %>
  <% end %>
<% end %>

<table class="table table-bordered">
<%= render 'submissions/line_header', show_section_and_level: true, show_correctors: true %>
<% @submissions.each do |n| %>
  <% hidden_sub = (!current_user.admin && problem_solved[n.problem_id] != true) %>
  <%= render 'submissions/line', s: n, show_section_and_level: true, hidden_sub: hidden_sub, show_correctors: true %>
<% end %>
</table>

<%= render 'shared/pages', data: @submissions %>
