<% provide(:title, "Soumissions") %>
<h1>
  Soumissions (tout)
</h1>

<center>
  <%= will_paginate @submissions, list_classes: %w(pagination justify-content-center d-none d-sm-flex), :renderer => WillPaginate::ActionView::BootstrapLinkRenderer, :inner_window => 2 %>
  <%= will_paginate @submissions, :class => "d-block d-sm-none mb-3", :renderer => WillPaginate::ActionView::LinkRenderer, :previous_label => "&larr; Préc.", :next_label => "Suiv. &rarr;", :inner_window => 1 %>
</center>

<% if !current_user.admin? %>
  <% problem_solved = Array.new %>
  <% current_user.solvedproblems.select(:problem_id).each do |sp| %>
    <% problem_solved[sp.problem_id] = true %>
  <% end %>
<% end %>

<table class="table table-bordered">
<%= render 'submissions/line_header', show_section_and_level: true, show_correctors: true %>
<% @submissions.each do |n| %>
  <% hidden_sub = (!current_user.admin && problem_solved[n.problem_id] != true) %>
  <%= render 'submissions/line', s: n, show_section_and_level: true, hidden_sub: hidden_sub, show_correctors: true %>
<% end %>
</table>

<center>
  <%= will_paginate @submissions, list_classes: %w(pagination justify-content-center d-none d-sm-flex), :renderer => WillPaginate::ActionView::BootstrapLinkRenderer, :inner_window => 2 %>
  <%= will_paginate @submissions, :class => "d-block d-sm-none", :renderer => WillPaginate::ActionView::LinkRenderer, :previous_label => "&larr; Préc.", :next_label => "Suiv. &rarr;", :inner_window => 1 %>
</center>
