<% provide(:title, "Commentaires") %>

<h1><%= title_1("Commentaires") %>
<span class="h4"> - <%= link_to "Tout voir", allmy_submissions_path %></span>
</h1>

<h3>Qui vous concernent</h3>

<% to_me = Array.new %>

<% if @submissions.size > 0 %>
  <table class="table table-bordered">
  <%= render 'submissions/line_header', show_section_and_level: true %>
  
  <% @submissions.each do |n| %>
    <% to_me.push(n.id) %>
    <%= render 'submissions/line', s: n, show_section_and_level: true, show_num_waiting_days_from: "last_comment_time", highlight_this_sub: true %>
  <% end %>

  </table>
<% else %>
  <p>Vous n'avez aucun nouveau commentaire à lire.</p>
<% end %>

<h3>Autres commentaires non lus</h3>

<% first_other = true %>

<% @submissions_other.each do |n| %>

  <% if !current_user.admin? %>
    <% problem_solved = Array.new %>
    <% current_user.solvedproblems.select(:problem_id).each do |sp| %>
      <% problem_solved[sp.problem_id] = true %>
    <% end %>
  <% end %>

  <% if(!to_me.include?(n.id)) %>
    <% if first_other %>
      <table class="table table-bordered">
      <%= render 'submissions/line_header', show_section_and_level: true, show_correctors: true %>
    <% end %>
    <% hidden_sub = (!current_user.admin? && problem_solved[n.problem_id] != true) %>
    <%= render 'submissions/line', s: n, show_section_and_level: true, hidden_sub: hidden_sub, show_num_waiting_days_from: "last_comment_time", show_correctors: true %>
    <% first_other = false %>
  <% end %>
<% end %>

<% if !first_other %>
  </table>
<% else %>
  <p>Aucun autre commentaire non lu.</p>
<% end %>
