<% provide(:title, "Commentaires") %>
<h1><%= title_1("Commentaires (tout)") %></h1>

<center>
  <%= will_paginate @submissions, list_classes: %w(pagination justify-content-center d-none d-sm-flex), :renderer => WillPaginate::ActionView::BootstrapLinkRenderer, :inner_window => 2 %>
  <%= will_paginate @submissions, :class => "d-block d-sm-none mb-3", :renderer => WillPaginate::ActionView::LinkRenderer, :previous_label => "&larr; Préc.", :next_label => "Suiv. &rarr;", :inner_window => 1 %>
</center>

<% submissions_to_highlight = current_user.followings.select(:submission_id).where(:read => false).to_a.map(&:submission_id) %>

<table class="table table-bordered">
<tr class="table-ld-header"><th class="text-center">Statut</th><th class="d-none d-lg-table-cell">Date de la soumission</th><th class="d-none d-lg-table-cell">Dernière activité</th><th>Qui</th><th class="text-center">Type</th><th></th></tr>
<% @submissions.each do |n| %>
  <%= render 'submissions/line', s: n, show_section_and_level: true, highlight_this_sub: submissions_to_highlight.include?(n.id) %>
<% end %>
</table>

<center>
  <%= will_paginate @submissions, list_classes: %w(pagination justify-content-center d-none d-sm-flex), :renderer => WillPaginate::ActionView::BootstrapLinkRenderer, :inner_window => 2 %>
  <%= will_paginate @submissions, :class => "d-block d-sm-none", :renderer => WillPaginate::ActionView::LinkRenderer, :previous_label => "&larr; Préc.", :next_label => "Suiv. &rarr;", :inner_window => 1 %>
</center>
