<% provide(:title, "Commentaires") %>
<h1><%= title_1("Commentaires (tout)") %></h1>

<%= render 'shared/pages', data: @submissions, classes_small: "mb-3" %>

<% submissions_to_highlight = current_user.followings.select(:submission_id).where(:read => false).to_a.map(&:submission_id) %>

<table class="table table-bordered">
<%= render 'submissions/line_header', show_section_and_level: true %>
<% @submissions.each do |n| %>
  <%= render 'submissions/line', s: n, show_section_and_level: true, highlight_this_sub: submissions_to_highlight.include?(n.id) %>
<% end %>
</table>

<%= render 'shared/pages', data: @submissions %>
