<% @virtualtest = @problem.virtualtest %>

<% statut = current_user.sk.status(@virtualtest) %>

<% depart = Takentest.find_by(user_id: current_user.sk.id, virtualtest_id: @virtualtest.id).takentime.to_i %>

<script type="text/javascript">
function RemainingTime(){

if (!Date.now) {
    Date.now = function() { return new Date().getTime(); }
}

var d = Math.floor(Date.now() / 1000)

var reste = <%= @virtualtest.duration * 60 %> - d + <%= depart %>

if (reste < 0) {
  document.getElementById('clockbox').innerHTML = "Temps écoulé"
}
else {
  var resteh = Math.floor(reste / 3600)
  reste = reste - 3600 * resteh
  var restem = Math.floor(reste / 60)
  var restes = reste - 60 * restem
  
  if(resteh < 10){ afficheh = "0" + resteh }
  else { afficheh = resteh }
  
  if(restem < 10){ affichem = "0" + restem }
  else { affichem = restem }
  
  if(restes < 10){ affiches = "0" + restes }
  else { affiches = restes }
  
  document.getElementById('clockbox').innerHTML = afficheh + "h" + affichem + ":" + affiches
}

}

window.onload=function(){
RemainingTime();
setInterval(RemainingTime,1000);
}
</script>

<h1>
<span style="font-size:16px;"><%= link_to "Tests virtuels", virtualtests_path %> ></span>
<span style="font-size:24px;"><%= link_to "Test virtuel ##{@virtualtest.number}", virtualtest_path(@virtualtest, :p => @problem.id) %> ></span>
Problème <%= @numero %>
</h1>

<br/>
<center><span style="font-size:20px;">Temps restant : <b><span id="clockbox">--h--:--</span></b></span></center>

<!-- Enoncé -->
<h3>Énoncé</h3>
  <div style="margin-bottom:30px;">
  <%= raw(htmlise(@problem.statement)) %>
  </div>

<!-- S'il s'agit d'une nouvelle soumission -->
<% if @neworedit == 0 %>

<%= form_for :submission, url: problem_create_intest_path(@problem), :html => { :multipart => true } do |f| %>

<!-- Soumettre une solution -->
<h3>Solution</h3>
  La façon la plus simple et la plus jolie de nous faire parvenir votre preuve est de l'écrire en $\LaTeX$. <br/><%= link_to "Ce chapitre", chapter_path(13), target: "blank" %> vous apprend à écrire toutes les formules mathématiques dont vous avez besoin en un rien de temps!<br/><br/>
  <div class="form-group">
  <div class="well" id="MathPreview"></div>
  <div class="well" id="MathBuffer" style="visibility:hidden; position:absolute; top:0; left: 0"></div>
  <%= render 'subjects/smiley', hiddentext: false %>
  <% if @ancientexte.nil? %>
    <%= f.text_area :content, :class => "form-control", :style => "height:200px; margin-top:5px;", :id=>"MathInput", :onkeyup => "safefakeupdate()", :disabled => (!signed_in? || current_user.other) %>
  <% else %>
    <%= f.text_area :content, :class => "form-control", :style => "height:200px; margin-top:5px;", :value => @ancientexte, :id=>"MathInput", :onkeyup => "safefakeupdate()", :disabled => (!signed_in? || current_user.other) %>
  <% end %>
  </div>
  
  <!-- Pièces jointes -->
  <span id="fooBar"></span>
  <input type="button" value="Ajouter une pièce jointe" onclick="Joint.add()" <%= 'disabled="true"' if current_user.other %> />
  <br /><br/>

  Vous pourrez modifier cette solution tant que vous le voudrez dans le temps imparti.<br/><br/>

  <%= f.submit "Enregistrer cette solution", class: "btn btn-primary", :disabled => current_user.other %>
  
<% end %>

<!-- Si on modifie une solution -->
<% else %>

<%= form_for :submission, url: problem_submission_update_intest_path(@problem, @submission), :html => { :multipart => true } do |f| %>

<!-- Modifier la solution -->
<h3>Solution</h3>
  La façon la plus simple et la plus jolie de nous faire parvenir votre preuve est de l'écrire en $\LaTeX$. <br/><%= link_to "Ce chapitre", chapter_path(13), target: "blank" %> vous apprend à écrire toutes les formules mathématiques dont vous avez besoin en un rien de temps!<br/><br/>
  <div class="form-group">
  <div class="well" id="MathPreview"></div>
  <div class="well" id="MathBuffer" style="visibility:hidden; position:absolute; top:0; left: 0"></div>
  <%= render 'subjects/smiley', hiddentext: false %>
  <% if @ancientexte.nil? %>
    <%= f.text_area :content, :class => "form-control", :style => "height:200px; margin-top:5px;", :id=>"MathInput", :onkeyup => "safefakeupdate()", :disabled => (!signed_in? || current_user.other) %>
  <% else %>
    <%= f.text_area :content, :class => "form-control", :style => "height:200px; margin-top:5px;", :value => @ancientexte, :id=>"MathInput", :onkeyup => "safefakeupdate()", :disabled => (!signed_in? || current_user.other) %>
  <% end %>
  </div>
  
  <!-- Pièces jointes -->
  <% if @submission.submissionfiles.size + @submission.fakesubmissionfiles.size > 0 %>
    <b>Pièces jointes (décochez pour supprimer)</b><br/>
    <% @submission.submissionfiles.each do |sf| %>
      <label class="checkbox-inline">
        <input type="checkbox" name="prevfile<%= sf.id %>" value="1" checked="checked" />
        <%= link_to sf.file_file_name, download_submissionfile_path(sf) %>
      </label>
      <br/>
    <% end %>
    <% @submission.fakesubmissionfiles.each do |sf| %>
      <label class="checkbox-inline">
        <input type="checkbox" name="prevfakefile<%= sf.id %>" value="1" checked="checked" />
        <span style="color:#0000BB;"><%= sf.file_file_name %> (désactivée)</span>
      </label>
      <br/>
    <% end %>
    <br/>
  <% end %>
  <span id="fooBar"></span>
  <input type="button" value="Ajouter une pièce jointe" onclick="Joint.add()"/>
  <br /><br/>

  <%= f.submit "Enregistrer cette solution", class: "btn btn-primary", :disabled => current_user.other %>
  
<% end %>

<% end %>

<script>
PreviewSafe.Init();
PreviewSafe.Update();
</script>
