<% @virtualtest = @problem.virtualtest %>

<% statut = current_user.sk.status(@virtualtest) %>

<% depart = Takentest.where(:user_id => current_user.sk.id, :virtualtest_id => @virtualtest.id).first.takentime.to_i %>

<%= render 'virtualtests/clock', depart: depart %>

<% provide(:title, "Test ##{ @virtualtest.number }") %>

<h1>
<span class="title-first"><%= link_to "Tests virtuels", virtualtests_path %> ></span>
<span class="title-second"><%= link_to "Test ##{@virtualtest.number}", virtualtest_path(@virtualtest, :p => @problem.id) %> ></span>
Problème <%= @numero %>
</h1>

<br/>
<center><span style="font-size:20px;">Temps restant : <b><span id="clockbox">--h--:--</span></b></span></center>

<!-- Enoncé -->
<h3>Énoncé</h3>
  <div style="margin-bottom:30px;">
  <%= raw(htmlise(@problem.statement)) %>
  </div>
  
<script>allowhide = false</script> <!-- This disables the "[hide][/hide]" in previewsafe -->

<!-- S'il s'agit d'une nouvelle soumission -->
<% if @neworedit == 0 %>

  <%= form_for :submission, url: problem_create_intest_path(@problem), :html => { :multipart => true } do |f| %>

  <!-- Soumettre une solution -->
  <h3>Solution</h3>
    <%= render 'submissions/form', f: f %>
    
    <!-- Pièces jointes -->
    <span id="fooBar"></span>
    <input type="button" value="Ajouter une pièce jointe" onclick="Joint.add()" <%= 'disabled="true"' if current_user.other %> />
    <br/><br/>

    Vous pourrez modifier cette solution tant que vous le voudrez dans le temps imparti.<br/><br/>

    <%= f.submit "Enregistrer cette solution", class: "btn btn-primary", :disabled => current_user.other %>
    
<% end %>

<!-- Si on modifie une solution -->
<% else %>

  <%= form_for :submission, url: problem_submission_update_intest_path(@problem, @submission), :html => { :multipart => true } do |f| %>

  <!-- Modifier la solution -->
  <h3>Solution</h3>
    <%= render 'submissions/form', f: f %>
    
    <!-- Pièces jointes -->
    <%= render 'subjects/files', s: @submission %>
    <span id="fooBar"></span>
    <input type="button" value="Ajouter une pièce jointe" onclick="Joint.add()" <%= 'disabled="true"' if current_user.other %> />
    <br/><br/>

    <%= f.submit "Enregistrer cette solution", class: "btn btn-primary", :disabled => current_user.other %>
    
  <% end %>

<% end %>

<script>
PreviewSafe.Init();
PreviewSafe.Update();
</script>
