<% provide(:title, 'Soumission') %>
<h1>Soumission - <%= @problem.name %></h1>
<p><i class=<%= @submission.icon %>></i>
<% case @submission.status %>
<% when 0 %>
  Soumission en attente de correction.
<% when 1, 3 %>
  Soumission corrigée. Elle n'est pas encore correcte.
  <% unless current_user.admin %>
    Vous pouvez tenter de la corriger en répondant par commentaire, ou <%= link_to 'soumettre une nouvelle solution', chapter_path(@submission.problem.chapter, type: 4, which: @submission.problem.id) %>.
  <% end %>
<% when 2 %>
  Soumission correcte.
<% end %>
</p>

<% if current_user.admin %>
  <% following = Following.find_by_user_id_and_submission_id(current_user, @submission) %>
  <% unless following.nil? %>
    <% if following.read %>
      <%= link_to 'Marquer comme non lu', problem_submission_unread_path(@problem, @submission) %>
    <% else %>
      <%= link_to 'Marquer comme lu', problem_submission_read_path(@problem, @submission) %>
    <% end %>
  <% end %>
<% end %>

<h2>Solution</h2>
<p><%= raw((h @submission.content.gsub(/\\][ \r]*\n/,'\] ').gsub(/\$\$[ \r]*\n/,'$$ ')).gsub(/\n/, '<br>')) %></p>

<%= render 'corrections/index' %>
<% unless @submission.correct? %>
  <%= render 'corrections/new' %>
<% end %>

<center><%= link_to 'Retour au problème', chapter_path(@submission.problem.chapter, :type => 4, :which => @submission.problem.id) %></center>
