<% def color_of(user) %>
  <% if user.admin %>
    <% return "#000000" %>
  <% end %>
  <% actualrating = user.point.rating %>
  <% i = 0 %>
  <% actuallevel = 0 %>
  <% @niveaux.each do |n| %>
    <% if n[:pt] <= actualrating %>
      <% actuallevel = i %>
    <% end %>
    <% i = i+1 %>
  <% end %>
  <% return @niveaux[actuallevel][:color] %>
<% end %>

<% mois = ["janvier", "février", "mars", "avril", "mai", "juin", "juillet", "août", "septembre", "octobre", "novembre", "décembre"] %>

<% provide(:title, 'Soumission') %>
<h1>Soumission - <%= @problem.name %></h1>
<p><i class=<%= @submission.icon %>></i>
<% case @submission.status %>
<% when 0 %>
  Soumission en attente de correction.
<% when 1, 3 %>
  Soumission corrigée. Elle n'est pas encore correcte.
  <% unless current_user.admin %>
    Vous pouvez tenter de la corriger en répondant par commentaire, ou <%= link_to 'soumettre une nouvelle solution', chapter_path(@submission.problem.chapter, type: 4, which: @submission.problem.id) %>.
  <% end %>
<% when 2 %>
  Soumission correcte.
<% end %>
</p>

<% if current_user.admin %>
  <% following = Following.find_by_user_id_and_submission_id(current_user, @submission) %>
  <% unless following.nil? %>
    <% if following.read %>
      <%= link_to 'Marquer comme non lu', problem_submission_unread_path(@problem, @submission) %>
    <% else %>
      <%= link_to 'Marquer comme lu', problem_submission_read_path(@problem, @submission) %>
    <% end %>
  <% end %>
<% end %>

<h2>Enoncé</h2>
<%= raw(@submission.problem.statement.gsub(/\\][ \r]*\n/,'\] ').gsub(/\$\$[ \r]*\n/,'$$ ').gsub(/<\/ol>[ \r]*\n/, '</ol>').gsub(/\n[ \r]*<\/ol>/, '</ol>').gsub(/<\/ul>[ \r]*\n/, '</ul>').gsub(/\n[ \r]*<\/ul>/, '</ul>').gsub(/\n[ \r]*<li>/, '<li>').gsub(/\n/, '<br/>')) %>
  <br/>

<h2>Solution</h2>


<table class="table table-bordered" style="margin-top:20px;">
<tr class="info">
<td style="font-size:20px; font-weight:bold; padding:15px; border-right:none;"><%= link_to @submission.user.name, @submission.user, {:style => "color:#{color_of(@submission.user)}" } %></td>
<td style="text-align:right; font-size:20px; padding:15px; border-left:none;">
<% date = @submission.created_at.in_time_zone %>
<%= date.day %> <%= mois[date.month-1] %> <%= date.year %> à <%= date.hour %>h<%= "0" if date.min < 10 %><%= date.min %>
</td>
</tr>

<tr><td colspan="2" style="padding:15px;">
<div>
<%= raw((h @submission.content.gsub(/\\][ \r]*\n/,'\] ').gsub(/\$\$[ \r]*\n/,'$$ ')).gsub(/\n/, '<br>')) %>
</div>
</td></tr>

</table>

<%= render 'corrections/index' %>
<% unless @submission.correct? %>
  <%= render 'corrections/new' %>
<% end %>

<center><%= link_to 'Retour au problème', chapter_path(@submission.problem.chapter, :type => 4, :which => @submission.problem.id) %></center>
