<% provide(:title, 'Soumission') %>
<h1>Soumission - <%= @problem.name %></h1>
<p><li class=<%= @submission.icon %>></li>
<% case @submission.status %>
<% when 0 %>
  Soumission en attente de correction.
<% when 1 %>
  Soumission corrigée. Elle n'est pas encore correcte. Vous pouvez tenter de la corriger en répondant par commentaire, ou <%= link_to 'soumettre une nouvelle solution', chapter_path(@submission.problem.chapter, :type => 4, :which => @submission.problem.id) %>.
<% when 2 %>
  Soumission correcte.
<% end %>
</p>

<% if current_user.admin and @submission.status != 2 %>
  <%= link_to 'Marquer la soumission comme correcte', problem_submission_correct_path(@problem, @submission) %>
<% end %>

<h2>Solution</h2>
<p><%= raw((h @submission.content.gsub(/\\][ \r]*\n/,'\] ').gsub(/\$\$[ \r]*\n/,'$$ ')).gsub(/\n/, '<br>')) %></p>

<%= render 'corrections/index' %>
<% unless @submission.correct? %>
  <%= render 'corrections/new' %>
<% end %>

<center><%= link_to 'Retour au problème', chapter_path(@submission.problem.chapter, :type => 4, :which => @submission.problem.id) %></center>
