<%= render 'problems/show' %>

<hr class="mt-0">

<!-- Enlève la notification de l'étudiant s'il faut -->
<% if @submission.user == current_user && !in_skin? && current_user.notified_submissions.exists?(@submission.id) %>
  <% current_user.notified_submissions.destroy(@submission) %>
<% end %>

<script type="text/javascript">
var showStatement = function () {
  document.getElementById("link_show_statement").style.display = 'none';
  document.getElementById("link_hide_statement").style.display = 'inline';
  document.getElementById("statement_reminder").classList.remove("hidden-latex");
}
var hideStatement = function () {
  document.getElementById("link_show_statement").style.display = 'inline';
  document.getElementById("link_hide_statement").style.display = 'none';
  document.getElementById("statement_reminder").classList.add("hidden-latex");
}
</script>

<% can_current_user_correct = (current_user.admin? || (current_user.corrector? && @submission.user != current_user && current_user.pb_solved?(@problem))) %>

<% show_statement_reminder = false %>
<% if can_current_user_correct %>
  <% if @submission.waiting? %>
    <% show_statement_reminder = true %>
  <% else %>
    <% following = @submission.followings.where(:user_id => current_user).first %>
    <% if !following.nil? %>
      <% show_statement_reminder = true %>
    <% end %>
  <% end %>
<% end %>

<% if !@submission.draft? %>
  <h3>Soumission
  <% if @submission.waiting? || @submission.waiting_forever? %>
    (en attente de correction)
  <% elsif @submission.wrong? or @submission.wrong_to_read? %>
    (erronée)
  <% elsif @submission.plagiarized? %>
    (plagiée)
  <% elsif @submission.generated_with_ai? %>
    (générée par intelligence artificielle)
  <% elsif @submission.closed? %>
    (clôturée)
  <% elsif @submission.correct? %>
    (correcte)
    <% if @submission.star %>
      <%= image_tag @submission.icon, :class => "svg-black-white" %>
    <% end %>
  <% end %>
  <% if show_statement_reminder %>
   -
    <a id="link_show_statement" href="javascript:showStatement()" class="fs-5">Rappel de l'énoncé</a>
    <a id="link_hide_statement" href="javascript:hideStatement()" class="fs-5" style="display:none;">Cacher l'énoncé</a>
  <% end %>
  </h3>
<% else %>
  <h3>Brouillon</h3>
<% end %>

<!-- Si administrateur ou correcteur, on propose de réserver la soumission -->
<% disable_correction = false %>
<% reservation_case = 0 %>
<% corrector_name = "" %>
<% if current_user != @submission.user && @submission.waiting? %>
  <script type="text/javascript">
  var reserve = function () {
    $.getScript("<%= reserve_submission_url(@submission) %>");
  }
  var unreserve = function () {
    $.getScript("<%= unreserve_submission_url(@submission) %>");
  }
  </script>
  
  <% f = @submission.followings.first %>
  <% if f.nil? %>
    <% reservation_case = 1 %>
    <% disable_correction = true %>
  <% elsif f.user == current_user %>
    <% reservation_case = 3 %>
  <% else %>
    <% reservation_case = 2 %>
    <% disable_correction = true %>
    <% corrector_name = f.user.name %>
  <% end %>
  
  <div id="div_reserved_by_nobody" class="mb-2 p-2 ps-3 bg-as-table-ld-warning" style="<%= "display:none;" if reservation_case != 1 %>">
    Avant de corriger cette soumission, prévenez les autres que vous vous en occupez !
    <div class="d-block d-lg-none" style="height:7px;"></div>
    <button class="btn btn-ld-light-dark ms-4" onclick="javascript:reserve()" <%= "disabled" if in_skin? %>>Réserver cette soumission</button>
  </div>
  
  <div id="div_reserved_by_other" class="mb-2 p-2 ps-3 bg-as-table-ld-warning-reder" style="<%= "display:none;" if reservation_case != 2 %>">
    <span id="text_reserved_by_other">
      <% if reservation_case == 2 %>
        Cette soumission est en train d'être corrigée par <b><%= corrector_name %></b>.
        <% if current_user.root? %>
          Réservée le <%= write_date(f.created_at) %>.
        <% end %>
      <% end %>
    </span>
    <div class="d-block d-lg-none" style="height:7px;"></div>
    <% if current_user.root? %>
      <button class="btn btn-ld-light-dark ms-4" onclick="javascript:unreserve()" <%= "disabled" if in_skin? %>>Annuler la réservation</button>
    <% end %>
  </div>
  
  <div id="div_reserved_by_me" class="mb-2 p-2 ps-3 bg-as-table-ld-warning-greener" style="<%= "display:none;" if reservation_case != 3 %>">
    Vous avez réservé cette soumission pour la corriger.
    <div class="d-block d-lg-none" style="height:7px;"></div>
    <button class="btn btn-ld-light-dark ms-4" onclick="javascript:unreserve()" <%= "disabled" if in_skin? %>>Annuler ma réservation</button>
  </div>
<% end %>

<% if @submission.cheated? && current_user == @submission.user %>
  <p>Vous ne pouvez plus voir cette solution.</p>
<% else %>

  <!-- Rappel de l'énoncé -->
  <% if show_statement_reminder %>
    <div style="position:relative;">
      <div id="statement_reminder" class="card mb-3 hidden-latex">
        <h5 class="card-header">Énoncé</h5>
        <div class="card-body">
          <%= htmlise(@problem.statement) %>
        </div>
      </div>
    </div>
  <% end %>

  <!-- Affichage de la soumission -->
  <div id="theSubmission" class="content-part">
    <%= render 'shared/post', ms: @submission, can_edit: current_user.root?, postfix: "Submission" %>
  </div>
  
  <% if current_user.root? %>
    <div id="formSubmission" class="form-part px-1" style="height:0px;">
      <%= render 'submissions/edit', postfix: "Submission", load_preview: false %>
    </div>
    
    <% if @submission.errors.any? %>
      <script>rollingDevelopQuickWhenPossible("Submission")</script>
    <% end %>
  <% end %>

  <!-- Si soumission en test avec score, on affiche le score -->
  <% if @submission.intest && @submission.score != -1 && (can_current_user_correct || current_user == @submission.user) %>

    <h4>Score obtenu</h4>
    <div class="bg-as-table-ld-warning mb-3 p-1 fs-3 text-center"><%= @submission.score %> / 7</div>

    <% if current_user.root? %>
      <p class="text-center">
        <a href='#' id='showform' onclick='document.getElementById("score_form").style.display="block"; return false;' style='display:inline;'>Modifier ce score</a>
      </p>
      <div id="score_form" class="mb-3" style="display:none;">
        <center>
        <%= form_tag update_score_submission_path(@submission), :method => :put do %>
          <div class="input-group" style="width:270px;">
          <span class="input-group-text text-center" style="width:130px;">Nouveau score :</span>
          <%= number_field_tag "new_score", @submission.score, :min => 0, :max => 7, :class =>"form-control", :style => "width:60px;" %>
          <%= submit_tag "Modifier", class: "btn btn-primary", style: "width:80px;", data: (Rails.env.test? ? {} : { confirm: "Êtes-vous #{current_user.sure} de vouloir modifier le score obtenu ?"}) %>
          </div>
        <% end %>
        </center>
      </div>
    <% end %>
  <% end %>

  <!-- Affichage des corrections -->
  <%= render 'corrections/index' %>

  <!-- Marquer comme lu ou non lu -->
  <% if can_current_user_correct && !@submission.draft? && !@submission.waiting? && !@submission.waiting_forever? %>
    <% following = @submission.followings.where(:user_id => current_user).first %>
    <% if !following.nil? %>
      <p class="text-center">
      <% if following.read %>
        <%= link_to 'Marquer comme non lu', unread_submission_path(@submission), :method => :put, :class => "btn btn-ld-light-dark #{'disabled' if in_skin?}" %>
      <% else %>
        <%= link_to 'Marquer comme lu', read_submission_path(@submission), :method => :put, :class => "btn btn-ld-light-dark #{'disabled' if in_skin?}" %>
      <% end %>
      </p>
    <% end %>
  <% end %>
  
  <!-- Warning quand un extrait d'une solution externe est incluse dans la soumission ou un commentaire, ou que ça ressemble à de l'IA -->
  <% if can_current_user_correct %>
    <% user_contents = [@submission.content + "\n"] %>
    <% @submission.corrections.where(:user => @submission.user).each do |c| %>
      <% user_contents.push(c.content + "\n") %>
    <% end %>
    
    <% @problem.externalsolutions.each do |e| %>
      <% matching_extracts = [] %>
      <% e.extracts.each do |extract| %>
        <% user_contents.each do |content| %>
          <% if extract.is_included_in(content) %>
            <% matching_extracts.push(extract) %>
            <% break %>
          <% end %>
        <% end %>
      <% end %>
      <% if matching_extracts.size > 0 %>
        <% url_shortened = (e.url.size > 40 ? e.url[0,37] + "..." : e.url) %>
        <div class="mb-3 p-2 px-3 bg-as-table-ld-warning-reder"><span class="fw-bold text-decoration-underline">Avertissement</span> : Certains extraits de cette solution proviennent de <%= link_to url_shortened, e.url, :target => "_blank" %> :
        <ul class="mb-1">
          <% matching_extracts.each do |m| %>
          <li><%= m.text %></li>
          <% end %>
        </ul>
        Vérifiez s'il s'agit d'un plagiat et soumettez une suspicion de triche si c'est le cas !
        </div>
      <% end %>
    <% end %>
    
    <% num_blocks = 0 %>
    <% user_contents.each do |content| %>
      <% open = content.scan(/\n\\\[(\r)?\n/).size %>
      <% if open > 0 %>
        <% close = content.scan(/\n\\\](\r)?\n/).size %>
        <% num_blocks += [open, close].min %>
      <% end %>
    <% end %>
    <% num_inlines = 0 %>
    <% user_contents.each do |content| %>
      <% open = content.scan(/\\\(/).size %>
      <% if open > 0 %>
        <% close = content.scan(/\\\)/).size %>
        <% num_inlines += [open, close].min %>
      <% end %>
    <% end %>
    <% if num_blocks > 0 || num_inlines > 0 %>
      <% if !@submission.user.whitelisted %>
        <div class="mb-3 p-2 px-3 bg-as-table-ld-warning-reder"><span class="fw-bold text-decoration-underline">Avertissement</span> : Cette solution contient <b><%= num_blocks + num_inlines %></b> <%= plurialize("bloc", num_blocks + num_inlines) %> $\LaTeX$ <%= plurialize("similaire", num_blocks + num_inlines) %> à ce que ChatGPT produit : 
        <ul class="tex2jax_ignore mb-1">
        <% if num_blocks > 0 %>
          <li><%= num_blocks %> <%= plurialize("utilisation", num_blocks) %> de \[ et \] sur des lignes séparées au lieu de $$</li>
        <% end %>
        <% if num_inlines > 0 %>
          <li><%= num_inlines %> <%= plurialize("utilisation", num_inlines) %> de \( et \) au lieu de $</li>
        <% end %>
        </ul>
        Vérifiez le code et soumettez une suspicion de triche si la solution vous semble suspecte.</div>
      <% else %>
        <div class="mb-3 p-2 px-3 bg-as-table-ld-warning-greener"><span class="fw-bold text-decoration-underline">Note</span> : Cette solution contient <b><%= num_blocks + num_inlines %></b> <%= plurialize("bloc", num_blocks + num_inlines) %> $\LaTeX$ <%= plurialize("similaire", num_blocks + num_inlines) %> à ce que ChatGPT produit, mais il a été considéré par le passé que cet étudiant écrivait bien naturellement de cette façon.</div>
      <% end %>
    <% end %>
  <% end %>

  <!-- Warning quand l'utilisateur a soumis une solution ultérieurement -->
  <% if can_current_user_correct && (@submission.wrong? || @submission.wrong_to_read?) %>
    <% later_submission = @problem.submissions.where.not(:status => :draft).where("user_id = ? AND created_at > ? AND id != ?", @submission.user, @submission.created_at, @submission.id).order("created_at").last %>
    <% if !later_submission.nil? %>
      <div class="mb-3 p-2 px-3 bg-as-table-ld-warning-reder"><span class="fw-bold text-decoration-underline">Avertissement</span> : <%= @submission.user.name %> a posté une <%= link_to "nouvelle soumission", problem_submission_path(@problem, later_submission) %> à ce problème le <%= write_date(later_submission.created_at) %>.</div>
    <% end %>
  <% end %>
  
  <!-- Warning quand l'utilisateur a déjà soumis une solution plagiée ou générée par IA -->
  <% if can_current_user_correct && !@submission.correct? && !@submission.cheated? %>
    <% plagiarized_submission = @problem.submissions.where(:user => @submission.user, :status => :plagiarized).order(:created_at).last %>
    <% if !plagiarized_submission.nil? %>
      <div class="mb-3 p-2 px-3 bg-as-table-ld-warning-reder"><span class="fw-bold text-decoration-underline">Avertissement</span> : <%= @submission.user.name %> a posté une <%= link_to "solution plagiée", problem_submission_path(@problem, plagiarized_submission) %> à ce problème le <%= write_date(plagiarized_submission.created_at) %>.</div>
    <% end %>
    <% ai_submission = @problem.submissions.where(:user => @submission.user, :status => :generated_with_ai).order(:created_at).last %>
    <% if !ai_submission.nil? %>
      <div class="mb-3 p-2 px-3 bg-as-table-ld-warning-reder"><span class="fw-bold text-decoration-underline">Avertissement</span> : <%= @submission.user.name %> a posté une <%= link_to "solution générée par intelligence artificielle", problem_submission_path(@problem, ai_submission) %> à ce problème le <%= write_date(ai_submission.created_at) %>.</div>
    <% end %>
  <% end %>
  
  <!-- Warning quand l'utilisateur a déjà soumis une solution clôturée -->
  <% can_close_submission_directly = false %>
  <% if can_current_user_correct && !@submission.correct? && !@submission.closed? %>
    <% closed_submission = @problem.submissions.where(:user => @submission.user, :status => :closed).order(:created_at).last %>
    <% if !closed_submission.nil? %>
      <% can_close_submission_directly = true %>
      <div class="mb-3 p-2 px-3 bg-as-table-ld-warning-reder"><span class="fw-bold text-decoration-underline">Avertissement</span> : <%= @submission.user.name %> a posté une <%= link_to "solution clôturée", problem_submission_path(@problem, closed_submission) %> à ce problème le <%= write_date(closed_submission.created_at) %>. Vérifiez qu'un effort a été fait depuis cette soumission !</div>
    <% end %>
  <% end %>

  <!-- Formulaire pour nouvelle correction -->
  <% if @submission.draft? && @submission.intest %>
    <p class="text-color-orange">Cette soumission fait partie d'un test virtuel qui n'est pas terminé. Vous ne pourrez la corriger qu'une fois le temps de celui-ci écoulé.</p>
  <% elsif @submission.draft? %>
    <p class="text-color-orange">Cette soumission n'est qu'un brouillon qui n'a pas encore été soumis pour correction.</p>
  <% elsif current_user == @submission.user && @submission.intest && (@submission.waiting? || @submission.waiting_forever?) %>
    <p>Cette solution fait partie d'un test et n'a pas encore été corrigée. Vous pourrez la commenter une fois que cela aura été fait.</p>
  <% elsif can_current_user_correct && @submission.waiting_forever? %>
    <p class="text-color-red">Cette solution ne sera jamais corrigée suite aux différents abus de l'étudiant.</p>
  <% elsif can_current_user_correct && @submission.plagiarized? %>
    <p class="text-color-red">Cette solution a été plagiée et n'est plus visible par l'étudiant.</p>
  <% elsif can_current_user_correct && @submission.generated_with_ai? %>
    <p class="text-color-red">Cette solution a été générée par intelligence artificielle et n'est plus visible par l'étudiant.</p>
  <% elsif (current_user == @submission.user || can_current_user_correct) && @submission.closed? %>
    <p class="text-color-red">Cette solution a été clôturée par un correcteur.</p>
  <% elsif current_user == @submission.user && @submission.wrong? && !@submission.has_recent_activity %>
    <p class="text-color-orange">Cette solution a été automatiquement clôturée après une inactivité de deux mois.</p>
  <% elsif (can_current_user_correct || (current_user == @submission.user && @cansendnewcomment)) && !@submission.draft? %>
    <%= render 'corrections/new', disable_correction: disable_correction, show_savedreplies: current_user != @submission.user, can_close_submission_directly: can_close_submission_directly %>
  <% end %>

<% end %>

<!-- Passer la soumission comme erronée/correcte (root ou correcteur qui vient d'accepter ou de refuser) -->
<% if @submission.correct? || @submission.wrong? %>
  <% ten_minutes_ago = DateTime.now - 10.minutes %>
  <% experienced_corrector = (can_current_user_correct && current_user.correction_level >= 12) %>
  <% if (@submission.correct? && (current_user.root? || experienced_corrector)) || (can_current_user_correct && @submission.corrections.where(:user => current_user).where("created_at > ?", ten_minutes_ago).count > 0) %>
    <% one_week_ago = DateTime.now - 7.days %>
    <% sp = (@submission.correct? ? Solvedproblem.where(:user => @submission.user, :problem => @problem).first : nil) %>
    <!-- NB: sp.nil? can happen for a correct submission in test environment -->
    <% if (@submission.correct? && (current_user.root? || (experienced_corrector && @submission.last_comment_time > one_week_ago) || (!sp.nil? && sp.correction_time > ten_minutes_ago))) || @submission.wrong? %>
      <p class="text-center">
      <% if @submission.correct? %>
        <%= link_to 'Marquer comme erronée', mark_wrong_submission_path(@submission), data: (Rails.env.test? ? {} : { confirm: "Êtes-vous #{current_user.sure} de vouloir marquer cette soumission comme erronée ?" }), :method => :put, :class => "text-color-red" %>
      <% else %>
        <%= link_to 'Marquer comme correcte', mark_correct_submission_path(@submission), data: (Rails.env.test? ? {} : { confirm: "Êtes-vous #{current_user.sure} de vouloir marquer cette soumission comme correcte ?" }), :method => :put, :class => "text-color-green" %>
      <% end %>
      </p>
    <% end %>
  <% end %>
<% end %>

<!-- Supprimer la soumission : pas possible si correcte -->
<% if current_user.root? && !@submission.correct? && !@submission.draft? %>
  <p class="text-center">
  <%= link_to 'Supprimer cette soumission', @submission, method: :delete, data: { confirm: "Êtes-vous #{current_user.sure} de vouloir supprimer cette soumission ? Ne faites-cela que si celle-ci n'est pas vraiment une soumission (par exemple si l'étudiant signale une erreur)." }, :class => "text-color-red" %>
  </p>
<% end %>

<% if can_current_user_correct && !@submission.draft? %>
  <% if @submission.correct? %>
    <!-- Propositions d'étoiles + Bouton direct pour étoiler (pour root) -->
    <%= render 'starproposals/show' %>    
  <% end %>
  
  <!-- Suspicions de plagiat -->
  <%= render 'suspicions/show' %>
  
  <!-- Chercher un possible plagiat -->
  <%= render 'submissions/search_string' %>
<% end %>

<% if current_user.root? %>
  <p class="text-center">
    <%= link_to "Bonne solution précédente", prev_good_submission_path(@submission) %> |
    <%= link_to "Bonne solution suivante", next_good_submission_path(@submission) %>
  </p>
<% end %>
