<% provide(:title, 'Tests virtuels') %>

<h1><%= title_1("Tests virtuels") %>
<button class="information-tag" onclick="return Info.toggle();">?</button>
</h1>

<%= render 'info' %>

<% if !has_enough_points(current_user) %>
  
  <!-- Si moins de 200 points, on ne peut rien voir -->
  <p class="mt-3 fw-bold">
  Les tests virtuels ne sont accessibles qu'aux utilisateurs ayant un score d'au moins 200.
  </p>

<% else %>

  <% compteur = 0 %>

  <% Virtualtest.order(:number).all.each do |t| %>

    <!-- Vérifie si on a accès à ce test virtuel -->
    <% access = true %>

    <% nb_prob = 0 %>
    <% pre = Array.new %>
    <% niveaumoyen = 0.0 %>

    <% problems = t.problems.order(:position).to_a %>
    <% problems.each do |p| %>
      <% nb_prob += 1 %>
      <% niveaumoyen += p.level %>
      <% p.chapters.each do |c| %>
        <% pre.push(c) %>
        <% access = false if !current_user.chap_solved?(c) %>
      <% end %>
    <% end %>

    <!-- Calcul du niveau moyen -->
    <% if nb_prob > 0 %>
      <% niveaumoyen = niveaumoyen / nb_prob.to_f %>
    <% end %>

    <% access = false if !t.online? %>
    <% access = true if current_user.admin? %>

    <!-- Si on a accès à ce test virtuel -->
    <% if access %>
      <% compteur = compteur + 1 %>
      <% status = current_user.test_status(t) %>
      
      <% classe = "" %>
      <!-- Si (administrateur et en ligne) OU (étudiant et pas encore fait) : jaune -->
      <% if (current_user.admin? && t.online?) || (!current_user.admin? && status == "not_started") %>
        <% classe = "yellowy" %>

      <!-- Si (administrateur et pas en ligne) OU (étudiant et en cours) : orange -->
      <% elsif (current_user.admin? && !t.online?) || status == "in_progress" %>
        <% classe = "orangey" %>

      <!-- Sinon : déjà fait donc vert -->
      <% else %>
        <% classe = "greeny" %>
      <% end %>
      
      <table class="table table-bordered virtualtest <%= classe %>">
      <tr><td class="title">
      <center><h4>Test #<%= t.number %><%= " (en construction)" if !t.online %></h4></center>
      </td></tr>
      
      <tr><td class="real-content">
      <div class="grid content"> <!-- 12 columns below 'md', 24 columns from 'md' (see module.scss) -->
      
        <!-- Prérequis (si admin) -->
        <% if current_user.admin? %>
          <div class="g-col-12 g-col-md-24 intro">
            <b>Prérequis : </b>
            <% prems = true %>
            <% pre.each do |c| %>
              <%= "-" if !prems %>
              <%= link_to c.name, c %>
              <%= "(en construction)" if !c.online %>
              <% prems = false %>
            <% end %>
          </div>
        <% end %>
        
        <!-- Information -->
        <div class="g-col-12 g-col-md-12 module left-info">
          <h5>Informations</h5>
          <b><%= nb_prob %></b> problème<%= "s" if nb_prob > 1 %><br/>
          Durée : <b><%= t.duration / 60 %>h<%= "0" if (t.duration % 60) < 10 %><%= t.duration % 60 %></b><br/>
          Niveau moyen : <b><% "-" if niveaumoyen == 0 %><%= niveaumoyen.round(1) if niveaumoyen > 0 %></b>
        </div>
        
        <!-- Statistiques -->
        <% nb_u = t.takentests.where(:status => :finished).count %>
        
        <% moy = 0 %>
        <% arr = Array.new %>
        <% h = 0 %>
        <% problems.each do |p| %>
          <% nb_u_real = nb_u %>
          <% sc = 0 %>
          <% p.submissions.where(intest: true).each do |s| %>
            <% if s.score == -1 && s.visible %>
              <% nb_u_real = nb_u_real - 1 %>
            <% elsif s.visible %>
              <% sc = sc + s.score %>
            <% end %>
          <% end %>
          <% arr[h] = sc.to_f / nb_u_real if nb_u_real > 0 %>
          <% arr[h] = -1 if nb_u_real <= 0 %>
          <% moy = moy + arr[h] if arr[h] >= 0 %>
          <% moy = -1000 if arr[h] < 0 %>
          <% h = h+1 %>
        <% end %>
        
        <div class="g-col-12 g-col-md-12 module right-info pb-2">
          <h5>Statistiques</h5>
          Terminé par <b><%= nb_u %></b> personne<%= "s" if nb_u > 1 %><br/>
          <% if current_user.admin || (nb_u >= 3 && status == "finished") %>
            Score moyen : <b><%= moy.round(1) if moy >= 0 %><%= "-" if moy < 0 %> / <%= 7*h %></b>
          <% end %>
        </div>
        
        <% existetotal = true %>
        <% can_online = true %>
        <% total = 0 %>
        <!-- Si admin ou étudiant ayant commencé : on affiche les problèmes -->
        <% if current_user.admin || status != "not_started" %>
          <% h = 0 %>
          <% problems.each do |p| %>
            <% can_online = false if !p.online? %>
            
            <% sc_show = "" %>
            <% sub_id = -1 %>
            <% if !current_user.admin? && status == "finished" %>
              <% s = p.submissions.where(user_id: current_user.id, intest: true).first %>
              <% if s.nil? %>
                <% sc_show = "0" %>
              <% elsif s.score == -1 %>
                <% sub_id = s.id %>
                <% sc_show = "?" %>
                <% existetotal = false %>
              <% else %>
                <% sub_id = s.id %>
                <% sc_show = s.score.to_s %>
                <% total = total + s.score %>
              <% end %>
            <% end %>
            
            <!-- Enoncé -->
            <div class="g-col-12 g-col-md-18 g-col-lg-19 module left-part">
              <% can_see_statement = (status == "in_progress" || p.can_be_seen_by(current_user, @no_new_submission)) %>
              <center><h5>
              <% if !current_user.admin && status == "in_progress" %>
                <%= link_to "Problème #{h+1}", virtualtest_path(t, :p => p.id) %>
              <% elsif !can_see_statement %>
                Problème <%= h+1 %>
              <% elsif sub_id < 0 %>
                <%= link_to "Problème #{h+1}", problem_path(p) %>
              <% else %>
                <%= link_to "Problème #{h+1}", problem_path(p, :sub => sub_id) %>
              <% end %>
              </h5></center>
              <!-- Déplacer -->
              <% if current_user.admin? && !t.online? && nb_prob > 1 %>
                <p class="text-center">Déplacer ce problème vers le
                <%= link_to "haut", order_problem_path(p, :new_position => problems[h-1].position), :method => :put if h > 0 %>
                <%= "-" if h > 0 && h < nb_prob-1 %>
                <%= link_to "bas", order_problem_path(p, :new_position => problems[h+1].position), :method => :put if h < nb_prob-1 %>
                </p>
              <% end %>
              <% if can_see_statement %>
                <%= raw(htmlise(p.statement)) %>
              <% else %>
                <!-- Uniquement possible quand le test est fini, les soumissions ne sont plus autorisées, et l'étudiant n'a pas de soumission sur ce problème -->
                <i>Vous n'avez temporairement plus accès à ce problème.</i>
              <% end %>
            </div>

            <div class="g-col-12 g-col-md-6 g-col-lg-5 module right-part pb-2">
              <center><h5>Score<%= " moyen" if current_user.admin? %></h5></center>
              <% if current_user.admin? %>
                <%= arr[h].round(1) if arr[h] >= 0 %>
                <%= "-" if arr[h] < 0 %>
              <% elsif status == "in_progress" %>
                -
              <% else %>
                <%= sc_show %>
              <% end %>
               / 7
            </div>
            
            <% h = h+1 %>
          <% end %>
        <% end %>
        
        <!-- Si l'étudiant n'a pas encore commencé le test -->
        <% if !current_user.admin? && status == "not_started" %>
          <% if current_user.can_write_submission? %>
            <div class="g-col-12 g-col-md-24">
              <center><%= button_to "Commencer ce test", begin_test_virtualtest_path(t), :method => :put, class: 'btn btn-lg btn-ld-light-dark mb-1', disabled: (@no_new_submission || in_skin?), data: (Rails.env.test? ? {} : { confirm: "Êtes-vous certain de vouloir commencer ce test ? Soyez sûr d'avoir #{t.duration / 60}h#{"0" if (t.duration % 60) < 10}#{t.duration % 60} devant vous !" }) %></center>
            </div>
          <% else %>
            <div class="g-col-12 g-col-md-24 module bottom-part text-start">
              Pour pouvoir commencer un test virtuel, vous devez d'abord compléter les chapitres suivants :
              <%= render 'submissions/chapters_to_write_submission' %>
            </div>
          <% end %>
        <% end %>
        
        <!-- Si étudiant en test --->
        <% if !current_user.admin? && status == "in_progress" %>
          <% initial = Takentest.where(:user_id => current_user.id, :virtualtest_id => t.id).first.taken_time %>
          <% depart = initial.to_i %>
          <% @virtualtest = t %>
          
          <div class="g-col-12 g-col-md-24 module bottom-part">
            <span style="font-size:20px;">Temps restant : <b><span id="clockbox0">--------</span></b></span>
            <%= render 'contests/clock', date_limit: depart + 60*@virtualtest.duration, message_zero: "Temps écoulé", p_id: 0 %>
          </div>
        <% end %>
        
        <!-- Si étudiant qui a fini -->
        <% if !current_user.admin? && status == "finished" %>
          <div class="g-col-12 g-col-md-24 module bottom-part">
            <h5>Score</h5>
            <span class="fw-bold" style="font-size:30px;">
            <% if existetotal %> 
              <%= total %>
            <% else %>
              ?
            <% end %>
            / <%= 7*nb_prob %>
            </span>
          </div>
        <% end %>
        
        <!-- Si test en construction -->
        <% if !t.online? && current_user.admin? %>
          <div class="g-col-12 g-col-md-24">
            <p class="mb-2 text-center">
            <%= link_to "Modifier ce test", edit_virtualtest_path(t) %> - <%= link_to "Supprimer ce test", t, method: :delete, data: { confirm: "Êtes-vous sûr de vouloir supprimer ce test virtuel ? Cela ne supprimera pas les problèmes associés." } %>
            </p>
            <% if nb_prob > 0 && can_online %>
              <center>
              <%= button_to "Mettre en ligne", put_online_virtualtest_path(t), :method => :put, class: 'btn btn-lg btn-ld-light-dark', data: { confirm: "Êtes-vous sûr de vouloir mettre ce test virtuel en ligne ? Vous ne pourrez alors plus le modifier !" } %>
              </center>
            <% else %>
              <center>
              <%= button_to "Mettre en ligne", put_online_virtualtest_path(t), :method => :put, class: 'btn btn-lg btn-ld-light-dark', disabled: true %>
              </center>
              <p class="text-center mt-2 mb-0">
              <%= "(Au moins un problème nécessaire)" if nb_prob == 0 %>
              <%= "(Problèmes doivent être en ligne)" if nb_prob > 0 %>
              </p>
            <% end %>
          </div>
        <% end %>
        
      </div>
      </td></tr>
      </table>
    <% end %>
  <% end %>

  <!-- Ajouter un test -->
  <% if current_user.admin? %>
    <center>
    <%= button_to "Ajouter un test virtuel", new_virtualtest_path, method: :get, class: 'btn btn-lg btn-ld-light-dark' %>
    </center>
  <% end %>

  <% if compteur == 0 %>
    <p>Aucun test virtuel n'est disponible.</p>
  <% end %>

<% end %>
