<% provide(:title, 'Niveaux et couleurs') %>
<h1>Niveaux et couleurs</h1>

<% i = 1 %>

<table>
<tr><th></th><th>Seuil</th><th>Nom</th><th>Pluriel</th><th>Couleur</th><th>Fond</th><th></th><th></th></tr>
<% Color.order(:pt).each do |c| %>
  <tr>
    <td style="padding-right:10px;"><%= i %><% i = i+1 %>.</td>
  <%= form_for(c) do |f| %>
    <td><%= f.number_field :pt, :style => "width:50px; margin:0px;"%></td>
    <td><%= f.text_field :name, :style => "width:150px; margin:0px;"%></td>
    <td><%= f.text_field :plural_name, :style => "width:150px; margin:0px;"%></td>
    <td><%= f.text_field :color, :style => "width:80px; margin:0px; color:#{c.color}; font-weight:bold;" %></td>
    <td><%= f.text_field :font_color, :style => "width:80px; margin:0px; background-color:#{c.font_color};" %></td>
    <td><%= f.submit "Editer", class: "btn btn-primary", onclick: "return confirm('Etes-vous sûr de vouloir éditer ce niveau?')" %></td>
  <% end %>
  <td><%= link_to "Supprimer", c, method: :delete, data: { confirm: "Etes-vous sûr de vouloir supprimer ce niveau?" } %> </td>
  </tr>
<% end %>

  <tr>
    <td style="padding-top:10px;"></td>
  <%= form_for(:color) do |f| %>
    <td style="padding-top:10px;"><%= f.number_field :pt, :style => "width:50px; margin:0px;"%></td>
    <td style="padding-top:10px;"><%= f.text_field :name, :style => "width:150px; margin:0px;"%></td>
    <td style="padding-top:10px;"><%= f.text_field :plural_name, :style => "width:150px; margin:0px;"%></td>
    <td style="padding-top:10px;"><%= f.text_field :color, :style => "width:80px; margin:0px;" %></td>
    <td style="padding-top:10px;"><%= f.text_field :font_color, :style => "width:80px; margin:0px;" %></td>
    <td style="padding-top:10px;"><%= f.submit "Ajouter", class: "btn btn-primary",  onclick: "return confirm('Etes-vous sûr de vouloir ajouter ce niveau?')" %></td>
  <% end %>
  </tr>

</table>
