<% provide(:title, 'Niveaux et couleurs') %>
<h1>Niveaux et couleurs</h1>
<% i = 1 %>

<table>
  <tr><th></th><th style="padding:5px;">Seuil</th><th style="padding:5px;">Nom</th><th style="padding:5px;">Nom féminin</th><th style="padding:5px;">Couleur</th><th style="padding:5px;">Fond</th><th></th><th></th></tr>
  <% Color.order(:pt).each do |c| %>
    <tr>
      <td style="padding-right:10px;"><%= i %><% i = i+1 %>.</td>
      <%= form_for(c) do |f| %>
        <td><%= f.number_field :pt, :class => "form-control", :style => "width:75px; margin:0px;"%></td>
        <td><%= f.text_field :name, :class => "form-control", :maxlength => "255", :style => "width:150px; margin:0px;"%></td>
        <td><%= f.text_field :femininename, :class => "form-control", :maxlength => "255", :style => "width:150px; margin:0px;"%></td>
        <td><%= f.text_field :color, :class => "form-control", :maxlength => "7", :style => "width:95px; margin:0px; color:#{c.color}; font-weight:bold;" %></td>
        <td><%= f.text_field :font_color, :class => "form-control", :maxlength => "7", :style => "width:95px; margin:0px; background-color:#{c.font_color};" %></td>
        <td><%= f.submit "Éditer", class: "btn btn-primary", style: "margin-left:10px;", onclick: "return confirm('Êtes-vous sûr de vouloir éditer ce niveau ?')" %></td>
      <% end %>
      <td><%= link_to "Supprimer", c, method: :delete, data: { confirm: "Êtes-vous sûr de vouloir supprimer ce niveau ?" } %> </td>
    </tr>
  <% end %>

  <tr>
    <td style="padding-top:10px;"></td>
    <%= form_for(:color) do |f| %>
      <td style="padding-top:10px;"><%= f.number_field :pt, :class => "form-control", :style => "width:75px; margin:0px;"%></td>
      <td style="padding-top:10px;"><%= f.text_field :name, :class => "form-control", :maxlength => "255", :style => "width:150px; margin:0px;"%></td>
      <td style="padding-top:10px;"><%= f.text_field :femininename, :class => "form-control", :maxlength => "255", :style => "width:150px; margin:0px;"%></td>
      <td style="padding-top:10px;"><%= f.text_field :color, :class => "form-control", :maxlength => "7", :style => "width:95px; margin:0px;" %></td>
      <td style="padding-top:10px;"><%= f.text_field :font_color, :class => "form-control", :maxlength => "7", :style => "width:95px; margin:0px;" %></td>
      <td style="padding-top:10px;"><%= f.submit "Ajouter", style: "margin-left:10px;", class: "btn btn-primary",  onclick: "return confirm('Êtes-vous sûr de vouloir ajouter ce niveau ?')" %></td>
    <% end %>
  </tr>

</table>

<br/><br/>

<!-- Graphique pour visualiser les couleurs -->

<center>
  <div style="width:850px; height:450px; position:relative;">
    <canvas id="myCanvas" width="806" height="450" style="position:absolute; left:30px; top: 0px; border:1px solid #000000;">
      Votre navigateur ne supporte pas les canvas.
    </canvas>

    <% @niveaux = Color.order(:pt).all %>

    <% nombrelevel = 0 %>
    <% maxi = 0 %>

    <% @niveaux.each do |n| %>
      <% maxi = 1 + n.pt * 1.2 %>
      <% nombrelevel = nombrelevel+1 %>
    <% end %>

    <% i = 1 %>

    <% prec = 2000 %>

    <% @niveaux.each do |n| %>
      <% if i > 1 %>
        <% haut = [450 - 450*(n.pt/maxi), 0].max %>
        <% if haut > 0 %>
          <% if haut < prec - 12 %>
            <div style="position:absolute; top:<%= haut-8 %>px; right:828px; width: 30px; text-align:right;"><%= n.pt %></div>
            <% prec = haut %>
          <% end %>
        <% end %>
      <% end %>
      <% i = i+1 %>
    <% end %>

  </div>
</center>

<script>
var c=document.getElementById("myCanvas");
var ctx=c.getContext("2d");

<% i = 1 %>
<% @niveaux.each do |n| %>
  <% if i == nombrelevel %>
    <% bas = [450 - 450*(n.pt/maxi), 0].max %>
    <% haut = 0 %>
  <% else %>
    <% bas = [450 - 450*(n.pt/maxi), 0].max %>
    <% haut = [450 - 450*(@niveaux[i].pt/maxi), 0].max %>
  <% end %>
  <% if bas > haut %>
    ctx.beginPath();
    ctx.rect(0, <%= haut %>, 806, <%= bas - haut %>);
    ctx.fillStyle = '<%= n.font_color %>';
    ctx.fill();
  <% end %>
  <% i = i+1 %>
<% end %>

<% i = 1 %>
<% @niveaux.each do |n| %>
  <% if i > 1 %>
    <% haut = [450 - 450*(n.pt/maxi), 0].max %>
    <% if haut > 0 %>
      ctx.beginPath();
      ctx.moveTo(0, <%= haut %>);
      ctx.lineTo(806, <%= haut %>);
      ctx.lineWidth = 1;
      ctx.strokeStyle = 'white';
      ctx.stroke();
    <% end %>
  <% end %>
  <% i = i+1 %>
<% end %>
</script>
