<% provide(:title, 'Niveaux et couleurs') %>

<h1><%= title_1("Niveaux et couleurs") %></h1>

<% i = 1 %>

<table class="mb-3">
  <tr><th></th><th class="text-center p-1">Seuil</th><th class="text-center p-1">Nom</th><th class="text-center p-1">Nom féminin</th><th class="text-center p-1">Couleur (light)</th><th class="text-center p-1">Couleur (dark)</th><th></th><th></th></tr>
  <% Color.order(:pt).each do |c| %>
    <tr>
      <td class="ps-2 pe-1"><%= i %>.</td>
      <%= form_for(c) do |f| %>
        <td><%= f.number_field :pt, :id => "pt_edit#{i}", :class => "form-control m-0", :style => "width:85px;"%></td>
        <td><%= f.text_field :name, :id => "name_edit#{i}", :class => "form-control m-0", :maxlength => "255", :style => "width:150px;"%></td>
        <td><%= f.text_field :femininename, :id => "femininename_edit#{i}", :class => "form-control m-0", :maxlength => "255", :style => "width:150px;"%></td>
        <td><%= f.text_field :color, :id => "color_edit#{i}", :class => "form-control m-0 fw-bold", :maxlength => "7", :style => "width:95px; color:#{c.color};" %></td>
        <td><%= f.text_field :dark_color, :id => "dark_color_edit#{i}", :class => "form-control m-0 fw-bold", :maxlength => "7", :style => "width:95px; color:#{c.dark_color};" %></td>
        <td><%= f.submit "Modifier", :id => "button_edit#{i}", class: "btn btn-primary ms-2", onclick: "return confirm('Êtes-vous sûr de vouloir modifier ce niveau ?')" %></td>
        <% i = i+1 %>
      <% end %>
      <td class="ps-3"><%= link_to "Supprimer", c, method: :delete, id: "link_delete#{i}", data: { confirm: "Êtes-vous sûr de vouloir supprimer ce niveau ?" } %> </td>
    </tr>
  <% end %>

  <tr>
    <td class="pt-2"></td>
    <%= form_for(:color) do |f| %>
      <td class="pt-2"><%= f.number_field :pt, :id => "pt_add", :class => "form-control m-0", :style => "width:85px;"%></td>
      <td class="pt-2"><%= f.text_field :name, :id => "name_add", :class => "form-control m-0", :maxlength => "255", :style => "width:150px;"%></td>
      <td class="pt-2"><%= f.text_field :femininename, :id => "femininename_add", :class => "form-control m-0", :maxlength => "255", :style => "width:150px;" %></td>
      <td class="pt-2"><%= f.text_field :color, :id => "color_add", :class => "form-control m-0", :maxlength => "7", :style => "width:95px;" %></td>
      <td class="pt-2"><%= f.text_field :dark_color, :id => "dark_color_add", :class => "form-control m-0", :maxlength => "7", :style => "width:95px;" %></td>
      <td class="pt-2"><%= f.submit "Ajouter", :id => "button_add", class: "btn btn-primary ms-2",  onclick: "return confirm('Êtes-vous sûr de vouloir ajouter ce niveau ?')" %></td>
    <% end %>
  </tr>

</table>


<!-- Graphique pour visualiser les couleurs -->
<center>
  <div style="width:100%; max-width:900px; height:480px; position:relative; display:block;">
    <canvas id="myCanvas" width="900" height="480" style="position:absolute; left:0px; top:0px;">
    Votre navigateur ne supporte pas les canvas.
    </canvas>
  </div>
</center>

<% niveaux = Color.get_all %>

<% numlevel = 0 %>
<% maxi = 0 %>

<% niveaux.each do |n| %>
  <% maxi = 1 + n.pt * 1.2 %>
  <% numlevel += 1 %>
<% end %>

<script type="text/javascript">
  function respondCanvas(){
    // Check light or dark theme
    var is_dark = (document.documentElement.getAttribute('data-bs-theme') == 'dark');

    // Get the canvas & context
    var c = document.getElementById('myCanvas');
    var ctx = c.getContext('2d');
    var container = c.parentElement;
    
    var W = 900.0;
    var H = 480.0;
    
    c.setAttribute('width', container.offsetWidth); //max width
    c.setAttribute('height', H * container.offsetWidth / W); //max height

    container.style.height = H * container.offsetWidth / W + "px"

    // Draw content

    var pct = c.offsetWidth / W;
    var W_real = pct * W;
    var H_real = pct * H;
    var W_offset = 50;
    var H_offset = 5;
    var W_size = W_real - W_offset - 50;
    var H_size = H_real - H_offset - 5;


    // Affichage des niveaux avec couleurs
    ctx.font = "14px Arial";
    ctx.textAlign = 'right';
    <% i = 1 %>
    var prec = 1000;
    <% niveaux.each do |n| %>
      <% haut = [1 - (n.pt / maxi), 0].max %>
    
      // Points à gauche du graphique
      <% if i > 1 %>
        <% if haut > 0 %>
          if (H_size * <%= haut %> < prec - 15){
            ctx.fillStyle = (is_dark ? 'white' : 'black');
            ctx.fillText(<%= n.pt %>, W_offset - 6, H_offset + H_size * <%= haut %> + 5);
            prec = H_size * <%= haut %>;
          }
        <% end %>
      <% end %>

      // Affichage du rectangle
      <% if haut > 0 %>
        ctx.beginPath();
        ctx.rect(W_offset, H_offset, W_size, H_size * <%= haut %>);
        ctx.fillStyle = (is_dark ? '<%= n.dark_color %>' : '<%= n.color %>');
        ctx.fill();
      <% end %>
      <% i = i+1 %>
    <% end %>
    
    // Contour du canvas
    ctx.beginPath();
    ctx.rect(W_offset, H_offset, W_size, H_size);
    ctx.lineWidth = 2;
    ctx.strokeStyle = (is_dark ? 'white' : 'black');
    ctx.stroke();
  }

  window.addEventListener("resize", () => {
    respondCanvas();
  });
  
  window.addEventListener("theme-change", () => {
    respondCanvas();
  });
  
  respondCanvas();

</script>
