<% if @case == 1 %>

<center>
  <nav>
    <ul class="pagination justify-content-center d-none d-sm-flex">
      <li class="page-item"><a class="page-link" rel="prev" href="/subjects/<%= @subject.id %>?page=9">←</a></li>
      <li class="page-item"><a class="page-link" href="/subjects/<%= @subject.id %>?page=1">1</a></li>
      <li class="page-item"><a class="page-link" href="/subjects/<%= @subject.id %>?page=2">2</a></li>
      <li class="page-item disabled"><i class="page-link">…</i></li>
      <li class="page-item"><a class="page-link" href="/subjects/<%= @subject.id %>?page=8">8</a></li>
      <li class="page-item"><a class="page-link" rel="prev" href="/subjects/<%= @subject.id %>?page=9">9</a></li>
      <li class="page-item active"><span class="page-link">9 ¾</span></li>
      <li class="page-item"><a class="page-link" rel="next" href="/subjects/<%= @subject.id %>?page=10">10</a></li>
      <li class="page-item"><a class="page-link" href="/subjects/<%= @subject.id %>?page=11">11</a></li>
      <li class="page-item disabled"><i class="page-link">…</i></li> <li class="page-item"><a class="page-link" href="/subjects/<%= @subject.id %>?page=<%= @num_pages-1 %>"><%= @num_pages-1 %></a></li>
      <li class="page-item"><a class="page-link" href="/subjects/<%= @subject.id %>?page=<%= @num_pages %>"><%= @num_pages %></a></li>
      <li class="page-item"><a class="page-link" rel="next" href="/subjects/<%= @subject.id %>?page=10">→</a></li>
    </ul>
  </nav>
  <div role="navigation" class="d-block d-sm-none mb-3" list_classes="[&quot;pagination&quot;]">
    <a class="previous_page" rel="prev" href="/subjects/<%= @subject.id %>?page=9">← Préc.</a>
    <a href="/subjects/<%= @subject.id %>?page=1">1</a> <a href="/subjects/<%= @subject.id %>?page=2">2</a>
    <span class="gap">...</span>
    <a rel="prev" href="/subjects/<%= @subject.id %>?page=9">9</a>
    <em class="current" aria-current="page">9 ¾</em>
    <a rel="next" href="/subjects/<%= @subject.id %>?page=10">10</a>
    <span class="gap">...</span> <a href="/subjects/<%= @subject.id %>?page=<%= @num_pages-1 %>"><%= @num_pages-1 %></a>
    <a href="/subjects/<%= @subject.id %>?page=<%= @num_pages %>"><%= @num_pages %></a>
    <a class="next_page" rel="next" href="/subjects/<%= @subject.id %>?page=10">Suiv. →</a>
  </div>
</center>

<% elsif @case == 2 || @case == 3 %>

<center>
  <nav>
    <ul class="pagination justify-content-center d-none d-sm-flex">
      <li class="page-item"><a class="page-link" rel="prev" href="/subjects/<%= @subject.id %>?page=3">←</a></li>
      <li class="page-item"><a class="page-link" href="/subjects/<%= @subject.id %>?page=1">1</a></li>
      <li class="page-item"><a class="page-link" href="/subjects/<%= @subject.id %>?page=2">2</a></li>
      <li class="page-item"><a class="page-link" rel="prev" href="/subjects/<%= @subject.id %>?page=3">3</a></li>
      <li class="page-item active"><span class="page-link">$<%= "\\approx" if @case == 2 %>\pi$</span></li>
      <li class="page-item"><a class="page-link" rel="next" href="/subjects/<%= @subject.id %>?page=4">4</a></li>
      <li class="page-item"><a class="page-link" href="/subjects/<%= @subject.id %>?page=5">5</a></li>
      <li class="page-item disabled"><i class="page-link">…</i></li>
      <li class="page-item"><a class="page-link" href="/subjects/<%= @subject.id %>?page=<%= @num_pages-1 %>"><%= @num_pages-1 %></a></li>
      <li class="page-item"><a class="page-link" href="/subjects/<%= @subject.id %>?page=<%= @num_pages %>"><%= @num_pages %></a></li>
      <li class="page-item"><a class="page-link" rel="next" href="/subjects/<%= @subject.id %>?page=4">→</a></li>
    </ul>
  </nav>
  <div role="navigation" class="d-block d-sm-none mb-3" list_classes="[&quot;pagination&quot;]">
    <a class="previous_page" rel="prev" href="/subjects/<%= @subject.id %>?page=3">← Préc.</a>
    <a href="/subjects/<%= @subject.id %>?page=1">1</a>
    <a href="/subjects/<%= @subject.id %>?page=2">2</a>
    <a rel="prev" href="/subjects/<%= @subject.id %>?page=3">3</a>
    <em class="current" aria-current="page">$<%= "\\approx" if @case == 2 %>\pi$</em>
    <a rel="next" href="/subjects/<%= @subject.id %>?page=4">4</a>
    <span class="gap">...</span>
    <a href="/subjects/<%= @subject.id %>?page=<%= @num_pages-1 %>"><%= @num_pages-1 %></a>
    <a href="/subjects/<%= @subject.id %>?page=<%= @num_pages %>"><%= @num_pages %></a>
    <a class="next_page" rel="next" href="/subjects/<%= @subject.id %>?page=4">Suiv. →</a>
  </div>
</center>

<% end %>
