<% if s.myfiles.count + s.fakefiles.count > 0 %>
  <b>Pièces jointes (décochez pour supprimer)</b><br/>
  <% s.myfiles.order(:id).each do |f| %>
    <div class="checkbox">
    <label>
      <input type="checkbox" name="prevFile<%= @postfix %>_<%= f.id %>" value="1" checked="checked" />
      <%= link_to f.file.filename, rails_blob_path(f.file, disposition: 'attachment') %>
    </label>
    </div>
  <% end %>
  <% s.fakefiles.order(:id).each do |f| %>
    <div class="checkbox">
    <label>
      <input type="checkbox" name="prevFakeFile<%= @postfix %>_<%= f.id %>" value="1" checked="checked" />
      <span style="color:#0000BB;"><%= f.filename %> (désactivée)</span>
    </label>
    </div>
  <% end %>
<% end %>
