<script type="text/javascript">
function checkCategory() {
    var e = document.getElementById("subject_category_id");
    var category = e.options[e.selectedIndex].value
    $.getScript("<%= new_subject_url %>?cat=" + category)
}
function checkChapter() {
    var e = document.getElementById("subject_chapter_id");
    var chapter = e.options[e.selectedIndex].value
    if(chapter == -1) {
      var e2 = document.getElementById("subject_category_id");
      var category = e2.options[e2.selectedIndex].value
      chapter = -category/1000;
    }

    <% if is_edit && !@subject.question_id.nil? %>
    	$.getScript("<%= new_subject_url %>?chap=" + chapter + "&exo_id=<%= @subject.question_id %>")
    <% elsif is_edit && !@subject.problem_id.nil? %>
    	$.getScript("<%= new_subject_url %>?chap=" + chapter + "&prob_id=<%= @subject.problem_id %>")
    <% else %>
    	$.getScript("<%= new_subject_url %>?chap=" + chapter)
    <% end %>
}
function checkQuestion() {
    var e = document.getElementById("subject_question_id");
    var question = e.options[e.selectedIndex].value
    var txt = e.options[e.selectedIndex].text
    $.getScript("<%= new_subject_url %>?exo=" + question + "&txt=" + encodeURI(txt))
}
function checkProblem() {
    var e = document.getElementById("subject_problem_id");
    var problem = e.options[e.selectedIndex].value
    var txt = e.options[e.selectedIndex].text.replace("#", "HASHTAG");
    $.getScript("<%= new_subject_url %>?prob=" + problem + "&txt=" + encodeURI(txt))
}
function checkWepion() {
    var e = document.getElementById("subject_for_wepion");
    var emailWepionDiv = document.getElementById("emailWepionDiv");
    if (emailWepionDiv != null) {
      emailWepionDiv.style.display = (e.checked ? 'block' : 'none');
    }
}
</script>

<% if !(defined? postfix) %>
  <% postfix = "" %>
<% end %>

<% erreur = false %>

<% if !session[:errorSubject].nil? %>
  <% erreur = true %>
  <%= render 'shared/error_messages', errors: session[:errorSubject] %>
<% end %>

<!-- Calcul de la liste des sections et chapitres -->
<% liste = Array.new %>
<% liste2 = Array.new %>

<% Category.select(:id, :name).order(:id).each do |c| %>
  <% unless c.name == "Wépion" && !current_user.sk.wepion? && !current_user.sk.admin? %>
    <% liste.push([c.name, c.id]) %>
  <% end %>
<% end %>

<% Section.select(:id, :name).order("fondation DESC, id").each do |s| %>
  <% liste2.push([s.name, 1000*s.id]) %>
<% end %>

<% selected_category = 0 %>

<% if erreur %>
  <% selected_category = session[:oldAll][:category_id].to_i %>
<% elsif is_edit %>
  <% if !@subject.section_id.nil? %>
    <% selected_category = 1000*@subject.section_id %>
  <% elsif !@subject.category_id.nil? %>
    <% selected_category = @subject.category_id %>
  <% end %>
<% elsif !@q.nil? %>
  <% if @q >= 1000000 %>
    <% selected_category = @q/1000000 %>
  <% elsif @q >= 1000 %>
    <% if @q % 1000 == 0 %>
      <% selected_category = @q %>
    <% elsif @q % 1000 == 1 %>
      <% selected_category = @q-1 %>
    <% end %>
  <% else %>
    <% chap = Chapter.find_by_id(@q) %>
    <% if !chap.nil? %>
      <% selected_category = 1000*chap.section_id %>
    <% end %>
  <% end %>
<% end %>

<!-- Catégorie -->
<div class="mb-2">
  <%= f.label :category_id, :class => "form-label", :disabled => current_user.other %>
  <%= f.select(:category_id, grouped_options_for_select([['En dehors des cours', liste], ['En lien avec les cours', liste2]], selected_category), {}, { :class => "form-select", :style => "width:100%; max-width:400px;", :disabled => current_user.other, :onchange => ("javascript: checkCategory();") }) %>
</div>

<% selected_chapter = 0 %>
<% seechap = false %>

<!-- Chapitre (visible lorsque catégorie choisie est une section) -->
<% if erreur && selected_category > 999 %>
  <% sect = Section.find(selected_category/1000) %>
  <% seechap = true %>
  <% if !session[:oldAll][:chapter_id].nil? %>
    <% selected_chapter = session[:oldAll][:chapter_id].to_i %>
  <% end %>
<% elsif is_edit && selected_category > 999 %>
  <% sect = @subject.section %>
  <% seechap = true %>
  <% if !@subject.chapter_id.nil? %>
    <% selected_chapter = @subject.chapter_id %>
  <% elsif !@subject.problem_id.nil? %>
    <% selected_chapter = -1 %>
  <% end %>
<% elsif !@q.nil? && selected_category > 999 %>
  <% sect = Section.find(selected_category/1000) %>
  <% seechap = true %>
  <% if @q >= 1000 %>
    <% if @q % 1000 == 1 %>
      <% selected_chapter = -1 %>
    <% end %>
  <% else %>
    <% selected_chapter = @q %>
  <% end %>
<% end %>

<% listechap = Array.new %>
<% if seechap %>
  <% listechap.push(["Aucun chapitre en particulier", 0]) %>
  <% sect.chapters.select(:id, :name).where(:online => true).order("level, position").each do |c| %>
    <% listechap.push([c.name, c.id]) %>
  <% end %>
  <% if !sect.fondation %>
    <% listechap.push([get_problem_category_name(sect.name), -1]) %>
  <% end %>
<% end %>

<div class="mb-2">
  <%= f.label :chapter_id, :class => "form-label", :disabled => current_user.other, :style => "#{'display:none;' if !seechap}", :id => "label_chap" %>
  <%= f.select(:chapter_id, options_for_select(listechap, selected_chapter).html_safe, {}, { :class => "form-select", :style => "width:100%; max-width:400px; #{'display:none;' if !seechap}", :disabled => current_user.other, :onchange => ("javascript: checkChapter();")}) %>
</div>

<% selected_exercise = 0 %>
<% seeexo = false %>

<!-- Exercice (visible lorsque chapitre choisi) -->
<% if erreur && selected_chapter > 0 %>
  <% seeexo = true %>
  <% chap = Chapter.find(selected_chapter) %>
  <% selected_exercise = session[:oldAll][:question_id].to_i %>
<% elsif is_edit && selected_chapter > 0 %>
  <% seeexo = true %>
  <% chap = @subject.chapter %>
  <% if !@subject.question_id.nil? %>
    <% selected_exercise = @subject.question_id %>
  <% end %>
<% elsif !@q.nil? && selected_chapter > 0 %>
  <% seeexo = true %>
  <% chap = Chapter.find(selected_chapter) %>
<% end %>


<% exovisibles = true %>
<% some_exo_hidden = false %>
<% listeexo = Array.new %>
<% forced_title = "" %>

<% if seeexo %>
  <% if !current_user.sk.admin? && !sect.fondation %>
    <% chap.prerequisites.select(:id).each do |p| %>
      <% if !current_user.sk.chapters.exists?(p.id) %>
        <% exovisibles = false %>
        <% break %>
      <% end %>
    <% end %>
  <% end %>
  
  <% listeexo.push(["Aucun exercice en particulier", 0]) %>
  
  <% if exovisibles %>
    <% i = 1 %>
    <% visible_questions = chap.questions.select(:id).where(:online => true).order(:position).to_a %>
    <% questions_with_subject = Subject.select(:question_id).where(:question_id => visible_questions.map(&:id)).to_a.map!(&:question_id) %>
    
    <% visible_questions.each do |e| %>
      <% if (e.id == selected_exercise || !questions_with_subject.include?(e.id)) %>
        <% listeexo.push(["Exercice #{i}", e.id]) %>
        <% if selected_exercise == e.id %>
          <% forced_title = "Exercice #{i}" %>
        <% end %>
      <% else %>
        <% some_exo_hidden = true %>
      <% end %>
      <% i = i+1 %>
    <% end %>
  <% end %>
<% end %>

<div class="mb-2">
  <%= f.label :question_id, :class => "form-label", :disabled => current_user.other, :style => "#{ 'display:none;' if !seeexo }", :id => "label_exo" %>
  <p id="alert-no-exercise-access" style="<%= 'display:none;' if exovisibles %>" class="mb-2 text-color-red">Vous n'avez pas accès aux exercices de ce chapitre.</p>
  <p id="alert-some-exercise-hidden" style="<%= 'display:none;' if !some_exo_hidden %>" class="mb-2 text-color-orange">Certains exercices n'apparaissent pas dans la liste suivante car un sujet a déjà été ouvert à leur propos.</p>
  <%= f.select(:question_id, options_for_select(listeexo, selected_exercise).html_safe, {}, { :class => "form-select", :style => "width:100%; max-width:400px; #{ 'display:none;' if !seeexo }", :disabled => current_user.other, :onchange => ("javascript: checkQuestion();")}) %>
</div>


<% selected_problem = 0 %>
<% seeprob = false %>

<!-- Problème (visible lorsque chapitre choisi est 'Problèmes de ...') -->
<% if erreur && selected_chapter == -1 %>
  <% seeprob = true %>
  <% selected_problem = session[:oldAll][:problem_id].to_i %>
<% elsif is_edit && selected_chapter == -1 %>
  <% seeprob = true %>
  <% if !@subject.problem_id.nil? %>
    <% selected_problem = @subject.problem_id %>
  <% end %>
<% elsif !@q.nil? && selected_chapter == -1 %>
  <% seeprob = true %>
<% end %>

<% probvisibles = true %>
<% some_prob_hidden = false %>
<% listeprob = Array.new %>

<% if seeprob %>
  <% probvisibles = has_enough_points(current_user.sk) %>

  <% listeprob.push(["Choisissez un problème...", 0]) %>

  <% if probvisibles %>
    <% access_prob = accessible_problems_from_section(current_user.sk, sect, ["id", "number"]).to_a %>
    <% prob_with_subject = Subject.select(:problem_id).where(:problem_id => access_prob.map(&:id)).to_a.map!(&:problem_id) %>
  
    <% access_prob.each do |p| %>
      <% if (p.id == selected_problem || !prob_with_subject.include?(p.id)) %>
        <% listeprob.push(["Problème ##{p.number}", p.id]) %>
        <% if selected_problem == p.id %>
          <% forced_title = "Problème ##{p.number}" %>
        <% end %>
      <% else %>
        <% some_prob_hidden = true %>
      <% end %>
    <% end %>
  <% end %>
<% end %>


<div class="mb-2">
  <%= f.label :problem_id, :class => "form-label", :disabled => current_user.other, :style => "#{ 'display:none;' if !seeprob }", :id => "label_prob" %>
  <p id="alert-no-problem-access" class="text-color-red" style="<%= 'display:none;' if probvisibles %>">Vous n'avez pas accès aux problèmes.</p>
  <p id="alert-some-problem-hidden" class="text-color-orange" style="<%= 'display:none;' if !some_prob_hidden %>">Certains problèmes n'apparaissent pas dans la liste suivante car un sujet a déjà été ouvert à leur propos.</p>
  <%= f.select(:problem_id, options_for_select(listeprob, selected_problem).html_safe, {}, { :class => "form-select", :style => "width:100%; max-width:400px; #{ 'display:none;' if !seeprob }", :disabled => current_user.other, :onchange => ("javascript: checkProblem();")}) %>
</div>


<!-- Titre -->
<% if selected_exercise > 0 || selected_problem > 0 %>
  <div class="mb-2">
    <%= f.label :title, :class => "form-label", :disabled => current_user.other %>
    <%= f.text_field :title, :class => "form-control", :maxlength => "255", :style => "width:100%; max-width:400px;", :name => "osef", :disabled => "disabled", :value => forced_title %>
    <%= hidden_field_tag "subject[title]", forced_title, :id => "hidden_title" %>
  </div>
<% else %>
  <% tit = "" %>
  <% if erreur %>
    <% tit = session[:oldAll][:title] %>
  <% elsif is_edit %>
    <% tit = @subject.title %>
  <% end %>
  <div class="mb-2">
    <%= f.label :title, :class => "form-label", :disabled => current_user.other %>
    <%= f.text_field :title, :disabled => current_user.other, :class => "form-control", :maxlength => "255", :style => "width:100%; max-width:400px;", :value => tit %>
    <%= hidden_field_tag "", "", :id => "hidden_title" %>
  </div>
<% end %>

<!-- Message -->
<div class="mb-2">
  <% cont = "" %>
  <% if erreur %>
    <% cont = session[:oldAll][:content] %>
  <% elsif is_edit %>
    <% cont = @subject.content %>
  <% end %>
  <%= f.label :content, :for => "MathInput#{postfix}", :class => "form-label", :disabled => current_user.other %>
  <%= render 'shared/preview', postfix: postfix %>
  <%= render 'shared/smiley', postfix: postfix, hiddentext: true %>
  <%= f.text_area :content, :class => "form-control", :maxlength => "8000", :style => "height:200px;", :id=>"MathInput#{postfix}", :onkeyup => "PreviewSafe.MyUpdate()", :disabled => current_user.other, :value => cont %>
  <% if is_edit %>
    <!-- Do not call initAndUpdatePreviewSafeWhenPossible(): it will be done only after rolling to show the form -->
  <% else %>
    <script>initAndUpdatePreviewSafeWhenPossible(false, true)</script>
  <% end %>
</div>

<!-- Case correcteurs -->
<% if current_user.sk.admin || current_user.sk.corrector %>
  <% checked = "" %>
  <% if erreur %>
    <% checked = "checked" if session[:oldAll][:for_correctors].to_i == 1 %>
  <% elsif is_edit %>
    <% checked = "checked" if @subject.for_correctors %>
  <% end %>
  <div class="form-check mb-1">
  <label class="form-check-label">
    <%= f.check_box :for_correctors, :class => "form-check-input", :disabled => current_user.other, :checked => checked %>
    Cochez si ce sujet est réservé aux correcteurs.
  </label>
  </div>
<% end %>

<% someCheckBox = false %>

<!-- Case important -->
<% if current_user.sk.admin? %>
  <% checked = "" %>
  <% if erreur %>
    <% checked = "checked" if session[:oldAll][:important].to_i == 1 %>
  <% elsif is_edit %>
    <% checked = "checked" if @subject.important %>
  <% end %>
  <div class="form-check mb-1">
   <label class="form-check-label">
    <%= f.check_box :important, :class => "form-check-input", :disabled => current_user.other, :checked => checked %>
    Cochez si ce sujet doit toujours apparaître en premier lieu.
  </label>
  </div>
  <% someCheckBox = true %>
<% end %>

<!-- Case wépion -->
<% wepion_checked = "" %>
<% if current_user.sk.wepion || current_user.sk.admin? %>
  <% if erreur %>
    <% wepion_checked = "checked" if session[:oldAll][:for_wepion].to_i == 1 %>
  <% elsif is_edit %>
    <% wepion_checked = "checked" if @subject.for_wepion %>
  <% end %>
  <div class="form-check mb-1">
  <label class="form-check-label">
    <%= f.check_box :for_wepion, :class => "form-check-input", :disabled => current_user.other, :checked => wepion_checked, :onchange => ("javascript: checkWepion();") %>
    Cochez si ce sujet est destiné aux étudiants de Wépion.
  </label>
  </div>
  <% someCheckBox = true %>
<% end %>

<!-- Case e-mails aux groupes A et/ou B -->
<% if current_user.sk.root && !is_edit %>
  <div class="form-check mb-1" style="<%= "display:none;" unless wepion_checked == "checked" or Rails.env.test? %>" id="emailWepionDiv">
  <label class="form-check-label">
    <%= check_box_tag "emailWepion", "A", false, :class => "form-check-input", :disabled => current_user.other %>
    Prévenir tous les élèves de Wépion de ce nouveau message par e-mail.
  </label>
  </div>
  <% someCheckBox = true %>
<% end %>

<% if someCheckBox %>
  <div class="mb-2"></div>
<% end %>

<% if !session[:errorSubject].nil? %>
  <% if is_edit %>
    <script>rollingDevelopQuickWhenPossible("<%= postfix %>", true)</script>
  <% end %>
  <% session.delete(:errorSubject) %>
  <% session.delete(:oldAll) %>
<% end %>

<% if !session[:successSubject].nil? %>
  <% if is_edit %>
    <script>rollingShowusWhenPossible("<%= postfix %>")</script>
  <% end %>
  <% session.delete(:successSubject) %>
<% end %>
