<script type="text/javascript">
function checkCategory() {
    var e = document.getElementById("subject_category_id");
    var category = e.options[e.selectedIndex].value
    $.getScript("<%= new_subject_url %>?cat=" + category)
}
function checkChapter() {
    var e = document.getElementById("subject_chapter_id");
    var chapter = e.options[e.selectedIndex].value
    <% if @edit && !@subject.question_id.nil? %>
    	$.getScript("<%= new_subject_url %>?chap=" + chapter + "&exo_id=<%= @subject.question_id %>")
    <% else %>
    	$.getScript("<%= new_subject_url %>?chap=" + chapter)
    <% end %>
}
function checkQuestion() {
    var e = document.getElementById("subject_question_id");
    var question = e.options[e.selectedIndex].value
    var txt = e.options[e.selectedIndex].text
    $.getScript("<%= new_subject_url %>?exo=" + question + "&txt=" + txt)
}
</script>

<% if @champ.nil? %>
  <% @champ = "" %>
<% end %>

<% erreur = false %>

<% if !session["errorSubject"].nil? %>
  <% erreur = true %>
  <% erreurs = session["errorSubject"] %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      Le formulaire contient <%= pluralize(erreurs.count, "erreur") %>.
    <ul>
    <% erreurs.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
    </div>
  </div>
<% end %>

<!-- Calcul de la liste des sections et chapitres -->
<% liste = Array.new %>
<% liste2 = Array.new %>

<% Category.order(:id).each do |c| %>
  <% liste.push([c.name, c.id]) %>
<% end %>

<% Section.where(:fondation => true).to_a.each do |s| %>
  <% liste2.push([s.name, 1000*s.id]) %>
<% end %>

<% Section.where(:fondation => false).order(:id).to_a.each do |s| %>
  <% liste2.push([s.name, 1000*s.id]) %>
<% end %>

<% presel = 0 %>

<% if erreur %>
  <% presel = session[:oldAll][:category_id].to_i %>
<% elsif @edit %>
  <% if !@subject.section_id.nil? %>
    <% presel = 1000*@subject.section_id %>
  <% elsif !@subject.category_id.nil? %>
    <% presel = @subject.category_id %>
  <% end %>
<% end %>

<!-- Catégorie -->
<div class="form-group">
  <%= f.label :category_id, :disabled => current_user.other %>
  <%= f.select(:category_id, grouped_options_for_select([['En dehors des cours', liste], ['En lien avec les cours', liste2]], presel), {}, { :class => "form-control", :style => "width:100%; max-width:400px;", :disabled => current_user.other, :onchange => ("javascript: checkCategory();") }) %>
</div>

<% presel2 = 0 %>
<% seechap = false %>

<!-- Chapitre -->
<% if erreur && presel > 999 %>
  <% sect = Section.find(presel/1000) %>
  <% seechap = true %>
  <% if !session[:oldAll][:chapter_id].nil? %>
    <% presel2 = session[:oldAll][:chapter_id].to_i %>
  <% end %>
<% elsif @edit && presel > 999 %>
  <% sect = @subject.section %>
  <% seechap = true %>
  <% if !@subject.chapter_id.nil? %>
    <% presel2 = @subject.chapter_id %>
  <% end %>
<% end %>

<% if seechap %>
  <% listechap = Array.new %>
  <% listechap.push(["Aucun chapitre en particulier", 0]) %>
  <% sect.chapters.order(:name).each do |c| %>
    <% listechap.push([c.name, c.id]) %>
  <% end %>  
  <div class="form-group">
    <%= f.label :chapter_id, :disabled => current_user.other, :id => "label_chap" %>
    <%= f.select(:chapter_id, options_for_select(listechap, presel2).html_safe, {}, { :class => "form-control", :style => "width:100%; max-width:400px", :disabled => current_user.other, :onchange => ("javascript: checkChapter();")}) %>
  </div>
<% else %>
  <div class="form-group">
    <%= f.label :chapter_id, :disabled => current_user.other, :style => "display:none;", :id => "label_chap" %>
    <%= f.select(:chapter_id, options_for_select([]), {}, { :class => "form-control", :style => "width:100%; max-width:400px; display:none;", :disabled => current_user.other, :onchange => ("javascript: checkChapter();")}) %>
  </div>
<% end %>

<% presel3 = 0 %>
<% txt = "" %>
<% seeexo = false %>

<!-- Exercice -->
<% if erreur && presel2 > 0 %>
  <% seeexo = true %>
  <% chap = Chapter.find(presel2) %>
  <% presel3 = session[:oldAll][:question_id].to_i %>
<% elsif @edit && presel2 > 0 %>
  <% seeexo = true %>
  <% chap = @subject.chapter %>
  <% if !@subject.question_id.nil? %>
    <% presel3 = @subject.question_id %>
  <% end %>
<% end %>

<% if seeexo %>
  <% cache = false %>
  <% listeexo = Array.new %>
  <% listeexo.push(["Aucun exercice en particulier", 0]) %>
  <% i = 1 %>
  <% chap.questions.where(:online => true).order(:position).each do |e| %>
    <% if (e.subject.nil? || e.id == presel3) %>
      <% listeexo.push(["Exercice #{i}", e.id]) %>
      <% if presel3 == e.id %>
        <% txt = "Exercice #{i}" %>
      <% end %>
    <% else %>
      <% cache = true %>
    <% end %>
    <% i = i+1 %>
  <% end %>

  <div class="form-group">
    <%= f.label :question_id, :disabled => current_user.other, :id => "label_exo" %>
    <div id="alert" style="color:red; display:none; margin-bottom:7px;">Vous n'avez pas accès aux exercices de ce chapitre.</div>
    <div id="alert2" style="color:orange; display:<%= "" if cache %><%= "none" if !cache %>; margin-bottom:7px;">Certains exercices n'apparaissent pas dans la liste suivante car un sujet a déjà été ouvert à leur propos.</div>
    <%= f.select(:question_id, options_for_select(listeexo, presel3).html_safe, {}, { :class => "form-control", :style => "width:100%; max-width:400px;", :disabled => current_user.other, :onchange => ("javascript: checkQuestion();")}) %>
  </div>
<% else %>
  <div class="form-group">
    <%= f.label :question_id, :disabled => current_user.other, :style => "display:none;", :id => "label_exo" %>
    <div id="alert" style="color:red; display:none; margin-bottom:7px;">Vous n'avez pas accès aux exercices de ce chapitre.</div>
    <div id="alert2" style="color:orange; display:none; margin-bottom:7px;">Certains exercices n'apparaissent pas dans la liste suivante car un sujet a déjà été ouvert à leur propos.</div>
    <%= f.select(:question_id, options_for_select([]), {}, { :class => "form-control", :style => "width:100%; max-width:400px; display:none;", :disabled => current_user.other, :onchange => ("javascript: checkQuestion();")}) %>
  </div>
<% end %>

<!-- Titre -->
<% if presel3 > 0 %>
  <div class="form-group">
    <%= f.label :title, :disabled => current_user.other %>
    <%= f.text_field :title, :class => "form-control", :maxlength => "255", :style => "width:100%; max-width:400px;", :name => "osef", :disabled => "disabled", :value => txt %>
    <input type="hidden" id="hidden_title" name="subject[title]" value="<%= txt %>" />
  </div>
<% else %>
  <% tit = "" %>
  <% if erreur %>
    <% tit = session[:oldAll][:title] %>
  <% elsif @edit %>
    <% tit = @subject.title %>
  <% end %>
  <div class="form-group">
    <%= f.label :title, :disabled => current_user.other %>
    <%= f.text_field :title, :disabled => current_user.other, :class => "form-control", :maxlength => "255", :style => "width:100%; max-width:400px;", :value => tit %>
    <input type="hidden" id="hidden_title" name="" value="" />
  </div>
<% end %>

<!-- Message -->
<div class="form-group">
  <% cont = "" %>
  <% if erreur %>
    <% cont = session[:oldAll][:content] %>
  <% elsif @edit %>
    <% cont = @subject.content %>
  <% end %>
  <%= f.label :content, :disabled => current_user.other %>
  <div class="well" id="MathPreview<%= @champ %>"></div>
  <div class="well hidden-preview" id="MathBuffer<%= @champ %>"></div>
  <%= render 'subjects/smiley', hiddentext: true %>
  <%= f.text_area :content, :class => "form-control", :maxlength => "8000", :style => "height:200px; margin-top:5px;", :id=>"MathInput#{@champ}", :onkeyup => "PreviewSafe.MyUpdate()", :disabled => current_user.other, :value => cont %>
  
  <!-- Case admin -->
  <% if current_user.sk.admin || current_user.sk.corrector %>
    <% checked = "" %>
    <% if erreur %>
      <% checked = "checked" if session[:oldAll][:admin].to_i == 1 %>
    <% elsif @edit %>
      <% checked = "checked" if @subject.admin %>
    <% end %>
    <br/>
    <label style="font-weight:normal;">
      <%= f.check_box :admin, :disabled => current_user.other, :checked => checked %>
      Cochez si ce sujet est réservé aux correcteurs.
    </label>
  <% end %>

  <!-- Case important -->
  <% if current_user.sk.admin? %>
    <% checked = "" %>
    <% if erreur %>
      <% checked = "checked" if session[:oldAll][:important].to_i == 1 %>
    <% elsif @edit %>
      <% checked = "checked" if @subject.important %>
    <% end %>
    <br/>
    <label style="font-weight:normal;">
      <%= f.check_box :important, :disabled => current_user.other, :checked => checked %>
      Cochez si ce sujet doit toujours apparaître en premier lieu.
    </label>
  <% end %>
  
  <!-- Case wépion -->
  <% if current_user.sk.wepion || current_user.sk.admin? %>
    <% checked = "" %>
    <% if erreur %>
      <% checked = "checked" if session[:oldAll][:wepion].to_i == 1 %>
    <% elsif @edit %>
      <% checked = "checked" if @subject.wepion %>
    <% end %>
    <br/>
    <label style="font-weight:normal;">
      <%= f.check_box :wepion, :disabled => current_user.other, :checked => checked %>
      Cochez si ce sujet est destiné aux étudiants de Wépion.
    </label>
  <% end %>
  
  <!-- Case mails aux groupes A et/ou B -->
  <% if current_user.sk.admin && !@edit %>
  	<br/>
    <label style="font-weight:normal;">
    	<input type="checkbox" id="groupeA" name="groupeA" value="A" <%= 'disabled="true"' if current_user.other %> >
      Prévenir tout le groupe A de ce nouveau message par mail.
    </label>
    <br/>
    <label style="font-weight:normal;">
      <input type="checkbox" id="groupeB" name="groupeB" value="B" <%= 'disabled="true"' if current_user.other %> >
      Prévenir tout le groupe B de ce nouveau message par mail.
    </label>
  <% end %>
</div>

<% if !session["errorSubject"].nil? %>
  <% if @edit %>
    <script>
      Rolling.develop_quick("<%= @champ %>");
    </script>
  <% end %>
  <% session.delete("errorSubject") %>
  <% session.delete("oldAll") %>
<% end %>

<% if !session["successSubject"].nil? %>
  <% if @edit %>
    <script>
      Rolling.showus("<%= @champ %>");
    </script>
  <% end %>
  <% session.delete("successSubject") %>
<% end %>

<% if !@edit %>
  <script>
  PreviewSafe.Init();
  PreviewSafe.Update();
  </script>
<% end %>
