<script type="text/javascript">
function checkCategory() {
    var e = document.getElementById("subject_category_id");
    var category = e.options[e.selectedIndex].value
    $.getScript("<%= new_subject_url %>?cat=" + category)
}
function checkChapter() {
    var e = document.getElementById("subject_chapter_id");
    var chapter = e.options[e.selectedIndex].value
    <% if @edit && !@subject.exercise_id.nil? %>
    	$.getScript("<%= new_subject_url %>?chap=" + chapter + "&exo_id=<%= @subject.exercise_id %>")
    <% elsif @edit && !@subject.qcm_id.nil? %>
    	$.getScript("<%= new_subject_url %>?chap=" + chapter + "&qcm_id=<%= @subject.qcm_id %>")
    <% else %>
    	$.getScript("<%= new_subject_url %>?chap=" + chapter)
    <% end %>
}
function checkExercise() {
    var e = document.getElementById("subject_exercise_id");
    var exercise = e.options[e.selectedIndex].value
    var txt = e.options[e.selectedIndex].text
    $.getScript("<%= new_subject_url %>?exo=" + exercise + "&txt=" + txt)
}
</script>

<% iciadmin = false %>
<% if current_user.sk.admin? && (@subject.user.nil? || @subject.user.admin?) %>
  <% iciadmin = true %>
<% end %>

<%= render 'shared/error_messages', object: f.object %>

<!-- Calcul de la liste des sections et chapitres -->
<% liste = Array.new %>
<% liste2 = Array.new %>

<% Category.order(:id).each do |c| %>
  <% liste.push([c.name, c.id]) %>
<% end %>

<% Section.where(:fondation => true).to_a.each do |s| %>
  <% liste2.push([s.name, 1000*s.id]) %>
<% end %>

<% Section.where(:fondation => false).order(:id).to_a.each do |s| %>
  <% liste2.push([s.name, 1000*s.id]) %>
<% end %>

<% presel = 0 %>

<% if @edit %>
  <% if !@subject.section_id.nil? %>
    <% presel = 1000*@subject.section_id %>
  <% elsif !@subject.category_id.nil? %>
    <% presel = @subject.category_id %>
  <% end %>
<% end %>

<!-- Catégorie -->
<div class="form-group">
  <%= f.label :category_id, :disabled => current_user.other %>
  <%= f.select(:category_id, grouped_options_for_select([['En dehors des cours', liste], ['En lien avec les cours', liste2]], presel), {}, { :class => "form-control", :style => "width:100%; max-width:400px;", :disabled => current_user.other, :onchange => ("javascript: checkCategory();") }) %>
</div>

<% presel2 = 0 %>

<!-- Chapitre -->
<% if @edit && presel > 999 %>
  <% listechap = Array.new %>
  <% listechap.push(["Aucun chapitre en particulier", 0]) %>
  <% @subject.section.chapters.order(:name).each do |c| %>
    <% listechap.push([c.name, c.id]) %>
  <% end %>
  
  <% if !@subject.chapter_id.nil? %>
    <% presel2 = @subject.chapter_id %>
  <% end %>
  
  <div class="form-group">
    <%= f.label :chapter_id, :disabled => current_user.other, :id => "label_chap" %>
    <%= f.select(:chapter_id, options_for_select(listechap, presel2).html_safe, {}, { :class => "form-control", :style => "width:100%; max-width:400px", :disabled => current_user.other, :onchange => ("javascript: checkChapter();")}) %>
  </div>
<% else %>
  <div class="form-group">
    <%= f.label :chapter_id, :disabled => current_user.other, :style => "display:none;", :id => "label_chap" %>
    <%= f.select(:chapter_id, options_for_select([]), {}, { :class => "form-control", :style => "width:100%; max-width:400px; display:none;", :disabled => current_user.other, :onchange => ("javascript: checkChapter();")}) %>
  </div>
<% end %>

<% presel3 = 0 %>
<% txt = "" %>

<!-- Exercice -->
<% if @edit && presel2 > 0 %>

  <% if !@subject.exercise_id.nil? %>
    <% presel3 = 2000 + @subject.exercise_id %>
  <% end %>
  <% if !@subject.qcm_id.nil? %>
    <% presel3 = 3000 + @subject.qcm_id %>
  <% end %>
  
  <% cache = false %>
  <% listeexo = Array.new %>
  <% listeexo.push(["Aucun exercice en particulier", 0]) %>
  <% c = @subject.chapter %>
  <% allexo = Array.new %>
  <% c.exercises.where(:online => true).each do |e| %>
    <% if (e.subject.nil? || 2000+e.id == presel3) %>
      <% allexo.push([e.position, 2, e.id, true]) %>
    <% else %>
      <% cache = true %>
      <% allexo.push([e.position, 2, e.id, false]) %>
    <% end %>
  <% end %>
  <% c.qcms.where(:online => true).each do |q| %>
    <% if (q.subject.nil? || 3000+q.id == presel3) %>
      <% allexo.push([q.position, 3, q.id, true]) %>
    <% else %>
      <% cache = true %>
      <% allexo.push([q.position, 3, q.id, false]) %>
    <% end %>
  <% end %>
  <% sorted = allexo.sort %>
  <% i = 1 %>
  <% sorted.each do |e| %>
    <% if e[3] %>
      <% listeexo.push(["Exercice #{i}", e[1]*1000+e[2]]) %>
      <% if presel3 == e[1]*1000+e[2] %>
        <% txt = "Exercice #{i}" %>
      <% end %>
    <% end %>
    <% i = i+1 %>
  <% end %>

  <div class="form-group">
    <%= f.label :exercise_id, :disabled => current_user.other, :id => "label_exo" %>
    <div id="alert" style="color:red; display:none; margin-bottom:7px;">Vous n'avez pas accès aux exercices de ce chapitre.</div>
    <div id="alert2" style="color:orange; display:<%= "" if cache %><%= "none" if !cache %>; margin-bottom:7px;">Certains exercices n'apparaissent pas dans la liste suivante car un sujet a déjà été ouvert à leur propos.</div>
    <%= f.select(:exercise_id, options_for_select(listeexo, presel3).html_safe, {}, { :class => "form-control", :style => "width:100%; max-width:400px;", :disabled => current_user.other, :onchange => ("javascript: checkExercise();")}) %>
  </div>
<% else %>
  <div class="form-group">
    <%= f.label :exercise_id, :disabled => current_user.other, :style => "display:none;", :id => "label_exo" %>
    <div id="alert" style="color:red; display:none; margin-bottom:7px;">Vous n'avez pas accès aux exercices de ce chapitre.</div>
    <div id="alert2" style="color:orange; display:none; margin-bottom:7px;">Certains exercices n'apparaissent pas dans la liste suivante car un sujet a déjà été ouvert à leur propos.</div>
    <%= f.select(:exercise_id, options_for_select([]), {}, { :class => "form-control", :style => "width:100%; max-width:400px; display:none;", :disabled => current_user.other, :onchange => ("javascript: checkExercise();")}) %>
  </div>
<% end %>

<!-- Titre -->
<% if presel3 > 0 %>
  <div class="form-group">
    <%= f.label :title, :disabled => current_user.other %>
    <%= f.text_field :title, :class => "form-control", :maxlength => "255", :style => "width:100%; max-width:400px;", :name => "osef", :disabled => "disabled" %>
    <input type="hidden" id="hidden_title" name="subject[title]" value="<%= txt %>" />
  </div>
<% else %>
  <div class="form-group">
    <%= f.label :title, :disabled => current_user.other %>
    <%= f.text_field :title, :disabled => current_user.other, :class => "form-control", :maxlength => "255", :style => "width:100%; max-width:400px;" %>
    <input type="hidden" id="hidden_title" name="" value="" />
  </div>
<% end %>

<!-- Message -->
<div class="form-group">
  <%= f.label :content, :disabled => current_user.other %>
  <div class="well" id="MathPreview"></div>
  <div class="well" id="MathBuffer" style="visibility:hidden; position:absolute; top:0; left: 0"></div>
  <%= render 'subjects/smiley', hiddentext: true %>
  <%= f.text_area :content, :class => "form-control", :maxlength => "8000", :style => "height:200px; margin-top:5px;", :id=>"MathInput", :onkeyup => "safefakeupdate()", :disabled => current_user.other %>
  
  <!-- Case admin et case premier lieu -->
  <% if iciadmin %>
    <br/>
    <label class="checkbox-inline">
      <%= f.check_box :admin, :disabled => current_user.other %>
      Cochez si ce sujet est réservé aux administrateurs.
    </label>
  <% end %>

  <% if current_user.sk.admin? %>
    <br/>
    <label class="checkbox-inline">
      <%= f.check_box :important, :disabled => current_user.other %>
      Cochez si ce sujet doit toujours apparaître en premier lieu.
    </label>
  <% end %>
  
  <!-- Case wépion -->
  <% if current_user.sk.wepion || current_user.sk.admin? %>
    <br/>
    <label class="checkbox-inline">
      <%= f.check_box :wepion, :disabled => current_user.other %>
      Cochez si ce sujet est destiné aux étudiants de Wépion.
    </label>
  <% end %>
  
  <!-- Case mails aux groupes A et/ou B -->
  <% if current_user.sk.admin && @new %>
  	<br/>
    <label class="checkbox-inline">
    	<input type="checkbox" id="groupeA" name="groupeA" value="A" <%= 'disabled="true"' if current_user.other %> >
      Prévenir tout le groupe A de ce nouveau message par mail.
    </label>
    <br/>
    <label class="checkbox-inline">
      <input type="checkbox" id="groupeB" name="groupeB" value="B" <%= 'disabled="true"' if current_user.other %> >
      Prévenir tout le groupe B de ce nouveau message par mail.
    </label>
  <% end %>
</div>
