<!-- S'agit-il d'un nouveau message? On le met dans style -->
<% highlighting = false %>
<% if current_user.sk.last_forum_visit_time < s.last_comment_time && s.last_comment_user != current_user.sk %>
  <% highlighting = true %>
<% end %>

<tr class="<%= "table-ld-warning" if highlighting %>">

  <!-- Titre du sujet, + "Correcteurs" ou "Wépion" s'il le faut -->
  <td style="vertical-align:middle;">
    <% if s.for_correctors? || s.for_wepion? %>
      <table class="p-0 m-0"><tr><td class="p-0 pe-1 align-middle">
      <% if s.for_correctors? %>
        <span class="d-none d-lg-inline badge rounded-pill bg-warning text-dark">Correcteurs</span>
        <span class="d-inline d-lg-none badge rounded-pill bg-warning text-dark">C</span>
      <% elsif s.for_wepion? %>
        <span class="d-none d-lg-inline badge rounded-pill bg-success">Wépion</span>
        <span class="d-inline d-lg-none badge rounded-pill bg-success">W</span>
      <% end %>
      </td>
      <td class="p-0 ps-1" style="border-left:1px dotted grey;">
    <% end %>

    <%= link_to s.title, subject_path(s, :q => @q) %> - <%= get_category_name(s) %>

    <% if s.for_correctors? || s.for_wepion? %>
      </td></tr></table>
    <% end %>
  </td>

  <!-- Nombre de messages -->
  <td class="d-none d-md-table-cell align-middle text-center">
    <%= num_messages %>
  </td>

  <% qui = s.last_comment_user %>
  <% date = s.last_comment_time %>
  <% datenow = DateTime.now %>

  <!-- Cas normal -->

  <!-- Dernier message -->
  <td class="d-none d-lg-table-cell align-middle text-center" style="width:180px;">
    <% if !qui.nil? %>
      <%= raw(qui.linked_name) %>
    <% else %>
      <b>Message automatique</b>
    <% end %>
  </td>

  <!-- Date du dernier message -->
  <td class="d-none d-lg-table-cell align-middle text-center" style="width:220px;">
    <%= link_to subject_path(s, :page => "last", :q => @q) do %>
      <% if date.nil? %>
        ---
      <% else %>   
        <%= write_date_from_now(date, datenow) %>
      <% end %> 
    <% end %>
  </td>

  <!-- Cas gsm -->

  <td class="d-table-cell d-lg-none" style="width:220px;">
  <table style="width:100%;">

    <!-- Dernier message -->
    <tr>
    <td class="align-middle text-center pb-1" style="width:220px; border-bottom:1px dashed grey;">
      <% if !qui.nil? %>
        <%= raw(qui.linked_name) %>
      <% else %>
        <b>Message automatique</b>
      <% end %>
    </td>
    </tr>

    <!-- Date du dernier message -->
    <tr>
    <td class="align-middle text-center pt-1" style="width:220px;">
      <%= link_to subject_path(s, :page => "last", :q => @q) do %>
        <%= write_date_from_now(date, datenow) %>
      <% end %>
    </td>
    </tr>
  </table>
  </td>
</tr>
