<!-- S'agit-il d'un nouveau message? On le met dans style -->
<% m = s.messages.order(:id).last %>
<% if m.nil? %>
  <% m = s %>
<% end %>
<% if current_user.sk.forumseen < s.lastcomment && m.user_id != current_user.sk.id %>
  <% style = "background-color:#fffad2;" %>
<% end %>
<tr style="<%= style %>">

  <!-- Titre du sujet, + "admin" s'il le faut -->
  <td style="vertical-align:middle;">
    <% if s.admin? || s.wepion? %>
      <table style="border:none; padding:0px; margin:0px;"><tr><td style="border:none; vertical-align:middle; padding:0px; padding-right:5px;">
      <% if s.admin? %>
        <span class="hidden-small label label-warning">Correcteurs</span>
        <span class="hidden-large label label-warning">C</span>
      <% elsif s.wepion? %>
        <span class="hidden-small label label-success">Wépion</span>
        <span class="hidden-large label label-success">W</span>
      <% end %>
      </td>
      <td style="border-left:1px dotted grey; padding:0px; padding-left:5px;">
    <% end %>

    <%= link_to s.title, subject_path(s, :q => q) %>
    	<% if !s.category.nil? %>
    	  - <%= s.category.name %>
      <% elsif s.section.nil? %>

      <% elsif s.chapter.nil? %>
        - <%= s.section.name %>
      <% else %>
        - <%= s.chapter.name %>
      <% end %>

    <% if s.admin? || s.wepion? %>
      </td></tr></table>
    <% end %>
  </td>

  <!-- Auteur du sujet -->
  <td class="hidden-xs" style="text-align:center; font-weight:bold; vertical-align:middle;">
    <% if s.user_id > 0 %>
      <%= raw(s.user.linked_name) %>
    <% else %>
      <b>Message automatique</b>
    <% end %>
  </td>

  <!-- Nombre de messages -->
  <td class="hidden-xs" style="text-align:center; vertical-align:middle;">
    <%= x = s.messages.count %>
  </td>

  <% if x > 0 %>
    <% last = s.messages.order(:id).last %>
    <% qui = last.user %>
    <% date = last.created_at.in_time_zone %>
  <% else %>
    <% qui = s.user %>
    <% date = s.created_at.in_time_zone %>
  <% end %>
  <% datenow = Time.zone.now %>

  <!-- Cas normal -->

  <!-- Dernier message -->
  <td class="hidden-small" style="width:180px; text-align:center; font-weight:bold; vertical-align:middle;">
    <% if !qui.nil? %>
      <%= raw(qui.linked_name) %>
    <% else %>
      <b>Message automatique</b>
    <% end %>
  </td>

  <!-- Date du dernier message -->
  <td class="hidden-small" style="width:200px; text-align:center; vertical-align:middle;">
    <% tot = s.messages.count %>
    <% page = [0,((tot-1)/10).floor].max + 1 %>

    <%= link_to subject_path(s, :page => page, :anchor => "bottom", :q => q) do %>
      <% affiche_date(date, datenow) %>
    <% end %>
  </td>

  <!-- Cas gsm -->

  <td class="hidden-large" style="width:200px;">
  <table style="width:100%;">

    <!-- Dernier message -->
    <tr>
    <td style="width:180px; text-align:center; font-weight:bold; vertical-align:middle; padding-bottom:5px; border-bottom:1px dashed grey;">
      <% if !qui.nil? %>
        <%= raw(qui.linked_name) %>
      <% else %>
        <b>Message automatique</b>
      <% end %>
    </td>
    </tr>

    <!-- Date du derinier message -->
    <tr>
    <td style="width:200px; text-align:center; vertical-align:middle; padding-top:5px;">
      <% tot = s.messages.count %>
      <% page = [0,((tot-1)/10).floor].max + 1 %>

        <%= link_to subject_path(s, :page => page, :anchor => "bottom", :q => q) do %>
          <% affiche_date(date, datenow) %>
        <% end %>
    </td>
    </tr>
  </table>
  </td>
</tr>
