<% @champ = "EditMessage#{m.id}" %>

<div id="the<%= @champ %>" style="overflow-y:hidden;">
<%= render 'subjects/content', ms: m, kind: "message" %>
</div>

<% if @canmodif %>
  <div id="form<%= @champ %>" style="overflow-y:hidden; height:0px; width:300px!important;">
  <%= render 'messages/edit', m: m %>
  </div>
<% end %>

<% if !params[:message].nil? && (params[:message].to_i == m.id) %>
  <script>
    Rolling.showus("<%= @champ %>");
  </script>
<% end %>
