<!-- On vérifie que cet exercice peut bien être vu -->
<% if q.online || (signed_in? && current_user.admin?) %>
  
  <% c = q.chapter %>
  <% exovisible = true %>
  
  <% if !current_user.admin? %>
    <% c.prerequisites.each do |p| %>
      <% exovisible = false if !p.section.fondation && !current_user.chapters.exists?(p.id) %>
    <% end %>
  <% end %>

  <% if !exovisible %>
    <table class="table table-bordered reference greyy">
    <tr><td class="title">Ce sujet fait référence à un exercice auquel vous n'avez pas accès.</td></tr>
    </table>
	
  <% else %>	  
    <% if current_user.admin? %>
      <table class="table table-bordered reference yellowy">
      <tr><td class="title">Ce sujet fait référence à <%= link_to "cet exercice", chapter_question_path(c, q), :target => "_blank" %> :</td></tr>
    <% elsif Solvedquestion.where(:user_id => current_user.id, :question_id => q.id).count > 0 %>
      <table class="table table-bordered reference greeny">
      <tr><td class="title">Ce sujet fait référence à <%= link_to "cet exercice", chapter_question_path(c, q), :target => "_blank" %>, que vous avez résolu :</td></tr>
    <% elsif Unsolvedquestion.where(:user_id => current_user.id, :question_id => q.id).count > 0 %>
      <table class="table table-bordered reference redy">
      <tr><td class="title">Ce sujet fait référence à <%= link_to "cet exercice", chapter_question_path(c, q), :target => "_blank" %>, que vous n'avez pas résolu :</td></tr>
    <% else %>
      <table class="table table-bordered reference yellowy">
      <tr><td class="title">Ce sujet fait référence à <%= link_to "cet exercice", chapter_question_path(c, q), :target => "_blank" %>, que vous n'avez pas résolu :</td></tr>
    <% end %>
    <!-- Enoncé -->
    <tr><td class="content">
    <%= htmlise(q.statement, true) %>

    <% if !q.is_qcm %>
      <% if q.decimal %>
        <p class="mt-3 mb-0">(On attend un nombre <b>réel</b>, arrondi si nécessaire au millième près)</p>
      <% else %>
        <p class="mt-3 mb-0">(On attend un nombre <b>entier</b>)</p>
      <% end %>
    <% else %>
      <ul class="mt-2">
      <% q.items.order(:position).each do |c| %>
        <li class="p-1">
        <%= htmlise(c.ans) %>
      <% end %>
      </ul>
      <% if q.many_answers %>
        <p class="mb-0">(Éventuellement <b>plusieurs</b> propositions correctes)</p>
      <% else %>
        <p class="mb-0">(<b>Une seule</b> proposition correcte)</p>
      <% end %>
    <% end %>
    </td></tr>
  <% end %>
  </table>
<% end %>
