<!-- On vérifie que cet exercice peut bien être vu -->
<% if question.online || (signed_in? && current_user.admin?) %>
  
  <% chapter = question.chapter %>
  <% exovisible = true %>
  
  <% if !current_user.admin? %>
    <% chapter.prerequisites.each do |p| %>
      <% exovisible = false if !p.section.fondation && !current_user.chapters.exists?(p.id) %>
    <% end %>
  <% end %>

  <% if !exovisible %>
    <table class="table table-bordered reference greyy">
    <tr><td class="title">Ce sujet fait référence à un exercice auquel vous n'avez pas accès.</td></tr>
    </table>
	
  <% else %>	  
    <% if current_user.admin? %>
      <% classe = "yellowy" %>
      <% msg = "" %>
    <% elsif current_user.solvedquestions.where(:question_id => question.id).count > 0 %>
      <% classe = "greeny" %>
      <% msg = ", que vous avez résolu" %>
    <% elsif current_user.unsolvedquestions.where(:question_id => question.id).count > 0 %>
      <% classe = "redy" %>
      <% msg = ", que vous n'avez pas résolu" %>
    <% else %>
      <% classe = "yellowy" %>
      <% msg = ", que vous n'avez pas résolu" %>
    <% end %>
    
    <table class="table table-bordered reference <%= classe %>">
    <tr><td class="title">Ce sujet fait référence à <%= link_to "cet exercice", chapter_question_path(chapter, question), :target => "_blank" %><%= msg %> :</td></tr>
    
    <!-- Enoncé -->
    <tr><td class="content">
    <div class="mb-3">
      <%= htmlise(question.statement, true) %>
    </div>

    <% if !question.is_qcm %>
      <p class="mb-0 fst-italic">
      <% if question.decimal %>
        On attend un nombre <b>réel</b>, arrondi si nécessaire au millième près.
      <% else %>
        On attend un nombre <b>entier</b>.
      <% end %>
      </p>
    <% else %>
      <ul class="mt-n1">
      <% question.items.order(:position).each do |i| %>
        <li class="p-1">
          <%= htmlise(i.ans) %>
        </li>
      <% end %>
      </ul>
      <p class="mb-0 fst-italic">
      <% if question.many_answers %>
        Il y a éventuellement <b>plusieurs</b> propositions correctes.
      <% else %>
        Il n'y a qu'<b>une seule</b> proposition correcte.
      <% end %>
      </p>
    <% end %>
    </td></tr>
  <% end %>
  </table>
<% end %>
