	<% n_real = s.myfiles.count %>
  <% n_fake = s.fakefiles.count %>

  <% if n_real + n_fake > 0 %>
    <% if n_real + n_fake == 1 %>
      <br/><b>1 pièce jointe :</b><br/>
    <% else %>
      <br/><b><%= n_real + n_fake %> pièces jointes :</b><br/>
    <% end %>
    
    <% files = Set.new %>
    <% s.myfiles.each do |f| %>
      <% files.add([f.file.filename.base, f]) %>
    <% end %>
    
    <% files.each do |ff| %>
      <% f = ff[1] %>
      <%= link_to f.file.filename, rails_blob_path(f.file, disposition: 'attachment') %>
      (<%= (f.file.blob.byte_size / 1.kilobyte).round(1) %>
      <% if f.myfiletable_type == "Tchatmessage" %>
        ko, <i>expire le <%= write_date_only(f.file.blob.created_at.to_date + 28) %></i>)
      <% else %>
        ko)
      <% end %>
      <% if current_user.sk.root? %>
         - <%= link_to 'Supprimer le contenu', myfile_fake_delete_path(f), data: { confirm: "Vous vous apprêtez à supprimer le contenu de cette pièce jointe. Êtes-vous sûr de vouloir continuer ?"}, :method => :put, :style => "color:red;" %>
      <% end %>
      <br/>
    <% end %>
    <% s.fakefiles.order(:filename).each do |f| %>
      <span style="color:#0000BB;"><%= f.filename %> (<%= (f.byte_size / 1.kilobyte).round(1) %> ko, désactivée)</span><br/>
    <% end %>
		
    <!-- Afficher les pièces jointes images -->
    <% files.each do |ff| %>
      <% f = ff[1] %>
      <% if f.is_image %>
        <hr/>
        <center><%= f.file.filename.base %><br/><br/>
        <% if f.myfiletable_type == "Tchatmessage" %>
          <%= image_tag f.file, :class => "image-pj" %>
        <% else %>
          <%= image_tag f.file, :class => "image-pj2" %>
        <% end %>
        </center>
      <% end %>
    <% end %>
  <% end %>
