<script type="text/javascript">
function showStuff2() {
    document.getElementById("indice").style.display = 'inline';
    document.getElementById("show").style.display = 'none';
    document.getElementById("hide").style.display = 'inline';
}
function hideStuff2() {
    document.getElementById("indice").style.display = 'none';
    document.getElementById("show").style.display = 'inline';
    document.getElementById("hide").style.display = 'none';
}
</script>

<!-- On vérifie que cet exercice peut bien être vu -->
<% if (f.online && f.chapter.online) || (signed_in? && current_user.sk.admin?) %>

  <% c = f.chapter %>
  <% exovisible = true %>

  <% if !current_user.sk.admin? %>
    <% c.prerequisites.each do |p| %>
      <% exovisible = false if !p.section.fondation && !current_user.sk.chapters.exists?(p) %>
    <% end %>
  <% end %>

  <table class="table table-bordered">
  <% if !exovisible %>

    <tr><td style="background-color:#FFCCCC; padding:10px;"><center><i>Ce sujet fait référence à un exercice auquel vous n'avez pas accès.</i></center></td></tr>
    </table>

  <% else %>
    <% exo = Solvedqcm.where(:user_id => current_user.sk.id, :qcm_id => f.id) %>
    <% if current_user.sk.admin? %>
      <tr><td style="background-color:#D9D9FF; padding:10px;"><center><i>Ce sujet fait référence à <%= link_to "cet exercice", chapter_path(c, :type => 3, :which => f.id), :target => "_blank" %> :</i></center></td></tr>
    <% elsif exo.size > 0 && exo.first.correct? %>
      <tr><td style="background-color:#CCFFCC; padding:10px;"><center><i>Ce sujet fait référence à <%= link_to "cet exercice", chapter_path(c, :type => 3, :which => f.id), :target => "_blank" %>, que vous avez résolu :</i></center></td></tr>
    <% else %>
    <tr><td style="background-color:#FFFFAA; padding:10px;"><center><i>Ce sujet fait référence à <%= link_to "cet exercice", chapter_path(c, :type => 3, :which => f.id), :target => "_blank" %>, que vous n'avez pas résolu :</i></center></td></tr>
    <% end %>
    <!-- Enoncé -->
    <tr><td style="padding:10px;">
      <%= raw(htmlise(f.statement).
      gsub(/<\/indice>[ \r]*/, '<br/><br/></span><a href="#" id="hide" style="display:none;" onclick="hideStuff2(); return false;" class="btn btn-default btn-grey">Cacher l\'indice</a>').
      gsub(/<indice>/, '<a href="#" id="show" onclick="showStuff2(); return false;" class="btn btn-default btn-grey">Montrer un indice</a><span id="indice" style="display:none;"><u>Indice</u> : ')) %>
	
    <ul>
    <% f.choices.order(:id).each do |c| %>
      <li style="padding:5px;">
      <%= raw(c.ans) %>
    <% end %>
    </ul>
    
    <% if f.many_answers %>
      (<b>Plusieurs</b> réponses possibles)
    <% else %>
      (<b>Une seule</b> réponse correcte)
    <% end %>
	
    </td></tr>
  <% end %>
  </table>
<% end %>
