<!-- On vérifie que cet exercice peut bien être vu -->
<% if f.online || (@signed_in && current_user.sk.admin?) %>
  
  <% c = f.chapter %>
  <% exovisible = true %>
  
  <% if !current_user.sk.admin? %>
    <% c.prerequisites.each do |p| %>
      <% exovisible = false if !p.section.fondation && !current_user.sk.chapters.exists?(p) %>
    <% end %>
  <% end %>

  <% if !exovisible %>
    <table class="table table-bordered reference greyy">
    <tr><td class="title">Ce sujet fait référence à un exercice auquel vous n'avez pas accès.</td></tr>
    </table>
	
  <% else %>
    <% exo = Solvedquestion.where(:user_id => current_user.sk.id, :question_id => f.id) %>
	  
    <% if current_user.sk.admin? %>
      <table class="table table-bordered reference yellowy">
      <tr><td class="title">Ce sujet fait référence à <%= link_to "cet exercice", chapter_path(c, :type => 5, :which => f.id), :target => "_blank" %> :</td></tr>
    <% elsif exo.size > 0 && exo.first.correct? %>
      <table class="table table-bordered reference greeny">
      <tr><td class="title">Ce sujet fait référence à <%= link_to "cet exercice", chapter_path(c, :type => 5, :which => f.id), :target => "_blank" %>, que vous avez résolu :</td></tr>
    <% elsif exo.size > 0 %>
      <table class="table table-bordered reference redy">
      <tr><td class="title">Ce sujet fait référence à <%= link_to "cet exercice", chapter_path(c, :type => 5, :which => f.id), :target => "_blank" %>, que vous n'avez pas résolu :</td></tr>
    <% else %>
      <table class="table table-bordered reference yellowy">
      <tr><td class="title">Ce sujet fait référence à <%= link_to "cet exercice", chapter_path(c, :type => 5, :which => f.id), :target => "_blank" %>, que vous n'avez pas résolu :</td></tr>
    <% end %>
    <!-- Enoncé -->
    <tr><td style="padding:10px;">
    <div style="margin-bottom:15px;"><%= raw(replace_indice(htmlise(f.statement))) %></div>

    <% if !f.is_qcm %>
      <% if f.decimal %>
        (On demande une réponse <b>décimale</b> au millième près)
      <% else %>
        (On demande une réponse <b>entière</b>)
      <% end %>
    <% else %>
      <ul>
      <% f.items.order(:position).each do |c| %>
        <li style="padding:5px;">
        <%= raw(c.ans) %>
      <% end %>
      </ul>
      <% if f.many_answers %>
        (Éventuellement <b>plusieurs</b> propositions correctes)
      <% else %>
        (<b>Une seule</b> proposition correcte)
      <% end %>
    <% end %>
    </td></tr>
  <% end %>
  </table>
<% end %>
