<a href="#ici" onClick="JavaScript: TAinsert(' :-)','','MathInput'); PreviewSafe.Update();"><%= image_tag "Smiley1.gif", :title => ":-)", :style=>"margin-left:15px;" %></a>
<a href="#ici" onClick="JavaScript: TAinsert(' :-(','','MathInput'); PreviewSafe.Update();"><%= image_tag "Smiley2.gif", :title => ":-(" %></a>
<a href="#ici" onClick="JavaScript: TAinsert(' ;-)','','MathInput'); PreviewSafe.Update();"><%= image_tag "Smiley7.gif", :title => ";-)" %></a>
<a href="#ici" onClick="JavaScript: TAinsert(' :\'(','','MathInput'); PreviewSafe.Update();"><%= image_tag "Smiley6.gif", :title => ":'(" %></a>
<a href="#ici" onClick="JavaScript: TAinsert(' :-D','','MathInput'); PreviewSafe.Update();"><%= image_tag "Smiley3.gif", :title => ":-D" %></a>
<a href="#ici" onClick="JavaScript: TAinsert(' :-O','','MathInput'); PreviewSafe.Update();"><%= image_tag "Smiley4.gif", :title => ":-O" %></a>
<a href="#ici" onClick="JavaScript: TAinsert(' :-P','','MathInput'); PreviewSafe.Update();"><%= image_tag "Smiley5.gif", :title => ":-P" %></a>
<a href="#ici" onClick="JavaScript: TAinsert(' :-|','','MathInput'); PreviewSafe.Update();"><%= image_tag "Smiley8.gif", :title => ":-|" %></a>
<a href="#ici" onClick="JavaScript: TAinsert(' 3:[','','MathInput'); PreviewSafe.Update();"><%= image_tag "Smiley9.gif", :title => "3:[" %></a>
