<div class="smiley-content">

<% if @postfix.nil? %>
  <% @postfix = "" %>
<% end %>

<div class="smiley">
<a href="#!" onClick="JavaScript: Insert.insert('[b]','[/b]','MathInput<%= @postfix %>'); PreviewSafe.MyUpdate();"><%= image_tag "bold.jpg", :title => "Gras" %></a>
<a href="#!" onClick="JavaScript: Insert.insert('[i]','[/i]','MathInput<%= @postfix %>'); PreviewSafe.MyUpdate();"><%= image_tag "italics.jpg", :title => "Italique" %></a>
<a href="#!" onClick="JavaScript: Insert.insert('[u]','[/u]','MathInput<%= @postfix %>'); PreviewSafe.MyUpdate();"><%= image_tag "underlined.jpg", :title => "Souligné" %></a>
<a href="#!" onClick="JavaScript: Insert.insert('[url=https://www.mathraining.be]','[/url]','MathInput<%= @postfix %>'); PreviewSafe.MyUpdate();"><%= image_tag "link.jpg", :title => "Lien", :style=>"margin-left:10px;" %></a>

<% if hiddentext %>
<a href="#!" onClick="JavaScript: Insert.insert('[hide=Texte caché]\n','\n[/hide]','MathInput<%= @postfix %>'); PreviewSafe.MyUpdate();" style="margin-left:15px;">Texte caché</a>
<% end %>
</div>

<div class="smiley">
<a href="#!" onClick="JavaScript: Insert.insert(' :-)','','MathInput<%= @postfix %>'); PreviewSafe.MyUpdate();"><%= image_tag "Smiley1.gif", :title => ":-)" %></a>
<a href="#!" onClick="JavaScript: Insert.insert(' :-(','','MathInput<%= @postfix %>'); PreviewSafe.MyUpdate();"><%= image_tag "Smiley2.gif", :title => ":-(" %></a>
<a href="#!" onClick="JavaScript: Insert.insert(' ;-)','','MathInput<%= @postfix %>'); PreviewSafe.MyUpdate();"><%= image_tag "Smiley7.gif", :title => ";-)" %></a>
<a href="#!" onClick="JavaScript: Insert.insert(' :\'(','','MathInput<%= @postfix %>'); PreviewSafe.MyUpdate();"><%= image_tag "Smiley6.gif", :title => ":'(" %></a>
<a href="#!" onClick="JavaScript: Insert.insert(' :-D','','MathInput<%= @postfix %>'); PreviewSafe.MyUpdate();"><%= image_tag "Smiley3.gif", :title => ":-D" %></a>
<a href="#!" onClick="JavaScript: Insert.insert(' :-O','','MathInput<%= @postfix %>'); PreviewSafe.MyUpdate();"><%= image_tag "Smiley4.gif", :title => ":-O" %></a>
<a href="#!" onClick="JavaScript: Insert.insert(' :-P','','MathInput<%= @postfix %>'); PreviewSafe.MyUpdate();"><%= image_tag "Smiley5.gif", :title => ":-P" %></a>
<a href="#!" onClick="JavaScript: Insert.insert(' :-|','','MathInput<%= @postfix %>'); PreviewSafe.MyUpdate();"><%= image_tag "Smiley8.gif", :title => ":-|" %></a>
<a href="#!" onClick="JavaScript: Insert.insert(' 3:[','','MathInput<%= @postfix %>'); PreviewSafe.MyUpdate();"><%= image_tag "Smiley9.gif", :title => "3:[" %></a>
</div>

<div class="smiley">
<label style="margin-left:10px; margin-right:10px; font-weight:normal;"><input type="checkbox" id="stop<%= @postfix %>" name="stop" onclick="PreviewSafe.MyUpdate()" checked="checked" style="margin-right:5px;" />Prévisualisation</label>
</div>

</div>
