<script type="text/javascript">
function showSujetAnormal(id) {
    document.getElementById("anormalsujet" + id).style.display = 'inline';
    document.getElementById("normalsujet" + id).style.display = 'none';
}
function showSujetNormal(id) {
    document.getElementById("normalsujet" + id).style.display = 'inline';
    document.getElementById("anormalsujet" + id).style.display = 'none';
}
</script>

<% mois = ["janvier", "février", "mars", "avril", "mai", "juin", "juillet", "août", "septembre", "octobre", "novembre", "décembre"] %>

<% q = 0 %>
<% if(params.has_key?:q) %>
  <% q = params[:q].to_i %>
<% end %>

<table class="table table-bordered">

  <!-- Cas normal -->
  <tr class="hidden-xs info">

  <!-- Nom -->
  <td style="font-size:20px; font-weight:bold; padding:10px; padding-left:15px; border-right:none;">
    <% colored_link(s.user) %>
  </td>

  <!-- Date -->
  <td style="vertical-align:middle; text-align:right; font-size:20px; padding-right:15px; border-left:none;">
  <% date = s.created_at.in_time_zone %>
  <%= date.day %> <%= mois[date.month-1] %> <%= date.year %> à <%= date.hour %>h<%= "0" if date.min < 10 %><%= date.min %>
  </td>
  </tr>

  <!-- Cas gsm -->

  <!-- Nom -->
  <tr class="visible-xs info">
  <td style="font-size:20px; font-weight:bold; padding:10px; padding-left:15px; border-right:none;">
    <% colored_link(s.user) %>
  </td>
  </tr>

  <!-- Date -->
  <tr class="visible-xs info">
  <td style="vertical-align:middle; text-align:right; font-size:20px; padding-right:15px; border-left:none;">
  <% date = s.created_at.in_time_zone %>
  <%= date.day %> <%= mois[date.month-1] %> <%= date.year %> à <%= date.hour %>h<%= "0" if date.min < 10 %><%= date.min %>
  </td>
  </tr>

  <!-- Contenu du message -->
  <tr><td colspan="2" style="padding:15px;">
  <div>
  <% bb = bbcode(s.content) %>
  <% while bb.sub!(/\[hide=(?:&quot;)?(.*?)(?:&quot;)?\](.*?)\[\/hide\]/mi) {"<div style='background-color:#FFFFCC; margin-top:10px; border:1px solid orange; padding:10px;'><a href='#' id='show#{@nb_indice}' onclick='showStuff(#{@nb_indice}); return false;' style='display:inline;' class='btn btn-default btn-grey'>#{$1}</a><a href='#' id='hide#{@nb_indice}' style='display:none;' class='btn btn-default btn-grey' onclick='hideStuff(#{@nb_indice}); return false;'>#{$1}</a><span id='indice#{@nb_indice}' style='display:none;'><br/><br/>#{$2}</span></div>"} %>
  <% @nb_indice = @nb_indice+1 %>
  <% end %>

  <div id="normalsujet<%= s.id %>" style="display:inline;">
  <%= raw(bb) %>
  <div style="text-align:right; float:right;">&nbsp; <a href='#' onclick='showSujetAnormal(<%= s.id %>); return false;'>(Montrer le code)</a></div>
  </div>

  <div class="tex2jax_ignore" id="anormalsujet<%= s.id %>" style="display:none;">
  <%= raw((h s.content).gsub(/\n/, '<br/>')) %>
  <div style="text-align:right; float:right;">&nbsp; <a href='#' onclick='showSujetNormal(<%= s.id %>); return false;'>(Cacher le code)</a></div>
  </div>

  <!-- Pièces jointes -->
  <% n_subject = s.subjectfiles.count %>
  <% n_fake = s.fakesubjectfiles.count %>

  <% if n_subject + n_fake > 0 %>
    <% if n_subject + n_fake == 1 %>
      <br/><br/><b>1 pièce jointe :</b><br/>
    <% else %>
      <br/><br/><b><%= n_subject + n_fake %> pièces jointes :</b><br/>
    <% end %>
    <% s.subjectfiles.order(:id).each do |f| %>
      <%= link_to f.file_file_name, download_subjectfile_path(f) %>
      (<%= (f.file_file_size / 1000.0).round(1) %> ko)
      <% if current_user.sk.root? %>
         - <%= link_to 'Supprimer le contenu', subjectfile_fake_delete_path(f), data: { confirm: "Vous vous apprêtez à supprimer le contenu de cette pièce jointe. Etes-vous sûr de vouloir continuer?"}, :style => "color:red;" %>
      <% end %>
      <br/>
    <% end %>
    <% s.fakesubjectfiles.order(:id).each do |f| %>
      <span style="color:#0000BB;"><%= f.file_file_name %> (<%= (f.file_file_size / 1000.0).round(1) %> ko, désactivée)</span><br/>
    <% end %>

    <!-- Afficher les pièces jointes images -->
    <% s.subjectfiles.order(:id).each do |f| %>
      <% if f.is_image %>
        <hr/>
        <center><%= f.file_file_name %><br/><br/>
        <%= image_tag f.file.url, :class => "visible-lg", :style => "max-width:900px;" %>
        <%= image_tag f.file.url, :class => "visible-md", :style => "max-width:800px;" %>
        <%= image_tag f.file.url, :class => "visible-sm", :style => "max-width:600px;" %>
        <%= image_tag f.file.url, :class => "visible-xs", :style => "width:90%;" %>
        </center>
      <% end %>
    <% end %>
  <% end %>
  </div>
  </td></tr>

  <!-- Si on peut modifier -->
  <% if canmodif && (s.user == current_user.sk || (current_user.sk.admin && !s.user.admin) || current_user.sk.root) %>
    <tr><td colspan="2">
    <center>
        <%= link_to "Modifier ce sujet", edit_subject_path(s, :q => q) %>
        <% if current_user.sk.admin? %>
          | <%= link_to "Supprimer ce sujet", subject_path(s), method: :delete, data: { confirm: "Etes-vous sûr de vouloir supprimer ce sujet et tous les messages qui vont avec ?" }  %>
        <% end %>
    </center>
    </td></tr>
  <% end %>

</table>
