<% @champ = "EditSubject" %>

<div id="the<%= @champ %>" style="overflow-y:hidden;">

<% if !@subject.exercise.nil? %>
	<%= render 'subjects/show_exo', f: @subject.exercise, type: 2 %>
<% elsif !@subject.qcm.nil? %>
	<%= render 'subjects/show_exo', f: @subject.qcm, type: 3 %>
<% end %>

<%= render 'subjects/content', ms: s, kind: "subject" %>

</div>

<% if @canmodif %>
  <div id="form<%= @champ %>" style="overflow-y:hidden; height:0px;">
  <% @edit = true %>
  <%= render 'subjects/edit', s: s %>
  </div>
<% end %>

