<% postfix = "EditSubject" %>

<div id="the<%= postfix %>" class="content-part">

<% if !@subject.question.nil? %>
  <%= render 'subjects/question', q: @subject.question %>
<% elsif !@subject.problem.nil? %>
  <%= render 'subjects/problem', p: @subject.problem %>
<% elsif !@subject.contest.nil? %>
  <%= render 'subjects/contest', contest: @subject.contest %>
<% end %>

<% if current_user.admin? %>
  <p class="text-center">
    <a href="#" onclick='return Rolling.develop("<%= postfix %>", true)'>Modifier ce sujet</a>
    | <%= link_to "Supprimer ce sujet", subject_path(@subject), method: :delete, data: { confirm: "Êtes-vous #{current_user.sure} de vouloir supprimer ce sujet et tous les messages associés ?" }  %>
    | <a href='#' id='showform' onclick='document.getElementById("migration_form").style.display="block"; return false;' style='display:inline;'>Migrer ce sujet</a>
  </p>
  <div id="migration_form" class="mb-3" style="<%= 'display:none;' unless Rails.env.test? %>">
    <center>
    <%= form_tag migrate_subject_path(@subject), :method => :put do %>
      <div class="input-group" style="width:320px;">
      <span class="input-group-text text-center" style="width:170px;">Migrer vers le sujet n°</span>
      <%= hidden_field_tag "q", @q %>
      <%= number_field_tag "migreur", nil, min: 1, max: 10000, style: "width:80px;", class: "form-control text-center" %>
      <%= submit_tag "Migrer", class: "btn btn-primary", style: "width:70px;", data: { confirm: "Êtes-vous #{current_user.sure} de vouloir migrer ce sujet ? Êtes-vous #{current_user.sure} de l'id du sujet receveur ?"} %>
      </div>
    <% end %>
    </center>
  </div>
<% end %>

</div>

<% if current_user.admin? %>
  <div id="form<%= postfix %>" class="form-part px-1" style="height:0px;">
  <%= render 'subjects/edit', s: s, postfix: postfix %>
  </div>
<% end %>

<% if params.has_key?(:msg) && (params[:msg].to_i == 0) %>
  <script>rollingShowusWhenPossible("<%= postfix %>")</script>
<% end %>
