<% @champ = "EditSubject" %>

<div id="the<%= @champ %>" class="myoverflow">

<% if !@subject.question.nil? %>
  <%= render 'subjects/show_exo', q: @subject.question %>
<% elsif !@subject.problem.nil? %>
  <%= render 'subjects/show_prob', p: @subject.problem %>
<% elsif !@subject.contest.nil? %>
  <%= render 'subjects/show_contest', contest: @subject.contest %>
<% end %>

<%= render 'subjects/content', ms: s, kind: "subject" %>

</div>

<% if @canmodif %>
  <div id="form<%= @champ %>" class="myoverflow" style="height:0px;">
  <% @edit = true %>
  <%= render 'subjects/edit', s: s %>
  </div>
<% end %>

