<% postfix = "EditSubject" %>

<% can_edit = s.can_be_updated_by(current_user.sk) %>

<div id="the<%= postfix %>" class="myoverflow">

<% if !@subject.question.nil? %>
  <%= render 'subjects/question', q: @subject.question %>
<% elsif !@subject.problem.nil? %>
  <%= render 'subjects/problem', p: @subject.problem %>
<% elsif !@subject.contest.nil? %>
  <%= render 'subjects/contest', contest: @subject.contest %>
<% end %>

<%= render 'shared/post', ms: s, kind: "subject", can_edit: can_edit, postfix: postfix %>

</div>

<% if can_edit %>
  <div id="form<%= postfix %>" class="myoverflow px-1" style="height:0px;">
  <%= render 'subjects/edit', s: s, postfix: postfix %>
  </div>
<% end %>

