<% @champ = "EditSubject" %>

<div id="the<%= @champ %>" class="myoverflow">

<% if !@subject.question.nil? %>
	<%= render 'subjects/show_exo', f: @subject.question %>
<% end %>

<%= render 'subjects/content', ms: s, kind: "subject" %>

</div>

<% if @canmodif %>
  <div id="form<%= @champ %>" class="myoverflow" style="height:0px;">
  <% @edit = true %>
  <%= render 'subjects/edit', s: s %>
  </div>
<% end %>

