<% postfix = "EditSubject" %>

<% can_edit = current_user.sk.root || (s.user_id > 0 && (s.user == current_user.sk || (current_user.sk.admin && !s.user.admin))) %>

<div id="the<%= postfix %>" class="myoverflow">

<% if !@subject.question.nil? %>
  <%= render 'subjects/question', q: @subject.question %>
<% elsif !@subject.problem.nil? %>
  <%= render 'subjects/problem', p: @subject.problem %>
<% elsif !@subject.contest.nil? %>
  <%= render 'subjects/contest', contest: @subject.contest %>
<% end %>

<%= render 'shared/post', ms: s, kind: "subject", can_edit: can_edit, postfix: postfix %>

</div>

<% if can_edit %>
  <div id="form<%= postfix %>" class="myoverflow px-1" style="height:0px;">
  <%= render 'subjects/edit', s: s, postfix: postfix %>
  </div>
<% end %>

