<% def color_of(user) %>
  <% if user.admin %>
    <% return "#000000" %>
  <% end %>
  <% actualrating = user.point.rating %>
  <% i = 0 %>
  <% actuallevel = 0 %>
  <% @niveaux.each do |n| %>
    <% if n[:pt] <= actualrating %>
      <% actuallevel = i %>
    <% end %>
    <% i = i+1 %>
  <% end %>
  <% return @niveaux[actuallevel][:color] %>
<% end %>

<% mois = ["janvier", "février", "mars", "avril", "mai", "juin", "juillet", "août", "septembre", "octobre", "novembre", "décembre"] %>
<% provide(:title, 'Forum') %>
<h1>Forum <%= @bonjour %>
<% unless @chapter.nil? %>
   - <%= @chapter.name %>
<% end %>
</h1>

<table class="table table-bordered" style="margin-top:20px;">
  <tr class="info" style="font-weight:bold;">
    <td style="text-align:center;">Sujet</td>
    <td style="width:180px; text-align:center;">Auteur</td>
    <td style="width:50px; text-align:center;">Rép.</td>
    <td style="text-align:center;" colspan="2">Dernière contribution</td></tr>
  <% @subjects.each do |s| %>
    <tr>
      <td>
        <% if s.admin? %>
          <span class="label label-warning">Admin</span>
        <% end %>
        <% if @chapter.nil? %>
          <%= link_to s.title, s %>
          <% if @chapter.nil? and not s.chapter.nil? %>
            - <%= s.chapter.name %>
          <% end %>
        <% else %>
          <%= link_to s.title, chapter_subject_path(@chapter, s) %>
          <% if @chapter.nil? and not s.chapter.nil? %>
            - <%= s.chapter.name %>
          <% end %>
        <% end %>
      </td>
      <td style="text-align:center; font-weight:bold;">
        <%= link_to s.user.name, s.user, {:style => "color:#{color_of(s.user)}" } %>
      </td>
      <td style="text-align:center;">
        <%= x = s.messages.count %>
      </td>
        <% if x > 0 %>
          <% last = s.messages.order(:id).last %>
          <% qui = last.user %>
          <% date = last.created_at.in_time_zone %>
        <% else %>
          <% qui = s.user %>
          <% date = s.created_at.in_time_zone %>
        <% end %>
      <td style="width:180px; text-align:center; font-weight:bold;">
        <%= link_to qui.name, qui, {:style => "color:#{color_of(qui)}" } %>
      </td>
      <td style="width:170px; text-align:center;">
        <% tot = s.messages.count %>
        <% page = [0,((tot-1)/10).floor].max + 1 %>
        <% if @chapter.nil? %>
          <%= link_to subject_path(s, :page => page, :anchor => "bottom") do %>
            <%= date.day %> <%= mois[date.month-1] %> <%= date.year %> à <%= date.hour %>h<%= "0" if date.min < 10 %><%= date.min %>
          <% end %>
        <% else %>
          <%= link_to chapter_subject_path(@chapter, s, :page => page, :anchor => "bottom") do %>
            <%= date.day %> <%= mois[date.month-1] %> <%= date.year %> à <%= date.hour %>h<%= "0" if date.min < 10 %><%= date.min %>
          <% end %>
        <% end %>
      </td>
    </tr>
  <% end %>

</table>

<center><%= will_paginate @subjects %></center>

<center>
  <br/>
  <% if @chapter.nil? %>
    <%= link_to "Créer un sujet", new_subject_path, class: 'btn btn-large' %>
  <% else %>
    <%= link_to "Créer un sujet", new_chapter_subject_path(@chapter), class: 'btn btn-large' %>
  <% end %>
</center>

