<% provide(:title, 'Forum') %>

<!-- Calcul de la liste des sections et chapitres -->
<% liste0 = Array.new %>

<% liste0.push(["Afficher tous les sujets", "all"]) %>

<% liste = Array.new %>

<% Category.select("id, name").order(:id).each do |c| %>
  <% unless c.name == "Wépion" && !current_user.wepion? && !current_user.admin? %>
    <% liste.push([c.name, "cat-" + c.id.to_s]) %>
  <% end %>
<% end %>

<% liste2 = Array.new %>

<% last_section_id = -1 %>
<% last_section_name = "" %>
<% last_section_fondation = true %>

<% Chapter.joins(:section).select("chapters.id, chapters.name, chapters.section_id AS section_id, sections.name AS section_name, sections.fondation AS section_fondation").where(:online => true).order("sections.fondation DESC, chapters.section_id, chapters.level, chapters.position").each do |c| %>
  <% if c.section_id != last_section_id %>
    <% if !last_section_fondation %>
      <% liste2.push(["&nbsp;&nbsp;&nbsp;".html_safe + get_problem_category_name(last_section_name), "pro-" + last_section_id.to_s]) %>
    <% end %>
    <% liste2.push([c.section_name, "sec-" + c.section_id.to_s]) %>
    <% last_section_id = c.section_id %>
    <% last_section_name = c.section_name %>
    <% last_section_fondation = c.section_fondation? %>
  <% end %>
  <% liste2.push(["&nbsp;&nbsp;&nbsp;".html_safe + c.name, "cha-" + c.id.to_s]) %>
<% end %>
<% liste2.push(["&nbsp;&nbsp;&nbsp;".html_safe + get_problem_category_name(last_section_name), "pro-" + last_section_id.to_s]) %>

<h1><%= title_1("Forum#{(' - ' + @title_complement) if !@title_complement.empty?}") %>

<% if @title_complement.empty? %>
  <span style="font-size:20px;">
  - <%= link_to "FAQ", faqs_path %>
  </span>
<% end %>

<!-- Trier selon section, chapitre, catégorie... -->
<span class="mb-2 mt-1 ms-3" style="float:right;">
<%= form_tag "", :method => "get", :name => "research" do %>
  <%= select_tag :q, grouped_options_for_select([["Tout afficher", liste0], ["En dehors des cours", liste], ["En lien avec les cours", liste2]], @q), :class => "form-select", :onchange => ("javascript: document.research.submit();") %>
<% end %>
</span>

</h1>

<% num_messages_by_subject = Message.where(:subject_id => @importants.ids + @subjects.ids).group(:subject_id).count %>

<!-- Affichage des sujets importants -->
<% if @importants.size > 0 %>
  <table class="table table-bordered">
    <tr class="table-ld-danger">
      <th class="text-center">Sujet important</th>
      <th class="d-none d-md-table-cell text-center" style="width:50px;">Rép.</th>
      <th class="d-none d-lg-table-cell text-center" colspan="2">Dernière contribution</th>
      <th class="d-table-cell d-lg-none text-center">Dernière contribution</th>
    </tr>
    <% @importants.each do |s| %>
      <%= render 'line', s: s, num_messages: (num_messages_by_subject.has_key?(s.id) ? num_messages_by_subject[s.id] - 1 : 0) %>
    <% end %>
  </table>
<% end %>

<!-- Affichage des sujets non importants -->
<% if @subjects.size > 0 %>
  <table class="table table-bordered">
    <tr class="table-ld-primary">
      <th class="text-center">Sujet</th>
      <th class="d-none d-md-table-cell text-center" style="width:50px;">Rép.</th>
      <th class="d-none d-lg-table-cell text-center" colspan="2">Dernière contribution</th>
      <th class="d-table-cell d-lg-none text-center">Dernière contribution</th>
    </tr>
    <% @subjects.each do |s| %>
      <%= render 'line', s: s, num_messages: (num_messages_by_subject.has_key?(s.id) ? num_messages_by_subject[s.id] - 1 : 0) %>
    <% end %>
  </table>
<% end %>

<center>
  <%= will_paginate @subjects, list_classes: %w(pagination justify-content-center d-none d-sm-flex), :renderer => WillPaginate::ActionView::BootstrapLinkRenderer, :inner_window => 2 %>
  <%= will_paginate @subjects, :class => "d-block d-sm-none mb-3", :renderer => WillPaginate::ActionView::LinkRenderer, :previous_label => "&larr; Préc.", :next_label => "Suiv. &rarr;", :inner_window => 1 %>
</center>

<% if @subjects.size + @importants.size == 0 %>
  <!-- In a table to be sure it takes 100% without overlap with the select -->
  <table class="mb-3" style="width:100%;"><tr><td class="fw-bold">Aucun sujet.</td></tr></table>
<% end %>


<!-- Créer un sujet -->
<center>
  <%= button_to "Créer un sujet", new_subject_path, params: (@q.nil? ? nil : { q: @q }), method: :get, class: 'btn btn-lg btn-ld-light-dark' %>
</center>

<!-- Modifier les catégories -->
<% if current_user.root? %>
  <p class="mt-3 text-center"><%= link_to "Modifier les catégories", categories_path %></p>
<% end %>

<!-- Modifier le moment où le forum a été vu la dernière fois -->
<% if !in_skin? && current_user.num_unseen_subjects(true) > 0 %>
  <% current_user.update_attribute(:last_forum_visit_time, DateTime.now) %>
<% end %>
