<% provide(:title, 'Forum') %>

<% q = -1 %>
<% if(params.has_key?:q) %>
  <% q = params[:q].to_i %>
<% else %>
  <% q = 0 %>
<% end %>

<!-- Calcul de la liste des sections et chapitres -->
<% liste0 = Array.new %>

<% liste0.push(["Afficher tous les sujets", 0]) %>

<% liste = Array.new %>

<% Category.select("id, name").order(:id).each do |c| %>
  <% unless c.name == "Wépion" && !current_user.sk.wepion? && !current_user.sk.admin? %>
    <% liste.push([c.name, 1000000*c.id]) %>
  <% end %>
<% end %>

<% liste2 = Array.new %>

<% last_section_id = -1 %>
<% last_section_name = "" %>
<% last_section_fondation = true %>

<% Chapter.joins(:section).select("chapters.id, chapters.name, chapters.section_id AS section_id, sections.name AS section_name, sections.fondation AS section_fondation").where(:online => true).order("sections.fondation DESC, chapters.section_id, chapters.level, chapters.position").each do |c| %>
  <% if c.section_id != last_section_id %>
    <% if !last_section_fondation %>
      <% liste2.push(["&nbsp;&nbsp;&nbsp;".html_safe + get_problem_category_name(last_section_name), 1000*last_section_id+1]) %>
    <% end %>
    <% liste2.push([c.section_name, 1000*c.section_id]) %>
    <% last_section_id = c.section_id %>
    <% last_section_name = c.section_name %>
    <% last_section_fondation = c.section_fondation? %>
  <% end %>
  <% liste2.push(["&nbsp;&nbsp;&nbsp;".html_safe + c.name, c.id]) %>
<% end %>
<% liste2.push(["&nbsp;&nbsp;&nbsp;".html_safe + get_problem_category_name(last_section_name), 1000*last_section_id+1]) %>

<h1><%= title_1("Forum#{(' - ' + @title_complement) if !@title_complement.empty?}") %>

<!-- Trier selon section, chapitre, catégorie... -->
<span style="float:right; margin-left:20px; margin-top:5px; margin-bottom:20px;">
<form action="" method="get" name="research">
  <%= select_tag :q, grouped_options_for_select([["Tout afficher",liste0], ["En dehors des cours", liste], ["En lien avec les cours", liste2]], q).html_safe, :class =>"form-control", :onchange => ("javascript: document.research.submit();") %>
</form>
</span>

</h1>

<!-- Affichage des sujets importants -->
<% if @importants.size > 0 %>
  <table class="table table-bordered" style="margin-top:20px;">
    <tr class="danger" style="font-weight:bold;">
      <td style="text-align:center;">Sujet important</td>
      <td class="hidden-xs" style="width:180px; text-align:center;">Auteur</td>
      <td class="hidden-xs" style="width:50px; text-align:center;">Rép.</td>
      <td class="hidden-small" style="text-align:center;" colspan="2">Dernière contribution</td>
      <td class="hidden-large" style="text-align:center;">Dernière contribution</td>
    </tr>
    <% @importants.each do |s| %>
      <%= render 'line', s: s, q: q %>
    <% end %>
  </table>
<% end %>

<!-- Affichage des sujets non importants -->
<% if @subjects.size > 0 %>
  <table class="table table-bordered" style="margin-top:20px;">
    <tr class="info" style="font-weight:bold;">
      <td style="text-align:center;">Sujet</td>
      <td class="hidden-xs" style="width:180px; text-align:center;">Auteur</td>
      <td class="hidden-xs" style="width:50px; text-align:center;">Rép.</td>
      <td class="hidden-small" style="text-align:center;" colspan="2">Dernière contribution</td>
      <td class="hidden-large" style="text-align:center;">Dernière contribution</td>
    </tr>
    <% @subjects.each do |s| %>
      <%= render 'line', s: s, q: q %>
    <% end %>
  </table>
<% end %>

<center>
<%= will_paginate @subjects, :style => "margin-top:-10px;", :class => "hidden-xs", :inner_window => 2 %>
<%= will_paginate @subjects, :style => "margin-bottom:15px;", :class => "visible-xs", :renderer => WillPaginate::ActionView::LinkRenderer, :previous_label => "&larr; Préc.", :next_label => "Suiv. &rarr;", :inner_window => 1 %>
</center>

<% if @subjects.size + @importants.size == 0 %>
  <br/><b>Aucun sujet</b><br/><br/>
<% end %>


<!-- Créer un sujet -->
<center>
  <%= link_to "Créer un sujet", new_subject_path(:q => q), class: 'btn btn-lg btn-default btn-grey' %>
</center>

<!-- Modifier les catégories -->
<% if current_user.sk.root? %>
  <br/>
  <center><%= link_to "Modifier les catégories", categories_path %></center>
<% end %>

<!-- Modifier le moment où le forum a été vu la dernière fois -->
<% if !current_user.other && current_user.sk.num_unseen_subjects(true) > 0 %>
  <% current_user.sk.update_attribute(:last_forum_visit_time, DateTime.now) %>
<% end %>
