<% mois = ["janvier", "février", "mars", "avril", "mai", "juin", "juillet", "août", "septembre", "octobre", "novembre", "décembre"] %>
<% provide(:title, 'Forum') %>

<% def affiche_date(date, datenow) %>
  <% mois = ["janvier", "février", "mars", "avril", "mai", "juin", "juillet", "août", "septembre", "octobre", "novembre", "décembre"] %>

  <% if (datenow - date).floor >= 24*60*60 %>
    <%= date.day %> <%= mois[date.month-1] %> <%= date.year %> à <%= date.hour %>h<%= "0" if date.min < 10 %><%= date.min %>
  <% elsif (datenow - date).floor >= 60*60 %>
    <% minute = ((datenow - date)/60).floor %>
    <% heure = (minute / 60).floor %>
    <% minute = minute - 60*heure %>
    il y a <%= heure %> heure<%="s" if heure > 1 %>, <%= minute %> minute<%= "s" if minute > 1 %>
  <% elsif (datenow - date).floor >= 60 %>
    <% minute = ((datenow - date)/60).floor %>
    il y a <%= minute %> minute<%= "s" if minute > 1 %>
  <% else %>
    <% seconde = (datenow - date).floor %>
    il y a <%= seconde %> seconde<%= "s" if seconde > 1 %>
  <% end %>
<% end %>


<% q = -1 %>
<% if(params.has_key?:q) %>
  <% q = params[:q].to_i %>
<% else %>
  <% q = 0 %>
<% end %>


<h1>Forum <%= @bonjour %>
<% unless @chapter.nil? %>
   - <%= @chapter.name %>
<% end %>
</h1>

<% liste = Array.new %>

<% liste.push(["Afficher tous les sujets", 0]) %>

<% Section.where(:fondation => true).to_a.each do |s| %>
    <% liste.push([s.name, 1000*s.id]) %>
    <% s.chapters.order(:name).to_a.each do |c| %>
      <% if c.online || (signed_in? && current_user.sk.admin?) %>
        <% liste.push(["- " + c.name, c.id]) %>
      <% end %>
    <% end %>
<% end %>

<% Section.where(:fondation => false).to_a.each do |s| %>
    <% liste.push([s.name, 1000*s.id]) %>
    <% s.chapters.order(:name).to_a.each do |c| %>
      <% if c.online || (signed_in? && current_user.sk.admin) %>
        <% liste.push(["- " + c.name, c.id]) %>
      <% end %>
    <% end %>
<% end %>


<form action="" method="get" class="form-inline" name="research">
  N'afficher que les sujets relatifs à la section ou au chapitre : 
  <%= select_tag :q, options_for_select(liste, q), :class =>"form-control", :onchange => ("javascript: document.research.submit();") %>
</form>

<% if @importants.size > 0 %>

<table class="table table-bordered" style="margin-top:20px;">
  <tr class="danger" style="font-weight:bold;">
    <td style="text-align:center;">Sujet important</td>
    <td style="width:180px; text-align:center;">Auteur</td>
    <td style="width:50px; text-align:center;">Rép.</td>
    <td style="text-align:center;" colspan="2">Dernière contribution</td></tr>
  <% @importants.each do |s| %>
    <tr>
      <td style="vertical-align:middle;">
        <% if s.admin? %>
          <table style="border:none; padding:0px; margin:0px;"><tr><td style="border:none; vertical-align:middle; padding:0px; padding-right:5px;">
          <span class="label label-warning">Admin</span>
          </td>
          <td style="border-left:1px dotted grey; padding:0px; padding-left:5px;">
        <% end %>

          <%= link_to s.title, subject_path(s, :q => q) %>
          <% if @chapter.nil? and not s.chapter.nil? %>
            - <%= s.chapter.name %>
          <% end %>

        <% if s.admin? %>
          </td></tr></table>
        <% end %>

      </td>
      <td style="text-align:center; font-weight:bold; vertical-align:middle;">
      	<% if s.user.admin %>
          <%= s.user.name %>
        <% else %>
          <%= link_to s.user.name, s.user, {:style => "color:#{s.user.level[:color]}" } %>
        <% end %>
      </td>
      <td style="text-align:center; vertical-align:middle;">
        <%= x = s.messages.count %>
      </td>
        <% if x > 0 %>
          <% last = s.messages.order(:id).last %>
          <% qui = last.user %>
          <% date = last.created_at.in_time_zone %>
        <% else %>
          <% qui = s.user %>
          <% date = s.created_at.in_time_zone %>
        <% end %>

        <% datenow = Time.zone.now %>

      <td style="width:170px; text-align:center; font-weight:bold; vertical-align:middle;">
        <% if qui.admin %>
          <%= qui.name %>
        <% else %>
          <%= link_to qui.name, qui, {:style => "color:#{qui.level[:color]}" } %>
        <% end %>
      </td>
      <td style="width:190px; text-align:center; vertical-align:middle;">
        <% tot = s.messages.count %>
        <% page = [0,((tot-1)/10).floor].max + 1 %>

          <%= link_to subject_path(s, :page => page, :anchor => "bottom", :q => q) do %>
            <% affiche_date(date, datenow) %>
          <% end %>

      </td>
    </tr>
    
  <% end %>

</table>

<% end %>

<% if @subjectsfalse.size > 0 %>

<table class="table table-bordered" style="margin-top:20px;">
  <tr class="info" style="font-weight:bold;">
    <td style="text-align:center;">Sujet</td>
    <td style="width:180px; text-align:center;">Auteur</td>
    <td style="width:50px; text-align:center;">Rép.</td>
    <td style="text-align:center;" colspan="2">Dernière contribution</td></tr>
  <% @subjectsfalse.each do |s| %>
    <tr>
      <td style="vertical-align:middle;">
        <% if s.admin? %>
          <table style="border:none; padding:0px; margin:0px;"><tr><td style="border:none; vertical-align:middle; padding:0px; padding-right:5px;">
          <span class="label label-warning">Admin</span>
          </td>
          <td style="border-left:1px dotted grey; padding:0px; padding-left:5px;">
        <% end %>

          <%= link_to s.title, subject_path(s, :q => q) %>
          <% if @chapter.nil? and not s.chapter.nil? %>
            - <%= s.chapter.name %>
          <% end %>

        <% if s.admin? %>
          </td></tr></table>
        <% end %>
      </td>
      <td style="text-align:center; font-weight:bold; vertical-align:middle;">
        <% if s.user.admin %>
          <%= s.user.name %>
        <% else %>
          <%= link_to s.user.name, s.user, {:style => "color:#{s.user.level[:color]}" } %>
        <% end %>
      </td>
      <td style="text-align:center; vertical-align:middle;">
        <%= x = s.messages.count %>
      </td>
        <% if x > 0 %>
          <% last = s.messages.order(:id).last %>
          <% qui = last.user %>
          <% date = last.created_at.in_time_zone %>
        <% else %>
          <% qui = s.user %>
          <% date = s.created_at.in_time_zone %>
        <% end %>

        <% datenow = Time.zone.now %>

      <td style="width:170px; text-align:center; font-weight:bold; vertical-align:middle;">
        <% if qui.admin %>
          <%= qui.name %>
        <% else %>
          <%= link_to qui.name, qui, {:style => "color:#{qui.level[:color]}" } %>
        <% end %>
      </td>
      <td style="width:190px; text-align:center; vertical-align:middle;">
        <% tot = s.messages.count %>
        <% page = [0,((tot-1)/10).floor].max + 1 %>
        
          <%= link_to subject_path(s, :page => page, :anchor => "bottom", :q => q) do %>
            <% affiche_date(date, datenow) %>
          <% end %>

      </td>
    </tr>
  <% end %>

</table>

<% end %>

<center><%= will_paginate @subjectsfalse, :style => "margin-top:-10px; margin-bottom:-10px;" %></center>

<% if @subjects.size + @importants.size == 0 %>
<br/><b>Aucun sujet</b><br/><br/>
<% end %>

<center>	
  <% if signed_in? %>
    <%= link_to "Créer un sujet", new_subject_path(:q => q), class: 'btn btn-lg btn-default btn-grey' %>
  <% else %>
    <button type=button disabled=true class="btn btn-lg btn-default btn-grey">Créer un sujet</button>
  <% end %>
</center>

