<% provide(:title, 'Créer un sujet') %>
<h1>Créer un sujet</h1>

<%= form_for(@subject) do |f| %>
  <%= render 'form', f: f %>
  <br />
  <%= f.submit "Créer", class: "btn btn-large btn-primary" %>
<% end %>

<br/>

<center>
  Retour aux
  <%= link_to "discussions", subjects_path %>
  <% unless @chapter.nil? %>
    | <%= link_to "discussions sur #{@chapter.name}", chapter_subjects_path %>
  <% end %>
</center>

<script>
  Preview.Init();
  Preview.Update();
</script>
