<% provide(:title, 'Créer un sujet') %>
<h1>Créer un sujet</h1>

<% if @chapter.nil? %>
    <%= form_for(@subject) do |f| %>
      <%= render 'form', f: f %>
      <br />
      <%= f.submit "Créer", class: "btn btn-large btn-primary" %>
    <% end %>
<% else %>
    <%= form_for([@chapter,@subject]) do |f| %>
      <%= render 'form', f: f %>
      <br />
      <%= f.submit "Créer", class: "btn btn-large btn-primary" %>
    <% end %>
<% end %>
<br/>

<% if @chapter.nil? %>
  <center><%= link_to "Retour aux discussions", subjects_path %></center>
<% else %>
  <center><%= link_to "Retour aux discussions", chapter_subjects_path %></center>
<% end %>

<script>
  Preview.Init();
  Preview.Update();
</script>
