<% provide(:title, 'Créer un sujet') %>
<h1>
<span class="title-first"><%= link_to "Forum", subjects_path(:q => @q) %> ></span>
Créer un sujet
</h1>

<% @edit = false %>

<%= form_for @subject, :url => subjects_path(@subject, :action => :create, :q => @q), :html => { :multipart => true } do |f| %>
  <%= render 'form', f: f %>
  <span id="fooBar"></span>

  <!-- Ajouter une pièce jointe -->
  <input type="button" value="Ajouter une pièce jointe" onclick="Joint.add()" <%= 'disabled="disabled"' if current_user.other %>/>
  <br/><br/>
  <%= f.submit "Créer", class: "btn btn-lg btn-primary", :disabled => current_user.other %>
<% end %>

<script>
PreviewSafe.Init();
PreviewSafe.Update();
</script>
