<% provide(:title, @subject.title.html_safe) %>

<% @nb_indice = 1 %>

<% @q = 0 %>
<% @q = params[:q].to_i if params.has_key?:q %>

<% if !@subject.category.nil? %>
  <% @category = @subject.category %>
  <% title_complement = @category.name %>
<% elsif @subject.section.nil? %>
  <% title_complement = "" %>
<% elsif @subject.chapter.nil? %>
  <% @chapitre = nil %>
  <% @section = @subject.section %>
  <% title_complement = (link_to @section.name, @section, target: '_blank') %>
<% else %>
  <% @chapitre = @subject.chapter %>
  <% title_complement = (link_to @chapitre.name, @chapitre, target: '_blank') %>
<% end %>

<!-- Titre avec un tableau pour que le bouton de droite se mette bien -->
<h1 style="margin-bottom:0px;">
<table style="width:100%;">
<tr><td>
<%= title_2((link_to "Forum", subjects_path(:q => @q)), "#{@subject.title}#{('<span style="font-size:20px;"> - ' + title_complement + '</span>') if !title_complement.empty?}") %>
</td>

<td class="hidden-xs" style="padding-left:15px; text-align:right;">
<% if !current_user.followed_subjects.exists?(@subject.id) %>
  <%= link_to "Suivre ce sujet", add_followingsubject_path(:subject_id => @subject.id), :method => :put, class: 'btn btn-default btn-grey', id: 'link_follow', data: { confirm: "Vous recevrez un e-mail à chaque fois qu'un nouveau message sera posté sur ce sujet."}, disabled: current_user.other %>
<% else %>
  <%= link_to "Ne plus suivre ce sujet", remove_followingsubject_path(:subject_id => @subject.id), class: 'btn btn-default btn-grey', id: 'link_unfollow', disabled: current_user.other %>
<% end %>
</td>

</tr>
</table>
</h1>

<div class="visible-xs" style="text-align:center; padding-top:10px;">
<% if !current_user.followed_subjects.exists?(@subject.id) %>
  <%= link_to "Suivre ce sujet", add_followingsubject_path(:subject_id => @subject.id), :method => :put, class: 'btn btn-default btn-grey', data: { confirm: "Vous recevrez un e-mail à chaque fois qu'un nouveau message sera posté sur ce sujet."}, disabled: current_user.other %>
<% else %>
  <%= link_to "Ne plus suivre ce sujet", remove_followingsubject_path(:subject_id => @subject.id), class: 'btn btn-default btn-grey', disabled: current_user.other %>
<% end %>
</div>

</h1>

<center>
<%= will_paginate @messages, :style => "margin-top:-5px; margin-bottom:-25px;", :class => "hidden-xs", :inner_window => 2 %>
<%= will_paginate @messages, :style => "margin-top:15px; margin-bottom:-5px;", :class => "visible-xs", :renderer => WillPaginate::ActionView::LinkRenderer, :previous_label => "&larr; Préc.", :next_label => "Suiv. &rarr;", :inner_window => 1 %>
</center>

<!-- S'il s'agit de la première page, on affiche le sujet -->
<% if ((!params.has_key?:page) || (params[:page] == '1')) %>
  <%= render 'subjects/subject', s: @subject %>
<% else %>
  <% if !@subject.question.nil? %>
    <%= render 'subjects/show_exo', q: @subject.question %>
  <% elsif !@subject.problem.nil? %>
    <%= render 'subjects/show_prob', p: @subject.problem %>
  <% elsif !@subject.contest.nil? %>
    <%= render 'subjects/show_contest', contest: @subject.contest %>
  <% end %>
<% end %>

<!-- On affiche les messages -->
<% @messages.each do |m| %>
  <%= render 'subjects/message', m: m %>
<% end %>

<% if @messages.current_page == @messages.total_pages %>
  <!-- Répondre -->
  <%= render 'messages/new' %>
<% end %>

<center>
<%= will_paginate @messages, :style => "margin-top:0px; margin-bottom:-30px;", :class => "hidden-xs", :inner_window => 2 %>
<%= will_paginate @messages, :style => "margin-top:15px; margin-bottom:15px;", :class => "visible-xs", :renderer => WillPaginate::ActionView::LinkRenderer, :previous_label => "&larr; Préc.", :next_label => "Suiv. &rarr;", :inner_window => 1 %>
</center>

<a name="bottom"></a>
