<% provide(:title, @subject.title.html_safe) %>

<% @messages = @subject.messages.order(:created_at).paginate(:page => @page, :per_page => 10) %>

<% @nb_indice = 1 %>

<% if !@subject.category.nil? %>
  <% @category = @subject.category %>
  <% title_complement = @category.name %>
<% elsif @subject.section.nil? %>
  <% title_complement = "" %>
<% elsif @subject.chapter.nil? %>
  <% @chapitre = nil %>
  <% @section = @subject.section %>
  <% title_complement = (link_to @section.name, @section, target: '_blank') %>
<% else %>
  <% @chapitre = @subject.chapter %>
  <% title_complement = (link_to @chapitre.name, @chapitre, target: '_blank') %>
<% end %>

<!-- Titre avec un tableau pour que le bouton de droite se mette bien -->
<h1 class="mb-0">
<table style="width:100%;">
<tr><td>
<%= title_subjects("#{(h @subject.title)}#{('<span style="font-size:20px;"> - ' + title_complement + '</span>') if !title_complement.empty?}") %>
</td>

<td class="d-none d-md-table-cell ps-3 text-end">
<% if !current_user.followed_subjects.exists?(@subject.id) %>
  <%= link_to "Suivre ce sujet", follow_subject_path(@subject), :method => :put, class: 'btn btn-ld-light-dark', id: 'link_follow', data: { confirm: "Vous recevrez un e-mail à chaque fois qu'un nouveau message sera posté sur ce sujet."}, disabled: in_skin? %>
<% else %>
  <%= link_to "Ne plus suivre ce sujet", unfollow_subject_path(@subject), class: 'btn btn-ld-light-dark', id: 'link_unfollow', disabled: in_skin? %>
<% end %>
</td>

</tr>
</table>

<div class="d-block d-md-none pt-2 text-center">
<% if !current_user.followed_subjects.exists?(@subject.id) %>
  <%= link_to "Suivre ce sujet", follow_subject_path(@subject), :method => :put, class: 'btn btn-ld-light-dark', data: { confirm: "Vous recevrez un e-mail à chaque fois qu'un nouveau message sera posté sur ce sujet."}, disabled: in_skin? %>
<% else %>
  <%= link_to "Ne plus suivre ce sujet", unfollow_subject_path(@subject), class: 'btn btn-ld-light-dark', disabled: in_skin? %>
<% end %>
</div>

</h1>

<center>
  <%= will_paginate @messages, list_classes: %w(pagination justify-content-center d-none d-sm-flex mt-3 mb-1), :renderer => WillPaginate::ActionView::BootstrapLinkRenderer, :inner_window => 2 %>
  <%= will_paginate @messages, :class => "d-block d-sm-none mt-3 mb-0", :renderer => WillPaginate::ActionView::LinkRenderer, :previous_label => "&larr; Préc.", :next_label => "Suiv. &rarr;", :inner_window => 1 %>
</center>

<!-- S'il s'agit de la première page, on affiche le sujet -->
<% if @page.nil? || @page == 1 %>
  <%= render 'subjects/subject', s: @subject %>
<% else %>
  <% if !@subject.question.nil? %>
    <%= render 'subjects/question', q: @subject.question %>
  <% elsif !@subject.problem.nil? %>
    <%= render 'subjects/problem', p: @subject.problem %>
  <% elsif !@subject.contest.nil? %>
    <%= render 'subjects/contest', contest: @subject.contest %>
  <% end %>
<% end %>

<!-- On affiche les messages -->
<% @messages.each do |m| %>
  <%= render 'messages/show', m: m %>
<% end %>

<% if @messages.current_page == @messages.total_pages %>
  <!-- Répondre -->
  <%= render 'messages/new' %>
<% end %>

<center>
  <%= will_paginate @messages, list_classes: %w(pagination justify-content-center d-none d-sm-flex mt-3), :renderer => WillPaginate::ActionView::BootstrapLinkRenderer, :inner_window => 2 %>
  <%= will_paginate @messages, :class => "d-block d-sm-none mt-3", :renderer => WillPaginate::ActionView::LinkRenderer, :previous_label => "&larr; Préc.", :next_label => "Suiv. &rarr;", :inner_window => 1 %>
</center>

<a name="bottom"></a>
