<% provide(:title, @subject.title.html_safe) %>

<!-- Do not do PreviewSafe.Init() & PreviewSafe.Update() at page load: it will be done only when "opening" (rolling) the forms -->
<% @doNotInitPreviewSafeAtLoad = true %>

<% @nb_indice = 1 %>

<% if !@subject.category.nil? %>
  <% @category = @subject.category %>
  <% title_complement = @category.name %>
<% elsif @subject.section.nil? %>
  <% title_complement = "" %>
<% elsif @subject.chapter.nil? %>
  <% @chapitre = nil %>
  <% @section = @subject.section %>
  <% title_complement = (link_to @section.name, @section, target: '_blank') %>
<% else %>
  <% @chapitre = @subject.chapter %>
  <% title_complement = (link_to @chapitre.name, @chapitre, target: '_blank') %>
<% end %>

<!-- Titre avec un tableau pour que le bouton de droite se mette bien -->
<h1 class="mb-0">
<table style="width:100%;">
<tr><td>
<%= title_2((link_to "Forum", subjects_path(:q => @q)), "#{@subject.title}#{('<span style="font-size:20px;"> - ' + title_complement + '</span>') if !title_complement.empty?}") %>
</td>

<td class="d-none d-md-table-cell ps-3 text-end">
<% if !current_user.followed_subjects.exists?(@subject.id) %>
  <%= link_to "Suivre ce sujet", add_followingsubject_path(:subject_id => @subject.id), :method => :put, class: 'btn btn-light', id: 'link_follow', data: { confirm: "Vous recevrez un e-mail à chaque fois qu'un nouveau message sera posté sur ce sujet."}, disabled: current_user.other %>
<% else %>
  <%= link_to "Ne plus suivre ce sujet", remove_followingsubject_path(:subject_id => @subject.id), class: 'btn btn-light', id: 'link_unfollow', disabled: current_user.other %>
<% end %>
</td>

</tr>
</table>

<div class="d-block d-md-none pt-2 text-center">
<% if !current_user.followed_subjects.exists?(@subject.id) %>
  <%= link_to "Suivre ce sujet", add_followingsubject_path(:subject_id => @subject.id), :method => :put, class: 'btn btn-light', data: { confirm: "Vous recevrez un e-mail à chaque fois qu'un nouveau message sera posté sur ce sujet."}, disabled: current_user.other %>
<% else %>
  <%= link_to "Ne plus suivre ce sujet", remove_followingsubject_path(:subject_id => @subject.id), class: 'btn btn-light', disabled: current_user.other %>
<% end %>
</div>

</h1>

<center>
  <%= will_paginate @messages, list_classes: %w(pagination justify-content-center d-none d-sm-flex mt-3 mb-n1), :renderer => WillPaginate::ActionView::BootstrapLinkRenderer, :inner_window => 2 %>
  <%= will_paginate @messages, :class => "d-block d-sm-none mt-3 mb-n1", :renderer => WillPaginate::ActionView::LinkRenderer, :previous_label => "&larr; Préc.", :next_label => "Suiv. &rarr;", :inner_window => 1 %>
</center>

<!-- S'il s'agit de la première page, on affiche le sujet -->
<% if ((!params.has_key?:page) || (params[:page] == '1')) %>
  <%= render 'subjects/subject', s: @subject %>
<% else %>
  <% if !@subject.question.nil? %>
    <%= render 'subjects/show_exo', q: @subject.question %>
  <% elsif !@subject.problem.nil? %>
    <%= render 'subjects/show_prob', p: @subject.problem %>
  <% elsif !@subject.contest.nil? %>
    <%= render 'subjects/show_contest', contest: @subject.contest %>
  <% end %>
<% end %>

<!-- On affiche les messages -->
<% @messages.each do |m| %>
  <%= render 'subjects/message', m: m %>
<% end %>

<% if @messages.current_page == @messages.total_pages %>
  <!-- Répondre -->
  <%= render 'messages/new' %>
<% end %>

<center>
  <%= will_paginate @messages, list_classes: %w(pagination justify-content-center d-none d-sm-flex mt-3), :renderer => WillPaginate::ActionView::BootstrapLinkRenderer, :inner_window => 2 %>
  <%= will_paginate @messages, :class => "d-block d-sm-none mt-3", :renderer => WillPaginate::ActionView::LinkRenderer, :previous_label => "&larr; Préc.", :next_label => "Suiv. &rarr;", :inner_window => 1 %>
</center>

<a name="bottom"></a>
