<script type="text/javascript">
function showStuff(id) {
    document.getElementById("indice" + id).style.display = 'inline';
    document.getElementById("show" + id).style.display = 'none';
    document.getElementById("hide" + id).style.display = 'inline';
}
function hideStuff(id) {
    document.getElementById("indice" + id).style.display = 'none';
    document.getElementById("show" + id).style.display = 'inline';
    document.getElementById("hide" + id).style.display = 'none';
}
</script>

<% provide(:title, @subject.title.html_safe) %>

<% @nb_indice = 0 %>

<% q = 0 %>
<% if(params.has_key?:q) %>
  <% q = params[:q].to_i %>
<% end %>

<!-- Titre avec un tableau pour que l'alignement soit joli si le titre fait plus d'une ligne -->
<h1 style="margin-bottom:15px;">
<table style="float:left;">
<tr>
<td nowrap style="vertical-align:top;">
<span style="font-size:16px;"><%= link_to "Forum", subjects_path(:q => q) %> ></span>
</td>
<td style="padding-left:10px; vertical-align:top;">
<%= @subject.title %>
<% if @subject.section.nil? %>

<% elsif @subject.chapter.nil? %>
  <% @chapitre = nil %>
  <% @section = @subject.section %>
   - <%= @section.name %>
<% else %>
  <% @chapitre = @subject.chapter %>
  <% @section = @subject.chapter.section %>
   - <%= @chapitre.name %>
<% end %>
</td>
</tr>
</table>

<% if !current_user.followed_subjects.exists?(@subject) %>
  <span style="float:right;"><%= link_to "Suivre ce sujet", add_followingsubject_path(:subject_id => @subject.id), class: 'btn btn-default btn-grey', data: { confirm: "Vous recevrez un e-mail à chaque fois qu'un nouveau message sera posté sur ce sujet."} %></span>
<% else %>
  <span style="float:right;"><%= link_to "Ne plus suivre ce sujet", remove_followingsubject_path(:subject_id => @subject.id), class: 'btn btn-default btn-grey' %></span>
<% end %>
</h1>
<br/><br/><br/>

<center>
<%= will_paginate @messages, :style => "margin-top:-30px;", :class => "hidden-xs", :inner_window => 2 %>
<%= will_paginate @messages, :style => "margin-top:-30px;", :class => "visible-xs", :previous_label => "Préc.", :next_label => "Suiv.", :inner_window => 2 %>
</center>

<!-- S'il s'agit de la première page, on affiche le sujet -->
<% if ((!params.has_key?:page) || (params[:page] == '1')) %>
  <%= render 'subject', s: @subject, canmodif: true %>
<% end %>

<!-- On affiche les messages -->
<% @messages.each do |m| %>
  <a name="<%= m.id %>"></a>
  <%= render 'message', m: m, canmodif: true %>
<% end %>

<center>
<%= will_paginate @messages, :style => "margin-top:-10px;", :class => "hidden-xs", :inner_window => 2 %>
<%= will_paginate @messages, :style => "margin-top:-10px;", :class => "visible-xs", :previous_label => "Préc.", :next_label => "Suiv.", :inner_window => 2 %>
</center>

<!-- Répondre -->
<center>
  <%= link_to "Répondre", new_subject_message_path(@subject, :q => q), class: 'btn btn-lg btn-default btn-grey' %>
</center>

<a name="bottom"></a>
