<script type="text/javascript">
function showStuff(id) {
    document.getElementById("indice" + id).style.display = 'inline';
    document.getElementById("show" + id).style.display = 'none';
    document.getElementById("hide" + id).style.display = 'inline';
}
function hideStuff(id) {
    document.getElementById("indice" + id).style.display = 'none';
    document.getElementById("show" + id).style.display = 'inline';
    document.getElementById("hide" + id).style.display = 'none';
}
</script>

<% provide(:title, @subject.title.html_safe) %>

<% @nb_indice = 0 %>

<% q = 0 %>
<% if(params.has_key?:q) %>
  <% q = params[:q].to_i %>
<% end %>

<!-- Titre avec un tableau pour que l'alignement soit joli si le titre fait plus d'une ligne -->
<h1 style="margin-bottom:15px;">
<table style="width:100%;">
<tr><td>
<table>
<tr>
<td nowrap style="vertical-align:top;">
<span style="font-size:16px;"><%= link_to "Forum", subjects_path(:q => q) %> ></span>
</td>
<td style="padding-left:10px; vertical-align:top;">

<%= @subject.title %>

<span style="font-size:20px;">
<% if !@subject.category.nil? %>
	<% @category = @subject.category %>
   - <%= @category.name %>
<% elsif @subject.section.nil? %>

<% elsif @subject.chapter.nil? %>
  <% @chapitre = nil %>
  <% @section = @subject.section %>
   - <%= @section.name %>
<% else %>
  <% @chapitre = @subject.chapter %>
  <% @section = @subject.chapter.section %>
  - <%= link_to @chapitre.name, @chapitre, target: '_blank' %>
<% end %>
</span>
</td>
</tr>
</table>
</td>

<td class="hidden-xs" style="padding-left:15px; text-align:right;">
<% if !current_user.followed_subjects.exists?(@subject.id) %>
  <%= link_to "Suivre ce sujet", add_followingsubject_path(:subject_id => @subject.id), class: 'btn btn-default btn-grey', data: { confirm: "Vous recevrez un e-mail à chaque fois qu'un nouveau message sera posté sur ce sujet."}, disabled: current_user.other %>
<% else %>
  <%= link_to "Ne plus suivre ce sujet", remove_followingsubject_path(:subject_id => @subject.id), class: 'btn btn-default btn-grey', disabled: current_user.other %>
<% end %>
</td>

</tr>
</table>
</h1>

<div class="visible-xs" style="text-align:center;">
<% if !current_user.followed_subjects.exists?(@subject.id) %>
  <%= link_to "Suivre ce sujet", add_followingsubject_path(:subject_id => @subject.id), class: 'btn btn-default btn-grey', data: { confirm: "Vous recevrez un e-mail à chaque fois qu'un nouveau message sera posté sur ce sujet."}, disabled: current_user.other %>
<% else %>
  <%= link_to "Ne plus suivre ce sujet", remove_followingsubject_path(:subject_id => @subject.id), class: 'btn btn-default btn-grey', disabled: current_user.other %>
<% end %>
<br/><br/>
</div>

<center>
<%= will_paginate @messages, :style => "margin-top:-20px;", :class => "hidden-xs", :inner_window => 2 %>
<%= will_paginate @messages, :style => "margin-top:-20px;", :class => "visible-xs", :previous_label => "Préc.", :next_label => "Suiv.", :inner_window => 1 %>
</center>

<% if !@subject.exercise.nil? %>
	<%= render 'show_exo', f: @subject.exercise %>
<% elsif !@subject.qcm.nil? %>
	<%= render 'show_qcm', f: @subject.qcm %>
<% end %>

<!-- S'il s'agit de la première page, on affiche le sujet -->
<% if ((!params.has_key?:page) || (params[:page] == '1')) %>
  <%= render 'subject', s: @subject, canmodif: true %>
<% end %>

<!-- On affiche les messages -->
<% @messages.each do |m| %>
  <a name="<%= m.id %>"></a>
  <%= render 'message', m: m, canmodif: true %>
<% end %>

<center>
<%= will_paginate @messages, :style => "margin-top:-10px;", :class => "hidden-xs", :inner_window => 2 %>
<%= will_paginate @messages, :style => "margin-top:-10px;", :class => "visible-xs", :previous_label => "Préc.", :next_label => "Suiv.", :inner_window => 1 %>
</center>

<!-- Répondre -->
<center>
  <%= link_to "Répondre", new_subject_message_path(@subject, :q => q), class: 'btn btn-lg btn-default btn-grey' %>
</center>

<a name="bottom"></a>
