<% mois = ["janvier", "février", "mars", "avril", "mai", "juin", "juillet", "août", "septembre", "octobre", "novembre", "décembre"] %>

<% provide(:title, @subject.title) %>


<% if @subject.chapter.nil? %>
<h1><%= @subject.title %></h1>
<% else %>
  <% @chapitre = @subject.chapter %>
  <h1><%= @subject.title %> - <%= @chapitre.name %> </h1>
<% end %>

<% if @subject.admin? %>
<center><span class="label label-warning">Sujet réservé aux administrateurs</span></center>
<% end %>

<center><%= will_paginate @messages %></center>

<% if ((!params.has_key?:page) || (params[:page] == '1')) %>

<table class="table table-bordered" style="margin-top:20px;">
<tr class="info">
<td style="font-size:20px; font-weight:bold; padding:15px; border-right:none;">
<% if @subject.user.admin %>
  <%= @subject.user.name %>
<% else %>
  <%= link_to @subject.user.name, @subject.user, {:style => "color:#{@subject.user.level[:color]}" } %>
<% end %> 
</td>
<td style="text-align:right; font-size:20px; padding:15px; border-left:none;">
<% date = @subject.created_at.in_time_zone %>
<%= date.day %> <%= mois[date.month-1] %> <%= date.year %> à <%= date.hour %>h<%= "0" if date.min < 10 %><%= date.min %>
</td>
</tr>

<tr><td colspan="2" style="padding:15px;">
<div>
<% if @subject.admin_user? %>
<%= raw(@subject.content.gsub(/<hr>[ \r]*\n/,'<hr>').gsub(/\\][ \r]*\n/,'\] ').gsub(/\$\$[ \r]*\n/,'$$ ').gsub(/<\/h2>[ \r]*\n/,'</h2>').gsub(/<\/h3>[ \r]*\n/,'</h3>').gsub(/<\/h4>[ \r]*\n/,'</h4>').gsub(/<\/ol>[ \r]*\n/, '</ol>').gsub(/\n[ \r]*<\/ol>/, '</ol>').gsub(/<\/ul>[ \r]*\n/, '</ul>').gsub(/\n[ \r]*<\/ul>/, '</ul>').gsub(/\n[ \r]*<li>/, '<li>').gsub(/\n/, '<br/>')) %>
<% else %>
<%= raw((h @subject.content.gsub(/\\][ \r]*\n/,'\] ').gsub(/\$\$[ \r]*\n/,'$$ ')).gsub(/\n/, '<br>')) %>
<% end %>
<% if @subject.subjectfiles.size > 0 %>
  <% if @subject.subjectfiles.size == 1 %>
    <br/><br/><b>1 pièce jointe :</b><br/>
  <% else %>
    <br/><br/><b><%= @subject.subjectfiles.size %> pièces jointes :</b><br/>
  <% end %>
  <% @subject.subjectfiles.each do |f| %>
    <%= link_to f.file_file_name, download_subjectfile_path(f) %><br/>
  <% end %>
<% end %>
</div>
</td></tr>

<% if (@subject.user == current_user.sk || (current_user.sk.admin && !@subject.user.admin) || current_user.sk.root) %>
  <tr><td colspan="2">
  <center>
    <% if @chapter.nil? %>
      <%= link_to "Modifier ce sujet", edit_subject_path(@subject) %>
      <% if current_user.sk.admin? %>
        | <%= link_to "Supprimer ce sujet", subject_path(@subject), method: :delete, data: { confirm: "Etes-vous sûr de vouloir supprimer ce sujet et tous les messages qui vont avec ?" }  %>
      <% end %>
    <% else %>
      <%= link_to "Modifier ce sujet", edit_chapter_subject_path(@chapter, @subject) %>
      <% if current_user.sk.admin? %>
        | <%= link_to "Supprimer ce sujet", chapter_subject_path(@subject), method: :delete, data: { confirm: "Etes-vous sûr de vouloir supprimer ce sujet et tous les messages qui vont avec ?" }  %>
      <% end %>
    <% end %>
  </center>
  </td></tr>
<% end %>

</table>

<% end %>

<% @messages.each do |m| %>
<a name="<%= m.id %>"></a>
<table class="table table-bordered" style="margin-top:20px;">
<tr class="info">
<td style="font-size:20px; font-weight:bold; padding:15px; border-right:none;">
<% if m.user.admin %>
  <%= m.user.name %>
<% else %>
  <%= link_to m.user.name, m.user, {:style => "color:#{m.user.level[:color]}" } %>
<% end %> 
</td>
<td style="text-align:right; font-size:20px; padding:15px; border-left:none;">
<% date = m.created_at.in_time_zone %>
<%= date.day %> <%= mois[date.month-1] %> <%= date.year %> à <%= date.hour %>h<%= "0" if date.min < 10 %><%= date.min %>
</td>
</tr>

<tr><td colspan="2" style="padding:15px;">
<div>
<% if m.admin_user? %>
<%= raw(m.content.gsub(/<hr>[ \r]*\n/,'<hr>').gsub(/\\][ \r]*\n/,'\] ').gsub(/\$\$[ \r]*\n/,'$$ ').gsub(/<\/h2>[ \r]*\n/,'</h2>').gsub(/<\/h3>[ \r]*\n/,'</h3>').gsub(/<\/h4>[ \r]*\n/,'</h4>').gsub(/<\/ol>[ \r]*\n/, '</ol>').gsub(/\n[ \r]*<\/ol>/, '</ol>').gsub(/<\/ul>[ \r]*\n/, '</ul>').gsub(/\n[ \r]*<\/ul>/, '</ul>').gsub(/\n[ \r]*<li>/, '<li>').gsub(/\n/, '<br/>')) %>
<% else %>
<%= raw((h m.content.gsub(/\\][ \r]*\n/,'\] ').gsub(/\$\$[ \r]*\n/,'$$ ')).gsub(/\n/, '<br>')) %>
<% end %>
<% if m.messagefiles.size > 0 %>
  <% if m.messagefiles.size == 1 %>
    <br/><br/><b>1 pièce jointe :</b><br/>
  <% else %>
    <br/><br/><b><%= m.messagefiles.size %> pièces jointes :</b><br/>
  <% end %>
  <% m.messagefiles.each do |f| %>
    <%= link_to f.file_file_name, download_messagefile_path(f) %><br/>
  <% end %>
<% end %>
</div>
</td></tr>

<% if (m.user == current_user.sk || (current_user.sk.admin && !m.user.admin) || current_user.sk.root) %>
  <tr><td colspan="2">
  <center>
    <% if @chapter.nil? %>
      <%= link_to "Modifier ce message", edit_subject_message_path(@subject, m) %>
      <% if current_user.sk.admin? %>
         | <%= link_to "Supprimer ce message", subject_message_path(@subject, m), method: :delete, data: { confirm: "Etes-vous sûr de vouloir supprimer ce message ?" }  %>
      <% end %>
    <% else %>
      <%= link_to "Modifier ce message", edit_chapter_subject_message_path(@chapter, @subject, m) %>
      <% if current_user.sk.admin? %>
         | <%= link_to "Supprimer ce message", chapter_subject_message_path(@chapter, @subject, m), method: :delete, data: { confirm: "Etes-vous sûr de vouloir supprimer ce message ?" }  %>
      <% end %>
    <% end %>
  </center>
  </td></tr>
<% end %>

</table>
<% end %>

<center><%= will_paginate @messages %></center>


<br/>
<center>
<% if @chapter.nil? %>
  <%= link_to "Répondre", new_subject_message_path(@subject), class: 'btn btn-large' %>
<% else %>
  <%= link_to "Répondre", new_chapter_subject_message_path(@chapter, @subject), class: 'btn btn-large' %>
<% end %>
</center>

<br/>
<center>

<% if @chapter.nil? %>
  <%= link_to "Retour au forum", subjects_path %>
<% else %>
  <%= link_to "Retour au forum", chapter_subjects_path(params[:chapter_id]) %>
<% end %>
</center>
<a name="bottom"></a>
