<a href="#ici" onClick="JavaScript: TAinsert('<b>','</b>','MathInput'); fakeupdate();"><%= image_tag "bold.jpg", :title => "Gras", :style=>"margin-left:5px;" %></a>
<a href="#ici" onClick="JavaScript: TAinsert('<i>','</i>','MathInput'); fakeupdate();"><%= image_tag "italics.jpg", :title => "Italique" %></a>
<a href="#ici" onClick="JavaScript: TAinsert('<u>','</u>','MathInput'); fakeupdate();"><%= image_tag "underlined.jpg", :title => "Souligné" %></a>
<a href="#ici" onClick="JavaScript: TAinsert('<h4>','</h4>','MathInput'); fakeupdate();"><%= image_tag "title.jpg", :title => "Sous-titre", :style=>"margin-left:15px;" %></a>
<a href="#ici" onClick="JavaScript: TAinsert('<hr>','','MathInput'); fakeupdate();"><%= image_tag "line.jpg", :title => "Séparateur horizontal" %></a>
<a href="#ici" onClick="JavaScript: TAinsert('<ul>\n<li>Point 1','</li>\n<li>Point 2</li>\n</ul>','MathInput'); fakeupdate();"><%= image_tag "list.jpg", :title => "Liste" %></a>
<a href="#ici" onClick="JavaScript: TAinsert('<ol>\n<li>Point 1','</li>\n<li>Point 2</li>\n</ol>','MathInput'); fakeupdate();"><%= image_tag "enumerate.jpg", :title => "Liste numérotée" %></a>
<a href="#ici" onClick="JavaScript: TAinsert('<evidence>\n','\n</evidence>','MathInput'); fakeupdate();"><%= image_tag "evidence.jpg", :title => "Mise en évidence", :style=>"margin-left:15px;" %></a>
<a href="#ici" onClick="JavaScript: TAinsert('<a target=\'blank\' href=\'http://www.exemple.com\'>','</a>','MathInput'); fakeupdate();"><%= image_tag "link.jpg", :title => "Lien" %></a>
<a href="#ici" onClick="JavaScript: TAinsert('<center><img src=\'/system/pictures/0/votreImage.jpg\' /></center>','','MathInput'); fakeupdate();"><%= image_tag "picture.jpg", :title => "Image", :style=>"margin-right:50px;" %></a>
<%= link_to "Mes images", pictures_path, :target => "_blank" %> - <%= link_to "Uploader une image", new_picture_path, :target => "_blank" %>
<label class="checkbox-inline" style="margin-left:30px;"><input type="checkbox" id="stop" name="stop" onclick="fakeupdate()" checked="checked" /> Activer la prévisualisation</label>
