<div class="smiley-content">

<div class="smiley">
<a href="#ici" onClick="JavaScript: Insert.insert('<b>','</b>','MathInput'); Preview.MyUpdate();"><%= image_tag "bold.jpg", :title => "Gras" %></a>
<a href="#ici" onClick="JavaScript: Insert.insert('<i>','</i>','MathInput'); Preview.MyUpdate();"><%= image_tag "italics.jpg", :title => "Italique" %></a>
<a href="#ici" onClick="JavaScript: Insert.insert('<u>','</u>','MathInput'); Preview.MyUpdate();"><%= image_tag "underlined.jpg", :title => "Souligné" %></a>
<a href="#ici" onClick="JavaScript: Insert.insert('<h4>','</h4>','MathInput'); Preview.MyUpdate();"><%= image_tag "title.jpg", :title => "Sous-titre", :style=>"margin-left:15px;" %></a>
<a href="#ici" onClick="JavaScript: Insert.insert('<hr>','','MathInput'); Preview.MyUpdate();"><%= image_tag "line.jpg", :title => "Séparateur horizontal" %></a>
<a href="#ici" onClick="JavaScript: Insert.insert('<ul>\n<li>Point 1','</li>\n<li>Point 2</li>\n</ul>','MathInput'); Preview.MyUpdate();"><%= image_tag "list.jpg", :title => "Liste" %></a>
<a href="#ici" onClick="JavaScript: Insert.insert('<ol>\n<li>Point 1','</li>\n<li>Point 2</li>\n</ol>','MathInput'); Preview.MyUpdate();"><%= image_tag "enumerate.jpg", :title => "Liste numérotée" %></a>
<a href="#ici" onClick="JavaScript: Insert.insert('<a target=\'blank\' href=\'http://www.exemple.com\'>','</a>','MathInput'); Preview.MyUpdate();"><%= image_tag "link.jpg", :title => "Lien" %></a>
<a href="#ici" onClick="JavaScript: Insert.insert('<center><img src=\'/system/pictures/0/votreImage.jpg\' /></center>','','MathInput'); Preview.MyUpdate();"><%= image_tag "picture.jpg", :title => "Image" %></a>
</div>

<div class="smiley">
<a href="#ici" onClick="JavaScript: Insert.insert('<result>Résultat<statement>\n','\n</result>','MathInput'); Preview.MyUpdate();">Résultat</a> -
<a href="#ici" onClick="JavaScript: Insert.insert('<proof>Démonstration<statement>\n','\n</proof>','MathInput'); Preview.MyUpdate();">Preuve</a> -
<a href="#ici" onClick="JavaScript: Insert.insert('<remark>Remarque<statement>\n','\n</remark>','MathInput'); Preview.MyUpdate();">Remarque</a> -
<a href="#ici" onClick="JavaScript: Insert.insert('<indice>','</indice>','MathInput'); Preview.MyUpdate();">Indice</a>
</div>

<div class="smiley">
<%= link_to "Mes images", pictures_path, :target => "_blank", :style=>"margin-left:0px;" %> - <%= link_to "Nouvelle image", new_picture_path, :target => "_blank", :style=>"margin-right:0px;" %>
</div>

<div class="smiley">
<label style="margin-left:5px; margin-right:5px; font-weight:normal;"><input type="checkbox" id="stop<%= @champ %>" name="stop" onclick="Preview.MyUpdate()" checked="checked" style="margin-right:5px;" /> Prévisualisation</label>
</div>

</div>
