<%= render 'shared/error_messages', object: f.object %>

<div class="mb-2">
  <%= f.label :title, :class => "form-label" %>
  <%= f.text_field :title, :class => "form-control", :style => "width:100%; max-width:400px;" %>
</div>

<div class="mb-2">
  <%= f.label :content, :for => "MathInput", :class => "form-label" %>
  <%= render 'shared/preview' %>
  <%= render 'shared/font' %>
  <%= f.text_area :content, :class => "form-control", :maxlength => "16000", :style => "height:250px;", :id => "MathInput", :oninput => "Preview.MyUpdate()" %>
  <script>initAndUpdatePreviewWhenPossible()</script>
</div>
