<%= render 'shared/error_messages', object: f.object %>

<div class="form-group">
  <%= f.label :titre %>
  <%= f.text_field :title, :class => "form-control", :style => "width:100%; max-width:400px;" %>
</div>

<div class="form-group">
  <%= f.label :contenu %>
  <div class="well" id="MathPreview" ></div>
  <div class="well" id="MathBuffer" style="visibility:hidden; position:absolute; top:0; left: 0"></div>
  <%= render 'theories/font' %>
  <%= f.text_area :content, :class => "form-control", :style => "height:250px; margin-top:5px;", :id=>"MathInput", :onkeyup => "fakeupdate()" %>
</div>
