<% if theory.online || (@signed_in && (current_user.sk.admin? || current_user.sk.creating_chapters.exists?(@chapter.id))) %>
  <h3><%= theory.title %></h3>
  <div>
  <%= raw(htmlise(theory.content).gsub(/\/latextest\//, '<div class="mb-2"><div class="card text-bg-ld-light-dark"><div class="card-body" id="MathPreview"></div><div class="card-body hidden-preview" id="MathBuffer"></div></div><textarea id="MathInput" class="form-control mt-2" style="height:120px;" onkeyup="PreviewSafe.Update()" placeholder="Rentrez ici le code $\LaTeX$ que vous souhaitez tester."></textarea></div><script>initAndUpdatePreviewSafeWhenPossible(true)</script>') )%>
  </div>

  <div class="noprint">
  <!-- Si administrateur ou hors-ligne (pour étudiant créateur) -->
  <% if !@chapter.online? || (@signed_in && current_user.sk.admin?) %>
    <p class="mt-3 text-center">
    <!-- Modifier/Supprimer -->
      <%= link_to "Modifier ce point théorique", edit_theory_path(theory) %> |
      <%= link_to "Supprimer ce point théorique", theory, method: :delete, data: { confirm: "Êtes-vous sûr de vouloir supprimer ce point théorique ?" } %>
    </p>
    
    <!-- Déplacer -->
    <% theory_before = @chapter.theories.where("position < ?", theory.position).order("position").last %>
    <% theory_after = @chapter.theories.where("position > ?", theory.position).order("position").first %>

    <% if !theory_before.nil? || !theory_after.nil? %>
      <p class="text-center">
      Déplacer ce point théorique vers le
      <%= link_to "haut", theory_order_path(theory, :new_position => theory_before.position), :method => :put if !theory_before.nil? %>
      <%= '-' if !theory_before.nil? && !theory_after.nil? %>
      <%= link_to "bas", theory_order_path(theory, :new_position => theory_after.position), :method => :put if !theory_after.nil? %>
      </p>
    <% end %>
    
    <!-- Mettre en ligne -->
    <% if !theory.online && @chapter.online %>
      <center>
      <%= button_to "Mettre en ligne", theory_put_online_path(theory), method: :put, class: 'btn btn-ld-light-dark', data: { confirm: "Êtes-vous sûr de vouloir rendre ce point théorique visible par les utilisateurs ?" } %>
      </center>
    <% end %>
  
  <!-- Si étudiant (connecté) -->
  <% elsif @signed_in %>
    <center>
      <% if current_user.sk.theories.exists?(id) %>
        <%= button_to "Marquer comme non lu", theory_unread_path(theory), method: :put, class: 'btn btn-ld-light-dark mt-3', :disabled => current_user.other %>
      <% else %>
        <%= button_to "Marquer comme lu", theory_read_path(theory), method: :put, class: 'btn btn-ld-light-dark mt-3', :disabled => current_user.other %>
      <% end %>
    </center>

    <hr class="bottom-help" />
    <p>Une question concernant ce point théorique ? N'hésitez pas à demander de l'aide sur le <%= link_to "forum", subjects_path(:q => @chapter.id), :target => "_blank" %> !</p>
  <% end %>

  </div>

<% end %>
