<% provide(:title, 'Modifier un point théorique') %>

<h1>
<span class="title-first">Théorie ></span>
<span class="title-second"><%= link_to @theory.chapter.section.name, @theory.chapter.section %> ></span>
<span class="title-third"><%= link_to @theory.chapter.name, chapter_path(@theory.chapter, :type => 1, :which => @theory.id) %> ></span>
Modifier un point théorique
</h1>

<%= form_for(@theory) do |f| %>
  <%= render 'form', f: f %>
  <%= f.submit "Éditer", class: "btn btn-lg btn-primary" %>
<% end %>

<script>
Preview.Init();
Preview.Update();
</script>
