<h1>Listing theories</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th>Chapter</th>
    <th>Order</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @theories.each do |theory| %>
  <tr>
    <td><%= theory.title %></td>
    <td><%= theory.content %></td>
    <td><%= theory.chapter_id %></td>
    <td><%= theory.order %></td>
    <td><%= link_to 'Show', theory %></td>
    <td><%= link_to 'Edit', edit_theory_path(theory) %></td>
    <td><%= link_to 'Destroy', theory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Theory', new_theory_path %>
