<% provide(:title, 'Pièces jointes') %>

<h1><%= title_1("Pièces jointes") %></h1>

<% total = ActiveStorage::Blob.sum(:byte_size) %>

<center>
<p class="fs-5">
<% if total < 1000000 %>
  Total : <b><%= (total/1000.0).round(1).to_s + " ko"%></b>
<% else %>
  Total : <b><%= (total/1000000.0).round(2).to_s + " Mo"%></b>
<% end %>
</p>
</center>

<center>
  <%= will_paginate @list, list_classes: %w(pagination justify-content-center d-none d-sm-flex), :renderer => WillPaginate::ActionView::BootstrapLinkRenderer, :inner_window => 2 %>
  <%= will_paginate @list, :class => "d-block d-sm-none mb-3", :renderer => WillPaginate::ActionView::LinkRenderer, :previous_label => "&larr; Préc.", :next_label => "Suiv. &rarr;", :inner_window => 1 %>
</center>

<table class="table table-bordered">
<tr class="table-ld-header"><th class="d-none d-md-table-cell">Date</th><th>Qui</th><th class="d-none d-lg-table-cell">Où</th><th class="d-none d-md-table-cell">Quoi</th><th><center>Taille</center></th><th><center></center></th></tr>

<!-- Affiche toutes les pièces jointes du site -->
<% @list.each do |f| %>

  <% about = f.myfiletable %>
  <% type = f.myfiletable_type %>
  <% date = f.file.blob.created_at %>
  <% name = f.file.filename.to_s %>
  <% size = f.file.blob.byte_size %>

  <!-- Si pas tchat : vert -->
  <% if type != "Tchatmessage" %>
    <tr class="table-ld-success">
  <% else %>
    <tr class="table-ld-danger">
  <% end %>

  <!-- Date -->
  <td class="d-none d-md-table-cell">
  <%= write_date(date) %>
  </td>

  <!-- Qui -->
  <td class="fw-bold">
  <% if type != "Contestcorrection" %>
    <% if about.nil? %>
      <!-- Happens in development mode when files are not uploaded correctly -->
      <span class="text-color-red">Erreur</span>
    <% else %>
      <% qui = about.user %>
      <%= raw(qui.linked_name) if !qui.nil? %>
    <% end %>
  <% else %>
    Organisateurs
  <% end %>
  </td>

  <!-- Où? Forum ou soumission? -->
  <td class="d-none d-lg-table-cell">
  <% if about.nil? %>
    <span class="text-color-red;">Erreur</span>
  <% elsif type == "Message" %>
    Forum
  <% elsif type == "Submission" && about.draft? %>
    Brouillon
  <% elsif type == "Submission" || type == "Correction" %>
    Soumission
  <% elsif type == "Tchatmessage" %>
    Message personnel
  <% else %>
    Solution
  <% end %>
  </td>

  <!-- Télécharger -->
  <td class="d-none d-md-table-cell">
  <% truncated = name.size > 30 ? [name[0,20],name[-7,7]].join("...") : name %>
  <%= link_to truncated, rails_blob_path(f.file, disposition: 'attachment') %>
  </td>

  <!-- Taille -->
  <td class="text-center">
  <%= (size / 1.kilobyte).round(1) %> ko
  </td>

  <!-- Voir dans le contexte -->
  <td class="text-center">
  <% if !about.nil? && type != "Tchatmessage" %>
    <%= link_to "Voir", f %>
  <% else %>
    -
  <% end %>
  </td>

  </tr>

<% end %>

</table>
