<% provide(:title, 'Pièces jointes') %>

<h1>
Pièces jointes
</h1>

<% total = 0 %>

<table class="table table-bordered">
<tr><th class="hidden-xs">Date</th><th>Qui</th><th class="hidden-xs">Où</th><th class="hidden-xs">Quoi</th><th><center>Taille</center></th><th><center></center></th></tr>

<!-- Affiche toutes les pièces jointes du site -->
<% @list.each do |l| %>

  <!-- Si pièce jointe active : vert -->
  <% if l[1] %>
    <% total = total + l[2].file_file_size %>
    <tr style="background-color:#DDFFDD;">

  <!-- Si pièce jointe désactivée : rouge -->
  <% else %>
    <tr style="background-color:#FFDDDD;">
  <% end %>

  <!-- Date -->
  <td class="hidden-xs">
  <%= Message.write_date(l[0].in_time_zone) %>
  </td>

  <!-- Qui -->
  <td style="font-weight:bold;">

  <% if l[1] %>
    <% about = l[2].myfiletable %>
    <% type = l[2].myfiletable_type %>
  <% else %>
    <% about = l[2].fakefiletable %>
    <% type = l[2].fakefiletable_type %>
  <% end %>
  
  <% qui = about.user %>

  <%= raw(qui.linked_name) %>
  </td>

  <!-- Où? Forum ou soumission? -->
  <td class="hidden-xs">
  <% if type == "Subject" || type == "Message" %>
    Forum
  <% elsif type == "Submission" && about.status == -1 %>
    Brouillon
  <% elsif type == "Submission" || type == "Correction" %>
    Soumission
  <% else %>
    Message personnel
  <% end %>
  </td>

  <!-- Télécharger -->
  <td class="hidden-xs">
  <% truncated = l[2].file_file_name.size > 30 ? [l[2].file_file_name[0,20],l[2].file_file_name[-7,7]].join("...") : l[2].file_file_name %>
  <% if l[1] %>
    <%= link_to truncated, download_myfile_path(l[2]) %>
  <% else %>
    <span style="color:#0000BB;"><%= truncated %></span>
  <% end %>
  </td>

  <!-- Taille -->
  <td>
  <center>
  <% if l[1] %>
    <%= (l[2].file_file_size / 1.kilobyte).round(1) %> ko
    <%= link_to "(R)", edit_myfile_path(l[2]) %>
  <% else %>
    <span style="color:grey;">(<%= (l[2].file_file_size / 1.kilobyte).round(1) %> ko)</span>
  <% end %>
  </center>
  </td>

  <!-- Voir dans le contexte -->
  <td>
  <center>
  <% if type == "Submission" %>
    <%= link_to "Voir", problem_path(about.problem, :sub => about) %>
  <% elsif type == "Correction" %>
    <%= link_to "Voir", problem_path(about.submission.problem, :sub => about.submission) %>
  <% elsif type == "Subject" %>
    <%= link_to "Voir", about %>
  <% elsif type == "Message" %>
    <% tot = about.subject.messages.where("id <= ?", about.id).count %>
    <% page = [0,((tot-1)/10).floor].max + 1 %>

    <%= link_to "Voir", subject_path(about.subject, :anchor => about.id, :page => page) %>
  <% elsif type == "Tchatmessage" && l[1] %>
    <%= link_to 'Supprimer', myfile_fake_delete_path(l[2]), data: { confirm: "Vous vous apprêtez à supprimer le contenu de cette pièce jointe. Êtes-vous sûr de vouloir continuer ?"}, :style => "color:red;" %>
  <% else %>
    -
  <% end %>
  </center>
  </td>

  </tr>

<% end %>

</table>
