<% colors = ["#FFFFBB", "#FFBBBB", "#FFDD77", "#A0FFA0", "#AAF5FF", "#D8D8FF"] %>
<% mois = ["janvier", "février", "mars", "avril", "mai", "juin", "juillet", "août", "septembre", "octobre", "novembre", "décembre"] %>

<% abreviation = ["Comb.", "Géom.", "Th. Nb.", "Alg.", "Eq. Fct.", "Inég."] %>

<% provide(:title, 'Problèmes récemment résolus') %>
<h1>Problèmes récemment résolus</h1>

Les tableaux suivants prennent en compte les problèmes résolus lors des deux dernières semaines.

<!-- Style pour la barre de défilement dans le tableau -->
<style type="text/css">

html>body thead.fixed tr {
	display: block;
}

html>body tbody.scroll {
	display: block;
	max-height: 150px;
	overflow-y: scroll;
	width: 100%;
}
</style>

<% allsec = Section.order(:id).where(:fondation => false).to_a %>
<% twoweeksago = Date.today - 14 %>
<% table = Array.new %>
<% (1..5).each do |level| %>
  <% table[level] = Array.new %>
<% end %>

<% enough_points = false %>
<% if signed_in? && (current_user.sk.admin? || current_user.sk.rating >= 200) %>
  <% enough_points = true %>
<% end %>

<% if !signed_in? || !current_user.sk.admin %>
  <% debloque = Array.new %>
  <% Chapter.all.to_a.each do |c| %>
    <% debloque[c.id] = false %>
  <% end %>

  <% if signed_in? %>
    <% current_user.sk.chapters.each do |c| %>
      <% debloque[c.id] = true %>
    <% end %>
  <% end %>
<% end %>

<% actifs = Array.new %>
<% User.all.each do |u| %>
  <% id = u.id %>
  <% actifs[id] = Array.new %>
  <% actifs[id][0] = 0 %>
  <% actifs[id][1] = 0 %>
  <% actifs[id][2] = id %>
<% end %>

<% Solvedproblem.where("truetime > ?", twoweeksago).order("truetime DESC").each do |s| %>
  <% problem = s.problem %>
  <% user_id = s.user_id %>
  <% level = problem.level %>
  <% actifs[user_id][0] = actifs[user_id][0] + problem.value %>
  <% actifs[user_id][1] = actifs[user_id][1] + 1 %>
  <% peutvoir = enough_points %>
  <% t = problem.virtualtest_id %>
  <% if t == 0 && (!signed_in? || !current_user.sk.admin?) %>
    <% problem.chapters.each do |c| %>
      <% peutvoir = false if !debloque[c.id] %>
    <% end %>
  <% end %>
  <% if t != 0 && (!signed_in? || !current_user.sk.admin?) %>
    <% peutvoir = false if (!signed_in? || current_user.sk.status(t) <= 0) %>
  <% end %>
  <% table[level].push({:time => s.truetime, :user_id => user_id, :s_id => s.submission_id, :p_id => problem.id, :section => problem.section_id, :number => problem.number, :peutvoir => peutvoir}) %>
<% end %>

<div class="row">

<div class="col-lg-6 col-sm-12 col-xs-12">
  <h3>Les plus actifs</h3>
  <% realactifs = Array.new %>
  <% actifs.each do |a| %>
    <% if !a.nil? && a[0] != 0 %>
      <% realactifs.push({:pt => a[0], :pb => a[1], :id => a[2]}) %>
    <% end %>
  <% end %>
  <% rank = 1 %>
  <% previouspoint = -1 %>
  <table class="table table-bordered" style="width:386px;">
  <thead class="fixed">
  <tr><th style="width:40px;"></th><th style="width:200px;">Qui</th><th style="width:50px;"><center>Pb.</center></th><th style="width:96px;"><center>Points</center></th></tr>
  <tbody class="scroll">
  <% realactifs.sort_by { |k| -1000*k[:pt]-k[:pb] }.each do |a| %>
    <tr style="background-color:<%= "#F1F1F1" if rank % 2 == 1 %> <%= "white" if rank % 2 == 0 %>;">
    <% user = User.find(a[:id]) %>
    <td style="width:40px;"><center><%= "#{ rank }." if a[:pt] + 10000*a[:pb] != previouspoint %></center></td>
    <% previouspoint = a[:pt] + 10000*a[:pb] %>
    <% rank = rank+1 %>
    <td style="width:200px;"><b> <%= link_to user.name, user, {:style => "color:#{user.level[:color]}" } %> </b></td>
    <td style="width:50px;"><center><%= a[:pb] %></center></td>
    <td style="width:80px;"><center>+ <%= a[:pt] %></center></td>
  <% end %>
  </tbody>
  </table>
</div>

<% (1..5).each do |level| %>
  <div class="col-lg-6 col-sm-12 col-xs-12">
  <h3>Niveau <%= level %></h3>
  <table class="table table-bordered" style="width:496px;">
  <thead class="fixed">
  <tr><th style="width:150px;">Date</th><th style="width:50px;"><center>Heure</center></th><th style="width:200px;">Qui</th><th style="width:96px;"><center>Problème</center></th></tr>
  <tbody class="scroll">
  <% table[level].each do |t| %>
    <tr style="background-color: <%= colors[t[:section]-1] %>;">
    <!-- Date -->
    <% date = t[:time].in_time_zone %>
    <td style="width:150px;"><%= date.day %> <%= mois[date.month-1] %> <%= date.year %></td>

    <!-- Heure -->
    <td style="width:50px;"><center> <%= date.hour %>h<%= "0" if date.min < 10 %><%= date.min %></center></td>

    <!-- Qui -->
    <% user = User.find(t[:user_id]) %>
    <td style="width:200px;"><b> <%= link_to user.name, user, {:style => "color:#{user.level[:color]}" } %> </b></td>

    <!-- Problème -->
    <td style="width:80px;">
    <center>
    <% if t[:peutvoir] %>
      <%= link_to "##{t[:number]}", problem_path(t[:p_id], :sub => t[:s_id]) %>
    <% else %>
      #<%= t[:number] %>
    <% end %>
    </center>
    </td>
    </tr>
  <% end %>
  </tbody>
  </table>
  </div>
  <% if level % 2 == 1 %>
    </div>
    <div class="row">
  <% end %>
<% end %>

</div>
