<% provide(:title, 'Problèmes récemment résolus') %>

<h1><%= title_1("Résolutions récentes") %></h1>

<p>Le tableau suivant reprend toutes les solutions ayant été <b>corrigées</b> les sept derniers jours. Elles sont classées selon leur date de correction, indiquée au début de chaque ligne.</p>

<% oneweekago = Date.today - 7.days %>

<% non_accessible_problems_set = non_accessible_problems_ids(current_user) %>

<% prev_day = Date.today %>

<table class="table">
<% Solvedproblem.joins(:problem).joins(problem: :section).joins("LEFT JOIN followings ON followings.submission_id = solvedproblems.submission_id").select("solvedproblems.user_id, solvedproblems.problem_id, solvedproblems.submission_id, problems.number AS problem_number, problems.level, solvedproblems.correction_time, sections.short_abbreviation AS section_short_abbreviation, followings.user_id AS corrector_id").includes(:user, submission: {followings: :user}).where(followings: {kind: :first_corrector}).where("correction_time > ?", oneweekago).order("correction_time DESC").each do |s| %>
  <% border_class = "" %>
  <% if s.correction_time.in_time_zone.to_date != prev_day %>
    <% prev_day = s.correction_time.in_time_zone.to_date %>
    <% border_class = "thick_border_top" %>
  <% end %>
  <tr class="<%= border_class %>">
  <td><%= write_date_only_small(s.correction_time) %></td>
  <td class="d-none d-md-table-cell"><%= write_hour(s.correction_time) %></td>
  <td><%= raw(s.user.linked_name) %></td>
  <td class="d-none d-md-table-cell"><%= s.section_short_abbreviation %></td>
  <td class="d-none d-md-table-cell">Niv. <%= s.level %></td>
  <td>
  <% if non_accessible_problems_set != "all" && !non_accessible_problems_set.include?(s.problem_id) %>
    <span class="d-none d-lg-inline"><%= link_to "Problème ##{s.problem_number}", problem_path(s.problem_id, :sub => s.submission_id) %></span>
    <span class="d-inline d-lg-none"><%= link_to "##{s.problem_number}", problem_path(s.problem_id, :sub => s.submission_id) %></span>
  <% else %>
    <span class="d-none d-md-inline">Problème </span>#<%= s.problem_number %>
  <% end %>
  </td>
  <% if signed_in? %>
    <td class="d-none d-md-table-cell">
      <% s.submission.followings.each do |f| %>
        <% if f.first_corrector? %>
          <%= raw(f.user.linked_name) %>
        <% end %>
      <% end %>
    </td>
  <% end %>
  </tr>
<% end %>
</table>
