<% provide(:title, 'Problèmes récemment résolus') %>
<h1>Résolutions récentes</h1>

Le tableau suivant reprend toutes les solutions ayant été <b>corrigées</b> les sept derniers jours. Elles sont classées selon leur date de correction, indiquée au début de chaque ligne.<br/><br/>

<!-- Style pour la barre de défilement dans le tableau -->
<style type="text/css">

html>body thead.fixed tr {
	display: block;
}

html>body tbody.scroll {
	display: block;
	max-height: 150px;
	overflow-y: scroll;
	width: 100%;
}
</style>

<% oneweekago = Date.today - 7 %>

<% allsec = Section.order(:id).where(:fondation => false).to_a %>
<% table = Array.new %>
<% (1..5).each do |level| %>
  <% table[level] = Array.new %>
<% end %>

<% enough_points = has_enough_points %>

<% if !@signed_in || !current_user.sk.admin %>
  <% debloque = Array.new %>
  <% Chapter.all.to_a.each do |c| %>
    <% debloque[c.id] = false %>
  <% end %>

  <% if @signed_in %>
    <% current_user.sk.chapters.each do |c| %>
      <% debloque[c.id] = true %>
    <% end %>
  <% end %>
<% end %>

<% allsec_name = Array.new %>
<% Section.all.each do |s| %>
  <% allsec_name[s.id] = s.name %>
<% end %>

<table class="table">
<% Solvedproblem.includes(problem: :chapters).includes(:user).where("resolutiontime > ?", oneweekago).order("resolutiontime DESC").each do |s| %>
  <% p = s.problem %>
  <tr>
  <!-- Date -->
  <td><%= write_date_only_small(s.resolutiontime) %></td>
  
  <!-- Heure -->
  <td class="hidden-xs"><%= write_hour(s.resolutiontime) %></td>
  
  <!-- Qui -->
  <td><%= raw(s.user.linked_name) %></td>
  
  <!-- Section -->
  <td class="hidden-xs"><%= allsec_name[p.section_id] %></td>
  
  <!-- Niveau -->
  <td class="hidden-xs">Niveau <%= p.level %></td>
  
  <!-- Problème -->
  <% peutvoir = enough_points %>
  <% t = p.virtualtest_id %>
  <% if t == 0 && (!@signed_in || !current_user.sk.admin?) %>
    <% p.chapters.each do |c| %>
      <% peutvoir = false if !debloque[c.id] %>
    <% end %>
  <% end %>
  <% if t != 0 && (!@signed_in || !current_user.sk.admin?) %>
    <% peutvoir = false if (!@signed_in || current_user.sk.status(t) <= 0) %>
  <% end %>
  <td>
  <% if peutvoir %>
    <span class="hidden-xs"><%= link_to "Problème ##{p.number}", problem_path(p, :sub => s.submission_id) %></span>
    <span class="visible-xs"><%= link_to "##{p.number}", problem_path(p, :sub => s.submission_id) %></span>
  <% else %>
    <span class="hidden-xs">Problème </span>#<%= p.number %>
  <% end %>
  </td>
  
  </tr>
<% end %>
</table>
