<% provide(:title, 'Problèmes récemment résolus') %>

<h1><%= title_1("Résolutions récentes") %></h1>

Le tableau suivant reprend toutes les solutions ayant été <b>corrigées</b> les sept derniers jours. Elles sont classées selon leur date de correction, indiquée au début de chaque ligne.<br/><br/>

<!-- Style pour la barre de défilement dans le tableau -->
<style type="text/css">

html>body thead.fixed tr {
	display: block;
}

html>body tbody.scroll {
	display: block;
	max-height: 150px;
	overflow-y: scroll;
	width: 100%;
}
</style>

<% oneweekago = Date.today - 7 %>

<% if !@signed_in || !current_user.sk.admin? %>
  <% problem_status = Array.new %>
  <% accessible_problems(["id"]).each do |a| %>
    <% problem_status[a.id] = 1 %>
  <% end %>
<% end %>

<% prev_day = Date.today %>

<table class="table">
<% Solvedproblem.joins(:problem).joins(problem: :section).joins("LEFT JOIN followings ON followings.submission_id = solvedproblems.submission_id").select("solvedproblems.user_id, solvedproblems.problem_id, solvedproblems.submission_id, problems.number AS problem_number, problems.level, solvedproblems.correction_time, sections.short_abbreviation AS section_short_abbreviation, followings.user_id AS corrector_id").includes(:user, submission: {followings: :user}).where("correction_time > ? AND followings.kind = 1", oneweekago).order("correction_time DESC").each do |s| %>

  <% border_style = "" %>
  <% if s.correction_time.in_time_zone.to_date != prev_day %>
    <% prev_day = s.correction_time.in_time_zone.to_date %>
    <% border_style = "border-top:1px solid black;" %>
  <% end %>

  <tr>
  <!-- Date -->
  <td style="<%= border_style %>"><%= write_date_only_small(s.correction_time) %></td>
  
  <!-- Heure -->
  <td style="<%= border_style %>" class="hidden-xs"><%= write_hour(s.correction_time) %></td>
  
  <!-- Qui -->
  <td style="<%= border_style %>"><%= raw(s.user.linked_name) %></td>
  
  <!-- Section -->
  <td style="<%= border_style %>" class="hidden-xs"><%= s.section_short_abbreviation %></td>
  
  <!-- Niveau -->
  <td style="<%= border_style %>" class="hidden-xs">Niv. <%= s.level %></td>
  
  <!-- Problème -->
  <td style="<%= border_style %>">
  <% if (@signed_in && current_user.sk.admin?) || problem_status[s.problem_id] == 1 %>
    <span class="hidden-xs hidden-sm"><%= link_to "Problème ##{s.problem_number}", problem_path(s.problem_id, :sub => s.submission_id) %></span>
    <span class="visible-xs visible-sm"><%= link_to "##{s.problem_number}", problem_path(s.problem_id, :sub => s.submission_id) %></span>
  <% else %>
    <span class="hidden-xs">Problème </span>#<%= s.problem_number %>
  <% end %>
  </td>
  
  <% if @signed_in %>
    <!-- Correcteur -->
    <td style="<%= border_style %>" class="hidden-xs">
      <% s.submission.followings.each do |f| %>
        <% if f.kind == 1 %>
          <%= raw(f.user.linked_name) %>
        <% end %>
      <% end %>
    </td>
  <% end %>
  
  </tr>
<% end %>
</table>
