<% provide(:title, 'Problèmes récemment résolus') %>

<h1><%= title_1("Résolutions récentes") %></h1>

<p class="text-center pt-1">
  Solutions corrigées le :
  <% if @date < @max_date %>
    <%= link_to write_date_only_small(@date + 1.day), solvedproblems_path(:date => (@date + 1.day).to_s) %> - 
  <% end %>
  <b><%= write_date_only_small(@date) %></b>
  <% if @date > @min_date %>
    - <%= link_to write_date_only_small(@date - 1.day), solvedproblems_path(:date => (@date - 1.day).to_s) %>
  <% end %>
</p>

<% non_accessible_problems_set = non_accessible_problems_ids(current_user) %>

<% if @solvedproblems.size > 0 %>
  <table class="table">
  <% @solvedproblems.each do |s| %>
    <tr style="border-top-width:1px;">
    <td><%= write_hour(s.correction_time) %></td>
    <td><%= s.user.linked_name %></td>
    <td class="d-none d-md-table-cell"><%= s.section_short_abbreviation %></td>
    <td class="d-none d-md-table-cell">Niv. <%= s.level %></td>
    <td>
    <% if non_accessible_problems_set != "all" && !non_accessible_problems_set.include?(s.problem_id) %>
      <span class="d-none d-lg-inline"><%= link_to "Problème ##{s.problem_number}", problem_submission_path(s.problem_id, s.submission_id) %></span>
      <span class="d-inline d-lg-none"><%= link_to "##{s.problem_number}", problem_submission_path(s.problem_id, s.submission_id) %></span>
    <% else %>
      <span class="d-none d-md-inline">Problème </span>#<%= s.problem_number %>
    <% end %>
    </td>
    <% if signed_in? %>
      <td class="d-none d-md-table-cell">
        <% s.submission.followings.each do |f| %>
          <% if f.first_corrector? %>
            <%= f.user.linked_name %>
          <% end %>
       <% end %>
      </td>
    <% end %>
    </tr>
  <% end %>
  </table>
<% else %>
  <p class="text-center fst-italic">
    Aucune solution n'a <%= "encore" if @date == @max_date %> été corrigée le <%= write_date_only(@date) %>.
  </p>
<% end %>
