<% provide(:title, 'Problèmes récemment résolus') %>

<h1><%= title_1("Résolutions récentes") %></h1>

Le tableau suivant reprend toutes les solutions ayant été <b>corrigées</b> les sept derniers jours. Elles sont classées selon leur date de correction, indiquée au début de chaque ligne.<br/><br/>

<!-- Style pour la barre de défilement dans le tableau -->
<style type="text/css">

html>body thead.fixed tr {
	display: block;
}

html>body tbody.scroll {
	display: block;
	max-height: 150px;
	overflow-y: scroll;
	width: 100%;
}
</style>

<% oneweekago = Date.today - 7 %>

<% allsec_name = Array.new %>
<% Section.all.each do |s| %>
  <% allsec_name[s.id] = s.name %>
<% end %>

<% if !@signed_in || !current_user.sk.admin? %>
  <% problem_status = Array.new %>
  <% accessible_problems(["id"]).each do |a| %>
    <% problem_status[a.id] = 1 %>
  <% end %>
<% end %>

<table class="table">
<% Solvedproblem.joins(:problem).select("solvedproblems.user_id, solvedproblems.problem_id, solvedproblems.submission_id, problems.number AS problem_number, problems.section_id, problems.level, solvedproblems.resolutiontime").includes(:user).where("resolutiontime > ?", oneweekago).order("resolutiontime DESC").each do |s| %>
  <tr>
  <!-- Date -->
  <td><%= write_date_only_small(s.resolutiontime) %></td>
  
  <!-- Heure -->
  <td class="hidden-xs"><%= write_hour(s.resolutiontime) %></td>
  
  <!-- Qui -->
  <td><%= raw(s.user.linked_name) %></td>
  
  <!-- Section -->
  <td class="hidden-xs"><%= allsec_name[s.section_id] %></td>
  
  <!-- Niveau -->
  <td class="hidden-xs">Niveau <%= s.level %></td>
  
  <!-- Problème -->
  <td>
  <% if (@signed_in && current_user.sk.admin?) || problem_status[s.problem_id] == 1 %>
    <span class="hidden-xs"><%= link_to "Problème ##{s.problem_number}", problem_path(s.problem_id, :sub => s.submission_id) %></span>
    <span class="visible-xs"><%= link_to "##{s.problem_number}", problem_path(s.problem_id, :sub => s.submission_id) %></span>
  <% else %>
    <span class="hidden-xs">Problème </span>#<%= s.problem_number %>
  <% end %>
  </td>
  
  </tr>
<% end %>
</table>
