<% provide(:title, 'Vos images') %>

<% show_all = (current_user.root? && params.has_key?(:show_all)) %>
<% title = show_all ? "Toutes les images" : "Vos images" %>
<h1>
<%= title_1(title) %>
<% if current_user.root? %>
  <span class="h4">
  <% if !show_all %>
    - <%= link_to "Tout voir", pictures_path(:show_all => 1) %>
  <% else %>
    - <%= link_to "Mes images seulement", pictures_path %>
  <% end %>
  </span>
<% end %>
</h1>

<p>Pour récupérer l'url d'une image ou la supprimer, cliquez dessus.</p>
<div class="column">

<% pics = (show_all ? Picture.all.order("id DESC") : current_user.pictures.order("id DESC")) %>

<% i = 0 %>
<% pics.each do |p| %>
  <% if i % 4 == 0 %>
    <div class="grid" style="--bs-columns:12;">
  <% end %>

  <div class="g-col-6 g-col-md-4 g-col-lg-3">
  <%= link_to image_tag(p.image, :class => "mb-2", :style => "width:100%;"), p, target: "_blank" %>
  <p class="text-center">
  <% if show_all %>
    <%= p.user.linked_name %><br/>
  <% end %>
  </p>
  </div>

  <% if i % 4 == 3 %>
    </div>
  <% end %>

  <% i = i + 1 %>
<% end %>
</div>

<center><%= button_to "Uploader une nouvelle image", new_picture_path, method: :get, class: 'btn btn-lg btn-ld-light-dark' %></center>
