<% provide(:title, 'Uploader une image') %>

<h1><%= title_2((link_to "Vos images", pictures_path), "Uploader une nouvelle image") %></h1>

<br/>
Votre image doit respecter les conditions suivantes :
<br/><br/>

<ul>
<li>Faire moins de 1 Mo</li>
<li>Être de type : gif, png, bmp, ou jp(e)g</li>
<li>Être jolie :-)</li>
</ul>
<br/>

<%= form_for @pic, :url => pictures_path, :html => { :multipart => true } do |form| %>	
  <%= render 'shared/error_messages', object: form.object %>
  <%= form.hidden_field :user_id, value: current_user.sk.id %>
  <%= form.label "Choisissez votre image :" %>
  <%= form.file_field :image %>
  <br/>
  <%= form.submit "Uploader", class: "btn btn-primary" %>
<% end %>
