<!-- Prérequis -->
<h3>Prérequis</h3>
<% if @chapter.prerequisites.count == 0 %>
  <p>Aucun prérequis</p><br/>
<% else %>
  <ul>
    <% @chapter.prerequisites.order(:level).each do |prerequisite| %>
      <li><%= link_to prerequisite.name, prerequisite %></li>
    <% end %>
  </ul>
<% end %>

<!-- Résumé -->
<h3>Résumé</h3>
<p><%= raw(htmlise(@chapter.description)) %></p>
<br/>

<!-- Toutes les théories -->
<% listex = @chapter.theories.order(:position) %>
<% i = 1 %>
<% listex.each do |f| %>
  <% if f.online %>
    <h3><%= i %>. <%= f.title %></h3>
    <div>
      <% if i <= 2 %>
      <%= raw(htmlise(f.content).gsub(/\/latextest\//, '<div class="form-group"><div class="well" id="MathPreview"></div> <div class="well hidden-preview" id="MathBuffer"></div> <textarea id="MathInput" class="form-control" style="height:120px; margin-top:5px;" onkeyup="PreviewSafe.Update()" placeholder="Rentrez ici le code $\LaTeX$ que vous souhaitez tester."></textarea></div><script> PreviewSafe.Init(); PreviewSafe.Update(); </script>')) %>
      <% else %>
      <%= raw(htmlise(f.content).gsub(/\/latextest\//, '<center><i>Voir plus haut.</i></center>')) %>
      <% end %>
    </div><br/>
    <% i = i+1 %>
  <% end %>
<% end %>

<% if !@ss || !current_user.sk.admin? %>
  <!-- Marquer comme lu -->
  <center><%= button_to "Marquer toute la théorie comme lue", chapter_read_path(@chapter), method: :get, class: 'btn btn-default btn-grey', :disabled => (!@ss || current_user.other) %></center>
  
  <hr style="border-top:1px dashed lightgray;" />
  Des questions ? N'hésitez pas à demander de l'aide sur le <%= link_to "forum", subjects_path(:q => @chapter.id) %> !
<% end %>
