<h3>Prérequis</h3>
<% if @chapter.prerequisites.empty? %>
  <p>Aucun prérequis</p>
<% else %>
  <ul>
    <% @chapter.prerequisites.order(:level).each do |prerequisite| %>
      <li><%= link_to prerequisite.name, prerequisite %></li>
    <% end %>
  </ul>
<% end %>
<br/>

<h3>Introduction</h3>
<div>
  <%= raw(@chapter.description.gsub(/\$\$[ \r]*\n/,'$$ ').gsub(/<\/ol>[ \r]*\n/, '</ol>').gsub(/\n[ \r]*<\/ol>/, '</ol>').gsub(/<\/ul>[ \r]*\n/, '</ul>').gsub(/\n[ \r]*<\/ul>/, '</ul>').gsub(/\n[ \r]*<li>/, '<li>').gsub(/\n/, '<br/>')) %>

</div><br/>

<% listex = @chapter.theories.order(:position) %>
<% i = 1 %>
<% listex.each do |f| %>
  <% if f.online %>
    <h3><%= i %>. <%= f.title %></h3>
    <div>
    <%= raw(f.content.gsub(/<hr>[ \r]*\n/,'<hr>').gsub(/\\][ \r]*\n/,'\] ').gsub(/\$\$[ \r]*\n/,'$$ ').gsub(/<\/h4>[ \r]*\n/,'</h4>').gsub(/<\/ol>[ \r]*\n/, '</ol>').gsub(/\n[ \r]*<\/ol>/, '</ol>').gsub(/<\/ul>[ \r]*\n/, '</ul>').gsub(/\n[ \r]*<\/ul>/, '</ul>').gsub(/\n[ \r]*<li>/, '<li>').gsub(/<evidence>[ \r]*\n/, '<evidence>').gsub(/<\/evidence>[ \r]*\n/, '</evidence>').gsub(/<evidence>/, '<div class="evidence">').gsub(/<\/evidence>/, '</div>').gsub(/\n/, '<br/>'))%>
    </div><br/>
    <% i = i+1 %>
  <% end %>
<% end %>

<br/>

<br/><center><%= button_to "Exporter en .tex (version beta)", chapter_export_path(@chapter), class: "btn-primary" %></center>

<% if !signed_in? || !current_user.sk.admin? %>

<hr>
Des questions? N'hésitez pas à demander de l'aide sur le <%= link_to "forum", subjects_path(:q => @chapter.id) %> dédié à ce chapitre!<br/><br/>

<% end %>
