<!-- Prérequis -->
<h3>Prérequis</h3>
<% if @chapter.prerequisites.count == 0 %>
  <p>Aucun prérequis.</p>
<% else %>
  <ul>
    <% @chapter.prerequisites.order(:level).each do |prerequisite| %>
      <li><%= link_to prerequisite.name, prerequisite %></li>
    <% end %>
  </ul>
<% end %>

<!-- Résumé -->
<h3>Résumé</h3>
<p><%= raw(htmlise(@chapter.description)) %></p>

<!-- Auteur(s) et date de publication -->
<% author_ok = (!@chapter.author.nil? && @chapter.author.size != 0) %>
<% publication_ok = !@chapter.publication_date.nil? %>
<% if author_ok || publication_ok %>
  <br/>Ce chapitre a été
  <% if author_ok %>
    écrit par <b><%= @chapter.author %></b><%= "." if !publication_ok %><%= " et " if publication_ok %>
  <% end %>
  <% if publication_ok %>
    mis en ligne le <b><%= write_date_only(@chapter.publication_date) %></b>.
  <% end %>
<% end %>

<!-- Toutes les théories -->
<% listex = @chapter.theories.order(:position) %>
<% i = 1 %>
<% listex.each do |f| %>
  <% if f.online || !@chapter.online %>
    <h3><%= i %>. <%= f.title %></h3>
    <div>
      <% if i <= 2 %>
      <%= raw(htmlise(f.content).gsub(/\/latextest\//, '<div class="form-group"><div class="well" id="MathPreview"></div> <div class="well hidden-preview" id="MathBuffer"></div> <textarea id="MathInput" class="form-control" style="height:120px; margin-top:5px;" onkeyup="PreviewSafe.Update()" placeholder="Rentrez ici le code $\LaTeX$ que vous souhaitez tester."></textarea></div><script> PreviewSafe.Init(); PreviewSafe.Update(); </script>')) %>
      <% else %>
      <%= raw(htmlise(f.content).gsub(/\/latextest\//, '<center><i>Voir plus haut.</i></center>')) %>
      <% end %>
    </div>
    <% i = i+1 %>
  <% end %>
<% end %>

<% if @chapter.online && @signed_in && !current_user.sk.admin? %>
  <!-- Marquer comme lu -->
  <center><%= button_to "Marquer toute la théorie comme lue", chapter_read_path(@chapter), :method => :put, class: 'btn btn-default btn-grey', :disabled => (!@signed_in || current_user.other) %></center>
  
  <hr style="border-top:1px dashed lightgray;" />
  Des questions ? N'hésitez pas à demander de l'aide sur le <%= link_to "forum", subjects_path(:q => @chapter.id) %> !
<% end %>
