<!-- Prérequis, résumé, auteurs -->
<%= render 'intro' %>

<!-- Toutes les théories -->
<% i = 1 %>
<% numLatexTest = 0 %>
<% @chapter.theories.order(:position).each do |t| %>
  <% if t.online || !@chapter.online %>
    <h3 class="mt-4"><%= i %>. <%= t.title %></h3>
    <div>
      <% numLatexTest += 1 if t.content.include? "latextest" %>
      <% if numLatexTest <= 1 %>
        <%= raw(htmlise(t.content).gsub(/\/latextest\//, '<div class="mb-2"><div class="card text-bg-ld-light-dark"><div class="card-body" id="MathPreview"></div><div class="card-body hidden-preview" id="MathBuffer"></div></div><textarea id="MathInput" class="form-control mt-2" style="height:120px;" oninput="PreviewSafe.Update()" placeholder="Rentrez ici le code $\LaTeX$ que vous souhaitez tester."></textarea></div><script>initAndUpdatePreviewSafeWhenPossible(true)</script>')) %>
      <% else %>
        <%= raw(htmlise(t.content).gsub(/\/latextest\//, '<center><i>Voir plus haut.</i></center>')) %>
      <% end %>
    </div>
    <% i = i+1 %>
  <% end %>
<% end %>

<% if @chapter.online && @signed_in && !current_user.sk.admin? %>
  <!-- Marquer comme lu -->
  <center><%= button_to "Marquer toute la théorie comme lue", chapter_read_path(@chapter), :method => :put, class: 'btn btn-ld-light-dark mt-3', :disabled => (!@signed_in || current_user.other) %></center>
  
  <hr class="bottom-help" />
  <p>Des questions ? N'hésitez pas à demander de l'aide sur le <%= link_to "forum", subjects_path(:q => @chapter.id) %> !</p>
<% end %>
