<!-- Prérequis -->
<h3>Prérequis</h3>
<% if @chapter.prerequisites.count == 0 %>
  <p>Aucun prérequis</p>
<% else %>
  <ul>
    <% @chapter.prerequisites.order(:level).each do |prerequisite| %>
      <li><%= link_to prerequisite.name, prerequisite %></li>
    <% end %>
  </ul>
<% end %>

<br/>
<!-- Introduction -->
<h3>Introduction</h3>
<div>
  <%= raw(htmlise(@chapter.description)) %>
</div>
<br/>

<!-- Toutes les théories -->
<% listex = @chapter.theories.order(:position) %>
<% i = 1 %>
<% listex.each do |f| %>
  <% if f.online %>
    <h3><%= i %>. <%= f.title %></h3>
    <div>
    <% if i <= 2 %>
      <%= raw(htmlise(f.content).gsub(/\/latextest\//, '<div class="form-group"><div class="well" id="MathPreview"></div> <div class="well" id="MathBuffer" style="visibility:hidden; position:absolute; top:0; left: 0"></div> <textarea id="MathInput" class="form-control" style="height:120px; margin-top:5px;" onkeyup="PreviewSafe.Update()" placeholder="Rentrez ici le code $\LaTeX$ que vous souhaitez tester."></textarea></div><script> PreviewSafe.Init(); PreviewSafe.Update(); </script>')) %>
    <% else %>
      <%= raw(htmlise(f.content).gsub(/\/latextest\//, '<center><i>Voir plus haut.</i></center>')) %>
    <% end %>
    </div><br/>
    <% i = i+1 %>
  <% end %>
<% end %>

<br/>

<center>

<!-- Marquer comme lu -->
<% if !@ss || !current_user.sk.admin? %>
  <% if @ss %>
    <%= button_to "Marquer toute la théorie comme lue", chapter_read_path(@chapter), method: :get, class: 'btn btn-default btn-grey', :disabled => current_user.other %>
  <% else %>
    <button type=button disabled=true class="btn btn-default btn-grey">Marquer toute la théorie comme lue</button><br/>
  <% end %>
<% end %>

<!-- Exporter en LaTeX (viré) -->
<% button_to "Exporter en .tex (version beta)", chapter_export_path(@chapter), class: "btn-primary" %>

</center>

<% if !@ss || !current_user.sk.admin? %>
  <hr>
  Des questions? N'hésitez pas à demander de l'aide sur le <%= link_to "forum", subjects_path(:q => @chapter.id) %> dédié à ce chapitre!<br/><br/>
<% end %>
