<% provide(:title, @chapter.name.html_safe) %>

<% if !(defined? active) %>
  <% active = "" %>
<% end %>

<h1><%= title_section(@section, "#{@chapter.name}#{' (en construction)' unless @chapter.online}") %></h1>

<div class="grid mt-3 mx-0" style="--bs-columns: 12;">

  <!-- MENU -->
  <div class="g-col-12 g-col-md-3 g-col-xl-2 noprint list-group">
    <h5>Général</h5>
    <%= link_to "Résumé", chapter_path(@chapter), :class => "list-group-item list-group-item-action #{ 'active' if active == 'show'}" %>
    <%= link_to "Chapitre entier", all_chapter_path(@chapter), :class => "list-group-item list-group-item-action #{ 'active' if active == 'all'}" %>
    <%= link_to "Forum", subjects_path(:q => "cha-" + @chapter.id.to_s), :class => "list-group-item list-group-item-action", :target => "_blank" if signed_in? and @chapter.online %>

    <!-- Points théoriques -->
    <% first_shown = true %>
    <% theories = @chapter.theories.order(:position).to_a %>
    <% theories_ids = theories.map { |t| t.id } %>
    
    <% @read_theories = Set.new %>
    <% if signed_in? && !current_user.admin? %>
      <% @read_theories = current_user.theories.where(:id => theories_ids).ids.to_set %>
    <% end %>
    
    <% theories.each do |f| %>
      <% if f.online || user_can_write_chapter(current_user, @chapter) %>
        <% if first_shown %>
          <h5 class="mt-3">Points théoriques</h5>
            <% first_shown = false %>
        <% end %>
        
        <% actif = "" %>
        <% if active == 'theory-' + f.id.to_s %>
          <% actif = "active" %>
        <% end %>
        
        <% kind = "" %>
        <% if !f.online %>
          <% kind = "list-group-item-warning" %>
        <% elsif @read_theories.include?(f.id) %>
          <% kind = "list-group-item-success" %>
        <% end %>
          
        <%= link_to f.title, chapter_theory_path(@chapter, f), :class => "list-group-item list-group-item-action #{kind} #{actif}" %>
      <% end %>
    <% end %>

    <!-- Exercices -->
    <% first_shown = true %>
    <% question_number = 1 %>
    <% questions = @chapter.questions.order(:position).to_a %>
    <% questions_ids = questions.map { |q| q.id } %>
    <% solvedquestions = nil %>
    <% unsolvedquestions = nil %>
    <% questions.each do |f| %>
      <% if f.online || user_can_write_chapter(current_user, @chapter) %>

        <% if first_shown %>
          <h5 class="mt-3">Exercices</h5>
          <% first_shown = false %>
        <% end %>

        <% if user_can_see_chapter_exercises(current_user, @chapter)  %>
          <% actif = "" %>
          <% if active == 'question-' + f.id.to_s %>
            <% actif = "active" %>
            <% @number = question_number %>
          <% end %>
            
          <% kind = "" %>
          <% if f.online %>
            <% if signed_in? && !current_user.admin? %>
              <% if solvedquestions.nil? %> 
                <% solvedquestions = current_user.solvedquestions.where(:question_id => questions_ids).group(:question_id).count.keys.to_set %>
              <% end %>
              <% if solvedquestions.include?(f.id) %>
                <% kind = "list-group-item-success" %>
              <% else %>
                <% if unsolvedquestions.nil? %>
                  <% unsolvedquestions = current_user.unsolvedquestions.where(:question_id => questions_ids).group(:question_id).count.keys.to_set %>
                <% end %>
                <% if unsolvedquestions.include?(f.id) %>
                  <% kind = "list-group-item-danger" %>
                <% end %>
              <% end %>
            <% end %>
          <% else %>
            <% kind = "list-group-item-warning" %>
          <% end %>
          <%= link_to "Exercice #{question_number if f.online}", chapter_question_path(@chapter, f), :class => "list-group-item list-group-item-action #{kind} #{actif}" %>
        <% else %>
          <a href="#" class="list-group-item list-group-item-action disabled" aria-disabled="true"><%= "Exercice #{question_number}" %></a>
        <% end %> 
        <% question_number += 1 if f.online %>
      <% end %>
    <% end %>
  </div>
    
  <div class="g-col-12 g-col-md-9 g-col-xl-10">
  
    <div class="mt-3 d-md-none"></div>
