<%= render 'shared/error_messages', object: f.object %>

<div class="form-group">
<%= f.label :titre %>
<%= f.text_field :name, :class => "form-control", :style => "width:100%; max-width:400px;" %>
</div>

<div class="form-group">
<%= f.label :description %>
<div class="well" id="MathPreview"></div>
<div class="well" id="MathBuffer" style="visibility:hidden; position:absolute; top:0; left: 0"></div>
<%= render 'theories/font' %>
<%= f.text_area :description, :class => "form-control", :style => "height:200px; margin-top:5px;", :id=>"MathInput", :onkeyup => "fakeupdate()" %>
</div>

<div class="form-group">
<%= f.label "Niveau (entier entre 0 et 10, celui-ci ne sera affiché nulle part et servira juste à départager certains ex-aequo dans le classement des chapitres selon les prérequis)" %>
<%= f.number_field :level, :class => "form-control", :style => "width:50px;" %>
</div>
