<%= render 'shared/error_messages', object: f.object %>

<!-- Titre -->
<div class="form-group">
  <%= f.label :name %>
  <%= f.text_field :name, :class => "form-control", :style => "width:100%; max-width:400px;" %>
</div>

<!-- Résumé -->
<div class="form-group">
  <%= f.label :description %>
  <div class="well" id="MathPreview"></div>
  <div class="well hidden-preview" id="MathBuffer"></div>
  <%= render 'theories/font' %>
  <%= f.text_area :description, :class => "form-control", :maxlength => "8000", :style => "height:200px; margin-top:5px;", :id=>"MathInput", :onkeyup => "Preview.MyUpdate()" %>
</div>

<!-- Niveau -->
<div class="form-group">
  <%= f.label :level %>
  <%= f.number_field :level, :class => "form-control", :style => "width:50px;", :min => 1, :max => (@section.fondation ? 1 : 3) %>
</div>
