<%= render 'shared/error_messages', object: f.object %>

<!-- Titre -->
<div class="mb-2">
  <%= f.label :name, :class => "form-label" %>
  <%= f.text_field :name, :class => "form-control", :style => "width:100%; max-width:400px;" %>
</div>

<!-- Résumé -->
<div class="mb-2">
  <%= f.label :description, :for => "MathInput", :class => "form-label" %>
  <%= render 'shared/preview' %>
  <%= render 'shared/font' %>
  <%= f.text_area :description, :class => "form-control", :maxlength => "8000", :style => "height:200px;", :id => "MathInput", :oninput => "Preview.MyUpdate()" %>
  <script>initAndUpdatePreviewWhenPossible()</script>
</div>

<!-- Niveau -->
<div class="mb-2">
  <%= f.label :level, :class => "form-label" %>
  <%= f.number_field :level, :class => "form-control", :style => "width:70px;", :min => 1, :max => (@section.fondation ? 1 : 3) %>
</div>

<!-- Auteur(s) -->
<div class="mb-2">
  <%= f.label :author, :class => "form-label" %>
  <%= f.text_field :author, :class => "form-control", :style => "width:100%; max-width:400px;" %>
</div>
