<!-- Prérequis -->
<h3>Prérequis</h3>
<% if @chapter.prerequisites.empty? %>
  <p>Aucun prérequis</p>
<% else %>
  <ul>
    <% @chapter.prerequisites.order(:level).each do |prerequisite| %>
      <li><%= link_to prerequisite.name, prerequisite %></li>
    <% end %>
  </ul>
<% end %>
<br/>

<!-- Modifier les prérequis -->
<% if signed_in? && current_user.sk.admin? %>
  <center><%= link_to "Modifier les prérequis", graph_prerequisites_path(:fondement => 1) %><%= " (fondamentaux)" if @chapter.online %></center>
<% end %>

<!-- Introduction -->
<h3>Introduction</h3>
<div>
  <%= raw(htmlise(@chapter.description)) %>
</div>
<br/><br/>

<!-- Modifier / Supprimer -->
<% if signed_in? && current_user.sk.admin? %>
  <br/>
  <% if !@chapter.online %>
    <center>
    <%= link_to "Modifier le nom, le niveau ou l'introduction de ce chapitre", edit_chapter_path(@chapter) %> |
    <%= link_to "Supprimer ce chapitre", @chapter, method: :delete, data: { confirm: "Etes-vous sûr de vouloir supprimer ce chapitre?" } %><br />
    </center>
  <% else %>
    <center>
    <%= link_to "Modifier le nom, le niveau ou l'introduction de ce chapitre", edit_chapter_path(@chapter) %><br />
    </center>
  <% end %>
<% end %>
