<% if !(defined? allow_edit) %>
  <% allow_edit = false %>
<% end %>

<!-- Prérequis -->
<h3>Prérequis</h3>
<% if @chapter.prerequisites.count == 0 %>
  <p>Aucun prérequis.</p>
<% else %>
  <ul>
    <% @chapter.prerequisites.order(:level).each do |prerequisite| %>
      <li><%= link_to prerequisite.name, prerequisite %></li>
    <% end %>
  </ul>
<% end %>

<% if allow_edit %>
  <!-- Modifier les prérequis -->
  <% if @signed_in && current_user.sk.admin? && !@chapter.online %>
    <center><%= link_to "Modifier les prérequis", graph_prerequisites_path %></center>
  <% end %>
<% end %>

<!-- Résumé -->
<h3>Résumé</h3>
<div class="mb-3"><%= raw(htmlise(@chapter.description)) %></div>

<!-- Auteur(s) et date de publication -->
<% author_ok = (!@chapter.author.nil? && @chapter.author.size != 0) %>
<% publication_ok = !@chapter.publication_date.nil? %>
<% if author_ok || publication_ok %>
  <p>Ce chapitre a été
  <% if author_ok %>
    écrit par <b><%= @chapter.author %></b><%= "." if !publication_ok %><%= " et " if publication_ok %>
  <% end %>
  <% if publication_ok %>
    mis en ligne le <b><%= write_date_only(@chapter.publication_date) %></b>.
  <% end %>
  </p>
<% end %>

<% if allow_edit %>  
  <!-- Modifier / Supprimer -->
  <% if @signed_in && (current_user.sk.admin? || (!@chapter.online && current_user.sk.creating_chapters.exists?(@chapter.id))) %>
    <% if @chapter.submission_prerequisite? %>
      <p class="fw-bold">Ce chapitre est un prérequis pour écrire une soumission à un problème.</p>
    <% end %>
    
    <p class="text-center">
    <%= link_to "Modifier ce chapitre", edit_chapter_path(@chapter) %>
    
    <% chapter_before = @section.chapters.where("level = ? AND position < ?", @chapter.level, @chapter.position).order("position").last %>
    <% chapter_after = @section.chapters.where("level = ? AND position > ?", @chapter.level, @chapter.position).order("position").first %>
    
    <% if !chapter_before.nil? || !chapter_after.nil? %>
      | Déplacer vers le
      <%= link_to "haut", chapter_order_path(@chapter, :new_position => chapter_before.position), :method => :put if !chapter_before.nil? %>
      <%= '-' if !chapter_before.nil? && !chapter_after.nil? %>
      <%= link_to "bas", chapter_order_path(@chapter, :new_position => chapter_after.position), :method => :put if !chapter_after.nil? %>
    <% end %>
    
    <% if !@chapter.online && current_user.sk.admin? %>
      | <%= link_to "Supprimer ce chapitre", @chapter, method: :delete, data: { confirm: "Êtes-vous sûr de vouloir supprimer ce chapitre ?" } %>
    <% end %>
    
    <% if @section.fondation? && current_user.sk.root? %>
      |
      <%= link_to "Marquer comme prérequis aux soumissions", chapter_mark_submission_prerequisite_path(@chapter), :method => :put unless @chapter.submission_prerequisite? %>
      <%= link_to "Marquer comme non prérequis aux soumissions", chapter_unmark_submission_prerequisite_path(@chapter), :method => :put if @chapter.submission_prerequisite? %>
    <% end %>
    </p>
  <% end %>
<% end %>
