<%= render 'chapters/before', active: 'all' %>

<!-- Prérequis, résumé, auteurs -->
<%= render 'chapters/intro' %>

<!-- Toutes les théories -->
<% i = 1 %>
<% numLatexTest = 0 %>
<% @chapter.theories.order(:position).each do |t| %>
  <% if t.online || !@chapter.online %>
    <h3><%= i %>. <%= t.title %></h3>
    <div class="mb-3">
      <% numLatexTest += 1 if t.content.include? "latextest" %>
      <%= process_latex_test(htmlise(t.content), numLatexTest) %>
    </div>
    <% i = i+1 %>
  <% end %>
<% end %>

<% if @chapter.online && signed_in? && !current_user.admin? %>
  <!-- Marquer comme lu -->
  <p class="text-center">
    <%= link_to "Marquer toute la théorie comme lue", read_chapter_path(@chapter), :method => :put, class: "btn btn-ld-light-dark #{'disabled' if !signed_in? || in_skin?}" %>
  </p>
  
  <hr class="bottom-help mt-0" />
  <p>
    Des questions ? N'hésitez pas à demander de l'aide sur le <%= link_to "forum", subjects_path(:q => "cha-" + @chapter.id.to_s) %> !
  </p>
<% end %>

<%= render 'chapters/after' %>
