<% provide(:title, 'Difficulté des chapitres') %>

<h1><%= title_1("Difficulté des chapitres") %></h1>

Les tableaux suivants donnent :
<ul>
<li>pour chaque chapitre, le pourcentage d'étudiants l'ayant complété (parmi ceux ayant tenté au moins un exercice) ;</li>
<li>pour chaque exercice, le pourcentage d'étudiants l'ayant résolu au premier essai (parmi ceux ayant tenté l'exercice).</li>
</ul>

<% access_chapters = accessible_chapters((@signed_in ? current_user.sk : nil), ["id"]).map(&:id) %>
<% chapters = Chapter.select(:id, :section_id, :name, :nb_tries, :nb_completions).where(:online => true).order(:level, :position) %>
<% chapters_by_section = chapters.group_by{|c| c.section_id} %>
<% questions_by_chapter = Question.select(:id, :chapter_id, :nb_tries, :nb_first_guesses).where(:online => true).order(:chapter_id, :position).group_by{|q| q.chapter_id} %>

<% Section.where(:fondation => false).order(:id).each do |section| %>
  <% if chapters_by_section[section.id].nil? %>
    <% next %>
  <% end %>
  
  <h3><%= section.name %></h3>
  
  <% maxexo = 0 %>
  <% chapters_by_section[section.id].each do |chapter| %>
    <% if !questions_by_chapter[chapter.id].nil? %>
      <% numexo = questions_by_chapter[chapter.id].size %>
      <% maxexo = numexo if numexo > maxexo %>
    <% end %>
  <% end %>
  
  <table class="table table-bordered" style="width:auto;">
  <tr class="d-none d-lg-table-row table-ld-header"><th style="width:300px;">Chapitre</th><th>Réussite</th>
  <% (1..maxexo).each do |i| %>
    <th class="text-center" style="width:50px;">Ex. <%= i %></th>
  <% end %>
  </tr>
  
  <% i = 0 %>
  <% chapters_by_section[section.id].each do |chapter| %>
    <tr class="d-table-row d-lg-none table-ld-header">
    <td colspan="<%= maxexo-1 %>"><%= link_to chapter.name, chapter %></td>
    <% pct = 0 %>
    <% pct = (chapter.nb_completions * 100) / chapter.nb_tries if chapter.nb_tries > 0 %>
    <td class="text-center"><%= pct %>%</td>
    </tr>
    <tr>
    <td class="d-none d-lg-table-cell"><%= link_to chapter.name, chapter %></td>
    <td class="d-none d-lg-table-cell text-center"><%= pct %>%</td>
    <% numexo = 0 %>
    <% can_see_exercises = access_chapters.include?(chapter.id) %>
    <% if !questions_by_chapter[chapter.id].nil? %>
      <% numexo = questions_by_chapter[chapter.id].size %>
      <% questions_by_chapter[chapter.id].each do |e| %>
        <% pct = 0 %>
        <% pct = e.nb_first_guesses.to_f/e.nb_tries.to_f if e.nb_tries > 0 %>
        <% pct2 = [1.4*pct,1].min %>
        <td class="text-center gradient-green-red-<%= ((1-pct2)*20).to_i %>">
        <% if can_see_exercises %>
          <%= link_to "#{(100*pct).round(0)}%", chapter_question_path(chapter, e), :class => "text-color-dark-light-blue" %>
        <% else %>
          <%= (100*pct).round(0) %>%
        <% end %>
        </td>
      <% end %>
    <% end %>
    <% (numexo..maxexo-1).each do |j| %>
    <td></td>
    <% end %>
    </tr>
    <% i = i+1 %>
  <% end %>
  </table>
  
<% end %>
