<% provide(:title, 'Modifier un chapitre') %>

<h1>
  <span class="title-first">Théorie ></span>
  <span class="title-second"><%= link_to @chapter.section.name, @chapter.section %> ></span>
  <span class="title-third"><%= link_to @chapter.name, @chapter %> ></span>
  Modifier
</h1>

<%= form_for(@chapter) do |f| %>
  <%= render 'form', f: f %>
  <%= f.submit "Editer", class: "btn btn-lg btn-primary" %>
<% end %>

<script>
Preview.Init();
Preview.Update();
</script>
