<% provide(:title, "Emplacement du chapitre") %>
<h1>Emplacement du chapitre</h1>
Vous pouvez ici modifier les sections auxquelles le chapitre <%= @chapter.name %> appartient.
Par défaut, si celui-ci n'est placé dans aucune des quatres sections ci-dessous, alors il se situera dans le chapitre Fondements.<br/><br/>

<% if @chapter.online %>
<p style="color:red;"><b>Veillez à avoir une connexion stable et à ne pas interrompre l'opération (cela risque de durer un petit peu de temps).</b></p><br/>
<% end %>

<div class="row">
  <div class="span6">
  <center> <h2>Retirer d'une section</h2> </center>
    <% if @sections_to_remove.empty? %>
      <p>Le chapitre est dans la section Fondement car
      il n'est dans aucune des 4 autres sections.
      Si vous désirez supprimer le chapitre, il faut retourner à la <%= link_to "page du chapitre", chapter_path(@chapter) %>.</p>
    <% else %>
      <section>
      <center>
      <% @sections_to_remove.each do |s| %>
        <br/>
        <div style="width:400px;">
          <%= link_to image_tag(s.image, alt: s.name), chapter_remove_section_path(@chapter, s) %>
        </div>
      <% end %>
      </center>
      </section>
    <% end %>
  </div>
  <div class="span6">
  <center> <h2>Ajouter à une section</h2> </center>
    <% if @sections_to_add.empty? %>
      <p>Le chapitre est dans toutes les sections. Cela est-il vraiment ce que vous désiriez faire?
      Si vous vouliez le faire appartenir à la section Fondement, il faut le retirer de toutes les sections, c'est le contraire de ce que vous avez fait.</p>
    <% else %>
      <section>
      <center>
      <% @sections_to_add.each do |s| %>
        <br/>
        <div style="width:400px;">
          <%= link_to image_tag(s.image, alt: s.name), chapter_add_section_path(@chapter, s) %>
        </div>
      <% end %>
      </center>
      </section>
    <% end %>
  </div>
</div>

<br/><br/>
<center><%= link_to "Retour au chapitre " + @chapter.name, chapter_path(@chapter) %></center>
