<% provide(:title, @chapter.name.html_safe) %>

<% if(params.has_key?:type) %>
  <% type = params[:type].to_i %>
<% else %>
  <% type = 0 %>
<% end %>
<% if(params.has_key?:which) %>
  <% id = params[:which].to_i %>
<% else %>
  <% id = 0 %>
<% end %>

<h1><%= title_3("Théorie", (link_to @section.name, @section), "#{@chapter.name}#{' (en construction)' unless @chapter.online}", false) %></h1>

<div class="grid mt-3 mx-0" style="--bs-columns: 12;">

  <!-- MENU -->
  <div class="g-col-12 g-col-md-3 g-col-xl-2 noprint list-group">
    <% number = 0 %>
    <% number2 = 0 %>
    <% i = 1 %>
    <h5>Général</h5>
    <%= link_to "Résumé", chapter_path(@chapter), :class => "list-group-item list-group-item-action #{ 'active' if type == 0}" %>
    <%= link_to "Chapitre entier", chapter_path(@chapter, :type => 10), :class => "list-group-item list-group-item-action #{ 'active' if type == 10}" %>
    <%= link_to "Forum", subjects_path(:q => @chapter.id), :class => "list-group-item list-group-item-action", :target => "_blank" if @signed_in and @chapter.online %>

    <!-- Points théoriques -->
    <% compteur = 0 %>
    <% listex = @chapter.theories.order(:position) %>
    <% listex.each do |f| %>
      <% if f.online || (@signed_in && (current_user.sk.admin? || current_user.sk.creating_chapters.exists?(@chapter.id))) %>
        <% if compteur == 0 %>
          <h5 class="mt-3">Points théoriques</h5>
        <% end %>
        <% compteur = compteur + 1 %>
        
        <% lu = false %>
        <% if @signed_in && !current_user.sk.admin? %>
          <% if current_user.sk.theories.exists?(f.id) %>
            <% lu = true %>
          <% end %>
        <% end %>
        
        <% actif = "" %>
        <% if type == 1 && f.id == id %>
          <% number = i %>
          <% actif = "active" %>
        <% end %>
        
        <% kind = "" %>
        <% if !f.online %>
          <% kind = "list-group-item-warning" %>
        <% elsif @signed_in && !current_user.sk.admin? && lu %>
          <% kind = "list-group-item-success" %>
        <% end %>
          
        <%= link_to f.title, chapter_path(@chapter, :type => 1, :which => f.id), :class => "list-group-item list-group-item-action #{kind} #{actif}" %>

        <% i = i + 1 %>
      <% end %>
    <% end %>

    <!-- Peut-on voir les exercices? -->
    <% exovisibles = true %>
    <% if !@signed_in || !(current_user.sk.admin? || current_user.sk.creating_chapters.exists?(@chapter.id)) %>
      <% @chapter.prerequisites.each do |p| %>
        <% exovisibles = false if !p.section.fondation && (!@signed_in || !current_user.sk.chapters.exists?(p.id)) %>
      <% end %>
    <% end %>

    <!-- Exercices -->
    <% compteur = 0 %>
    <% j = 1 %>
    <% i = 1 %>
    <% pasfait = 0 %>
    <% @chapter.questions.order(:position).each do |f| %>
      <% if f.online || (@signed_in && (current_user.sk.admin? || current_user.sk.creating_chapters.exists?(@chapter.id))) %>

        <% if compteur == 0 %>
          <h5 class="mt-3">Exercices</h5>
        <% end %>

        <% compteur = compteur + 1 %>

        <% if exovisibles %>
          <% actif = "" %>
          <% if f.id == id && type == 5 %>
            <% actif = "active" %>
            <% number = j %>
            <% number2 = i %>
          <% end %>
            
          <% kind = "" %>
          <% if f.online %>
            <% if @signed_in %>
              <% exo = Solvedquestion.where(:user_id => current_user.sk.id, :question_id => f.id) %>
              <% if exo.size > 0 %>
                <% exo = exo.first %>
                <% if exo.correct && !current_user.sk.admin? %>
                  <% kind = "list-group-item-success" %>
                <% elsif !current_user.sk.admin? %>
                  <% pasfait = pasfait + 1 %>
                  <% kind = "list-group-item-danger" %>
                <% end %>
              <% else %>
                <% pasfait = pasfait + 1 %>
              <% end %>
            <% end %>
          <% else %>
            <% kind = "list-group-item-warning" %>
          <% end %>
          <%= link_to "Exercice #{j if f.online}", chapter_path(@chapter, :type => 5, :which => f.id), :class => "list-group-item list-group-item-action #{kind} #{actif}" %>
        <% else %>
          <a href="#" class="list-group-item list-group-item-action disabled" aria-disabled="true"><%= "Exercice #{j}" %></a>
        <% end %> 
        <% j = j+1 if f.online %>
        <% i = i+1 %>
      <% end %>
    <% end %>
      
    <% if @chapter.online? && exovisibles && pasfait == 0 && @signed_in && !current_user.sk.admin? && !current_user.sk.chapters.exists?(@chapter.id) %>
      <% current_user.sk.chapters << @chapter %>
      <% @chapter.nb_completions = @chapter.nb_completions + 1 %>
      <% @chapter.save %>
    <% end %>
  </div>
    
  <div class="g-col-12 g-col-md-9 g-col-xl-10">
  
    <div class="mt-3 d-md-none"></div>

    <!-- RESUME -->

    <% if type == 0 %>
      <%= render 'intro' %>

      <% if !exovisibles %>
        <p class="text-color-red">Pour pouvoir accéder aux exercices de ce chapitre et ainsi le compléter, vous devez d'abord compléter :
        <% prems = true %>
        <% @chapter.prerequisites.each do |p| %>
          <% if (!p.section.fondation && (!@signed_in || !current_user.sk.chapters.exists?(p.id))) %>
            <%= " - " if !prems %>
            <%= p.name %>
            <% prems = false %>
          <% end %>
        <% end %>
        </p>
      <% end %>
    <% end %>

    <!-- CHAPITRE ENTIER -->

    <% if type == 10 %>
      <%= render 'all' %>
    <% end %>

    <!-- POINTS THEORIQUES -->

    <% if type == 1 && @chapter.theories.exists?(id) %>
      <% theory = Theory.find(id) %>
      <%= render 'theories/show', theory: theory, number: number, id: id %>
    <% end %>

    <!-- QUESTIONS -->

    <% if type == 5 && @chapter.questions.exists?(id) && exovisibles %>
      <% question = Question.find(id) %>
      <%= render 'questions/show', question: question, number: number, number2: number2, number_tot: @chapter.questions.count, id: id %>
    <% end %>

  </div>
</div>

<!-- Ajouter quelque chose -->
<% if @signed_in && (current_user.sk.admin? || (!@chapter.online && current_user.sk.creating_chapters.exists?(@chapter.id))) %>
  <div class="noprint">
    <p class="mt-3 text-center">
      Ajouter un :
      <%= link_to "point théorique", new_chapter_theory_path(@chapter) %> |
      <%= link_to "exercice", new_chapter_question_path(@chapter) %> |
      <%= link_to "QCM", new_chapter_question_path(@chapter, :qcm => 1) %>
    </p>

    <% if !@chapter.online && current_user.sk.root? %>
      <center>
      <%= button_to "Mettre ce chapitre en ligne", chapter_put_online_path(@chapter), :method => :put, class: 'btn btn-danger', data: {confirm: "Êtes-vous sûr de vouloir mettre ce chapitre en ligne ?"} %>
      </center>
    <% end %>
  </div>
<% end %>
