<% provide(:title, @chapter.name.html_safe) %>

<% if(params.has_key?:type) %>
  <% type = params[:type].to_i %>
<% else %>
  <% type = 0 %>
<% end %>
<% if(params.has_key?:which) %>
  <% id = params[:which].to_i %>
<% else %>
  <% id = 0 %>
<% end %>

<h1>
<table>
<tr>
<td nowrap style="vertical-align:top;">
<span class="noprint">
<span style="font-size:16px;"><%= link_to "Cours", sections_path %> ></span>
<span style="font-size:24px;"><%= link_to @section.name, @section %> ></span>
</span>
</td>
<td style="padding-left:10px; vertical-align:top;">
<%= @chapter.name %> <%= "(en construction)" unless @chapter.online %>
</td>
</tr>
</table>
</h1>

<div class="row">

  <!-- MENU -->
  <div class="noprint">
  <div class="span2">
    <ul class="nav nav-list">
      <% number = 0 %>
      <% number2 = 0 %>
      <% i = 1 %>
      <li class="nav-header">Général</li>
      <li<%= ' class="active"'.html_safe if type == 0 %>>
      <%= link_to "Introduction", chapter_path(@chapter) %></li>
      <li<%= ' class="active"'.html_safe if type == 10 %>>
      <%= link_to "Chapitre entier", chapter_path(@chapter, :type => 10) %></li>
      <li>
      <%= link_to "Forum", subjects_path(:q => @chapter.id), :target => "_blank" %>
      </li>
      <li class="nav-header">Points théoriques</li>
      <% compteur = 0 %>
      <% listex = @chapter.theories %>
      <% listex.sort!{|t1,t2|t1.position <=> t2.position} %>
      <% listex.each do |f| %>
        <% if f.online || current_user.sk.admin? %>
          <% compteur = compteur + 1 %>
          <li<%= ' class="active"'.html_safe if f.id == id && type == 1 %> >
          <%= link_to chapter_path(@chapter, :type => 1, :which => f.id) do %>
            <% if !current_user.sk.admin? && current_user.sk.theories.exists?(f.id) %>
              <i class="icon-ok"></i>
            <% end %>
            <% if !f.online %>
              <i class="icon-warning-sign"></i>
            <% end %>
            <%= f.title %>
          <% end %>
          </li>
          <% if f.id == id && type == 1 %>
            <% number = i %>
          <% end %>
          <% i = i + 1 %>
        <% end %>
      <% end %>
      <% if compteur == 0 %>
        <li><span style="color:#555555; font-style:italic">Aucun</i></li>
      <% end %>
      <li class="nav-header">Exercices</li>
      <% compteur = 0 %>
      <% liste = @chapter.exercises %>
      <% liste.sort!{|t1,t2|t1.position <=> t2.position} %>
      <% liste2 = @chapter.qcms %>
      <% liste2.sort!{|t1,t2|t1.position <=> t2.position} %>
      <% un = 0 %>
      <% deux = 0 %>
      <% j = 1 %>
      <% pasfait = 0 %>
      <% (1..(liste.size+liste2.size)).each do |i| %>

        <% encours = 0 %>
        <% if un >= liste.size %>
          <% encours = 2 %>
        <% else %>
          <% if deux >= liste2.size %>
            <% encours = 1 %>
          <% else %>
            <% if liste[un].position < liste2[deux].position %>
              <% encours = 1 %>
            <% else %>
              <% encours = 2 %>
            <% end %>
          <% end %>
        <% end %>

        <% if encours == 1 %>
          <% f = liste[un] %>
          <% if f.online || current_user.sk.admin? %>
            <% compteur = compteur + 1 %>
            <li<%= ' class="active"'.html_safe if f.id == id && type == 2 %>>

            <%= link_to chapter_path(@chapter, :type => 2, :which => f.id) do %>
              <% exo = Solvedexercise.where(:user_id => current_user.sk.id, :exercise_id => f.id) %>
              <% if exo.size > 0 %>
                <% exo = exo.first %>
                <% if exo.correct && !current_user.sk.admin? %>
                  <i class="icon-ok"></i>
                <% elsif !current_user.sk.admin? %>
                  <i class="icon-remove"></i>
                  <% pasfait = pasfait + 1 %>
                <% end %>
              <% else %>
                <% pasfait = pasfait + 1 %>
              <% end %>
              <% if !f.online %>
                <i class="icon-warning-sign"></i>
              <% end %>
              Exercice <%= j if f.online%>
            <% end %>
            </li>
            <% if f.id == id  && type == 2 %>
              <% number = j %>
              <% number2 = i %>
            <% end %>
            <% j = j+1 if f.online %>
          <% end %>
          <% un = un + 1 %>
        <% else %>
          <% f = liste2[deux] %>
          <% if f.online || current_user.sk.admin? %>
            <% compteur = compteur+1 %>
            <li<%= ' class="active"'.html_safe if f.id == id && type == 3 %>>
            <%= link_to chapter_path(@chapter, :type => 3, :which => f.id) do %>
              <% qcm = Solvedqcm.where(:user_id => current_user.sk.id, :qcm_id => f.id) %>
              <% if qcm.size > 0 %>
                <% qcm = qcm.first %>
                <% if qcm.correct && !current_user.sk.admin?%>
                  <i class = "icon-ok"></i>
                <% elsif !current_user.sk.admin? %>
                  <i class = "icon-remove"></i>
                  <% pasfait = pasfait + 1 %>
                <% end %>
              <% else %>
                <% pasfait = pasfait + 1 %>
              <% end %>
              <% if !f.online %>
                <i class="icon-warning-sign"></i>
              <% end %>
              Exercice <%= j if f.online %>
            <% end %>
            </li>
            <% if f.id == id  && type == 3 %>
              <% number = j %>
              <% number2 = i %>
            <% end %>
            <% j = j+1 if f.online %>
          <% end %>
          <% deux = deux + 1 %>
        <% end %>

      <% end %>

      <% if compteur == 0 %>
        <li><span style="color:#555555; font-style:italic">Aucun</i></li>
      <% end %>

      <% if pasfait == 0 && !current_user.sk.admin? && !current_user.sk.chapters.exists?(@chapter) %>
        <% current_user.sk.chapters << @chapter %>
      <% end %>

      <li class="nav-header">Problèmes</li>
      <% i = 1 %>
      <% compteur = 0 %>
      <% listex = @chapter.problems %>
      <% listex.sort!{|t1,t2|t1.position <=> t2.position} %>
      <% listex.each do |f| %>
        <% if f.online || current_user.sk.admin? %>
          <% compteur = compteur + 1 %>
          <li<%= ' class="active"'.html_safe if f.id == id && type == 4 %>>
          <%= link_to chapter_path(@chapter, :type => 4, :which => f.id) do %>
            <% if !f.online %>
              <i class="icon-warning-sign"></i>
            <% end %>
            <% if current_user.sk.solved?(f) && !current_user.sk.admin?%>
              <i class="icon-ok"></i>
            <% elsif !current_user.sk.admin? %>
              <% sub = current_user.sk.submissions.where(:problem_id => f.id).order('created_at') %>
              <% if sub.size > 0 %>
                <% sub = sub.last %>
                <% if sub.status == 0 %>
                  <i class="icon-minus"></i>
                <% else %>
                 <i class="icon-remove"></i>
               <% end %>
              <% end %>
            <% end %>
            <%= f.name %>
          <% end %>
          </li>
          <% if f.id == id && type == 4 %>
            <% number = i %>
          <% end %>
          <% i = i + 1 %>
        <% end %>
      <% end %>
      <% if compteur == 0 %>
        <li><span style="color:#555555; font-style:italic">Aucun</i></li>
      <% end %>
    </ul>
  </div>
  </div>

  <div class="span10">

    <!-- INTRODUCTION -->

    <% if type == 0 %>
      <%= render 'intro' %>
    <% end %>


    <!-- VERSION IMPRIMABLE -->

    <% if type == 10 %>
      <%= render 'all' %>
    <% end %>


    <!-- POINTS THEORIQUES -->

    <% if type == 1 && @chapter.theories.exists?(id) %>
      <% f = Theory.find(id) %>
      <%= render 'theories/show', f: f, number: number, id: id %>
    <% end %>


    <!-- EXERCICES -->

    <% if type == 2 && @chapter.exercises.exists?(id)%>
      <% f = Exercise.find(id) %>
      <%= render 'exercises/show', f: f, number: number, number2: number2, liste: liste, liste2: liste2, id: id %>
    <% end %>

    <!-- QCMS -->

    <% if type == 3 && @chapter.qcms.exists?(id)%>
      <% f = Qcm.find(id) %>
      <%= render 'qcms/show', f: f, number: number, number2: number2, liste: liste, liste2: liste2, id: id %>
    <% end %>


    <!-- PROBLEMES -->

    <% if type == 4 && @chapter.problems.exists?(id)%>
      <% f = Problem.find(id) %>
      <%= render 'problems/show', f: f, number: number, id: id %>
    <% end %>

  </div>
</div>

<div class="noprint">
<center>
  <% if current_user.sk.admin? %>
    <br/>
    Ajouter un :
    <%= link_to "point théorique", new_chapter_theory_path(@chapter) %> |
    <%= link_to "exercice", new_chapter_exercise_path(@chapter) %> |
    <%= link_to "QCM", new_chapter_qcm_path(@chapter) %> |
    <%= link_to "problème", new_chapter_problem_path(@chapter) %>

    <% if !@chapter.online %>
      <br/><br/>
      <%= button_to "Mettre ce chapitre en ligne", chapter_warning_path(@chapter), method: :get, class: 'btn btn-large' %>
    <% end %>
  <% end %>
</center>
</div>
