<% provide(:title, @chapter.name) %>


<h1>
  <%= @chapter.name %> (niveau <%= @chapter.level %>)
</h1>

<h3>Prérequis</h3>
<% if @chapter.prerequisites.empty? %>
  <p>Aucun prérequis</p>
<% else %>
  <ul>
    <% @chapter.prerequisites.each do |prerequisite| %>
      <li><%= link_to prerequisite.name, prerequisite %></li>
    <% end %>
  </ul>
<% end %>

<p>
  <h3>Introduction</h3>
  <%= @chapter.description %>
</p>


<% if current_user.admin? %>

  <%= link_to "Modifier le nom, le niveau ou l'introduction du chapitre", edit_chapter_path(@chapter) %> |

  <% if @chapter.sections.size > 1 %>
    <%= link_to "Supprimer ce chapitre", @chapter, method: :delete, data: { confirm: "Attention! En supprimant ce chapitre, vous le supprimerez des #{@chapter.sections.size} sections auxquelles il appartient! Etes-vous sûr de vouloir supprimer ce chapitre ?" } %>
  <% else %>
    <%= link_to "Supprimer le chapitre", @chapter, method: :delete, data: { confirm: "Etes-vous sûr de vouloir supprimer ce chapitre ?" } %>
  <% end %> |
  
  <%= link_to "Ajouter ou retirer à une section", chapter_manage_sections_path(@chapter) %> <br/> <br/>

  <%= render 'prerequisites/new' %>

<% end %>

<center>
Retour à la section : 
<% i = false %>
<% @chapter.sections.each do |f| %>
<% if i %> | <% end %>
<%= link_to f.name, f %>
<% i = true %>
<% end %>
<% if !i %>
<%= link_to "Fondements", "../sections/0" %>
<% end %>
</center>
