<% provide(:title, @chapter.name) %>

<% if(params.has_key?:type) %>
<% type = params[:type].to_i %>
<% else type = 0 %>
<% end %>
<% if(params.has_key?:which) %>
<% id = params[:which].to_i %>
<% else id = 0 %>
<% end %>


<h1>
  <%= @chapter.name %> (niveau <%= @chapter.level %>)
</h1>

<div class="row">

  <div class="span2">
      <ul class="nav nav-list">
        <li class="nav-header">Préambule</li>
        <li<%= ' class="active"'.html_safe if type == 0 %>>
        <%= link_to "Introduction", chapter_path(@chapter) %></li>
        <li class="nav-header">Points théoriques</li>
        <% liste = @chapter.theories %>
        <% liste.sort!{|t1,t2|t1.position <=> t2.position} %>
        <% liste.each do |f| %>
          <li<%= ' class="active"'.html_safe if f.id == id && type == 1 %>>
          <%= link_to f.title, chapter_path(@chapter, :type => 1, :which => f.id) %></li>
        <% end %>
        <li class="nav-header">Exercices</li>
        <% liste = @chapter.exercises %>
        <% number = 0 %>
        <% i = 1 %>
        <% liste.sort!{|t1,t2|t1.position <=> t2.position} %>
        <% liste.each do |f| %>
          <li<%= ' class="active"'.html_safe if f.id == id && type == 2 %>>
          <%= link_to "Exercice #{i}", chapter_path(@chapter, :type => 2, :which => f.id) %></li>
          <% if f.id == id %>
            <% number = i %>
          <% end %>
          <% i = i+1%>
        <% end %>
        <li class="nav-header">Problèmes</li>
      </ul>
    </div>
    <div class="span10">
    
      <!-- INTRODUCTION -->
      
      <% if type == 0 %>
        <h3>Prérequis</h3>
        <% if @chapter.prerequisites.empty? %>
          <p>Aucun prérequis</p>
        <% else %>
          <ul>
            <% @chapter.prerequisites.each do |prerequisite| %>
              <li><%= link_to prerequisite.name, prerequisite %></li>
            <% end %>
          </ul>
        <% end %>

        <h3>Introduction</h3>
        <p><%= @chapter.description %></p>
      
        <% if current_user.admin? %>
          <br/>
          <center>
          <%= link_to "Modifier le nom, le niveau ou l'introduction de ce chapitre", edit_chapter_path(@chapter) %> |

          <% if @chapter.sections.size > 1 %>
            <%= link_to "Supprimer ce chapitre", @chapter, method: :delete, data: { confirm: "Attention! En supprimant ce chapitre, vous le supprimerez des #{@chapter.sections.size} sections auxquelles il appartient! Etes-vous sûr de vouloir supprimer ce chapitre?" } %>
          <% else %>
            <%= link_to "Supprimer ce chapitre", @chapter, method: :delete, data: { confirm: "Etes-vous sûr de vouloir supprimer ce chapitre?" } %>
          <% end %> |

          <%= link_to "Ajouter ou retirer à une section", chapter_manage_sections_path(@chapter) %> <br/>
          </center>
        <% end %>
        
      <% end %>
      
      
      <!-- POINTS THEORIQUES -->
      
      <% if type == 1 && @chapter.theories.exists?(id)%>
        <% f = Theory.find(id) %>
        <h3><%= f.title %> </h3>
        <%= simple_format f.content%>
        <% if current_user.admin? %>
          <br/>
          <center>
          <%= link_to "Modifier ce point théorique", edit_theory_path(f) %> | 
          <%= link_to "Supprimer ce point théorique", f, method: :delete, data: { confirm: "Etes-vous sûr de vouloir supprimer ce point théorique?" } %>
          </center>
          <br/>
          
          <% if Theory.exists?(["chapter_id = ? AND position < ?", @chapter, f.position]) %>
          <% up = true %>
          <% else %>
          <% up = false %>
          <% end %>
          
          <% if Theory.exists?(["chapter_id = ? AND position > ?", @chapter, f.position]) %>
          <% down = true %>
          <% else %>
          <% down = false %>
          <% end %>
          
          <% if up || down %>
            <center>
            Déplacer ce point théorique vers le 
            <% if up %>
              <%= link_to "haut", theory_order_minus_path(f) %>
              <% if down %>
              | <%= link_to "bas", theory_order_plus_path(f) %>
              <% end %>
            <% else %>
              <%= link_to "bas", theory_order_plus_path(f) %>
            <% end %>
            </center> <br/>
          <% end %>
          
        <% end %>
        
      <% end %>
      
      
      <!-- EXERCICES -->
      
      <% if type == 2 && @chapter.exercises.exists?(id)%>
        <% f = Exercise.find(id) %>
        <h3>Exercice <%= number %></h3>
        <%= simple_format f.statement %>
        <br/>
        Réponse : 
        <% if f.decimal %>
          <%= f.answer %> (On demande une réponse décimale avec deux chiffres après la virgule)
        <% else %>
          <%= f.answer.to_i %> (On demande une réponse entière)
        <% end %>
        <br/>
        <% if current_user.admin? %>
          <br/>
          <center>
          <%= link_to "Modifier cet exercice", edit_exercise_path(f) %> | 
          <%= link_to "Supprimer cet exercice", f, method: :delete, data: { confirm: "Etes-vous sûr de vouloir supprimer cet exercice?" } %>
          </center>
          <br/>
        <% end %>
        
      <% end %>

      
      
      <!-- PROBLEMES -->
      
      <% if type == 3 %>
        Problème
      <% end %>
    
  </div>
</div>
<center>
  <% if current_user.admin? %>
    <br/>
    Ajouter un : 
    <%= link_to "point théorique", new_chapter_theory_path(@chapter) %> |
    <%= link_to "exercice", new_chapter_exercise_path(@chapter) %>
  <% end %>
</center>
<br/>
<center>
  Retour à la section : 
  <% i = false %>
  <% @chapter.sections.each do |f| %>
    <% if i %> | <% end %>
    <%= link_to f.name, f %>
    <% i = true %>
  <% end %>
  <% if !i %>
    <%= link_to "Fondements", "../sections/0" %>
  <% end %>
</center>
