<% provide(:title, @chapter.name.html_safe) %>

<% if(params.has_key?:type) %>
  <% type = params[:type].to_i %>
<% else %>
  <% type = 0 %>
<% end %>
<% if(params.has_key?:which) %>
  <% id = params[:which].to_i %>
<% else %>
  <% id = 0 %>
<% end %>

<h1>
  <span class="noprint">
    <span class="title-first">Théorie ></span>
    <span class="title-second"><%= link_to @section.name, @section %> ></span>
  </span>
  <%= @chapter.name %> <%= "(en construction)" unless @chapter.online %>
</h1>

<div class="row" style="margin:0px;">

  <!-- MENU -->
  <div class="col-md-2 col-sm-3 col-xs-12 noprint list-group chap-menu">
    <% number = 0 %>
    <% number2 = 0 %>
    <% i = 1 %>
    <br/>
    <h4 class="list-group-item-heading">Général</h4>
    <%= link_to "Résumé", chapter_path(@chapter), :class => "list-group-item #{ 'active' if type == 0}" %>
    <%= link_to "Chapitre entier", chapter_path(@chapter, :type => 10), :class => "list-group-item #{ 'active' if type == 10}" %>
    <%= link_to "Forum", subjects_path(:q => @chapter.id), :class => "list-group-item", :target => "_blank" if @ss %>

    <!-- Points théoriques -->
    <% compteur = 0 %>
    <% listex = @chapter.theories.order(:position) %>
    <% listex.each do |f| %>
      <% if f.online || (@ss && (current_user.sk.admin? || current_user.sk.creating_chapters.exists?(@chapter))) %>
        <% if compteur == 0 %>
          <br/><h4 class="list-group-item-heading">Points théoriques</h4>
        <% end %>
        <% compteur = compteur + 1 %>
        
        <% lu = false %>
        <% if @ss && !current_user.sk.admin? %>
          <% if current_user.sk.theories.exists?(f.id) %>
            <% lu = true %>
          <% end %>
        <% end %>
        
        <% actif = "" %>
        <% if type == 1 && f.id == id %>
          <% number = i %>
          <% actif = "active" %>
        <% end %>
        
        <% kind = "" %>
        <% if !f.online %>
          <% kind = "list-group-item-warning" %>
        <% elsif @ss && !current_user.sk.admin? && lu %>
          <% kind = "list-group-item-success" %>
        <% end %>
          
        <%= link_to f.title, chapter_path(@chapter, :type => 1, :which => f.id), :class => "list-group-item #{kind} #{actif}" %>

        <% i = i + 1 %>
      <% end %>
    <% end %>

    <!-- Peut-on voir les exercices? -->
    <% exovisibles = true %>
    <% if !@ss || !current_user.sk.admin? %>
      <% @chapter.prerequisites.each do |p| %>
        <% exovisibles = false if !p.section.fondation && (!@ss || !current_user.sk.chapters.exists?(p.id)) %>
      <% end %>
    <% end %>

    <!-- Exercices -->
    <% compteur = 0 %>
    <% j = 1 %>
    <% i = 1 %>
    <% pasfait = 0 %>
    <% @chapter.questions.order(:position).each do |f| %>
      <% if f.online || (@ss && (current_user.sk.admin? || current_user.sk.creating_chapters.exists?(@chapter))) %>

        <% if compteur == 0 %>
          <br/><h4 class="list-group-item-heading">Exercices</h4>
        <% end %>

        <% compteur = compteur + 1 %>

        <% if exovisibles %>
          <% actif = "" %>
          <% if f.id == id && type == 5 %>
            <% actif = "active" %>
            <% number = j %>
            <% number2 = i %>
          <% end %>
            
          <% kind = "" %>
          <% if f.online %>
            <% if @ss %>
              <% exo = Solvedquestion.where(:user_id => current_user.sk.id, :question_id => f.id) %>
              <% if exo.size > 0 %>
                <% exo = exo.first %>
                <% if exo.correct && !current_user.sk.admin? %>
                  <% kind = "list-group-item-success" %>
                <% elsif !current_user.sk.admin? %>
                  <% pasfait = pasfait + 1 %>
                  <% kind = "list-group-item-danger" %>
                <% end %>
              <% else %>
                <% pasfait = pasfait + 1 %>
              <% end %>
            <% end %>
          <% else %>
            <% kind = "list-group-item-warning" %>
          <% end %>
          <%= link_to "Exercice #{j if f.online}", chapter_path(@chapter, :type => 5, :which => f.id), :class => "list-group-item #{kind} #{actif}" %>
        <% else %>
          <span class="list-group-item disabled"><%= "Exercice #{j}" %></span>
        <% end %> 
        <% j = j+1 if f.online %>
        <% i = i+1 %>
      <% end %>
    <% end %>
      
    <% if !@chapter.section.fondation && @chapter.online? && exovisibles && pasfait == 0 && @ss && !current_user.sk.admin? && !current_user.sk.chapters.exists?(@chapter.id) %>
      <% current_user.sk.chapters << @chapter %>
      <% @chapter.nb_solved = @chapter.nb_solved + 1 %>
      <% @chapter.save %>
    <% end %>
  </div>
    
  <div class="col-md-10 col-sm-9 col-xs-12">

    <!-- RESUME -->

    <% if type == 0 %>
      <%= render 'intro' %>

      <% if !exovisibles %>
        <br/><span style="color:red;">Pour pouvoir accéder aux exercices de ce chapitre et ainsi le compléter, vous devez d'abord compléter :
        <% prems = true %>
        <% @chapter.prerequisites.each do |p| %>
          <% if (!p.section.fondation && (!@ss || !current_user.sk.chapters.exists?(p.id))) %>
            <%= " - " if !prems %>
            <%= p.name %>
            <% prems = false %>
          <% end %>
        <% end %>
        </span>
      <% end %>
    <% end %>

    <!-- CHAPITRE ENTIER -->

    <% if type == 10 %>
      <%= render 'all' %>
    <% end %>

    <!-- POINTS THEORIQUES -->

    <% if type == 1 && @chapter.theories.exists?(id) %>
      <% f = Theory.find(id) %>
      <%= render 'theories/show', f: f, number: number, id: id %>
    <% end %>

    <!-- QUESTIONS -->

    <% if type == 5 && @chapter.questions.exists?(id) && exovisibles %>
      <% f = Question.find(id) %>
      <%= render 'questions/show', f: f, number: number, number2: number2, number_tot: @chapter.questions.count, id: id %>
    <% end %>

  </div>
</div>

<!-- Ajouter quelque chose -->
<div class="noprint">
  <center>
    <% if @ss && (current_user.sk.admin? || (!@chapter.online && current_user.sk.creating_chapters.exists?(@chapter))) %>
      <br/>
      Ajouter un :
      <%= link_to "point théorique", new_chapter_theory_path(@chapter) %> |
      <%= link_to "exercice", new_chapter_question_path(@chapter) %> |
      <%= link_to "QCM", new_chapter_question_path(@chapter, :qcm => 1) %>

      <% if !@chapter.online && current_user.sk.admin? %>
        <br/><br/>
        <%= button_to "Mettre ce chapitre en ligne", chapter_warning_path(@chapter), method: :get, class: 'btn btn-lg btn-default btn-grey	' %>
      <% end %>
    <% end %>
  </center>
</div>
