<%= render 'shared/error_messages', object: f.object %>

<% if @contestproblem.not_started_yet? %>
  <p class="fw-bold">Attention : les dates pour ce problème ont déjà été publiées ! Merci de ne pas les modifier sauf nécessité absolue.</p>
<% elsif @contestproblem.at_least(:in_progress) %>
  <p class="fw-bold">Attention : ce problème a déjà été publié ! Merci de ne le modifier qu'en cas de nécessité absolue.</p>
<% end %>

<!-- Enoncé -->
<div class="mb-2">
  <%= f.label :statement, :for => "MathInput", :class => "form-label" %>
  <%= render 'shared/preview' %>
  <%= render 'shared/font' %>
  <%= f.text_area :statement, :class => "form-control", :maxlength => "8000", :style => "height:200px;", :id => "MathInput" %>
  <script>initAndUpdatePreviewWhenPossible()</script>
</div>
  
<!-- Origine -->
<div class="mb-2">
  <%= f.label :origin, :class => "form-label" %> (laisser blanc si d'origine inconnue)
  <%= f.text_field :origin, :class => "form-control", :maxlength => "255", :style => "max-width:500px;", :placeholder => "Exemple : International Mathematical Olympiad 2030, Problème 1" %>
</div>

<!-- Date de début -->
<div class="mb-2">
  <%= f.label :start_time, :class => "form-label" %>
  <%= f.datetime_field :start_time, :class => "form-control", :style => "max-width:200px;", :disabled => @contestproblem.at_least(:in_progress) %>
</div>

<!-- Date de fin -->
<div class="mb-2">
  <%= f.label :end_time, :class => "form-label" %>
  <%= f.datetime_field :end_time, :class => "form-control", :style => "max-width:200px;", :disabled => @contestproblem.at_least(:in_correction) %>
</div>
