<% provide(:title, "Problème ##{ @contestproblem.number }") %>

<h1><%= title_contest(@contest, "Problème&nbsp;##{@contestproblem.number}".html_safe) %></h1>

<p class="text-center fst-italic pt-1">
  Solutions acceptées du <%= write_date_with_link(@contestproblem.start_time, @contest, @contestproblem) %> au <%= write_date_with_link(@contestproblem.end_time, @contest, @contestproblem) %> (heures belges)
</p>

<!-- Enoncé -->
<h3>Énoncé</h3>
<div class="mb-3">
  <%= htmlise(@contestproblem.statement) %>
</div>

<!-- Origine si organisateur ou root ou problème terminé -->
<% if @contest.is_organized_by_or_root(current_user) || @contestproblem.at_least(:in_correction) %>
  <p class="fst-italic">Origine du problème :
  <% if @contestproblem.origin.nil? || @contestproblem.origin.size == 0 %>
    Inconnue
  <% else %>
    <b><%= @contestproblem.origin %></b>
  <% end %>
  </p>
<% end %>

<!-- Chronomètre -->
<% if @contestproblem.in_progress? %>
  <%= render 'shared/clock', text: "Temps restant", date_limit: @contestproblem.end_time.to_i, message_zero: "Temps écoulé", classes: "mb-3" %>
<% elsif @contestproblem.at_most(:not_started_yet) && !@contest.in_construction? %>
  <%= render 'shared/clock', text: "Temps avant publication", date_limit: @contestproblem.start_time.to_i, message_zero: "En ligne", classes: "mb-3" %>
<% end %>

<% if @contest.is_organized_by_or_root(current_user) %>
  <p class="text-center">
    <%= link_to "Modifier ce problème", edit_contestproblem_path(@contestproblem) %>
    <% if @contest.in_construction? %>
      | <%= link_to "Supprimer ce problème", @contestproblem, method: :delete, data: { confirm: "Êtes-vous #{current_user.sure} de vouloir supprimer ce problème ?" } %>
    <% end %>
    <% if current_user.root? %>
      <% if @contestproblem.corrected? %>
        | <%= link_to "Autoriser nouvelles corrections", authorize_corrections_contestproblem_path(@contestproblem), :method => :put %>
      <% elsif @contestproblem.in_recorrection? %>
        | <%= link_to "Stopper nouvelles corrections", unauthorize_corrections_contestproblem_path(@contestproblem), :method => :put %>
      <% end %>
    <% end %>
  </p>
<% end %>

<% if @contestproblem.at_least(:in_correction) %>
  <!-- Les solutions -->
  <%= render 'contestsolutions/index' %>
<% end %>
