<% provide(:title, 'Modifier un problème') %>

<h1>
<span class="title-first"><%= link_to "Concours", contests_path %> ></span>
<span class="title-second"><%= link_to "Concours ##{@contest.number}", @contest %> ></span>
<span class="title-third"><%= link_to "Problème ##{@contestproblem.number}", @contestproblem %> ></span>
Modifier
</h1>

<%= form_for(@contestproblem) do |f| %>
  <%= render 'form', f: f, start_time: @contestproblem.start_time, end_time: @contestproblem.end_time, status: @contestproblem.status %>
  <%= f.submit "Modifier", class: "btn btn-lg btn-primary" %>
<% end %>
    
<script>
Preview.Init();
Preview.Update();
</script>
