<% provide(:title, "Problème ##{ @contestproblem.number }") %>

<h1><%= title_3((link_to "Concours", contests_path), (link_to "Concours ##{@contest.number}", @contest), "Problème ##{@contestproblem.number}") %></h1>

<center><i>Solutions acceptées du <%= write_date_with_link(@contestproblem.start_time, @contest, @contestproblem) %> au <%= write_date_with_link(@contestproblem.end_time, @contest, @contestproblem) %> (heures belges)</i></center>

<!-- Enoncé -->
<h3>Énoncé</h3>
<div class="mb-3">
<%= raw(htmlise(@contestproblem.statement)) %>
</div>

<!-- Origine si organisateur ou root ou problème terminé -->
<% if @contest.is_organized_by_or_root(current_user.sk) || @contestproblem.at_least(:in_correction) %>
  <p class="fst-italic">Origine du problème :
  <% if @contestproblem.origin.nil? || @contestproblem.origin.size == 0 %>
    Inconnue
  <% else %>
    <b><%= @contestproblem.origin %></b>
  <% end %>
  </p>
<% end %>

<!-- Chronomètre -->
<% if @contestproblem.in_progress? %>
  <p class="mt-4 text-center fs-4">Temps restant : <b><span id="clockbox0">--------</span></b></p>
  <%= render 'contests/clock', date_limit: @contestproblem.end_time.to_i, message_zero: "Temps écoulé", p_id: 0 %>
<% elsif @contestproblem.at_most(:not_started_yet) && !@contest.in_construction? %>
  <p class="mt-4 text-center fs-4">Temps avant publication : <b><span id="clockbox0">--------</span></b></p>
  <%= render 'contests/clock', date_limit: @contestproblem.start_time.to_i, message_zero: "En ligne", p_id: 0 %>
<% end %>

<% if @contest.is_organized_by_or_root(current_user.sk) %>
  <p class="text-center"><%= link_to "Modifier ce problème", edit_contestproblem_path(@contestproblem) %>
  <% if @contest.in_construction? %>
    | <%= link_to "Supprimer ce problème", @contestproblem, method: :delete, data: { confirm: "Êtes-vous sûr de vouloir supprimer ce problème ?" } %>
  <% end %>
  <% if current_user.sk.root? %>
    <% if @contestproblem.corrected? %>
      | <%= link_to "Autoriser nouvelles corrections", contestproblem_authorize_corrections_path(@contestproblem), :method => :put %>
    <% elsif @contestproblem.in_recorrection? %>
      | <%= link_to "Stopper nouvelles corrections", contestproblem_unauthorize_corrections_path(@contestproblem), :method => :put %>
    <% end %>
  <% end %>
  </p>
<% end %>

<!-- Les solutions -->
<%= render 'contestsolutions/index' %>

<!-- Nouvelle solution -->
<% if !@contestsolution.nil? && @contestsolution.new_record? %>
  <hr>
  <% if current_user.sk.can_write_submission? %>
    <%= render 'contestsolutions/new' %>
  <% else %>
    Pour pouvoir rédiger une solution à un problème, vous devez d'abord compléter les chapitres suivants :
    <%= render 'submissions/chapters_to_write_submission' %>
  <% end %>
<% end %>

<% if @contestproblem.in_correction? && !@contest.is_organized_by_or_root(current_user.sk) %>
  <hr><center>Ce problème est en cours de correction.</center>
<% end %>

<% if @contest.is_organized_by_or_admin(current_user.sk) %>
  <% official_sol = @contestproblem.contestsolutions.where(:official => true).first %>
  <% if @contestproblem.at_most(:not_started_yet) %>
    <hr><center>Ce problème n'est pas encore en ligne. Pour modifier sa solution, <%= link_to "cliquer ici", contestproblem_path(@contestproblem, :sol => official_sol) %>.</center>
  <% elsif @contestproblem.in_progress? %>
    <hr><center>Ce problème est en train d'être résolu par les participants. Pour modifier sa solution, <%= link_to "cliquer ici", contestproblem_path(@contestproblem, :sol => official_sol) %>.</center>
  <% end %>
<% end %>

<!-- Si on veut voir une solution -->
<% if !@contestsolution.nil? && !@contestsolution.new_record? %>
  <% if signed_in? && @contestsolution.contestproblem == @contestproblem %>
    <% if @contestsolution.user == current_user.sk || current_user.sk.root? || (@contestproblem.at_least(:corrected) && @contestsolution.score == 7) || ((@contestproblem.at_least(:in_correction) || @contestsolution.official?) && @contest.is_organized_by(current_user.sk)) %>
      <hr>
      <%= render 'contestsolutions/show', contestsolution: @contestsolution %>
    <% end %>
  <% end %>
<% end %>

<% if @contestproblem.in_progress? %>
  <% if !has_enough_points(signed_in? ? current_user.sk : nil) %>
    <hr><center>Pour pouvoir participer aux concours, il faut avoir au moins 200 points.</center>
  <% end %>
<% end %>
