<% provide(:title, "Problème ##{ @contestproblem.number }") %>

<% solution = -1 %>
<% if(params.has_key?:sol) %>
  <% solution = params[:sol].to_i %>
<% end %>

<h1><%= title_3((link_to "Concours", contests_path), (link_to "Concours ##{@contest.number}", @contest), "Problème ##{@contestproblem.number}") %></h1>

<center><i>Solutions acceptées du <%= write_date_with_link(@contestproblem.start_time, @contest, @contestproblem) %> au <%= write_date_with_link(@contestproblem.end_time, @contest, @contestproblem) %> (heures belges)</i></center>

<!-- Enoncé -->
<h3>Énoncé</h3>
<%= raw(htmlise(@contestproblem.statement)) %>

<% taille = @contestproblem.statement.size() %>
<% liste = false %>
<% if taille >= 5 %>
  <% fin = @contestproblem.statement[taille-5, taille-1] %>
  <% if fin == "</ol>" || fin == "</ul>" || fin[3,4] == "$$" %>
    <% liste = true %>
  <% end %>
<% end %>

<% if !liste %>
  <div class="mt-3"></div>
<% end %>

<!-- Origine si organisateur ou root ou problème terminé -->
<% if @contest.is_organized_by_or_root(current_user.sk) || @contestproblem.at_least(:in_correction) %>
  <p style="font-style:italic;">Origine du problème :
  <% if @contestproblem.origin.nil? || @contestproblem.origin.size == 0 %>
    Inconnue
  <% else %>
    <b><%= @contestproblem.origin %></b>
  <% end %>
  </p>
<% end %>

<!-- Chronomètre -->
<% if @contestproblem.in_progress? %>
  <%= render 'contests/clock', date_limit: @contestproblem.end_time.to_i, message_zero: "Temps écoulé", p_id: 0 %>
  <p class="mt-4" style="text-align:center; font-size:20px;">Temps restant : <b><span id="clockbox0">--------</span></b></p>
<% elsif @contestproblem.at_most(:not_started_yet) && !@contest.in_construction? %>
  <%= render 'contests/clock', date_limit: @contestproblem.start_time.to_i, message_zero: "En ligne", p_id: 0 %>
  <p class="mt-4" style="text-align:center; font-size:20px;">Temps avant publication : <b><span id="clockbox0">--------</span></b></p>
<% end %>

<% if @contest.is_organized_by_or_root(current_user.sk) %>
  <p style="text-align:center;"><%= link_to "Modifier ce problème", edit_contestproblem_path(@contestproblem) %>
  <% if @contest.in_construction? %>
    | <%= link_to "Supprimer ce problème", @contestproblem, method: :delete, data: { confirm: "Êtes-vous sûr de vouloir supprimer ce problème ?" } %>
  <% end %>
  <% if current_user.sk.root? %>
    <% if @contestproblem.corrected? %>
      | <%= link_to "Autoriser nouvelles corrections", contestproblem_authorize_corrections_path(@contestproblem), :method => :put %>
    <% elsif @contestproblem.in_recorrection? %>
      | <%= link_to "Stopper nouvelles corrections", contestproblem_unauthorize_corrections_path(@contestproblem), :method => :put %>
    <% end %>
  <% end %>
  </p>
<% end %>

<!-- Les solutions -->
<%= render 'contestsolutions/index' %>

<!-- @send_solution :
0 : cannot send a solution
1 : can send a new solution (no solution written yet)
-->

<% @send_solution = false %> 
<% @existing = nil %>
<% if @contest.is_organized_by_or_root(current_user.sk) %>
  <!-- Organisateurs -->
<% elsif @signed_in && !current_user.sk.admin? && @contestproblem.in_progress? %>
  <% @existing = @contestproblem.contestsolutions.where(:user => current_user.sk).first %>
  <% if @existing.nil? && has_enough_points %>
    <% @send_solution = true %>
  <% end %>    
<% end %>

<!-- Nouvelle solution -->
<% if @send_solution %>
  <% solution = 0 %>
  <hr>
  <% if @send_solution %>
    <%= render 'contestsolutions/new' %>
  <% end %>
<% elsif !@existing.nil? %>
  <% solution = @existing.id %>
<% end %>

<% if @contestproblem.in_correction? && !@contest.is_organized_by_or_root(current_user.sk) %>
  <hr><center>Ce problème est en cours de correction.</center>
<% end %>

<% if @contest.is_organized_by_or_admin(current_user.sk) %>
  <% official_sol = @contestproblem.contestsolutions.where(:official => true).first %>
  <% if @contestproblem.at_most(:not_started_yet) %>
    <hr><center>Ce problème n'est pas encore en ligne. Pour modifier sa solution, <%= link_to "cliquer ici", contestproblem_path(@contestproblem, :sol => official_sol) %>.</center>
  <% elsif @contestproblem.in_progress? %>
    <hr><center>Ce problème est en train d'être résolu par les participants. Pour modifier sa solution, <%= link_to "cliquer ici", contestproblem_path(@contestproblem, :sol => official_sol) %>.</center>
  <% end %>
<% end %>

<!-- Si on veut voir une solution -->
<% if solution > 0 %>
  <% @contestsolution = Contestsolution.find(solution) %>
  <% if @signed_in && !@contestsolution.nil? && @contestsolution.contestproblem == @contestproblem %>
    <% if @contestsolution.user == current_user.sk || current_user.sk.root? || (@contestproblem.at_least(:corrected) && @contestsolution.score == 7) || ((@contestproblem.at_least(:in_correction) || @contestsolution.official?) && @contest.is_organized_by(current_user.sk)) %>
      <hr>
      <%= render 'contestsolutions/show' %>
    <% end %>
  <% end %>
<% end %>

<% if @contestproblem.in_progress? %>
  <% if !has_enough_points %>
    <hr><center>Pour pouvoir participer aux concours, il faut avoir au moins 200 points.</center>
  <% end %>
<% end %>
