<script src="/assets/preview.js"></script>
<script src="/assets/tainsert.js"></script>
<%= render 'shared/error_messages', object: f.object %>

<%= f.label "Enoncé" %>
<div class="well" id="MathPreview"></div>
<div class="well" id="MathBuffer" style="visibility:hidden; position:absolute; top:0; left: 0"></div>
<a href="#ici" onClick="JavaScript: TAinsert('<b>','</b>','MathInput'); Preview.Update();"><%= image_tag "bold.jpg", :title => "Gras", :style=>"margin-left:5px;" %></a>
<a href="#ici" onClick="JavaScript: TAinsert('<i>','</i>','MathInput'); Preview.Update();"><%= image_tag "italics.jpg", :title => "Italique" %></a>
<a href="#ici" onClick="JavaScript: TAinsert('<u>','</u>','MathInput'); Preview.Update();"><%= image_tag "underlined.jpg", :title => "Souligné" %></a>
<a href="#ici" onClick="JavaScript: TAinsert('<ul>\n<li>Point 1','</li>\n<li>Point 2</li>\n</ul>','MathInput'); Preview.Update();"><%= image_tag "list.jpg", :title => "Liste", :style=>"margin-left:15px;" %></a>
<a href="#ici" onClick="JavaScript: TAinsert('<ol>\n<li>Point 1','</li>\n<li>Point 2</li>\n</ol>','MathInput'); Preview.Update();"><%= image_tag "enumerate.jpg", :title => "Liste numérotée" %></a>
<a href="#ici" onClick="JavaScript: TAinsert('<a target=\'blank\' href=\'http://www.exemple.com\'>','</a>','MathInput'); Preview.Update();"><%= image_tag "link.jpg", :title => "Lien", :style=>"margin-left:15px;" %></a>
<a href="#ici" onClick="JavaScript: TAinsert('<figure><center><img src=\'/system/pictures/0/votreImage.jpg\' width=\'600px\' />\n\n<figcaption>Légende</figcaption></center></figure>','','MathInput'); Preview.Update();"><%= image_tag "picture.jpg", :title => "Image", :style=>"margin-right:50px;" %></a>
<%= link_to "Mes images", pictures_path, :target => "_blank" %> - <%= link_to "Uploader une image", new_picture_path, :target => "_blank" %>
<%= f.text_area :statement, :class => "span12", :style => "height:200px; margin-top:5px;", :id=>"MathInput", :onkeyup => "Preview.Update()" %>

<% if @exercise.chapter.online && @exercise.online %>
  Réponse : 
  <% if @exercise.decimal %>
    <% vraidecimal = true %>
    <% if @exercise.answer - @exercise.answer.to_i <= 0.00001 && @exercise.answer.to_i - @exercise.answer <= 0.00001 %>
      <% vraidecimal = false %>
    <% end %>
    <span style="font-size:16px;"><%= @exercise.answer if vraidecimal %><%= @exercise.answer.to_i if !vraidecimal %></span> (réponse <b>décimale</b> au millième près)
  <% else %>
    <span style="font-size:16px;"><%= @exercise.answer.to_i %></span> (réponse <b>entière</b>)
  <% end %>
  <br/>
  <br/>
  Niveau de l'exercice : <%= @exercise.level %><br/>
  
<% else %>
  <%= f.label "Réponse" %>
  <%= f.text_field :answer, :class => "span2" %>
  <label class="checkbox">
  Cochez si la réponse est décimale
  <%= f.check_box(:decimal) %>
  </label>
  
  <br />
  <%= f.label "Niveau (entre 1 et 4)" %>
  <%= f.number_field :level, :class => "span1", :min => 1, :max => 4 %>
<% end %>
