<!-- Réponse -->
<% val = nil %>
<% if f.decimal %>
  On vous demande une réponse <b>décimale</b> (précise au millième près).<br/><br/>
  <% val = exo.guess %>
<% else %>
  <% val = exo.guess.to_i if !exo.guess.nil? %>
<% end %>

<% total_waiting = 180 %>
<% if !exo.nb_guess.nil? && exo.nb_guess >= 3 && DateTime.now.in_time_zone < exo.updated_at + total_waiting %>
  <% needtowait = true %>
<% else %>
  <% needtowait = false %>
<% end %>

<%= form_for(exo, :html => {:class => "form-inline"}) do |g| %>
  <%= g.hidden_field :exercise_id, value: f.id if val.nil? %>
  <%= g.label "Votre réponse : ", :class => "todisable", :disabled => !@ss || current_user.other || needtowait %>
  <%= g.text_field :guess, class: "form-control todisable", style: "width:70px; margin-left:5px;", value: val, :disabled => !@ss || current_user.other || needtowait %>
  <div class="visible-xs" style="height:7px;"></div>
  <%= g.submit "Soumettre", class: "btn btn-primary todisable", :disabled => !@ss || current_user.other || needtowait %>
<% end %>

<% if !exo.nb_guess.nil? %>
  <br/>
  <p style="color:red;">Votre réponse (<b><%= val %></b>) est erronée. Vous avez déjà commis <b><%= exo.nb_guess %></b> erreur<%= "s" if exo.nb_guess > 1 %>.</p>
  
  <p style="color:red;">À partir de la troisième erreur, vous devez attendre trois minutes avant chaque nouvelle tentative.</p>
  
  <% if needtowait %>
    <%= render 'exercises/waiting', exo: exo, total_waiting: total_waiting %>
  <% end %>
  
<% end %>
