<script type="text/javascript">
function showStuff() {
    document.getElementById("indice").style.display = 'inline';
    document.getElementById("show").style.display = 'none';
    document.getElementById("hide").style.display = 'inline';
}
function hideStuff() {
    document.getElementById("indice").style.display = 'none';
    document.getElementById("show").style.display = 'inline';
    document.getElementById("hide").style.display = 'none';
}
</script>

<!-- On vérifie que cet exercice peut bien être vu -->
<% if f.online || (@ss && current_user.sk.admin?) %>

<!-- Titre -->
<%= render 'exercises/title', f: f, number: number %>

<!-- Enoncé -->
<div>
  <%= raw(htmlise(f.statement).
  gsub(/<\/indice>[ \r]*/, '<br/><br/></span><a href="#" id="hide" style="display:none;" onclick="hideStuff(); return false;" class="btn btn-default btn-grey">Cacher l\'indice</a>').
  gsub(/<indice>/, '<a href="#" id="show" onclick="showStuff(); return false;" class="btn btn-default btn-grey">Montrer un indice</a><span id="indice" style="display:none;"><u>Indice</u> : ')) %>
</div><br/>

<!-- Si administrateur -->
<% if @ss && current_user.sk.admin? %>

  <!-- Réponse -->
  <h4>Réponse</h4>
  <% if f.decimal %>
    <% vraidecimal = true %>
    <% if f.answer - f.answer.to_i <= 0.00001 && f.answer.to_i - f.answer <= 0.00001 %>
      <% vraidecimal = false %>
    <% end %>
    <span style="font-size:16px;"><%= f.answer if vraidecimal %><%= f.answer.to_i if !vraidecimal %></span> (On demande une réponse <b>décimale</b> au millième près)
  <% else %>
    <span style="font-size:16px;"><%= f.answer.to_i %></span> (On demande une réponse <b>entière</b>)
  <% end %>
  <br/><br/>
  
  <!-- Pour les admins -->
  <%= render 'exercises/admin', f: f, type: 2, number2: number2, number_tot: liste.size + liste2.size %>

<!-- Si étudiant inscrit -->
<% elsif @ss %>

  <% exo = Solvedexercise.where(:user_id => current_user.sk.id, :exercise_id => id) %>
  
  <!-- Si il y a déjà eu au moins un essai -->
  <% if exo.size > 0 %>
    <% exo = exo.first %>
    
    <!-- Si l'exercice est déjà résolu -->
    <% if exo.correct? %>
      <p style="color:green;"><b>
      <% if exo.nb_guess-1 > 0 %>
        Vous avez résolu cet exercice après <%= exo.nb_guess-1 %> erreur<%= "s" if exo.nb_guess-1 > 1 %>.
      <% else %>
        Vous avez résolu cet exercice du premier coup!
      <% end %>
      </b><br/><br/></p>
      
      <!-- Réponse -->
      <h4>Réponse</h4>
      <% if f.decimal %>
        <% vraidecimal = true %>
        <% if f.answer - f.answer.to_i <= 0.00001 && f.answer.to_i - f.answer <= 0.00001 %>
          <% vraidecimal = false %>
        <% end %>
        <span style="font-size:16px;"><%= f.answer if vraidecimal %><%= f.answer.to_i if !vraidecimal %></span> (On demande une réponse <b>décimale</b> au millième près)
      <% else %>
        <span style="font-size:16px;"><%= f.answer.to_i %></span> (On demande une réponse <b>entière</b>)
      <% end %>
      <% if f.explanation.size > 0 %>
        <br/><br/>
        
        <!-- Explication -->
        <h4>Explication</h4>
        <%= raw(htmlise(f.explanation)) %>
      <% end %>
      <br/>
      
    <!-- Si l'étudiant s'est déjà trompé -->
    <% else %>
      <%= render 'exercises/question', f: f, exo: exo %>
    <% end %>

  <!-- Si l'étudiant n'a pas encore essayé l'exercice -->
  <% else %>
  
    <% exo = Solvedexercise.new %>
    <%= render 'exercises/question', f: f, exo: exo %>
  <% end %>

  <hr style="border-top:1px dashed lightgray;" />
  Un souci avec cet exercice ? N'hésitez pas à demander de l'aide sur le <%= link_to "forum", subjects_path(:q => @chapter.id), :target => "_blank" %> !

<!-- Si étudiant non inscrit -->
<% else %>

  <% exo = Solvedexercise.new %>
  <%= render 'exercises/question', f: f, exo: exo %>
  
  <hr style="border-top:1px dashed lightgray;" />
  <center>Pour pouvoir répondre aux exercices, vous devez être connecté.</center>
<% end %>

<% end %>
