<% provide(:title, 'Modifier un exercice') %>

<h1>
<span style="font-size:16px;">Cours ></span>
<span style="font-size:24px;"><%= link_to @exercise.chapter.section.name, @exercise.chapter.section %> ></span>
<span style="font-size:32px;"><%= link_to @exercise.chapter.name, chapter_path(@exercise.chapter, :type => 2, :which => @exercise.id) %> ></span>
Modifier un exercice
</h1>

<div class="row">
  <div class="span12">
    <%= form_for(@exercise) do |f| %>
      <%= render 'form_edit', f: f %>
      <br />
      <%= f.submit "Editer", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>

<script>
Preview.Init();
Preview.Update();
</script>
