<script type="text/javascript">
function showStuff() {
    document.getElementById("indice").style.display = 'inline';
    document.getElementById("show").style.display = 'none';
    document.getElementById("hide").style.display = 'inline';
}
function hideStuff() {
    document.getElementById("indice").style.display = 'none';
    document.getElementById("show").style.display = 'inline';
    document.getElementById("hide").style.display = 'none';
}
</script>

<% provide(:title, "Modifier l'explication d'un exercice".html_safe) %>

<h1>
<span style="font-size:16px;">Cours ></span>
<span style="font-size:24px;"><%= link_to @exercise.chapter.section.name, @exercise.chapter.section %> ></span>
<span style="font-size:32px;"><%= link_to @exercise.chapter.name, chapter_path(@exercise.chapter, :type => 2, :which => @exercise.id) %> ></span>
Modifier une explication
</h1>

<h3>Énoncé</h3>
<%= raw(@exercise.statement.gsub(/\\][ \r]*\n/,'\] ').gsub(/\$\$[ \r]*\n/,'$$ ').gsub(/<\/ol>[ \r]*\n/, '</ol>').gsub(/\n[ \r]*<\/ol>/, '</ol>').gsub(/<\/ul>[ \r]*\n/, '</ul>').gsub(/\n[ \r]*<\/ul>/, '</ul>').gsub(/\n[ \r]*<li>/, '<li>').gsub(/\n/, '<br/>').
  gsub(/<\/indice>[ \r]*/, '<br/><br/></span><a href="#" id="hide" style="display:none;" onclick="hideStuff(); return false;" class="btn btn-default btn-grey">Cacher l\'indice</a>').
  gsub(/<indice>/, '<a href="#" id="show" onclick="showStuff(); return false;" class="btn btn-default btn-grey">Montrer un indice</a><span id="indice" style="display:none;"><u>Indice</u> : ')) %>

<br/><br/>
<h3>Réponse</h3>
  <% if @exercise.decimal %>
    <% vraidecimal = true %>
    <% if @exercise.answer - @exercise.answer.to_i <= 0.00001 && @exercise.answer.to_i - @exercise.answer <= 0.00001 %>
      <% vraidecimal = false %>
    <% end %>
    <span style="font-size:16px;"><%= @exercise.answer if vraidecimal %><%= @exercise.answer.to_i if !vraidecimal %></span> (On demande une réponse <b>décimale</b> au millième près)
  <% else %>
    <span style="font-size:16px;"><%= @exercise.answer.to_i %></span> (On demande une réponse <b>entière</b>)
  <% end %>
<br/><br/>
<h3>Explication</h3>

<%= form_for(@exercise, url: exercise_update_explanation_path) do |f| %>
  <%= render 'form_explanation', f: f %>
  <%= f.submit "Modifier", class: "btn btn-lg btn-primary" %>
<% end %>

<script>
Preview.Init();
Preview.Update();
</script>
