<% provide(:title, "Modifier l'explication d'un exercice".html_safe) %>

<h1>
<span class="title-first">Théorie ></span>
<span class="title-second"><%= link_to @exercise.chapter.section.name, @exercise.chapter.section %> ></span>
<span class="title-third"><%= link_to @exercise.chapter.name, chapter_path(@exercise.chapter, :type => 2, :which => @exercise.id) %> ></span>
Explication
</h1>

<!-- Enoncé -->
<h3>Énoncé</h3>
<%= raw(replace_indice(htmlise(@exercise.statement))) %>
<br/>

<!-- Réponse -->
<h3>Réponse</h3>
  <% if @exercise.decimal %>
    <% vraidecimal = true %>
    <% if @exercise.answer - @exercise.answer.to_i <= 0.00001 && @exercise.answer.to_i - @exercise.answer <= 0.00001 %>
      <% vraidecimal = false %>
    <% end %>
    <span style="font-size:16px;"><%= @exercise.answer if vraidecimal %><%= @exercise.answer.to_i if !vraidecimal %></span> (On demande une réponse <b>décimale</b> au millième près)
  <% else %>
    <span style="font-size:16px;"><%= @exercise.answer.to_i %></span> (On demande une réponse <b>entière</b>)
  <% end %>
<br/>

<!-- Explication -->
<h3>Explication</h3>

<%= form_for(@exercise, url: exercise_update_explanation_path) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="form-group">
  <div class="well" id="MathPreview"></div>
  <div class="well hidden-preview" id="MathBuffer"></div>
  <%= render 'theories/font' %>
  <%= f.text_area :explanation, :class => "form-control", :maxlength => "8000", :style => "height:200px; margin-top:5px;", :id=>"MathInput", :onkeyup => "Preview.MyUpdate()" %>

  </div>
  <%= f.submit "Modifier", class: "btn btn-lg btn-primary" %>
<% end %>

<script>
Preview.Init();
Preview.Update();
</script>
