<% mois = ["janvier", "février", "mars", "avril", "mai", "juin", "juillet", "août", "septembre", "octobre", "novembre", "décembre"] %>

<h4>Commentaires</h4>

<% @submission.corrections.each do |correction| %>

  <table class="table table-bordered" style="margin-top:20px;">
  <% if correction.user == @submission.user %>
    <tr class="info">
  <% else %>
    <tr class="error">
  <% end %>
  <td style="font-size:20px; font-weight:bold; padding:15px; border-right:none;">
  <% if correction.user.admin %>
    <%= correction.user.name %>
  <% else %>
    <%= link_to correction.user.name, correction.user, {:style => "color:#{correction.user.level[:color]}" } %>
  <% end %>
  </td>
  <td style="text-align:right; font-size:20px; padding:15px; border-left:none;">
  <% date = correction.created_at.in_time_zone %>
  <%= date.day %> <%= mois[date.month-1] %> <%= date.year %> à <%= date.hour %>h<%= "0" if date.min < 10 %><%= date.min %>
  </td>
  </tr>

  <tr><td colspan="2" style="padding:15px;">
  <div>
  <%= raw((h correction.content.gsub(/\\][ \r]*\n/,'\] ').gsub(/\$\$[ \r]*\n/,'$$ ')).gsub(/\n/, '<br>')) %>
  <% if correction.correctionfiles.size > 0 %>
    <% if correction.correctionfiles.size == 1 %>
      <br/><br/><b>1 pièce jointe :</b><br/>
    <% else %>
      <br/><br/><b><%= correction.correctionfiles.size %> pièces jointes :</b><br/>
    <% end %>
    <% correction.correctionfiles.each do |f| %>
      <%= link_to f.file_file_name, download_correctionfile_path(f) %><br/>
    <% end %>
  <% end %>
  </div>
  </td></tr>

  </table>

<% end %>
