<% mois = ["janvier", "février", "mars", "avril", "mai", "juin", "juillet", "août", "septembre", "octobre", "novembre", "décembre"] %>

<h4>Commentaires</h4>

<% if @submission.corrections.size == 0 %>
  Aucun commentaire.<br/><br/>
<% end %>

<% @lastid = -1 %>

<% @submission.corrections.order(:created_at).each do |correction| %>

  <% @lastid = correction.id %>

  <table class="table table-bordered" style="margin-top:20px;">
  
  <!-- Cas normal -->
  <% if correction.user == @submission.user %>
    <tr class="info hidden-xs">
  <% else %>
    <tr class="danger hidden-xs">
  <% end %>
  
  <!-- Nom -->
  <td style="font-size:20px; font-weight:bold; padding:10px; padding-left:15px; border-right:none;">
  <% if correction.user.admin %>
    <%= correction.user.name %>
  <% else %>
    <%= link_to correction.user.name, correction.user, {:style => "color:#{correction.user.level[:color]}" } %>
  <% end %>
  </td>
  
  <!-- Date -->
  <td style="vertical-align:middle; text-align:right; font-size:18px; padding-right:15px; border-left:none;">
  <% date = correction.created_at.in_time_zone %>
  <%= date.day %> <%= mois[date.month-1] %> <%= date.year %> à <%= date.hour %>h<%= "0" if date.min < 10 %><%= date.min %>
  </td>
  </tr>
  
  <!-- Cas gsm -->
  
  <!-- Nom -->
  <% if correction.user == @submission.user %>
    <tr class="info visible-xs">
  <% else %>
    <tr class="danger visible-xs">
  <% end %>
  
  <td style="font-size:20px; font-weight:bold; padding:10px; padding-left:15px; border-right:none;">
  <% if correction.user.admin %>
    <%= correction.user.name %>
  <% else %>
    <%= link_to correction.user.name, correction.user, {:style => "color:#{correction.user.level[:color]}" } %>
  <% end %>
  </td>
  </tr>
  
  <!-- Date -->
  <% if correction.user == @submission.user %>
    <tr class="info visible-xs">
  <% else %>
    <tr class="danger visible-xs">
  <% end %>
  <td style="vertical-align:middle; text-align:right; font-size:18px; padding-right:15px; border-left:none;">
  <% date = correction.created_at.in_time_zone %>
  <%= date.day %> <%= mois[date.month-1] %> <%= date.year %> à <%= date.hour %>h<%= "0" if date.min < 10 %><%= date.min %>
  </td>
  </tr>
  
  <!-- Contenu du commentaire -->
  <tr><td colspan="2" style="padding:15px;">
  <div>
  <%= raw(bbcode(correction.content)) %>
  
  <!-- Pièces jointes -->
  <% if correction.correctionfiles.size + correction.fakecorrectionfiles.size > 0 %>
    <% if correction.correctionfiles.size + correction.fakecorrectionfiles.size == 1 %>
      <br/><br/><b>1 pièce jointe :</b><br/>
    <% else %>
      <br/><br/><b><%= correction.correctionfiles.size + correction.fakecorrectionfiles.size %> pièces jointes :</b><br/>
    <% end %>
    <% correction.correctionfiles.order(:id).each do |f| %>
      <%= link_to f.file_file_name, download_correctionfile_path(f) %>
      <% if current_user.sk.root? %>
       - <%= link_to 'Supprimer le contenu', correctionfile_fake_delete_path(f), data: { confirm: "Vous vous apprêtez à supprimer le contenu de cette pièce jointe. Etes-vous sûr de vouloir continuer?"}, :style => "color:red;" %>
      <% end %>
      <br/>
    <% end %>
    <% correction.fakecorrectionfiles.order(:id).each do |f| %>
      <span style="color:#0000BB;"><%= f.file_file_name %> (désactivée)</span><br/>
    <% end %>
  <% end %>
  </div>
  </td></tr>

  </table>

<% end %>
