<% corrections = @submission.corrections.paginate(page: params[:page]) %>
<h2>Commentaires (<%= "#{@submission.corrections.count}/#{corrections.count}" %>)</h2>
<%= will_paginate corrections %>
<% corrections.each do |correction| %>
  <div class="well">
    <aside>
    <p>
    <%= link_to correction.user.name, correction.user %>
    </p>
    </aside>
    <aside>
    <p>
    <%= raw((h correction.content).gsub(/\n/, '<br>')) %>
    </p>
    </aside>
  </div>
<% end %>
<%= will_paginate corrections %>
