<script src="/assets/previewsafe.js"></script>
<h3>Poster un commentaire</h3>
<%= form_for :correction, url: problem_submission_corrections_path(@problem, @submission) do |f| %>
  <div class="well" id="MathPreview"></div>
  <div class="well" id="MathBuffer" style="visibility:hidden; position:absolute; top:0; left: 0"></div>
  <%= f.text_area :content, :class => "span12", :style => "height:200px; margin-top:5px;", :id=>"MathInput", :onkeyup => "Preview.Update()" %>
  <br />
  <% if current_user.admin? %>
    <% case @submission.status %>
    <% when 1 %>
      <%= f.submit "Poster réponse", class: "btn btn-large btn-primary" %>
    <% when 3 %>
      <%= f.submit "Poster réponse et laisser la soumission fausse", class: "btn btn-large btn-danger" %>
    <% else %>
      <%= f.submit "Poster réponse et rendre la soumission fausse", class: "btn btn-large btn-danger" %>
    <% end %>
    <%= f.submit "Poster réponse et rendre la soumission correcte", class: "btn btn-large btn-success" %>
  <% else %>
    <%= f.submit "Poster réponse", class: "btn btn-large btn-primary" %>
  <% end %>
<% end %>

<script>
Preview.Init();
Preview.Update();
</script>
