<script>allowhide = false</script> <!-- This disables the "[hide][/hide]" in previewsafe -->

<h4>Poster un commentaire</h4>
<%= form_for :correction, url: problem_submission_corrections_path(@problem, @submission), :html => { :multipart => true } do |f| %>
  <div class="form-group">
    <div class="well" id="MathPreview"></div>
    <div class="well hidden-preview" id="MathBuffer"></div>
    <%= render 'subjects/smiley', hiddentext: false %>

    <% @ancientexte = session[:ancientexte] %>
    <% if @ancientexte.nil? %>
      <%= f.text_area :content, :class => "form-control", :maxlength => "8000", :style => "height:200px; margin-top:5px;", :id=>"MathInput", :onkeyup => "PreviewSafe.MyUpdate()", :disabled => (current_user.other || @unactivate > 0) %>
    <% else %>
      <%= f.text_area :content, :class => "form-control", :maxlength => "8000", :value => @ancientexte, :style => "height:200px; margin-top:5px;", :id=>"MathInput", :onkeyup => "PreviewSafe.MyUpdate()", :disabled => (current_user.other || @unactivate > 0) %>
    <% end %>
  <% session.delete(:ancientexte) %>
  </div>

  <!-- Pièces jointes -->
  <span id="spanFiles"></span>
  <input id="PJ" type="button" value="Ajouter une pièce jointe" onclick="Joint.add()" <%= 'disabled="disabled"' if current_user.other || @unactivate > 0 %>/>
  <input type="hidden" name="lastcomment" value="<%= @lastid %>">
  <br/><br/>

  <!-- Si administrateur : tous les boutons différents -->
  <% if current_user.sk != @submission.user %>
    N'hésitez pas à faire des commentaires, même minimes, pouvant permettre à l'étudiant de progresser. On signalera par exemple une erreur de notation, un oubli de cas particulier, une suggestion d'amélioration... Si une grosse partie est manquante, alors on refusera la solution en demandant de la compléter.<br/><br/>
    <% case @submission.status %>
    <% when 1 ## Faux %>
      <%= f.submit "Poster", class: "btn btn-primary", style: "margin-bottom:5px;", :disabled => current_user.other %>
      <%= f.submit "Poster et accepter la soumission", class: "btn btn-success", style: "margin-bottom:5px;", data: {confirm: "Êtes-vous sûr de vouloir accepter cette soumission ? Vous ne pourrez plus revenir en arrière."}, :disabled => current_user.other %>
    <% when 2 ## Correct %>
      <%= f.submit "Poster", class: "btn btn-primary", :disabled => current_user.other %>
    <% when 3 ## Nouveau commentaire %>
      <%= f.submit "Poster et laisser la soumission comme erronée", class: "btn btn-danger", style: "margin-bottom:5px;", :disabled => current_user.other %>
      <%= f.submit "Poster et accepter la soumission", class: "btn btn-success", style: "margin-bottom:5px;", data: {confirm: "Êtes-vous sûr de vouloir accepter cette soumission ? Vous ne pourrez plus revenir en arrière."}, :disabled => current_user.other %>
    <% else ## Pas encore corrigé %>
      <% if @submission.intest && @submission.score == -1 %>
      <div class="form-group">
      <label>Score attribué (sur 7)</label>
      <input type="number" name="score" class="form-control" style="width:70px;" min="0" max="7" />
      </div>
      
      <div class="information" style="height:auto; margin-bottom:10px;">
        <div class="content" style="padding-top:5px;">
        <h4>Marking scheme</h4>
        <% if @problem.markscheme.size > 0 %>
          <%= raw(htmlise(@problem.markscheme)) %>
        <% else %>
          <b>Pas de marking scheme disponible.</b>
        <% end %>
      </div>
      </div>
      
      Veuillez accepter ou refuser la solution indépendamment du score attribué, comme pour un problème normal. On acceptera donc essentiellement les solutions ayant obtenu un 7, mais des exceptions (dans un sens comme dans l'autre) restent possibles.<br/><br/>
      <% end %>
      <%= f.submit "Poster et refuser la soumission", id: "B1", class: "btn btn-danger", style: "margin-bottom:5px;", :disabled => (@unactivate > 0 || current_user.other) %>
      <%= f.submit "Poster et accepter la soumission", id: "B2", class: "btn btn-success", style: "margin-bottom:5px;", :disabled => (@unactivate > 0 || current_user.other), data: {confirm: "Êtes-vous sûr de vouloir accepter cette soumission ? Vous ne pourrez plus revenir en arrière."} %>
    <% end %>

  <!-- Si étudiant, simple bouton -->
  <% else %>
    <%= f.submit "Poster", class: "btn btn-primary", :disabled => current_user.other %>
  <% end %>
<% end %>

<script>
PreviewSafe.Init();
PreviewSafe.Update();
</script>
