<script type="text/javascript">
var theme_event = new CustomEvent("theme-change");

function setDarkTheme() {
  document.documentElement.setAttribute('data-bs-theme', 'dark')
  
  window.dispatchEvent(theme_event);
  
  var date = new Date();
  date.setTime(date.getTime() + (30*365*24*60*60*1000));
  var in_long_time = date.toUTCString();
  document.cookie = "dark_theme=1; Expires="  + in_long_time + "; Path=/; SameSite=Lax";
}

function setLightTheme() {
  document.documentElement.setAttribute('data-bs-theme', 'light')
  
  window.dispatchEvent(theme_event);
  
  document.cookie = 'dark_theme=0; Path=/; SameSite=Lax; Max-Age=-99999999;';  
}
</script>

<div class="noprint">
<footer id="footer" class="d-flex flex-wrap justify-content-between align-items-center pt-1 mb-3 border-top">
  <table style="width:100%;"><tr>
    <td style="width:105px; vertical-align:top;">
      <p class="mb-0">
      <%= link_to "Thème sombre", "javascript:setDarkTheme();", :class => "light-theme-only" %>
      <%= link_to "Thème clair", "javascript:setLightTheme();", :class => "dark-theme-only" %>
      </p>
    </td>
    <td style="text-align:right;">
      <ul class="nav justify-content-end">
        <li class="nav-item"><%= link_to "Confidentialité", last_privacypolicies_path %></li>
        <li class="nav-item"><%= link_to "À propos", about_path %></li>
        <li class="nav-item"><%= link_to "Contact", contact_path %></li>
      </ul>
    </td>
  </tr></table>
</footer>
</div>
