<%= favicon_link_tag '/favicon.ico' %>

<div class="noprint">

<nav class="navbar navbar-expand-lg fixed-top bg-body-tertiary">
  <div class="container">
    <!-- Lien Mathraining -->
    <%= link_to root_path, class: "navbar-brand me-4", style: "font-size:24px;", id: "Accueil" do %>
      <span class="text-color-black-white">Math</span><span class="text-color-mt-blue">raining</span>
    <% end %>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    
      <!-- Boutons en haut à gauche -->
      <form>
      
      <% if @signed_in and (current_user.sk.admin || current_user.sk.corrector) %>
        <% num_waiting_suspicions = (current_user.sk.root ? Suspicion.where(:status => :waiting_confirmation).count : 0) %>
        <% num_waiting_starproposals = (current_user.sk.root ? Starproposal.where(:status => :waiting_treatment).count : 0) %>

        <!-- Nouvelles soumissions et nouveaux commentaires -->

        <% num_notifications_new12 = current_user.sk.num_notifications_new([1, 2]) %>
        <% num_notifications_new345 = current_user.sk.num_notifications_new([3, 4, 5]) %>
        <% num_notifications_update = current_user.sk.num_notifications_update %>
        <% if num_notifications_new12 > 0 %>
          <%= link_to "#{num_notifications_new12}", allnewsub_path(:levels => 3), class: "btn btn-success" %>
        <% else %>
          <%= link_to "0", allnewsub_path(:levels => 3), class: "btn btn-ld-light-dark-er" %>
        <% end %>
        <% if num_notifications_new345 > 0 %>
          <%= link_to "#{num_notifications_new345}", allnewsub_path(:levels => 28), class: "btn btn-danger" %>
        <% else %>
          <%= link_to "0", allnewsub_path(:levels => 28), class: "btn btn-ld-light-dark-er" %>
        <% end %>
        <% if num_notifications_update > 0 %>
          <%= link_to "#{num_notifications_update}", allmynewsub_path, class: "btn btn-warning" %>
        <% else %>
          <%= link_to "0", allmynewsub_path, class: "btn btn-ld-light-dark-er" %>
        <% end %>

        <!-- Nouvelles propositions d'étoiles (pour les root) -->
        <% if current_user.sk.root? && num_waiting_starproposals > 0 %>
          <%= link_to "#{num_waiting_starproposals}", starproposals_path, class: "btn btn-yellow" %>
        <% end %>
        
        <!-- Nouvelles suspicions de plagiat (pour les root) -->
        <% if current_user.sk.root? && num_waiting_suspicions > 0 %>
          <%= link_to "#{num_waiting_suspicions}", suspicions_path, class: "btn btn-info" %>
        <% end %>
      <% end %>
      
      <!-- Corrections (pour les étudiants non-correcteurs) -->
      <% if @signed_in && !current_user.sk.admin? %>
        <% noti = current_user.sk.notifs.count %>
        <% if noti != 0 %>
          <%= link_to "#{noti}", notifs_show_path, class: "btn btn-info #{ 'ms-2' if current_user.sk.corrector? }" %>
        <% end %>
      <% end %>
      
      </form>


      <ul class="navbar-nav ms-auto navbar-nav-scroll pe-3 pe-lg-0" style="--bs-scroll-height: 350px;">
        
        <% sections = Section.all.order(:id).to_a %>

        <!-- Cours -->
        <li class="nav-item dropdown me-1">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
            Théorie
          </a>
          <ul class="dropdown-menu">
            <% sections.each do |f| %>
              <% if f.fondation %>
                <li><%= link_to f.name, f, :class => "dropdown-item" %></li>
              <% end %>
            <% end %>
            <li class="dropdown-divider"></li>
            <% sections.each do |f| %>
              <% if !f.fondation %>
                <li><%= link_to f.name, f, :class => "dropdown-item" %></li>
              <% end %>
            <% end %>
            <% if @signed_in && current_user.sk.admin? %>
            <li class="dropdown-divider"></li>
            <li><%= link_to "Modifier la structure", graph_prerequisites_path, :class => "dropdown-item" %></li>
            <% end %>
          </ul>
        </li>

        <!-- Problèmes -->
        <li class="nav-item dropdown me-1">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
            Problèmes
          </a>
          <ul class="dropdown-menu">
            <% sections.each do |f| %>
              <% if !f.fondation %>
                <li><%= link_to f.name, pb_sections_path(f), :class => "dropdown-item" %></li>
              <% end %>
            <% end %>
            <li class="dropdown-divider"></li>
            <li><%= link_to "Tests virtuels", virtualtests_path, :class => "dropdown-item" %></li>
            <li><%= link_to "Concours", contests_path, :class => "dropdown-item" %></li>
          </ul>
        </li>

        <!-- Forum -->
        <% if @signed_in %>
          <% num_unseen_subjects = current_user.sk.num_unseen_subjects(false) %>
          
          <li class="nav-item me-1">
          <%= link_to subjects_path, :class => "nav-link #{'fw-bold' if num_unseen_subjects > 0 }" do %>
            Forum
            <% if num_unseen_subjects > 0 %>
              (<%= num_unseen_subjects %>)
            <% end %>
          <% end %>
          </li>
        <% end %>

        <!-- Statistiques -->
        <li class="nav-item dropdown me-1">
        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
          Statistiques
        </a>
        <ul class="dropdown-menu">
          <li><%= link_to "Scores", users_path, :class => "dropdown-item" %></li>
          <li><%= link_to "Résolutions récentes", solvedproblems_path, :class => "dropdown-item" %></li>
          <li><%= link_to "Corrections", correctors_path, :class => "dropdown-item" %></li>
          <li><%= link_to "Difficulté des chapitres", chapterstats_path, :class => "dropdown-item" %></li>
          <li><%= link_to "Statistiques diverses", stats_path, :class => "dropdown-item" %></li>
        </ul>
        </li>

        <!-- Menu déroulant -->

        <!-- Si connecté -->

        <% if @signed_in %>

          <% nonlu = current_user.sk.links.where("nonread != 0").count %>

          <li class="nav-item dropdown">

          <!-- Nom -->
          <a class="nav-link dropdown-toggle fw-bold" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
            <%= "[" if current_user.other %><%= raw(current_user.sk.colored_name(1)) %><%= ' (' + nonlu.to_s + ')' if nonlu > 0 %><%= "]" if current_user.other %>
          </a>

          <ul class="dropdown-menu dropdown-menu-end">
            <% if current_user.other %>
              <li><%= link_to "Sortir de ce corps", user_leave_skin_path(current_user), :method => :put, :class => "dropdown-item" %></li>
            <% end %>
            <li><%= link_to "Profil", current_user.sk, :class => "dropdown-item" %></li>
            <li><%= link_to "Compte", edit_user_path(current_user.sk), :class => "dropdown-item" %></li>
            <% if @signed_in && (current_user.sk.admin || current_user.sk.group != "") %>
              <li><%= link_to "Groupes Wépion", groups_path, :class => "dropdown-item" %></li>
            <% end %>
            <li><%= link_to "Messages#{' (' + nonlu.to_s + ')' if nonlu > 0 }", new_discussion_path, :class => "dropdown-item" %></li>
            <% if current_user.sk.root? %>
              <li class="dropdown-divider"></li>
              <li><%= link_to "Pièces jointes", myfiles_path, :class => "dropdown-item" %></li>
              <% num_users_to_validate = User.where(:valid_name => false, :email_confirm => true, :admin => false).count %>
              <li><%= link_to "Valider #{num_users_to_validate} noms", validate_names_path, :class => "dropdown-item" %></li>
            <% end %>
            <li class="dropdown-divider"></li>
            <li>
            <%= link_to "Déconnexion", signout_path, method: "delete", :class => "dropdown-item" %>
            </li>
          </ul>
          </li>

        <!-- Si pas connecté -->
        <% else %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">Connexion</a>

            <!-- Formulaire pour se connecter -->
            <ul class="dropdown-menu dropdown-menu-end">
              <li class="p-3 pb-1">
              <%= form_for(:session, url: sessions_path(redirection: request.original_fullpath)) do |f| %>
                <%= f.email_field :email, :placeholder => "Adresse e-mail", :class => "form-control", :style => "width:210px;", :id => "header_connect_email" %>

                <%= f.password_field :password, :placeholder => "Mot de passe", :class => "form-control mt-2 mb-1", :style => " width:210px;", :id => "header_connect_password" %>

                <div class="form-check mt-2 mb-0">
                  <label class="form-check-label">
                    <%= f.check_box :remember_me, :id => "header_connect_remember", :class => "form-check-input" %>
                    Garder ma session active
                  </label>
                </div>

                <%= f.submit "Connexion", class: "btn btn-primary mt-2 mb-2", style: "width:210px;", id: "header_connect_button" %>
              <% end %>
              <%= link_to "J'ai oublié mon mot de passe", forgot_password_path %>
              </li>

              <li class="dropdown-divider"></li>
              <li><%= link_to "S'inscrire", signup_path, :class => "dropdown-item" %></li>
            </ul>
          </li>
        <% end %>

      </ul>

    </div> <!-- collapse -->
  </div> <!-- container -->
</nav>

</div>

