<header class="navbar navbar-fixed-top">
<!--<header class="navbar navbar-fixed-top navbar-inverse">-->
<!-- navbar-inverse make it black -->
<div class="navbar-inner">
  <div class="container">

    <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
    <button class="btn btn-navbar"
      data-toggle="collapse" data-target=".nav-collapse" type="button">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    <!-- Everything within here will be hidden at 940px or less -->
    <!-- Adding collapse class to nav make it open by default -->
    <%= link_to "OMB training", root_path, class: "brand" %>
    <nav class="nav-collapse">
    <ul class="nav pull-left">
      <% if signed_in? and current_user.admin? %>
        <% notifications_new = current_user.notifications_new.count %>
        <% notifications_update = current_user.notifications_update.count %>
        <% if notifications_new != 0 %>
          <%= link_to "#{notifications_new}", notifications_new_path, class: "btn btn-danger" %>
        <% else %>
          <%= link_to "0", notifications_new_path, class: "btn btn" %>
        <% end %>
        <% if notifications_update != 0 %>
          <%= link_to "#{notifications_update}", notifications_update_path, class: "btn btn-warning" %>
        <% else %>
          <%= link_to "0", notifications_update_path, class: "btn btn" %>
        <% end %>
      <% end %>
      <% if signed_in? && !current_user.admin? %>
        <% noti = current_user.notifs.count %>
        <% if noti != 0 %>
          <%= link_to "#{noti}", notifs_show_path, class: "btn btn-success" %>
        <% end %>
      <% end %>
    </ul>
    <ul class="nav pull-right">
      <li><%= link_to "Accueil",    root_path %></li>
      <% if signed_in? %>
        <% if current_user.admin? %>
        <li><%= link_to "Discussions", subjects_path %></li>	
        <% end %>
        <li><%= link_to "Aide", help_path %></li>
        <li><%= link_to "Cours", sections_path %></li>
        <li><%= link_to "Utilisateurs", users_path %></li>
        <li id="fat-menu" class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <%= current_user.name %> <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li><%= link_to "Profil", current_user %></li>
          <li><%= link_to "Compte", edit_user_path(current_user) %></li>
          <li class="divider"></li>
          <li>
          <%= link_to "Déconnexion", signout_path, method: "delete" %>
          </li>
        </ul>
        </li>
      <% else %>
        <li><%= link_to "Connexion", signin_path %></li>
      <% end %>
    </ul>
    </nav>
  </div>
</div>
</header>
