<%= favicon_link_tag '/favicon.ico' %>

<div class="noprint">

<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <!-- Lien Mathraining -->
      <%= link_to root_path, class: "navbar-brand", style: "font-size:24px;", id: "Accueil" do %>
        <span style="color:black;">Math</span><span style="color:rgb(3,109,170);">raining</span>
      <% end %>
    </div>

    <div class="navbar-collapse collapse">

      <!-- Dans le cas normal -->
      <% if @ss and (current_user.sk.admin || current_user.sk.corrector) %>
        <form class="navbar-form navbar-left hidden-xs hidden-sm" role="search">

        <!-- Nouvelles soumissions -->

        <% notifications_new = current_user.sk.notifications_new.count %>
        <% notifications_update = current_user.sk.notifications_update.count %>
        <% if notifications_new > 0 %>
          <%= link_to "#{notifications_new}", notifications_new_path, class: "btn btn-danger" %>
        <% else %>
          <%= link_to "0", notifications_new_path, class: "btn btn-default btn-grey" %>
        <% end %>
        <% if notifications_update != 0 %>
          <%= link_to "#{notifications_update}", notifications_update_path, class: "btn btn-warning" %>
        <% else %>
          <%= link_to "0", notifications_update_path, class: "btn btn-default btn-grey" %>
        <% end %>

        <!-- Pièces jointes -->
        <% if current_user.sk.root? %>
          <% total = 0 %>
          <% Myfile.all.to_a.each do |f| %>
            <% total = total + f.file_file_size %>
          <% end %>

          <% if total < 1000000 %>
            <%= link_to (total/1000.0).round(1).to_s + " ko", pieces_jointes_path, class: "btn btn-default btn-grey", style: "margin-left:25px;" %>
          <% else %>
            <%= link_to (total/1000000.0).round(2).to_s + " Mo", pieces_jointes_path, class: "btn btn-default btn-grey", style: "margin-left:25px;" %>
          <% end %>
        <% end %>
        </form>
      <% end %>

      <!-- Corrections (pour les étudiants) -->
      <% if @ss && !current_user.sk.admin? %>
        <% noti = current_user.sk.notifs.count %>
        <% if noti != 0 %>
          <form class="navbar-form navbar-left" role="search">
          <%= link_to "#{noti}", notifs_show_path, class: "btn btn-info", style:"margin-left:10px;" %>
          </form>
        <% end %>
      <% end %>

      <ul class="nav navbar-nav navbar-right">

      <% if @ss and current_user.sk.admin? %>

        <!-- Dans le cas gsm -->
        <li id="fat-menu" class="dropdown visible-xs visible-sm">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          +++
        </a>
        <ul class="dropdown-menu">

          <!-- Nouvelles soumissions -->
          <li style="text-align:center; padding:5px;">
          <form class="form-inline" role="search">
          <% notifications_new = current_user.sk.notifications_new.count %>
          <% notifications_update = current_user.sk.notifications_update.count %>
          <% if notifications_new != 0 %>
            <%= link_to "#{notifications_new}", notifications_new_path, class: "btn btn-danger" %>
          <% else %>
            <%= link_to "0", notifications_new_path, class: "btn btn-default btn-grey" %>
          <% end %>
          <% if notifications_update != 0 %>
            <%= link_to "#{notifications_update}", notifications_update_path, class: "btn btn-warning" %>
          <% else %>
            <%= link_to "0", notifications_update_path, class: "btn btn-default btn-grey" %>
          <% end %>
          </form>
          </li>

          <!-- Pièces jointes -->
          <li style="text-align:center; padding:5px;">
          <form class="form-inline" role="search">
          <% if current_user.sk.root? %>
            <% total = 0 %>
            <% Myfile.all.to_a.each do |f| %>
              <% total = total + f.file_file_size %>
            <% end %>

            <% if total < 1000000 %>
              <%= link_to (total/1000.0).round(1).to_s + " ko", pieces_jointes_path, class: "btn btn-default btn-grey" %>
            <% else %>
              <%= link_to (total/1000000.0).round(2).to_s + " Mo", pieces_jointes_path, class: "btn btn-default btn-grey" %>
            <% end %>
          <% end %>
          </form>
          </li>

        </ul>
        </li>
      <% end %>

      <!-- Cours -->
      <li id="fat-menu" class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Théorie <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <% Section.all.to_a.each do |f| %>
            <% if f.fondation %>
              <li><%= link_to f.name, f %></li>
            <% end %>
          <% end %>
          <li class="divider"></li>
          <% Section.order(:id).to_a.each do |f| %>
            <% if !f.fondation %>
              <li><%= link_to f.name, f %></li>
            <% end %>
          <% end %>
          <% if @ss && current_user.sk.admin? %>
          <li class="divider"></li>
          <li><%= link_to "Modifier la structure", graph_prerequisites_path %></li>
          <% end %>
        </ul>
      </li>

      <!-- Problèmes -->
      <% if @ss %>
        <li id="fat-menu" class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Problèmes <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <% Section.order(:id).to_a.each do |f| %>
              <% if !f.fondation %>
                <li><%= link_to f.name, pb_sections_path(f) %></li>
              <% end %>
            <% end %>
            <li class="divider"></li>

            <li><%= link_to "Tests virtuels", virtualtests_path %></li>
          </ul>
        </li>
      <% end %>

      <!-- Forum -->
      <% if @ss %>
        <% combien_nouveau = current_user.sk.combien_forum %>
      <% end %>

      <% if @ss && current_user.sk.combien_forum == 0%>
        <li><%= link_to "Forum", subjects_path %></li>
      <% elsif @ss %>
        <li style="font-weight:bold;"><%= link_to "Forum (#{combien_nouveau})", subjects_path %></li>
      <% end %>

      <!-- Statistiques -->
      <li id="fat-menu" class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        Statistiques <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        <li><%= link_to "Scores", users_path %></li>
        <li><%= link_to "Résolutions récentes", solvedproblems_path %></li>
        <li><%= link_to "Correcteurs", correctors_path %></li>
        <% if @ss && (current_user.sk.admin || current_user.sk.group != "") %>
          <li><%= link_to "Groupes Wépion", groups_path %></li>
        <% end %>
        <li><%= link_to "Fréquentation du site", frequentation_path %></li>
      </ul>
      </li>

      <!-- Menu déroulant -->

      <!-- Si connecté -->

      <% if @ss %>

        <% nonlu = current_user.sk.links.where("nonread != 0").count %>
        <% if nonlu == 0 %>
          <li><%= link_to "Messages", new_discussion_path %></li>
        <% else %>
          <li style="font-weight:bold;"><%= link_to "Messages (#{nonlu})", new_discussion_path %></li>
        <% end %>

        <li id="fat-menu" class="dropdown">

        <!-- Nom -->
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <% if current_user.other %>
            [<%= raw(current_user.sk.colored_name(true)) %>]
          <% else %>
            <%= raw(current_user.sk.colored_name(true)) %>
          <% end %>
          <b class="caret"></b>
        </a>

        <ul class="dropdown-menu">
          <% if current_user.other %>
            <li><%= link_to "Sortir de ce corps", user_leave_skin_path(current_user) %></li>
          <% end %>
          <% if !current_user.sk.admin? %>
            <li><%= link_to "Profil", current_user.sk %></li>
          <% end %>
          <li><%= link_to "Compte", edit_user_path(current_user.sk) %></li>
          <li class="divider"></li>
          <li>
          <%= link_to "Déconnexion", signout_path, method: "delete" %>
          </li>
        </ul>
        </li>

      <!-- Si pas connecté -->
      <% else %>
        <li class="dropdown">
          <a class="dropdown-toggle" href="#" data-toggle="dropdown">Connexion</a>

          <!-- Formulaire pour se connecter -->
          <ul class="dropdown-menu">
            <li style="padding:15px; padding-bottom:5px; padding-top:10px;">
            <%= form_for(:session, url: sessions_path) do |f| %>
			        <%= f.email_field :email, :placeholder => "Email", :class => "form-control", :style => "width:200px;", :id => "tf1" %>

		          <%= f.password_field :password, :placeholder => "Mot de passe", :class => "form-control", :style => "margin-top:10px; width:200px;", :id => "tf2" %>

              <label class="checkbox-inline" style="margin-top:10px;">
                <%= f.check_box :remember_me %>
                Garder ma session active
              </label><br/>

			        <%= f.submit "Connexion", class: "btn btn-default btn-primary", style: "width:200px; margin-top:10px; margin-bottom:15px;" %>
			        <br/>
              <%= link_to "J'ai oublié mon mot de passe", forgot_password_path %>
		        <% end %>
		        </li>
		        <li class="divider"></li>
		        <li><%= link_to "S'inscrire", signup_path %></li>
          </ul>
        </li>
      <% end %>

      </ul>

    </div> <!--/.nav-collapse -->
  </div> <!-- container -->
</div> <!-- navigation -->

</div>

