<!DOCTYPE html>
<html>
  <head>

  <style type="text/css">
  div.evidence {
    border: 1px dashed black;
    padding:7px;
    background-color: #F0FFFF;
    }
  </style>

  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
     tex2jax: {
       inlineMath: [ ['$','$'] ],
       processEscapes: true
     },
     "HTML-CSS": {
      mtextFontInherit: true
     }
    })
    </script>
  <script type="text/javascript"
  src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= yield :javascript_includes %>
    <%= csrf_meta_tags %>
	<%= render 'layouts/shim' %>

	<% # mathjax_tag %>
    <%= auto_discovery_link_tag :atom, "/feed" %>
    <%= auto_discovery_link_tag :rss, "/feed.rss" %>
  </head>
  <body>
	  <%= render 'layouts/header' %>
	  <div class="container">
        <% flash.each do |key, value| %>
          <%= content_tag(:div, value, class: "alert alert-#{key}", style: "padding:10px; margin-top:20px;") %>
        <% end %>
        <%= yield %>
        <%= render 'layouts/footer' %>
        <%= debug(params) if Rails.env.development? %>
	  </div>
  </body>
</html>
