<!DOCTYPE html>
<% @mt_theme = (cookies.has_key?(:dark_theme) ? 'dark' : 'light') %>
<html data-bs-theme="<%= @mt_theme %>">
  <head>
    <%= render 'layouts/google_analytics' %>
    
    <%= render 'layouts/mathjax' %>
    
    <title><%= full_title(yield(:title)) %></title>
    
    <script type="application/ld+json">
      {
        "@context" : "https://schema.org",
        "@type" : "WebSite",
        "name" : "Mathraining",
        "url" : "https://www.mathraining.be/"
      }
    </script>

    <%= render 'layouts/apple_icons' %>
    
    <%= stylesheet_link_tag 'application', :media => 'screen, projection' %>
    <%= stylesheet_link_tag 'application-print', :media => 'print' %>
    
    <%= csrf_meta_tags %>
    
    <!-- For Google Search Console -->
    <meta name="google-site-verification" content="hxNpvWtQioPx3-dn2C2-oTX1RVEvfkwXZrKrUz5FIIw" />
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    
    <%= javascript_importmap_tags %>
    
    <%= render 'layouts/custom_js' %>
  </head>
  
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <% flash.each do |key, value| %>
        <!-- NB: We should check if we can remove the 'raw' below -->
        <div class="alert alert-<%= key %> py-2 mt-1 mb-2"><%= raw(value) %></div>
      <% end %>
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
    
    <% if defined? @benchmark_start_time %>
      <div class="mb-3 text-center">Temps total de chargement : <b><%= ((Time.now.to_f - @benchmark_start_time.to_f) * 1000).round(1) %> ms</b></div>
    <% end %>
  </body>
</html>
